[2021-06-14 17:23] LochanRn opened #1441 "AzuremanagedControlPlane stuck while deletion when using non capz managed RGs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a CAPZ managed AKS with an existing resourceGroup.
Resources in azure were deleted successfully but the AMCP was stuck and so AMC and cluster were also not deleted.

**What did you expect to happen:**
During deletion all the objects to be deleted which were used to create an AKS

[2021-06-14 17:47] CecileRobertMichon opened #1443 "Enforce comments on the codebase"
Enable linters for enforcing adding a comment to exported methods.

Relevant cluster-api PRs:
kubernetes-sigs/cluster-api#4631
kubernetes-sigs/cluster-api#4669

/milestone Next
/priority backlog
/good-first-issue
/help

[2021-06-14 18:42] alexeldeib commented on #611
this should be unblocked thanks to @shysank's upstream work, at least using v0.4.0-beta.0 or later of CAPI 🎉

[2021-06-14 18:44] CecileRobertMichon commented on #611
@shysank is actually working on this in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1386

[2021-06-14 21:40] #1441 closed

[2021-06-14 22:28] jsturtevant commented on #1370
We are still seeing this error. Some more logs on where this is happening:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-conformance-1-21/1404544474662572032
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-conformance-master/1404456323445166080

[code]

[2021-06-15 00:55] nader-ziada opened #1447 "Make the default image used by capz based on ubuntu 20.04"
/kind feature

**Describe the solution you'd like**
Currently the default image used by capz when no user image is supplied is based on `ubuntu 18.04` which is getting old and doesn't have all the patches back-ported to it. This default image is also used by e2e tests.
Should publish and use `20.04` images

The images published as of the time this issue is created are the following:
[code]

**Anyt

[2021-06-15 14:39] nader-ziada opened #1448 "DNS issues when using AzureIdentity"
/kind bug

**What steps did you take and what happened:**
- Created a management cluster running on Azure
- Tried to create a `private cluster` in the same vnet as the management cluster
- If the private cluster is using an `AzureClusterIdentity`, the nmi pod gives the following error
[code]
- Creation of the private cluster fails

**What did you expect to happen:**
- Expected the private cluster

[2021-06-15 19:15] alexeldeib commented on #826
/remove-lifecycle stale
/lifecycle frozen

still interested in this, but it's not super critical for the AzureMangedCluster/AzureManagedControlPlane functionality. I probably will have a small spike on some of the gritty details here, and then would need a lot of incremental refactoring to make the reconcilers/scopes work as expected.

[2021-06-15 19:18] alexeldeib commented on #611
/assign @shysank

We can definitely add more configurations on top of the work in #1386, but marking as assigned since I feel that's enough to close the general issue for adding e2e. Let's open specific issues for desired testing scenarios after that gets merged.

[2021-06-15 20:42] CecileRobertMichon commented on #1399
@devigned looks like #1332 regressed this, maybe some via rebase or a new a test that was added without the fix?

[2021-06-15 20:43] CecileRobertMichon commented on #1399
The errors are:

[code]

[2021-06-15 20:53] CecileRobertMichon commented on #1399
#1451 should fix it

[2021-06-16 06:16] alexeldeib opened #1454 "e2e deletion validation for managedclusters"
/kind feature

**Describe the solution you'd like**
an e2e to validate/prevent regression for https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1441 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1395 building on the work in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1386

**Anything else you would like to add:**
Note that those

[2021-06-16 06:16] alexeldeib commented on #1454
/area managedclusters

[2021-06-16 06:19] alexeldeib opened #1455 "e2e workload validation for managedclusters"
/kind feature
/area managedclusters

**Describe the solution you'd like**
add workload validation e2e building on the work in #1386

**Anything else you would like to add:**
nothing crazy, something comparable to existing capz clusters. mostly sanity testing.

[2021-06-16 06:20] alexeldeib commented on #1455
alternatively/in addition: validation of the AKS ARM resource vs. the CRD?

[2021-06-16 10:23] invidian commented on #1238
/remove-lifecycle stale

[2021-06-16 13:00] #1399 closed

[2021-06-16 18:40] CecileRobertMichon opened #1456 "[docs/UX] should we reduce the number of flavors"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The number of "flavors" in templates/ has grown exponentially as new features were added during the v1alpha4 dev cycle. Each flavor doesn't represent a best practices cluster spec or even a complete cluster, but rather the default working cluster with some modifications to turn on the

[2021-06-16 18:42] devigned commented on #1456
What if we decomposed all of the resources used to make the flavors, published all the decomposed resources / patches and wrote docs about how to compose those resources to create their own flavors?

[2021-06-16 18:46] CecileRobertMichon commented on #1456
I feel like the decomposed resources (or at least the patches to enable a specific feature) are already published in https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/templates/flavors. Maybe we can add more docs on composing them to create your own flavor in [readme](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/flavors/README.md) + in

[2021-06-16 18:47] CecileRobertMichon commented on #1456
[@nader-ziada on slack] I agree there are too many and I would assume most users would need some combination

[2021-06-16 18:47] CecileRobertMichon commented on #1456
[@alexeldeib on slack] I agree it’s a lot but I like that we have so many full examples. We also do a decent job of using patches to generate the full manifests, so what David mentioned on GH is kind of a thing already if you go look at the source

[2021-06-16 18:49] devigned commented on #1456
I was thinking more like including them in the release artifacts so they would be more easily used / linked.

[2021-06-16 18:49] nader-ziada commented on #1456
how about something along the following
- move the test templates to the test folder similar to how CAPD does (and PR #1423)
- keep a basic template and the patches in the templates folder
- document how users can generate their own combinations using the patch files and kustomize

[2021-06-16 18:51] alexeldeib commented on #1456
I think this intersects with Nader's slack comment -- I like the number of examples, mostly because it's easy for a user to get something that just works (even if the selection itself is confusing). Something more "guided" // simpler in terms of helping the user choose might be nice? which is what a cli makes me think of.

[2021-06-16 18:53] CecileRobertMichon commented on #1456
maybe we need better integration with https://github.com/Azure/azure-capi-cli-extension :) cc @mboersma

[2021-06-16 18:59] devigned commented on #165
/close

Fixed via #1300

[2021-06-16 21:41] mboersma commented on #1447
👍🏻 I think so, 2018 was like a thousand years ago. We could have a few releases where we publish both 18.04 and 20.04, then maybe drop 18.04 to simplify things?

[2021-06-16 21:44] nader-ziada commented on #1447
+1 to publishing both then eventually switching

[2021-06-16 21:51] mboersma commented on #1443
It seems that `golint` in our configuration is already catching missing comments.

I see they are enabling some default excludes in CAPI, but AFAICT that's not necessary in CAPZ. I picked a random comment, deleted it, and ran `make lint`:

[code]

[2021-06-17 01:32] #1153 closed

[2021-06-17 05:28] whites11 commented on #165
Wait. This issue discussed 3 strategies for implementing bastion access to workload clusters. I implemented only one in #1300. I'm working on the second one, should we keep tracking it in this issue?

[2021-06-17 07:53] fiunchinho opened #1458 "Stop using v1beta1 CRD's by upgrading aad-pod-identity to 1.8.0"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We have the `aad-pod-identity` CRDs copied in the [CAPZ repository](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/config/default/aad-pod-identity-deployment.yaml). These are `apiextensions.k8s.io/v1beta1` CRDs. But
`aad-pod-identity` v1.8.0 has been released

[2021-06-17 12:30] nader-ziada commented on #611
/close

fixed with e2e added as part of #1386 🚀

[2021-06-17 12:30] #611 closed

[2021-06-17 12:32] nader-ziada commented on #1448
The dns issue in the nmi pod when using Azure identity is expected to be resolved when calico v3.20.x is out in the next few weeks. Tested with a nightly build from main brach of calico and issues seems resolved.

[2021-06-17 14:19] devigned commented on #165
/reopen

@whites11, you are right. I was a little too quick to close.

[2021-06-17 14:59] nader-ziada commented on #1458
this is coming in PR #1360

[2021-06-17 14:59] nader-ziada commented on #1458
/assign

[2021-06-17 20:14] #966 closed

[2021-06-18 15:03] LochanRn commented on #1376
If the webhook cannot list and figure out if it is a the last system node pool, may be shift the logic in azuremanagedmachinepool_reconciler and make the check there while deletion and prevent it from happening.

[2021-06-18 15:50] dtzar commented on #1243
@alexeldeib are any of these gaps on the planned backlog?

[2021-06-18 16:46] #1434 closed

[2021-06-19 09:06] alexeldeib commented on #825
The main reason for this is to enable https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/826, which I haven't worked on much recently. I'm poking at those parts again but I don't have an explicit timeline for that.

I think right now https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1418 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1

[2021-06-19 09:14] alexeldeib commented on #1243
#1418 and #1376 are the top issues for managed clusters and both in progress. I think we should resolve those before much more feature work. #1396 is also pretty straightforward and should be a reasonable follow up shortly after.

With those done, I'd want to flesh out the model we map to the AKS API, addressing some of the issues here. @LochanRn is already working towards AAD support (https://git

[2021-06-21 18:02] #819 closed

[2021-06-21 20:30] #1337 closed

[2021-06-21 23:38] sedefsavas opened #1462 "Missing MaxSurge in KCP scale-in e2e test"
`Spec.RolloutStrategy.RollingUpdate.MaxSurge` should be set to 0 for testing scale-in rollout. See https://github.com/kubernetes-sigs/cluster-api/pull/4347/

Looks like it is not set here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/data/infrastructure-azure/cluster-template-kcp-scale-in.yaml

[2021-06-22 14:02] whites11 opened #1463 "Support for Shared Image Gallery images requiring a `Plan`."
/kind feature

**Describe the solution you'd like**

I am trying to run a CAPZ cluster on [`Flatcar Container Linux`](https://kinvolk.io/flatcar-container-linux/) by Kinvolk

Preamble: when running VMs with that image on Azure (I'm talking about a plain VM now, no CAPZ involved) it is required to set the `Plan` field in the VM spec or the VM creation fails with the following error:

[code]

So I m

[2021-06-22 15:14] devigned commented on #1462
The link above for `cluster-template-kcp-scale-in.yaml` is 404 for me. However, I do see that https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/f3ecc734ea7b1c216cf46659baff191dccb10e6e/test/e2e/data/infrastructure-azure/v1alpha4/cluster-template-kcp-scale-in/cluster-with-kcp.yaml#L8 was updated recently with https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1423.

[2021-06-22 15:43] nader-ziada commented on #1462
#1423 just got merged and should fix it

[2021-06-22 15:47] Ankitasw commented on #1134
/assign

[2021-06-22 15:51] sedefsavas commented on #1462
yes, #1423 solved the issue.

[2021-06-22 15:51] #1462 closed

[2021-06-22 15:52] nader-ziada commented on #1462
thanks @sedefsavas

[2021-06-22 17:17] nader-ziada commented on #1427
I think this is fixed, right @devigned?

[2021-06-22 17:20] devigned commented on #1427
/close

Yes. Good find, @nader-ziada. Thank you!

[2021-06-22 17:21] #1427 closed

[2021-06-22 19:26] shysank commented on #1134
@CecileRobertMichon @pierluigilenoci what's the expectation here? We already [allow](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/f3ecc734ea7b1c216cf46659baff191dccb10e6e/api/v1alpha4/azuremachine_validation.go#L242) ultra ssd for data disks. Do we want to implement the [ga limitations](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-types#ga-scope-and-limitatio

[2021-06-22 19:51] CecileRobertMichon commented on #1134
@shysank in order to enable ultra ssd you also need VM properties to have `AdditionalCapabilities.UltraSSDEnabled`. I don't believe we're setting that now.

[2021-06-22 21:00] shysank commented on #1134
oh, Thank you! Never would have found that :) Just to confirm on the scope:
- Set `AdditionalCapabilities.UltraSSDEnabled` in virtualmachines.go => compute.VirtualMachineProperties
- Update Data disk validation to take all ga limitations into account

cc: @Ankitasw

[2021-06-22 21:04] CecileRobertMichon commented on #1134
Correct. I would also add:

This we should only set when that capability is supported and make sure there are no downsides to enabling it without using it on VMs that do support it (tbh it's a bit of a weird API to have to enable the feature separately from where it's used)

[2021-06-23 07:09] pierluigilenoci commented on #1134
Thank you all! I can't wait to be able to use them in the clusters.

[2021-06-23 08:42] whites11 commented on #1463
My proposal is to extend the `AzureMachineTemplate` CRD to add the following new fields:

[code]

If all the fields are set to a string, then the `Plan` field is initialized in the create VM request.

WDYT?

[2021-06-23 16:36] devigned commented on #1266
/remove-lifecycle stale

[2021-06-23 18:24] CecileRobertMichon commented on #1463
The way we dealt with this for Marketplace images was to add an optional `ThirdPartyImage` field which allows the user to specify that the image is published by third party and needs a Plan to be set. We can't set the Plan for every SIG image because that will cause the VM create to fail for images based on 1st party images (like Ubuntu). What do you think about doing the same for SharedImageGalle

[2021-06-23 20:51] CecileRobertMichon commented on #1134
@pierluigilenoci btw I know you are/were an AKS Engine user, I'd appreciate any feedback you have on transitioning to CAPZ and/or anything that is blocking that transition. Feel free to jot down any thoughts you have in https://github.com/kubernetes-sigs/cluster-api-provider-azure/discussions/1079. Thanks!

[2021-06-23 21:57] CecileRobertMichon commented on #1314
@chewong did some of this in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1264

@jackfrancis can you check what items are done and which ones still need to be done when you get a chance? I don't think we can close this quite yet.

[2021-06-24 05:23] whites11 commented on #1463
Thanks for the answer @CecileRobertMichon
I am ok addid the field explicitly, but we also need the offer, publisher and SKU fields, don't we?

[2021-06-24 07:21] alexeldeib commented on #1396
/assign

[2021-06-24 09:35] nprokopic commented on #1176
/remove-lifecycle stale

[2021-06-24 15:12] devigned commented on #825
/milestone v0.5.x

[2021-06-24 15:13] devigned opened #1470 "exp/managedclusters"

[2021-06-24 15:14] #1470 closed

[2021-06-24 15:15] devigned commented on #757
/milestone v0.5.x

[2021-06-24 15:43] nader-ziada opened #1471 "Add AzureClusterIdentity to all published templates"
/kind feature

**Describe the solution you'd like**
- Add `AzureClusterIdentity` to the published templates to allow users to set the credentials using a Secret instead of environment variables.
- The templates need the AzureClusterIdentity resource and a reference to it in the AzureCluster.
- Add comment about needing a secret with the `password` already created.

This will make the Azure credent

[2021-06-24 15:43] nader-ziada commented on #1471
/milestone v0.5.0

[2021-06-24 15:47] nader-ziada opened #1472 "Add deprecation warning for using credentials from environment variables"
/kind feature

**Describe the solution you'd like**
- Add a deprecation warning in capz controller logs to indicate the use of environment variables to set credentials will be removed and that users should instead use AzureClusterIdentity
- Add an Event with the same information for users that don't look at logs

**Anything else you would like to add:**
- Depends on #1471
- The `ginkgo` v2 depreca

[2021-06-24 15:47] nader-ziada commented on #1472
/milestone v0.5.0

[2021-06-24 17:19] nader-ziada commented on #1471
/assign

[2021-06-28 12:53] Ankitasw commented on #1134
@CecileRobertMichon  i have some questions regarding the issue
for vm series check in [GA limitations](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-types#ga-scope-and-limitations), shall we add all the supported VM series in for eg enum kind and validate that if USSD is enabled, the vmseries should be in the one listed in the enum, and for vmseries, shall we add a new field in the

[2021-06-28 17:44] nader-ziada commented on #1472
/assign

[2021-06-28 18:10] CecileRobertMichon commented on #1134
@Ankitasw you should be able to use the resource skus API for validation. Note that the validation cannot be done in the webhooks as it requires calls to Azure (and is subscription-specific). We already have a SKU cache in place that you should be able to reuse. See how it is used here as an example: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/azure/services/virtualma

[2021-06-29 18:46] abhishek-jnpr opened #1479 "Azure clusterctl infrastructure init fails on mac os."
/kind bug

abhishekr-mbp:capi abhishekr$ clusterctl version
clusterctl version: &version.Info{Major:"0", Minor:"4", GitVersion:"v0.4.0", GitCommit:"7f879be68d15737e335b6cb39d380d1d163e06e6", GitTreeState:"clean", BuildDate:"2021-06-24T21:54:23Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/amd64"}
abhishekr-mbp:capi abhishekr$
abhishekr-mbp:capi abhishekr$ clusterctl init --infrastructur

[2021-06-29 20:39] CecileRobertMichon commented on #1479
@abhishek-jnpr see this related issue: https://github.com/kubernetes-sigs/cluster-api/issues/4856 (I have an open PR to fix it). For now the workaround is to do:

[code]

Sorry for the inconvenience!

[2021-06-29 20:46] CecileRobertMichon commented on #1479
Posted about this in slack (https://kubernetes.slack.com/archives/CEX9HENG7/p1624999475300400) for wider awareness

[2021-06-29 21:01] abhishek-jnpr commented on #1479
@CecileRobertMichon

For some reason i'm unable to register an account with my email-id on slack. With the recommended work around I get below error.

abhishekr-mbp:~ abhishekr$ clusterctl init --infrastructure azure -b kubeadm:v0.3.19 -c kubeadm:v0.3.19 --core cluster-api:v0.3.19
Fetching providers
Error: failed to get provider components for the "cluster-api:v0.3.19" provider: failed to detect d

[2021-06-29 21:03] CecileRobertMichon commented on #1479
@abhishek-jnpr make sure you're doing

from the error message above it looks like you're still trying to use clusterctl v0.4.0

[2021-06-29 22:32] abhishek-jnpr commented on #1479
I was using 0.4.0 as you pointed out, after downgrading to 0.3.19 it started functioning.

[2021-06-29 23:39] #1463 closed

[2021-06-30 09:48] whites11 commented on #165
I am working on the second strategy, the one that uses virtual machines as bastion hosts to access nodes.
The approved CRD structure is as follows:

[code]

but now that I am actually working on it I believe my proposal was wrong and incomplete.
I will try to explain the conclusions I came up with while trying to implement this, an updated CR example and some details here and there in order to col

[2021-06-30 12:23] devigned commented on #165
+1 on this thus far. However, I think there are a couple things missing that I would like to see.
1) What are the security rules associated to ingress for the bastion public IP? How will someone set these ingress rules? Is that public IP going to be in its own network security group or the cluster's NSG? I would like to better understand the Azure network infrastructure resources and how access wi

[2021-06-30 17:46] nader-ziada opened #1481 "AKS multi-tenancy e2e test flaky"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
- the e2e test `Creating an AKS cluster using a different SP identity` has been failing a few times in the last few days when running e2e tests even if the change is unrelated to ManagedControlPlane or the exp/ folder
- Can't find anything obvious in t

[2021-06-30 18:28] abhishek-jnpr opened #1482 "CAPI: Control plane creation is stuck in Scaling Up state."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created CAPI cluster and followed below steps.

1) kind create cluster
2) clusterctl init --infrastructure azure -b kubeadm:v0.3.19 -c kubeadm:v0.3.19 --core cluster-api:v0.3.19
3) clusterctl config cluster capi-quickstart --kubernetes-version v1.18.16 --control-plane-machine-count=3 --w

[2021-06-30 19:01] nader-ziada opened #1483 "Create separate pre-submit job for changes in exp/ folder"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Run the e2e test related to changes in the `exp` folder only when a PR is making any changes in relevant code path
- This includes for example this ManagedControlPlane e2e test `Creating an AKS cluster using a different SP identity`
- Skip these tests from the main presubmits

**Anyt

[2021-06-30 22:51] #1472 closed

[2021-07-01 07:22] whites11 commented on #165
Thanks a lot for your input @devigned

Absolutely agree. Network configurability is key and I will think about it in the CAEP.

I am not sure I agree with this. On one end it would make things easier for what we could consider the most common use case but on the other hand we would make it harder for more complex ones. But let's discuss this in the CAEP I guess.

Will begin working on this ASAP.
B

[2021-07-01 17:51] #894 closed

[2021-07-01 19:14] CecileRobertMichon opened #1484 "VMSS rolling update proceeds before old instance is deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Create a cluster with a machine pool, set max surge to 25%:

[code]

25% with 3 replicas should be == 1

When I start a rolling update, 1 new instance gets created as expected. However, as soon as that new instance is created, another one starts provisioning even though no old instance

[2021-07-01 19:14] CecileRobertMichon commented on #1484
/cc @devigned

[2021-07-01 19:16] devigned commented on #1484
/assign

[2021-07-01 20:42] CecileRobertMichon opened #1485 "Nil panic in AMPM drain"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

How I repro'd:

- Created a cluster with MachinePool (k8s 1.19.11)
- Upgraded machine pool to 1.20.5 (so far so good)
- Deleted an AMPM instance, waited for a new one to be created
- Upgraded machine pool to 1.20.7 --> nothing happens

Old deleted instance still shows in AMPM even thoug

[2021-07-01 20:42] CecileRobertMichon commented on #1485
/assign @devigned

[2021-07-01 21:38] CecileRobertMichon commented on #1447
/assign @mboersma

[2021-07-01 21:43] CecileRobertMichon commented on #1482
@abhishek-jnpr can try following these steps https://capz.sigs.k8s.io/topics/troubleshooting.html to see if you find any interesting logs in the controllers and/or cloud-init ?

The `WaitingForBootstrapData` condition seems to indicate the KubeadmConfig is having trouble generating the bootstrap data, can you please share you KubeadmConfigTemplate yaml? `kubectl get kcp - o yaml`

Also, check `kub

[2021-07-01 21:44] CecileRobertMichon commented on #1479
This is fixed in clusterctl v0.3.20

/close

[2021-07-01 21:44] #1479 closed

[2021-07-02 15:48] larryclaman commented on #1479
@CecileRobertMichon  The fix works, yet as of today (July 2) the [quickstart documentation](https://cluster-api.sigs.k8s.io/user/quick-start.html) still refers to version 0.3.19, which of course is broken.

I'm quite new to CAPI & CAPZ so this stumped me for quite a while until I found this issue & the solution.

I looked at the book source and it seems like it should be autogenerating the latest

[2021-07-02 20:58] CecileRobertMichon commented on #1077
/remove-lifecycle stale

[2021-07-03 06:53] abhishek-jnpr commented on #1482
@CecileRobertMichon please find the logs below. There is a connection error message related to connection to workload cluster.

abhishekr-mbp:capi abhishekr$ kubectl logs deploy/capi-kubeadm-control-plane-controller-manager -n capi-kubeadm-control-plane-system manager -f
I0702 18:54:20.112881       1 controller.go:182] controllers/KubeadmControlPlane "msg"="Could not connect to workload cluster to

[2021-07-03 07:14] abhishek-jnpr commented on #1482
@CecileRobertMichon  Thanks for the document reference. I was able to figure out the issue by collecting logs with below command.

kubectl logs deploy/capz-controller-manager -n capz-system manager

After providing required NAT permission to IAM role, I can now see the VMs created in azure portal.

E0703 07:01:57.178226       1 controller.go:257] controller-runtime/controller "msg"="Reconciler err

[2021-07-05 11:52] tuommaki commented on #1240
We haven't had a need for this now and since there wasn't any other traction on this, I'll close this ticket.

[2021-07-05 11:52] #1240 closed

[2021-07-05 15:39] fiunchinho commented on #1238
wouldn't be [this function validating the credentials](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/69cac90761a0c0697e049f6b07e34dcd5dfa7293/Tiltfile#L97-L101) as requested?

[2021-07-05 15:49] invidian commented on #1238
That's a decent short term solution, though I think something more nested in the controller itself would be nice as well.

[2021-07-05 17:18] invidian commented on #629
/remove-lifecycle stale

[2021-07-06 20:16] #1485 closed

[2021-07-07 03:34] monojit18 opened #1494 "Pre-Created VNET seems to fail cluster creation"
/kind bug

**What steps did you take and what happened:**

1. Create a VNET on Azure
2. Create 2 Subnets - Master and Worker
3. Specify those details in the cluster config yaml under _networkspec_ section e.g.

_networkSpec:
    vnet:
      name: capz-workshop-cluster-vnet
      cidrBlocks:
      - 16.0.0.0/21
    subnets:
    - name: capz-master-subnet
      role: control-plane
      cidrBlocks:

[2021-07-07 03:39] monojit18 opened #1495 "Private K8s cluster on Azure"
As per CAPZ docs, Management cluster should be in a peered VNET or same VNET as workload cluster.

But since we are creating the Management cluster thru _Kind_ as a local cluster then how to achieve this?

Can the Management cluster be another light-weight AKS cluster may be which would run in the same VNET as Workload cluster, to achieve this?

Right now Private cluster creation is failing as exp

[2021-07-07 14:57] devigned commented on #1495
The end to end test suite of CAPZ contains a private cluster test.
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/300757bdc09eee1ff5be83eb1684c55fb15be394/test/e2e/azure_privatecluster.go#L56

In that test, the initial management cluster is run in kind, which creates a publicly exposed cluster in Azure, then pivots the management cluster into the newly created Azure workload cl

[2021-07-07 14:59] devigned commented on #1494
Do you see any errors coming from the CAPZ controller logs? Can you share any errors the controller is logging?

[2021-07-07 17:00] LochanRn opened #1497 "Documentation about jobs that run during e2e test cases."
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Documentation about each job in e2e test cases. A short description about what each job does.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version

[2021-07-07 18:06] CecileRobertMichon commented on #1495
yes

Basically, you need some other k8s cluster that is in the same Azure VNET or a peered VNET (and thus has access to the private API endpoint of the private cluster). That cluster can be an AKS cluster, an AKS Engine cluster, another CAPZ cluster, or even a kind or Minikube cluster running on an Azure VM. I also know of someone who build a cloud init script to install CAPZ on an Azure VM using

[2021-07-07 20:22] CecileRobertMichon commented on #1159
I believe we can close this now that it has been addressed by the PRs above. There is still #1394 but that has its own issue for tracking.

/close

[2021-07-07 20:22] #1159 closed

[2021-07-08 00:03] jackfrancis opened #1499 "Roughly 1 percent failure rate building large clusters (1000 nodes)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Testing large cluster buildouts, I'm seeing a ~1% failure rate from kubeadm join. The failures are consistently like this:

[code]

**What did you expect to happen:**

I would expect a consistent kubeadm join outcome across a set of identically configured nodes (AzureMachinePool)

**Any

[2021-07-08 16:03] devigned commented on #1499
I wonder if extending the timeout would be helpful, or perhaps, slowly increasing the number of nodes rather than building all 1000 at one time.

[2021-07-08 16:59] jackfrancis commented on #1499
I have some practical evidence that that may be right. I built a 200 node cluster on the first try. All nodes were built successfully, took 25 minutes (1554 seconds). I'll try scaling that out by another 200 to see if a step-wise approach is more reliable.

Longer term we can identify why this is less than 100% reliable when building more than <insert num node threshold here where things deterioat

[2021-07-08 17:06] #484 closed

[2021-07-08 17:50] ykakarap opened #1500 "Add AzureClusterTemplate type"
/kind feature

**Describe the solution you'd like**
Add a new CRD named `AzureClusterTemplate`. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

[2021-07-08 17:50] ykakarap commented on #1500
/assign

[2021-07-08 22:41] shysank commented on #1414
/assign

[2021-07-08 23:08] jackfrancis commented on #1499
I was able to get to a single 1000-node machinepool by doing 200 nodes at a time.

[code]

[2021-07-09 13:43] sadysnaat opened #1503 "Azure ManagedMachinePool provider id scheme is incompatible with capi"
/kind bug
/area managedclusters

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create a managed cluster with one azuremanagedmachinepool [pool1]
azuremanagedmachinepool and node refs are synced correctly

add one more azuremanagedmachinepool [pool2]
pool2 status.nodeRef will have nodes from pool1

**What did you expect to happen:**
pool2 statu

[2021-07-09 16:49] mboersma commented on #1447
We published 20.04 reference images for the recent Kubernetes patches (1.18.20, 1.19.12, 1.20.8, and 1.21.2), and we will publish both 20.04 and 18.04 images each month. (Maybe until April 2022, when 18.04 goes out of support.)

But how should we handle the default choice for Ubuntu in CAPZ? I can think of 3 options:

1. Include specific "if >= patch version" tests in `GetDefaultUbuntuImage` that

[2021-07-09 18:15] CecileRobertMichon opened #1505 "Improve delete resilience"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

- E2E test should check that all Azure resources are gone after deleting clusters
- If resourceNotFound logic in resource group delete should be tightened to only return nil if the resource group resource is gone (as opposed to every 404)

**Anything else you would like to add:**
[Mis

[2021-07-09 18:16] CecileRobertMichon commented on #1503
cc @alexeldeib @devigned

is this something we'd run into for MachinePools/MachinePoolMachines as well?

[2021-07-09 18:20] CecileRobertMichon commented on #1505
/assign @devigned

[2021-07-09 18:35] CecileRobertMichon commented on #1497
Something similar to https://github.com/kubernetes-sigs/cluster-api/pull/4899

[2021-07-09 18:36] CecileRobertMichon commented on #1483
This is done

/close

[2021-07-09 18:36] #1483 closed

[2021-07-09 19:37] devigned commented on #1503
@CecileRobertMichon I think we did, then changed to using the consistent helper method for provider IDs.

[2021-07-10 00:37] alexeldeib commented on #1481
/assign

there are some minor fixes we can make in the reconciler to avoid extra requeues, but the most frequent failure I've found seems to be related to list VMSS returning stale data for a long time, and I'm investigating that.

[2021-07-10 00:39] alexeldeib commented on #1481
ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1488

[2021-07-10 02:49] alexeldeib commented on #1503
do you have an example of a repro of this? The code you linked is only used by machine controller, not machine pool controller (as far as I can currently find).

machine pool controller [uses ](https://github.com/kubernetes-sigs/cluster-api/blob/37c862b5c9256d7ae65cd8ee8ddd7a103d51fe90/exp/controllers/machinepool_controller_noderef.go#L85)`spec.ProviderIDList`, which is copied from ammp `spec.Prov

[2021-07-10 02:53] alexeldeib commented on #1503
ah, I think I get the issue.

[this code] only considers the passed in providerIDs, but [this code](https://github.com/kubernetes-sigs/cluster-api/blob/37c862b5c9256d7ae65cd8ee8ddd7a103d51fe90/exp/controllers/machinepool_controller_noderef.go#L179-L200) iterates all nodes, so there's non-deterministic behavior matching nodes to provider IDs (due to the logic you shared).

[2021-07-10 04:22] alexeldeib commented on #1503
4914 should fix this

/assign

[2021-07-12 16:10] lastcoolnameleft commented on #1479
@CecileRobertMichon It appears this is also broken in 0.4.0:

[code]

[2021-07-12 16:14] lastcoolnameleft commented on #1479
I deleted my last comment as I didn't fully read the comments.  Thanks for providing clear documentation.

[2021-07-12 16:14] CecileRobertMichon commented on #1479
@lastcoolnameleft this error is the right error, we have not released CAPZ v1alpha4 (yet). You still need to use CAPI/clusterctl v0.3.20 (see [warning](https://cluster-api.sigs.k8s.io/user/quick-start.html#warning) in the quickstart).

I tried to warn about this in [slack](https://kubernetes.slack.com/archives/CEX9HENG7/p1624999475300400) too:

[2021-07-12 17:26] CecileRobertMichon opened #1510 "update gcr.io/kubernetes-ci-images references to gcr.io/k8s-staging-ci-images"
The `gcr.io/kubernetes-ci-images` was removed, we should replace all references in CAPZ scripts for CI to `gcr.io/k8s-staging-ci-images`.

There might also be references in the CAPI test framework, we should fix those too.

The error we're observing in CI:

[code]

/assign @jackfrancis

[2021-07-12 17:29] arschles opened #1511 "Use mage instead of make?"
This issue is a proposal to replace the `Makefile` with [mage](https://magefile.org). I believe that, if done properly, this change will have a minimal impact to the developer experience. Achieving that result will require some planning and care. For that reason, I believe the size, scope and impact of this change warrants at least an enhancement proposal.

***Goals***
1. Replace `Makefile` script

[2021-07-12 17:30] jackfrancis commented on #1511
Hi @arschles!

[2021-07-12 17:39] chewong opened #1513 "ci: go version mismatch in prow jobs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

CAPZ requires go 1.16 but the test image (`gcr.io/k8s-testimages/kubekins-e2e:v20210709-09116fb-1.20`) for 1.20 release branch presubmit jobs has go 1.15.

It was working in https://testgrid.k8s.io/provider-azure-1.20-signal#capz-conformance because it's using `gcr.io/k8s-testimages/kub

[2021-07-12 18:11] arschles commented on #1511
Hi @jackfrancis ! 👋

[2021-07-12 19:38] CecileRobertMichon commented on #1510
related to https://github.com/kubernetes/k8s.io/issues/2318

[2021-07-12 19:41] #1513 closed

[2021-07-12 20:01] #1510 closed

[2021-07-12 23:26] CecileRobertMichon opened #1517 "azurejson controller doesn't have access to ClientID/Secret/TenantID when using AzureClusterIdentity"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:** The azure.json controller doesn’t have access to the Client secret/id/tenant ID when using AzureClusterIdentity and the manager creds aren’t set. This causes the azurejson secrets to be generated without aadClientID and aadClientSecret set, when not us

[2021-07-12 23:27] CecileRobertMichon commented on #1517
/assign
/assign @nader-ziada @devigned

[2021-07-13 01:37] nader-ziada commented on #1517
The json_controller is already reading the `azure_cluster`, so would it make sense to get the controller to also `get` the `AzureClusterIdentity` so it has access to the needed fields?

[2021-07-13 02:01] devigned commented on #1517
Should we assume the identity on the machines, control plane and workload vms, is the same identity used to provision the infrastructure?

[2021-07-13 02:51] nader-ziada commented on #1517
I think that would be a fair assumption that everything in the AzureCluster would use the same identity referenced by the AzureCluster unless it was a system assigned or user assigned which already takes precedence

[2021-07-13 04:50] CecileRobertMichon commented on #1517
no, but the convenient auto-generated json should (and already did previously). For those requiring a distinct identity (that uses a SP), they currently need to pre-create the azurejson secret.

[2021-07-13 05:30] CecileRobertMichon opened #1519 "Recommend using managed identity by default for Cloud Provider"
We should consider documenting best practices for credentials/identity and recommending managed identity by default for the cloud provider. Right now the option is documented (https://capz.sigs.k8s.io/topics/identity.html#system-assigned-managed-identity) but it's not defaulted in the default flavor and it's unclear why it's better/more secure in the docs.

Using managed identities on the nodes fo

[2021-07-13 12:26] devigned commented on #1517
What happens if a user sets both the IdentityRef on the AzureCluster and the VMIdentity and UserAssignedIdentity on the AzureMachineSpec?
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/92c88f2a884a476306a7ddaf66ef087d8e9d0e23/api/v1alpha4/azuremachine_types.go#L52-L66

Perhaps the following rules should be used:
1) If the `AzureMachineSpec` has a User Assigned Identity provided

[2021-07-13 12:32] devigned commented on #1517
We might also consider creating a specialized Azure RBAC role with the minimum rights required to achieve the goals of the different roles in the system:
1) cluster infrastructure provisioning / role assignment identity (`AzureCluster.Spec.IdentityRef`)
2) control plane node / cloud provider identity
3) workload node identity

[2021-07-13 13:59] nader-ziada commented on #1517
I think that approach makes sense to me, and as for 3, doesn't the secret have to be part of the azure.json? are there any other options there?

[2021-07-13 14:35] devigned commented on #1517
The azure.json can use an User Assigned Identity, System Assigned Identity or a Service Principal. Only the Service Principal requires the secret to be in the azure.json. The other two use IMDS on the VM to request the JWT.

[2021-07-13 14:35] devigned commented on #1310
/remove-lifecycle stale

[2021-07-13 16:28] CecileRobertMichon commented on #1310
/lifecycle active
/assign @arschles

[2021-07-13 18:35] CecileRobertMichon commented on #1517
#1317 covers this

[2021-07-13 18:39] CecileRobertMichon opened #1521 "Add support for cert/pwd auth for cloud provider azurejson"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When the AzureClusterIdentity uses a Certificate & password, it should be able to pass those to the azurejson secret for cloud provider auth if no managed identity is specified.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.

[2021-07-13 18:39] CecileRobertMichon commented on #1521
/assign

[2021-07-13 18:42] CecileRobertMichon opened #1522 "azurejson machinepool controller drops user assigned identity"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azurejson_machinepool_controller.go#L152 is empty. It should be `userAssignedIdentityIfExists` like the other azurejson controllers.

It would be nice to add unit tests for this functionality. E2E test

[2021-07-14 00:16] CecileRobertMichon opened #1525 "NAT Gateway flavor fails with Public IP not found"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

Tried to create a NAT Gateway cluster using the NAT Gateway template with Tilt, got this error:

[code]

@nprokopic @shysank what am I missing? is there something special that needs to be done for this to work on my sub or is it a bug in the code?

**

[2021-07-14 07:25] shysank commented on #1525
I think the bug is because of this: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/dd6fadb1ee9992dd05327de6d879dd2e55ae79c1/azure/services/natgateways/natgateways.go#L106

We are trying to set nat gw pip id to Name which contains `/` and hence it fails.

[2021-07-14 11:24] alexeldeib commented on #826
note: we should add `.status.externalManagedControlPlane` to AMCP so node deletion in machine controller works properly:
https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machine_controller.go#L442-L467

[2021-07-14 14:33] chunliu opened #1526 "Unexpected error from the flavor machinepool-system-assigned-identity"
/kind bug

**What steps did you take and what happened:**

Run the following commands with clusterctl v0.4.0 and CAPZ v0.5.0
1. `clusterctl generate cluster machinepool-cluster --kubernetes-version=1.21.1 --control-plane-machine-count=1 --worker-machine-count=1 --flavor machinepool-system-assigned-identity > machinepool.yaml`
2. `kubectl apply -f machinepool.yaml`

Got the following output:
[code]

[2021-07-14 16:10] CecileRobertMichon commented on #1494
some more info on checking those: https://capz.sigs.k8s.io/topics/troubleshooting.html

[2021-07-14 16:11] CecileRobertMichon commented on #1458
this done

/close

[2021-07-14 16:11] #1458 closed

[2021-07-14 16:24] CecileRobertMichon commented on #1525
/help
/good-first-issue
/priority important-soon

[2021-07-14 16:31] CecileRobertMichon commented on #1471
/close

done in #1360

[2021-07-14 16:32] #1471 closed

[2021-07-14 17:15] shysank commented on #1525
Ah, just noticed the good-first-issue tag. Sorry about that.

[2021-07-14 17:24] CecileRobertMichon commented on #1525
no problem, thanks for taking care of it :D

[2021-07-14 17:24] CecileRobertMichon commented on #1525
/assign shysank
/remove good-first-issue
/remove help

[2021-07-14 17:25] CecileRobertMichon commented on #1525
/remove-good-first-issue
/remove-help

[2021-07-14 17:55] CecileRobertMichon commented on #1526
The issue is that we are not calling `SetIdentityDefaults` in azuremachinepool_webhook.go `Default()`, the same way we do in azuremachine_webhook.go.

/good-first-issue
/help

[2021-07-14 18:02] CecileRobertMichon opened #1528 "Webhook registration should accept both v1 and v1beta1 admissions"
Admission Review was previously set to only accept v1beta1 objects given
that Controller Runtime didn't support v1 (even though the two revisions
are effectively the same). We should add support for both within our
manifests before k8s 1.22.

We should implement the equivalent of https://github.com/kubernetes-sigs/cluster-api/pull/4942 for CAPZ webhhooks.

To do so, we need to edit the kubebuilder

[2021-07-14 18:02] CecileRobertMichon commented on #1528
/priority important-soon

[2021-07-14 18:21] nader-ziada opened #1529 "Remove AzureClusterIdentity Owner Ref on upgrade from v1alpha3 to v1alpha4"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In v1alpha3 (capz v0.4.x) releases; AzureClusterIdentity used to have the AzureCluster as the owner reference, but with the release of v1alpha4 (capz v0.5.0) this is no longer the case

- the feature request is to automatically remove the owner reference when a v1alpha3 cluster is upgr

[2021-07-14 20:14] #1525 closed

[2021-07-14 20:53] shysank commented on #1108
/remove-lifecycle stale

[2021-07-14 20:54] shysank commented on #1108
/remove-lifecycle rotten

[2021-07-14 21:10] #1113 closed

[2021-07-14 21:10] #1517 closed

[2021-07-14 23:00] CecileRobertMichon commented on #1521
The issue I'm running into here is that cloud provider only accepts

[code]

which is the _filepath_ to a certificate file, which means that the file must be not only written to the VM but also mounted on the CCM container. I'm unable to do this from the CAPZ azurejson controller.

[2021-07-15 03:36] alexeldeib commented on #1521
Volume mount the host path to ccm? Doesn’t it require a patch on ccm no matter what for the volume mount? I realize that means cluster template changes, but I think it’s reasonable to ask for that if you use this functionality

[2021-07-15 06:18] Evalle commented on #1528
happy to help, /assign

[2021-07-15 06:19] Evalle commented on #1528
/assign

[2021-07-15 16:29] CecileRobertMichon commented on #1521
It does, and yes that might be what have to end up doing but this is a step down from the original ask of getting the cert from the AzureClusterIdentity and putting it in the cloud provider config (like SP client secret). The other problem is that I have no good way of knowing which filepath it's at since the user can put it wherever they want so it's tricky to set the cloud provider config `AADCl

[2021-07-16 00:28] CecileRobertMichon commented on #1521
This is what I came up with: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1531/files#diff-2ecc665ce49ded769d9199f6979a596aaeb1554236e93cfbf7524596095ce359R126

[2021-07-16 01:50] shysank opened #1532 "Use only nat gateway for outbound connections"
/kind feature

With https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1411, we are going to allow to configure multiple subnets for worker nodes. We also support nat gateway for outbound connections which means when some subnets have nat gateway configured, and some do not, we fallback to outbound load balancer. While this works, this adds some complexity to the code, and the netw

[2021-07-16 06:07] ykakarap commented on #1500
/lifecycle active

[2021-07-16 07:40] #1482 closed

[2021-07-16 17:42] CecileRobertMichon commented on #1532
Two things we need to figure out before doing this:

1) How to handle back compat for existing clusters that have outbound LBs
2) are there any use cases in which you'd want an LB or _not_ want a NAT Gateway (but still want outbound)

@jackfrancis @Michael-Sinz tagging you in case you have any feedback or user data on this

[2021-07-16 17:44] CecileRobertMichon opened #1533 "Make user-assigned identity the "default"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-07-16 17:47] CecileRobertMichon opened #1534 "Make user-assigned identity the default in flavors and e2e"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Managed identity is more secure than writing SP creds on disk and is the recommended approach for VM identity. #1531 makes that more clear in docs. However, most templates/flavors and e2e templates are still using SP creds. We should switch them over to user-assigned so we can get bet

[2021-07-16 18:28] jackfrancis commented on #1532
I would love to get rid of unnecessary Load Balancers. LBs for the sole purpose of providing outbound egress + SNAT is overkill, IMO (I assume that's what we're talking about removing here).

That said, in Azure there are "tricks" that we rely upon the LB for in order to ensure that our clusters don't run out of outbound SNAT ports (in other words, when you have large clusters that maintain a bunc

[2021-07-16 18:39] CecileRobertMichon commented on #1532
@jackfrancis one of the main benefits of NAT gateway is actually that it doesn't have the same SNAT port exhaustion limits

from https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#scenarios

[2021-07-16 18:41] jackfrancis commented on #1532
Yay sign me up 🍺

[2021-07-16 20:49] Michael-Sinz commented on #1532
This sounds wonderful - what does it do as far as handling clusters with, say, 45,000 pods / 900 nodes?  We have had problems in the past with SNAT and had to add extra outbound IP addresses to get enough concurrent streams.

[2021-07-16 21:23] shysank commented on #1532
From https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#associating-a-nat-gateway-to-the-subnet:  `Using a NAT gateway is the best method for outbound connectivity. A NAT gateway is highly extensible, reliable, and doesn't have the same concerns of SNAT port exhaustion.`

However, reading more about [On-demand SNAT with multiple IP addresses for scale](https://

[2021-07-16 21:42] Michael-Sinz commented on #1532
One of the challenges with the loadbalancer SNAT thing is that the 64,000 streams are divided up "equally" among the VMs (nodes) in the vnet (cluster).  This is both good and bad.  The good is that you can't have one node hogging all of the stream SNAT ports and thus deny some other nodes connectivity.  However, this is a double edged sword since the as this also means that you have to have enough

[2021-07-16 21:44] CecileRobertMichon commented on #1532
This slide from the video on that doc is a good visual summary:

<img width="638" alt="Screen Shot 2021-07-16 at 2 42 27 PM" src="https://user-images.githubusercontent.com/8650424/126011366-954d5b0c-8767-419a-8868-5d64907efdc9.png">

[2021-07-17 19:41] LochanRn opened #1536 "While updating agentPools need to check for only fields which are mutable."
/kind bug
/area managedclusters
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When an update is triggered for agentpools the agentpool service compares the exiting agentPool and the updated agentPool
before it actually makes a CreateOrUpdate api call.

The current logic checks for the all the fields while comparison, most of the fields are imm

[2021-07-19 05:34] praveenghuge commented on #1526
/assign

[2021-07-19 16:13] CecileRobertMichon commented on #1536
@LochanRn are you taking this one or should we mark it as good-first-issue?

/area managedclusters

[2021-07-19 16:13] #1533 closed

[2021-07-19 16:32] LochanRn commented on #1536
I have included it in the system-node-pool PR.

[2021-07-19 16:39] CecileRobertMichon commented on #1536
/assign @LochanRn

[2021-07-19 20:49] devigned commented on #1279
/remove-lifecycle stale

[2021-07-19 20:52] #1519 closed

[2021-07-19 23:16] #1528 closed

[2021-07-20 06:18] praveenghuge commented on #1522
/assign

[2021-07-20 08:20] alexeldeib opened #1543 "remove ssh timesync test once daemonset version is stable"
/kind cleanup

after merging https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1509, we should get some CI signal and then remove the SSH implementation, since the DS implementation will work for private clusters and other resources with no public IPs.

[2021-07-20 08:21] alexeldeib commented on #1543
/good-first-issue

[2021-07-20 08:22] alexeldeib commented on #1455
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1509 gets us some initial validation

[2021-07-20 12:45] Ankitasw commented on #1529
/assign

[2021-07-20 16:23] #1526 closed

[2021-07-20 16:42] gnadaban opened #1545 "NMI in a crashloop"
/kind bug

**What steps did you take and what happened:**
Created a CAPZ cluster and noticed that the NMI pods are in a constant crashloop.

**What did you expect to happen:**
NMI should not crashloop.

**Anything else you would like to add:**
Log from a pod:
[code]

**Environment:**

- cluster-api-provider-azure version: 0.4.15
- Kubernetes version: (use `kubectl version`):
[code]
- OS (e.g. from

[2021-07-20 17:42] devigned commented on #1545
Is it possible you have two instances of aad-pod-identity running? There are some scenarios where bind issues come up: https://github.com/Azure/aad-pod-identity/issues?q=is%3Aissue+address+already+in+use. Either the host has something already running on that port, or possibly, two deployments of aad-pod-identity are running.

[2021-07-20 18:11] chewong opened #1546 "test: passed test suite contains failed test cases"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

example: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-capz-windows-dockershim/1417250279195152384

The job above has two failed test cases but it's marked as passed:
[code]

**What did you expect to happen:**

**Anything else you would like to add

[2021-07-20 18:12] gnadaban commented on #1545
Thanks for the tip @devigned , sure enough, I install the AAD pod identity via Helm chart. Is it possible to disable the CAPZ installed one, or configure which version it deploys?

[2021-07-20 18:30] devigned commented on #1545
I know we discussed not deploying aad-pod-identity at some point, but I don't recall the specifics. Perhaps, @nader-ziada recalls more clearly.

[2021-07-20 19:56] jsturtevant commented on #1546
This appears to happen for Linux as well: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-capz-conformance/1416217627528794112

[2021-07-20 20:01] jsturtevant opened #1548 "PR jobs are duplicating the test results in testgrid"
The PR jobs appear to be duplicating the test results. Example https://testgrid.k8s.io/provider-azure-presubmit#pull-kubernetes-e2e-capz-conformance

[code]

_Originally posted by @jsturtevant in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1388#issuecomment-883656614_

[2021-07-20 20:05] CecileRobertMichon commented on #1521
/close

[2021-07-20 20:05] #1521 closed

[2021-07-20 20:10] gnadaban commented on #1545
It would be great if at least it would be an option to not deploy it. I am not familiar with the codebase, where do the infrastructure components get deployed?

[2021-07-20 20:26] devigned commented on #1545
The infrastructure components via `clusterctl` by it finding the release artifacts (https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v0.5.0) and pulling in `infrastructure-components.yaml`. I don't believe there is a way for use to template sections of that yet.

@CecileRobertMichon is templating `infrastructure-components.yaml` a thing or is that still relatively static?

[2021-07-20 20:31] CecileRobertMichon commented on #1545
not currently: https://github.com/kubernetes-sigs/cluster-api/issues/3252

this is the same blocker that was discussed back then https://kubernetes.slack.com/archives/CEX9HENG7/p1607093358351000

[2021-07-20 20:34] CecileRobertMichon commented on #1548
this is only happening on the presubmit for some reason https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-conformance-v1alpha4-k8s-main

[2021-07-20 20:35] devigned commented on #1545
@gnadaban, we definitely can see the desire to control the version / installation of aad-pod-identity.

[2021-07-20 22:43] CecileRobertMichon commented on #1317
/remove-lifecycle stale

[2021-07-21 09:19] fiunchinho commented on #1525
@CecileRobertMichon I believe you confused @nprokopic and me :smile: . I'm glad the issue is fixed now.

[2021-07-21 16:13] CecileRobertMichon commented on #1525
oops, sorry about that 😄

[2021-07-21 16:28] amino19 commented on #1543
@alexeldeib : Hey, Can I know, one have to write CI workflow for #1509 ? :slightly_smiling_face:

[2021-07-21 22:11] CecileRobertMichon commented on #664
Posting here for the record: I did some additional investigation in cloud provider, the config subnetName is used in two places:

- for internal load balancers if the `service.beta.kubernetes.io/azure-load-balancer-internal-subnet` annotation is not present on the service: https://github.com/kubernetes-sigs/cloud-provider-azure/blob/0e9dbb54141c04254a5b0aef1eda89ae3ed701a6/pkg/provider/azure_loadb

[2021-07-21 22:37] #664 closed

[2021-07-21 22:37] #1362 closed

[2021-07-22 05:17] #1134 closed

[2021-07-22 06:48] pierluigilenoci commented on #1134
@CecileRobertMichon sorry for the delay in answering.
Since last spring we have abandoned the AKS engine in favor of AKS so I can't give you any feedback anymore. 🙏🏻

Thanks so much for everything ❤️

[2021-07-22 15:50] CecileRobertMichon opened #1551 "Use dl.k8s.io instead of hardcoded GCS URIs"
https://github.com/kubernetes-sigs/cluster-api/pull/4958

/help

[2021-07-22 17:11] #1522 closed

[2021-07-22 21:52] sayantani11 commented on #1551
Hey is the issue open? I would like to contribute if I could get some insights and some help

[2021-07-22 21:57] CecileRobertMichon commented on #1551
Hi @sayantani11, yes it is. The ask is to replace all hardcoded usages of `gs://` (https://github.com/kubernetes-sigs/cluster-api-provider-azure/search?q=gs%3A%2F%2F) with dl.k8s.io, just like https://github.com/kubernetes-sigs/cluster-api/pull/4958 did for the Cluster API project.

Here is the motivation:

hardcoded URI is if gsutil is being used (e.g. gsutil cp gs://foo/bar .)
Otherwise, for too

[2021-07-22 21:58] CecileRobertMichon commented on #1551
/assign sayantani11

[2021-07-23 03:02] gnadaban commented on #1545
For now I opted to delete the Daemonset after cluster-api init since we need the AAD installed for other dependencies beforehand.

For future consideration, it would be great if a switch could disable installing the AAD.

[2021-07-23 06:41] monojit18 commented on #1494
I will try and look into the logs as suggested by tomorrow and let you know!
sorry for delays due to other priorities

On Wed, Jul 14, 2021 at 9:40 PM Cecile Robert-Michon <
***@***.***> wrote:

[2021-07-23 06:45] jayesh-srivastava commented on #1551
Hey, @CecileRobertMichon I have made the necessary changes and made the PR. I have also signed the CLA, but its not working out. Can you please guide me?

[2021-07-23 07:05] jayesh-srivastava commented on #1551
I am a new contributor btw, and I really want to become a regular contributor.

[2021-07-23 11:58] sayantani11 commented on #1551
@CecileRobertMichon Got it I am working on it

[2021-07-23 12:05] sayantani11 commented on #1551
@CecileRobertMichon I wanted to know am I supposed to convert all all hardcoded usages of gs:// with dl.k8s.io or only the ones in https://github.com/kubernetes-sigs/cluster-api-provider-azure/search?q=gs%3A%2F%2F

[2021-07-23 12:43] sayantani11 commented on #1551
@jayesh-srivastava  I guess before you make a PR the issue should be assigned to you. I requested to work on it first. So requesting to consider this.

[2021-07-23 13:01] jayesh-srivastava commented on #1551
@sayantani11 Oh okay. Didn't know about it. Sorry, all yours.

[2021-07-23 16:59] CecileRobertMichon commented on #1310
/remove good-first-issue
/remove help

[2021-07-23 16:59] CecileRobertMichon commented on #1310
/remove-good-first-issue
/remove-help

[2021-07-23 17:00] CecileRobertMichon commented on #1551
@jayesh-srivastava welcome! I look forward to your contributions. If you're looking for other good issues to work on, check out https://github.com/kubernetes-sigs/cluster-api-provider-azure/labels/help%20wanted.

@sayantani11 thanks for opening the PR!

[2021-07-23 17:11] jayesh-srivastava commented on #1551
@CecileRobertMichon Thank you so much. Can new contributors join the kubernetes-sigs github org?

[2021-07-23 17:12] #1529 closed

[2021-07-23 17:17] CecileRobertMichon commented on #1551
Here are the requirements to become a member: https://github.com/kubernetes/community/blob/master/community-membership.md#member

[2021-07-23 17:20] jayesh-srivastava commented on #1551
Thanks for sharing.

[2021-07-23 17:25] CecileRobertMichon commented on #1551
no problem! Also you should come hang out with us in the [#cluster-api-azure](https://kubernetes.slack.com/archives/CEX9HENG7) channel on k8s slack if you're not already there

[2021-07-23 17:28] jayesh-srivastava commented on #1551
Thanks again for this. I joined the channel. Looking forward to learning with all you amazing guys.

[2021-07-23 17:43] CecileRobertMichon opened #1555 "Upgrade job should upgrade from 1.20"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-main is broken since https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1524 merged because it's trying to upgrade from 1.19 to 1.21 which is not allowed. We should change the

[2021-07-23 17:43] CecileRobertMichon commented on #1555
/good-first-issue
/help

[2021-07-23 17:44] CecileRobertMichon commented on #1551
Here's another easy first PR: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1555

[2021-07-23 17:57] Rahul-D78 commented on #1555
/assign

[2021-07-23 17:58] Rahul-D78 commented on #1555
hi @CecileRobertMichon can I work on this

[2021-07-23 18:07] jayesh-srivastava commented on #1555
/assign

[2021-07-23 18:09] CecileRobertMichon commented on #1555
@jayesh-srivastava I'm sorry, it looks like @Rahul-D78 has already assigned themselves this issue :(

[2021-07-23 18:09] CecileRobertMichon commented on #1555
/unassign @jayesh-srivastava

[2021-07-23 18:10] jayesh-srivastava commented on #1555
Oh okay, no worries : )

[2021-07-23 18:11] jayesh-srivastava commented on #1551
Yeah was a bit late : ) Nevertheless will look out for good first issues. Thanks for helping.

[2021-07-23 18:31] alexeldeib commented on #1503
4914 didn't work due to dependency ordering issues. see https://github.com/kubernetes-sigs/cluster-api/pull/4913#issuecomment-878041148, we're tracking using the full providerID in https://github.com/kubernetes-sigs/cluster-api/issues/4526

/unassign

[2021-07-23 18:45] CecileRobertMichon commented on #1192
/good-first-issue

[2021-07-23 18:46] CecileRobertMichon commented on #1112
/close

[2021-07-23 18:46] #1112 closed

[2021-07-23 18:49] CecileRobertMichon commented on #1353
/good-first-issue

the ask is to set the `veth_mtu` value to 1392. @jsturtevant do you have any guidance for validating that packets are not fragmented?

[2021-07-23 19:49] alexeldeib commented on #1455
/good-first-issue

adding some additional validation would be fairly straightforward

[2021-07-24 05:53] monojit18 commented on #1494
Team,
[capz-error-log.txt](https://github.com/kubernetes-sigs/cluster-api-provider-azure/files/6871952/capz-error-log.txt)

This is the error log with pre-created VNET and Subnet in a pre-created Resource Group

K8s Version: 1.18.19
clusterctl version: 3.20
OS: MacOS BigSur 11.4

The master Node is created and I can VM is in running state in the portal.
But the Reconciling step is hanging forever

[2021-07-24 07:22] monojit18 commented on #1495
This is now blocked due to the issue: #1494

This is what I have tried:

Created an AKS cluster with 2 Nodes, 1 VNET and 1 Subnet - Management Cluster for CAPZ
Created 1 VNET for CAPZ - _18.0.0.0/23_

Created 2 Subnets (Master, Worker) - _18.0.0.0/24, 18.0.1.0/24_
Peered AKS VNET and CAPZ VNET

Tried Creating cluster with CAPZ templates using
_apiServerLB:
      type: Internal
      frontendIPs:

[2021-07-24 08:17] jayesh-srivastava commented on #1543
Hi. I am a new contributor and I want to work on this issue. Can you please guide me through this and assign me the issue?

[2021-07-24 08:25] KamalSinghKhanna commented on #1443
Hi I am new here and work on this issue please guide me how to start.

[2021-07-25 05:54] PratikBorhade302 commented on #550
/remove-lifecycle rotten

[2021-07-25 07:13] dmeytin commented on #1155
Any progress on this issue?

[2021-07-25 07:21] dmeytin commented on #1240
Hey Tuomas,
If I remember correctly, reusing the same port has caused the workload that is running on master nodes and performs communication with k8s api servers to fail when the same node where the instance is running was accessed.
Was this use-case validated?

[2021-07-26 12:28] sbueringer opened #1558 "Add webhook health check"
/kind feature

**Describe the solution you'd like**
It would be nice if the controller health checks would use the readiness of the webhook server (instead of the no-op Ping).

For reference, the implementation in cluster-api: https://github.com/kubernetes-sigs/cluster-api/pull/4989

**Anything else you would like to add:**
This requires at least controller-runtime v0.9.3.

**Environment:**

- clu

[2021-07-26 13:40] LochanRn opened #1559 "Provide availability zones support in managedclusters"
/kind feature
/area managedclusters

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Provide availability zones support for mananged clusters in capz

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubec

[2021-07-26 13:50] devigned commented on #1494
Looks like the machine deployment never sees the bootstrap secret become available. It would probably be helpful if you can provide the CAPI & CABPK logs.

[2021-07-26 13:54] LochanRn commented on #1559
/assignn

[2021-07-26 13:55] monojit18 commented on #1494
Sure, can you tell me how to get those? can you please tell me the commands?

[2021-07-26 13:59] devigned commented on #1443
@KamalSinghKhanna, this issue seems to be in question. That is, https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1443#issuecomment-862751690 states that the linter does catch missing comments. This asks to enhance the project to enable the linter to fail when missing comments. The enhancement may not be needed if it is already enabled as stated in https://github.com/kubernetes-

[2021-07-26 14:07] devigned commented on #1559
/assign @LochanRn

[2021-07-26 14:13] devigned commented on #1494
If you run `kubectl get pod -A` you should see `capi-system` and the capi controller pod. Similarly, you should see the capbk pod. Run `kubectl log pod -n capi-system capi-controller-pod-name` and then the analogous command for capbk.

[2021-07-26 15:01] KamalSinghKhanna commented on #1443
/assign

[2021-07-26 15:08] LochanRn commented on #1559
Proposal: Add a availabilityZones spec of type *[]string  to the AMMP api.

[code]

The field will be immutable and can be added only during the creation of an managedcluster/agentpool.

[2021-07-26 16:00] LochanRn commented on #1455
Hi @alexeldeib would like to pick this issue. I am not good with e2e so doing this will give me a good learning. So if i have understood correctly, we should scale up workloads and scale them down and then check if the workloads are being added as expected.

[2021-07-26 16:31] CecileRobertMichon commented on #1494
The first control plane machine is created but the Machine is still in "Provisioning" state which to me seems like it never initialized the k8s cluster. That's [this TSG case](https://capz.sigs.k8s.io/topics/troubleshooting.html#a-virtual-machine-is-running-but-the-k8s-node-did-not-join-the-cluster). If you do `kubectl describe azuremachine capz-k8s-cluster-control-plane-tgldb` you should see a st

[2021-07-26 16:55] CecileRobertMichon commented on #1155
No one is currently assigned to this @dmeytin, it's marked as help-wanted. I did a recorded walkthrough (link above) which should be mostly up to date. We did improve documentation on outbound connections (https://capz.sigs.k8s.io/topics/node-outbound-lb.html) and virtual networks (https://capz.sigs.k8s.io/topics/custom-vnet.html) since I first opened this issue but I still think having some sort

[2021-07-26 17:57] CecileRobertMichon commented on #1558
Note: This controller-runtime health check is only available since v0.9.3

this means we first need a new version of CAPI.

[2021-07-26 17:58] CecileRobertMichon commented on #1145
/remove-lifecycle stale
/unassign @surajrana93

[2021-07-26 17:59] CecileRobertMichon commented on #1048
/remove-lifecycle stale

[2021-07-26 18:04] CecileRobertMichon commented on #1195
this was fixed in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1334

/close

[2021-07-26 18:04] #1195 closed

[2021-07-26 18:06] CecileRobertMichon commented on #999
/remove-lifecycle stale
/lifecycle frozen

[2021-07-26 18:06] CecileRobertMichon commented on #1276
/remove-lifecycle stale
/lifecycle active
/assign @jsturtevant

[2021-07-26 18:07] CecileRobertMichon commented on #1268
/remove-lifecycle stale

[2021-07-26 18:09] CecileRobertMichon commented on #1448
/assign @nader-ziada

[2021-07-26 18:27] shysank commented on #1108
/good-first-issue

[2021-07-26 18:28] #1505 closed

[2021-07-26 18:31] shysank commented on #1108
This is slightly more complicated than a good first issue. But, it has low impact and would be a good way to get a feel of the codebase. I'd suggest opening a pr for one scope first, and then do it for the rest. Happy to pair or answer any questions on this.

[2021-07-26 18:33] sbueringer commented on #1558
@CecileRobertMichon Just out of curiosity. Why do you need a new CAPI version to upgrade controller-runtime?

[2021-07-26 18:50] CecileRobertMichon commented on #1559
@LochanRn this will specify zones for the agentpool if I understand correctly. What about the control plane? Will setting the zones on the first agent pool also determine zones for the control planes?

Azure docs say

[2021-07-26 19:08] LochanRn commented on #1559
Hmm good question . :). I am not completely sure. So when we create a managedCluster it takes in an array of [agentPools](https://github.com/Azure/azure-sdk-for-go/blob/9baec13ba8eb54f684c5b0e1c645fa646eb25d3e/services/containerservice/mgmt/2021-05-01/containerservice/models.go#L2041). If we have just one agent pool(system node pool) being passed in during creation, it would depend on whether it h

[2021-07-26 19:09] CecileRobertMichon commented on #1558
I guess we don't need to. Historically we've updated controller-runtime as part of CAPI updates, since CAPI defined the minimum version, but we could use a later patch, as long as we're on v0.9.x.

Whoever takes this on would have to first update the controller-runtime version in go.mod to v0.9.3.

/good-first-issue

[2021-07-27 05:10] alexeldeib commented on #1559
I had to check this a bit myself. I believe clusters are simply AZ-enabled or not. If you specify any AZs at create time, the control plane will be AZ-enabled and spread automatically. You don't get any additional configuration, and I don't believe we do e.g. single AZ control plane or anything like that.

Looks like the docs are correct, anyway 🙂

[2021-07-27 06:42] monojit18 commented on #1494
[capz-issue-logs-27072021.zip](https://github.com/kubernetes-sigs/cluster-api-provider-azure/files/6883237/capz-issue-logs-27072021.zip)

Tried capturing all the logs that you have asked for; can you please have a look and let me know if anything else is required?

[2021-07-27 07:40] alexeldeib commented on #1173
/remove-lifecycle stale
/help-wanted

we've added e2e since I made the previous comment. If someone could manually test this (easy), that would be enough to close this out IMO.

we could also add a separate e2e for a pre-created AKS cluster, but I'm not sure how much value that delivers relative to the work vs. polishing up other parts of the implementation.

[2021-07-27 07:43] alexeldeib commented on #1243
system pools are very close to merging, I've done the work to remove AzureManagedCluster (albeit will need to rebase and probably won't merge that before v0.5.x).

I'm not sure this is a good first issue, but maybe a good 2nd/3rd issue 🙂 the missing pieces after #1520 merges would be subnets and managed identities. Happy to provide more guidance if someone wants to pick this up.

/help-wanted

[2021-07-27 07:46] alexeldeib commented on #1455
there are a few things we can do here:
- scale up/down agent pools like you mention, validate things follow our expectations
- run a more complex workload than the timesync daemonset.
    - create a load balancer, is it reachable
    - validate network policies
    - etc.

mostly thinking we should try to align testing on unmanaged/managed clusters as closely as possible (where it makes sense).

[2021-07-27 07:49] alexeldeib commented on #488
/remove-lifecycle rotten
/lifecycle frozen

I guess the TL;DR of what's needed here is "copy AKS-Engine", per the [above link](https://github.com/Azure/aks-engine/blob/master/docs/topics/sgx.md)?

[2021-07-27 07:50] LochanRn commented on #1455
cool, I will pick this. But I might bug you on slack for help. Please spare with me 😜

[2021-07-27 07:50] LochanRn commented on #1455
/assign @LochanRn

[2021-07-27 07:50] alexeldeib commented on #550
do I hear webhook warnings?

[2021-07-27 07:54] alexeldeib commented on #550
I will say...calculating what the limits even are can be super annoying. Here's my [hacked up version](https://github.com/alexeldeib/throttled/blob/master/src/resource.rs#L25-L28) -- it's not totally accurate, but gives you a rough idea of what's involved.

If you decide to pick this up and aren't  _**very**_ familiar with Azure disk performance limits, please ping me for specifics.

[2021-07-27 07:56] alexeldeib commented on #1034
@CecileRobertMichon are you or David still actively working on this? Want to keep it assigned?

(no, don't expect a surprise XXL PR from me for this 😄 just perusing issues )

[2021-07-27 08:05] alexeldeib commented on #1145
/remove-lifecycle stale

Required work:
- Add a field to AzureManagedControlPlane with a map/slice of addon configurations
- Update AzureManagedControlPlane reconciler to pass those fields to managedclusters service/client.
- Update managedclusters service/client to consume those fields and pass them to AKS
- Webhook validation on addon options? I'm not sure if there are any other restrictions lik

[2021-07-27 08:10] alexeldeib commented on #1543
Slow reply, apologies 🙂

Here's what I'd like to see here:
- Change [this test](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/d52c4046c8f613e6173e0cf37508e45d5b5f9dbb/test/e2e/azure_test.go#L154-L162) to use the daemonset implementation I added in #1509
- Run it _**a lot**_. Like, at least 20 times or so. If it fails on something unrelated to the timesync test that's fine, it'

[2021-07-27 08:11] alexeldeib commented on #1543
If you'd still like to work on this @amino19, you can `/assign` yourself or let me know and I can (and I'll remove good-first-issue/help-wanted).

[2021-07-27 08:18] amino19 commented on #1543
@alexeldeib : Sure, Thanks for this info. :slightly_smiling_face:

[2021-07-27 08:18] amino19 commented on #1543
/assign

[2021-07-27 08:20] alexeldeib commented on #1543
/remove-good-first-issue
/remove-help-wanted

[2021-07-27 08:20] alexeldeib commented on #1543
/remove-help

[2021-07-27 08:25] amino19 commented on #1543
@alexeldeib : I'm not that ace in it, you have to guide me a lot!  :slightly_smiling_face:

[2021-07-27 09:11] jayesh-srivastava commented on #1558
Hi. I am a new contributor and I would like to work on this issue. Can you please guide me through this? It would be a great help to me. Also, can I assign the issue to myself?

[2021-07-27 09:11] alexeldeib commented on #1418
/retitle Update containerservice sdk API version from 2020-02-01 to 2021-05-01

[2021-07-27 11:19] devigned commented on #1558
@jayesh-srivastava have you had an opportunity to review the link @sbueringer helpfully added above, https://github.com/kubernetes-sigs/cluster-api/pull/4989 ? That link shows why and what needs to be applied in this repo. If you still have questions after reviewing, please let us know.

[2021-07-27 11:25] jayesh-srivastava commented on #1558
@devigned Yeah I saw that link. A little overwhelming because I am a new contributor, can you please just guide me as to where to start from?

[2021-07-27 12:06] devigned commented on #1494
[code]

Looks like kubelet timed out after 20 mins. One more log :crossed_fingers:. Please grab `journalctl -xeu kubelet` from the control plane node.

[2021-07-27 12:10] devigned commented on #1034
I am not working on it currently. We need a couple little infrastructures feature to come online before this can light up. For the time being, I'm going to mark it as frozen (I think that is the right status) and unassign.

/lifecycle frozen

[2021-07-27 12:10] devigned commented on #1034
/unassign

[2021-07-27 12:13] devigned commented on #1558
The gist of what is happening in the 8 lines of the other PR is that a health check is added to the main.go to ensure the controller's webhooks have started. The same thing needs to happen in this repo.

[2021-07-27 12:21] jayesh-srivastava commented on #1558
Okay okay, I understood. Thanks @devigned . Will try to resolve this issue.

[2021-07-27 17:24] #1376 closed

[2021-07-27 17:36] #1536 closed

[2021-07-27 17:36] #1418 closed

[2021-07-28 07:55] alexeldeib commented on #1268
I wonder if we can avoid this by injecting the change via webhook at the time it's sent by the user? the secret wont exist for a moment but it will and then kcp will re-reconcile and only once.

[2021-07-28 14:12] KamalSinghKhanna commented on #1443
If I am not wrong, So in this issue i have to add a new public (UpperCase in Go) type or function with missing comment.
Is that right?

[2021-07-28 15:41] devigned commented on #1443
That should work.

You could do something simpler. You could delete a comment from an exported (public) function.

[2021-07-28 16:31] jsturtevant opened #1565 "EnableAcceleratedNetworking for the primary NIC of each VM is flaking in PRs"
/kind bug
/kind flake

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
EnableAcceleratedNetworking for the primary NIC of each VM is flaking in PRs:

the job is mostly failing: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-provider-azure-e2e

examples:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-l

[2021-07-28 22:54] #1551 closed

[2021-07-29 06:53] LochanRn commented on #1407
/assign @LochanRn

[2021-07-29 16:13] CecileRobertMichon opened #1568 "Upgrade from 1.20 to 1.21 is failing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I was able to repro locally. New upgraded nodes are not becoming ready.

[code]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1557#issuecomment-887918834

CAPI e2e job has been broken https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-per

[2021-07-29 17:59] monojit18 commented on #1494
[journalctl-control-plane.txt](https://github.com/kubernetes-sigs/cluster-api-provider-azure/files/6902542/journalctl-control-plane.txt)

PFA

Please let me know if this helps!

BTW, log is from the Azure portal as I could not ssh into the VM with ssh capi@<apiServerIP>
<img width="927" alt="Screenshot 2021-07-29 at 11 28 00 PM" src="https://user-images.githubusercontent.com/2395966/127541926-53c7

[2021-07-29 22:24] CecileRobertMichon opened #1569 "Automate release via GH Action"
/kind feature

We should automate as much of the release process as possible to avoid human error. The current release steps are fairly automated but still require a maintainer to go through them one by one: https://capz.sigs.k8s.io/developers/releasing.html

Easy win: We should add a Github Action that does all the artifact generation and upload as well as release notes generation when a tag is c

[2021-07-29 22:34] CecileRobertMichon commented on #1568
Initial investigation details:

Nodes are staying NotReady because the CNI pods are failing to initialize. Kubelet logs show:

[code]

This is due to kubeadm defaulting to systemd cgroups starting in 1.21. The 1.21 image used by the new node was built by image builder and has containderd setup for systemd cgroups (https://github.com/kubernetes-sigs/image-builder/issues/471) but because KCP still h

[2021-07-29 22:58] CecileRobertMichon commented on #1568
Also confirmed I cannot repro this for 1.19 -> 1.20, _only_ 1.20 -> 1.21

[code]

[2021-07-29 23:07] CecileRobertMichon opened #1570 "AzureMachinePool upgrade does not wait for new node to be Ready before proceeding"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Upgraded a MachinePool to 1.21 (knowing it would fail because of #1568). The new node joined the cluster and stayed NotReady, as expected. However, this didn't stop the MP from proceeding with the upgrade, and deleting the old instance.

[code]

I eventually ended up with 2 nodes, both

[2021-07-29 23:27] CecileRobertMichon commented on #1570
Update: the behavior might actually be correct because maxUnavailable it set to 1 which means out of 2 replicas, 1 get be unavailable.

The last ready instance did not get deleted:

[code]

therefore respecting the contract of "always keep one node available at all times".

/assign @devigned
to confirm and close if there's nothing to see here

[2021-07-29 23:31] CecileRobertMichon commented on #1568
https://github.com/kubernetes-sigs/cluster-api/issues/4896 tracks changing the tests to not upgrade worker nodes before control plane

[2021-07-30 00:09] CecileRobertMichon commented on #1565
I've seen this one a couple of times as well... I'm curious to see if accelerated networking is actually disabled or if it's failing to check that it's on.

[2021-07-30 00:14] CecileRobertMichon commented on #1565
looks like it might be the later: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1563/pull-cluster-api-provider-azure-e2e/1420164734728015872/artifacts/clusters/capz-e2e-paf0p9-ha/azure-activity-logs/capz-e2e-paf0p9-ha.log has four matches for `enableAcceleratedNetworking` and they are all set to true.

[2021-07-30 00:21] CecileRobertMichon commented on #1565
Opened https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1571 to help us investigate

[2021-07-30 00:23] CecileRobertMichon commented on #1569
@jackfrancis I might bug you for some tips on this since you've gone through the process recently

[2021-07-30 02:27] #1447 closed

[2021-07-30 17:53] CecileRobertMichon commented on #1568
/close

this only affects 1.20 -> 1.21 upgrades where the worker nodes get upgraded _before_ the control plane, which is against k8s upgrade recommendations (https://kubernetes.io/docs/tasks/administer-cluster/cluster-upgrade/)

[2021-07-30 17:53] #1568 closed

[2021-07-30 18:11] sbueringer commented on #1558
There was an error found in the healthcheck. The fix PR is already merged in controller-runtime, but we should wait until the next controller-runtime version is released with adding it to CAPZ.

xref:
* Slack discussion: https://kubernetes.slack.com/archives/CD6U2V71N/p1627643594012600
* bugfix PR: https://github.com/kubernetes-sigs/controller-runtime/pull/1616

[2021-07-30 20:19] CecileRobertMichon opened #1572 "Tiltfile should use AZURE_SSH_PUBLIC_KEY_B64 to deduce AZURE_SSH_PUBLIC_KEY"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Tiltfile gets the value of `ssh_pub_key_B64` from env/file https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/Tiltfile#L223. It should decode that value to set `ssh_pub_key` instead of trying to get the value again. For this we can use the `base64_decode` function

[2021-07-30 20:23] CecileRobertMichon opened #1573 "Tiltfile should tolerate creds set in base 64 encoding"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We should reorder the tiltfile so that auth validation (https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/Tiltfile#L97) happens after decoding B64 variables (https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/Tiltfile#L218-L221) so that B

[2021-07-30 20:23] CecileRobertMichon commented on #1573
/good-first-issue
/help

[2021-07-30 21:47] sayantani11 commented on #1573
Can I work on it?

[2021-07-30 22:31] CecileRobertMichon commented on #1573
@sayantani11 go for it. Make sure you test the changes locally by following the instructions at https://capz.sigs.k8s.io/developers/development.html#tilt-for-dev-in-capz to set up tilt and make sure it comes up successfully.

/assign @sayantani11

[2021-07-31 03:05] shysank opened #1576 "Panic in conversion when upgrading to v1alpha4"
/kind bug

**What steps did you take and what happened:**
1. create cluster in v1alpha3
2. upgrade capz provider to v1alpha4
3. edit cluster created above
4. check logs  - panics in azuremachinetemplate_conversion.go

**What did you expect to happen:**
should not panic

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

-

[2021-07-31 18:59] sayantani11 commented on #1573
@CecileRobertMichon Are we moving
[code]

and also removing

[code]

[2021-07-31 19:01] sayantani11 commented on #1573
It's a bit unclear to what it is meant by beginning on ```valid_auth```

[2021-08-01 05:40] praveenghuge commented on #1572
/assign

[2021-08-01 08:32] dmeytin opened #1578 "Running Kubelet in User Namespace"
/kind feature

Starting from Kubernetes 1.22 it's possible to execute the entire Kubernetes stack in the user space.
This will allow to prevent running containers as root by default.

More information is here: https://github.com/kubernetes/website/blob/48004e777f48b870c9cdc6be8cb27bab427d74e7/content/en/docs/tasks/administer-cluster/kubelet-in-userns.md#running-kubernetes-inside-rootless-dockerpod

[2021-08-01 18:32] PratikBorhade302 commented on #1354
/remove-lifecycle stale

[2021-08-02 18:12] CecileRobertMichon commented on #1576
We should add a test that does this conversion

[2021-08-02 19:05] shysank commented on #1576
The fuzz tests cover them, but we had overridden it for `Image`. I've fixed it in the PR.

[2021-08-02 20:44] CecileRobertMichon commented on #1365
/remove-lifecycle stale

[2021-08-02 20:45] CecileRobertMichon commented on #1576
This is what I meant: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1365

[2021-08-02 21:05] arschles commented on #1310
Sorry, I made a mess of things and accidentally closed this with #1460. I believe that https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1575 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1574 are both also required to close this issue.

[2021-08-02 21:06] CecileRobertMichon commented on #1310
all good

/reopen

[2021-08-02 21:29] shysank commented on #1576
Agree that we should port https://github.com/kubernetes-sigs/cluster-api/pull/4417/. However, IIUC that's more related to registering older api version to scheme whereas this issue is about handling the conversion a particular field, which I think, is better covered by the fuzz tests.

[2021-08-02 23:34] CecileRobertMichon commented on #1578
@neolit123 @fabriziopandini is this supported by kubeadm?

[2021-08-03 00:41] alexeldeib commented on #1578
it'd also require VM images configured to use cgroupv2 by default. I don't know if that's the case yet on ubuntu 20.04, or if we'd have to configure boot params to force it. so this likely requires bootstrappper + image tweaks to work.

worth noting, we're talking about an alpha feature in 1.22 which itself depends on another alpha feature (cgroupv2). I'm excited about those changes as much as the

[2021-08-03 00:43] alexeldeib commented on #1578
cgroupv2 alone might not actually require anything (?) from the bootstrapping side -- off the top of my head kubelet just gets a path to a cgroup root and checks for cgroupv2 vs cgroupv1. the user ns stuff is separate of course.

[2021-08-03 02:44] alexeldeib commented on #1578
Wow, this was originally proposed 5 years ago as part of K8s 1.5 (! Not a typo). Long time coming.

sorry for spam :)

[2021-08-03 05:17] neolit123 commented on #1578
i haven't tried it, but it should work.
also kind uses kubeadm and it supposedly have worked for the contributor who developed it.

i agree, image building users could opt-in entirely on their own and this doesn't have to be on the provider side.
it is possible to pass the KubeletInUserNamespace feature gate via a kubelet CLI flag too:
https://kubernetes.io/docs/setup/production-environment/tools/

[2021-08-03 05:21] neolit123 commented on #1578
kube-proxy (also a node component) cannot be run as non-root for the time being:
https://github.com/kubernetes/kubeadm/issues/2410

[2021-08-03 10:48] #1576 closed

[2021-08-03 11:50] monojit18 commented on #1494
Dear Team,

Just wanted to check if this information helps or something else is expected?

[2021-08-03 13:59] monojit18 opened #1580 "Automatic Deployment of Log Workspace during Cluster creation"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Just to make the cluster creation process as seamless as AKS:

- Allow specifying a Pre-Created Log workspace along with Resource Group in the CAPZ template; which would deploy Container Insights solution post cluster creation
- Allow specifying a flag as an intent for Monitoring  as

[2021-08-03 15:10] alexeldeib commented on #1580
This is relatively easy but requires https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1145#issuecomment-887302628 for us to support any addons.

[2021-08-03 15:38] arschles commented on #1310
Thanks @CecileRobertMichon !

[2021-08-03 16:21] CecileRobertMichon commented on #1580
@monojit18 are you looking for this to be enabled for AKS (AzureManagedCluster) clusters, or CAPZ self-managed clusters?

[2021-08-03 16:22] CecileRobertMichon commented on #1548
/priority important-soon
/help

[2021-08-03 16:22] CecileRobertMichon commented on #1546
/priority important-soon
/help

[2021-08-03 16:29] alexeldeib commented on #1580
Oops, thanks Cecile. I misread “as seamless as AKS” as asking for support for managed clusters

[2021-08-03 19:25] monojit18 commented on #1580
Sorry actually my bad!
I should have been bit more clear!

What I meant was to have this feature for CAPZ managed cluster - the experience would then be similar to what we do while creating AKS clusters (e.g. using Azure CLI).
Since monitoring is a very common requirement and hardly anyone would go for a K8s cluster without this feature on Azure; it would make life easy for cluster admins!

[2021-08-03 19:26] monojit18 commented on #1580
Hi Cecile, I meant CAPZ managed cluster only...explained this separately below

[2021-08-03 19:56] CecileRobertMichon commented on #1494
@monojit18 have you tried with a larger vnet/subnet cidr? /24 is pretty small, I wonder if that's causing any issues. That's the only thing I can think of that would be different between your pre-created vnet and the CAPZ created one.

Unfortunately, the journal logs you sent above are truncated so it's not showing any useful debugging information. I can try to repro later with the same subnet siz

[2021-08-03 22:04] jackfrancis opened #1581 "Omit nat-gateway details from spec if no nat-gateway is defined"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

This doesn't seem to affect anything, but the generated AzureCluster spec injects an "empty" nat-gateway definition in a subnet if there is no nat-gateway defined. For example:

[code]

**What did you expect to happen:**

I would expect the `natGateway` property to be entirely removed f

[2021-08-04 02:13] monojit18 commented on #1494
@CecileRobertMichon : OK Sure I will try with a larger CIDR also....surprisingly it is getting created with same CIDR range  the template!
But I am now suspecting another thing - https://capz.sigs.k8s.io/topics/custom-vnet.html - looking at this link; it seems when I want to have pre-created VNETs, I should not specify the CIDR again!
I will try around the options and update here...

[2021-08-04 18:27] jsturtevant commented on #1347
should be resolved with #706

kubernetes/kubernetes#104066
kubernetes/kubernetes#104068
kubernetes/kubernetes#104029

[2021-08-04 20:28] CecileRobertMichon commented on #1448
Calico 3.19.2 and 3.20.0 were just released: https://github.com/projectcalico/felix/releases

[2021-08-04 20:46] CecileRobertMichon commented on #1353
/remove-good-first-issue
/assign

[2021-08-04 23:27] CecileRobertMichon opened #1584 "Calico v3.20 nodes don't become ready"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:** Tried to update Calico to v3.20.0 in #1583, cluster provisioning failed because nodes didn't become ready. Not sure if there is something wrong with Calico v3.20 + vxlan, or if a configuration changed in the manifest which caused it to fail.

To repro,

[2021-08-04 23:27] CecileRobertMichon commented on #1584
/assign @nader-ziada

[2021-08-05 00:12] CecileRobertMichon commented on #1584
it also failed with v3.19.2 when using https://docs.projectcalico.org/v3.19/manifests/calico.yaml so it might be due to something that changed in the manifest

the `veth_mtu` change is the first obvious one, might be worth exploring

[2021-08-05 05:30] feiskyer commented on #1347
/close

[2021-08-05 05:30] #1347 closed

[2021-08-05 17:20] LochanRn commented on #1503
@alexeldeib note : According to the comment above, the ideal fix would be using the whole providerID for comparison in the core capi library. This would still may be need a fix in capz.
The providerId set in the node and ammp are still not exactly the same.

node: capi-infra provider: azure:///subscriptions/<subscriptionId>/resourceGroups/**spc_mc_lochan-rg_rnl-aks_eastus**/providers/Microsoft.Com

[2021-08-05 17:42] alexeldeib commented on #1503
nice catch -- looks like we need to `strings.ToLower()` the ID on our side first?

[2021-08-05 17:46] LochanRn commented on #1503
yes

[2021-08-05 17:53] alexeldeib opened #1585 "AzureManagedMachinePool providerID should be fully lowercased to match cloud provider"
/kind bug

**What steps did you take and what happened:**
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1503#issuecomment-893642739

Cloud provider ID on the node: capi-infra provider: azure:///subscriptions//resourceGroups/**spc_mc_lochan-rg_rnl-aks_eastus**/providers/Microsoft.Compute/virtualMachineScaleSets/aks-workerpm65h-31427834-vmss/virtualMachines/0

provider ID prov

[2021-08-05 17:53] alexeldeib commented on #1585
/good-first-issue

[2021-08-05 17:53] alexeldeib commented on #1503
#1585

[2021-08-06 02:21] monojit18 commented on #1494
This seems to be working now. For Pre-Created VNet, I have now attached a pre-configured NSG allowing 6443 port as suggested in the https://capz.sigs.k8s.io/topics/custom-vnet.html
(_If providing an existing vnet and subnets with existing network security groups, make sure that the control plane security group allows inbound to port 6443, as port 6443 is used by kubeadm to bootstrap the control pl

[2021-08-06 02:21] #1494 closed

[2021-08-06 07:22] Evalle commented on #1585
I can take a look at this.
/assign

[2021-08-06 15:57] CecileRobertMichon commented on #1494
The thinking behind not doing that has been that when a vnet is not managed by CAPZ, we should not modify any of it, including subnets and NSGs, since those might be in-use by other clusters/applications.

[2021-08-06 16:09] jackfrancis opened #1587 "Don't create outbound LB if nat-gateway is enabled"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Building a cluster w/ only natgateway "node" subnets included an outbound LB w/ the nodes in the backend pool

**What did you expect to happen:**

The natgateway resource itself handles outbound connections from nodes, so the outbound LB is superfluous (and in fact constrains the node s

[2021-08-06 20:52] LochanRn opened #1590 "Azure managed cluster created using a existing VNet on deletion deletes the existing VNet"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created azure managed cluster using capz with an existing VNet. While deleting the cluster even the VNet is deleted.

**What did you expect to happen:**
The cluster has to be deleted successfully but the VNet has to remain as it is not managed by capz.

**Anything else you would like to

[2021-08-06 20:55] LochanRn commented on #1590
Ideal way to fix this issue would be update the Managed VNet and Managed Subnet Spec to a similar form as that of Azure Clusters.

A must needed change is to add an ID field.

Should we add Tags and Resource Group as well ?

[2021-08-06 20:56] LochanRn commented on #1590
cc @alexeldeib @nprokopic @CecileRobertMichon .

[2021-08-06 20:57] LochanRn commented on #1590
/assign @LochanRn

[2021-08-06 20:57] LochanRn commented on #1590
I found this issue when I was coming up with scenarios for e2e tests 😅

[2021-08-07 13:55] sayantani11 opened #1591 "Adding Tilt as a Makefile dependency"
/kind documentation

**Describe the solution you'd like**
Recently I was on a PR, &  it came to notice that  https://capz.sigs.k8s.io/developers/development.html#tilt-for-dev-in-capz doesn't mention installation of Tilt for running the test successfully.

So it would be better if we add Tilt as an Makefile dependency to avoid confusion by contributors in future

**Anything else you would like to a

[2021-08-07 14:02] sayantani11 commented on #1591
@CecileRobertMichon If the issue is verified, then I would like to work on it

[2021-08-07 14:09] #1591 closed

[2021-08-07 14:12] sayantani11 opened #1592 "Add installation of Tilt and its requirements to the docs"
/kind documentation

Describe the solution you'd like
Recently I was on a PR, & it came to notice that https://capz.sigs.k8s.io/developers/development.html#tilt-for-dev-in-capz doesn't mention installation of Tilt for running the test successfully.

So it would be better if we add Tilt as an Makefile dependency to avoid confusion by contributors in future

Anything else you would like to add:
[Mis

[2021-08-07 14:12] sayantani11 commented on #1592
@CecileRobertMichon Can you review this? And I would like to work on it

[2021-08-08 10:35] dmeytin commented on #1587
@jackfrancis Jack, can you please explain how we'll able to define multiple node-pools that each pool will have a dedicated output IP? This is required when the cluster needs to handle more than 64K outbound ports and, thus, more than a single NAT Gateway is needed.

[2021-08-09 02:00] LochanRn commented on #1590
I think we need to replace
[code]
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/7f6a9ca8df9190ae35ac49a259cdf0d23c0bc776/azure/scope/managedcontrolplane.go#L183-L189

with this

[code]

[code]

for the Id to be persisted in amcp.

[2021-08-09 16:31] CecileRobertMichon commented on #1592
@sayantani11 looks good, thanks for opening the issue

/assign @sayantani11

[2021-08-09 20:03] CecileRobertMichon commented on #1590
Does AzureManagedControlPlane support BYO vnet?

[2021-08-09 22:41] #1573 closed

[2021-08-09 22:50] CecileRobertMichon opened #1595 "Invalid CIDR range error should print the CIDR range of the VNET"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/api/v1alpha4/azurecluster_validation.go#L241 returns an error `subnet CIDR not in vnet CIDR range`. It should also print the vnet CIDR, ie. `subnet CIDR not in vnet CIDR range <vnet cidr>`.

/help
/good-first-is

[2021-08-09 23:33] jackfrancis commented on #1587
Because a NAT Gateway is a child property of a subnet, we'd need to support creating per-pool subnets, each with its own NAT Gateway.

@CecileRobertMichon @devigned is it possible to create multiple subnets, and assign specific node pools (i.e., `MachineDeployment` or `MachinePool` resources) to a specific subnet?

[2021-08-09 23:35] CecileRobertMichon commented on #1587
Support was added in #1411, it's available in the latest CAPZ release

[2021-08-10 00:30] CecileRobertMichon commented on #1590
Another idea: we could change the `IsManaged()` func to actually do a GET on the resource and check the actual owner tags similar to what we do for the RG:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/azure/services/groups/groups.go#L121

The reason I bring this up is that I've been looking at changing how we do GETs on existing resources to make it more consistent as

[2021-08-10 00:39] #1585 closed

[2021-08-10 05:25] LochanRn commented on #1590
Yes it does provide options to configure your own VNet.

[2021-08-10 06:08] LochanRn commented on #1590
Yup you are right 👍 I could just make a call to this function to check if it exists or not in deletion function. https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/7f1796c14e85a6f391b56bed6fd1e491f455d1ea/azure/services/virtualnetworks/virtualnetworks.go#L137

I did realise this as well while debugging.  But ...

I found a tradeoff in the two methods of solving this issue :
getExis

[2021-08-10 06:49] dmeytin commented on #1587
So, no LB configuration is needed?

[2021-08-10 09:59] #1448 closed

[2021-08-10 11:39] LochanRn commented on #1590
ok regardless Id exists or not it does make a call to the azure api. I will probably use the getExisting function to fix this issue. This will not have any api changes :)

[2021-08-10 13:13] nprokopic commented on #1590
Thanks @LochanRn for bringing this up.

Another issue with the current `AzureManagedControlPlaneSpec.VirtualNetwork` field is that it is a "global" cluster field, it gets applied to all node pools.

On the other hand, in Azure, this part of the network spec belongs to [ManagedClusterAgentPoolProfile](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#managedclusteragen

[2021-08-10 13:14] nprokopic commented on #1590
These should be basically backward compatible changes. The logic around new optional fields would get activated only when those fields are set.

[2021-08-10 13:25] nprokopic commented on #1173
I have tested this some time ago, I believe when I opened this issue and I got it working after fixing #1175.

Having an e2e that ensures it is working would be useful (and also some docs describing how it works), since from what I saw even small subtle changes can break this, e.g. managed cluster creation works the same with or without #1174 (it does not need the default field value to be set), b

[2021-08-10 17:01] jsturtevant opened #1596 "Disk and File CI jobs fail to configure management cluster fully"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

During the Management cluster configuration steps, the system doesn't seem to be fully online.  I noticed this only happens with the disk and file CI jobs. The error messages aren't the same but it looks to may  be related (if not we can split them out)

The Disk and File jobs have a di

[2021-08-10 17:14] CecileRobertMichon commented on #1595
/remove-good-first-issue
/remove-help
/assign

[2021-08-10 17:56] CecileRobertMichon commented on #1596
This _should_ be fixed by https://github.com/kubernetes-sigs/cluster-api/pull/4989 once we pull in a newer CAPI version which will make sure the webhook is ready before marking the deployment as ready (we already wait for the deployment to be ready before proceeding)

[2021-08-10 18:40] LochanRn opened #1599 "Virtual network in managed clusters should be moved from AMCP to AMMP"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Current AzureManagedControlPlaneSpec.VirtualNetwork field is a "global" cluster field, it gets applied to all node pools.

In Azure, this part of the network spec belongs to [ManagedClusterAgentPoolProfile](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#

[2021-08-10 18:51] jsturtevant commented on #1596
Any ideas on why it is only occurring in the Disk and File jobs only?

[2021-08-10 23:24] sshiba opened #1601 "Resolving internal "apiserver.<cluster name>.capz.io" from Peering Management VNet"
/kind feature

_Scenario_:
Deploying a _Private Workload_ cluster from a _Management_ cluster in a peered VNet.
See https://capz.sigs.k8s.io/topics/api-server-endpoint.html#warning

_Issue_:
When deploying a _private_ workload cluster from a _management_ vm (peered vnet) it gets stuck trying to complete the bootstrap configuration of the control plane node. The reason is that _management_ vm is no

[2021-08-11 00:31] alexeldeib commented on #1599
I mentioned the original motivation for this over in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/929, but if we don't create/byo bnet, AKS will not predictably name the resource, which is kind of wonky (and marks it hard to implement e.g. #826 which is personal favorite). I'm fine with moving e.g. subnetID or name to AMMP spec, but I think the vnet should still be reconciled

[2021-08-11 00:33] alexeldeib commented on #1599
ah, just saw the comment over in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1590#issuecomment-896016819. I think that's reasonable

[2021-08-11 08:34] nprokopic commented on #1599
We can keep `AzureManagedControlPlaneSpec.VirtualNetwork` and its current behavior, with improvements from https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1590 (fixing the deletion problem for BYO VNets), and keep that part of the `AzureManagedControlPlaneSpec`, have it applied to all node pools by default, so that part does not have to change much.

On top of that, we can add

[2021-08-11 09:19] nprokopic commented on #757
FYI I started working on the final part of the refactoring - exp/agentpools.

[2021-08-11 11:22] sbueringer commented on #1558
fyi controller-runtime v0.9.6 has been released with a fix. So we should be good to go (I also verified it via the e2e tests of the cluster-api repo).

[2021-08-11 13:36] nprokopic commented on #757
We can also tick off exp/managedclusters.

[2021-08-12 16:56] CecileRobertMichon commented on #749
/assign
/assign @mboersma
/lifecycle active

[2021-08-12 17:11] shysank opened #1604 "Optional installation of aad pod identity library"
/kind feature
#1514 allows to use service principal from a directly embedded secret which obviates the need of installing aad pod identity library. However, the infrastructure components artifact, which is part of a capz release doesn't have the option of removing aad pod identity from its inventory. We must find a way to do this.

**Describe the solution you'd like**
Make aad pod identity library

[2021-08-12 17:19] CecileRobertMichon commented on #1565
/close

[2021-08-12 17:19] #1565 closed

[2021-08-12 17:20] CecileRobertMichon commented on #1604
Related to #1545

[2021-08-12 17:23] CecileRobertMichon commented on #1596
The conformance jobs create the cluster resource set for the CNI per cluster, when each workload cluster is created. This probably gives it a few more seconds for the webhook to become ready which is why we don't run into this error. The ci-entrypoint script installs the calico resource set right after creating the management cluster, as soon as the deployments are "available".

[2021-08-12 18:25] #1414 closed

[2021-08-12 18:25] #1407 closed

[2021-08-12 20:15] #757 closed

[2021-08-12 20:47] richardchen331 opened #1605 "Allow user to specify APIServerAccessProfile"
/kind feature

**Describe the solution you'd like**
Allow user to specify [APIServerAccessProfile](https://github.com/Azure/azure-sdk-for-go/blob/v55.2.0/services/containerservice/mgmt/2021-05-01/containerservice/models.go#L2067) in [AzureManagedControlPlaneSpec](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/exp/api/v1alpha4/azuremanagedcontrolplane_types.go#L28)

[2021-08-12 21:28] CecileRobertMichon opened #1606 "Refactor the exp/ folder to separate experiments into their own directory"
Currently, all CAPZ experimental features (AzureMachinePool and AzureManagedCluster as of today) are in the same directory under exp/.

Proposal: create subdirectories under exp/ to isolate each feature.

Pros:
- better isolation between features (ie. less risk of introducing a bug in a PR changing the other one)
- OWNERs for each one
- Easier to remove an experiment from the project (just delete

[2021-08-12 21:29] CecileRobertMichon commented on #1606
cc @alexeldeib @nprokopic @LochanRn @devigned

thoughts?

[2021-08-12 21:54] CecileRobertMichon commented on #1532
One limitation from the docs: NAT Gateways only support IPv4, they don't work with subnets with IPv6 addresses. So we would have to keep LB support for IPv6 clusters for now, at least until NAT Gateways support IPv6.

[2021-08-12 21:56] CecileRobertMichon commented on #1605
/area managedclusters

[2021-08-12 21:56] CecileRobertMichon commented on #1606
/area managedclusters

[2021-08-12 21:58] richardchen331 commented on #1605
@CecileRobertMichon can i work on this?

[2021-08-12 22:05] CecileRobertMichon commented on #1605
@richardchen331 go for it! You can reach out to @alexeldeib @LochanRn and @nprokopic for guidance if you need it.

[2021-08-12 22:05] CecileRobertMichon commented on #1605
make sure to comment `/assign` if you're taking this on :)

[2021-08-12 22:06] richardchen331 commented on #1605
Thanks @CecileRobertMichon !

[2021-08-12 22:06] richardchen331 commented on #1605
/assign

[2021-08-12 22:40] #1276 closed

[2021-08-12 23:32] sshiba opened #1607 "Calico failing to deploy on a Workload cluster flavor=private"
/kind bug

**What steps did you take and what happened:**
Deployed a workload cluster flavor=private following the steps in https://cluster-api.sigs.k8s.io/user/quick-start.html.

1. Deploy the management cluster: `kind create cluster`
2. Initialize management cluster with CAPI/CAPZ components: `clusterctl init --infrastructure azure`
3. Generate the deployment manifest
[code]
4. Added the Secret

[2021-08-13 00:10] CecileRobertMichon commented on #749
## Prerequisites

- [ ] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [ ] If you are not a root approver for the repo, assign a root
approver for approval.

- [ ] Once the issue has been approved, send a notice to your SIG's
mailing list about the potential branch rename.

## Changes pre-rename

Make the following changes _before_ renam

[2021-08-13 02:32] #1590 closed

[2021-08-13 13:49] LochanRn commented on #1606
One major interdependency between AMMP and AMCP would be scope. Both AMMP and AMCP controllers use the ManagedControlPlaneScopeParams.
So when we refactor the code we need to refactor the existing scope as well which as you said it might have duplications.

Also I wanted to understand better regarding what level of access will we have for reviewing ?

[2021-08-13 16:18] CecileRobertMichon commented on #1606
@LochanRn we would only split the files under exp/, the scope would be unaffected.

reviewer on the exp/ types for now.

[2021-08-13 16:20] LochanRn commented on #1606
Ohh okay right makes sense scope is in different dir.

[2021-08-13 16:22] #1592 closed

[2021-08-13 16:36] CecileRobertMichon commented on #1601
@sshiba quick question on requirements: in your use case, would it make sense for CAPZ to also do the vnet peering? I ask because we also have #532

[2021-08-13 17:26] sshiba commented on #1601
@CecileRobertMichon, yes it does make sense because it will simplify the deployment of a workload cluster flavor=private.

[2021-08-14 12:23] nprokopic commented on #1606
Is there maybe a way to target files for OWNERS? I believe that, for example, GitHub CODEOWNERS feature allows that.

[2021-08-14 19:24] sayantani11 opened #1608 "Replacing Windows with Windows + WSL2 for clarification"
/kind documentation

Currently the docs mention setting up of the project in Windows OS, but for better results it is suggested the project is set up in a nix environment.

**Describe the solution you'd like**
Modifying the docs and mentioning the setting up of the project in Windows + WSL2 instead Windows. This would provide clarification that the files should be checked out to wsl file system fo

[2021-08-14 19:25] sayantani11 commented on #1608
@CecileRobertMichon Could you please review the issue? And I would like to work on it.

[2021-08-16 13:01] #1584 closed

[2021-08-16 16:06] CecileRobertMichon commented on #1608
LGTM, thanks!

/assign @sayantani11

[2021-08-16 16:15] CecileRobertMichon commented on #1606
I don't think there is: https://git.k8s.io/community/contributors/guide/owners.md

[2021-08-16 16:22] CecileRobertMichon commented on #749
@mboersma would you be able to take the "just before rename" steps?

[2021-08-16 16:24] mboersma commented on #749
@CecileRobertMichon sure, I'll get on that now.

[2021-08-16 18:14] mboersma commented on #749
@CecileRobertMichon see kubernetes/test-infra#23260

[2021-08-16 20:01] shysank opened #1612 "Private clusters fails with Resource Not found error when no outbound lb is configured"
/kind bug

**What steps did you take and what happened:**
1. Create private cluster using --private flavor
2. Remove oubound lb config
3. Apply changes

cluster fails to reconcile with ResourceNotFound error for outbound lb

**What did you expect to happen:**
Cluster should be created successfully

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2021-08-16 21:09] Jont828 opened #1614 "K8s v1.22.0, VM image not available when using CAPZ"
/kind bug

**What steps did you take and what happened:**

The documentation in the [CAPZ quickstart](https://cluster-api.sigs.k8s.io/user/quick-start.html) refers to K8s version 1.22.0 in the following command.

[code]

However, when the cluster is built using the quick start yaml file, it produces the following error in the logs

[code]

[code]

**What did you expect to happen:**

Expected the t

[2021-08-16 21:13] CecileRobertMichon commented on #1614
@mboersma can you please take a look? It's trying to use the 18.04 image for 1.22, it should be using 20.04 (we only published 20.04 starting at 1.22).

[2021-08-16 21:15] CecileRobertMichon commented on #1614
We have a unit test for this too so not sure what's going on:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/azure/defaults_test.go#L221

[2021-08-16 21:56] CecileRobertMichon commented on #1614
I was able to repro, it's unclear why we're not running into this in #1588

[2021-08-16 22:57] CecileRobertMichon commented on #749
@nader-ziada @devigned @alexeldeib @shysank FYI planning on doing the rename tomorrow around 11 am (PT)

[2021-08-16 23:03] CecileRobertMichon commented on #749
@mboersma we also need to change the CAPI quickstart instructions for installing Calico after the branch has been renamed https://cluster-api.sigs.k8s.io/user/quick-start.html#deploy-a-cni-solution

[2021-08-16 23:09] CecileRobertMichon commented on #1569
/assign

[2021-08-16 23:13] CecileRobertMichon commented on #749
another one: we need to change any GitHub action referring to "master" to use "main"

I'll take this

[2021-08-17 00:17] mboersma commented on #749
Yes, I hadn't pounced on that yet since it's an after-rename activity, but I'll make a docs change PR now.

[2021-08-17 00:31] mboersma commented on #1614
/assign

[2021-08-17 19:45] mboersma commented on #1614
This seems to work fine following the CAPZ `make tilt-up` workflow.

I wonder if there's something different when `clusterctl` passes through the `--kubernetes-version` flag, as opposed to setting the KUBERNETES_VERSION environment variable. I'll try that next.

[2021-08-17 20:19] mboersma commented on #1614
I think the problem is that the change to prefer Ubuntu 20.04 for newer Kubernetes versions merged into master but isn't part of a CAPZ release yet. See kubernetes-sigs/cluster-api-provider-azure#1508.

So @Jont828 we sent you on an impossible mission here--apologies! Two ways we can fix this:

- Do a v0.5.2 CAPZ release that will include the correct logic
- Backfill the reference images for Ubunt

[2021-08-17 20:23] CecileRobertMichon commented on #1614
@mboersma we should do both. Someone could still use 1.22 with 0.5.1 and get this issue.

[2021-08-17 20:41] ThorstenHans commented on #1558
/assign

[2021-08-17 20:58] CecileRobertMichon opened #1618 "Improve Tilt docs about using built in flavor resources"
The tilt docs only mention using `make create-workload-cluster` for creating a workload cluster from Tilt:

https://capz.sigs.k8s.io/developers/development.html#deploying-a-workload-cluster

However, there is another way to create clusters which is to use the UI and clicking on a flavor resource to create a cluster. We should document this easy way of creating clusters for new contributors (maybe

[2021-08-17 23:00] shysank opened #1622 "Set default outbound load balancers for v1alpha3 clusters"
/kind bug

**Describe the solution you'd like**
v1alpha3 clusters have node outbound and control plane outbound load balancers created by default. To preserve backwards compatibility, we'll need to set default values for `NodeOutboundLB` and `ControlPlaneOutboundLB` when converting from v1alpha3 to v1alpha4.

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2021-08-18 16:37] mboersma commented on #1614
I backfilled the 18.04 images:

[code]

I think we should continue to publish 18.04 as well as 20.04 versions for a few more months.

I think once we've done a CAPZ v0.5.2 release which includes #1508, we can close this.

[2021-08-18 21:37] mboersma opened #1627 "Link to troubleshooting from issue template"
/kind documentation

**Describe the solution you'd like**

When submitting an issue to CAPZ, it would be helpful if we presented the Troubleshooting doc we have to allow people to see if their issue is already known.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes vers

[2021-08-18 21:38] mboersma commented on #1627
/assign

[2021-08-18 21:41] mboersma commented on #1627
/kind documentation

[2021-08-18 23:28] CecileRobertMichon commented on #1548
The duplicated specs haven't run since 8/11 (https://testgrid.k8s.io/provider-azure-presubmit#pull-kubernetes-e2e-capz-conformance), so this might be fixed?

/assign

Will check back in 7 days to make sure new runs don't have the issue

[2021-08-18 23:28] CecileRobertMichon commented on #1548
/remove-help

[2021-08-18 23:37] CecileRobertMichon commented on #1546
Looks like this is an issue in CAPI test framework, CAPA has the same problem: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-aws-e2e-conformance-with-k8s-ci-artifacts/1422914264003252224

[2021-08-18 23:45] CecileRobertMichon commented on #1618
/remove-good-first-issue
/remove help

I believe Ashutosh from Slack is working on this

[2021-08-18 23:45] CecileRobertMichon commented on #1614
Waiting for #1624 to merge so I can use it to release v0.5.2

[2021-08-19 19:37] #1569 closed

[2021-08-19 19:37] #1627 closed

[2021-08-19 21:21] CecileRobertMichon commented on #1596
Should be fixed by https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1619 and #1620

[2021-08-19 21:57] sayantani11 commented on #1497
@CecileRobertMichon Is the issue still open?

[2021-08-19 22:19] #1595 closed

[2021-08-19 22:43] CecileRobertMichon commented on #1497
@sayantani11 yes it is, would love some help with it if you want to work on it! Let us know if you need help getting started

[2021-08-19 23:03] sayantani11 commented on #1497
@CecileRobertMichon Yeah I would like to work on it, & yes can you help me on how to start?

[2021-08-20 05:28] LochanRn commented on #1497
@sayantani11  Check these out for you to get started, may be something similar to this would be great :).
https://github.com/kubernetes-sigs/cluster-api/issues/4665
https://cluster-api.sigs.k8s.io/reference/jobs.html

[2021-08-20 14:57] nprokopic opened #1634 "Missing conversion webhook for AzureClusterIdentity"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

Yes.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- Deployed CAPZ via Tilt from the current main branch.
- Ran the following check to see if `AzureClusterIdentity` has a conversion webhook.

[code]

A

[2021-08-20 14:57] nprokopic commented on #1634
/assign

[2021-08-20 16:17] #1608 closed

[2021-08-20 20:26] CecileRobertMichon commented on #1353
/close

[2021-08-20 20:26] #1353 closed

[2021-08-20 20:54] CecileRobertMichon commented on #1607
trying to repro this

/assign

[2021-08-20 21:06] #1622 closed

[2021-08-20 21:37] CecileRobertMichon commented on #1607
@sshiba I could not repro:

this is a private cluster running the latest Calico in the main branch (https://raw.githubusercontent.com/kubernetes-sigs/cluster-api-provider-azure/main/templates/addons/calico.yaml):

[code]

I wonder if something is wrong with kubelet on your cluster? Is kubelet in running state? Otherwise could it be a DNS issue because of the vnet peering?

[2021-08-21 07:01] #1618 closed

[2021-08-21 15:01] sonasingh46 commented on #1365
@CecileRobertMichon - I would like to work on this issue.

[2021-08-21 15:04] sonasingh46 commented on #1108
@shysank -- Would like to work in this issue. Thanks.

[2021-08-23 11:04] nprokopic commented on #1365
Slightly related, while working on https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1634, I added a unit test for `AzureClusterIdentity` conversion, since it was missing, and it failed, so I will also include `AzureClusterIdentity` conversion fix in #1634.

[2021-08-23 16:38] chewong commented on #1372
/remove-lifecycle stale

[2021-08-23 16:48] #1612 closed

[2021-08-23 18:46] sshiba commented on #1607
@CecileRobertMichon, I tried with 3x control plane nodes and 1x worker node and after a while calico-kube-controller get into Ready state. The coredns seems not very healthy:

[2021-08-23 18:53] sshiba commented on #1607
@CecileRobertMichon, would it be possible to share the script that you used for setting up the workload cluster's vnet and vnet peering?

[2021-08-23 22:31] CecileRobertMichon commented on #937
/lifecycle active
/assign @Jont828

[2021-08-23 23:01] CecileRobertMichon opened #1647 "Use pinned version of ingress nginx manifest, or remove it completely"
Follow up on #1641, our tests broke over the weekend because of an update to https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/kind/deploy.yaml.

We should switch to using a pinned version of ingress-nginx, or potentially get rid of the ingress-nginx deployment.

[2021-08-23 23:01] CecileRobertMichon commented on #1647
cc @devigned

[2021-08-23 23:06] jackfrancis commented on #1587
To clarify, the buggy behavior is that when you build a cluster with this template, you should *only* get a NAT Gateway to handle outbound SNAT:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/v0.5.2/templates/cluster-template-nat-gateway.yaml

Specifically, this declaration says "use NAT gateway to handle outbound SNAT for this node pool":

https://github.com/kubernetes-sigs/c

[2021-08-23 23:30] CecileRobertMichon opened #1648 "GPU test is flaky"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-postsubmit-capi-e2e-full-main is failing at around 50% rate. The first step in

[2021-08-23 23:30] CecileRobertMichon commented on #1648
/help

[2021-08-24 02:55] #1587 closed

[2021-08-24 12:50] devigned commented on #1190
/remove-lifecycle stale

[2021-08-24 15:43] #1634 closed

[2021-08-24 18:53] jackfrancis commented on #1499
While building a ~2000 node cluster I received two kubeadm failures:

[code]

And on another node:

[code]

[2021-08-24 23:05] CecileRobertMichon commented on #1555
/close

@nader-ziada looks like upgrade tests are still failing after your PR https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-main but we can tackle in a separate issue, closing this one

[2021-08-24 23:05] #1555 closed

[2021-08-25 08:00] #1558 closed

[2021-08-25 18:05] CecileRobertMichon opened #1656 "Migrate codecov action to v2"
https://github.com/codecov/codecov-action

v1 is being depracated, we should use v2 instead in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/.github/workflows/cover.yaml.

This might require changing some of the parameters to work with v2.

/help
/good-first-issue

[2021-08-30 18:27] sayantani11 commented on #1443
@devigned The linter fails as it was expected to. So I guess the issue can be closed.

[2021-08-30 18:37] #1443 closed

[2021-08-30 18:38] mboersma commented on #1614
I'm closing this, since CAPZ [v0.5.2](https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v0.5.2) has been released with the code changes to prefer Ubuntu 20.04, and the 18.04 images have been backfilled.

[2021-08-30 18:38] #1614 closed

[2021-08-30 18:51] sayantani11 commented on #1443
The Go-Linter fails when comments are missing as it should.
Verified via #1659

[2021-08-31 14:40] CecileRobertMichon commented on #1443
thanks @sayantani11!

[2021-08-31 18:21] ritazh opened #1660 "Automatic certificate rotation"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Documentation, guidance, and known issues around how to perform cert rotation for both leaf and CA cert rotation.
Beyond these:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#automatic-certificate-renewal
https://cluster-api.sigs.k8s.io/tasks/certs/usi

[2021-08-31 21:26] yogit2020 commented on #1656
/assign @yogagit123

[2021-08-31 21:34] yogagit123 commented on #1656
Please do not assign to yogit2020
/assign @yogagit123

[2021-08-31 21:51] sayantani11 commented on #1656
@yogagit123 This issue is actually taken as @himanshu007-creator is working on it as stated above

[2021-09-01 00:31] richardchen331 opened #1662 "Allow user to specify load balancer outbound ips in AzureManagedControlPlaneSpec"
/kind feature

**Describe the solution you'd like**
Allow user to specify [OutboundIPs](https://github.com/Azure/azure-sdk-for-go/blob/v55.2.0/services/containerservice/mgmt/2021-05-01/containerservice/models.go#L1893) in [AzureManagedControlPlaneSpec](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/exp/api/v1alpha4/azuremanagedcontrolplane_types.go#L28)

[2021-09-01 00:52] richardchen331 opened #1663 "Explicitly set EnableRBAC to true in AzureManagedControlPlaneSpec"
/kind feature

**Describe the solution you'd like**
It's unclear from the [Azure API doc ](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update)what default value for `EnableRBAC` is. Explicitly set [EnableRBAC](https://github.com/Azure/azure-sdk-for-go/blob/v55.2.0/services/containerservice/mgmt/2021-05-01/containerservice/models.go#L2055) to true in [AzureManagedContro

[2021-09-01 00:54] richardchen331 opened #1664 "Allow user to specify SKU for AKS"
/kind feature

**Describe the solution you'd like**
Allow user to specify [SKU](https://github.com/Azure/azure-sdk-for-go/blob/v55.2.0/services/containerservice/mgmt/2021-05-01/containerservice/models.go#L997) in [AzureManagedControlPlaneSpec](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/exp/api/v1alpha4/azuremanagedcontrolplane_types.go#L28)

[2021-09-01 15:04] jackfrancis opened #1665 "Ensure we are using the cloudprovider PrimaryScaleSetName configuration properly"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This is an exploratory issue related to the MachinePool feature. Ensure

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

The Azure cloud provider runtime comes with a `PrimaryScaleSetName` configuration property, described t

[2021-09-02 22:06] sayantani11 commented on #1660
@ritazh Can you provide a bit more insight on the task?

[2021-09-02 22:07] sayantani11 commented on #1656
/assign @himanshu007-creator

[2021-09-02 22:08] sayantani11 commented on #1656
/unassign @yogagit123

[2021-09-02 22:14] CecileRobertMichon commented on #1665
@jackfrancis you've confirmed this only applies to basic LBs correct? If so we can close this

[2021-09-02 22:14] CecileRobertMichon commented on #1663
/area managedclusters

[2021-09-02 22:16] CecileRobertMichon commented on #1662
/area managedclusters

[2021-09-02 22:16] CecileRobertMichon commented on #1664
/area managedclusters

[2021-09-02 22:25] jackfrancis commented on #1665
I haven't confirmed that. (Though I have confirmed that using a bunch of VMSS pools in a Standard LB configuration does not produce a bunch of different LBs like the comment states; it still reuses the one "cluster" LB.)

[2021-09-03 16:11] felipeweb opened #1669 "Support autoscaling on ManagedMachinePool"
/kind feature

**Describe the solution you'd like**
Enable autoscaling from MachinePools and ManagedMachinePool

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-09-03 19:35] mboersma commented on #1648
/assign

I looked at the ten most recent GPU cluster failures.

<details>
  <summary>7 were Deployment failures:</summary>

[code]
</details>

<details>
  <summary>3 were Job failures:</summary>

[code]
</details>

[2021-09-03 19:36] mboersma commented on #1648
/remove-help

[2021-09-04 07:22] LochanRn commented on #1669
/area managedclusters

[2021-09-06 03:10] andyzhangx opened #1673 "Install Azure Disk & File CSI drivers by default from 1.22"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
From AKS 1.21, Azure Disk CSI driver is already the default storage driver, and we would like to turn on azure disk csi migration from 1.23, related PR: https://github.com/kubernetes/kubernetes/pull/104670, it's time to install Azure Disk & File CSI drivers by default on capz cluster f

[2021-09-06 16:59] sayantani11 commented on #1660
I would like to work on it, but would require some help

[2021-09-07 15:33] nader-ziada commented on #1656
@yogagit123 @himanshu007-creator looks like both of you submitted PRs to address the same issue, can you both please chat with each other and consider not duplicating the work? Thanks

[2021-09-07 15:39] ritazh commented on #1660
It would be great to have a step-by-step guide to help users get started on how to perform cert rotation for both leaf and CA cert rotation, including known issues and recommendations. The links above are pretty high level.
FYI @devigned

[2021-09-07 16:50] nader-ziada opened #1674 "Cluster Name regex validation prevents valid Kubernetes object names"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- try to create a cluster with a name starting with a number, for example `1cluster-test`
- cluster creation fails with error
[code]
- Kubernetes resources n

[2021-09-07 16:53] monojit18 commented on #1495
Team,
Could not get this working as Private Cluster :(

As #1494 was resolved by adding an NSG to control plane subnet; I have added one additional step:
Created a Private DNS Zone - <cluster-name>.capz.io and linked the Management Cluster VNet into the list of Virtual Network links

But now the Private cluster creation is stuck at the Provisioning stage of the Control Plane VM
Attached log for re

[2021-09-07 19:14] CecileRobertMichon commented on #1656
Has anyone verified that the new version works without any additional required changes?

[2021-09-07 21:14] CecileRobertMichon commented on #1495
@monojit18 if you are using a peered vnet, did you also link the peered vnet to the private DNS zone? I ask because this issue seems very similar to the one @sshiba ran into recently: https://kubernetes.slack.com/archives/CEX9HENG7/p1628524704080700

You could check that this is done properly by running `nslookup  apiserver.target-cluster.capz.io` from the management cluster's vnet and making sure

[2021-09-07 22:42] arschles commented on #1181
@CecileRobertMichon great, thanks for letting me know! I'm gonna work to get #1575 done and then I'll drop in and see where this effort is, and how I can help 👍

[2021-09-08 04:56] monojit18 commented on #1495
@CecileRobertMichon  Yes, I did that specifically. So following are my steps (_different from Public Cluster scenario_):

- Added NSG to CAPZ Vnet - _Allow SSH(22), and Allow API Server(6443)_
- Created Private DNS Zone as <cluster_name>.capz.io
- Peered Management Vnet (AKS) with the CAPZ Vnet
- Added Management Vnet to the Virtual Network links of the Private DNS Zone
- Created an Nginx POD in t

[2021-09-08 14:51] nader-ziada commented on #1534
@CecileRobertMichon is there anything else to do here?

[2021-09-08 18:48] CecileRobertMichon commented on #1534
yes, this would require changing the templates and adding a managed identity to prow so we can use it in e2e. For flavors, it would require users passing in the managed identity ID so it would require some extra steps and documentation.

[2021-09-08 23:42] #1572 closed

[2021-09-09 15:44] CecileRobertMichon commented on #1572
@praveenghuge this was already fixed in #1675. @Jont828 please make sure you comment `/assign` on issues when you're working on them so that others know to avoid duplicate work.

[2021-09-09 15:48] CecileRobertMichon commented on #1674
would you expect the webhook to fail if any of the defaulted resource names are invalid (for example `1cluster-test` is not a valid resource group name, and if not provided the rg name will default to the cluster name), or that the webhooks somehow know how to default the resource group and other resource names to a valid name (that seems dangerous, how do we ensure there are no collisions with ot

[2021-09-09 15:49] CecileRobertMichon commented on #1673
this is tracked in https://github.com/kubernetes-sigs/cluster-api/issues/4166

[2021-09-09 16:04] nader-ziada commented on #1674
my main concern is that this is not consistent with other provider, so wondering if there is a way to add a prefix or something in the internal resource names to avoid this situation.

[2021-09-09 17:49] richardchen-db commented on #1663
/assign

[2021-09-09 17:53] richardchen-db commented on #1663
/unassign

[2021-09-09 17:54] richardchen331 commented on #1663
/assign

[2021-09-09 17:54] richardchen331 commented on #1662
/assign

[2021-09-09 17:54] richardchen331 commented on #1664
/assign

[2021-09-09 22:27] monojit18 commented on #1495
Team,

Is there anything I am still missing for Private clusters?

[2021-09-10 00:46] #1663 closed

[2021-09-11 00:35] CecileRobertMichon commented on #1495
@monojit18 could you try with [this script](https://github.com/kubernetes-sigs/cluster-api-provider-azure/files/6979058/create-peering-vnet.txt) provided by @sshiba in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1607 ?

@Jont828 is working on #532 and #1601 to make this whole process easier BTW, hoping that will help.

[2021-09-11 23:41] sayantani11 commented on #1656
@CecileRobertMichon Let me know if the issue isn't solved. I guess there are some additional changes required as well, I went through the docs. I will be happy to update it.

[2021-09-13 23:01] CecileRobertMichon commented on #1648
@mboersma any idea what caused the deployment failures?

[2021-09-13 23:56] CecileRobertMichon commented on #1607
@sshiba apologies for the delayed response. Here are the steps I followed (very similar to yours):

1) create an AKS cluster with --network-plugin "azure" (kubenet doesn't work with AAD pod identity) to use as management cluster
2) export variables required by your script. Ephemeral RG and vnet are the AKS rg and vnet from above.
3) run your script (without any changes to it)
4) update the templat

[2021-09-14 06:08] Ankitasw commented on #1394
/assign
/lifecycle active

[2021-09-14 17:09] #1664 closed

[2021-09-14 18:34] CecileRobertMichon opened #1685 "Mark all ID fields as READ-ONLY and standardize how we set resource IDs across services"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, some of the services (subnets, route tables for example) set the Azure resource ID of existing resources in the spec as part of Reconcile(). There are a couple of problems with this:
1) The ID field is part of the spec, not status, but is not user configurable. If a user we

[2021-09-14 18:34] CecileRobertMichon commented on #1685
/assign

[2021-09-14 19:17] mboersma commented on #1648
The deployment failure I'm still trying to nail down, but I have a lead on the Job failure:

[code]

[2021-09-14 20:42] devigned commented on #1267
/remove-lifecycle stale

[2021-09-14 21:07] mboersma commented on #1648
As to the deployment error, I'm seeing that on my subscription the `Standard_NV6` SKU isn't actually available except in a couple locations. Is there some way to run `az vm list-skus --all --size standard_nv` from the testgrid subscription, or to fetch the capz-manager logs on a failed run?

[2021-09-14 21:10] alexeldeib commented on #1648
You could do something similar to what we do for kubernetes version with aks: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e656f30c756d44e205fbbbef673c70a59687fe02/test/e2e/aks.go#L220

the sku client should have most of the helpers you need, just make sure to take an Nvidia family (there's no way to tell in the API if it's nvidia/amd except knowing the families)

[2021-09-14 21:12] alexeldeib commented on #1648
testgrid also has artifacts from all test runs in the top right corner, manager logs are in there under artifacts/clusters/bootstrap/controllers/capz-controller-manager

[2021-09-14 23:47] richardchen331 opened #1687 "Support multiple CIDR blocks and multiple subnets in AzureManagedControlPlane"
/kind feature

**Describe the solution you'd like**
Today `AzureManagedControlPlane` allows user to specify [one CIDR block and one subnet](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/exp/api/v1alpha4/azuremanagedcontrolplane_types.go#L117-L118) for its networking. We'd like it to support multiple CIDR blocks and multiple subnets (by changing the current spec to use a s

[2021-09-14 23:49] richardchen331 commented on #1687
/assign

[2021-09-15 00:14] CecileRobertMichon opened #1688 "Enable coalescing reconciler for all controllers"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1332/commits/b6b38b0e6f81b57e98f9eb933e3e6a9cbf2f5936 added a coalescing reconciler to enable debouncing of reconciles of AzureMachinePools and AzureMachinePoolMachines. We should enable this for all controllers to mak

[2021-09-15 00:14] CecileRobertMichon commented on #1688
/assign

[2021-09-15 16:02] mboersma commented on #1648
Thanks @alexeldeib!

I'm seeing the pattern now once I correlated the artifacts/clusters/bootstrap/resources/capz-e2e-[cluster-id]/events.log with the failed GPU runs:

[code]

I can fix this. Azure is going to sunset `Standard_NV6` in a year anyway, so I'll probably switch to the newer SKUs as well.

[2021-09-15 16:10] mboersma commented on #1648
Here are the regions in which `Standard_NV6` is actually available (`NotAvailableForSubscription` means the SKU could be made available with a quota increase, I think):

[code]

The [recommended replacement SKU](https://docs.microsoft.com/en-us/azure/virtual-machines/nv-series-migration-guide#nvsv3-series) is more generally available:

[code]

[2021-09-15 17:14] meixingdb opened #1689 "CAPZ AKS - cannot create node pools with the same name under multiple AKS clusters defined in the same namespace"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

I cannot create node pools with the same name under multiple AKS clusters defined in the same namespace.
In CAPZ to provision AKS cluster, the machinepool/Azuremanagedmachinepool object uses the k8s object name from metadata to create the AKS node pools. The

[2021-09-15 17:22] devigned commented on #1689
The `AzureMangedMachinePool` uses the name of the K8s resource as the name of the AKS node pool. What would folks think about being able to override the name of the node pool with an optional name field in the spec?

[2021-09-15 18:17] alexeldeib commented on #1689
yep^

I think we should shift to rely on spec only, maybe with interim defaulting based on the name for back compat.

[2021-09-15 18:23] alexeldeib commented on #1689
/area managedclusters

[2021-09-16 21:36] devigned opened #1692 "PublicIP resources should not PUT on each AzureCluster reconcile"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
When reconciling an `AzureCluster` each reconcile loop will cause a PUT for each PublicIP resource.

**What did you expect to happen:**
PublicIP resources should only be mutated with a PUT if the desired state h

[2021-09-17 18:04] CecileRobertMichon opened #1696 "Resource group should get updated if tags are added"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

Currently, we only create the resource group if it doesn't already exist: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/47caf96183f7d3bd1e4dda5944a06dae10318bc7/azure/services/groups/spec.go#L53. However, we should consider adding any ad

[2021-09-17 20:43] mboersma commented on #749
/close

The switch to `main` branch was completed a few weeks ago.

[2021-09-17 20:43] #749 closed

[2021-09-20 09:52] karuppiah7890 commented on #1696
I'm assuming no one is working on this as of now
/assign

[2021-09-20 11:50] karuppiah7890 opened #1698 "Invalid `tilt-setting.json` creation script in dev guide"
In https://capz.sigs.k8s.io/developers/development.html#tilt-for-dev-in-capz , the script to create Tilt setting JSON file is -

[code]

This leads to an error while running Tilt -

[code]

This is because of the extra `,` (comma) after the value of `AZURE_CLIENT_ID_B64` key. I'll raise a PR to fix this in the dev guide

[2021-09-20 11:52] karuppiah7890 commented on #1698
I think this problem might popup even in the other JSON file mentioned in https://capz.sigs.k8s.io/developers/development.html#tilt-for-dev-in-both-capz-and-capi section

[code]

Notice the `,` (comma) after the value of `AZURE_CLIENT_ID_B64` key. I'll fix that too in the PR

[2021-09-20 11:53] karuppiah7890 commented on #1698
/assign

[2021-09-20 12:00] karuppiah7890 commented on #1698
Not sure if others noticed this though. Maybe others didn't in case they fixed it or maybe they never had the problem. I'm wondering if it's because of my default Python version. With `python` I get Python `v2.7.16`, I need to use `python3` for Python `v3.x`

[code]

I did see that both Python 2 and Python 3 are okay here - https://capz.sigs.k8s.io/developers/development.html#base-requirements

[2021-09-20 13:03] karuppiah7890 opened #1700 "Dev Guide: No mention of setting `CLUSTER_IDENTITY_NAME` for creating workload cluster"
As part of https://capz.sigs.k8s.io/developers/development.html#customizing-the-cluster-deployment , there's no mention of setting `CLUSTER_IDENTITY_NAME` environment variable but it's used in the template yaml - https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/621f596ed7a2f46d7c6a6a239a35e9eea7385380/templates/cluster-template.yaml#L211

Due to this, when creating workload clust

[2021-09-20 13:04] karuppiah7890 commented on #1700
I see `CLUSTER_IDENTITY_NAME` being set in here though - https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/7a76e16a66d2953bc9467a19e952c5b4b27ee1d9/hack/create-dev-cluster.sh#L55 , which seems to be creating management and workload cluster though using [this](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/7a76e16a66d2953bc9467a19e952c5b4b27ee1d9/hack/create-dev

[2021-09-20 13:07] karuppiah7890 commented on #1700
There's also no mention of `AZURE_CLUSTER_IDENTITY_SECRET_NAME` and `AZURE_CLUSTER_IDENTITY_SECRET_NAMESPACE` which are also needed here - https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/621f596ed7a2f46d7c6a6a239a35e9eea7385380/templates/cluster-template.yaml#L217-L218

[2021-09-20 13:12] karuppiah7890 commented on #1700
Maybe something like https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/1f0278cd4f3e5fc3ab7567f8580e38ece94c70c5/hack/create-dev-cluster.sh#L54-L56 could be mentioned in the dev guide along with what's already there in https://capz.sigs.k8s.io/developers/development.html#customizing-the-cluster-deployment

[2021-09-20 13:30] #1698 closed

[2021-09-20 16:59] #1325 closed

[2021-09-20 17:05] meixingdb opened #1701 "AKS clusters should allow users to specify more optional configuration for node pools"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add optional configurations for users to specify specs for AKS node pools. The list of options include:
// MaxCount - Maximum number of nodes for auto-scaling
// +optional
MaxCount
// MinCount - Minimum number of nodes for auto-scaling
// +optional
MinCount
// EnableAutoScaling - Whet

[2021-09-20 17:06] meixingdb commented on #1701
/area managedclusters

[2021-09-20 17:14] shysank opened #1702 "Make azure services async"
/kind feature

- #1541 introduced proposal to make azure service reconciliation asynchornous
- #1610 added a framework to achieve this by following a repeatable pattern

This issue aims to track individual services for the same:

- [ ] agentpools
- [ ] availabilitysets
- [ ] bastionhosts
- [ ] disks
- [x] groups - #1667
- [ ] inboundnatrules
- [ ] loadbalancers
- [ ] managedclusters
- [ ] natgatew

[2021-09-20 17:15] shysank commented on #1702
cc @CecileRobertMichon

[2021-09-20 17:19] CecileRobertMichon commented on #1702
thank you for opening this!

[2021-09-20 17:19] mboersma commented on #1354
I think a cherry-pick of #1693 might fix this. The failures I looked at in the 0.4 branch seemed to be Job timeouts.

[2021-09-20 17:22] CecileRobertMichon commented on #1700
thanks for opening an issue @karuppiah7890. Agreed we should add it to docs.

/kind documentation
/good-first-issue

[2021-09-20 17:22] CecileRobertMichon commented on #1702
/assign

[2021-09-20 17:24] CecileRobertMichon commented on #1702
Now that's I've opened a few PRs with some examples (and once the VM one merges, since that one has a few changes in the helpers), I would love some help to get this done. Since each service is self-contained, different people can open PRs in parallel, similar to what we did for #757. We just need to communicate on this issue before starting to work on a service so two people don't work on the sam

[2021-09-20 17:26] CecileRobertMichon commented on #1696
@karuppiah7890 go for it, let me know if you have any questions

[2021-09-20 19:08] shysank commented on #1674
Instead of adding a prefix in the background which can cause name collisions as Cecile has pointed out, can we have a flag that indicates that the user is willing to take that risk? The webhook will fail if the flag is set as false with an appropriate error message to nudge the user to set the flag to true. wdyt?

[2021-09-20 21:02] CecileRobertMichon commented on #1674
Rather than a flag, I would prefer that if the user is defining a cluster name that is not a valid resource name (eg. RG), then we fail validation if they don't provide a valid RG name explicitly. I think allowing the user to use the webhook in a way that can cause collisions, whether through a flag or not, is too risky and could cause them to shoot themselves in the foot. They might be tempted to

[2021-09-21 05:08] karuppiah7890 commented on #1702
How about we create separate GitHub issues for each service? More like sub tasks. GitHub supports that. Example - https://github.com/pingcap/tidb/issues/28010 (issue) , https://github.com/pingcap/tidb/issues/26747 (super issue for tracking), https://github.com/pingcap/tidb/issues/26022 (super super issue for tracking)

[2021-09-21 05:09] karuppiah7890 commented on #1702
Creating separate issues will avoid duplicate work or having to track assigned folks and the service they are assigned to from comments. We just have to ensure no one assigns themselves to this issue the super issue for tracking

[2021-09-21 06:00] KamaljeetSahoo commented on #1700
/assign @KamaljeetSahoo

[2021-09-21 07:14] karuppiah7890 commented on #1696
@CecileRobertMichon Are there tests for the `client.go` files? For example [`azure/services/groups/client.go`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/47caf96183f7d3bd1e4dda5944a06dae10318bc7/azure/services/groups/client.go) file's code in the case of this issue. I'm looking at where to add a test and I noticed that `CreateOrUpdateAsync` in [`azure/services/groups/client

[2021-09-21 07:33] karuppiah7890 commented on #1696
I could add a unit test for now, for the updating additional tags if there are any in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/47caf96183f7d3bd1e4dda5944a06dae10318bc7/azure/services/groups/spec.go#L51-L55 and add a test aside it in `spec_test.go`. I'll also implement to fix the failing test. And then I'll think about how to test the etag part and then implement that too

[2021-09-21 07:48] karuppiah7890 commented on #1696
Also, I noticed the test in [`azure/services/groups/groups_test.go`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/47caf96/azure/services/groups/groups_test.go), but that mocks away `CreateOrUpdateAsync` so I'm not writing a test in that file

[2021-09-21 08:17] karuppiah7890 commented on #1696
I have a question regarding updates - should the update only allow updation of additional tags of resource groups? Atleast for this issue. Should we ensure we don't update the other data? I see that we use `autorest.AsPut()` call in the Azure Go SDK in `CreateOrUpdate` call which in turn calls `CreateOrUpdatePreparer` which uses `PUT`  and use `PUT` method, which I'm assuming overrides the data ra

[2021-09-21 08:19] karuppiah7890 commented on #1696
Okay, looks like `location` field is actually required in the `PUT` call according to https://docs.microsoft.com/en-us/rest/api/resources/resource-groups/create-or-update#request-body

[2021-09-21 08:30] sbueringer opened #1707 "Remove kube-rbac-proxy"
/kind cleanup

According to the v1alpha4 migration documentation kube-rbac-proxy should be removed: https://cluster-api.sigs.k8s.io/developer/providers/v1alpha3-to-v1alpha4

- cluster-api-provider-azure version: main

[2021-09-21 08:30] karuppiah7890 commented on #1696
For CAPZ managed vs CAPZ non-managed, we figure this out through the tags, right? So, we will check if the tags here https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/47caf96183f7d3bd1e4dda5944a06dae10318bc7/azure/services/groups/spec.go#L58-L64 excluding the additional tags are present, then it's CAPZ managed, right? Also we need to build it with `infrav1.Build` to get the prefix

[2021-09-21 09:40] karuppiah7890 commented on #1696
I guess for checking if the group is managed or not we could just use https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/47caf96183f7d3bd1e4dda5944a06dae10318bc7/azure/services/groups/groups.go#L104-L117 but this is in `azure/services/groups/groups.go`. Maybe we could use a similar code in `azure/services/groups/client.go` to avoid calling `spec.Parameters` here https://github.com/

[2021-09-21 10:38] fiunchinho commented on #1279
Nice work @jackfrancis  . Do you have an ETA for a PR?

[2021-09-21 15:17] karuppiah7890 commented on #1696
Question: Let's say a cluster is created and managed using CAPZ, and an additional tag is added to the resource group from outside (by the user or something) without using CAPZ, now, when we manage the resource group, do we manage the extra tag? Do we remove it and only ensure that the CAPZ's `AzureCluster` `additionalTags` are present? Extrapolating the question to a generic question - do we only

[2021-09-21 15:27] karuppiah7890 commented on #1696
About checking if the resource group is managed or not, looking at the code it looks like we want to move lot of the logic into `Parameters` method - since as of now even for existing resource group, a `nil` value is returned from `Parameters` and handled at the client level in `client.go`, instead of simply handling existing resource groups as a no-op. So I'm going to be putting all the logic in

[2021-09-21 19:11] shysank commented on #1702
issue -> super issue -> super super issue, you brought me some java memories there :) On a serious note though, while I agree that having separate issues is useful in some ways (like fixes feature), I didn't want to flood the issues page with this. Having said that, I'm okay if others feel the same way of maintaining separate issues.

[2021-09-21 20:56] CecileRobertMichon opened #1708 "async subnets"

[2021-09-21 20:58] CecileRobertMichon opened #1709 "async availabilitysets"

[2021-09-21 20:58] CecileRobertMichon opened #1710 "async bastionhosts"

[2021-09-21 20:58] CecileRobertMichon opened #1711 "async disks"

[2021-09-21 20:58] CecileRobertMichon opened #1712 "async inboundnatrules"

[2021-09-21 20:58] CecileRobertMichon opened #1713 "async loadbalancers"

[2021-09-21 20:59] CecileRobertMichon opened #1714 "async natgateways"

[2021-09-21 20:59] CecileRobertMichon opened #1715 "async privatedns"

[2021-09-21 20:59] CecileRobertMichon opened #1716 "async publicips"

[2021-09-21 20:59] CecileRobertMichon opened #1717 "async networkinterfaces"

[2021-09-21 20:59] CecileRobertMichon opened #1718 "async roleassignments"

[2021-09-21 21:01] CecileRobertMichon commented on #1702
so converting to issues is actually just one click so I just went ahead and converted some of the ones that are ready to be picked up. For folks who want to help, please use the sub-issues to assign yourself before opening a PR for one of the services.

[2021-09-21 21:34] #1662 closed

[2021-09-21 23:13] mboersma commented on #1354
/assign

[2021-09-21 23:22] CecileRobertMichon commented on #532
@Jont828 can you please comment `/assign` here

[2021-09-22 00:02] #1481 closed

[2021-09-22 00:04] CecileRobertMichon opened #1720 "AKS test is flaky"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

AKS tests have been failing very frequently recently with error "System machine pools not ready". Example:https://prow.k8s.io/view/gs/kubernetes-jenkins/log

[2021-09-22 00:05] CecileRobertMichon commented on #1720
/cc @LochanRn @mboersma @alexeldeib

[2021-09-22 04:18] karuppiah7890 commented on #1696
cc @CecileRobertMichon ^

[2021-09-22 05:16] karuppiah7890 commented on #1696
Following the question on managed resource groups and declarative behavior, let's say a resource group only has the tag `sigs.k8s.io_cluster-api-provider-azure_cluster_test-cluster: owned` and no `Name` or role tags, maybe the user removed it let's say, then the next time `additionalTags` are updated from empty map to some tags, in this situation do we add just the `additionalTags` or do we also a

[2021-09-22 06:12] karuppiah7890 commented on #1696
I created a draft / WIP PR so that one can see the changes live as I'm working on it. #1721 cc @CecileRobertMichon

[2021-09-22 06:15] LochanRn commented on #1720
/area managedclusters

[2021-09-22 08:02] karuppiah7890 commented on #1696
About the checking of ETag , looks like the Azure API does **not** provide ETag for resource groups -

https://docs.microsoft.com/en-us/rest/api/resources/resource-groups/get - GET
https://docs.microsoft.com/en-us/rest/api/resources/resource-groups/check-existence - HEAD

But yeah, other APIs like Network Security Group have ETag in the response

https://docs.microsoft.com/en-us/rest/api/virtualne

[2021-09-22 08:05] karuppiah7890 commented on #1696
Any thoughts on how we can go about avoiding race conditions?

[2021-09-22 14:58] devigned commented on #1696
One possible option is to use https://docs.microsoft.com/en-us/rest/api/resources/tags/update-at-scope where the scope is the resource group and the PATCH operation would only contain the tags we would like to mutate.

[2021-09-22 15:51] karuppiah7890 commented on #1696
Interesting! Thanks for sharing @devigned ! I'll check it out in detail and also check the corresponding Azure Go SDK API for using it. One tricky thing is, this would mean that we would detect resource group updates separately and use separate API calls for it and deviate from the path of using the [Create Or Update API of resource group](https://docs.microsoft.com/en-us/rest/api/resources/resour

[2021-09-22 15:54] devigned commented on #1696
It will introduce more complexity, but I don't see another way around the possibility of wiping out tags applied between GET and PUT. I think the trade off of slightly more complexity in update is better than the harm of possible data loss.

[2021-09-22 16:03] karuppiah7890 commented on #1696
Complexity - cool 👍 And I'm still trying to grok the problem and the solution we are aiming for. This is what I understand from the race condition problem -

If entity A does a GET on resource group and does some processing (checking diff etc and deciding to update or not) and then does a PUT finding out that it needs to update tags

In the meanwhile exactly after entity A does GET, another entity

[2021-09-22 16:12] CecileRobertMichon commented on #1696
We;re actually already updating tags using update-at-scope for VMs, we could do something similar for resource groups: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/scope/machine.go#L114

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/controllers/azuremachine_reconciler.go#L115

https://github.com/kubernetes-sigs/cluster-api-provider-azure/b

[2021-09-22 16:14] devigned commented on #1696
If A and B GET at the same time they see the same RG. If A then updates the RG and we now have RG' stored, then B may be working with stale data.

Let's say that B only cares about making sure that RG exists, and that tags `{Key1: Value1, Key2: Value2}` exist on RG, then rather than doing a PUT on RG, the do a PATCH with merge on the tags. Even if B has dirty data, the PATCH of the tags will only

[2021-09-22 16:21] karuppiah7890 commented on #1696
yeah, I was gonna ask about what all data can we change on resource groups. Clearly location is constant, name is the identifier, we are left out with tags. So create uses create or update API and tags update can use the tags API

And about updating tags - are we saying that we want to do a PATCH and only manage the tags that CAPZ owns, in case the resource group is CAPZ managed and not meddle wit

[2021-09-22 16:25] karuppiah7890 commented on #1696
Sorry about the list of questions. I'm basically trying to understand this - `the end result we are seeking.`

[2021-09-22 16:29] karuppiah7890 commented on #1696
This is what I understand - if different entities are managing the resource group's tags, then each of them would have their own set of tags to manage which most probably won't collide. For this reason, just using PUT won't work as it would completely replace the existing set of tags when each entity tries to do an update using PUT, and instead we try to do a PATCH.

I'm only curious about what th

[2021-09-22 17:24] devigned commented on #1696
Could be just about anything. For example, tags are used as a facet in billing which allows folks to set tags and break up billing for a given tag. These tags are often managed through outside systems or manually. There's lots of uses outside of what we use.

Yes. This is the intended behavior.

[2021-09-22 17:31] karuppiah7890 commented on #1696
Cool ! 👍

[2021-09-22 17:34] CecileRobertMichon commented on #1696
If you do go with the update-at-scope tag service, could you please add a comment in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/47caf96183f7d3bd1e4dda5944a06dae10318bc7/azure/services/groups/spec.go#L53 that specifies that tags are updated separately?

[2021-09-22 17:34] karuppiah7890 commented on #1696
What about deletion of tags? Do we handle that too? I see that the existing code here seems to handle it

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/c878bb9/azure/services/tags/tags.go#L105-L106

and I guess we expect that to be the case for resource group too?

[2021-09-22 17:37] karuppiah7890 commented on #1696
Sure @CecileRobertMichon ! I'll try to follow pattern of the code that you referred in here https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1696#issuecomment-925077544 - and use tag service from https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/services/tags/tags.go

[2021-09-22 17:45] CecileRobertMichon commented on #1696
yes, if the tags are managed, I think we want the tag list to == our default tags + additional tags from spec

the only difference here will be to only do this if the RG is managed (for VMs there is no concept of managed/unmanaged so we update tags no matter what), but you can use tags to determine this (the owned tag specifically).

[2021-09-22 18:02] CecileRobertMichon commented on #1601
/assign @Jont828

[2021-09-22 22:00] #1688 closed

[2021-09-23 03:26] karuppiah7890 commented on #1696
Okay! 👍

[2021-09-23 09:56] karuppiah7890 commented on #1696
@CecileRobertMichon @devigned Since we want to manage the resource group's tag with updates and deletes too, I'm gonna be using the existing code in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/services/tags/tags.go which uses [Tags Create or Update At Scope API](https://docs.microsoft.com/en-us/rest/api/resources/tags/create-or-update-at-scope) rather than using [

[2021-09-23 15:58] karuppiah7890 commented on #1696
I was also wondering how to do the testing for this. I did some manual testing, but for automated test, I wasn't sure where to put it. Currently I noticed I might have to do too much mocking to get even existing tests to work because of the way I have implemented. Maybe could someone take a look at the code in #1721 and let me know how the code looks? The placement of logic etc and then I can also

[2021-09-23 16:57] shysank opened #1722 "Bump api version to v1beta1"
/kind feature

**Describe the solution you'd like**
As discussed in the office hours meeting on 09/16/2021, there is consensus that capz already satisfies all the criteria required to upgrade to beta api.

- Bump API version to v1beta1 to match Cluster API Core

**Anything else you would like to add:**

- [x] #1723
- [x] #1724
- [x] #1725
- [x] #1726
- [x] #1727
- [x] #1736
- [x] #1809

**Environm

[2021-09-23 16:58] shysank commented on #1722
/priority important-soon

[2021-09-23 17:00] shysank commented on #1722
cc @CecileRobertMichon
For some reason `convert task to issue` is not working for me. Can you see if it works whenever you get a chance?

[2021-09-23 19:13] CecileRobertMichon opened #1723 "bump controller runtime version to v0.10 and controller tools to v0.7"

[2021-09-23 19:13] CecileRobertMichon opened #1724 "Refactor v1alpha3 webhooks to convert to v1beta1 hub"

[2021-09-23 19:13] CecileRobertMichon opened #1725 "Add v1alpha4 to v1beta1 conversions"

[2021-09-23 19:13] CecileRobertMichon opened #1726 "Bump clusterctl metadata to v1beta1"

[2021-09-23 19:13] CecileRobertMichon opened #1727 "Update e2e upgrade tests for v1alpha3 -> v1beta1"

[2021-09-23 19:13] CecileRobertMichon commented on #1722
@shysank done, it might be because I have write / admin permissions on the repo

[2021-09-23 19:45] CecileRobertMichon commented on #1707
@mboersma @devigned how would this affect telemetry (if at all)? Are we currently using kube-rbac-proxy?

[2021-09-23 19:54] CecileRobertMichon commented on #1707
/assign

[2021-09-23 20:38] mboersma commented on #1707
I don't think this would affect our telemetry stack.

[2021-09-23 21:18] shysank commented on #1723
/assign

[2021-09-23 21:18] shysank commented on #1724
/assign

[2021-09-23 21:19] shysank commented on #1725
/assign

[2021-09-24 06:05] sbueringer commented on #1707
I don't know enough about CAPZ to assess the consequences but in CAPI it hat the following effect:
* before kube-rbac-proxy was removed the metrics could be scraped via the kube-rbac-proxy (but only authenticated)
* now metrics cannot be scraped at least when using the release manifests directly, because kube-rbac-proxy is gone and we're binding the metrics port on localhost (https://github.com/ku

[2021-09-24 17:36] CecileRobertMichon commented on #1707
I tested locally with tilt and I was still able to see traces in Jaeger, will open a PR shortly.

[2021-09-24 17:45] sbueringer commented on #1707
Makes sense, this only affects metrics :)

[2021-09-24 17:51] randomvariable commented on #1722
i didn't know this was a feature. i painstakingly created each issue in capa and capv for nothing. :(

[2021-09-24 17:52] randomvariable commented on #1722
btw, you might also want to do an upgrade test from v1alpha4 to v1beta1

[2021-09-24 22:41] CecileRobertMichon commented on #1726
@Jont828 do you want to take this one? All this needs is adding a v1beta1 entry to https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/metadata.yaml

[2021-09-24 22:58] jsturtevant opened #1732 "When workload cluster is not in working state AzureCluster still reports Ready"
/kind bug

**What steps did you take and what happened:**

Similar report to https://github.com/kubernetes-sigs/cluster-api/issues/5324, I deleted all the machines in azure for a workload and the Azure cluster still reported `READY=true`

[code]

[code]

**What did you expect to happen:**

If all my machines are deleted and there is no control plane I wouldn't expect my azurecluster to report read

[2021-09-24 23:21] jsturtevant commented on #1732
Had a brief conversation with @CecileRobertMichon offline. The word "Cluster" is what's confusing me here, I interpreted it as the whole cluster (machines included) but in CAPI terminology it means just "cluster network infrastructure" (which happens to be fine in this case)

Not sure if there is action to take here. One thought would be to update the CAPI terminology to be clearer but that would

[2021-09-27 10:05] karuppiah7890 commented on #1732
Just curious, what does "cluster network infrastructure" mean in this case? and how is it fine? 🤔

Are we talking about network resources in Azure? Virtual Networks, Subnets and the kind?

[2021-09-27 15:23] jsturtevant commented on #1732
Yes, it is the virtual networks, subnets, etc.  In this case all of the components are existing and configured (minus backend pools that point to the VM's there were deleted)

[2021-09-27 15:26] karuppiah7890 commented on #1732
It is indeed a weird experience to be told that cluster is ready when no workload can run in the cluster and when the Kubernetes platform itself does not exist

[2021-09-27 16:27] sonasingh46 commented on #1727
Do we have v1alpha3->v1alpha4 upgrade tests already? I am not able to find those.

[2021-09-27 17:06] CecileRobertMichon commented on #1732
I agree, I think "Cluster" is a misrepresentation of what the Cluster CRD + controller actually do. Here's where that's defined in the CAPI book: https://cluster-api.sigs.k8s.io/developer/providers/cluster-infrastructure.html

Going to start a discussion in slack to see what other CAPI folks think.

[2021-09-27 17:13] CecileRobertMichon commented on #1727
@sonasingh46 we do not, we need to add those. This issue was created from the template in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1722 but it shouldn't say update here, it should say add.

/retitle Add e2e upgrade tests for v1alpha3 -> v1beta1

[2021-09-27 17:14] CecileRobertMichon commented on #1338
/reopen

[2021-09-27 17:20] CecileRobertMichon opened #1735 "Add cluster upgrade tests"
We should add cluster upgrade tests using https://github.com/kubernetes-sigs/cluster-api/blob/main/test/e2e/cluster_upgrade.go. Note that the test also runs conformance, so we should make it its own periodic job as it might be lengthy.

Example of how to use the framework: https://github.com/kubernetes-sigs/cluster-api/blob/main/test/e2e/cluster_upgrade_test.go#L28

[2021-09-27 17:20] CecileRobertMichon commented on #1735
/help

[2021-09-27 17:59] CecileRobertMichon opened #1736 "Audit APIs"

[2021-09-27 23:11] CecileRobertMichon opened #1738 "Windows clusters Invalid MAC address '6667{mac}' error in cloud init"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

seeing this in cloud init logs of a linux node in a windows cluster:

[code]

looking at the template it has sed -i -e "s/MACADDRESS/$${mac}/g" /etc/netplan

[2021-09-28 09:32] sonasingh46 commented on #1727
Thanks @CecileRobertMichon -- so you mean to say that we should ideally have all the combination of test of apiVersion
i.e
v1alpha3-->v1alpha4
v1alpha4 --> v1beta1
And if in near future we have v1beta1 ( for example )
We might need to do v1alpha4 -->v1beta2 or only v1beta1 --> v1beta2 will suffice.

[2021-09-28 19:49] shysank opened #1739 "cluster upgrade fails when provider is updated from 0.4.14 to 0.5.x"
/kind bug

**What steps did you take and what happened:**

1. Create a MC using CAPZ 1.4.14.
2. Create WC with k8s version 1.20
3. Upgrade MC to CAPZ 1.5.2
4. Upgrade WC to k8s version 1.21.
5. fails in pip reconciliation with the following error
`
Error: Code=\"ResourceAvailabilityZonesCannotBeModified\" Message=\"Resource /subscriptions/bla/resourceGroups/bla/providers/Microsoft.Network/publicIP

[2021-09-28 19:49] shysank commented on #1739
/priority-important-soon

[2021-09-28 19:50] shysank commented on #1739
/assign

[2021-09-28 19:53] shysank commented on #1739
@CecileRobertMichon the only change I can see is the sdk update from `2019-06-01` to `2021-02-01`. I couldn't find anything that's different happening in the client side. Is it possible that for the old api version, the zones were automatically set in the backend?

[2021-09-28 19:57] shysank commented on #1739
If so, we have to options:
1. Revert to the old sdk version.
2. Explicitly set all az's for the region in the client. wdyt?

[2021-09-28 20:49] CecileRobertMichon commented on #1739
could it be related to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/966 ?

[2021-09-28 20:50] CecileRobertMichon commented on #1739
this goes back to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1727, we really need to add an upgrade test

[2021-09-28 20:52] CecileRobertMichon commented on #1739
if possible we should avoid reverting to old SDK, or at least find a solution for the long term because we shouldn't stay stuck on the old version forever. If reverting the SDK is the quickest way to mitigate the issue while we we investigate a fix, then let's do that.

Option 2 of setting zones explicitly in the client seems like it's what we want.

[2021-09-28 20:52] CecileRobertMichon commented on #1739
/cc @devigned to help while I'm out

[2021-09-28 21:27] shysank commented on #1739
I'll try option 2, do some tests locally; time-box it for a day or two. If it doesn't work out, I'll revert back to option 1.

[2021-09-29 08:13] karuppiah7890 commented on #1716
I'm assuming no one's working on this, and also assuming that #1721 work is mostly over with maybe some discussion and final touches pending

I'll try to give this one a shot!

/assign

[2021-09-29 08:52] whites11 commented on #165
I am not working on this any more, will unassign me.

[2021-09-29 10:27] karuppiah7890 commented on #1692
I'll see if this can be handled as part of the sync to async migration in #1716 or else migrate as is. I'll check the code and see the difference in effort with and without the bug fix

[2021-09-29 10:27] karuppiah7890 commented on #1692
cc @CecileRobertMichon

[2021-09-29 12:26] karuppiah7890 commented on #1692
@devigned I was just trying out the PUT API multiple times with same request body to see the behavior. I see that the public IP (I tried IPv6) is not affected. What's the aim of this issue? To reduce the API calls to Azure when there's no change? and to also avoid PUT request which is usually meant to do updates (generally by overwrites)? Or is there any other aim / extra aim for this issue?

If i

[2021-09-29 13:22] karuppiah7890 commented on #1716
Question: For getting tags of Public IP to check if Public IP is managed or not over here

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e5327290e4fd5df3fae5779296b8e1d2c73c508e/azure/services/publicips/publicips.go#L141-L150

Can we replace the GET Public IP API call with GET Tags At Scope API call with Public IP as scope? I think that would make the GET API call more light w

[2021-09-29 13:29] karuppiah7890 commented on #1716
Regarding `Delete`, looks like the DELETE Public IP API Call never returns 404 Not Found according to https://docs.microsoft.com/en-us/rest/api/virtualnetwork/public-ip-addresses/delete#response . It may return some cloud errors though. If that's true then I guess in the below code, the if condition on error scenario is never executed

https://github.com/kubernetes-sigs/cluster-api-provider-azure/

[2021-09-29 14:56] karuppiah7890 commented on #1692
Maybe we should also talk about what kind of updates are allowed for Public IPs. I mean, looking at some of the validations being done [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e5327290e4fd5df3fae5779296b8e1d2c73c508e/api/v1alpha4/azurecluster_validation.go) by using the [webhook](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e5327290e4fd5df3fae

[2021-09-29 15:06] devigned commented on #1692
Great questions, @karuppiah7890. The goal here is to minimize "writes" (mutations) to the Azure API. Azure APIs have lower throttling limits for writes than for reads, particularly reads that GET by resource ID.

For any resource, we should be able to GET from Azure, compare the state in Azure, then only mutate state in Azure if the desired state in K8s is different than the state in Azure.

[2021-09-29 15:09] devigned commented on #1739
@shysank ping me if you want to pair on this.

[2021-09-29 16:10] karuppiah7890 commented on #1692
Makes sense @devigned 👍

[2021-09-29 19:33] jsturtevant commented on #1114
/reopen

Happened on #1640

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1640/pull-cluster-api-provider-azure-e2e/1443255955692195840

[2021-09-29 20:57] richardchen331 commented on #1689
/assign

[2021-09-30 00:58] meixingdb opened #1743 "create AKS with all node pools at creation time"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

Currently CAPZ only create system node pools together with the AKS cluster. In some cases, the machinepool controller will update have race condition with managedcluster controller. AKS side cannot handle concurrent requests well, so the system node pools in

[2021-09-30 00:58] meixingdb commented on #1743
/assign

[2021-09-30 21:40] devigned commented on #1077
/remove-lifecycle stale

[2021-10-01 03:58] richardchen331 opened #1746 "Change SSHPublicKey in AMCP to optional"
/kind feature

**Describe the solution you'd like**
Currently when a user doesn’t specify a `SSHPublicKey` in AMCP, CAPZ will generate a random one. This makes updating the AMCP a bit more difficult (user cannot modify a yaml file and re-apply, since the user doesn’t know the generated SSH key and webhook will reject the change, he/she has to patch instead). Additionally, if the user forgot to spe

[2021-10-01 03:58] richardchen331 commented on #1746
/assign

[2021-10-01 08:48] sonasingh46 commented on #1727
I would like to work on this issue.

[2021-10-01 13:13] #1739 closed

[2021-10-01 14:19] #1707 closed

[2021-10-01 14:20] mboersma commented on #1656
/unassign

[2021-10-01 17:39] shysank opened #1749 "BYO DNS Zone"
/kind feature

**What steps did you take and what happened:**
1. Created a private cluster with custom vnet
2. Create a dns zone through azure cli/ui and the appropriate links and records
3. Delete the cluster
4. capz tries to delete the dns zone created in step 2, but fails because there are some active links.

**What did you expect to happen:**
CAPZ should support byo dns zone

**Anything else y

[2021-10-01 21:02] #1359 closed

[2021-10-01 23:45] #1605 closed

[2021-10-02 04:57] karuppiah7890 opened #1753 "`bastionhosts_test.go` tests give false results when running tests in parallel"
For example, if you run the below command to run `TestReconcileBastionHosts` test on commit https://github.com/kubernetes-sigs/cluster-api-provider-azure/commit/df75af2eb24d913682c950a7b2534b09828bc204 which is the latest commit on `main` branch as of this writing

[code]

You will get an output like this

[code]

Now remove the `t.Parallel` in the `TestReconcileBastionHosts` test's sub tests, tha

[2021-10-03 14:47] karuppiah7890 commented on #1753
I have fixed the `bastionhosts_test.go` tests as part of #1745 here https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1745/files#diff-3bccc34c3fa316cdb2570f0d05aea4fc252815a7e76a0e571f881afe5d6bffe6 as I had to fix compile errors when I renamed publicips client method `CreateOrUpdate` to `CreateOrUpdateAsync` and also changed it's mocks

[2021-10-03 19:09] devigned commented on #629
/remove-lifecycle stale

[2021-10-04 06:34] karuppiah7890 commented on #1753
/assign

[2021-10-04 06:40] karuppiah7890 commented on #1753
I think I'll raise a separate PR for this to fix this issue separately, instead of coupling the fix with #1745

[2021-10-04 07:05] invidian commented on #1238
/remove-lifecycle stale

[2021-10-04 15:34] mboersma commented on #1354
This was fixed by #1705–*for a time*. It is [broken again](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-full-release-0-4) consistently since 9/27. I will investigate as soon as time permits.

[2021-10-04 15:35] mboersma commented on #1648
/close

This [seems fixed](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-full-main) after #1690 and #1693 merged.

[2021-10-04 15:35] #1648 closed

[2021-10-04 16:27] sadysnaat commented on #1701
@meixingdb @LochanRn will it make sense to add
update after or some update lifecycle management to nodepool in AKS
for image-pathces?

[2021-10-04 16:56] sadysnaat opened #1755 "Add support for node image upagrdes to AKS nodepool"
***Goals***
1. Add node os image upgrade support for AKS nodepools from UpgradeProfile
2. UpgradeLifeCycle support for node pools

***Non-Goals/Future Work***

**User Story**

As an operator I would like my AKS nodepools to have latest image applied for latest security vulnerability or os patches

**Detailed Description**
I would like to enable auto updated my nodepools with latest images

or some

[2021-10-04 16:58] sadysnaat commented on #1701
Created a separate feature request https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1755

[2021-10-04 16:59] LochanRn commented on #1755
/assign @sadysnaat

[2021-10-04 16:59] LochanRn commented on #1755
/area managedclusters

[2021-10-04 17:16] CecileRobertMichon commented on #1743
/close

[2021-10-04 17:16] #1743 closed

[2021-10-04 18:03] karuppiah7890 commented on #1711
/assign

[2021-10-04 18:17] CecileRobertMichon commented on #1716
@karuppiah7890 I don't think the API docs are accurate (or at least not descriptive enough), a delete can definitely return a resource not found 404 error. Here's an example:

[code]

[2021-10-04 18:17] CecileRobertMichon commented on #1716
+1

[2021-10-04 22:42] CecileRobertMichon commented on #1749
are we applying tags to the DNS zone? I don't think BYO dns zone is an existing feature right now...

[2021-10-05 00:06] shysank commented on #1749
No, we are not.

Agreed, i'll change this to feature.

Curious though, should we tag all the resources that capz creates, and only delete those that are tagged?

[2021-10-05 00:09] shysank commented on #1749
/kind feature

[2021-10-05 04:59] karuppiah7890 commented on #1716
That example is for virtual networks though, and yeah in it's [API](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtual-networks/delete#response) also 404 is not mentioned. I also tried the two DELETE APIs - both public IPs and virtual networks and noticed that they give 204 when trying to delete a non existent resource in a existing resource group. They do give 404 when the resource

[2021-10-05 12:13] furkatgofurov7 commented on #1726
@CecileRobertMichon #1740 seems to be [covering](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1740/commits/f60ef55630ef0542dcc17386cafcb15a9512eb23) this already?

[2021-10-05 13:02] dthorsen opened #1758 "cluster-api-azure-controller v0.5.3 release image pull errors"
/kind bug

**What steps did you take and what happened:**
I followed the quick start guide to create a management cluster in kind with the Azure provider. After I did this I noticed the capz-controller-manager pod was failing to start with image pull errors. I tried to manually pull the image referenced in the pod template and I got this error:
[code]

It looks like the promotion job is failing he

[2021-10-05 14:11] dthorsen commented on #1758
Likely related, the serviceaccount files were modified by an audit PR shortly before the v0.5.3 release: https://github.com/kubernetes/k8s.io/pull/2867

[2021-10-05 16:10] karuppiah7890 commented on #1716
I tried to replace GET Public IP API call with GET Tags At Scope API call with Public IP as scope, but for that I had to get the tags client from the tags service

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e5327290e4fd5df3fae5779296b8e1d2c73c508e/azure/services/tags/client.go#L42-L46

which I exported to make it available in `publicips` package but then I noticed import er

[2021-10-05 16:48] CecileRobertMichon commented on #1726
correct

/assign @shysank

[2021-10-05 17:10] CecileRobertMichon commented on #1749
@shysank agreed, I think we should standardize the owned tag across all resources. We could also think about using a "shared" tag (I think CAPA does this already) to signify a resource is managed by CAPZ but its lifecycle is shared with another component (eg. network security groups are also updated by cloud provider).

cc @karuppiah7890 who has been doing a lot of thinking on tags + resource mana

[2021-10-05 17:48] CecileRobertMichon commented on #1727
/assign @sonasingh46

[2021-10-05 17:51] karuppiah7890 commented on #1749
This area is new to me, I'll check this out sometime. Let me know if you folks are looking for any specific inputs from my side

[2021-10-05 18:23] karuppiah7890 opened #1760 "Debug and fix the issue causing tests to give false reports when they run in parallel"
One example of this is #1753 issue.

In short, the thing that I'm noticing is - if you add a `t.Parallel()` and run the tests - some weird possible behaviors are - tests that should be failing might pass, passing tests might fail with errors similar to errors of other adjacent failing tests, errors that look like the test data got mixed up or shared across tests

I'm starting to think that this ha

[2021-10-05 18:24] karuppiah7890 commented on #1760
I need to dig more to understand how exactly this is happening in the first place. Probably a deep dive into `t.Parallel()` and also about anything Golang specific with respect to closures in anonymous functions, in this case we are passing anonymous test functions to `t.Run()`

[2021-10-05 18:30] nader-ziada commented on #1758
issue in image promotion fixed and now the image is available

tested `docker pull us.gcr.io/k8s-artifacts-prod/cluster-api-azure/cluster-api-azure-controller:v0.5.3`

/close

[2021-10-05 18:30] #1758 closed

[2021-10-06 10:27] enxebre opened #1761 "Controller managers should use "leases" for leader-election-resource-lock"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Run Cluster API.
See controller managers use "configmapsleases" for leader-election-resource-lock.

**What did you expect to happen:**
Controller managers use "leases" as for leader-election-resource-lock. This

[2021-10-06 14:15] devigned opened #1762 "Identity type validations should include `ManualServicePrincipal`"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
When reviewing different IdentityTypes and Identity validation, I think there is some missing work to enable the ManualServicePrincipal identity.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/bl

[2021-10-06 19:41] devigned opened #1763 "AzureMachinePool should not start a new rollout if tags have changed"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
If a user were to update tags on an `AzureMachinePool` resource, it will trigger a redeploy. The `AzureMachinePool` currently recognizes changes to tags to be a change in the `AzureMachinePool` model. With defau

[2021-10-06 19:42] devigned commented on #1763
/assign

[2021-10-07 00:04] CecileRobertMichon commented on #1762
@devigned isn't VMIdentity different from the aad-pod-identity mode? VMIdentity is the identity on VMs while the ManualServicePrincipal is an AzureClusterIdentity

[2021-10-07 12:39] devigned commented on #1762
Yes it is. I’ll review the issue. However, I think the second part about validating is still valid.

[2021-10-07 18:32] jsturtevant opened #1766 "tilt's `make generate-flavors` doesn't update the templates when it re-applies"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- Created cluster via tilt and found bug
- changed the template
- Reapply the template via tilt but the same bug was there.

**What did you expect to happen

[2021-10-11 16:34] arschles commented on #1511
Does anybody have any thoughts on this? I'm happy to close it if nobody is interested.

[2021-10-11 17:09] shysank opened #1770 "Machine deployment scale fails after v1alpha3 -> v1alpha4,v1beta1 upgrade"
/kind bug

**What steps did you take and what happened:**
1. create v1alpha3 cluster with v1alpha3 providers
2. upgrade providers to v1beta1
3. scale md to 2
4. capi reconciliation fails with validation error in `AzureMachineTemplate`

**What did you expect to happen:**
machine deployment should scale to 2

**Anything else you would like to add:**
This is because we added new default webhooks in a

[2021-10-11 17:37] #1761 closed

[2021-10-11 23:35] CecileRobertMichon commented on #1736
/assign

[2021-10-15 17:56] karuppiah7890 opened #1775 "Tests: Run tests that can be run in parallel in parallel"
There are many Golang tests in the code base that are not run in parallel. For example, tests run using `t.Run()`. Also, even tests containing multiple `t.Run()` can be run in parallel at the top level, using `t.Parallel()`. Most times I think it would just work - unless there's some shared data across tests, which there shouldn't be ideally, so that tests can run in parallel. So as part of this i

[2021-10-18 16:37] thof opened #1778 "Add additionalTags property to CRD AzureManagedMachinePool"
***Goals***
1. Tag all resources

**User Story**

As a user I would like to tag all AKS-related resources.

**Detailed Description**

I noticed the property `additionalTags` is defined in most CRDs but not in `AzureManagedMachinePool`. Why? Doesn’t it make sense in this context?
[code]

It confuses me since there is such property in `AWSManagedMachinePool`.

/kind proposal

[2021-10-18 21:43] jsturtevant commented on #1192
/reopen

#1683 fixed kubectl :rocket:

There are others like kustomize: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e2c05666ff5e56eb9fbfc5a4a9f567082fe0374a/hack/ensure-kustomize.sh#L22 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e2c05666ff5e56eb9fbfc5a4a9f567082fe0374a/Makefile#L76

[2021-10-19 17:10] CecileRobertMichon opened #1779 "Stop relying on "sigs.k8s.io/cluster-api/third_party/kubernetes-drain""
CAPI is going to get rid of the third_party copy pasted drain code in https://github.com/kubernetes-sigs/cluster-api/pull/5440. We should switch to using the k8s code directly.

/priority important-soon

[2021-10-19 17:43] jayunit100 opened #1780 "windows host-process containers"
/kind feature

**Describe the solution you'd like**
Lets run Calico (and other CNIs hopefully soon, like antrea)  in a pod for Windows nodes ! ( containerd 1.6).  Windows 2022 , k8s 1.22...

James has this working here #1672  !

**Anything else you would like to add:**
thank you james :)

[2021-10-20 15:42] jsturtevant opened #1782 "Add Windows time sync check to e2e test"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
When enabling Windows Containerd support we added the ability to run the same set of tests as Linux. The time sync test was adjusted to run on mix nodes but Windows support was not added:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1672#discussion_r732326400

**

[2021-10-20 22:41] CecileRobertMichon commented on #1726
done in #1740 \

/close

[2021-10-20 22:41] #1725 closed

[2021-10-22 11:26] karuppiah7890 opened #1789 "Move annotation name constants out of `api/`"
Following the conversation from here - https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1721/files#r729934347 , we need to move annotation name constants `VMTagsLastAppliedAnnotation`, `RGTagsLastAppliedAnnotation` out of `api/` . We need to figure out the right location to move them to too

[2021-10-28 15:36] mboersma opened #1801 "Update CAPZ book to show debugging in Tilt"
/kind feature

**Describe the solution you'd like**

Since kubernetes-sigs/cluster-api#5485 merged, it should be possible to debug the capz-controller-manager directly in the Tilt environment. We should make any changes necessary and document this thoroughly in the CAPZ book.

**Anything else you would like to add:**

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (u

[2021-10-28 17:43] jsturtevant opened #1802 "Collecting logs for Windows in Conformance tests is failing"
/kind bug

**What steps did you take and what happened:**

Was looking into a few of the failures and found the Windows logs are no longer being collected properly. All files are blank: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-staging-containerd-windows/1453644413472346112/artifacts/clusters/capz-conf-j83z9v/machines/capz-conf-j83z9v-md-win-7ff8879b88-9wrcs/

[code]

[2021-10-28 20:11] CecileRobertMichon opened #1804 "Add presubmit jobs for release-1.0 release branch"
Similar to https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-0-4.yaml, we should add jobs to run presubmit tests against the release-1.0 branch.

We should also make sure we include any new tests in https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-prov

[2021-10-28 23:28] devigned opened #1806 "Consistent Logging"
/kind feature

I've found there are 3 ways we are currently logging.
1) directly via klog
2) via the logger on scopes
3) via the span logger

We should have a single consistent pattern for logging to improve the consistency of the code, but more so, to improve the logging experience for the operator of CAPZ.

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.si

[2021-10-29 13:06] devigned opened #1808 "API Server frontend LB port should not change backend port"
/kind feature

The LB exposed port for the API Server should be configurable on its own without affecting the backend port the LB directs traffic to in the backend pool. For example, the LB for API Server is exposed on 443, but the backend pool is serving traffic on 6443.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
See https://github

[2021-10-29 17:36] shysank opened #1809 "Add e2e upgrade tests for v1alpha4 -> v1beta1 #1727"

[2021-10-29 19:52] #1114 closed

[2021-10-29 21:00] CecileRobertMichon commented on #1484
/remove-lifecycle rotten

[2021-11-01 03:41] andyzhangx opened #1814 "[feature request]enable csi-proxy by default on Windows 1.21+"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Azure Disk CSI driver depends on csi-proxy.exe on Windows, we should enable csi-proxy by default on Windows 1.21+
on aks-engine, there is `windowsProfile.enableCSIProxy` to control whether enable csi-proxy on Windows node, and it's fine that we enable csi-proxy on capz Windows node by

[2021-11-01 08:51] zmalik commented on #1669
/assign

[2021-11-01 12:59] karuppiah7890 commented on #1711
Finally started working on this issue 😅

[2021-11-01 16:03] jsturtevant commented on #1814
I propose we do this with 1.22+ with containerd using hostprocess pod to install and configure the proxy.  We can use `ClusterResourceSet` with label matches such as `CSIProxy: true` and `windows: enabled` on the cluster to run a DaemonSet that installs the proxy.

fyi @marosset

/sig windows

[2021-11-01 17:40] CecileRobertMichon commented on #1814
@jsturtevant re: using `ClusterResourceSet`, this would be the easier way to do it right now but we should follow whatever gets decided as part of https://github.com/kubernetes-sigs/cluster-api/issues/5491

My concern with using ClusterResourceSets for more and more things is that 1) the templates are going to become huge and 2) it's hard to keep the external components and the k8s versions in syn

[2021-11-01 17:50] CecileRobertMichon commented on #1669
thanks for opening the PR to enable autoscaling for AKS clusters @zmalik!

Going to retitle this issue to reduce scope to managed clusters (which is what the PR does already). For regular MachinePools, we still need https://github.com/kubernetes-sigs/cluster-api/issues/4063 to be done in order to support cluster-autoscaler. @mboersma is already working on it.

/retitle Support autoscaling on Manag

[2021-11-01 20:31] CecileRobertMichon commented on #1580
/remove-lifecycle stale