[2020-09-25 21:47] CecileRobertMichon commented on #618
Consider making OS disk ManagedDisk.StorageAccountType optional as it is not actually a required field for Azure APIs.

VM sizes without "s" support both Standard HDD and Standard SSD, default is Standard HDD. VM sizes with an "s" support Premium SSD, Standard HDD and Standard SSD, defaults to Premium SSD. Some select VM sizes support Ultra SSD for data disks.

[2020-09-25 22:16] CecileRobertMichon commented on #948
/help

[2020-09-26 08:34] gdhuper commented on #964
Hi @CecileRobertMichon, I am interested in picking up this task. Thanks

[2020-09-26 13:35] cpanato commented on #964
cool, go for it @gdhuper let us know if you have any question

[2020-09-26 13:35] cpanato commented on #964
/assign @gdhuper
/remove-help

[2020-09-28 20:44] #909 closed

[2020-09-29 20:16] CecileRobertMichon opened #966 "Investigate impact of 2020-08-01 Network API version"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

With Network API version 2020-08-01, zone behavior for Standard SKU resources (Azure Load Balancer and Public IP addresses) will be updated such that:

when no zone is specified, a non-zonal resource is created
when a single zone is specified, a zonal resource is created
when multiple

[2020-09-29 22:00] CecileRobertMichon opened #968 "Webhook validation fails with missing required field "thirdPartyImage""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
[code]

The field should default to false or not be required.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (u

[2020-09-29 22:00] CecileRobertMichon commented on #968
from https://testgrid.k8s.io/provider-azure-periodic#k8s-e2e-azure-file-vmss-1-17-capz

[2020-09-29 23:46] CecileRobertMichon commented on #486
https://github.com/kubernetes-sigs/cluster-api/issues/3715

[2020-09-30 00:03] #968 closed

[2020-09-30 03:05] #897 closed

[2020-09-30 17:19] #953 closed

[2020-09-30 17:55] randomvariable commented on #761
0.3.10 has an interface to implement that you can pass to the test framework and it will gather logs for you https://github.com/kubernetes-sigs/cluster-api/blob/59faa7b1c63ba301cb780836891e7b10098fce34/test/framework/cluster_proxy.go#L81

Docker example in https://github.com/kubernetes-sigs/cluster-api/blob/7d0deb18b44305a993783b50d7e2ee458615ff3e/test/framework/docker_logcollector.go which is bas

[2020-09-30 18:08] mboersma commented on #761
Yep, I have that all scaffolded and working in CAPZ, just trying to figure out SSH proxy details to nodes. Hopefully I'll have a PR tomorrow.

[2020-10-01 15:44] CecileRobertMichon commented on #663
/milestone next

[2020-10-01 15:45] CecileRobertMichon commented on #807
/close

[2020-10-01 15:45] #807 closed

[2020-10-01 15:46] CecileRobertMichon commented on #815
/milestone next
/help

[2020-10-01 15:48] devigned opened #970 "Add MachinePool tests from CAPI"
/kind feature

**Describe the solution you'd like**
Add e2e tests for machine pool from [CAPI 3506](https://github.com/kubernetes-sigs/cluster-api/pull/3506)

[2020-10-01 15:51] CecileRobertMichon commented on #952
/milestone v0.4.6

[2020-10-01 15:51] CecileRobertMichon commented on #952
/milestone v0.4.10

[2020-10-01 15:52] CecileRobertMichon commented on #958
/milestone v0.4.10

[2020-10-01 17:03] CecileRobertMichon opened #971 "Convert conformance tests to use framework"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Since https://github.com/kubernetes-sigs/cluster-api/pull/3652/files merged, the conformance tests should be converted to use the framework.

Currently, the tests use ci-entrypoint.sh as a bash script to run the tests: https://github.com/kubernetes/test-infra/blob/master/config/jobs/ku

[2020-10-01 17:03] CecileRobertMichon commented on #971
/help

[2020-10-01 17:05] #958 closed

[2020-10-01 22:13] jackfrancis commented on #467
An implementation question: is the version of Azure CNI currently configurable?

cc @craiglpeters

[2020-10-01 22:16] CecileRobertMichon commented on #467
@jackfrancis not sure I understand the question? There is no Azure CNI implementation currently.

[2020-10-03 13:51] cpanato commented on #971
/assign
/remove-help

[2020-10-07 08:28] mjudeikis opened #982 "Disk Encryption"
***Goals***
1. Enable OSDisk and ephemeral disk encryption for Azure VMS

***Non-Goals/Future Work***
1. To enable manage Service or user keys. Encryption key management is left for the user.

**User Story**

As a User, I would like to encrypt all the disk for Azure vm/vmss for security reasons.

**Detailed Description**

Azure supports OSdisk encryption via:
`OSDisk.ManagedDisk.DiskEncryptionSet.

[2020-10-07 14:08] nader-ziada commented on #957
/assign

[2020-10-07 14:08] nader-ziada commented on #957
/remove-help

[2020-10-07 18:40] CecileRobertMichon commented on #493
closing in favor of #982 which adds more details

/close

[2020-10-07 18:40] #493 closed

[2020-10-07 20:48] #718 closed

[2020-10-07 20:59] CecileRobertMichon commented on #776
Proposal in progress here: https://docs.google.com/document/d/1ZsusF5c9pYxseuaKxTpctI5aUDqzl0sdCW4xxDbLm3k

[2020-10-07 22:36] CecileRobertMichon commented on #894
/milestone next

[2020-10-08 17:16] mboersma commented on #970
/assign devigned

[2020-10-08 17:21] CecileRobertMichon commented on #484
/remove-lifecycle rotten
/good-first-issue

[2020-10-08 17:22] CecileRobertMichon commented on #481
/remove-lifecycle rotten

[2020-10-08 20:34] mboersma commented on #705
/assign

[2020-10-09 14:01] #957 closed

[2020-10-09 16:32] #824 closed

[2020-10-12 17:00] CecileRobertMichon commented on #964
@gdhuper let me know if you need any help getting started

[2020-10-12 17:05] gdhuper commented on #964
Thanks @CecileRobertMichon. Random question: Do you know how to update `clusterctl`'s version?

[2020-10-12 17:14] CecileRobertMichon commented on #964
I usually follow the instructions at https://cluster-api.sigs.k8s.io/user/quick-start.html#install-clusterctl to install the latest version and overwrite my installed binary.

[2020-10-12 17:40] CecileRobertMichon commented on #964
Also for dev purposes I highly recommend using Tilt https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/development.md#tilt-for-dev-in-capz instead of clusterctl, it works really well and does hot reload

[2020-10-12 17:52] gdhuper commented on #964
Got it. Thanks

[2020-10-12 20:45] CecileRobertMichon opened #990 "Use tilt tilt/cert_manager extension"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
tilt-dev/tilt-extensions#90 recently added a new extension taking care of installing cert-manager in a dev cluster created with tilt up.

It is now possible to start using this extension in the Tiltfile, thus removing the existing deploy_cert_manager and related global variables.
See https://docs.til

[2020-10-13 01:20] srm09 commented on #935
@CecileRobertMichon Just to understand the ask here, the Tiltfile uses the `templates/flavors` directory to add all the flavors as resources by default. And if the `worker-flavors` is provided instead, only flavors present in that list are added as tilt resources.

Another query that I have is, what is the significance of `templates-to-run`? I do not see any docs around it either.

[2020-10-13 03:36] eratnch commented on #990
/assign @eratnch

[2020-10-13 18:31] devigned opened #992 "Document the different Azure identities, rights and use cases"
/kind feature

**Describe the solution you'd like**
Cluster API Provider Azure has a complex set of identities, rights and use cases which are not easily understood by the naive observer. Perhaps, we could start by documenting the following:
- **CAPZ controller:** the identity used to provision infrastructure in Azure
  - Env config
    - Service Principal
  - Multi-tenant config
    - AAD Pod Ide

[2020-10-13 21:14] devigned commented on #311
/remove-lifecycle rotten

[2020-10-13 21:15] devigned commented on #311
/open

[2020-10-13 21:15] devigned commented on #311
/reopen

[2020-10-13 21:16] devigned commented on #311
/milestone v0.4.10

[2020-10-13 21:35] jsturtevant commented on #992
@paulbouwer You've been looking to some of these different identities, do you have any relevant documentation that you might be able to help out with?

[2020-10-13 22:31] mboersma opened #994 "Update kind to more recent version"
/kind cleanup

**Describe the solution you'd like**

In development.md, we recommend installing "kind 0.7.0," and we have a specific SHA of sigs.k8s.io/kind vendored in at 0.7.1. Those versions are both pretty old, but may be pinned by a transitive dependency through CAPI.

We should investigate whether we can update `kind` to a more recent version (currently 0.9.0 is the latest). See [this commen

[2020-10-13 23:07] #761 closed

[2020-10-13 23:43] mboersma commented on #948
/assign

[2020-10-14 00:48] gdhuper commented on #964
When I try to run `clusterctl init --infrastructure a azure` or any `clusterctl` command, I get this error:

[code]
I followed the installation process couple of times and still get the same error.
OS: Mac OSX

Any suggestions on how to fix this?

[2020-10-14 02:55] CecileRobertMichon commented on #964
@wfernandes pointed out this should have been fixed in newer versions of clusterctl, what version did you install? Try getting the latest, which is `0.3.10`

[2020-10-14 03:14] wfernandes commented on #964
For context and reference, this is the issue https://github.com/kubernetes-sigs/cluster-api/pull/3575

[2020-10-14 15:35] mboersma opened #997 "Add Azure boot diagnostics as an e2e log collection strategy"
/kind feature

**Describe the solution you'd like**

While the implementation of the CAPI e2e test framework `ClusterLogCollector` in #976 is working, it relies on SSH connectivity. Sometimes that [fails](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/988/pull-cluster-api-provider-azure-e2e/1316355750150279168), which is unfortunate because t

[2020-10-14 16:00] jsturtevant opened #998 "Test if experimentalRetryJoin still needed for K8s 1.19+"
/kind feature

**Describe the solution you'd like**
In 1.19+ retry support was added to kubeadm: https://kubernetes.slack.com/archives/C8TSNPY4T/p1601486982126900.  We should test 1.19 to see if the `useExperimentalRetryJoin` is still required as was added for https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/832 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/

[2020-10-14 18:48] CecileRobertMichon opened #999 "Support VMSS Flex"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes

Once this feature is generally available (timeline unknown), we should support VMs being added to VM Scale Sets, in addition to the current way of managing Scale Sets with insta

[2020-10-15 15:46] mboersma commented on #426
/assign

[2020-10-15 16:12] #948 closed

[2020-10-15 16:21] mboersma commented on #948
@devigned do you think simply requiring comments as we did in #996 is sufficient here? It doesn't guarantee they won't be trivial, so perhaps you were looking for additional checks.

[2020-10-15 16:32] CecileRobertMichon commented on #948
Hopefully we should be able to rely on reviewers to evaluate the quality of code documentation. It's easier to see that something is non-descriptive than it is to notice that something is missing in a PR diff IMO.

[2020-10-15 22:01] devigned commented on #948
Like @CecileRobertMichon said, I find it easier spot bad comments than missing ones. As part of CI, it would make folks aware of the expectation and hopefully cause them to think about the comments a little more.

[2020-10-15 22:18] CecileRobertMichon commented on #948
Already calling me out on my copy pasting https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/974/commits/971c7e6bc128a545e8e0e695cc82b837f8be1291 😛

[2020-10-15 22:24] CecileRobertMichon commented on #992
/priority important-longterm
/milestone next

[2020-10-16 17:27] #990 closed

[2020-10-16 19:30] devigned opened #1000 "AzureMachinePool nodes fail to join cluster after 15 mins"
/kind bug

**What steps did you take and what happened:**
Change the `MachinePool` K8s version, scale up, or scale down after infrastructure has been ready for 15 mins. The nodes of the `AzureMachinePool` do not successfully join the cluster. The `AzureMachinePool` stays stuck in `ProvisioningState = Updating`.

**What did you expect to happen:**
The nodes of the `AzureMachinePool` to join the clu

[2020-10-16 20:24] devigned opened #1001 "Clean up ./cloud/services"
/kind cleanup

**Describe the solution you'd like**
A while back, the code used to interact with Azure under `./cloud/services` was interfaced to allow some separation of concern between the controller / scopes and the types from the Azure SDK. With the advent of the `azure.Service` interface, Azure SDK / client code doesn't leak into the controllers. In fact, there should not longer be dependenci

[2020-10-16 20:38] shysank commented on #960
@CecileRobertMichon Is someone working on this? If not, can I take this one?

[2020-10-16 20:41] CecileRobertMichon commented on #960
@shysank nope, go for it! You can comment `/assign` to assign yourself.

Let @nader-ziada or I know if you need any guidance.

[2020-10-16 20:48] shysank commented on #960
/assign

[2020-10-16 21:01] CecileRobertMichon commented on #1001
/help

[2020-10-16 21:02] CecileRobertMichon commented on #982
@mjudeikis are you planning to work on the second part or should we mark this as help wanted?

[2020-10-16 22:21] devigned commented on #819
Based on #983 and pending resolution to #1000, we can complete rolling upgrade via the AzureMachinePool controller. I believe our first implementation should attempt to cordon and drain nodes with out dependence on Azure platform features (host events: there is an ongoing discussion about adding new host events to unblock this scenario, but it won't be around for a while).

Since we will likely no

[2020-10-19 04:11] paulbouwer commented on #992
@jsturtevant - we don't have anything in a state that is ready to share at the moment. But happy to contribute to the docs with positioning and guidance we've been working on.

[2020-10-19 22:03] #970 closed

[2020-10-20 00:48] CecileRobertMichon commented on #532
/remove-lifecycle stale

[2020-10-20 07:50] mjudeikis commented on #982
@dkorzuno has the second part on our side in the next sprint. It will be done :) Give us few days to tests/check-in with the right people on our end and expect for PR :)

@dkorzuno please tag me on any future work

[2020-10-20 17:02] craiglpeters opened #1003 "Azure Generation 2 VM support"
/kind feature

**Describe the solution you'd like**
CAPZ should enable me to create clusters with [Azure Generation 2 VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2).

**Anything else you would like to add:**
I can't think of a use case where mixed gen 1 and gen 2 VMs are needed

[2020-10-20 17:24] craiglpeters commented on #1003
This may require changes to packer

[2020-10-20 19:02] CecileRobertMichon commented on #749
/remove-lifecycle stale

[2020-10-21 13:23] vincepri commented on #749
/lifecycle frozen

[2020-10-21 18:18] #971 closed

[2020-10-21 21:16] shysank commented on #1001
/assign

[2020-10-21 21:35] devigned commented on #1001
@shysank please don't hesitate to ping me if you have any questions. Might be best to refactor one service in a PR before refactoring all at the same time.

[2020-10-22 05:26] alexeldeib commented on #1001
any thoughts on how to replace code like https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e92bba9b95d18578e09a4eaad1c1150c0c6f5516/exp/controllers/azuremangedcontrolplane_reconciler.go#L219-L263 ?

notably, I don't see many other reconcilers which write data back into the CRD?

[2020-10-22 05:27] alexeldeib commented on #1001
that blurb is long -- referencing `managedClustersSvc.Get` and `managedClustersSvc.GetCredentials` to reconcile endpoint/kubeconfig

[2020-10-22 05:33] alexeldeib commented on #1001
I see: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/e92bba9b95d18578e09a4eaad1c1150c0c6f5516/cloud/services/virtualmachines/virtualmachines.go#L69

[2020-10-22 13:39] devigned commented on #1001
Ahh... the code for `*MachinePool` and the rest in `./exp` have not been refactored to the use the scope pattern. See https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/757.

I would focus on a service not used by the `./exp` packages.

[2020-10-22 15:43] nader-ziada opened #1008 "controller should not try to recreate VM if removed from azure api"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- Cluster successfully deployed and running
- Virtual machine is deleted from the azure api (without deleting the related disk)
- controller tries to recreate the machine but fails because os disk already exists
[code]

**What did you expect to happen:**
- Machine to get status of `Faile

[2020-10-22 16:29] CecileRobertMichon commented on #1008
Sort of related: at some point we need to remove the logic that deletes a VM if it's in failed state: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azuremachine_controller.go#L286 in favor of MachineHealthChecks (we kept it around to wait for KCP remediation).

[2020-10-22 18:50] alexeldeib commented on #1001
I was thinking about how to refactor them in line with the same pattern (or if we should avoid that?) seems like the above solution would be one approach

[2020-10-22 19:39] devigned commented on #1001
We should refactor them. I've been remiss in not getting to them.

[2020-10-22 22:10] shysank commented on #1001
@devigned I'm trying to refactor `disks` service, and have a couple of questions:
1. Should we also make `service` struct private, and only export the scope interface, and the service initialization function?
2. Should we divide `azure.Service` into `azure.Reconciler`, and `azure.Deleter` to avoid the no-op in disks.Reconcile?

[2020-10-23 16:43] devigned commented on #1001
Great questions, @shysank.

1. I generally refrain from returning interfaces, but in this situation, it might be a good idea to ensure that a consumer of the API can only expect an `azure.Service`.
2. I think this will include a lot of work as you would then need to introduce `disks.NewReconciler() azure.Reconciler` and `disks.NewDeleter azure.Deleter`. I haven't thought through all of the implica

[2020-10-23 23:57] alexeldeib commented on #611
/remove-lifecycle rotten

[2020-10-24 00:09] CecileRobertMichon commented on #932
Now that we're getting logs makes this easier to debug in CI (thanks @mboersma!)

I did some investigation on the latest failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-capi-e2e/1319066274352861184

It failed with `Timed out after 3600.000s.
Error: Unexpected non-nil/non-zero extra argument at index 1:
	<*errors.fundamental>: old nodes remain`, and

[2020-10-24 00:24] CecileRobertMichon opened #1010 "azure file e2e periodic job failing resize spec"
https://testgrid.k8s.io/provider-azure-periodic#k8s-e2e-azure-file-1-19-capz

`Error getting file for azurefile storage.FileSharesClient#Get: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code="ResourceGroupNotFound" Message="Resource group 'azurefile-csi-driver-test-01b5c2b1-1520-11eb-8d38-12c0b6e57755' could not be found."`

[2020-10-24 00:24] nader-ziada commented on #1001
what is the reason to return an interface? its usually not a best practice and I worry we might be complicating things by adding extra abstractions

[2020-10-24 00:24] CecileRobertMichon commented on #1010
/kind failing-test

[2020-10-24 03:57] shysank commented on #1001
I guess my main concern was to avoid code like this `disks.Service{}` for initialization, and only use the exported api's. But, I agree that it's not a good idea to return an interface, although in this case, we will still return the actual type except that it can only be inferred.

[2020-10-26 23:54] CecileRobertMichon commented on #1010
/assign

[2020-10-26 23:55] CecileRobertMichon commented on #932
Last 3 runs failed with the same issue

[2020-10-27 01:17] CecileRobertMichon opened #1011 "Add conformance use_ci_artifact option to run conformance from k8s HEAD"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/test/e2e/conformance_test.go#L63

/assign

**Environment:**

- cluster-api-provider-azure version:
- Kube

[2020-10-27 03:41] #1010 closed

[2020-10-27 12:51] devigned commented on #1001
I was recommending an interface since at some point in the future, we will likely replace the cloud code to use Azure Service Operator to reconcile Azure resources rather than the cloud services directly.

As long as Reconcile and Delete are the only funcs exported, I'm 💯 behind return in a struct rather than an interface.

[2020-10-27 12:54] #960 closed

[2020-10-28 17:31] nader-ziada commented on #932
was looking at this again, but still can't reproduce locally, machine creation and deletion happens in serial and the fact that the creation and deletion of VMs take a bit of time is making it timeout, but not sure why my local env is any faster since the part that takes time is really on azure api processing and not on the management cluster.

[2020-10-28 17:32] mboersma commented on #705
/remove-help

[2020-10-28 18:03] #705 closed

[2020-10-28 18:22] nader-ziada commented on #932
The one thing I did find that it take a bit of time (a few minutes) waiting after the first control plane machine is created with the new version to start deleting one of the older version ones, maybe the sync period?

[2020-10-28 20:59] devigned opened #1014 "Transient vs terminal error reconcile requeue"
/kind feature

**Describe the solution you'd like**
There are occasions within the controller when we don't want to retry an error because the error can not be resolved by a subsequent reconcile. One example is https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1012#issuecomment-718152814.

As described in the comment, we should return back to the controller a error which could inf

[2020-10-29 00:33] CecileRobertMichon commented on #497
/remove-lifecycle stale

[2020-10-29 00:33] CecileRobertMichon commented on #558
/remove-lifecycle stale

[2020-10-29 03:58] alexeldeib commented on #1003
https://github.com/kubernetes-sigs/image-builder/pull/422

also requires checking the VM size supports gen2

It would be nice if we could attempt to default gen2 over gen1 when possible similar to https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1012#discussion_r513845559 but doing so has all the current caveats about webhook vs. controller context.

[2020-10-29 08:38] alexeldeib commented on #558
/remove-lifecycle rotten

[2020-10-29 08:39] alexeldeib commented on #497
/remove-lifecycle rotten

[2020-10-29 14:46] CecileRobertMichon commented on #497
/unassign @jackfrancis

[2020-10-29 16:45] mboersma opened #1015 "Accelerated networking test should handle VMSS instances"
/kind bug

**What steps did you take and what happened:**

The test spec in test/e2e/azure_accelnet.go only loops over VMs in the resource group, so it's not testing the accelerated networking property of any VMSS / MachinePool clusters. It should be expanded and added to cover the VMSS spec that's now in azure_test.go.

**What did you expect to happen:**

e2e tests validate the accelerated networ

[2020-10-29 17:10] CecileRobertMichon opened #1016 "Implement Azure private dns for private clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://docs.microsoft.com/en-us/azure/dns/private-dns-overview

/assign

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):

[2020-10-29 18:05] jackfrancis commented on #467
A reminder to use the "transparent" mode configuration when implementing a capz + Azure CNI scenario. This AKS Engine PR configures Azure CNI for "transparent" mode by default:

https://github.com/Azure/aks-engine/pull/3958

The vanilla installation method that AKS Engine follows (download the public release tarball and untar/gzip it) delivers a default configuration of "bridge" mode. AKS Engine m

[2020-10-29 18:14] mboersma opened #1017 "Use NVIDIA's gpu-operator for GPU node support"
/kind feature

**Describe the solution you'd like**

#1002 implemented the "nvidia-gpu" flavor via `postKubeadmCommands` recommended by NVIDIA, as explained in [this comment](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/426#issuecomment-626966868).

But NVIDIA's [gpu-operator](https://github.com/NVIDIA/gpu-operator) seems like a cleaner, more future-proof solution. We shoul

[2020-10-29 19:45] alexeldeib commented on #1001
Just a thought, I'm noticing several places where exporting Reconcile/Delete and handing that off to another implementer is not really sufficient. There are several places where the services write back into crds, several of which have bugs or awkward ergonomics right now. I would not expect ASO or another project to implement some of these things as part of reconcile a resource, since they are CAP

[2020-10-29 20:06] CecileRobertMichon commented on #467
ref https://github.com/Azure/azure-container-networking/blob/master/acncli/deployment/manager.yaml

[2020-10-29 22:04] CecileRobertMichon commented on #997
On recent runs (https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/974/pull-cluster-api-provider-azure-e2e/1321918203156238336) I've noticed it doesn't get logs successfully for vmss nodes or when the cluster provisioning timed out (eg 2 out of 3 nodes up after 1200s).

[2020-10-29 22:29] mboersma commented on #997
The e2e framework doesn't handle MachinePools yet, so that explains the VMSS node issue. (We should add that.)

[2020-10-30 13:26] nader-ziada commented on #1001
we still need to refactor the other services

/reopen

[2020-10-30 13:27] nader-ziada commented on #1001
@shysank are you planning on working on the other services as well?

[2020-11-01 20:33] #624 closed

[2020-11-01 22:35] #313 closed

[2020-11-02 23:02] CecileRobertMichon commented on #825
/remove-lifecycle stale

[2020-11-03 21:56] shysank commented on #1001
/assign

[2020-11-03 23:37] CecileRobertMichon commented on #551
/remove-lifecycle stale

[2020-11-03 23:37] CecileRobertMichon commented on #153
/lifecycle active

[2020-11-03 23:39] CecileRobertMichon commented on #550
/remove-lifecycle stale

[2020-11-03 23:41] CecileRobertMichon commented on #614
/remove-lifecycle stale

[2020-11-03 23:42] CecileRobertMichon commented on #614
work for non-managed clusters has started in #977

[2020-11-03 23:42] CecileRobertMichon commented on #715
/remove-lifecycle stale

[2020-11-03 23:43] CecileRobertMichon commented on #715
/priority important-longterm

[2020-11-03 23:43] CecileRobertMichon commented on #664
/remove-lifecycle stale

[2020-11-03 23:44] CecileRobertMichon commented on #847
/remove-lifecycle stale

[2020-11-03 23:44] CecileRobertMichon commented on #812
/remove-lifecycle stale

Not sure if we still want to do this?

[2020-11-03 23:45] CecileRobertMichon commented on #775
/close

[2020-11-03 23:45] #775 closed

[2020-11-03 23:46] CecileRobertMichon commented on #679
/remove-lifecycle stale

@richardcase did you still want to update the docs for this one?

[2020-11-03 23:47] CecileRobertMichon commented on #1015
/help
/good-first-issue

[2020-11-04 00:34] ams0 opened #1023 "failed calling webhook "azuremanagedcontrolplane.kb.io""
/kind bug

**What steps did you take and what happened:**

First of all apologies for my complete lack of understanding of cluster-api-provider-azure, but I wanted to try the AKS provider like this:

[code]

then patching the CAPI controller-managers (inspired by #787):

[code]
I'm not sure it's enough..because when I try to create a cluster:

[code]

I do see the `azuremanagedcontrolplane.kb.io`

[2020-11-04 00:45] alexeldeib commented on #1023
I believe you need to set env vars `EXP_AKS=true` and `EXP_MACHINE_POOL=true` before running `clusterctl init`. We probably should do a doc update for this in [0]. It's briefly mentioned that those are the required feature gates at the top, but you'd need to put it together with the knowledge from [1].

[0]: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/book/src/to

[2020-11-04 00:47] alexeldeib commented on #1023
fyi, it gets templated into the manager + webhook deployment: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/config/manager/manager.yaml#L21

You're hitting that issue because the webhook pod doesn't have the feature gate enabled so even with the webhook defined, calls to the pod will fail.

[2020-11-04 01:52] alexeldeib commented on #1023
/reopen

sorry, didn't mean to close, just mention

[2020-11-04 09:50] ams0 commented on #1023
Thanks @alexeldeib ! That unblocked me considerably.

So what I am doing now:

[code]

Then create the clsuter
[code]

A few more questions:

- Right after creation, the only cluster nodepool undergoes an upgrade operation:

[code]

Why is that?

- The cluster is working fine:

[code]

but the cluster object stays in `provisioning` state:

[code]

Is it because of this error in the logs of capz-co

[2020-11-04 16:20] #311 closed

[2020-11-05 00:06] #486 closed

[2020-11-05 00:14] CecileRobertMichon commented on #696
/close

[2020-11-05 00:15] #696 closed

[2020-11-05 00:15] CecileRobertMichon commented on #952
/close

[2020-11-05 00:15] #952 closed

[2020-11-05 00:15] CecileRobertMichon commented on #892
/close

[2020-11-05 00:15] #892 closed

[2020-11-05 00:32] alexeldeib commented on #1023
So a couple things

btw, no longer necessary (used to be). we'll create the group if it doesn't exist. I'll check the docs and update if that doesn't match

clusterctl is a fancy templating tool. The names of flavors are derived from the names of yaml files here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/templates (e.g. flavor=aks -> cluster-template-aks.yaml). You

[2020-11-05 00:44] ams0 commented on #1023
Thanks so much, I kept playing with it today and I was just too impatient - eventually the cluster reconciles and both nodepools come up fine like the cluster. This is great stuff! Now working on putting all the templates into a handy Helm chart to deploy clusters programmatically (with Flux).

I'd love to contribute to the aks provider, adding flags like private-cluster, custom-vnet and so on. I'

[2020-11-05 00:44] #1023 closed

[2020-11-05 01:02] alexeldeib commented on #1023
Awesome! Glad I could help. Feel free to ping me if you have any questions/comments 🙂

[2020-11-08 21:33] jayunit100 opened #1028 "ssh key should be validated for azure compatibility"
/kind bug

**What steps did you take and what happened:**

Errors similar to this https://github.com/Azure/azure-quickstart-templates/issues/680  dont pring out the public key... but they may as well since that isnt secret information

**What did you expect to happen:**
if a public key is wrong, we should probably just print out the public key to stdout

**Environment:**

- cluster-api-provider-az

[2020-11-09 03:01] jayunit100 commented on #1028
going to close as this is an easy enough pr to fix, probably if folks search the issue that will be good enough to help them fix their problem

[2020-11-09 03:01] #1028 closed

[2020-11-09 20:49] shysank commented on #1014
@devigned I just took a look at this one. Just wanted to confirm the approach before proceeding. I'm thinking of something like this:
[code]

wdyt?

[2020-11-09 22:06] shysank commented on #1014
/assign

[2020-11-10 15:52] #1001 closed

[2020-11-10 16:04] nader-ziada commented on #998
/assign

[2020-11-10 22:23] shysank commented on #1014
Following discussions in [this](https://kubernetes.slack.com/archives/C8TSNPY4T/p1605026393254100) slack thread, should we scope this issue to only prevent re-queueing in case of terminal error, and create a separate one for handling conditions while the proposal is being finalized? @CecileRobertMichon @devigned @alexeldeib

[2020-11-11 19:24] nader-ziada opened #1031 "stacktrace when running kubectl describe azurecluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- Had a typo in the value of AZURE_ENVIRONMENT when trying to deploy a workload cluster
- the creation of the workload cluster failed, but the error message was not helpful
- when running `kubectl describe azurecluster` I see a stack trace

[code]

**What did you expect to happen:**
- wo

[2020-11-11 19:25] nader-ziada commented on #1031
/assign

[2020-11-12 16:33] CecileRobertMichon commented on #855
/close

[2020-11-12 16:33] #855 closed

[2020-11-12 16:49] CecileRobertMichon commented on #614
Once #977 merges, the same changes can be adopted in managedcluster to enable this.

/help

[2020-11-12 16:51] CecileRobertMichon commented on #481
/help

[2020-11-12 18:25] shysank commented on #1008
/assign

[2020-11-12 19:15] #1011 closed

[2020-11-12 21:53] devigned opened #1034 "Create a cluster using Azure Container Instances"
/kind feature

**Describe the solution you'd like**
Azure Container Instances provide a really interesting substrate to be able to build clusters via containers as nodes. They are [fast to start](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-overview#fast-startup-times), scale quickly and are [billed in small increments](https://azure.microsoft.com/en-us/pricing/de

[2020-11-12 23:05] jsturtevant commented on #857
I ran into this again trying to set up a single control plan test for windows.  This appears to be an issue only in the VMAS sceario.  There is VMSS tests that is a single node: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/cb486c3d7b26dc84ad5156fa97773ccb97578ebe/test/e2e/azure_test.go#L260-L261

[2020-11-13 22:17] shysank opened #1037 "VM deleted if it is in Failed state"
/kind bug

**What steps did you take and what happened:**

There is a piece of [code](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/cb486c3d7b26dc84ad5156fa97773ccb97578ebe/controllers/azuremachine_controller.go#L299) in azure machine reconciliation which deletes the VM if it's in a Failed state. The expectation is that it'll create a new VM in the next reconcile run. But with

[2020-11-16 17:50] CecileRobertMichon commented on #1037
/help
/good-first-issue

[2020-11-16 18:30] shysank commented on #915
/assign

[2020-11-16 18:35] CecileRobertMichon commented on #915
@shysank prefer starting work on this I would recommend reaching out to @randomvariable because some of this work might overlap with https://github.com/kubernetes-sigs/cluster-api/issues/3761

[2020-11-16 21:59] CecileRobertMichon commented on #935
@srm09 apologies I just saw your comment now when I was looking for the issue for #1040... There is also https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/937 which is similar if you want to work on that one

/assign

[2020-11-16 21:59] CecileRobertMichon commented on #935
/remove help

[2020-11-16 21:59] CecileRobertMichon commented on #935
/remove-help

[2020-11-16 22:30] #1008 closed

[2020-11-17 19:06] shysank opened #1042 "Incorrect error handling in azuremachine controller"
/kind bug

**What steps did you take and what happened:**
Recently in #1039 , there was a [check](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/b77c94a09e03bb3b54b5f016be7eb4b3ff16daec/controllers/azuremachine_controller.go#L273) added to see if it is a `VMDeletedError`, and set failure status if it is true. But, this wont work because `VMDeletedError` is an interface, and so

[2020-11-17 19:07] shysank commented on #1042
/assign

[2020-11-17 19:22] #935 closed

[2020-11-18 03:58] weinong commented on #481
do you have any requirements from customers? does capz have any oidc support already?

[2020-11-18 18:19] CecileRobertMichon opened #1045 "Enable Force Delete of Azure VMs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Leverage the new forceDeletion option for VMs https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/delete which skips grateful deletion and improves latency

/assign

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.

[2020-11-18 20:37] shysank opened #1047 "Refactor controller to decouple service instantiaition"
/kind cleanup

**Describe the solution you'd like**
Right now, in controllers, the reconciliation service is instantiated directly inside the `reconcileNormal` and `reconcileDelete` methods like [this](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/5ce2cc61a6862852cd7ed7229757422c6f6b7dfb/controllers/azuremachine_controller.go#L266). This tight coupling makes it difficult to wr

[2020-11-18 20:39] shysank commented on #1047
/assign

Will do this for `azureMachineService` first and then for the rest.

[2020-11-18 20:48] shysank opened #1048 "Add controller tests for service failures"
/kind feature

**Describe the solution you'd like**
The controller tests do not have any test cases to capture failures in azure services. This means that we have to run a cluster and verify pod logs to see if the code works, which is time consuming. We should add more test cases to controller tests for service failures.

**Anything else you would like to add:**
This is blocked on #1047 to enable

[2020-11-18 21:15] #1042 closed

[2020-11-18 23:32] #1016 closed

[2020-11-19 01:18] srm09 commented on #937
/assign

[2020-11-19 08:18] Evalle commented on #1037
/assign

[2020-11-23 16:49] CecileRobertMichon commented on #1000
/assign

[2020-11-23 17:53] #1037 closed

[2020-11-24 18:33] shysank opened #1054 "kubectl-capz-ssh doesn't parse identity parameter correctly"
/kind bug

**What steps did you take and what happened:**
Run `./hack/debugging/kubectl-capz-ssh -am $azuremachine -i $path_to_identity_file`.
It fails with `permission denied`.
Turns out it's not parsing the `-i` correctly [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/64c6f5320fb074da5b272d22917248153c7461fd/hack/debugging/kubectl-capz-ssh#L19).

**What did you expect

[2020-11-24 18:34] shysank commented on #1054
/help
/good-first-issue

[2020-11-27 07:44] Evalle commented on #1054
/assign

[2020-11-28 01:33] jessehu opened #1056 "Cannot ssh to the public IP of worker node"
/kind bug

**What steps did you take and what happened:**
I used CAPZ v0.4.8 to create a 1 master node and 1 worker node cluster in Azure. I'm able to ssh to the public IP of master node with the specified ssh public key, but **unable** to ssh to the public IP of worker node.

**What did you expect to happen:**
Be able to ssh to the public IP of worker node

**Anything else you would like to add:*

[2020-11-28 01:38] jessehu commented on #1056
Inbound NAT rule:
![image](https://user-images.githubusercontent.com/10006/100491291-52743880-315d-11eb-980e-92282d4b6ed9.png)

Inbound port rule:
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/10006/100491225-de399500-315c-11eb-8b91-31693b656c3e.png">

[2020-11-28 03:17] jessehu commented on #1017
NVIDIA's gpu-operator doesn't support containerd yet per discussion in https://github.com/NVIDIA/gpu-operator/issues/7

[2020-11-28 15:42] dr0pdb commented on #575
/assign

[2020-11-29 17:42] dr0pdb commented on #575
@CecileRobertMichon Might be a naive question but what is the difference between [`AzureMachine`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml) and [`AzureMachineTemplate`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/config/crd/bases/infrastructure.cluster.x-k8s.io_azurema

[2020-11-30 10:05] dbsanfte commented on #356
I've recently run into this trying to set up a hybrid k8s deployment in Azure.

The state of this issue is a bit confusing: the code seems to be merged, but it isn't released?

Is this feature released to the 0.4.x Azure Cloud Provider yet? Apologies if I'm asking in the wrong place.

[2020-11-30 14:29] devigned commented on #575
@dr0pdb if you were able to see the types side by side, you'd see differences between them. The `AzureMachineTemplate` in the experimental folder is used in virtual machine scale sets and doesn't have all of the information that can be set on an Azure virtual machine template (providerID, tags, etc). In machine pools, where the experimental `AzureMachineTemplate` is used, the `AzureMachinePool` an

[2020-11-30 16:19] CecileRobertMichon commented on #356
@dbsanfte this issue is still open so it hasn't been fixed yet. It was fixed in the Kubernetes cloud provider for k8s 1.18+ but we need to consume it in CAPZ and that is what this issue is for. This should be a pretty easy fix so if you'd like to assign yourself to the issue and contribute a fix feel free to do so. Otherwise I'll make sure we get to it before the next milestone.

/milestone v0.4.1

[2020-11-30 17:10] CecileRobertMichon commented on #1056
Hi @jessehu! By default, worker VMs will not have a public IP, only a private IP.

You should be able to ssh to any worker node by first ssh'ing on the control plane and using agent forwarding to ssh to the worker node from there as follows (given that your worker VM is using the same ssh key as the control plane):

[code]

You can also use the capz-ssh kubectl plugin as a convenience to SSH into

[2020-11-30 17:19] CecileRobertMichon opened #1058 "kubectl-capz-ssh should support AzureMachinePools"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
[kubectl-capz-ssh](https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/hack/debugging#capz-ssh) is useful for ssh'ing to a VM backed by an AzureMachine. It should also provide support for ssh'ing to a VMSS instance backed by an AzureMachinePool.

**Anything else y

[2020-11-30 17:19] CecileRobertMichon commented on #1058
/help

[2020-11-30 17:22] #1054 closed

[2020-12-01 04:28] jessehu commented on #1056
Thanks a lot @CecileRobertMichon. I followed your steps but got:
[code]
So SSH to master nodes is enabled on purpose, but disabled for worker nodes?

Another question: when deploying an application which uses NodePort, shall we manually add the NAT rule for the LoadBalancer for worker nodes (as shown in my screenshot) to map to the port of worker nodes?

[2020-12-01 12:45] dr0pdb commented on #575
Hi @devigned , thanks for the clarification.

Yes, I agree with your point. It would help eradicate confusion. Shall I scope it in this issue or a separate issue for renaming?

[2020-12-01 16:32] #1014 closed

[2020-12-01 16:37] devigned commented on #575
I vote for keeping it as a separate issue.

[2020-12-01 16:38] CecileRobertMichon commented on #575
+1 to separate issue, let's do any API changes as part of v1alpha4 (even it's experimental this would be a breaking change).

[2020-12-01 16:40] devigned opened #1060 "Rename exp.AzureMachineTemplate"
/kind feature

**Describe the solution you'd like**
Rename `AzureMachineTemplate` in the experimental folder to make moving `MachinePool` into the stable API easier and to minimize confusion with the v3alpaha `AzureMachineTemplate`.

For additional discussion see: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/575#issuecomment-735819680.

Perhaps, `AzureMachinePoolTemplate`.

[2020-12-01 16:42] CecileRobertMichon commented on #1060
/milestone v0.5.x

[2020-12-01 16:55] CecileRobertMichon commented on #1056
`capi@gpucluster-md-0-pvnqg: Permission denied (publickey).`  means the private key does not match. Are you using the same key for btoh control plane and worker nodes? You can try resetting the ssh key for the worker VM in the Azure portal to make sure it is using your public key.

No, you shouldn't add anything manually to the resources. CAPZ and cloud provider might even overwrite any manual cha

[2020-12-01 19:41] cpanato commented on #1058
/assign

[2020-12-01 20:31] voor commented on #657
/remove-lifecycle stale

[2020-12-01 22:09] CecileRobertMichon commented on #1000
/close

this will be fixed in CAPI v0.3.12

[2020-12-01 22:09] #1000 closed

[2020-12-02 20:52] CecileRobertMichon opened #1064 "Kubernetes 1.17.14 is broken on Azure"
/kind bug

https://github.com/kubernetes/kubernetes/pull/96623

Will be fixed in 1.17.15. In the meantime, we advise against creating clusters or upgrading clusters with 1.17.14.

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-12-02 21:30] CecileRobertMichon commented on #644
/reopen

[2020-12-02 22:15] CecileRobertMichon commented on #644
/remove-lifecycle stale

[2020-12-02 22:16] CecileRobertMichon commented on #654
/remove-lifecycle rotten
/reopen

[2020-12-02 22:18] CecileRobertMichon commented on #629
reopening to track testing / integration

/remove-lifecycle rotten
/reopen

[2020-12-02 22:19] CecileRobertMichon commented on #588
/remove-lifecycle rotten
/reopen
/help

[2020-12-02 22:20] CecileRobertMichon commented on #488
/remove-lifecycle rotten
/reopen

[2020-12-02 22:22] CecileRobertMichon commented on #493
/remove-lifecycle rotten

[2020-12-02 22:29] #1031 closed

[2020-12-03 07:57] richardcase commented on #679
Sorry @CecileRobertMichon i completely forgot about this, yes i will update the dcos for this.

[2020-12-03 17:01] #356 closed

[2020-12-03 21:21] CecileRobertMichon commented on #982
Should this issue be closed now that #1012 has merged @mjudeikis ?

[2020-12-03 21:24] CecileRobertMichon commented on #629
/remove-lifecycle stale

[2020-12-03 21:24] CecileRobertMichon commented on #644
/remove-lifecycle rotten

[2020-12-03 22:33] CecileRobertMichon commented on #675
/remove-lifecycle stale

[2020-12-04 17:34] kkeshavamurthy opened #1066 "Align flag names with upstream Kubernetes components"
/kind feature

**Describe the solution you'd like**
cluster-api repo made these changes to the flag names: kubernetes-sigs/cluster-api#3934

CAPZ should adopt these here as well to be consistent with it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `ku

[2020-12-04 17:34] kkeshavamurthy commented on #1066
/assign

[2020-12-06 16:52] cpanato opened #1068 "Instance name does not show the name of vmss and shows an index"
While working on https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1058 notice that we don't have enough information to get the name/ips of the vmss nodes to be able to ssh

When doing the investigation, notice that the `azuremachinepools` status field does not show the name of the node and it shows the index. `k get azuremachinepools.exp.infrastructure.cluster.x-k8s.io  machine

[2020-12-06 16:52] cpanato commented on #1068
/kind cleanup
/assign

[2020-12-07 14:44] vbatts commented on #629
@CecileRobertMichon nice. This is on our roadmap and I'm looking forward to making it happen.

[2020-12-07 18:36] #731 closed

[2020-12-07 21:22] CecileRobertMichon commented on #1066
@kkeshavamurthy let's hold on this until we open the main branch for v1alpha4 breaking changes

/milestone v0.5.x

[2020-12-08 00:11] #575 closed

[2020-12-10 12:36] #1068 closed

[2020-12-10 16:43] nader-ziada commented on #1017
/assign @mboersma

[2020-12-11 19:17] shysank opened #1075 "Move Service interface outside of azure (cloud/ directory) package"
/kind cleanup

**Describe the solution you'd like**
We have the [service](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/interfaces.go#L28) interface which describes the behavior of a reconciliation capz service. There are two kinds of services:

1. Individual service that reconciles one specific azure component (eg. virtualmachines.Service which only cares about v

[2020-12-15 06:05] surajrana93 commented on #1015
@mboersma @CecileRobertMichon
Do you still need help on this? Want to give it a try as a first issue

[2020-12-15 06:10] surajrana93 commented on #1075
@shysank
Can i take this up if its unassigned?

[2020-12-15 07:11] surajrana93 commented on #497
@CecileRobertMichon  do you need help in this?

[2020-12-15 14:48] devigned opened #1077 "Reduce the amount of authentication requests"
/kind feature

**Describe the solution you'd like**
For every reconciliation, CAPZ will completely rebuild the cluster `Authorizer` and with it, cause a request to Azure Active Directory to procure a new JWT which will them be used to Authenticate to Azure. You can see the POST in the Jaeger output below.

![capz-auth-overhead](https://user-images.githubusercontent.com/386473/102229642-08f44f00-3e

[2020-12-15 16:22] CecileRobertMichon commented on #1015
@surajrana93 go for it. I saw you also commented on #497. Both of these are up for grabs. Make sure you comment `/assign` on whichever one you choose to pick up and let us know if you would like any pointers.

[2020-12-15 17:10] CecileRobertMichon commented on #1077
/priority important-longterm

[2020-12-15 17:33] CecileRobertMichon commented on #1064
1.17.15 is now available

/close

[2020-12-15 17:33] #1064 closed

[2020-12-15 17:53] shysank commented on #1075
Sure @surajrana93 , although I'm not entirely sure about where we want to move `Service` to?  Should we create a new package?

/cc @CecileRobertMichon @devigned

[2020-12-15 20:33] devigned commented on #1075
Maybe we just rename `azure.Service` to `azure.Reconciler`. Thoughts?

Related to this, does anyone else find that the `cloud` directory contains the `azure` package a bit odd? Should it be the `azure` directory or the `cloud` package? I prefer the former.

[2020-12-15 21:11] CecileRobertMichon commented on #1075
+1 for the rename

Yep, I think this slipped into the v1alpha2 revamp and never got corrected. +1 for renaming the directory to `azure`

[2020-12-15 22:26] shysank commented on #1075
+1 for renaming both interface, and directory. I also noticed we have an `OldService` interface which is only used in machine pool. Not sure about the history here, but should we also migrate it to implement the new service interface?

[2020-12-15 22:32] CecileRobertMichon commented on #1075
Yep that's leftover TODO from https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/757

As soon as all the services have been refactored we can get rid of OldService

[2020-12-16 04:28] surajrana93 commented on #1075
/assign

[2020-12-16 17:17] CecileRobertMichon commented on #657
Looked into this a bit.

we'll need to find a mechanism to only add new VMs to availability sets (when zones are not supported) as availability sets do not support adding existing VMs. For now, we should focus on control plane VMs (ref https://github.com/kubernetes-sigs/cluster-api/issues/3358 for worker nodes).

VM orchestration modes are not available yet (preview is now closed) so we can revisi

[2020-12-16 17:18] CecileRobertMichon commented on #657
/help

This issue is ready to be picked up if someone wants to give it a go. Ask is to implement availability sets for control plane virtual machines in regions that do not support zones. This should _only_ be applied to new VMs created, not existing VMs (should be okay since we don't update VMs after they are created).

[2020-12-16 19:51] furkatgofurov7 commented on #497
@surajrana93 have you picked this up already? if not I would like to work on this.

[2020-12-16 20:08] CecileRobertMichon commented on #497
@furkatgofurov7 go for it, I believe @surajrana93 is already working on #1075

[2020-12-16 20:13] furkatgofurov7 commented on #497
/assign

[2020-12-16 20:33] CecileRobertMichon commented on #558
Let's allow updates for:

- AdditionalTags
- ProviderID

And disallow updates for everything else in AzureMachine spec for now. Did an audit of spec and these are the only two I could see as being updatable. Tags get reconciled separately by the tags service. Everything else that is a VM property won't be updated after create since we don't update existing VMs. Users should update the AzureMachine

[2020-12-16 20:51] srm09 commented on #558
/assign

[2020-12-16 20:56] CecileRobertMichon commented on #497
Fields that we should allow updates on:

- AdditionalTags
- ControlPlaneEndpoint (this should be moving to status in v1alpha4 but we need to keep it updatable so the controllers can update it when the LB is provisioned)
- NetworkSpec.APIServerLB (this is to allow backcompat backfill)

Everything else should not be updated.

/cc @devigned

[2020-12-16 22:03] shysank commented on #657
/assign

[2020-12-17 02:29] shysank commented on #657
@CecileRobertMichon A few clarifications:
1. Should we manage the lifecycle of availability sets or is it expected to be created beforehand?
2. If both failure domain and availability sets are present (region supports azs), failure domain takes precedence over availability sets?
3. I'm assuming this would be a change in AzureCluster spec. If we don't have to manage the availability set, it could a

[2020-12-17 16:55] CecileRobertMichon commented on #657
@shysank

1. Yes, CAPZ should manage lifecycle of availability sets. It should be a new resource that is created and deleted by AzureCluster.
2. Correct. You can inspect AzureCluster.Status.FailureDomains. If len == 0, then the location does not have AZs and we should create an availability set. If the region has AZs, no availability set should be created.
3. Not necessarily. I don't think this ne

[2020-12-17 17:16] dr0pdb commented on #815
/assign

[2020-12-17 17:26] shysank commented on #657
Thanks @CecileRobertMichon for the responses. For (4). I actually thought it was going to be a single availability set for the entire cluster. I think you're right, it's better to start with the control plane nodes, and then iterate from there.

[2020-12-17 18:56] CecileRobertMichon commented on #1056
I'm going to close this for now, feel free to reopen if needed.

/close

[2020-12-17 18:56] #1056 closed

[2020-12-17 18:56] CecileRobertMichon commented on #1048
/help

[2020-12-17 18:57] CecileRobertMichon commented on #1003
/assign @alexeldeib

[2020-12-17 18:57] CecileRobertMichon commented on #994
/help
/good-first-issue

[2020-12-17 18:58] CecileRobertMichon commented on #964
@gdhuper are you still working on this?

[2020-12-17 18:58] CecileRobertMichon commented on #997
/help

[2020-12-17 18:59] CecileRobertMichon commented on #826
/remove-lifecycle stale

[2020-12-17 19:01] CecileRobertMichon commented on #553
/close

[2020-12-17 19:01] #553 closed

[2020-12-17 19:02] CecileRobertMichon commented on #588
/help

[2020-12-17 20:57] shysank commented on #657
On second thought, we do a similar thing for resource groups, where we set the name to cluster name in defaults if not present, and create a group with that name. While deleting, we ignore the error if it's not owned by the cluster. Maybe we could do something similar for available sets? This will also be useful to get the name when deleting, otherwise we might need to infer using some kind of con

[2020-12-17 21:33] CecileRobertMichon commented on #657
For resource groups, it's important to allow users to bring their own resource groups and customize the name of the resource group since that needs to be unique in the subscription. I'm not sure there is a similar user need for availability sets. As a user, I'm not sure why you would want to bring your own availability set. You shouldn't share availability sets across clusters or with other non-CA

[2020-12-18 00:10] #586 closed

[2020-12-18 03:43] gdhuper commented on #964
@CecileRobertMichon Apologies for inactivity on this. I have most of it done but I couldn't get it to completion since I got occupied with my work. If this is issue is high priority, feel free to unassign. Otherwise I will be happy to complete this in the next two weeks or so.

[2020-12-19 01:57] devigned opened #1084 "Add staticcheck to the golangci linters"
/kind feature

**Describe the solution you'd like**
Add staticcheck to the .golangci.yml and fix up any of the issues caused by the new linter rules.

/help
/good-first-issue

[2020-12-19 01:58] devigned opened #1085 "Add errcheck to the golangci linters"
/kind feature

**Describe the solution you'd like**
Add errcheck to the .golangci.yml and fix up any of the issues caused by the new linter rules.

/help
/good-first-issue

[2020-12-19 01:59] devigned opened #1086 "Add unused to the golangci linters"
/kind feature

**Describe the solution you'd like**
Add unused to the .golangci.yml and fix up any of the issues caused by the new linter rules.

/help
/good-first-issue

[2020-12-19 02:01] devigned opened #1087 "Add errorlint to the golangci linters"
/kind feature

**Describe the solution you'd like**
Add errorlint to the .golangci.yml and fix up any of the issues caused by the new linter rules.

/help
/good-first-issue

[2020-12-19 02:03] devigned opened #1088 "Add gocyclo to the golangci linters"
/kind feature

**Describe the solution you'd like**
Add gocyclo to the .golangci.yml and fix up any of the issues caused by the new linter rules.

Wait until #1067 is merged since `Reconcile` currently has a high complexity score (`31`) which will trigger an error, and #1067 contains a refactor which will reduce the complexity.

/help
/good-first-issue

[2020-12-20 22:56] voor commented on #165
/remove-lifecycle stale

[2020-12-21 00:34] kyuho24 opened #1090 "Auto healing from randomized resources parallel deleting"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I delete the resource group in Azure portal, CAPZ fail to recover.
- CAPZ only retry to build/update network resource (LB, NSG, Public IP, VNET).
- CAPZ not try to build/update VMs
- observation for 3 days

**What did you expect to happen:**
When I deleted an egress rule, CPAZ rebui

[2020-12-21 00:56] rhockenbury commented on #664
Has there been any related updates on this issue?  My use case requires provisioning worker pools in different subnets.  For reference/context, the vsphere cluster api allows network settings to be defined in the machine template.

[2020-12-21 03:22] CecileRobertMichon commented on #664
@rhockenbury not yet, this is planned for v1alpha4

/milestone v0.5.x

[2020-12-21 11:00] Evalle commented on #1084
/assign

[2020-12-21 11:33] Evalle commented on #1084
Hi @devigned I've adeed `staticcheck` in the PR above, I'm not sure how to test if it caused any issues though. May I ask you for an advice here? Thanks!

[2020-12-21 12:18] devigned commented on #1084
Hi @Evalle! I'm approved testing on you PR. You should shortly see if the linting process has found any errors with the new linter added.

You can also run these linters locally via make. To run the unit test suite, linters included, run `make test`. To run just the linters, run `make lint`.

Thank you for opening the PR. Please ping me if I can be of service.

[2020-12-21 14:23] Evalle commented on #1084
Thanks, @devigned here are the failures I've got:
[code]

[2020-12-21 15:48] CecileRobertMichon commented on #1090
Hi @kyuho24, thanks for opening this issue. The VMs not getting recreated is desired behavior as the machines are immutable by design (see https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1008). However, if you add [machine health checks](https://cluster-api.sigs.k8s.io/tasks/healthcheck.html), cluster api will auto remediate by replacing machines that are in a failed state (mi

[2020-12-22 09:59] surajrana93 commented on #1075
@CecileRobertMichon
Please take a look when you get time https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1094

[2020-12-22 15:02] #1058 closed

[2020-12-22 19:09] jsturtevant opened #1095 "[Flaky tests] pull-cluster-api-provider-azure-e2e"
/kind bug

**What steps did you take and what happened:**

I have seen the following tests flaking on my PR but also happen in the periodic [jobs](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#periodic-capi-e2e-full).  This needs some further investigation and I have linked a few failures I've seen

- capz-e2e: Workload cluster creation With 3 control-plane nodes and 2 w

[2020-12-22 19:13] jsturtevant commented on #1095
Good issue to dive into the internals of how things work.

/help

[2020-12-23 13:50] #1084 closed

[2020-12-23 15:04] #1085 closed

[2020-12-23 15:04] #1086 closed

[2020-12-24 18:16] dr0pdb commented on #815
busy for few weeks.

/unassign

[2021-01-04 02:48] zawachte-msft opened #1102 "Loadbalancer Probe uses "/healthz" https endpoint. Suggestion to switch to a different probe."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Set anonymous-auth for the api-server to false in a kubeadmcontrolplane config.

**What did you expect to happen:**

Cluster comes up successifully.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Today the load balancer code

[2021-01-04 04:00] kyuho24 commented on #1090
Thanks @CecileRobertMichon.
Is "DON'T recreate VMs policy" a general policy fo native Cluster API design? or only for CAPZ ?
And Cloud you explain why CAPZ(or general cluster API) prohibits to recreate VMs ?

[2021-01-04 11:17] #982 closed

[2021-01-04 13:58] nader-ziada commented on #778
fixed as part of #977 since aad-pod-identity already supports that and its mentioned in the docs https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/book/src/topics/multitenancy.md

/close

[2021-01-04 13:58] #778 closed

[2021-01-04 16:42] CecileRobertMichon commented on #1090
@kyuho24 it is a Cluster API design concept. See https://cluster-api.sigs.k8s.io/user/concepts.html?highlight=immu#machine-immutability-in-place-upgrade-vs-replace and https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20181121-machine-api.md#in-place-vs-replace.

You bring up a good point about what should happen if the user manually deletes all Azure resources (and I don't

[2021-01-04 17:00] nader-ziada commented on #1090
This is my understanding: if the VM is deleted outside of cluster-api, its not always recoverable because for example the disk could still be present and that would lead to a failure when creating the vm, and since its not guaranteed capz would be able to create the VM again based on what resources are present and what is deleted, the behaviour is to set the `Machine` status to `Failed` and leave

[2021-01-04 17:57] CecileRobertMichon commented on #932
Since CAPI v0.3.12 merged, the HA upgrade test has been less flaky but still seeing some flakes: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#periodic-capi-e2e

[2021-01-04 18:41] #153 closed

[2021-01-04 19:57] nader-ziada opened #1104 "Multi-tenancy within one manager instance using Azure User Assigned Identities"
/kind feature

**Describe the solution you'd like**

As described by the multi-tenancy design proposal https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/proposals/20200720-single-controller-multitenancy.md (updated in #1089),
the manager instance should also support `Azure User Assigned Identities`

The current implementation (from pr #977) only added support for using

[2021-01-05 18:33] nader-ziada commented on #937
/assign

[2021-01-05 22:46] devigned commented on #757
/remove-lifecycle stale.

[2021-01-06 14:15] devigned commented on #757
/remove-lifecycle stale

[2021-01-06 14:37] Evalle commented on #1088
/assign

[2021-01-06 15:58] nader-ziada commented on #757
I can take that one after the existing "refactoring PRs" get merged

[2021-01-07 16:27] nader-ziada commented on #992
/assign

[2021-01-07 22:26] #1088 closed

[2021-01-07 23:57] shysank opened #1108 "Add tests for scope structs"
/kind feature

The `scope` structs (machine, cluster etc.) look like they only have simple getters and setters, but some of them have some subtle logic which return different values based on the state of the cluster/machine. Eg. PublicIPSpecs. Since we mock this behavior in `services`, we don't actually test the behavior of scope methods.

**Describe the solution you'd like**
Unit tests for all th

[2021-01-08 17:59] CecileRobertMichon commented on #1108
/help

[2021-01-09 21:48] furkatgofurov7 commented on #1087
@devigned hi! I would like to work on it.

/assign

[2021-01-11 14:29] randomvariable opened #1112 "Pass credentials into manager via a file instead of environment variables"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I've been reviewing the [Draft DISA STIG for Kubernetes](https://public.cyber.mil/announcement/request-for-comments-disa-has-released-the-draft-kubernetes-stig-for-review/), and CNTR-K8-001160 states:

The language isn't the best (I have also requested they remove the offensive text), bu

[2021-01-11 14:57] devigned opened #1113 "Export traces in OpenTelemetry format and then to Azure Monitor"
/kind feature
/help

**Describe the solution you'd like**
As a user of Cluster API Provider Azure, I would like to be able to export trace spans in OpenTelemetry format so that they can then be exported to Azure Monitor via the [Azure Monitor Exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/azuremonitorexporter).

Currently, when a developer runs `ma

[2021-01-11 17:07] CecileRobertMichon commented on #1112
@randomvariable does CAPA already pass in credentials via a file?

[2021-01-11 19:01] CecileRobertMichon opened #1114 "E2E failure: cannot get remote client to workload cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Seeing some more common flakes on PRs over the last few days. One of them is the following error in KCP logs which causes the 3rd control plane to not be created and the test to fail with:

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-ap

[2021-01-11 19:26] randomvariable commented on #1112
Yup, more accurately, it follows the SDK rules so we write the secret to ~/.aws/credentials

[2021-01-11 20:47] CecileRobertMichon opened #1115 "E2E failure: LB GET failed after 5 attempts"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Seeing a lot of PR E2E flakes recently on the `with a single control plane node and an AzureMachinePool with 2 nodes [It]` spec. Test fails with:

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-provider-azure-e2e/1348697453653659648

**What di

[2021-01-12 01:07] aronchick opened #1116 "Default install not working - "--feature-gates""
/kind bug

**What steps did you take and what happened:**
An absolutely generic install - it fails at the point of clusterconfig init --infrastructure=azure

The cluster-manager wouldn't come up - describing the pod revealed the following
[code]

**What did you expect to happen:**
The cluster to become available.

- cluster-api-provider-azure version:
[code]
- Kubernetes version: (use `kubectl ver

[2021-01-12 14:30] devigned commented on #1116
What version of `clusterctl` are you using. It looks like the version is not doing env var substitution. This feature was added in https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.7. If you are using a previous version of `clusterctl`, I would expect the behavior above.

[2021-01-12 19:42] CecileRobertMichon commented on #999
/remove-lifecycle stale

[2021-01-13 14:53] nader-ziada opened #1118 "Cluster deletion stuck in continuous loop"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
copying issue from cluster-api repo since it is in the provider: https://github.com/kubernetes-sigs/cluster-api/issues/4065

**What did you expect to happen:**
I was expecting the cluster to be deleted and not shown in output of kubectl get cluster

**Anything else you would like to add:

[2021-01-13 14:59] devigned commented on #1118
The resource group is 404 error probably affects more than just `AzureCluster`. I think it's pervasive in the controllers. If Azure gives us a 404 back for the resource group and the resource is being deleted, we should just delete the resource. I think we check for 404 in the non-delete case b/c we might have started reconciling a resource prior to the group being created.

The annoying part of t

[2021-01-13 15:28] nader-ziada commented on #1118
There is already a check in the groups service if the resource group doesn't exist and assumes it already deleted, but maybe the problem here is that the error is `Subscription not found` so the check is not working

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/groups/groups.go#L99-L103

[2021-01-13 15:36] devigned commented on #1118
Delete never gets called. The controller returns before the scope is created and delete is called: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/a3525d2d89821192dbaeef270f46eff09e4c4587/controllers/azurecluster_controller.go#L105-L115

[2021-01-13 15:39] nader-ziada commented on #1118
but when the original issue reported called delete, the error is `error deleting AzureCluster default/test-cluster-1: failed to delete resource group` which I think is coming from here https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azurecluster_reconciler.go#L151

[2021-01-13 15:47] devigned commented on #1118
I'm so sorry... You are right, @nader-ziada. I think it's coming from here where the 404 is returned and we only expect a wrapped error type in the caller.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/a3525d2d89821192dbaeef270f46eff09e4c4587/cloud/services/groups/groups.go#L88-L91

[2021-01-13 15:48] nader-ziada commented on #1118
i'll try to work on that, thanks for your help @devigned

[2021-01-13 15:48] nader-ziada commented on #1118
/assign

[2021-01-14 00:04] aronchick commented on #1116
Yep that was it. From the cluster api book, it suggested installing 0.3.6. Updating with a more recent install solved it.

[2021-01-14 00:04] #1116 closed

[2021-01-14 23:36] shysank commented on #1104
/assign

[2021-01-15 13:51] nader-ziada commented on #1104
@shysank there might be some changes need in the aad-pod-library before we can work on this, better to discuss with @devigned

[2021-01-15 14:09] devigned commented on #1104
As @nader-ziada was mentioning and if I recall correctly, AAD Pod Identity is configured to work within a resource group when assigning managed identities and is configured through https://github.com/Azure/aad-pod-identity/blob/fb1bdba48ab5c1fa0be64382b6a74acdbcb41089/pkg/config/azureconfig.go#L10. After talking with @aramase, the reasoning behind this was mostly due to performance concerns of hav

[2021-01-15 17:23] aramase commented on #1104
The `resourcegroup` that's configured with MIC (MIC gets that value from `azure.json`) is for the compute resources only. MIC uses the resource group to list the VMSS instances and assign identity only to the VMSS in the cluster resource group. However the identities can be in any resource group.

@devigned The management cluster is the one that has the identities, right?

[2021-01-15 18:17] devigned commented on #1104
Yes.

So, are you saying that Azure compute resources hosting the management cluster would not span multiple resource groups, so having resourcegroup in the azure.json makes sense?

[2021-01-15 18:23] aramase commented on #1104
Yeah, that's right. Users can bring their own managed identities which belong to any resource group within the tenant. After they assign the required role assignments pod identity will be able to assign the identities to the underlying VMSS/VM.

[2021-01-15 18:30] devigned commented on #1104
@nader-ziada or @shysank wdyt?

[2021-01-15 19:58] nader-ziada commented on #1104
I think one concern was that we are currently using the managed mode with only `nmi` because at the time of deployment of the `mic` we would not be able to know which resource group to pass it since that will depend on the workload cluster. This is because we need to support the use case of having a management cluster outside of azure, for example on kind

[2021-01-15 21:25] jsturtevant opened #1125 "Add Metrics server to clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
After deploying a cluster the commands `kubectl top nodes` and `kubectl top pods` don't work because the [metric server](https://github.com/kubernetes-sigs/metrics-server) is missing.  Functionality like the [HPA will also require](https://kubernetes.io/docs/tasks/run-application/horiz

[2021-01-15 21:38] CecileRobertMichon commented on #1125
We can do this easily on all dev clusters created by e2e and through the makefile, and document how to do this for workload clusters (either run `kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml` on each cluster or use a ClusterResourceSet to automatically apply it to every workload cluster). However, same as CNIs, it's up to the user to c

[2021-01-16 14:31] #497 closed

[2021-01-18 23:07] #1118 closed

[2021-01-19 16:11] shysank commented on #657
/reopen

[2021-01-19 16:12] shysank commented on #657
@CecileRobertMichon Should we reopen this issue for worker nodes? or create a new one?

[2021-01-19 17:47] CecileRobertMichon commented on #657
/reopen

we can keep this one open since it has the discussion

[2021-01-19 17:54] CecileRobertMichon commented on #1115
related #1123

[2021-01-19 18:25] shysank commented on #657
I was planning to implement this. Extending on [1099](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1099), the plan is to have another availability set for worker nodes, and assign all vms that are not control plane nodes to this new availability set. wdyt?

[2021-01-19 19:02] CecileRobertMichon commented on #657
I think it would make more sense to have one availability set per MachineDeployment. Because 1) you will run into max number of VMs per AS (200) quickly with large clusters, 2) it makes more sense to spread similar machines across fault domains. For example, if you have one MD with 10 GPU nodes and one MD with 10 CPU nodes in a region with 2 fault domains, you'd want 5 GPU nodes in each fault doma

[2021-01-20 15:28] enxebre opened #1129 "Decouple Infrastructure resource from machine controller"
/kind feature

**Describe the solution you'd like**
As a CAPI consumer I'd like to plug-in my own ControlPlane and Infrastructure resources [1] while still still reusing the existing machine controller implementation.

Today this is not possible because the machine/machinePool controllers are tightly coupled with the regular AzureCluster kind [2].

A scenario where this is handy is one where there

[2021-01-20 18:21] CecileRobertMichon commented on #1129
As discussed in Slack, let's start with a proposal.

/milestone v0.5.x

[2021-01-20 18:48] #992 closed

[2021-01-20 18:52] nader-ziada commented on #961
I will start working on this in a branch so we are ready!

/assign

[2021-01-21 17:11] #1087 closed

[2021-01-21 17:52] shysank opened #1133 "Containers still run as root due to non-numeric user in Docker image"
/kind bug

**What steps did you take and what happened:**
This is a duplicate of [capi non root user bug](https://github.com/kubernetes-sigs/cluster-api/issues/4046)

**What did you expect to happen:**
capz should not fail when psp for non root users is enabled

**Anything else you would like to add:**
[capi fix](https://github.com/kubernetes-sigs/cluster-api/pull/4064)

**Environment:**

- cluste

[2021-01-21 17:53] shysank commented on #1133
/assign

[2021-01-21 18:33] CecileRobertMichon commented on #964
@gdhuper let me know if you need any help here. Feel free to open a work in progress PR if you'd like initial feedback.

[2021-01-21 18:42] CecileRobertMichon opened #1134 "Add support for Ultra Disks for data disks"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This depends on #964

See also https://docs.microsoft.com/en-us/azure/virtual-machines/disks-types and https://github.com/Azure/aks-engine/pull/3872.

Azure ultra disks deliver high throughput, high IOPS, and consistent low latency disk storage for Azure IaaS VMs. Validation needs to

[2021-01-21 23:57] CecileRobertMichon commented on #541
/remove-lifecycle stale

[2021-01-22 00:00] CecileRobertMichon commented on #894
/remove-lifecycle stale

[2021-01-22 18:20] rosskukulinski commented on #1017
Containerd 1.4 support is now live in gpu-operator 1.4.  +100 for leveraging gpu-operator

[2021-01-22 22:31] srm09 commented on #1133
FYI https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1089#issuecomment-765721150

[2021-01-22 23:21] shysank commented on #1104
/unassign

[2021-01-25 18:13] sadysnaat opened #1139 "azure nodeOutbound loadbalancer reconcile fails after creating serviceType=LoadBalancer"
/kind bug

**What steps did you take and what happened:**
Create a cluster using clusterctl

[code]

[code]

Install cni
[cni.yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-azure/files/5868627/cni.yaml.txt)

Install nginx controller
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.43.0/deploy/static/provider/cloud/deploy.yaml`

and capz

[2021-01-25 19:22] CecileRobertMichon commented on #1139
Hi @sadysnaat, we have identified a similar issue in our E2E tests (#1115) that has been root caused to a platform (Azure) issue. A fix is currently being rolled out.

Did you create/delete another LB /service before this happened by any chance? The repro steps we've observed so far are:
1) Create internal service (which triggers a create of an internal load balancer)
2) Delete internal service (w

[2021-01-25 19:40] sadysnaat commented on #1139
No. First manifest I applied to cluster is nginx-ingress
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.43.0/deploy/static/provider/cloud/deploy.yaml`

No deletion for internal service was performed as soon as Loadbalancer service got external IP, capz reconcile error started.

[code]

[2021-01-25 21:04] CecileRobertMichon commented on #1139
Thanks @sadysnaat, I was able to repro. There seems to be a conflict between cloud provider setting LB rules and CAPZ trying to reconcile the LB.

/assign

[2021-01-25 23:27] #1133 closed

[2021-01-26 21:20] #1139 closed

[2021-01-26 22:23] CecileRobertMichon commented on #1112
Note that this is _partially_ solved by [multi-tenancy](https://capz.sigs.k8s.io/topics/multitenancy.html) as credentials will now be created as secrets instead of being passed into the manager, but the default manager still requires passing in credentials. This should change in v1alpha4 when the default becomes one identity per AzureCluster.

In the meantime, trying to see how we could use a file

[2021-01-26 23:29] #1047 closed

[2021-01-27 00:05] CecileRobertMichon commented on #1115
Update: we root caused this to a platform regression. The fix is being rolled out, ETA: 2 weeks from now.

[2021-01-27 00:11] CecileRobertMichon commented on #532
/remove-lifecycle stale

[2021-01-27 00:11] CecileRobertMichon commented on #484
/remove-lifecycle stale

[2021-01-27 00:11] CecileRobertMichon commented on #611
/remove-lifecycle stale
/help

[2021-01-27 00:12] CecileRobertMichon commented on #663
/remove-lifecycle stale

[2021-01-27 14:27] #657 closed

[2021-01-27 21:49] vivgoyal opened #1145 "Add AKS addon support"
/kind feature

**Describe the solution you'd like**
Add support for installing/managing AKS addons as part of the control plane reconciliation.

[2021-01-27 23:44] devigned commented on #1145
Azure API for addons: https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#managedclusteraddonprofile

[2021-01-28 22:13] CecileRobertMichon commented on #1145
/help

[2021-01-29 21:58] vivgoyal opened #1148 "Missing field nodeResourceGroup in AKS cluster template"
/kind bug

**What steps did you take and what happened:**
Used clusterctl to generate cluster templete as described here: https://capz.sigs.k8s.io/topics/managedcluster.html
Command used:
clusterctl config cluster $CLUSTER_NAME --kubernetes-version v1.19.6 --flavor aks -i azure:v0.4.11 > cluster1.yaml

Error I got while applying the template:
error: error validating "cluster1.yaml": error validati

[2021-01-30 00:45] CecileRobertMichon commented on #932
/close

[2021-01-30 00:45] #932 closed

[2021-02-01 11:50] axbarsan opened #1151 "AzureMachinePool SpotVMOptions maxPrice property fails to serialize"
/kind bug

**What steps did you take and what happened:**
Trying to apply an `AzureMachinePool` that uses spot instances and has a maximum price of `0.01`.

While templating and applying the following `AzureMachinePool` resource via `kubectl apply`, everything works as expected.

<details>
<summary>'AzureMachinePool' resource</summary>

[code]

</details>

However, if I'm trying to fetch that reso

[2021-02-01 17:25] CecileRobertMichon commented on #1151
Yes, please go for it
/assign @axbarsan

/cc @JoelSpeed - fyi, other providers might have the same issue

[2021-02-01 18:15] devigned commented on #603
@CecileRobertMichon is this still open?

[2021-02-01 18:17] CecileRobertMichon commented on #603
yes, the last part is to add the script in the extension that checks for the sentinel file and set conditions.

[2021-02-01 20:12] vivgoyal opened #1153 "Multi tenancy support for AKS/managed clusters"
/kind feature

**Describe the solution you'd like**
Multi tenancy support for AKS/managed clusters

**Anything else you would like to add:**
Similar to unamanged clusters as described here: https://capz.sigs.k8s.io/topics/multitenancy.html, I would like to request multi tenancy support for AKS/managed clusters as well.

[2021-02-01 20:14] jzhoucliqr opened #1154 "CAPZ is trying to delete NSG when deleting unmanaged cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When try to delete an unmanaged cluster, CAPZ is trying to delete the NSG, which then failed because subnet is still there. Should skip NSG deletion for unmanaged clusters.

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information t

[2021-02-01 20:27] shysank commented on #997
/assign

[2021-02-01 21:34] CecileRobertMichon commented on #481
/assign

Writing some docs on this as everything should already be possible today. oidc flags can be passed into apiserver via extra args.

[2021-02-01 22:15] CecileRobertMichon opened #1155 "Architecture documentation for CAPZ networking"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As a new user of CAPZ, it would be good to get an overview of networking resources (eg. public IPs, Load Balancer, NICs, etc)  provisioned by CAPZ and how they relate to each other.

We used to have https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/release-0.3/docs/des

[2021-02-01 22:15] CecileRobertMichon commented on #1155
/help

[2021-02-01 22:18] CecileRobertMichon commented on #1154
@jzhoucliqr that definitely sounds like a bug. Just to confirm, when you say "unmanaged cluster" you mean "unmanaged vnet" correct? Does your vnet have any owner tags on it?

[2021-02-01 22:29] CecileRobertMichon commented on #1154
Indeed, we are missing the block to skip NSG deletion if the vnet is unmanaged:

To fix it, we need to add:

[code]

to https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/securitygroups/securitygroups.go#L142 (similar to reconcile)

/good-first-issue
/priority-important-soon
/milestone v0.4.12

[2021-02-01 22:30] CecileRobertMichon commented on #1148
/help

[2021-02-02 07:32] Evalle commented on #1154
/assign

[2021-02-02 20:24] #1151 closed

[2021-02-03 20:23] nader-ziada commented on #994
had to update the kind version as part of the v1alpha4 types PR #1144

/assign

[2021-02-03 21:15] rhockenbury opened #1159 "Additional Configurability with Azure Private clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
CAPZ feels to currently be slightly opinionated with the set of resources it creates and does not offer configurability to disable the creation of some resources.  There could be instances where the creation of a resource is undesired by the end user, or even not permitted per an organ

[2021-02-04 00:16] #1075 closed

[2021-02-04 00:23] devigned commented on #1159
I think the challenge here is how to describe and then choreograph the behaviors CAPZ depends upon. For example, IIRC Azure private DNS is used to deal with hairpin routing in the control plane. If there is a way we could express that dependency or correct that behavior is such a way that we can make it more amenable to other infra, let's do it.

We'd be excited to work through these opinionated r

[2021-02-04 20:23] shysank commented on #1017
@mboersma are you working on this? If not, can I pick this one up?

[2021-02-04 21:13] mboersma commented on #1017
/assign @shysank

@shysank I am not currently working on this, so please have at it (and thank you).

When I had looked at it in December, the issue was that restarting a node made Kubernetes lose track of the GPU device, which didn't seem to be a problem with the existing `Pre|PostKubeAdmCommand` approach. Hopefully that is fixed now or you can find a workaround.

[2021-02-05 18:28] CecileRobertMichon commented on #847
/remove-lifecycle stale

[2021-02-05 18:29] CecileRobertMichon commented on #1153
/milestone v0.5.0
/priority important-longterm

[2021-02-05 20:38] #997 closed

[2021-02-05 22:45] #1154 closed

[2021-02-08 08:56] surajrana93 commented on #1155
@CecileRobertMichon I would like to help here. But I would require some guidance here as I am also a bit new on this

[2021-02-08 12:02] surajrana93 commented on #1145
@CecileRobertMichon
Can I help here?

[2021-02-08 17:01] CecileRobertMichon commented on #1145
@surajrana93 go for it. Let me or @alexeldeib know if you have any qestions.

/assign @surajrana93

[2021-02-08 17:06] CecileRobertMichon commented on #1155
Sure, let me know when you are ready to start and maybe we can do a walkthough together

[2021-02-10 18:43] CecileRobertMichon commented on #966
/remove-lifecycle stale

[2021-02-10 18:44] CecileRobertMichon commented on #416
/remove-lifecycle stale

[2021-02-10 18:45] CecileRobertMichon commented on #614
duplicate of #1153

/close

[2021-02-10 18:45] #614 closed

[2021-02-11 16:13] nprokopic opened #1173 "Adopt existing AKS clusters"
***Goals***
1. Support in CAPZ to adopt an existing AKS cluster, by creating required CAPI and CAPZ objects that describe it.

***Non-Goals/Future Work***
1. Support in CAPZ to adopt an existing Kubernetes cluster that was created outside of CAPZ (with infrastructure similar to how it's created now with `AzureCluster` and other related objects), by creating required CAPI and CAPZ objects that desc

[2021-02-11 16:35] nprokopic opened #1174 "OS type is not set for managed node pool when calling Azure API"
/kind bug

**What steps did you take and what happened:**

Related to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1173

When CAPI and CAPZ objects are created to describe an existing AKS cluster, CAPZ `AzureManagedMachinePool` controller tries to reconcile the created `AzureManagedMachinePool` object. When it tries to call `CreateOrUpdate` for the agent pool, Azure API ret

[2021-02-11 16:45] nprokopic commented on #1174
Proposed PR for fixing this https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1175

[2021-02-11 16:53] nprokopic commented on #1173
Current blockers for this:

1. OS type not explicitly specified for the managed node pool, described here https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1174

2. SSH key update error

[code]

I had my public key configured here, but same would probably happen even without it, as the defaulting would set a newly generated key if one was not set already. This should be solved b

[2021-02-11 22:45] shysank commented on #1017
There is an [issue](https://github.com/NVIDIA/gpu-operator/issues/143) with gpu operator compatibility with `containerd v1.3.0`. tldr; containerd expects a `default_runtime_name` field to be set to `nvidia`. I have opened a [pr](https://github.com/NVIDIA/container-config/pull/1) which I believe is the fix. Will have to wait for the nvidia folks' confirmation, and the timeline for it to be availabl

[2021-02-12 07:13] nprokopic opened #1176 "Windows support for AKS clusters"
/kind feature

Currently managed clusters (AKS) only support Linux nodes, while AKS supports Windows nodes as well.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

New `OSType` field in `AzureManagedMachinePoolSpec`, which is then used to set the specified OS type in `ManagedClusterAgentPoolProfileProperties` when submitting request to Azure API

[2021-02-12 17:13] CecileRobertMichon commented on #1173
cc @alexeldeib

[2021-02-12 19:10] nprokopic commented on #1173
About SSH keys, in theory it might work if the AKS cluster was created with a single SSH key, and that same key is set in the CR.

I didn't make it work yet, I'll update here after some more testing  (mid next week, as I'm AFK in the beginning of the week).

[2021-02-12 20:17] nprokopic commented on #1173
Some concrete actions here would be to add an e2e test for adopting an existing AKS cluster with features that are currently supported in CAPZ. We can the  iterate from there by adding more AKS features to CAPZ (I would happily submit a proposal for what to add next, or pick up some existing issue) and updating e2e test to cover those.

(Before any of these, we probably need at least some basic e2

[2021-02-14 01:27] #1102 closed

[2021-02-16 18:23] CecileRobertMichon commented on #1045
/remove-lifecycle stale

waiting for feature to be available widely

[2021-02-16 18:24] CecileRobertMichon commented on #1034
/remove-lifecycle stale
/lifecycle active
/assign @devigned
/assign

[2021-02-16 18:24] CecileRobertMichon commented on #915
/remove-lifecycle stale

[2021-02-16 18:25] CecileRobertMichon commented on #550
/remove-lifecycle stale

[2021-02-16 18:25] CecileRobertMichon commented on #550
/good-first-issues

conditions are now supported for AzureMachines, we should use those.

[2021-02-16 18:25] CecileRobertMichon commented on #550
/good-first-issue

[2021-02-16 18:27] CecileRobertMichon commented on #915
/remove-lifecycle stale

[2021-02-16 18:29] CecileRobertMichon commented on #857
/remove-lifecycle stale

[2021-02-16 23:01] #964 closed

[2021-02-17 01:49] CecileRobertMichon commented on #558
@srm09 are you still interested in working on this one?

[2021-02-17 09:54] fiunchinho opened #1179 "Clusters names starting with a number char are not allowed by the webhook"
/kind bug

**What steps did you take and what happened:**

Trying to create an `AzureCluster` CR named `1a2b3c` is not allowed, the webhook will prevent it, failing with

```Cluster Name doesn't match regex ^[a-z][a-z0-9-]{0,44}[a-z0-9]$, can contain only lowercase alphanumeric characters and '-', must start/end with an alphanumeric character```

But the explanation and the regex don't match. Whil

[2021-02-17 19:19] shysank opened #1181 "Parallel reconciliation of azure resources"
/kind feature
/kind explore

**What steps did you take and what happened:**

We reconcile serially a bunch of resources in azurecluster and azuremachine reconcilers. Some of these resources have no dependency on each other, and can be reconciled simultaneously. Eg. After a vm is reconciled, vmextensions, tags and roleassignments can be reconciled simultaneously, and potentially save some time.

**

[2021-02-17 19:24] CecileRobertMichon commented on #1179
I think that's fine, looking at https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules, I don't see any resources that we use that can't start with a number. The regex was originally added in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/828 to allow defaulting resource names using the cluster name as prefix without breaking Azure naming r

[2021-02-17 19:27] CecileRobertMichon commented on #1181
Another thing we should consider doing more of is #1067 for other resources. A lot of these create operations are long running and we don't need to be block everything else while the resource creates. We can start the create and then exit the controller loop right away and come back later to check if the operation is done. This also allows us to deal with a lot more objects concurrently (imagine y

[2021-02-17 20:00] shysank commented on #1181
Yeah, the ideal solution is probably a combination of both. We could  use #1067 for long running operations (vm create), and go routines for relatively shorter ones.

Or another thing we can do is to just timeout all operations longer than 5 seconds (let's say), update future data, and return control. This will mean only the reconciliation during create will be async, the subsequent ones will most

[2021-02-17 22:29] CecileRobertMichon opened #1182 "Windows VMSS E2E flakes"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1178/pull-cluster-api-provider-azure-e2e-windows/1362121987211661312

[code]
job history: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-provi

[2021-02-17 22:36] devigned commented on #1182
I believe this is fixed in #1105

[2021-02-17 22:38] CecileRobertMichon commented on #1182
Which part of #1105 fixes it? 😄  Can we pull the fix into a smaller / quick merging PR or is it part of the refactor?

[2021-02-18 00:17] devigned commented on #1182
I think the issue is the bootstrap data secret doesn’t get picked up until 10 mins after it is created. We can either requeue or set a watch.

For brevity, I just requeued.

[2021-02-18 00:24] CecileRobertMichon commented on #1182
how come we weren't running into this before? Did it only become relevant with #1067 ?

[2021-02-18 00:48] devigned commented on #1182
I did find that node ref names weren’t aligned with expected machine names since Windows names machine pools differently, but I don’t know if that also affected #1067.

Might have to dig a little deeper on this one.

[2021-02-18 18:15] CecileRobertMichon commented on #1182
/assign @jsturtevant

[2021-02-18 21:11] nprokopic commented on #847
I believe that I also hit these errors in my recent testing, if nobody is working on this you can assign it to me.

Fixing this before adding a basic AKS e2e test would be good.

[2021-02-18 21:18] CecileRobertMichon commented on #847
/assign @nprokopic

[2021-02-19 12:17] nprokopic commented on #847
Small update, apparently this does not happen always.

In multiple attempts, when the AKS cluster is created with 2 node pools where both have only a single replica, there are no errors.
When I increased the replica count to 3 for both node pools, the error occurred. I assume it happens as the initial AKS provisioning (with first system node pool deployment, larger in this case) takes longer.

`Az

[2021-02-19 18:46] srm09 commented on #558
Whoops, @CecileRobertMichon I totally forgot about this one. Gimme a day or two, otherwise I will unassign myself.

[2021-02-19 19:21] jsturtevant commented on #1182
I was able to reproduce this using the main branch with the tilt `machinepool-windows` flavor:

[code]

[2021-02-19 19:23] jsturtevant commented on #1182
2 of the four nodes came online:

[code]

[2021-02-19 19:33] jsturtevant commented on #1182
But there should only be 4 worker nodes total across windows and linux according to my config:

[code]

[code]

[2021-02-19 19:37] CecileRobertMichon commented on #1182
Could this be related to VMSS overprovisioning ?

[2021-02-19 19:40] devigned commented on #1182
I like your thought about overprovisioning, @CecileRobertMichon. I think it might be that and the difference in pool naming / instance naming in Windows.

[2021-02-19 20:08] jsturtevant commented on #1182
I am seeing it run over and over again.  Adding a few more logs interesting logs that keep repeating:

[code]

[2021-02-19 22:33] jsturtevant commented on #1182
I think I've narrowed it down to the hash being generated is different each time due to the fact we have a generated password:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/b9c90e48157f63f9b3321a1cdccd0e5f2a3f21d0/azure/services/scalesets/scalesets.go#L198-L203

`buildVMSSFromSpec` eventually calls to create the `OSprofile` and which generates a new password:

https://github.

[2021-02-20 00:31] CecileRobertMichon opened #1185 "Bump mockgen to v1.5.0"
Change the value of mockgen version here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/Makefile#L75

See https://github.com/golang/mock/pull/405#issuecomment-782471295

/good-first-issue
/help

[2021-02-20 10:33] Evalle commented on #1185
/assign

[2021-02-20 14:41] #1174 closed

[2021-02-22 19:42] CecileRobertMichon opened #1189 "Add a resource group tag for PR number on E2E jobs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

It would be useful to be able to tell which PR/branch created a cluster when looking at E2E resource groups. This can be done by adding a new tag to the RG, just like we add the creationTimestamp and jobName tags already.
When running in Prow, the tag value should use the available en

[2021-02-22 19:42] CecileRobertMichon commented on #1189
/good-first-issue
/help

[2021-02-22 20:00] CecileRobertMichon opened #1190 "> I don't love this solution, but it does fix the Windows VMSS issue. I'd prefer to see a password only get set on create, rather than on update too."
Agreed. Let's follow up on this.

_Originally posted by @CecileRobertMichon in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1186#issuecomment-783635800_

[2021-02-22 20:01] CecileRobertMichon commented on #1190
/cc @devigned @jsturtevant

[2021-02-22 20:08] jsturtevant commented on #1190
agreed it isn't ideal.  Right now Cloudbase-init is configured to reset the password on the machine to a random password on first boot but the VM does need to be provided a temp password for creation.  This was to make it so the customers don't have to have a "magic" windows password which they have to manage out of band.

Considered a few couple other options in the PR to fix the hash generation:

[2021-02-22 21:04] #1182 closed

[2021-02-22 22:48] #1179 closed

[2021-02-23 14:22] #481 closed

[2021-02-23 18:36] jsturtevant opened #1192 "Align install and CI scripts to use local bin folder for all tools in the repository"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
There are two different ways the repository installs tools that was found in #1097.  After discussion in office hours would like to align to install all tools via `makefile` into a `hack/tools/bin` and have all scripts use those tools.

**What did you expect to happen:**
`make` and CI sc

[2021-02-23 19:06] CecileRobertMichon opened #1193 "Forward port MachinePool FailureDomains to v1alpha4 types"
@nader-ziada let's forward port this to alpha4 once the types merge

_Originally posted by @CecileRobertMichon in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1180#issuecomment-784439609_

[2021-02-23 19:08] nader-ziada commented on #1193
/assign

[2021-02-23 20:40] devigned opened #1195 "Not all of the CI jobs use the same registry"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I logged into Azure Container Registry (capzci.azurecr.io), I saw there were images in two repositories, `ci-e2e/cluster-api-azure-controller-amd64` and `cluster-api-azure-controller-amd64`. I suspect we have some CI jobs not applying the `ci-e2e/` prefix when tagging images.

**Wha

[2021-02-23 21:07] CecileRobertMichon commented on #1192
/help

[2021-02-23 22:54] #663 closed

[2021-02-24 00:10] #1185 closed

[2021-02-24 18:44] CecileRobertMichon opened #1198 "Audit e2e tests to make sure all contexts are passed through"
Make sure we're not using any context.TODO() or context.Background() in test/e2e.

This might not require any changes if all contexts are already being set properly.

[2021-02-24 19:13] srm09 commented on #558
@CecileRobertMichon The current implementation allows for updates of a bunch of other values:
- OSDisk
- SSHPublicKey
- Identity ...
Do we wanna keep those or is the plan to disallow these and just allow AdditionalTags and ProviderID ?

[2021-02-24 20:02] #961 closed

[2021-02-24 20:10] nader-ziada commented on #994
kind updated to v0.9.0 as part of v1alpha4 PR #1144

closing

[2021-02-24 20:10] #994 closed

[2021-02-24 20:11] nader-ziada commented on #1193
applied as part of v1alpha4 PR #1144

closing issue

[2021-02-24 20:11] #1193 closed

[2021-02-24 20:11] nader-ziada commented on #1198
/assign

[2021-02-24 20:14] nader-ziada opened #1199 "Audit "deprecated" variables/functions in v1alpha4"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Audit and cleanup any `deprecated` fields or functions as part of the main v1alpha4 branch

[2021-02-24 20:15] nader-ziada commented on #937
didn't get a chance to work on this
/unassign

[2021-02-24 22:13] nader-ziada commented on #1066
I think this got done as part of the v1alpha4 PR #1144 as a side effect of aligning with core capi

[2021-02-24 22:20] CecileRobertMichon commented on #1066
/close

[2021-02-24 22:20] #1066 closed

[2021-02-24 22:50] wwsean08 commented on #1159
I had to work around the DNS issue as our network is using a custom DNS server instead of the default azure provider, thus the private DNS wasn't getting injected.  My workaround was to update the `KubeadmConfigTemplate` to override the hosts file with the proper dns record, in my case I'm doing i via helm.  This way my nodes could talk to each other just fine (though temporarily I had to SSH into

[2021-02-25 21:18] CecileRobertMichon commented on #558
@srm09 see my [comment](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/558#issuecomment-746969844) above. Only AdditionalTags and ProviderID should be mutable as VMs are immutable and any other spec that is updated won't actually result in the VM being updated.

[2021-02-26 00:30] jsturtevant opened #1202 "curl is failing during e2e tests"
/kind bug

**What steps did you take and what happened:**

In https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1197 we are seeing make fail with the following:

curl -fsL https://storage.googleapis.com/kubernetes-release/release/v1.19.2/bin/linux/amd64/kubectl -o /home/prow/go/src/sigs.k8s.io/cluster-api-provider-azure/hack/tools/bin/kubectl-v1.19.2
make[1]: *** [Makefile:249: /h

[2021-02-26 16:46] #1202 closed

[2021-03-03 14:05] richardcase commented on #679
I've still not got around to this, sorry. With v1alpha4 not far off is there any benefit in doing this?

[2021-03-03 21:50] CecileRobertMichon opened #1206 "Use custom service accounts instead of default for controllers"
As an operator, I would like to use a dedicated service account for each CAPZ controller (instead of default)

/kind feature

/priority important-soon
/milestone v0.4.0
/help

see https://github.com/kubernetes-sigs/cluster-api/pull/4245

[2021-03-03 21:54] mboersma commented on #488
/remove-lifecycle stale

[2021-03-03 22:39] CecileRobertMichon commented on #644
The scope of this issue has grown quite a bit since KCP was introduced in CAPI so now it's no longer about supporting MachinePools with a "control-plane" label, we would have to either add some glue between KCP and MachinePools to make KCP work with MachinePools or create an equivalent MachinePool Control Plane CRD to KCP (similar to how KCP manages machines).

[2021-03-04 21:21] nader-ziada commented on #1206
/milestone v0.5.0

[2021-03-04 21:23] furkatgofurov7 commented on #1206
/assign

I can work on this.

[2021-03-04 21:26] nader-ziada opened #1208 "Identity controller should not assume manager namespace"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- Identity controller that creates an AzureIdentityBinding in the same namespace as the `capz-controller-manager` assumes a namespace of `capz-system`

**What did you expect to happen:**
- users can deploy providers in different namespaces using `clusterctl init` with the `--target-names

[2021-03-05 00:33] CecileRobertMichon opened #1211 "Cert manager tilt module needs to be updated"
Copy paste from https://github.com/kubernetes-sigs/cluster-api/issues/4256

Cert manager version was recently bumped to v1.1.0 in this [commit](https://github.com/kubernetes-sigs/cluster-api/pull/4225/files#diff-c2ee8653e1d6b85f0aadf87cd438a9250806c052877248442be4d434cbc52425) but the Tilt [module](https://github.com/kubernetes-sigs/cluster-api/blob/master/tilt_modules/cert_manager/Tiltfile) wasn'

[2021-03-05 00:33] CecileRobertMichon commented on #1211
/help
/good-first-issue

[2021-03-05 02:28] enyinna1234 commented on #1211
/assign

[2021-03-05 14:59] nader-ziada commented on #1208
/assign

[2021-03-05 15:00] nader-ziada commented on #1199
/milestone v0.5.0

[2021-03-05 15:02] nader-ziada commented on #1060
/remove-lifecycle stale

[2021-03-05 17:27] CecileRobertMichon opened #1213 "Set the controller UserAgent to "capz-controller""
/kind feature

Set the UserAgent to "capz-controller".
This string is used to identify actors within a Kubernetes system; for instance it appears in managedFields.

Currently, it is set to "manager" (if not set, UserAgent defaults to the name of the binary).

match the changes in https://github.com/kubernetes-sigs/cluster-api/pull/4257 once it merges.

/help
/good-first-issue

[2021-03-05 18:44] furkatgofurov7 commented on #1213
/assign

[2021-03-05 19:47] devigned opened #1215 "Unable to update Machine Pool version"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
After being alerted to an issue with updating the Kubenetes version of a machine pool via [this Slack thread](https://kubernetes.slack.com/archives/CEX9HENG7/p1614873280120900). I following the quickstart guidance and I created a machine pool flavored cluster. I then updated the K8s vers

[2021-03-05 19:48] devigned commented on #1215
/assign

[2021-03-06 22:29] #776 closed

[2021-03-07 16:10] vbatts commented on #629
cc @invidian

[2021-03-08 18:35] CecileRobertMichon commented on #1159
Related to https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype

[2021-03-08 18:42] #1208 closed

[2021-03-08 21:24] CecileRobertMichon opened #1221 "E2E failure: Ensuring web-elb times out with Windows + VMSS"
Digging into the error, here are the relevant logs:
[code]

So the ILB service got created and deleted successfully but then the ELB service times out. It looks like the LB rules got added successfully but then the `CreateOrUpdateVMSS` loops on `CreateOrUpdateVMSS: verify the status of the vmss being created or updated` until eventually the test times out and starts cleaning up the cluster at whic

[2021-03-08 22:26] CecileRobertMichon commented on #541
/help

[2021-03-09 05:42] bavarianbidi opened #1222 "Enable `metrics`-scraping"
/kind feature

**Describe the solution you'd like**
I created [PR 📖 document metrics scraping and enable metrics services via annotations](https://github.com/kubernetes-sigs/cluster-api/pull/4247) at CAPI and also some PRs on other infraproviders to document how to setup all the RBAC stuff together with `kube-rbac-proxy` and `prometheus` to scrape metrics from CAPI containers.

The annotation alre

[2021-03-09 14:18] devigned commented on #1221
Do you also see the hash tag for the VMSS mutating? That would indicate their is thrashing between cloud provider and AzureMachinePool.

[2021-03-09 15:10] devigned commented on #1215
I believe this should be resolved by: #1217
/close

[2021-03-09 15:10] #1215 closed

[2021-03-09 18:41] CecileRobertMichon commented on #1222
@bavarianbidi, yes please go ahead and open a PR to add it back

[2021-03-10 12:16] shysank commented on #541
/assign

[2021-03-10 12:53] shysank commented on #1199
/assign

[2021-03-10 17:02] nader-ziada commented on #749
this is a guide with the required steps: https://www.kubernetes.dev/resources/rename/

It is recommended to do with when is a small number of PRs since all the prow jobs will be re-triggered for active PRs

[2021-03-10 17:19] nader-ziada opened #1227 "Move AZURE_ENVIRONMENT to AzureCluster spec"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Moving AZURE_ENVIRONMENT to AzureCluster spec will allow capz `infrastructure-components.yaml` to be deployed without requiring `envsubst` to set a default value

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
source: https:/

[2021-03-10 18:16] davideimola commented on #1211
Hi @CecileRobertMichon, as the task in Cluster API has been done and replicated in the tilt module too it would be nicer if we commit the same thing here.

FYI @fabriziopandini

[2021-03-10 19:11] #1206 closed

[2021-03-10 23:51] CecileRobertMichon commented on #1211
yes let's implement the same changes as https://github.com/kubernetes-sigs/cluster-api/pull/4274

@enyinna1234 let us know if you have any questions

[2021-03-10 23:58] CecileRobertMichon commented on #1155
@surajrana93 are you still interested in helping with this?

here's the link to the recorded walkthough: https://youtu.be/NekS355dq-U

[2021-03-11 16:42] nader-ziada commented on #1227
/assign

[2021-03-12 04:22] surajrana93 commented on #1155
@CecileRobertMichon  Unfortunately I am a bit busy these few weeks. You can go ahead and reassign. If I get sometime, I'll post an initial draft of the document and then you can assign it back.

[2021-03-14 10:32] sbueringer opened #1235 "clusterctl apiVersion in metadata.yaml"
/kind bug

**What steps did you take and what happened:**

I'm currently implementing v1alpha4 for CAPO and I saw that the [metadata.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/metadata.yaml) in CAPZ already has the apiVersion v1alpha4. I'm just wondering if this should be v1alpha3 or if there's someting I"m missing.

**Environment:**

- cluster-api-provider-azu

[2021-03-15 12:09] devigned commented on #1235
I think this was intentional when the new v1alpha4 types were added. Is this causing a problem?

cc @nader-ziada

[2021-03-15 12:40] sbueringer commented on #1235
@devigned Just wondering because that's the only place where it's used and there is no v1alpha4 of this apiGroup clusterctl. Just was confused that the latest cluster-api (master) version of the test framework was not able to handle that (CAPZ e2e tests also use v1alpha3 in metadata.yaml)

[2021-03-15 13:50] nader-ziada commented on #1235
@sbueringer main branch is now for v1alpha4, are you wondering if this change should have only come when we release?

[2021-03-15 14:06] sbueringer commented on #1235
@nader-ziada No, that sounds fine to me. I just found out that when I use v1alpha4 in metadata.yaml the cluster-api test framework says that it doesn't know it. Which imho absolutely makes sense, because cluster-api on master revision (which is v1alpha4) does not have a v1alpha4 for the apiGroup: `clusterctl.cluster.x-k8s.io`.

I understand that all other resources are v1alpha4, I'm just pretty co

[2021-03-15 14:09] nader-ziada commented on #1235
oh I finally get what you are saying now, you are correct that this is wrong, it should be
`apiVersion: clusterctl.cluster.x-k8s.io/v1alpha3`

[2021-03-15 16:57] CecileRobertMichon commented on #1015
/remove-lifecycle stale

[2021-03-15 18:00] CecileRobertMichon commented on #1077
/remove-lifecycle stale

[2021-03-15 18:06] invidian opened #1237 "NMI fails to run on hosts which have no /etc/default/kubelet"
/kind bug

**What steps did you take and what happened:**
1. Setup CAPZ with Tilt for development on cluster with no `/etc/default/kubelet` file.
2. Tilt never converges with NMI pod in crash loopback with following logs:
[code]

**What did you expect to happen:**

NMI converges, or ideally, NMI is not deployed when deploying to management cluster not running on Azure

**Anything else you would li

[2021-03-15 18:10] invidian opened #1238 "Add some sanity check for controller credentials"
/kind feature

**Describe the solution you'd like**
Right now, if one deploys CAPZ using Tilt and forgets to specify some credentials via environment variables, CAPz controller runs as usual until you try deploying a cluster, which then fails.

It would be nice to do any kind of check for credentials and either reject cluster operations or crash if the credentials are wrong. This would provide bet

[2021-03-15 18:25] sbueringer commented on #1235
@nader-ziada Ah great :). Just wasn't sure if I"m missing something or if it's intended to keep this apiGroup on version v1alpha3.

[2021-03-15 20:49] nader-ziada commented on #1227
The reason we used an env var for `AzureEnvironment` is that the azure sdk reads it from the environment and as far as I can see there is not func to pass this in. So even it we switch to a field on AzureCluster, we would need to set it as an env var before calling the sdk?

@CecileRobertMichon @devigned  wdyt?

[2021-03-15 21:54] jackfrancis commented on #1189
/assign

[2021-03-15 23:52] #1235 closed

[2021-03-16 02:15] nader-ziada commented on #1211
/close

fixed by #1234

[2021-03-16 02:15] #1211 closed

[2021-03-16 14:12] tuommaki opened #1240 "Allow workload cluster API LB frontend port to be configured distinctively from apiserver listen port"
***Goals***
1. Allow distinct configuration of API LB frontend port from apiserver listen port.
1. Maintain current behavior to default with apiserver listen port when control plane endpoint port has not been defined.

**User Story**

As an operator I would like to configure different port to public facing API LB frontend port than what workload cluster's k8s apiserver uses as listen port.

**Deta

[2021-03-16 14:46] devigned commented on #1238
The CAPZ controller in the future will not require credentials. In fact, the controller credentials will be deprecated in a future version.

Each cluster should have it's own identity reference. Please take a look at https://capz.sigs.k8s.io/topics/multitenancy.html. wdyt?

[2021-03-16 15:02] devigned commented on #1227
@nader-ziada I think we can get around setting an env var. I'm happy to pair on this with you.

As for the idea of adding it to the `AzureCluster` spec and not needing `envsubst`, +1. Can you think of any other fields that would go with this? Just wondering if this should be part of a larger struct or is just top level on the spec.

[2021-03-16 15:31] nader-ziada commented on #1227
@devigned would be cool if there is a way to get around that with the sdk, can you share any tips here? happy to pair as well :)

I was thinking of just adding it to the AzureCluster Spec since would remove the need for envsubst on the mainfest. I don't think is anything else to add in a bigger struct

[2021-03-16 15:55] devigned commented on #1227
I think we can just override some of what is going on in go-autorest auth https://github.com/Azure/go-autorest/blob/c7f947c0610de1bc279f76e6d453353f95cd1bfa/autorest/azure/auth/auth.go#L107.

[2021-03-16 17:50] jackfrancis commented on #550
My 2¢: these types of warnings should be integrated into the UX flow of building/configuring clusters and/or machines. Putting them in an event stream of the resource itself is sort of too late.

[2021-03-16 17:53] CecileRobertMichon opened #1241 "Update ginkgo version 1.15.2"
https://github.com/onsi/ginkgo/issues/780 was fixed in v1.15.2. We should undo the revert to 1.14 and use version 1.15.2.

Version can be updated in the Makefile.

/good-first-issue

[2021-03-16 17:55] CecileRobertMichon commented on #1237
@invidian is it specific to the flatcar image you're using that ` /etc/default/kubelet` doesn't exist?

@aramase @chewong does NMI / pod identity have an explicit requirement on the existence of `/etc/default/kubelet`?

[2021-03-16 17:56] invidian commented on #1237
I guess it entirely depends on how you deploy K8s. If you run everything in containers, you won't have this file either.

[2021-03-16 17:58] aramase commented on #1237
NMI uses `/etc/default/kubelet` to determine if the CNI plugin is kubenet. We're adding an option in the next release to skip checking the file if `--allow-network-plugin-kubenet` is set to true.

[2021-03-16 18:00] CecileRobertMichon commented on #1237
@aramase thanks. Does the workaround suggested by @invidian above seem appropriate to you? kubeadm / CAPZ doesn't support kubenet.

[code]

[2021-03-16 18:04] aramase commented on #1237
Yeah, that's a valid fix. We'll also add this to our manifests as part of the next release.

[2021-03-16 18:06] invidian commented on #1238
This makes it IMO even more important to do sanity checks, if it's _possibly_ up to the user to provide the credentials. Is there anything like this in place?

[2021-03-16 18:07] aramase commented on #1237
Opened https://github.com/Azure/aad-pod-identity/issues/1002 to track the change

[2021-03-16 18:10] CecileRobertMichon commented on #1237
Thanks! In the meantime, I'll mark this as help wanted to add it to the CAPZ NMI spec.

/help

[2021-03-16 18:42] jackfrancis commented on #1015
/assign

[2021-03-16 18:50] devigned commented on #1238
What would you think about validating the cluster by checking the ENV for creds and if missing, require the cluster to have an identity ref?

[2021-03-16 18:57] #1189 closed

[2021-03-16 18:59] eedorenko opened #1243 "Secure AKS Baseline with CAPI/CAPZ"
***Goals***
1. Be able to provision a production ready Secure AKS baseline  cluster with CAPI/CAPZ

**User Story**
In order to be in compliance with [AKS Secure Baseline Architecture](https://github.com/mspnp/aks-secure-baseline) an AKS cluster should have the following properties and configurations:

|Feature|[Installed by Flux](https://github.com/kaizentm/multicluster-gitops/tree/main/infra/base

[2021-03-16 19:20] CecileRobertMichon commented on #1243
/cc @nprokopic @alexeldeib

[2021-03-16 19:35] CecileRobertMichon commented on #1108
/priority important-soon

[2021-03-16 19:47] nader-ziada commented on #1238
the `identityRef` is part of the workload cluster definition, so that check would happen at the creation time of that cluster which would not help with the problem described here in this issue.

The problem with checking the credentials at the time of creating the management cluster is that it would require an extra call to azure to validate its values, which would be an extra step that some would

[2021-03-16 20:48] nprokopic commented on #1243
I could tackle this list :) but maybe refactoring from https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/757 should be done first?

[2021-03-16 20:49] nprokopic commented on #757
I can take exp/managedclusters.

[2021-03-16 20:55] eedorenko commented on #1243
FYI @craiglpeters @jackfrancis

[2021-03-16 21:17] CecileRobertMichon commented on #776
https://github.com/kubernetes-sigs/cluster-api/pull/4333/files

[2021-03-16 21:25] devigned commented on #1238
I was just saying we check for a valid set of env vars, like `AZURE_TENANT_ID`, `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET` are not `""` when a workload cluster is being created. If there isn't a valid set of env vars and no `identityRef`, reject the cluster.

I agree we would have a tough time figuring out if creds are valid, but we have an easy time figuring out if they are present. If we know t

[2021-03-16 21:29] nader-ziada commented on #1238
yes, makes sense

[2021-03-16 21:30] alexeldeib commented on #1243
Thanks for making this list! Nicely highlights some of the areas for us to work on.

for private link, is all that’s needed a custom VNET? We do have that logic, the VNET is in the ManagedControlPlaneSpec: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/7744b89fe0aae67ec3f282ffd957c1214dc33a52/exp/api/v1alpha4/azuremanagedcontrolplane_types.go#L42

I think we could potentially e

[2021-03-16 22:13] alexeldeib commented on #1243
private ACR would be a role binding to the kubelet identity used by the cluster. we're defaulting to System identities, but if we allow user-managed identities, we could "solve" this by asking users to provide a user-managed identity preconfigured with the desired RBAC to their ACR. There is no location to specify the ACR name AFAIK, kubelet's internal  provider will figure out you are pulling an

[2021-03-17 08:02] Evalle commented on #1241
/assign

[2021-03-17 16:34] alexeldeib commented on #1003
@CecileRobertMichon what is left to close this? An example maybe once we publish official gen2 images for the next k8s patch version?

[2021-03-17 17:57] #1241 closed

[2021-03-17 22:36] CecileRobertMichon commented on #1095
Going to close this since we're opened more specific issues for failures since

/close

[2021-03-17 22:36] #1095 closed

[2021-03-17 23:37] #1015 closed

[2021-03-18 17:09] #1227 closed

[2021-03-18 21:23] nader-ziada commented on #1153
/assign

[2021-03-19 20:46] CecileRobertMichon commented on #1113
/assign

[2021-03-22 16:03] #1115 closed

[2021-03-22 16:13] CecileRobertMichon opened #1252 "Periodic CAPI tests failing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-main

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-

[2021-03-22 16:15] CecileRobertMichon opened #1253 "Conformance + k8s master branch tests are failing"
/kind failing-test

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-conformance-v1alpha3-k8s-main-release-0-4
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-conformance-v1alpha4-k8s-main

[code]

**What did you expect t

[2021-03-22 16:16] CecileRobertMichon commented on #1253
/assign

[2021-03-22 19:49] CecileRobertMichon commented on #1221
this just happened again in #1251

[2021-03-22 21:39] CecileRobertMichon opened #1255 "Add validations to AzureMachineTemplate to enforce immutability"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Issue came from this slack discussion: https://kubernetes.slack.com/archives/CEX9HENG7/p1616445246083000

As documented in https://cluster-api.sigs.k8s.io/tasks/change-machine-template.html

Currently, updates to AzureMachineTemplates are allowed which is misleading as it results in n

[2021-03-22 21:39] CecileRobertMichon commented on #1255
/good-first-issue

[2021-03-23 02:30] mowangdk commented on #1255
/assign

[2021-03-23 11:33] devigned commented on #1255
There were discussions about merging the `AzureMachineTemplate` and [`AzureMachineTemplate` used in MachinePool](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/d5124be8c5a5ca3fc0d7aeb977222b4a59387ef6/exp/api/v1alpha4/azuremachinepool_types.go#L29) via #812. By making the `AzureMachineTemplate` immutable, these types will not be able to be merged since `AzureMachinePool` relies

[2021-03-23 16:39] CecileRobertMichon commented on #1221
@jsturtevant had looked into this briefly and we noticed that the VMSS name was empty in cloud provider logs:

[code]

Not sure if that's related.

[2021-03-23 20:33] CecileRobertMichon opened #1259 "Update golangci to v0.38.0"
Steps:

- bump golangci to v0.38.0 release https://github.com/golangci/golangci-lint/releases/tag/v1.38.0
- deprecate `maligned` and enable govet `fieldalignment` https://github.com/golangci/golangci-lint/pull/1765
- handle/fix new detected lint issues in code

[2021-03-23 20:33] CecileRobertMichon commented on #1259
/good-first-issue

[2021-03-24 10:36] mistikel commented on #1259
I would like to take it

[2021-03-24 10:39] mistikel commented on #1259
/assign

[2021-03-24 16:22] CecileRobertMichon opened #1263 "Add more log statements to E2E"
#1260 Added a `Log()` and `Logf()` helper in the e2e package that prints timestamped logs. For now it's only used in the azure_lb test spec. We should add log lines to other parts of the E2E suite, like resource creation and other validations.

We should also consider adding durations in logs, for example: "service elb took 2.546s to become available".

[2021-03-24 17:24] #1221 closed

[2021-03-24 18:14] CecileRobertMichon commented on #1263
/good-first-issue

[2021-03-24 18:29] CecileRobertMichon commented on #815
/remove-lifecycle stale

[2021-03-24 19:05] nader-ziada commented on #1252
this is because of a cluster-api issue, https://github.com/kubernetes-sigs/cluster-api/issues/4361

once its resolved, I will get the latest with the fix to resolve the capz side of it

/assign

[2021-03-24 21:17] #1253 closed

[2021-03-24 23:16] CecileRobertMichon opened #1266 "Support ipv6 dual stack"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

#646 added ipv6 single stack support.

This issue is to track adding IPv6 dual-stack support (https://kubernetes.io/docs/concepts/services-networking/dual-stack/) and enabling e2e testing for dual-stack clusters.

**Anything else you would like to add:**
[Miscellaneous information tha

[2021-03-24 23:16] CecileRobertMichon commented on #1266
cc @chewong @aramase

[2021-03-25 00:10] CecileRobertMichon opened #1267 "Soak tests"
In order to test stability of CAPZ cluster over periods of time, we should add tests on long-running ("soak") clusters.

The tests would need to:
- build a long-running CAPI management cluster if it doesn't exist or if the current one has expired (criteria TBD)
- build a long-running CAPI workload cluster if it doesn't exist or if the current one has expired (criteria TBD)
- set up an application

[2021-03-25 11:10] fiunchinho opened #1268 "Docs should warn about KubeadmControlPlane secrets when switching to a new machine template"
**What steps did you take and what happened:**

I was trying to upgrade a workload cluster control plane to a new k8s version (from `v1.18.2` to `v1.18.14`), using a new machine image, so I followed [the steps described in the docs](https://cluster-api.sigs.k8s.io/tasks/upgrading-clusters.html).

I used these manifests that are really similar to those that one would get using

[code]

Notice how t

[2021-03-25 14:09] #1259 closed

[2021-03-25 15:05] CecileRobertMichon commented on #1268
Yeah, it's CAPZ specific, transferred the issue

[2021-03-25 16:22] aramase commented on #1266
Had an offline conversation with @CecileRobertMichon

We already support dual-stack host for the VM/VMSS provisioned with CAPZ as part of single stack IPv6 support. The required changes for dual-stack will be around the Kubernetes configuration for the control plane components:

1. Multiple pod cidr
2. Option to add multiple service cidr
3. Feature flags (< 1.20) as 1.21 it's on by default

[2021-03-25 16:27] #1199 closed

[2021-03-25 17:53] #603 closed

[2021-03-25 18:38] CecileRobertMichon commented on #1268
We should also investigate whether it would be possible to do this automatically in the azure json controllers, ie. watch for changes in KCP on AzureMachineTemplate and change the secret name if an old secret name reference is found.

[2021-03-25 23:32] devigned opened #1272 "Metrics are not being collected from Azure SDK client calls"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Following https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/hack/observability/prometheus I was unable to see any metrics in prometheus.

**What did you expect to happen:**
I expect prometheus metrics to be scraped and visible following the directions referenced a

[2021-03-26 00:32] CecileRobertMichon commented on #1272
I was able to repro this from the v0.4.10 tag, which is the tag for the first release that included metrics and tracing with tilt, so it doesn't look to be a recent regression. Either something in the environment changed, or we're testing it wrong.

[2021-03-26 00:38] CecileRobertMichon commented on #1272
Seems like it was the latter, I can see the metrics now 😃 the old UI makes it slightly easier to find what queries to use...

[2021-03-26 00:38] #1272 closed

[2021-03-26 08:31] shysank opened #1274 "Document steps for updating dependencies"
/kind feature

**Describe the solution you'd like**
Recently I was on a [pr](#https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1270) to update capi version. It was entirely straightforward. The following were the things I wish were documented somewhere:

1. A note about pseudo versions. This is probably a golang  familiarity thing, but it'd be nice to have a reference somewhere.

[2021-03-26 08:37] shysank commented on #1255
I had to do a similar thing for node outbound load balancer spec, and it was painful with a lot of repeated code. Should we try to do something similar to what's done in [kcp webhook](https://github.com/kubernetes-sigs/cluster-api/blob/3de1188f06026d59e733ec1a1bce946732986c75/controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook.go#L117)?

[2021-03-26 10:11] devigned commented on #1272
@CecileRobertMichon can you describe your query or add it to documentation so we don't forget again.

[2021-03-26 13:01] fiunchinho commented on #1268
The problem I see with that approach is that I'm afraid that could trigger two different rollings of the nodes. First because the KCP changed its `AzureMachineTemplate`. Secondly, if the azure json controllers also update the KCP again (updating the files section), that would trigger yet another rolling upgrade.

[2021-03-26 16:10] CecileRobertMichon commented on #1272
So there are many different queries. In the old UI they show up in a drop down so you can just click on the one you want, but in the new UI you have to start typing for it to autocomplete which makes it a bit harder to find if you don't know what you're looking for. I can add details to the doc later.

[2021-03-26 18:53] jsturtevant opened #1276 "Add ability to inject kube binaries from kubernetes CI builds on Windows"
/kind feature

**Describe the solution you'd like**
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1119 enables windows k8s e2e tests. To support CI builds we need to be able to inject the windows components on the nodes as is done in

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/4f3f98b5e1d8abe2dba2a9658b4501acf42a6626/templates/test/prow-machine-pool-ci-

[2021-03-29 19:01] CecileRobertMichon commented on #618
/assign

[2021-03-29 23:18] CecileRobertMichon opened #1279 "Cluster-Autoscaler test"
We should test the cluster-autoscaler + CAPZ integration by running periodic tests that create a CAPZ cluster, install the autoscaler, and perform validations that autoscaler scales the cluster machines up and down as expected when workloads are deployed / deleted.

Enabling autoscaler for cluster-api: https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/clusterapi

[2021-03-29 23:19] CecileRobertMichon commented on #1279
@jackfrancis this might be an interesting one to you

[2021-03-29 23:19] CecileRobertMichon commented on #1279
/help

[2021-03-29 23:30] jackfrancis commented on #1279
/assign

[2021-03-30 16:52] CecileRobertMichon opened #1284 "E2E flake: Waiting for web-windows deployment times out"
/kind failing-test

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-cluster-api-provider-azure-e2e-windows

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Enviro

[2021-03-30 18:55] chewong opened #1286 "Log dumping script for Windows clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Our log dumping script (https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/hack/log/log-dump.sh) should support Linux as well as Windows clusters

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Envi

[2021-03-31 20:51] CecileRobertMichon commented on #1284
it’s been relatively stable over the last 24 hours, not sure if something was happening environmentally in prow that was causing it to fail, will keep an eye on it

[2021-04-01 14:16] whites11 commented on #165
Are we still interested in this feature? I could work on it.

[2021-04-01 16:02] nader-ziada opened #1288 "Change multi-tenancy allowed namespaces to be more restrictive"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Currently in the multi-tenancy implemenations, allowed namespaces is by default open to any namespaces
- Other CAP* provider have a little bit more restrictive approach like the following:
[code]
- Consistency between providers is highly desirable, so the request here is to make capz

[2021-04-01 17:12] nader-ziada commented on #1288
/milestone v0.5.0

[2021-04-01 17:15] nader-ziada commented on #757
thanks @nprokopic

[2021-04-01 17:59] #847 closed

[2021-04-01 19:25] #1017 closed

[2021-04-01 20:09] devigned commented on #165
/remove-lifecycle stale

[2021-04-01 20:13] jackfrancis commented on #1125
In my tests the vanilla metrics-server config doesn't work. I have gotten a v0.3.7 spec working correctly, using the `--kubelet-insecure-tls` and `--kubelet-preferred-address-types=InternalIP` command args, and using a `spec.insecureSkipTLSVerify: true` config to the `APIService` configuration.

[2021-04-01 20:14] devigned commented on #165
@whites11, I we are still interested in this feature. We had thought about using Azure Bastion to implement this, but I think it might be best to just use a regular VM. If you are interested, we'd appreciate the collaboration.

/assign @whites11

[2021-04-01 20:15] jackfrancis commented on #1279
Notes: the out-of-the-box spec provided here isn't working yet:

https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/clusterapi

I'm stuck on this error message in the cluster-autoscaler pod logs:

`W0401 20:12:38.794974       1 static_autoscaler.go:798] Couldn't find template for node group MachineDeployment/default/francis-default2-md-0`

[2021-04-01 20:31] whites11 commented on #165
Thanks for the answer @devigned
+1 for the VM approach.
I will think how to proceed and make a proposal.

[2021-04-01 20:51] devigned commented on #165
Awesome! Looking forward to the proposal.

There is some existing work in the space:
- Existing Azure Bastion Service code: https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/azure/services/bastionhosts
- https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/175
- https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/708

If you want to riff on some

[2021-04-02 07:30] whites11 commented on #165
Before I begin, let me share my current idea to get early feedback.
I can imagine three different ways of implementing a bastion solution for a CAPZ cluster:

- [Azure Bastion](https://azure.microsoft.com/en-us/services/azure-bastion/) feature
- Dedicated Machine
- Use master node

There are pros and cons for all of the above and I can imagine use cases for all of them.
Idea: why don't we make thi

[2021-04-02 17:14] CecileRobertMichon commented on #679
/close

availabilityZones were removed in #1233

[2021-04-02 17:14] #679 closed

[2021-04-03 02:05] #551 closed

[2021-04-03 02:05] #812 closed

[2021-04-03 13:33] mowangdk commented on #1263
/assign

[2021-04-05 01:19] #1090 closed

[2021-04-05 12:05] shysank opened #1290 "Conformance test suite for nvidia gpu"
/kind feature

**Describe the solution you'd like**
Now that gpu operator is merged, we need to have conformance test suite for nvidia gpu, and run it as part of conformance tests.

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-04-05 16:12] CecileRobertMichon commented on #715
/lifecycle frozen

status update:

done

done

hold until OOT is fully ready

Added tests for OOT (already testing in tree). Not testing migration currently.

Non-Goals/Future Work

Done in #1216

[2021-04-05 16:18] CecileRobertMichon commented on #165
I like the idea of allowing different implementations and the way you've structured the spec.

Only feedback I have is on the naming of things, `dedicatedHost` can be confused with https://azure.microsoft.com/en-us/services/virtual-machines/dedicated-host/ and we should avoid using the word `master` in `masterNode` per [k8s WG Naming ](https://groups.google.com/g/kubernetes-wg-naming).

[2021-04-06 04:21] CecileRobertMichon commented on #1279
Finally got around to testing this, here are my observations:

My setup was a kind management cluster and one CAPZ workload cluster in the default namespace.

Steps:

1) (assuming the workload cluster kubeconfig is at `./kubeconfig`)
`kubectl create secret generic kubeconfig --from-file=kubeconfig -n kube-system`

2) create a file [cluster-autoscaler.yaml ](https://gist.github.com/CecileRobertMich

[2021-04-06 05:27] CecileRobertMichon commented on #1279
Update: I did run into the unregistered node issue eventually, and I think I've narrowed it down to the provider ID of the node not matching the provider ID of the Machine.

Cloud provider sets the ID by doing `azure + :// + ID`

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/28f04006af77503360c42c5c3930ea707b897108/pkg/node/node.go#L63

Whereas CAPZ sets the ID with 3 slashes: `azur

[2021-04-06 05:28] CecileRobertMichon opened #1292 "Provider ID should only append two slashes to match cloud provider node provider ID format"
Update: I did run into the unregistered node issue eventually, and I think I've narrowed it down to the provider ID of the node not matching the provider ID of the Machine.

Cloud provider sets the ID by doing `azure + :// + ID`

https://github.com/kubernetes-sigs/cloud-provider-azure/blob/28f04006af77503360c42c5c3930ea707b897108/pkg/node/node.go#L63

Whereas CAPZ sets the ID with 3 slashes: `azur

[2021-04-06 12:51] whites11 commented on #165
Thanks for the comment @CecileRobertMichon
What are the next steps for me after addressing your naming concerns? Do I need a CAEP? Or should I begin with the PR directly? (sorry noob CAPZer here :sweat_smile:)

[2021-04-06 16:37] invidian commented on #629
/remove-lifecycle rotten

Small update. We've got image-builder to build CAPI Azure images, but there is still some thing which needs to be resolved before we open the PR.

Changes proposed in https://github.com/kubernetes-sigs/cluster-api/pull/4172 works out of the box with CAPZ, except new cluster configuration template needs to be submitted including some minor differences in node configuration

[2021-04-06 17:14] CecileRobertMichon commented on #165
Since this is an opt-in feature and not a big redesign, and given that you've already presented the intended changes above, I think it's okay to proceed without a CAEP. We should agree on naming here before proceeding to a PR though. Do you have any suggestions?

Also, for implementation, what do you think about breaking out the changes into 3 PRs, one for each bastion approach so we can review an

[2021-04-06 17:18] #1255 closed

[2021-04-06 18:08] CecileRobertMichon commented on #1292
/assign

[2021-04-06 19:34] whites11 commented on #165
Thanks for clarifying

Let me think about it and I will post another comment.

Exactly what I was thinking to do

[2021-04-06 20:04] nader-ziada commented on #1288
/assign

[2021-04-06 21:35] nader-ziada commented on #1288
I've looked at examples in kubernetes itself and think was wondering if we just should use the `labelSelector` and not have the `[]string` . We originally added the `[]string` because we had some implementations issues with the label

@gab-satchi @sedefsavas what do you think? why would we need both?

[2021-04-07 07:46] whites11 commented on #165
OK what about this:

[code]

`azureBastion` and `azureMachine` refer to two azure services (`Azure Bastion` and `Azure Virtual Machine` obviously) so I feel ok prefixing the two keys with `azure`.
`Control Plane Node` is what `wg-naming` [suggests](https://github.com/kubernetes/community/blob/master/wg-naming/recommendations/001-master-control-plane.md#control-plane-node) to indicate one of what I

[2021-04-07 15:57] CecileRobertMichon commented on #165
LGTM

@nader-ziada @shysank @mboersma any opinions?

[2021-04-07 16:00] cpanato commented on #165
lgtm as well
and thanks for moving forward with this issue <3

[2021-04-07 16:00] cpanato commented on #165
lgtm as well
and thanks for moving forward with this issue <3

[2021-04-07 16:01] nader-ziada commented on #165
the naming in the last comment looks good to me, so does proceeding directly to PR(s)

thanks @whites11

[2021-04-07 16:05] mboersma commented on #165
👍🏼 to all of this. The `bastionSpec` @whites11 sketched out looks reasonable, and I don't think a CAEP is required here.

[2021-04-07 16:09] whites11 commented on #165
Thanks all for the feedback.
I'm close to getting the first PR (the one using existing code for AzureBastion) to a usable state.
News soon.

[2021-04-07 18:05] #1292 closed

[2021-04-07 19:19] gab-satchi commented on #1288
Having a labelSelector adds flexibility where namespaces can be added/removed without modifying the Identity. I can't think of any advantages the `[]string` brings

[2021-04-08 00:49] sedefsavas commented on #1288
I think one benefit is in terms of security, ` []string` gives us a way to limit the usage of an identity more explicitly and less prone to mistakes like adding matching labels to a namespace that should not have access to an identity. Access control is being more on the `identity` object side when we define allowedNamespaces as a list.

[2021-04-08 18:08] #541 closed

[2021-04-08 18:13] CecileRobertMichon commented on #1159
/reopen

not completely fixed

[2021-04-09 14:19] #998 closed

[2021-04-12 16:44] shysank commented on #1290
Closing this because there is no standard conformance suite for nvidia except for `cuda-vector-add` which we already run as part of e2e tests.

[2021-04-12 16:44] #1290 closed

[2021-04-12 19:52] devigned commented on #999
/remove-lifecycle stale

[2021-04-13 17:33] dkoshkin opened #1305 "Image mcr.microsoft.com/oss/azure/aad-pod-identity/nmi ImagePullPolicy: Always"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Download https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/download/v0.4.13/infrastructure-components.yaml.

There are 3 images that have the `ImagePullPolicy` set, 2 of them set it to `IfNotPresent`, 1 sets it to `Always`.

**What did you expect to happen:**
Rely on

[2021-04-13 17:54] CecileRobertMichon commented on #1305
I don't know of any reason why the policy was set to Always in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/977. @devigned @aramase @chewong do any of you know something about this? Otherwise we're have to ask nader-ziada when he gets back next week.

[2021-04-13 17:58] devigned commented on #1305
Perhaps to help with testing, which should really be in an overlay or something. I don't know of any reason outside of that.

[2021-04-13 18:31] chewong commented on #1305
We don't retag any aad-pod-identity images so it makes sense not to set it to Always. Opened https://github.com/Azure/aad-pod-identity/issues/1044 to track this issue.

[2021-04-13 19:27] CecileRobertMichon commented on #1048
/remove-lifecycle stale

[2021-04-14 14:26] devigned opened #1310 "Azure API requests through the SDK should use a shared correlation ID for a given reconcile loop"
/kind feature

**Describe the solution you'd like**
A single reconcile loop is a correlated event. The API requests for that reconcile loop should be correlated with a unique identifier so that it would be easy for an Azure customer support rep to understand related API activity if a problem should occur for a Cluster API Provider Azure user. Azure APIs support correlation IDs as described in the

[2021-04-14 14:28] devigned commented on #1310
/good-first-issue

[2021-04-14 14:45] shysank opened #1311 "Improve validation for vnet/subnet cidr blocks"
/kind bug

**What steps did you take and what happened:**
Scenario:
1. Cluster created with vnet configured with custom cidr blocks, but subnet left as default.
2. Cluster passes validation, but fails during reconciliation because the default subnet cidr does not comply with the vnet's cidr

**What did you expect to happen:**
Fail fast during cluster creation. There are two possible solutions:
1.

[2021-04-14 17:22] shysank commented on #1311
cc @nader-ziada

[2021-04-14 18:12] rhockenbury opened #1313 "Windows Machine Naming"
/kind feature

**Describe the solution you'd like**

The name of the Azure Windows machines is currently derived from the cluster object name (first 10 chars) and the last 5 chars from the Azure machine object name. https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/azure/scope/machine.go#L280-L291

While this is fine, it would be slightly more functional in my case to have

[2021-04-14 18:39] jsturtevant commented on #1313
This looks reasonable to me and would allow you to map it back to your machine deployments in the case that your cluster name was different from your machine names.  I didn't notice this because by default we prefix our Flavor templates with the cluster name and truncation gives it the same name.

This could be a breaking change if we someone was upgrading but could be worked around by manually se

[2021-04-14 18:39] jsturtevant commented on #1313
/sig windows

[2021-04-14 19:07] elmiko commented on #1279
thanks for the pointer here @CecileRobertMichon.  i'm curious to see how this turns out and if there is any way i can from autoscaler side, please don't hesitate to reach out =)

[2021-04-14 21:37] CecileRobertMichon commented on #1311
/kind feature
/milestone v0.5.0
/help

[2021-04-14 22:43] CecileRobertMichon opened #1314 "Custom K8s build testing"
This issue is to track follow-ups to https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1246, which introduced a POC template for building k8s clusters with custom images and binaries of k8s and its components.

- [ ] Add test/dev to the list of templates consumed by tilt and/or provider instructions for deploying the template with the `make create-workload-cluster` target
- [ ] mo

[2021-04-14 23:15] devigned commented on #1314
/assign @jackfrancis

[2021-04-14 23:19] devigned commented on #1314
@jackfrancis looks like I can't assign to you until you join kubernetes-sigs. Come join us!

[2021-04-14 23:46] jackfrancis commented on #1314
@devigned @CecileRobertMichon https://github.com/kubernetes/org/issues/2641

[2021-04-15 18:01] lastcoolnameleft opened #1317 "Suggestion: Use role other than contributor when creating Service Prin."
/kind feature

**Describe the solution you'd like**
It would be helpful if there was either a specific role, or specific steps to create the role which has least-privileges instead of `contributor`.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/getting-started.md#setting-up-your-azure-environment

**Anything else you would like to add:**
Keep up the great work!

*

[2021-04-15 18:10] devigned commented on #1317
Great idea! Perhaps, we can create a custom role with only the rights needed for the service principal.

/cc @mboersma this might be something really interesting for https://github.com/Azure/azure-capi-cli-extension

[2021-04-15 20:51] jackfrancis opened #1319 "apiserver never comes online"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Built a "default" cluster using the provided tilt-accessible template:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/cluster-template.yaml

... and the apiserver seems to never reconcile.

**What did you expect to happen:**

I expected the cluster

[2021-04-15 20:55] jackfrancis commented on #1319
cloud-init logs:

[code]

[2021-04-15 20:56] jackfrancis commented on #1319
cloud-init logs suggest that the apiserver came online originally, but something went wrong pretty quickly afterwards

[2021-04-15 20:57] jackfrancis commented on #1319
The systemd job has an error trying to grab the kubelet config, but I imagine that's an expected race condition that the job sometimes loses between itself and whoever is paving `/var/lib/kubelet/config.yaml`. Pasting for posterity:

[code]

[2021-04-15 21:00] jackfrancis commented on #1319
The next go-around it succeeded in starting up, and the first (non-spurious AWS credentials) error has to do w/ the network not being ready. Not sure if that's also normal, just a race between the control plane starting up and the CNI being installed:

[code]

[2021-04-15 21:04] jackfrancis commented on #1319
Here is a list of the next several error messages, in order:

[code]

[2021-04-15 21:05] CecileRobertMichon commented on #1319
What k8s version is this with? Any interesting cloud-controller-manager logs?

Can you also verify that /etc/azure.json has all the expected info, including credentials?

[2021-04-15 21:10] jackfrancis commented on #1319
1.20.5:

[code]

[code]

[2021-04-15 21:11] jackfrancis commented on #1319
There is no running cloud-controller-manager container.

[2021-04-15 21:17] jackfrancis commented on #1319
O.K., I now see that only 2 of 3 control plane VMs came online. Will look at capi logs...

[2021-04-15 21:52] jackfrancis commented on #1319
It looks like the 2nd (of 3) control plane machines is stuck in `Provisioned`, which is why a 3rd one has never been created:

[code]

[2021-04-15 21:53] jackfrancis commented on #1319
Here it is:

[code]

[2021-04-15 21:56] jackfrancis commented on #1319
[code]

[2021-04-16 12:46] #1284 closed

[2021-04-16 20:14] jackfrancis commented on #1319
I can reproduce this pretty easily w/ this script:

https://github.com/jackfrancis/cluster-api-provider-azure/blob/repro/repro.sh

I *cannot* reproduce using the above script *if* I revert this change:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1029

In other words, if I add back the `useExperimentalRetryJoin: true` and then re-`make generate-flavors`, I can consistently b

[2021-04-16 20:31] CecileRobertMichon commented on #1319
The [With 3 control-plane nodes and 2 worker nodes spec](https://github.com/jackfrancis/cluster-api-provider-azure/blob/repro/test/e2e/azure_test.go#L140) runs on every PR and every periodic job.

Looking at job history https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-full-main, that spec failed 2 out of the last 32 runs. One of these was an unrelated

[2021-04-16 20:35] jackfrancis commented on #1319
greater than 50% in my tests

Is it possible that the mgmt cluster is responsible? I'm using the config that `make tilt-up` puts into a kind cluster running capi/capz controllers.

[2021-04-16 20:37] CecileRobertMichon commented on #1319
Re: `useExperimentalRetryJoin`, what you're seeing indicates that somehow the retries kubeadm added in 1.19+ are not resilient enough in this particular scenario. See [this slack thread](https://kubernetes.slack.com/archives/C8TSNPY4T/p1601488036131400?thread_ts=1601486982.126900&cid=C8TSNPY4T) for context. As @neolit123 suggested in the thread, we should file issues in kubeadm when we encounter s

[2021-04-16 20:40] jackfrancis commented on #1319
Are we currently testing 1.20 for capz?

[2021-04-16 20:43] jackfrancis commented on #1319
:/ just repro'd w/ retry enabled

[code]

[2021-04-16 21:23] CecileRobertMichon commented on #1319
These events happen while the new control planes are coming up, they do not necessarily indicate a failure. Do you have cloud-init logs that show a kubeadm join failure/error?

[2021-04-16 21:57] jackfrancis commented on #1319
I can't repro this when building a 1.19.7 cluster using the `templates/cluster-template.yaml` spec (`useExperimentalRetryJoin` is disabled).

This strongly suggests the culprit is 1.20.5. I'll repro using that version and gather data for kubeadm.

[2021-04-16 22:18] richardcase commented on #588
/lifecycle frozen

[2021-04-16 23:00] jackfrancis commented on #1319
Moved here:

https://github.com/kubernetes/kubeadm/issues/2450

[2021-04-16 23:00] #1319 closed

[2021-04-19 21:28] devigned commented on #1288
Say I'm Alex and I want to gain access to your identity. I have access to create a namespace. I create a namespace and label it with something I know your identity will select. Boom, I am now using your identity.

^ I'm really concerned about label selectors with this scenario.

[2021-04-20 15:49] jackfrancis commented on #1314
Status:

https://github.com/jackfrancis/cluster-api-provider-azure/blob/cluster-autoscaler-test/scripts/cluster-autoscaler-test.sh

[2021-04-20 17:16] #1222 closed

[2021-04-20 18:44] devigned opened #1325 "Add a user-agent'ish header to containerd"
/kind feature

**Describe the solution you'd like**
When pulling container images, we should identify ourselves to the container registry. I'm not 100% sure what format we should use, but https://github.com/Azure/acr/blob/main/docs/http-headers.md#azure-container-registry-http-headers describes the preferred format for ACR.

My preference would be simply identify using the same user-agent specifie

[2021-04-20 19:06] jackfrancis commented on #1279
Status:

https://github.com/jackfrancis/cluster-api-provider-azure/blob/cluster-autoscaler-test/scripts/cluster-autoscaler-test.sh

[2021-04-20 21:56] rhockenbury commented on #664
/remove-lifecycle rotten

Still interested in this.

[2021-04-21 19:59] jsturtevant opened #1328 "Windows deployment timing out in e2e tests"
Windows deployments are timing out during e2e tests.  Initially thought it was taking longer for Windows pods to come up but it appears to be something else.

_Originally posted by @CecileRobertMichon in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1327#issuecomment-824288782_

[2021-04-21 20:00] jsturtevant commented on #1328
The timeout was increased significantly in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1326.

Will likely need to implement https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1286 to collect windows node logs to track down what is happening.

[2021-04-21 20:03] jsturtevant commented on #1328
/sig windows
/kind flake

[2021-04-22 09:27] pierluigilenoci commented on #1134
/remove-lifecycle stale

[2021-04-22 18:40] CecileRobertMichon commented on #1325
Wouldn't this be done in the image builder image configuration?

[2021-04-23 15:39] devigned commented on #1325
It could be. If one were to include the "cloud" as is described in the ACR headers, it may need to be part of the bootstrapping of the VM. Perhaps, part of the custom script extension.

[2021-04-26 16:15] CecileRobertMichon opened #1337 "Add a shellcheck job as part of verify"
A lot of CI jobs depend on our bash scripts, we should add shellcheck as part of presubmit to avoid small mistakes like this: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1336

/cc @chewong

[2021-04-26 18:36] nader-ziada commented on #1104
/remove-lifecycle stale
/lifecycle frozen

[2021-04-26 19:26] CecileRobertMichon opened #1338 "Cascading type validations in webhooks"
Originally posted by @devigned in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1321#pullrequestreview-644040499

[2021-04-26 23:12] alexeldeib commented on #1173
somehow I missed this one. looks like #1175 fixed part of the blocker. re: SSH keys, it should work without change. i'd be interested to know if there are any blockers here for the adoption piece. we definitely want e2e either way.

[2021-04-27 04:06] CecileRobertMichon commented on #611
/remove-lifecycle stale

[2021-04-27 15:55] alexeldeib commented on #1148
/assign

[2021-04-27 21:36] CecileRobertMichon opened #1341 "Update GPU test job image"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/azure_gpu.go#L79

We should change the image to `nvcr.io/nvidia/k8s/cuda-sample:vectoradd-cuda11.1-ubuntu18.04`. We're currently using the the v0.1 image which is very old.

See also https://github.com/

[2021-04-27 21:37] CecileRobertMichon commented on #1341
/good-first-issue

[2021-04-28 07:17] Evalle commented on #1341
/assign

[2021-04-28 12:28] #1311 closed

[2021-04-28 12:50] nader-ziada commented on #1305
I just copied whatever aad-pod-identity had at the time, will open a PR to fix

/assign

[2021-04-28 21:35] CecileRobertMichon commented on #1221
@jsturtevant and I found a new occurence of this in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1333/pull-cluster-api-provider-azure-e2e-windows/1387468499185569792

logs in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1333/pull-cluster-api-provider-azure-e2e-windows/138746849918

[2021-04-28 21:56] jsturtevant opened #1347 "1.21 cluster fails to provision ilb load balancer with "cannot find public IP with IP address 10.1.0.6""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I ran `./scripts/ci-e2e.sh`

[code]

Service:

[code]

**What did you expect to happen:**
Service LB to be deployed properly

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure versio

[2021-04-28 22:22] jsturtevant commented on #1286
/assign

[2021-04-28 22:24] nader-ziada commented on #1237
/assign

[2021-04-28 22:38] jsturtevant commented on #1286
took a look and we are collecting some windows logs such as kubeproxy and flannel cni logs: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1296/pull-cluster-api-provider-azure-e2e-windows/1387118255923007488/artifacts/clusters/capz-e2e-hy4mf8/kube-system/

there also seems to be some logs attempted to be collected but looks like assumptions wer

[2021-04-28 23:36] #1148 closed

[2021-04-29 14:28] devigned opened #1349 "Placeholder for security issue"
/kind bug
Security related issue: https://github.com/kubernetes/kubernetes/issues/101493

[2021-04-29 14:42] #1341 closed

[2021-04-30 16:11] jsturtevant commented on #1328
Now that we have logs collect from Windows I can see that the system services didn't start up properly.  Example logs below but going to update and improve logging.

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1351/pull-cluster-api-provider-azure-e2e-windows/1387946030623887360/artifacts/clusters/capz-e2e-vjj1yu/machines/capz-e2e-vjj1yu-md-w

[2021-04-30 18:22] jsturtevant opened #1352 "e2e tests for machinepool clusters are not collecting logs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If you look at logs for a cluster that was VMSS on a CI run you will not find the logs for the VMSS ndes:

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-full/1387735706947817472/artifacts/clusters/capz-e2e-j51u3m/machines/

**What did you expec

[2021-04-30 18:23] jsturtevant commented on #1352
fyi @devigned

[2021-04-30 20:02] jsturtevant opened #1353 "MTU for Linux Calico VXLAN deployments should be lowered to below 1400"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
As part of #1335 it was identified that Linux uses Calico's vxlan and the MTU is over 1400 (which is azure networks MTU).  This doesn't cause any direct issue but could cause throughput issues because the vxlan traffic will get fragmented.

**What did you expect to happen:**
Packets shou

[2021-04-30 21:46] CecileRobertMichon commented on #1347
@feiskyer @nilo19 we're observing the above failure with in-tree but not out-of-tree. I suspect it might be caused by  https://github.com/kubernetes/kubernetes/pull/94991

[2021-04-30 22:08] CecileRobertMichon opened #1354 "GPU test is failing consistently on release-0.4 branch"
/kind failing-test

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-full-release-0-4

[code]

It might be an issue with the job, or with the GPU nodes themselves. #1344 recently updated the job image in the main branch, backporting the change might b

[2021-04-30 22:08] CecileRobertMichon commented on #1354
/help

[2021-04-30 22:37] #1237 closed

[2021-05-02 00:22] #654 closed

[2021-05-02 07:29] ams0 opened #1355 "Deletion of AKS cluster fails"
/kind bug

**What steps did you take and what happened:**
Deleting an AKS cluster is blocked by:

[code]

Seems like there's an out-of-order deletion where the agentpool0 (system pool, I have 2 pools) gets delete before the cluster itself.

**What did you expect to happen:**
A clean delete of the managed cluster

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2021-05-02 13:07] ams0 commented on #1355
My bad, was using ArgoCD and it doesn't do the deletion in order. Figuring out how to properly tell argocd what to delete and when.

[2021-05-02 13:07] #1355 closed

[2021-05-02 23:28] #644 closed

[2021-05-03 03:41] nilo19 commented on #1347
What is the sepc of the testing service `web-windows-ilb`?

[2021-05-03 13:54] #1288 closed

[2021-05-03 16:10] jsturtevant commented on #1347
@nilo19 it is generated here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/a92161fa208a2cd46dd1eac9731d03df1abe1170/test/e2e/kubernetes/deployment/deployment.go#L144

[2021-05-03 18:08] CecileRobertMichon commented on #1353
should the title say below 1400?

[2021-05-03 20:00] shysank opened #1357 "Cluster upgrade fails when capz is upgraded to version >= 04.9"
/kind bug

**What steps did you take and what happened:**

1. Deploy capz version < 0.4.9
2. Create cluster
3. Upgrade capz to >=0.4.9
4. Upgrade cluster created previously

cluster fails to upgrade because it cant find the secret `azure.json`

**What did you expect to happen:**
Cluster should upgrade successfully

**Anything else you would like to add:**

#955 changed cloud config secret keys fro

[2021-05-03 23:09] jsturtevant opened #1359 "e2e nodes don't come online due to etcd timeouts"
/kind bug
/kind flake

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The e2e tests fail with:

[code]

kubelet logs on Linux control plane nodes have:

[code]

Linux worker nodes:
[code]

Windows cloudbase-init logs:

[code]
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2021-05-03 23:24] jsturtevant commented on #1328
/assign

Been testing a fix in #1351

[2021-05-04 02:37] nilo19 commented on #1347
@jsturtevant could you show me the full log from `Ensuring load balancer for service xxx` to `Ensured load balancer`?

[2021-05-04 13:19] devigned commented on #1352
I think this is an addition for CAPI in the longer term. For the short term, we should probably do it ourselves.

[2021-05-04 16:38] chewong opened #1361 "MachinePool has more worker nodes than the desired value"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-azure-file-machinepool-1-19/1388742406299455488

[code]

Eventually, the `NodeReady` node was removed.

**What did you expect to happen:**

Have no more than the desired MachinePool replicas at any given moment

**Anything else yo

[2021-05-04 16:52] CecileRobertMichon commented on #1361
I believe this is by design because VMSS overprovisioning is enabled by default. The scale set will provision more instances than desired replicas and only keep the first n instances that become ready.

cc @devigned

[2021-05-04 16:58] devigned commented on #1361
That's exactly what is happening. How would you like this to behave. It is nice to use over-provisioning to increase overall speed and success rate of VMSS provisioning.

[2021-05-04 17:15] dmeytin opened #1362 "Ability to define multiple subnets and assign the MachinePool on the subnet"
/kind feature

As a user I would like to have multiple MachinePools in the cluster with ability to assign each machine pool on the dedicated subnet

AzureCluster definition already supports subnet definitions, but there is no option to assign MachinePool on the defined subnet

[code]

[2021-05-04 17:20] dmeytin commented on #1362
@jackfrancis @devigned

[2021-05-04 18:30] CecileRobertMichon commented on #1362
This is a duplicate of #664

[2021-05-04 19:48] jsturtevant commented on #1361
I think it is fine from user standpoint. We found this issue in the e2e tests.  In `e2e.test` there is a check to verify all the nodes are ready, which is causing it to hang while waiting to run.  One possibility would to validate that we have the expected number of nodes and run `e2e.test` with `--allowed-not-ready-nodes=1` which would allow the tests to proceed.

[2021-05-04 19:53] CecileRobertMichon opened #1365 "Add tests for conversion from previous API versions"
We should add similar tests for conversion webhooks than https://github.com/kubernetes-sigs/cluster-api/pull/4417 to make sure that v1alpha3 --> v1alpha4 conversion actually works for each CRD.

/help
/good-first-issue

[2021-05-04 19:56] CecileRobertMichon commented on #1353
Do you have a recommendation for what the new value should be?

[2021-05-04 19:57] CecileRobertMichon commented on #1352
I think we need the CAPI framework helper to get MachinePools too https://github.com/kubernetes-sigs/cluster-api/blob/45b6080c276453c2f30fae3e093679a15c7ccdfd/test/framework/cluster_proxy.go#L218-L219

[2021-05-05 01:41] #1286 closed

[2021-05-05 03:30] nilo19 commented on #1347
The warning message is expected because we perform 2 reconcile loops for each service. For internal services, the first round is reconciling the internal lb and the second round is reconciling the external lb. This warning message comes from the second round. I still need detailed logs to figure out where did the error message `not a vmss instance` come from.

[2021-05-05 17:50] jsturtevant commented on #1353
I believe this could be set to 1392 which would give room for the encapsulation but it would be good to validate it.

[2021-05-05 23:38] CecileRobertMichon commented on #1352
/assign

[2021-05-06 03:10] nilo19 commented on #1347
https://github.com/kubernetes/kubernetes/pull/101752 to fix this one

[2021-05-07 00:58] jsturtevant opened #1370 "capz-conformance is failing to start the control plane occasionally"
/kind bug
/kind flake

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://testgrid.k8s.io/provider-azure-master-signal#capz-conformance is failing to start the control plane:

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

A few exampl

[2021-05-10 17:36] jsturtevant opened #1372 "Consolidate log collection scripts for e2e tests"
/kind cleanup

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The upstream tests collect logs in different ways.

The conformance tests collect logs via the [e2e framework](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/azure_logcollector.go).  An example output is: https://gcsweb.k8s.io/gcs/kubernetes-jenkin

[2021-05-13 15:58] shysank commented on #1357
In terms of forward porting this fix, we decided in office hours to deprecate it for 0.5.x, and remove it in 0.6.x while having documentation guiding the users with an upgrade path.
cc @nader-ziada @devigned

[2021-05-13 20:51] lastcoolnameleft opened #1375 "Add documentation for using Flannel"
/kind documentation

**Describe the solution you'd like**
I would like to have a document which shows how to implement Flannel on a CAPZ cluster.

**Anything else you would like to add:**
You're in luck!  https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1374

**Environment:**
N/A

[2021-05-14 13:49] nader-ziada commented on #1357
@shysank does that mean we need to to cherry pick the fix from `release-0.4` to `main` for the first release of 0.5 and mark it as deprecated?

[2021-05-14 17:56] shysank commented on #1357
Yes, and maybe add some warning that it'll be removed in the subsequent release.

[2021-05-14 18:08] nader-ziada commented on #1153
/unassign
didn't get a chance to work on it yet

[2021-05-16 12:22] mdufourneaud opened #1376 "[AKS] The default MachinePool should be of "system" type, not "user""
/kind bug

**What steps did you take and what happened:**
I create an AKS cluster with 2 machine pools.

**What did you expect to happen:**
The default machine pool should be a "system" node pool.

**Anything else you would like to add:**
The node pool type should be a property of `AzureManagedMachinePool`, in order to allow its configuration.

**Environment:**
- cluster-api-provider-azure version

[2021-05-16 20:55] #675 closed

[2021-05-17 16:14] CecileRobertMichon opened #1377 "capz-periodic-capi-e2e-main is failing"
looks like https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-main is failing since #1371 merged with:

[code]

We need to either re-add the CNI_RESOURCES variables, or add CNIs to the templates in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/data/infrastructure-azure

_Originally posted by @CecileRobertMichon in ht

[2021-05-17 18:08] CecileRobertMichon commented on #857
@devigned @lastcoolnameleft the current version of external-cloud-provider we're using in the example template in CAPZ v0.4 doesn't have the fix yet unfortunately, the PR to bump the version (#1323) and enable the test that validates this behavior was blocked by another regression in cloud-provider, which is now released. You can work around it for now by editing your template to use version v0.7.

[2021-05-17 18:41] CecileRobertMichon commented on #715
Now that v1.0.0 has been released, we should be able to move forward with this

[2021-05-17 18:41] CecileRobertMichon commented on #715
/assign

[2021-05-18 18:48] CecileRobertMichon commented on #915
/remove-lifecycle stale
/lifecycle frozen

Handled as part of https://github.com/kubernetes-sigs/cluster-api/pull/4219

[2021-05-18 18:49] CecileRobertMichon commented on #1045
/remove-lifecycle stale
/lifecycle frozen
still waiting for feature to be GA

[2021-05-18 18:49] CecileRobertMichon commented on #1034
/remove-lifecycle stale

[2021-05-18 18:49] CecileRobertMichon commented on #484
/remove-lifecycle stale

[2021-05-18 18:50] CecileRobertMichon commented on #532
/remove-lifecycle stale

[2021-05-18 18:50] CecileRobertMichon commented on #1112
/remove-lifecycle stale
/lifecycle active
/assign @nader-ziada

[2021-05-18 18:53] CecileRobertMichon commented on #1129
/remove lifecycle-frozen

Proposal https://github.com/kubernetes-sigs/cluster-api/pull/4135

[2021-05-18 18:57] mboersma commented on #1113
/assign

[2021-05-18 20:56] shysank opened #1381 "Refactor IsClusterNamespaceAllowed check in multi tenancy to fail fast"
/kind cleanup

**Describe the solution you'd like**
For multi tenancy, we validate the identity's namespace with the cluster's namespace [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/430fb0fbeb1a2d3a9bb20e30d6edfb8996d30827/controllers/azurecluster_controller.go#L202). But, before this we already create a cluster scope which in turn creates a [credential provider](https

[2021-05-18 23:44] #1375 closed

[2021-05-18 23:53] CecileRobertMichon commented on #1372
I'm not sure there's a good way to plug in the framework AfterSuite() log collection for stuff that isn't actually running CAPI tests (eg. the AzureFile job above just calls the CAPZ script for dev cluster creation and then the tests are run from the azure-file repo). I don't think using the bash script for everything is what we want either since it's less complete and not shared with other provid

[2021-05-19 00:11] chewong commented on #1372
I agree that https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/hack/log/log-dump.sh is pretty outdated considering how the CAPI test framework has evolved over the past year. It'd be great if the CAPI test framework can help us manage the lifecycle of both management and workload cluster (and also unifying the logging experience) while allowing us to inject any arbitrary te

[2021-05-19 00:17] CecileRobertMichon commented on #1349
@devigned anything that needs to be done here?

[2021-05-19 00:46] #1377 closed

[2021-05-19 13:43] devigned commented on #1349
I don't think so. I'm going to close the issue. Please reopen if someone feels strongly about this.

/close

[2021-05-19 13:43] #1349 closed

[2021-05-19 16:47] shysank opened #1382 "Cloud provider config customization - cloudProviderBackoff"
/kind feature

**Describe the solution you'd like**
#1373 allowed rate limits to be customized in cloud provider config. We also might want to do this for other properties. This issue tracks cloud provider backoff config that we want to override. specifically the following ones:

Name | Description | Remark
-- | -- | --
cloudProviderBackoff | Enable exponential backoff to manage resource request r

[2021-05-24 08:16] shivi28 commented on #558
Hello @CecileRobertMichon, Is this issue still required?
@srm09 Are you planning to work on this? If not, then please let me know as I would like to pick this up. :)

[2021-05-24 16:57] CecileRobertMichon commented on #558
@shivi28 please go for it, I don't think there is an active PR. Please comment `/assign` below if you do decide to work on it.

/unassign @srm09

[2021-05-24 22:02] CecileRobertMichon commented on #1192
/remove-lifecycle stale

[2021-05-24 23:53] jsturtevant opened #1385 "Failing conformance test"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://testgrid.k8s.io/provider-azure-master-signal#capz-conformance

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-conformance-master/1396926343957975040

The test is showing green but is not running any tests since 05-21.  This appears to be a change introduced in the way t

[2021-05-24 23:59] CecileRobertMichon commented on #1385
I'm going to move this to the CAPI repo since the fix needs to happen in the CAPI test framework and this should affect all providers

[2021-05-25 16:06] jsturtevant commented on #1328
fixed in #1366

[2021-05-25 16:06] #1328 closed

[2021-05-25 16:10] jsturtevant commented on #1190
/remove-lifecycle stale

[2021-05-25 19:07] shysank commented on #558
/assign @shivi28

[2021-05-25 20:59] CecileRobertMichon commented on #937
/remove-lifecycle stale

[2021-05-25 21:23] nader-ziada commented on #1381
/assign

[2021-05-25 21:24] nader-ziada commented on #1357
/milestone v0.5.0

[2021-05-26 07:54] nprokopic commented on #757
FYI I finally got to start with AKS refactoring (managed cluster and agent pools), started working on it this week.

[2021-05-26 20:33] #815 closed

[2021-05-27 15:33] mboersma commented on #1153
/assign shysank

[2021-05-27 15:36] mboersma commented on #825
@alexeldeib is this still in progress? Anything we can help with?

[2021-05-27 15:38] mboersma commented on #1060
/assign @CecileRobertMichon

[2021-05-27 15:42] mboersma commented on #1313
/help

[2021-05-27 15:44] mboersma commented on #1357
/assign @shysank

[2021-05-27 17:09] CecileRobertMichon commented on #618
Status:

- [ ] type Subnets should be type Subnets [SubnetRole]*SubnetSpec instead of type Subnets []*SubnetSpec and we should remove the Role field in SubnetSpec.
- [ ] OSDisk. DiskSizeGB should be optional
- [ ] Remove AzureMachine FailureDomains and AvailabilityZones (in favor of Machine.FailureDomains)
- [ ] Subnet CIDRBlock + ipv6 CIDR should become a list of CIDRBlocks to match Azure APIs (a

[2021-05-27 19:08] yangl900 commented on #676
Seems cannot be configured yet, should we still track this in backlog?

[2021-05-27 19:17] CecileRobertMichon commented on #676
/remove-lifecycle rotten

[2021-05-27 19:19] yangl900 opened #1394 "Support existing IP as node outbound IPs"
/kind feature

**Describe the solution you'd like**

In many cases user would like to configure the cluster outbound IP to a set of pre-created static IPs or IP prefixes. External systems like SQL firewall will whitelist this IP in its ACL.

We should allow customization of node outbound IPs to reuse existing IPs. This way new clusters, or re-created clusters can reuse the same set of IP, such tha

[2021-05-27 21:05] CecileRobertMichon commented on #1394
Related to #1159

[2021-05-27 21:24] #1381 closed

[2021-05-27 21:40] LochanRn opened #1395 "Unable to cleanly delete an AKS managed cluster by capz"
/kind bug

**What steps did you take and what happened:**
Created an AKS Cluster using clusterctl.

The cluster was successfully created and was running fine.

When I tried to delete the cluster using the command

kubectl delete cluster <clusterName>

The kubernetes service in azure was deleted and all the resources created by it also got deleted successfully, but Azuremanagedcontrolplane, Machine

[2021-05-27 22:28] alexeldeib commented on #1395
There’s a circular dependency with deletion and finalizers.

If you delete only the CAPI cluster object, it will try to delete all the descendant machines/machinepools before deleting the control plane object. With AKS/AzureManagedControlPlane, the last MachinePool will fail to be deleted because an AKS cluster requires at least one agent pool.

The workaround is to manually delete the AzureManage

[2021-05-27 23:15] alexeldeib commented on #611
couple observations from spiking on this.

The capi test framework is a bit tightly coupled. The machine portion is fairly well abstracted but the control plane tests hardcode a KubeadmControlPlane struct as part of the test context [0], [1]. Besides the fact that it uses KCP directly instead of the CAPI control plane contract, it also relies on a control plane provider using machines for the unde

[2021-05-28 00:14] #1263 closed

[2021-05-28 00:58] alexeldeib commented on #1395
we're also not deleting unmanaged vnets in a user-managed RG since https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1009

[2021-05-28 01:51] alexeldeib commented on #1395
/assign

[2021-05-28 03:23] alexeldeib commented on #1395
there's also a circular watch dependency from AMCP -> Cluster -> AMCP being [initialized and ready](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/8a44c6d6f7b394b7929c3ae5b0e79730609c6cf1/exp/controllers/azuremangedcontrolplane_controller.go#L86).

fixes incoming :)

[2021-05-28 05:43] alexeldeib opened #1396 "AzureManagedCluster is useless; let's remove it (and keep AzureManagedControlPlane)"
/kind cleanup

**Describe the solution you'd like**
Eliminate AzureManagedCluster. It has absolutely no useful spec or status. We should simply point CAPI Clusters to AzureManagedControlPlane as the InfrastructureRef.

[2021-05-28 05:55] alexeldeib commented on #1396
we might be able to make this backward compatible by looking for CAPI clusters where InfrastructureRef is currently AzureManagedCluster, and setting InfrastructureRef = ControlPlaneRef

[2021-05-28 05:56] alexeldeib commented on #1396
wonder what the best practice is for operators automatically cleaning up their own crds, since we kubectl apply them and don't programmatically apply them.

[2021-05-28 06:06] alexeldeib commented on #1376
The correct fix here is:
- an SDK update to 2021-03-01 (well, I'm saying that version because it's latest but anything after 2020-03-01 would work)
- mangedcluster service should construct the initial pool with `Mode: System`
- API for AzureManagedMachinePool should include a `mode: {System | User}` field
- AzureManagedMachinePool reconciler should pass the mode to agentpools service, which should

[2021-05-28 06:15] alexeldeib commented on #1376
MachinePool has spec.clusterName, we could do something similar with AzureManagedMachinePool to link bidirectionally...a bit annoying but would make the webhook validation way easier

[2021-05-28 20:36] #1352 closed

[2021-05-31 14:32] fiunchinho opened #1399 "Tests fail with `MSI not available` when some env vars are missing"
/kind bug

**What steps did you take and what happened:**

Run `make go-test`. I got some test failures, all of them stating the underlying error
[code]

**What did you expect to happen:**
Tests pass.

**Anything else you would like to add:**

Exporting these env vars seems to fix the problem
[code]

**Environment:**

- cluster-api-provider-azure version: master
- Kubernetes version: (use `kubectl

[2021-05-31 20:22] nader-ziada commented on #1060
fixed as part of #1389

/close

[2021-05-31 20:22] #1060 closed

[2021-05-31 20:24] nader-ziada commented on #1003
I can work on this work if you don't have time @alexeldeib

I think we still have to check if the machine size supports Gen2 and set that when creating the VM like you mentioned in the comment above

[2021-05-31 21:17] alexeldeib commented on #1003
oops, go for it! I finished the image builder changes but totally forgot we didn't already have the capability check.

/unassign

[2021-05-31 21:19] alexeldeib commented on #1399
I suspect this is because we rely on autorest's generic `GetAuthorizer` functionality, which will try all of environment, auth file, and MSI before failing. Maybe me can try to produce better errors?

Or are you saying the UT shouldn't rely on having creds populated at all?

[2021-05-31 21:38] nader-ziada commented on #1003
thanks, will submit a PR soon

/assign

[2021-06-01 08:08] fiunchinho commented on #1399
In this case, I don't think we can't avoid relying on these env vars, as it's how the `GetAuthorizer` method works. But I think the tests should set these env vars when required.

[2021-06-01 15:04] fiunchinho commented on #664
I'm planning on giving this one a shot.

I believe the first challenge highlighted by @CecileRobertMichon is the most important one:

We need a way to know which subnet to use when creating machines or vmss. Currently:
- for `AzureMachines`, we check whether or not the `Machine` has the label `cluster.x-k8s.io/control-plane`, in which case we use the `control-plane` subnet, otherwise we use the `n

[2021-06-01 17:34] CecileRobertMichon commented on #664
SGTM

We could keep it for now to maintain the existing behavior for users who have existing templates using the role method. I'm not sure about defaulting to a random subnet... we could also require the subnetName to be set for new AzureMachines / AzureMachinePools when there is more than one node subnet defined to avoid ambiguity.

The thing that's unclear to me is what subnetName we need to pro

[2021-06-01 19:15] #1395 closed

[2021-06-01 20:51] CecileRobertMichon commented on #1399
This is definitely a bug IMO, the unit tests should pass locally without requiring any Azure credential vars to be set.

[2021-06-01 22:21] CecileRobertMichon commented on #1399
/assign

[2021-06-01 23:02] CecileRobertMichon commented on #1382
/good-first-issue

[2021-06-02 07:53] fiunchinho commented on #664
That's actually what we currently do at our company: every node pool has a different cloud provider config file, depending on the node pool's subnet.

I believe the main differences in this file between node pools would be the `primaryScaleSetName`, `subnet`, `securityGroupName` and `routeTableName` fields. Do you foresee any issues with this approach?

[2021-06-02 12:08] LochanRn opened #1407 "Add AAD Support for AKS"
/kind feature
/area managedclusters

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
You can integrate Azure Active Directory with an AKS cluster and use that to authorise users who access the cluster. We should add support for this in CAPZ

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-06-02 12:28] LochanRn commented on #1407
Hey, we have a requirement for this feature, I would like to take this up

We propose to add this field to AzureManagedControlPlaneSpec

[code]
**Behaviour**

For the latest support
On setting Managed, EnableAzureRBAC and providing objectId for AdminGroupObjectIDs it must create or update the aks managedcluster to use aks aad support.

For legacy support
On providing ClientAppID, ServerAppID, Serv

[2021-06-02 14:28] devigned commented on #1407
1. Would there be any functionality difference moving to v2021-03-01 that would affect exiting clusters which use legacy support?
2. How long should legacy support be supported? Should those fields be marked as deprecated?

[2021-06-02 15:57] LochanRn commented on #1407
1.) We don't have to change the entire SDK we only need to change the of containerservice package to 2021-03-01. So after looking into the differences in both the models the changes would be very minimal and so will be the functional difference.

2.) Yup marking the legacy support as deprecated does makes sense.

[2021-06-02 16:08] CecileRobertMichon commented on #1407
According to [AKS docs](https://docs.microsoft.com/en-us/azure/aks/managed-aad#upgrading-to-aks-managed-azure-ad-integration), it's possible to migrate an existing legacy AAD cluster to the new managed AAD, I would expect the same to apply here.

[2021-06-02 16:12] LochanRn commented on #1407
Ok 👍 .

[2021-06-02 16:18] LochanRn commented on #1407
The Limitations section I added it from the [AKS docs](https://docs.microsoft.com/en-us/azure/aks/managed-aad#limitations)
and it says migrating an AKS-managed Azure AD integrated cluster to legacy AAD is not supported.

[2021-06-02 17:48] CecileRobertMichon commented on #1407
correct, but the reverse is (from legacy to managed)

[2021-06-02 17:55] LochanRn commented on #1407
yup, will ensure that feature is supported. :)

[2021-06-02 18:56] #1357 closed

[2021-06-02 23:17] CecileRobertMichon commented on #757
/assign @nprokopic

[2021-06-02 23:20] CecileRobertMichon commented on #1313
I can take this one

/assign

[2021-06-02 23:48] alexeldeib commented on #1407
fwiw, this all sounds good to me :) I was planning to update the SDK for #1376, but if you want to do it here go ahead! I'm on vacation for the next week anyway so probably won't get to it until after that.

let's make sure we capture as many of the validations as possible on the webhook side, since it should be fairly easy to do.

[2021-06-03 00:01] CecileRobertMichon commented on #1313
@jsturtevant I'm not sure there's a good way to make this backward compatible for MachineDeployments that weren't using the cluster name as prefix previously... Since the code uses the VM name (which is different from the AzureMachine name) to fetch the existing VM and delete it, etc.

[2021-06-03 00:53] CecileRobertMichon commented on #1313
nevermind, I found a way https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1408, PTAL

[2021-06-03 04:02] LochanRn commented on #1407
ok

[2021-06-03 06:09] Ankitasw commented on #1382
@shysank i am interested to pick this issue.

[2021-06-03 11:13] LochanRn commented on #1376
Hi Alex,
Even I was trying to solve this problem and I came up with a bit of a different solution 😅

Why do we have a defaultPoolRef in capz ?
According to the AKS docs we only have system node pools and user node pools.
I feel we should also maintain the same. We should remove defaultPoolRef from Azuremanagedcontrolplane.
In AzureManagedMachinePool as you said we should include a mode: {System |

[2021-06-03 16:36] shysank commented on #1382
/assign @Ankitasw

[2021-06-03 16:41] nader-ziada commented on #618
`OSDisk. DiskSizeGB should be optional` done in #1398

[2021-06-03 17:33] CecileRobertMichon commented on #618
I think we're good to close this. I don't think the AzureResourceGroup rename is truly needed.

/close

[2021-06-03 17:33] #618 closed

[2021-06-03 18:42] #558 closed

[2021-06-03 19:14] furkatgofurov7 commented on #1213
/remove-lifecycle stale

[2021-06-03 20:57] alexeldeib commented on #1376
The only reason for the default pool ref is to enforce the invariant that AKS clusters always have at least one (now, system) node pool.

Totally happy to see other solutions to that, but the thinking was we shouldn’t allow the CRD representation  of an AKS cluster to enter invalid states, e.g. we should reject attempts to update AzureManagedControlPlane or AzureManagedMachinePools which result in

[2021-06-03 21:12] LochanRn commented on #1376
Honestly speaking, when i started to think and try to reason out why the existing API has defaultPoolRef even i felt the same. We should maintain a minimum of one system node pool. I agree and it makes sense 👍 .

But another thought I have for the above problem is, can we add a custom admission webhook, where in if it is the last system node pool and if the user tries to delete it we can reject th

[2021-06-03 21:17] LochanRn commented on #1376
Honestly speaking, when i started to think and try to reason out why the existing API has defaultPoolRef even i felt the same. We should maintain a minimum of one system node pool. I agree and it makes sense 👍 .

But another thought I have for the above problem is, can we add a custom admission webhook, where in if it is the last system node pool and if the user tries to delete it we can reject th

[2021-06-03 21:43] alexeldeib commented on #1376
If we can do a webhook which lists all the pools and checks for at least one that works.

If we do that, would you create the cluster with all pools? Or just pick a random system pool for creation and then reconcile the rest in parallel?

[2021-06-04 04:39] LochanRn commented on #1376
During the creation time if we have multiple system node pools, I think I will create the cluster with all the system node pools provided.

[2021-06-04 04:49] alexeldeib commented on #1376
sgtm. I think we may want to avoid updating the node pools after creation inside the managed cluster service? And let agentpools service/reconciler handle updates after the cluster is ready. We’ll save some calls to Azure that way and avoid some conflicting operations, I think

[2021-06-04 04:54] LochanRn commented on #1376
Ok yeah make sense 👍

[2021-06-04 08:34] Ankitasw commented on #1382
@shysank / @CecileRobertMichon  do we need to add back off config options in RateLimitConfig or shall we define a new config for backoff and then override it as how it is done for rate limits?

[2021-06-04 17:56] shysank commented on #1382
@Ankitasw I don't think should be part of RateLimitConifg. You can create a new struct to encapsulate backoff options and embed it in CloudProviderConfigOverrides. Eventually they must map to cloud-provide-azure [config](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/d585c2031925b39c925624302f22f8856e29e352/pkg/provider/azure.go#L93) struct which we do it using our own [CloudProvider

[2021-06-04 20:27] CecileRobertMichon commented on #664
/assign @fiunchinho

[2021-06-04 20:27] CecileRobertMichon commented on #894
/lifecycle active
/assign @fiunchinho

[2021-06-04 20:32] CecileRobertMichon commented on #676
/assign

[2021-06-05 11:12] devigned opened #1414 "Service Principal Identity without Pod Identity"
/kind feature

**Describe the solution you'd like**
The AzureClusterIdentity only works when Azure Pod Identity is running. In cases when AAD Pod Identity is not running, it would be nice to have the ability to simply use a Service Principal embedded in a secret. Looking at the code [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/bdd9f8c0c92505224215a2e5e234088ee8234d32/a

[2021-06-07 16:11] LochanRn opened #1418 "Update containerservice sdk API version from 2020-02-01 to 2021-05-01"
/kind feature
/area managedclusters

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Update the container service sdk from 2020-02-01 to the latest as the existing api is outdated and does not have the latest changes.

eg: The existing api has support only for legacy AAD integration with AKS. The latest API model provides support for the new style

[2021-06-07 18:50] #676 closed

[2021-06-07 21:16] #1313 closed

[2021-06-07 21:37] chewong commented on #1370
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1419 will add the ability to upload machine boot log even if the provision failed. It should give us more insight into why it failed.

[2021-06-07 22:13] chewong opened #1420 "flake: connection refused when invoking capi webhook"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-azure-file-1-19/1401428881323331584
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-azure-disk-machinepool-master/1401791776380948480

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscella

[2021-06-08 22:20] #1213 closed

[2021-06-09 13:51] #1382 closed

[2021-06-09 19:38] devigned opened #1427 "Add documentation for AzureMachinePool.Spec.Strategy"
/kind feature

**Describe the solution you'd like**
There should be documentation for AzureMachinePool.Spec.Strategy and how the setting affect rolling out updates and deleting AzureMachinePoolMachines. This is a follow up from: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1332#discussion_r648565449.

[2021-06-09 19:38] devigned commented on #1427
/assign

[2021-06-09 23:57] #1361 closed

[2021-06-10 15:12] CecileRobertMichon commented on #966
/assign

[2021-06-10 16:18] CecileRobertMichon commented on #1129
/close

done in #1389

[2021-06-10 16:18] #1129 closed

[2021-06-10 16:30] CecileRobertMichon commented on #1155
/remove-lifecycle stale

[2021-06-11 07:46] pierluigilenoci commented on #1134
@CecileRobertMichon any update on this?

[2021-06-11 15:27] devigned opened #1434 "AzureMachinePoolMachine cordon and drain"
/kind feature

**Describe the solution you'd like**
An `AzureMachinePoolMachine` should cordon and drain nodes when a node is to be deleted with respect to `AzureMachinePool.Spec.NodeDrainTimeout`. If the node is not drained prior to issuing a DELETE to Azure, the node will be forcefully removed and could cause workloads to be forcefully terminated.

related #819

[2021-06-11 17:37] CecileRobertMichon commented on #467
/remove-lifecycle stale
/priority important-longterm

[2021-06-11 17:39] CecileRobertMichon commented on #467
/remove-lifecycle rotten

[2021-06-11 20:16] nader-ziada opened #1440 "KCP remediation test flaky with network error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
- When running the capi tests as part of the capz e2e tests, the `Should successfully remediate unhealthy machines with MachineHealthCheck` test intermittently fails with the following error
[code]
and in the logs I see the following
[code]

**Anything