[2018-10-15 19:19] vannrt opened #6 "Set up CI for pushing images"

[2018-10-15 19:23] marwanad opened #7 "Deleting a machine deletes the entire resource group"
Right now, the machine's actuator `Delete` function deletes the entire resource group associated with it.

This should be updated to only delete the resources associated with the VM (OS Disk, Public IP address, virtual machine).

[2018-10-15 19:26] marwanad opened #8 "Migrate to CRDs and kube builder"
cluster-api upstream moved away from being aggregator-based to kube builder.

[2018-10-15 19:28] marwanad opened #9 "Implement Cluster Actuator"
Implement both `Delete` and `Reconcile` operations.

Possible refactor: Move the creation of the network SG and NIC to be cluster actuator's responsibility instead of doing it as part of the machine deployment.

[2018-10-15 19:32] marwanad opened #10 "Implement MachineStatus for the machine actuator"
Once the API is stable, consider moving from storing the status in annotations to the Machine `ProviderStatus` field

[2018-10-15 19:32] vannrt opened #11 "Implement better testing workflow"
The integration tests are currently triggered manually after a preliminary code review.

It would be nice to have this somewhat automated. Previously, Travis was set to trigger builds on PRs (before the repo was made public). However, there are a few issues with this. Most importantly, a PR could contain specially crafted code to dump secrets/POST them to some server somewhere.

In addition, we co

[2018-10-15 20:09] vannrt opened #12 "Add integration test for Kubernetes"
The integration tests at the moment aren't covering Kubernetes functionality. Maybe add Kubernetes conformance tests as part of an integration test? Use https://github.com/heptio/sonobuoy

[2018-10-15 22:03] marwanad opened #14 "Switch to Azure Pipelines for CI"
Some features that may be worthwhile for the project (especially for integration tests):
- Unlimited CI/CD minutes
- 10 parallel jobs for free
- Microsoft hosted agents for all OSes
- [Extensions marketplace](https://marketplace.visualstudio.com/search?target=AzureDevOps&category=Pipelines&sortBy=Downloads)

One downside with Azure Pipelines is the inability to cache files across subsequent runs o

[2018-10-16 00:43] vannrt opened #15 "Improve contributor guidelines"
Add relevant links and documents that cover the following:

1. Code Style Guidelines

[2018-10-16 00:49] vannrt opened #16 "Improve PR status checks"
This overlaps with #11 with an emphasis on getting feedback on PRs quickly. In particular, we want to be able to do automated runs with `gofmt`, `dep ensure`, plus other useful static code analysis tools.

[2018-10-16 21:33] vannrt opened #18 "Define roadmap for the project"
We need to define granular objectives so that the community is aware of the project's plan and future.

[2018-10-19 23:35] marwanad opened #19 "Refactor loading credentials to actuator"
As per #17, we could move this to the controller package and pass this to the actuators

[2018-10-19 23:57] marwanad opened #20 "Refactor wrappers for azure clients"
As per the discussion here: https://github.com/platform9/azure-provider/pull/17#discussion_r225685001

This would create a top-level AzClients interface hosting different operation groups from the Azure REST API

[2018-10-26 21:24] #7 closed, assigned to nobody

[2018-10-29 21:33] #9 closed

[2018-10-30 21:48] marwanad opened #24 "Refactor virtual machines startup scripts"
- Figure out a better way to bootstrap Kubernetes on the VMs
- Remove unused parts of the startup script

[2018-10-30 23:26] marwanad opened #27 "Implement Machine Actuator Update"
- Do master updates to kubelet and control panel versions in place
- For node updates, delete current node and recreate

[2018-11-06 00:36] #20 closed

[2018-11-07 00:53] #14 closed

[2018-11-14 20:09] #6 closed

[2018-11-19 23:06] #27 closed

[2018-12-10 20:14] #8 closed

[2019-01-09 06:31] justaugustus opened #45 "Review prow plugins required for project"
FIrst crack at parity with other cluster-api projects here: https://github.com/kubernetes/test-infra/pull/10670
There's still some work to be done to assess the appropriate plugins for the project.

/assign

[2019-01-09 06:34] justaugustus commented on #15
This is covered with the addition of [CONTRIBUTING.md](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/CONTRIBUTING.md) in #40.

/close

[2019-01-09 06:34] #15 closed

[2019-01-09 06:34] justaugustus commented on #12
/help

[2019-01-09 08:01] justaugustus opened #48 "Update project admins"
Now that the project has been migrated into k-sigs, we need to define GitHub admins and maintainers.
/assign

[2019-01-09 08:05] justaugustus opened #49 "Add project tracking board and milestones"
/assign

[2019-01-13 05:39] Pothulapati commented on #11
Hello,
I am willing to take this Issue, and have researched how Cluster-Api-Provider-AWS was doing it. I have some questions :)

- I see that Azure Pipelines is being used. It should be replaced with K8s Test-infra, right?
- For Now, I have thought only about Pre-checks for PR's. Any more ideas?
- Pre-Checks for PR, what are the things that you expect apart from build, test and e2e?
- For builds a

[2019-01-13 05:50] Pothulapati commented on #11
Oops! Looks like Bazel is already being added in #42 . Should I wait till the PR is merged, to get a better view of what is needed?

[2019-01-14 03:19] justaugustus commented on #11
@Pothulapati -- thanks for offering to work on this, we can definitely use the help! :)

To answer your questions:

Yes, eventually it will be. Please work with SIG Testing to gather a list of requirements to make the switch. @nikhita, @BenTheElder, and @fejta are all good resources to reach out to help you get started. Document this in a Google Doc or here on this issue and tag me for visibility.

[2019-01-17 03:15] awesomenix opened #53 "Owner of Azure pipelines?"
Who owns the azure pipeline for this project? https://dev.azure.com/Cluster-API-Provider-Azure/Cluster-API-Provider-Azure%20Project/_build?definitionId=1, seems like it requires to switch to new project https://github.com/kubernetes-sigs/cluster-api-provider-azure

[2019-01-18 00:43] marwanad commented on #53
@platform9 @vannrt are the owners of the Azure pipelines project.

[2019-01-20 08:43] justaugustus commented on #53
@vannrt -- please work on reenabling Azure pipelines for the project.

[2019-01-20 08:45] justaugustus commented on #53
@soggiest / @tariq1890 to work on bringing the project in k8s test-infra w/ @Pothulapati (ref: #11)

[2019-01-20 22:39] tariq1890 opened #56 "The Docker image needs to use the latest base image of golang."
Right now, we are using `golang:1.10.3` as the base builder image. We should be using a more recent version in our docker build manifest

This is a good first issue.

[2019-01-20 22:42] tariq1890 opened #57 "Create a GH Pull request template"
We need to create a PR template for this project. This can be something similar to the one found in the AWS provider of cluster-api

https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/.github

Good first issue.

[2019-01-20 22:42] tariq1890 opened #58 "Create GH Issue Template"
We need to create an Issue template for this project. This can be something similar to the one found in the AWS provider of cluster-api

https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/.github

Good first issue.

[2019-01-21 02:51] tariq1890 commented on #24
/help

[2019-01-21 02:52] tariq1890 commented on #24
/remove-help

[2019-01-21 08:42] tariq1890 opened #59 "GH Project headline required"
This project needs a headline ;)

[2019-01-21 08:42] tariq1890 commented on #59
/assign @justaugustus

[2019-01-21 12:59] Avni-Sharma commented on #56
I would like to work on this

[2019-01-22 03:32] justaugustus commented on #59
Done!
/close

[2019-01-22 03:32] #59 closed

[2019-01-22 03:37] justaugustus commented on #18
/assign @tariq1890

[2019-01-22 08:16] #57 closed

[2019-01-22 08:16] #58 closed

[2019-01-22 09:21] justaugustus commented on #56
Closed via #61. Thanks @Avni-Sharma! :)
/close

[2019-01-22 09:21] #56 closed

[2019-01-22 19:57] #48 closed

[2019-01-23 02:15] tariq1890 opened #63 "Run gofmt -s on files that need the gofmt simplification"
Refer to https://goreportcard.com/report/github.com/kubernetes-sigs/cluster-api-provider-azure

/good-first-issue

[2019-01-23 05:41] Avni-Sharma commented on #63
I would like to work on this

[2019-01-23 06:08] tariq1890 commented on #63
@Avni-Sharma Great!

[2019-01-24 00:46] marwanad commented on #63
@Avni-Sharma I think you forgot to commit the `virtualnetworks.go` in #66 - feel free to open up a PR for that.

[2019-01-24 18:49] tariq1890 opened #74 "Remove azure pipelines files"
Since we are using prow jobs, we should now remove files related to Azure Pipelines as well as the badge!

[2019-01-24 18:49] tariq1890 commented on #74
/good-first-issue

[2019-01-24 22:35] tariq1890 opened #75 "Add license header checks to the make check target"
A check that validates that every go file has a license header.

For reference check : https://github.com/prometheus/prometheus/blob/7f7b21104734fd1c7a5d2b3bc812da96cd7c35a3/Makefile.common#L110

/good-first-issue

[2019-01-25 00:29] tariq1890 opened #76 "Skip End to End tests if KUBECONFIG env variables are not specified"
We need to skip e2e tests when the KUBECONFIG env var is not present. Please use `t.Skip()` for this.

This is the test that needs skipping: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/235e8beaacc05954ec3f25480c58e5f7756d0cab/test/e2e/e2e_test.go#L41

[2019-01-25 03:49] himani93 commented on #76
I would like to work on this if no one else is working on this. Thanks

[2019-01-25 14:04] Avni-Sharma commented on #75
I would like to work on this

[2019-01-25 15:47] justaugustus commented on #75
Let's hold on this until I discover if there's already a canonical way for handling this.

[2019-01-25 16:14] nikhita commented on #75
We have a script in k/k that can do this: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-boilerplate.sh.

I've added the script to cluster-api-provider-digital-ocean https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean/pull/111, so I can confirm this can be re-used in other repos too. :)

[2019-01-25 16:42] justaugustus commented on #75
I'll pick this up
/assign

[2019-01-25 16:42] justaugustus commented on #75
/remove-help
/remove-good-first-issue

[2019-01-25 17:01] #74 closed

[2019-01-25 19:31] justaugustus commented on #75
Prow, you crazy
/remove-help
/remove-good-first-issue

[2019-01-25 21:15] justaugustus commented on #75
/milestone baseline

[2019-01-27 01:15] #75 closed

[2019-01-28 05:18] justaugustus commented on #16
Closed via kubernetes/test-infra#10900.
Thanks again, @Pothulapati! :)

/close

[2019-01-28 05:18] #16 closed

[2019-01-28 10:57] Avni-Sharma commented on #76
Hi there, PTAL https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/81

[2019-01-29 07:43] justaugustus opened #82 "Add cluster and machine actuators tests"
I did a bad thing in #68 and commented out the cluster and machine actuator tests, because the associated code had been fully refactored and the current code doesn't fit the old tests.

We've got to rewrite new tests ASAP.
/help
/priority critical-urgent
/cc @tariq1890 @soggiest

[2019-01-29 16:01] #10 closed

[2019-01-29 16:01] #19 closed

[2019-01-31 07:37] tariq1890 opened #86 "Add dep check back to the CI"
Dep check seems to have been removed with the new bazel artifacts. We need to add a new Makefile check so that `dep check` is made available for use in the CI cycles.

[2019-01-31 07:44] #86 closed

[2019-02-06 23:50] soggiest commented on #45
We've added milestone integration as of last night. From the contents of the `plugins.yaml` this project has more plugins associated with it than most.

[2019-02-06 23:53] soggiest commented on #82
/milestone mvp

[2019-02-06 23:54] soggiest commented on #76
/milestone mvp

[2019-02-06 23:55] soggiest commented on #49
I think we can close this, we've got both these now.

[2019-02-06 23:55] #49 closed

[2019-02-06 23:55] soggiest commented on #45
/milestone baseline

[2019-02-06 23:56] soggiest commented on #24
/milestone mvp

[2019-02-06 23:57] soggiest commented on #18
A roadmap is now defined at:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/wiki/Roadmap

[2019-02-06 23:57] #18 closed

[2019-02-06 23:57] soggiest commented on #12
/milestone mvp

[2019-02-06 23:58] soggiest commented on #11
/milestone mvp

[2019-02-07 11:01] justaugustus commented on #49
linking PR where milestone maintainers were added: https://github.com/kubernetes/test-infra/pull/11148

[2019-02-12 08:46] Avni-Sharma commented on #76
I guess this issue needs to be closed since it has been merged now

[2019-02-12 17:20] tariq1890 commented on #76
Yes. Thank you!

[2019-02-12 17:20] #76 closed

[2019-02-13 20:00] justaugustus opened #89 "Utilize bazel for CRD and RBAC generation"
Follow the code here: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/543

/help
/milestone baseline

[2019-02-13 20:03] justaugustus commented on #82
/milestone baseline

[2019-02-13 20:03] justaugustus commented on #11
/milestone baseline

[2019-02-15 18:19] soggiest commented on #89
/assign @soggiest

[2019-02-15 18:19] soggiest commented on #89
I'll take this on

[2019-02-25 22:32] justaugustus opened #92 "[Umbrella] capz MVP - Known Issues"
As we move through a few refactoring efforts (https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/68, https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/88), it's a good time to capture some of the work required to bring us to a MVP capz implementation.

Here are some known issues that we'd want to resolve for the mvp:
- [x] (#100) `master` builds (i.e., `make binari

[2019-02-26 04:36] justaugustus opened #93 "Add client-go constraint to Gopkg.toml"
ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/88#discussion_r260099102

cc: @tariq1890
/help

[2019-02-26 04:41] justaugustus opened #94 "Handle errors consistently"
ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/88#discussion_r260102617

cc: @tariq1890
/help

[2019-02-26 04:47] justaugustus opened #95 "Investigate breaking up tokens package into separate helpers"
/kind feature

**Describe the solution you'd like**
ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/88#discussion_r260104293

cc: @tariq1890
/help

[2019-02-26 18:42] justaugustus opened #97 "Document versioning and release process"
ref: #92
/milestone baseline
/assign

[2019-02-26 18:43] justaugustus opened #98 "Document developer workflow"
ref: #92
/milestone baseline
/assign

[2019-03-04 04:02] #89 closed

[2019-03-04 11:31] justaugustus opened #100 "master builds (i.e., make binaries-dev works), but doesn't result in a working cluster"
/kind bug

Partially addressed in #99
ref: #92

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubect

[2019-03-04 11:31] justaugustus commented on #100
/milestone mvp

[2019-03-04 11:36] justaugustus opened #101 "Investigate Azure Availability Zones"
Resources (VM + NIC public IP) are hard-coded to Zone 3

/kind feature
/assign
/milestone next

[2019-03-04 11:37] justaugustus opened #102 "VM cannot be attached to backend pool (NIC needs to either use a Standard SKU PIP or not have a PIP attached) & backend pool reconciliation code doesn't exist"
/kind bug

Fixed in #99
ref: #92

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1

[2019-03-04 11:38] justaugustus opened #103 "Store public IP DNS name in Cluster object for use in machine scripts (includes updating associated types)"
/kind feature

Fixed in #99
ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/etc/os-rel

[2019-03-04 11:39] justaugustus opened #104 "Control plane NSG is open to the internet"
/kind bug

ref: #92

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e

[2019-03-04 11:41] justaugustus opened #105 "Subnets + NSGs: ReconcileNetwork should implement two subnets, control plane and node, with NSGs scoped to the role."
/kind feature

ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/etc/os-release`): Ubunt

[2019-03-04 11:44] justaugustus opened #106 "Implement/update delete methods for Cluster/Machine objects"
/kind feature

ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/etc/os-release`): Ubunt

[2019-03-04 11:47] justaugustus opened #107 "Investigating using distroless/static for image building"
/kind feature

ref: #92, https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/88/files#r259902819

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kuber

[2019-03-04 11:53] justaugustus opened #108 "Clean up Makefile"
/kind feature

ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/etc/os-release`): Ubunt

[2019-03-04 11:54] justaugustus opened #109 "Types need to be updated (+ regenerate deepcopy, CRDs, RBAC)"
/kind feature

ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/etc/os-release`): Ubunt

[2019-03-04 11:55] justaugustus opened #110 "Adopt a Reconcile/Delete pattern for exported methods"
**Describe the solution you'd like**
The goals are two-fold here:
1. Adopt a consistent pattern/interface for retrieving/modifying/deleting Cluster/Machine/Azure resources
2. Minimize calls to Azure by storing more information in Cluster & Machine objects

For each actuator reconciler, we currently have Reconcile and Delete methods which operate over the lower-level Azure resources.

Instead of ha

[2019-03-04 11:56] justaugustus opened #111 "Update helper packages (tokens, certificates, etc.)"
/kind feature

ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/etc/os-release`): Ubunt

[2019-03-04 11:58] justaugustus opened #112 "Dedupe dependencies and move startup scripts to cloud-init"
/kind feature

ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/etc/os-release`): Ubunt

[2019-03-04 11:59] justaugustus opened #113 "Investigate VMSS (Virtual Machine Scale Sets)"
/kind feature
/assign
/milestone next

[2019-03-04 12:00] justaugustus opened #114 "Hard-coded parameters"
/kind bug

Partially addressed in #99
ref: #92

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubect

[2019-03-04 12:02] justaugustus opened #115 "More intelligent reconcile logic for subresources"
/kind feature

Partially fixed in #99
ref: #92

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version: v0.1.0-alpha.3
- Kubernetes version: (use `kubectl version`): 1.13.3
- OS (e.g. from `/

[2019-03-04 12:06] justaugustus commented on #92
/assign

[2019-03-04 15:02] chuckha commented on #97
Awesome, we have a doc in aws: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/releasing.md and an open issue in cluster-api: https://github.com/kubernetes-sigs/cluster-api/pull/768#pullrequestreview-209793027. There is also this document that I'm hoping will get us closer to a uniformish release process across providers: https://docs.google.com/document/d/17tY88ysZPDH

[2019-03-05 13:01] justaugustus commented on #97
Thanks for the deets, @chuckha! I'm watching the capi issue and will provide some feedback on the Google Doc when I have a moment.

We're happy to follow the capa release process and I've created a PR to document that: #117

[2019-03-05 13:26] justaugustus opened #118 "Secure access to official Kubernetes GCR registries to store capz images"
### Status

- [x] (https://github.com/kubernetes/k8s.io/pull/373) Configure GCR staging repo
- [x] (https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/281) Configure cloudbuild.yaml and Makefile to support image-pushing (this will land once we land `v1alpha2` on `master`)
- [x] (https://github.com/kubernetes/test-infra/pull/14440) Configure [image-pushing job](https://github.com/ku

[2019-03-05 13:26] justaugustus commented on #118
/milestone baseline

[2019-03-05 17:34] #97 closed

[2019-03-05 18:02] #102 closed

[2019-03-05 18:02] #103 closed

[2019-03-05 20:18] #93 closed

[2019-03-06 11:47] justaugustus commented on #11
/kind feature
/priority important-soon

[2019-03-06 11:49] justaugustus commented on #12
/kind feature
/priority important-soon

[2019-03-06 11:51] justaugustus commented on #24
/kind feature
/priority important-longterm
/help
/good-first-issue

[2019-03-06 11:53] justaugustus commented on #45
Closing this. I think we have what we need here.
/kind feature
/priority critical-urgent
/close

[2019-03-06 11:53] #45 closed

[2019-03-06 11:54] justaugustus commented on #82
/kind bug
/priority important-soon

[2019-03-06 11:56] justaugustus commented on #92
/kind feature
/priority critical-urgent

[2019-03-06 11:57] justaugustus commented on #94
/kind feature
/priority important-longterm
/good-first-issue

[2019-03-06 11:58] justaugustus commented on #95
/priority important-longterm
/milestone next

[2019-03-06 11:59] justaugustus commented on #98
/kind documentation
/priority critical-urgent

[2019-03-06 12:00] justaugustus commented on #100
/priority critical-urgent

[2019-03-06 12:01] justaugustus commented on #101
/priority important-soon

[2019-03-06 12:02] justaugustus commented on #104
/milestone v1alpha1
/priority important-soon
/help

[2019-03-06 12:07] justaugustus commented on #105
/milestone v1alpha1
/priority important-soon

[2019-03-06 12:10] justaugustus commented on #106
/milestone mvp
/priority important-soon

[2019-03-06 12:11] justaugustus commented on #107
/priority important-longterm
/milestone next
/good-first-issue

[2019-03-06 12:12] justaugustus commented on #108
/priority important-soon
/milestone mvp

[2019-03-06 12:13] justaugustus commented on #109
/milestone mvp
/priority important-soon

[2019-03-06 12:14] justaugustus commented on #110
/milestone v1alpha1
/priority important-longterm

[2019-03-06 12:16] justaugustus commented on #111
/milestone next
/priority important-longterm

[2019-03-06 12:17] justaugustus commented on #112
/milestone next
/priority important-longterm

[2019-03-06 12:18] justaugustus commented on #113
/priority important-longterm

[2019-03-06 12:19] justaugustus commented on #114
/priority important-soon

[2019-03-06 12:19] justaugustus commented on #114
/milestone mvp

[2019-03-06 12:20] justaugustus commented on #115
/milestone mvp
/priority important-soon

[2019-03-06 12:20] justaugustus commented on #118
/priority important-longterm

[2019-03-06 12:22] justaugustus commented on #82
/remove-priority critical-urgent

[2019-03-06 12:30] justaugustus commented on #94
/milestone mvp

[2019-03-06 18:39] justaugustus opened #119 "ReconcileLoadBalancer panics on first run due to a check on a nil value"
/kind bug

**What steps did you take and what happened:**
During the reconciliation of the load balancer, we get a panic:
[code]

However, this only happens on the first run of the reconciliation loop.
I believe this is due to the checking against a value in the loadbalancer struct, which is only nil on instantiation.

Let's clean up the logic for the ReconcileLoadBalancer method.

**Environment:*

[2019-03-07 07:56] justaugustus commented on #45
For reference, the prow plugins currently enabled for the repo are:
[code]

and for k-sigs/*:
[code]

[2019-03-07 14:26] justaugustus opened #122 "GetIP creates extraneous public IP"
/kind bug

**What steps did you take and what happened:**
`GetIP` in the `deployer` package utilizes the `CreateOrUpdatePublicIPAddress` method, which results in creating an additional (unused) Standard Public IP.

We should create a `GetPublicIPAddress` method to retrieve the public IP FQDN instead.

/assign
/milestone mvp
/priority critical-urgent

[2019-03-07 14:33] justaugustus opened #123 "Machine actuator is unable to discover an existing machine"
/kind bug

**What steps did you take and what happened:**
This requires additional investigation, but I believe there is faulty logic in the `VMIfExists` and by extension, `CreateOrGetMachine` which is causing the controller to believe the machine has not already been created. This leads to additional calls to the Azure API (#110) which can be avoided.

/assign
/milestone mvp
/priority critical-ur

[2019-03-07 15:31] ncdc opened #125 "Document alignment with supported Cluster API and Kubernetes versions"
Let's add a section to the README that describes which versions of Cluster API work with which versions of this repository.

Let's also add a section that describes which versions of Kubernetes this provider is able to provision.

**Example:**
This provider's versions are compatible with the following versions of Cluster API:

||Cluster API 0.1|Cluster API 0.2|
|-|-|-|
|XYZ Provider 0.1|✓||
|XYZ P

[2019-03-07 15:39] justaugustus commented on #125
/milestone v1alpha1
/assign

[2019-03-07 16:12] alanmeadows opened #127 "Local Manager Image Build Process Broken"
/kind bug

**What steps did you take and what happened:**

Follow the documentation to push custom builds of ./manager.

**What did you expect to happen:**

A successful container image can be built and pushed.

**Anything else you would like to add:**

A few issues.  This is somewhat important given quay.io/k8s is somewhat unstable, and most of the time, the images referenced in the components ya

[2019-03-07 20:00] #122 closed

[2019-03-07 23:10] justaugustus commented on #123
(Updating the cluster actuator, machine actuator, and deployer code should resolve this.)

[2019-03-08 13:38] justaugustus opened #129 "Investigate using Kustomize 2.x"
There are some breaking changes from kustomize 1.x --> 2.x that would prevent us from simply bumping the version.

ref:
- https://github.com/kubernetes-sigs/kustomize/blob/master/docs/version2.0.0.md
- https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/126#discussion_r263607147
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/569
- https://github.com/kubernetes-

[2019-03-08 14:23] justaugustus commented on #127
@alanmeadows -- Thank you for filing such a detailed bug report and for wanting to contribute! :)

Hopefully I can address a few of these concerns while the repo is in flux...
- Pushes to `quay.io/k8s/cluster-api-azure-controller` are restricted to project maintainers. You're likely running into some issues because you're trying to push to a registry you don't have access to.

  Additionally, ther

[2019-03-08 14:51] justaugustus commented on #127
/priority critical-urgent
/milestone baseline
/assign

[2019-03-08 16:39] #125 closed

[2019-03-08 18:39] jzelinskie commented on #127
It's being rolled out in waves. I'll whitelist your user.

[2019-03-08 19:10] justaugustus commented on #127
Thanks Jimmy!

[2019-03-18 18:16] serbrech commented on #129
related : https://github.com/kubernetes-sigs/kubebuilder/pull/614
Kubebuilder updated their scaffolding to match Kustomize v2 expectations.

[2019-03-20 18:22] serbrech commented on #129
Instructions to fix structure :
https://github.com/kubernetes-sigs/kubebuilder/issues/595#issuecomment-468471211

[2019-03-20 18:22] serbrech commented on #129
/assign serbrech

[2019-03-20 18:56] serbrech commented on #129
Further investigations :
the `secretGenerator` type has done away with `commands:` for security concerns.
it has has now plugins, which allow you to define where the secrets are pulled from.
Environment is one option that is easy to swap in.

[2019-03-20 20:43] serbrech opened #140 "Define common pattern to abstract filesystem dependencies"
/kind feature

The codebase relies on file paths in several places.
[certificates](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/pkg/cloud/azure/services/certificates/certificates.go), [deployments](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/pkg/cloud/azure/services/resources/deployments.go), kubeconfig, and more...

Accessing files direct

[2019-03-21 16:23] awesomenix opened #142 "Generate and store certificates in Azure Key Vault"
/kind feature

**Describe the solution you'd like**
Currently Certificates required for a functioning Kubernetes Cluster is generated in cluster actuator and stored in the provider Spec. Would prefer them to be stored in Azure Key Vault instead of spec, which is safer, and not bound to leak any secrets

**Steps:**

1. Create Azure Key Vault in cluster actuator
2. Generate certificates using kubead

[2019-03-21 16:26] awesomenix commented on #142
/priority important-longterm

[2019-03-23 00:52] #119 closed

[2019-03-23 17:33] awesomenix commented on #123
Fixed with PR https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/139, calls azure to check existence of the machine, since we reconcile every 10 minutes in future, its fine to call azure to check vm existence

[2019-03-23 17:34] awesomenix commented on #123
/close

[2019-03-23 17:34] #123 closed

[2019-03-23 17:36] awesomenix commented on #111
/close

already uses kubeadm to generate all pre requisites.

[2019-03-23 17:36] #111 closed

[2019-03-23 17:37] awesomenix commented on #82
/assign @awesomenix

Already added cluster actuator test, working on machine actuator tests

[2019-03-23 17:47] awesomenix commented on #105
/close

[2019-03-23 17:47] #105 closed

[2019-03-23 17:49] awesomenix commented on #104
Uses NSG with https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/139, bastion VM could be an alternative instead of default, closing this

/close

[2019-03-24 03:24] justaugustus commented on #104
/reopen

[2019-03-24 10:59] justaugustus opened #148 "Sweep TODOs"
/kind cleanup

**Describe the solution you'd like**
Resolve or associate all TODOs in repo with GitHub issues.

/assign
/priority important-longterm
/milestone baseline

[2019-03-24 14:37] #82 closed

[2019-03-24 15:28] justaugustus commented on #114
/assign
/remove-help

[2019-03-24 22:25] #127 closed

[2019-03-24 22:25] #98 closed

[2019-03-24 22:25] #107 closed

[2019-03-24 22:25] #108 closed

[2019-03-24 23:41] #114 closed

[2019-03-26 02:27] awesomenix opened #153 "Support for windows worker nodes"
/kind feature

Since kubernetes 1.14 just GA windows worker nodes, add support for the same in cluster api

**Describe the solution you'd like**
1. VM Extension service needs to be refactored to handle CSE in Microsoft.Compute namespace https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/f53efdb852dab776e412e4c0cd5a91cc3f760019/pkg/cloud/azure/services/virtualmachineextensions/virtu

[2019-03-26 16:54] awesomenix commented on #101
/assign @awesomenix

[2019-03-26 22:28] awesomenix opened #154 "Changing Kubernetes Version to 1.14 doesnt result in working cluster"
/kind bug

Follow steps in getting started guide and change the kubernetes version to 1.14, clusterctl errors out with

[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
Result in a working cluster

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.

[2019-03-27 16:20] lachie83 opened #157 "Not compatible with kind 0.2.0"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Running create cluster yields the following error

[code]
When running that kind command directly I get

[code]

kind version
[code]

**What did you expect to happen:**

Create a cluster. I have confirmed that this works with kind 0.1.0

**Anything else you would like to add:**
[Miscell

[2019-03-27 16:26] lachie83 commented on #157
Looks like kind might be throwing a bad error. Digging

[2019-03-27 17:39] lachie83 commented on #157
Looks like this is a bogus error that you get from kind when the docker daemon isn't running locally.

[2019-03-27 17:39] lachie83 commented on #157
closing: wont-fix

[2019-03-27 17:39] #157 closed

[2019-03-28 00:13] awesomenix opened #160 "Determine on removing hardcoded kubernetes-cni version in vm startup scripts"
/kind bug

**What steps did you take and what happened:**
Currently the kubernetes-cni version is hardcoded to 0.6.0 to workaround a bug, need to remove once upstream kubernetes package or update the packages

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/3d7c03326b06ea6c825cd4e899b61e2134f61469/pkg/cloud/azure/services/config/controlplane.go#L143

**What did you expect to hap

[2019-03-28 01:09] justaugustus commented on #160
This isn't really our bug, we just need to track when this gets fixed and allow the values to be configurable in the meantime.

/remove-kind bug
/kind feature
/priority critical-urgent
/milestone v1alpha1

[2019-03-28 01:15] justaugustus commented on #153
Currently blocked on adding support for Kubernetes 1.14: #154
I'm fine with this, but the CNI needs to be configurable. Default to weave for most cases, but use flannel, if you need to support Windows.

/priority important-longterm
/milestone next

[2019-03-28 01:16] justaugustus commented on #154
@awesomenix -- Let's reframe this. It isn't a bug; it should be a tracking issue for supporting Kubernetes 1.14.

/remove-kind bug
/kind feature
/priority important-soon
/milestone v1alpha1

[2019-03-29 21:10] #101 closed

[2019-03-30 10:07] justaugustus commented on #100
Closed via #131
/close

[2019-03-30 10:07] #100 closed

[2019-03-30 10:08] justaugustus commented on #109
Closed via #131 and others.
/close

[2019-03-30 10:08] #109 closed

[2019-03-30 10:15] justaugustus commented on #115
Closed via #138, #139, #145.
/close

[2019-03-30 10:15] #115 closed

[2019-03-30 10:27] justaugustus commented on #24
Superceded by #112.
/close

[2019-03-30 10:27] #24 closed

[2019-03-30 10:28] justaugustus commented on #106
Closed via #138, #139, #145.
/close

[2019-03-30 10:28] #106 closed

[2019-03-30 10:29] justaugustus commented on #94
/milestone next

[2019-03-30 10:29] justaugustus commented on #12
/milestone next

[2019-03-30 10:39] justaugustus commented on #140
/priority important-longterm
/milestone next

[2019-03-30 10:53] justaugustus opened #165 "Implement Azure bastion host"
/kind feature

**Describe the solution you'd like**
Adding a bastion node will allow secure access to nodes, without having to rely on NAT rules on the public load balancer, laying the groundwork for non-public capz scenarios.

Use the capa bastion as a reference point: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/services/ec2/bastion.go

https://docs.micro

[2019-03-30 10:53] justaugustus commented on #165
/priority important-soon
/milestone v1alpha1

[2019-03-30 10:53] justaugustus commented on #165
/help

[2019-03-30 11:17] justaugustus commented on #92
I think we've done a good job of taking care of most of the MVP items and I've re-prioritized the remaining issues on this umbrella.
/close

[2019-03-30 11:17] #92 closed

[2019-04-01 19:05] johnharris85 opened #167 "Latest Bazel breaks build process"
/kind bug

**What steps did you take and what happened:**
Installed latest Bazel (`0.24.0`) and tried to run `make manifests / binaries` (after running `make dep-ensure`) and received the following error:

    make[1]: Entering directory '/home/john/go/src/sigs.k8s.io/cluster-api-provider-azure'
    bazel build //config
    ERROR: /home/john/go/src/sigs.k8s.io/cluster-api-provider-azure/config/BUI

[2019-04-02 05:45] justaugustus commented on #167
Hey @johnharris85 -- This should be fixed, as we've bumped `k8s.io/repo-infra` in #166 (ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/6c364f9b67572effe331f724dc3d67fc10eb7f4d/WORKSPACE#L41).
Can you test again and report back? I'll leave this open until then.

/assign
/priority critical-urgent
/milestone v1alpha1

[2019-04-02 16:18] johnharris85 commented on #167
LGTM!

[2019-04-02 16:18] #167 closed

[2019-04-03 13:56] justaugustus commented on #154
I'm working on this as part of #168.
/lifecycle active

[2019-04-03 13:56] justaugustus commented on #154
/assign

[2019-04-03 14:09] justaugustus opened #169 "Optionally supply Availability Zone"
/kind feature

**Describe the solution you'd like**
We recently added the capability to automatically use Availability Zones in Azure regions that support them. The current behavior is to choose a random AZ within the region and utilize it, but let's instead allow users to select one.

Some things I'd like to see in terms of behavior:
- AZ can be set as an env var (default to `""`) within generate

[2019-04-03 18:14] tahsinrahman commented on #165
I can work on this. How should it look like?

What i can think of now is,
- A bastion host with public ip
- A new subnet for bastion host, with security group rule that allows all traffice at port 22
- Remove ssh rule from controlplane sg
- Remove ssh nat rule from load balancer

[2019-04-03 19:11] justaugustus commented on #165
@tahsinrahman -- Appreciate the help! What you've described looks like a great first pass. Additionally, let's make sure that the bastion uses the same OS as the Cluster API machines (Ubuntu 18.04).

Tag me on the PR when you're ready for someone to review. :)

[2019-04-03 21:49] justaugustus commented on #165
/remove-help

[2019-04-04 01:19] vibhsaxena commented on #154
+ following

similar error:
# kubectl apply -f test.yaml
error: SchemaError(io.k8s.api.apps.v1beta1.ScaleSpec): invalid object doesn't have additional properties

[2019-04-04 13:08] awesomenix commented on #169
Customer requirements are creating a zone redundant cluster, which means all nodes and masters are tolerant to zone failures. Typical option is for customer to provide an option to be zone redundant or not, and cluster api could automatically choose the best option for them, not sure of a scenario where customer has to manually choose an availability zone for the vm's

The right way to fix this wo

[2019-04-04 18:33] johnharris85 opened #172 "cluster delete fails on removing subnets"
/kind bug

**What steps did you take and what happened:**
When deleting a cluster it failed consistently on:

    I0404 17:23:40.002480       1 subnets.go:124] deleting subnet capi-joharris-test-cluster-node-subnet in vnet capi-joharris-test-cluster-vnet
    I0404 17:23:40.100195       1 subnets.go:143] successfully deleted subnet capi-joharris-test-cluster-node-subnet in vnet capi-joharris-test-c

[2019-04-04 19:01] #172 closed

[2019-04-10 07:50] justaugustus opened #178 "Support existing resources"
/kind feature

**Describe the solution you'd like**
Currently capz creates various Azure resources within a new resource group.
This is adequate for greenfield cases, but there are multiple instances where a more flexible configuration is desirable. Reasons for this could be organization imposed or restrictions on the resources that a user/service principal can create.

Let's enumerate some of the

[2019-04-10 07:51] justaugustus commented on #178
Support for existing resource groups has been verified as working in #174.

[2019-04-10 08:04] justaugustus commented on #178
/kind design

In working on adding support for existing vnets (#177), I found that there are a few things to consider...
- in the current state, existing vnets would have to match the expected CIDR range that already exists within capz (10.0.0.0/8)
- subnet creation will fail if there are existing subnets in the vnet that have the default CIDR ranges of the capz controlplane and node subnets
- if

[2019-04-10 18:00] justaugustus commented on #110
/assign
/remove-help
/priority important-soon
/remove-priority important-longterm

[2019-04-10 18:32] justaugustus commented on #110
/kind design

[2019-04-10 20:02] justaugustus commented on #169
@awesomenix -- Apologies if I skipped some details here.

Zone-redundant services should continue to be redundant wherever possible.
What I was referring to here was _zonal_ resources. The randomized AZ is fine for zonal cluster resources, but consider awareness of existing topology i.e., I want to build my cluster zonal resources datacenter-adjacent to some existing resource. That would still be

[2019-04-11 03:47] alexeldeib commented on #104
What's the preferred resolution to this issue? Implementing a bastion (which I assume would be open to the internet?) or locking down the control plane NSG further? Seems a little difficult without user input to determine e.g. the desired ranges.

[2019-04-11 04:15] alexeldeib commented on #104
Seems like this is going towards bastion VM, just saw https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/175

[2019-04-13 17:26] justaugustus commented on #153
Added Canal (flannel + Calico policy) as CNI in #181.

[2019-04-14 21:22] awesomenix opened #183 "Hardcoded CIDR blocks in Calico CNI config"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Calico CNI has hardcoded pod CIDR blocks to `192.168.0.0/16`, plan to make it configurable,

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

PR: https://github.com/kubernetes-sigs/cluster-ap

[2019-04-18 18:59] justaugustus opened #188 "Investigate HA control plane"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 18:59] justaugustus opened #189 "Context-based logging"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 18:59] justaugustus opened #190 "Release branching strategy"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:00] justaugustus opened #191 "Suggest minimum versions of required dependencies"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:01] justaugustus opened #192 "Test and resolve Delete flow inconsistencies"
**Describe the solution you'd like**
The delete flow (`make delete-cluster`) does not currently work.
Several things could be at play here:
- order of operations for resource deletion
- make target is incorrect
- RBAC roles are insufficient to perform operations

Investigate these avenues and work to clean this up.

[2019-04-18 19:02] justaugustus opened #193 "Implement tagging"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:02] justaugustus opened #194 "Schedule capz bi-weekly meeting"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:02] justaugustus opened #195 "Investigate go modules"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:03] justaugustus opened #196 "Abstract reusable packages"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:04] justaugustus opened #197 "Azure Marketplace images"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:05] justaugustus opened #198 "Release Engineering tooling"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:05] justaugustus opened #199 "Allow configurable Kubernetes versions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 19:12] justaugustus opened #200 "Machine Updates should signal completion"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-04-18 21:46] alexeldeib commented on #188
I'm interested in this! The goal would be for multi-master, multi-AZ, yeah?

[2019-04-18 21:49] alexeldeib commented on #113
I'm also interested in this, not sure how high priority this should be considered. VMSS makes a lot of sense for implementing a higher level machineset or machinedeployment, but it's not strictly necessary for the Machine spec.

Off the top of my head one immediate question is whether this would be user-toggleable or not. If so, something in the field needs to communicate that. If not, one thing t

[2019-04-20 09:27] alexeldeib opened #201 "OS Disk not deleted with Machine"
/kind bug

**What steps did you take and what happened:**
Create a machine with role node. Delete it. Wait for all deletion operations to complete. Recreate it. There will be a disk conflict, because the previous OS disk was detached but not deleted with the VM.

**What did you expect to happen:**
OS disk should be removed with VM.

**Anything else you would like to add:**
Fix is in https://github

[2019-04-23 02:38] #201 closed

[2019-04-26 04:59] alexeldeib commented on #113
@justaugustus any thoughts?

[2019-05-15 07:35] enxebre opened #204 "nodeRef is only set on a machine when the SyncPeriod is expired"
/kind bug

**What steps did you take and what happened:**

**What did you expect to happen:**

atm the actuator will only set the nodeRef on a machine when the `actuators.exists` operation is invoked and a node with a matching providerID is there, which will only happen when a machine controller reconciliation is triggered by the SyncPeriod expiration.
The same is likely happening on aws

We shoul

[2019-05-15 14:51] enxebre commented on #204
cc @vikaschoudhary16

[2019-05-25 04:45] justaugustus commented on #204
/help
/priority important-soon
/milestone v1alpha1

[2019-05-25 06:21] justaugustus opened #207 "Cluster API v0.1.1 causes kubectl for pivot to fail"
/kind bug

**What steps did you take and what happened:**
The bump to Cluster API v0.1.1 (d8065d7) introduced the following failure in the clusterctl flow:
[code]

**Environment:**
- cluster-api-provider-azure version: d8065d7
- Kubernetes version: (use `kubectl version`): v1.14.2
- OS (e.g. from `/etc/os-release`):
[code]

[2019-05-25 06:21] justaugustus commented on #207
/priority important-soon
/help
/milestone v1alpha1

[2019-05-29 15:43] feiskyer commented on #113
@justaugustus @alexeldeib any blocking issues on VMSS support? We'd like to prioritize this.

[2019-05-29 18:42] alexeldeib commented on #113
@feiskyer Not as far as I'm aware. This seems like an easy win to me.

[2019-06-03 08:43] justaugustus commented on #207
@detiber @ncdc @vincepri -- Any ideas on this one?

[2019-06-03 13:58] ncdc commented on #207
@justaugustus does this happen every time or was this possibly a flake?

[2019-06-03 14:33] vincepri commented on #207
Seems this might be a new error to add to the list of the ones we want to wait on it https://github.com/kubernetes-sigs/cluster-api/blob/5e2e91dd6f9b7cb90cec3059da0298e8d1458cee/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L926

[2019-06-04 16:59] detiber commented on #207
I think @vincepri is on the right track here

[2019-06-04 17:00] detiber commented on #207
Actually, I'd wonder why the etcdserver is not available during that period...  I would not expect that to be an issue during the pivot...

[2019-06-04 17:00] ncdc commented on #207
I think `etcdserver: request timed out` usually means there is something pretty wrong with your etcd server. It would be interesting to see either the apiserver or the etcd logs. And maybe system utilization (CPU, network, memory).

[2019-06-06 07:22] alexeldeib commented on #207
I tested this out yesterday, I couldnt't get a repro? I built capz using capi 0.1.1 and was 3/3 for getting a working cluster (logs and builds omitted below for brevity).

[code]

[2019-06-06 07:56] alexeldeib commented on #207
I uploaded extensive logs with v0.1.1 working for me here: https://gist.github.com/alexeldeib/1fe2a9b40a65cf58a9f56ec058c343a2

I didn't include the etcd/apiserver logs, since I got a healthy cluster.

[2019-06-06 11:52] alexeldeib commented on #154
Is this still an issue? I built a cluster with 1.14.1 and it seems to work fine. Logs [here ](https://gist.github.com/alexeldeib/1fe2a9b40a65cf58a9f56ec058c343a2)(ctrl-f "1.14.1" to see the nodes).

[2019-06-06 12:00] justaugustus commented on #154
Correct. This is no longer be an issue on `master`.
/close

[2019-06-06 12:01] justaugustus commented on #118
/remove-lifecycle stale

[2019-06-06 12:01] justaugustus commented on #112
/remove-lifecycle stale

[2019-06-06 12:01] justaugustus commented on #95
/remove-lifecycle stale

[2019-06-06 12:01] justaugustus commented on #11
/remove-lifecycle stale

[2019-06-06 12:09] justaugustus commented on #113
It's a win for everyone, but I wouldn't necessarily call it an easy one.
What we need to consider here is the fact that there is no native paradigm for VMSS in Cluster API.

As the VMSS and virtual machine implementations for Azure are different, I would request that this be something toggleable for users.

Juan-Lee expressed interest in working on this, so assigning to him.
/assign @juan-lee

Als

[2019-06-06 12:09] justaugustus commented on #113
/unassign

[2019-06-06 12:53] detiber commented on #113
There are two potential approaches:

- Add an (optional) extension point for MachineSets that could be leveraged to directly interact with VMSS (or other cloud-based scaling mechanisms).
- Add a new type similar to MachineSet with an extension point for interacting with VMSS (or other cloud-based scaling mechanisms)

The second option would probably be the least controversial in the community, sin

[2019-06-06 13:01] justaugustus commented on #154
/close

[2019-06-06 13:01] #154 closed

[2019-06-06 15:00] alexeldeib commented on #113
@detiber if you're planning to bring this up in cluster-api weekly, would you mind pushing it to the meeting on the 19th rather than the 12th? I was hoping to attend the kubebuilder monthly meeting which conflicts with this. I've been traveling and mostly have tried to keep up async with meetings, docs, and slack, but I'd like to attend in person if the group will discuss ASG/VMSS/MIG proposals.

[2019-06-06 15:09] justaugustus commented on #113
@detiber -- thanks for the feedback!!

@alexeldeib -- just to be clear, this is assigned to @juan-lee, not Jason (I just tagged him in for feedback). Once a public proposal is put together, we can look at getting it on the calendar with the other Cluster API folks.

[2019-06-06 15:24] detiber commented on #113
I won't have time for a while to work on a proposal for this, but I'm happy to review/provide feedback. I also wasn't planning on adding it explicitly as an agenda item to the Cluster API meeting until a proposal exists.

[2019-06-06 16:43] juan-lee commented on #113
@justaugustus @detiber @alexeldeib

Here's my plan:

@CecileRobertMichon and I will work on a design and prototype based on the current state of cluster-api. This exercise should lead us to concrete requirements that will inform a proposal to upstream cluster-api. It's entirely possible that we won't encounter any blockers and our feedback is mostly around usability. Please let me know if there ar

[2019-06-06 19:13] justaugustus commented on #113
@juan-lee -- sounds good! Please link the Google Doc here once it's in motion.

[2019-06-07 22:09] #207 closed

[2019-06-11 09:07] puja108 commented on #113
We are using VMSS already, but from talking to Azure folks it seems not everyone is convinced you should use them, yet. At least it seems that Azure people in this thread would support it, which makes me happy.

In general, we would welcome a cluster API mode that allows for higher level provider abstractions to machines (VMSS/ASG/MIG) as there're some good arguments for using them, e.g. AWS is ad

[2019-06-12 18:11] juan-lee commented on #113
@puja108 can you provide some additional context around Azure folks not being convinced of using VMSS? Are we talking about just for k8s or broader?

[2019-06-14 00:35] CecileRobertMichon opened #221 "Go version is pinned to 1.12.4"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Running `make docker-build` or `make binaries` from an environment using the latest go version (`1.12.6`) returns `compile: version "go1.12.6" does not match go tool version "go1.12.4"`.

**What did you expect to happen:**
I would expect to be able to build using any 1.12 go version (in

[2019-06-14 01:01] CecileRobertMichon commented on #221
this was env related.

[2019-06-14 17:16] CecileRobertMichon commented on #199
@justaugustus is this not already possible via the `KUBERNETES_VERSION` variable?

[2019-06-14 17:27] CecileRobertMichon commented on #160
@awesomenix @justaugustus is this issue still relevant? Can I help?

[2019-06-14 18:43] justaugustus commented on #199
@CecileRobertMichon -- good catch!
This issue predated that variable, so we can close this out. :)
/close

[2019-06-14 18:43] #199 closed

[2019-06-14 18:46] CecileRobertMichon commented on #197
Could you give a bit more details on what you had in mind? Would the goal be to add variables for specifying OS image publisher/offer/sku/version? I see that right now it is hardcoded to Canonical UbuntuServer 18.04-LTS latest. I'd be interested in picking this up.

[2019-06-14 19:07] alexeldeib opened #222 "bug: not considering all AZ, restrictions on VM SKU"
/kind bug

**What steps did you take and what happened:**
compute.ResourceSkusClient returns the [first page](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-03-01/compute#ResourceSkusClient.List) of a paginated results set.

There are two issues in the current implementation. Not all the pages are iterated. This results in users potentially erroring out on valid SKU

[2019-06-14 19:26] #222 closed

[2019-06-14 20:38] CecileRobertMichon opened #224 "Transient containerd download error in custom script"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

From custom script logs:
[code]

Couldn't repro when SSHing to the VM:

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
We should add retries to download operations in the script to a

[2019-06-14 20:39] CecileRobertMichon commented on #224
/assign CecileRobertMichon

[2019-06-15 00:01] CecileRobertMichon commented on #221
this is due to https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/WORKSPACE#L48.

After trying (many) things, the only workaround that worked for me was to uninstall go 1.12.6 and install go 1.12.4.

[2019-06-15 00:03] justaugustus commented on #221
@CecileRobertMichon -- can you PR a version bump there?

[2019-06-15 00:08] CecileRobertMichon commented on #221
bumping the version in `WORKSPACE` results in:

[code]

I also tried changing it to
[code]

[2019-06-15 00:21] CecileRobertMichon commented on #221
looks like 1.12.6 support was added 3 days ago https://github.com/bazelbuild/rules_go/commit/b34f072459a4d2692fcb2cb093ddac203b14335c

[2019-06-15 00:23] CecileRobertMichon commented on #221
...and released 2 days ago https://github.com/bazelbuild/rules_go/releases/tag/0.18.6

but it's still a pre-release

[2019-06-15 00:40] #224 closed

[2019-06-15 01:04] #221 closed

[2019-06-17 14:58] puja108 commented on #113
@juan-lee I think it was a broader/general hesitancy to use VMSS as they are still relatively new and there wasn't much experience with it. I sadly have no deeper insights there and as I said at least there's also some Azure folks who would support using VMSS, so I'm optimistic there.

[2019-06-17 22:13] CecileRobertMichon commented on #193
what are the requirements here? is tagging referring to Azure resource tags?

[2019-06-17 23:42] CecileRobertMichon opened #228 "Master broken?"
I have a pretty strong signal that https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/223 broke cluster deployments.

repro:
- checkout 8ba867dd9521fd705df9967390627ca5325b252e
- follow https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/development.md to deploy a cluster
- the control-plane-0 virtual machine never gets deployed in the Resource Group.
- `

[2019-06-17 23:51] alexeldeib commented on #228
Looking. ☹️ Sorry about that...

[2019-06-17 23:55] alexeldeib commented on #193
refs:
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/docs/proposal/aws-resource-handling.md#tagging-of-resources
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/704

[2019-06-18 00:59] alexeldeib commented on #228
Can you share the logs from `cluster-api-controller-manager-0`? On initial investigation I'm not able to repro this.

![image](https://user-images.githubusercontent.com/6800857/59646005-a89c1a00-9129-11e9-8eee-53cff8590539.png)

[2019-06-18 01:00] alexeldeib commented on #228
Might've messed up my versions trying to repro, trying a few more times

[2019-06-18 01:08] alexeldeib commented on #228
I am seeing the VMs after the control plane take a while...

[2019-06-18 01:28] alexeldeib commented on #228
Hmm, maybe I can see the same behavior? Still debugging

[2019-06-18 01:51] alexeldeib commented on #228
Oh. I think I see the issue. This is a tad embarrassing...dangers of trying to selectively add patches to my commits.

[2019-06-18 01:51] justaugustus commented on #228
What's the prognosis, doc?

[2019-06-18 01:58] alexeldeib commented on #228
Let me confirm and I'll PR the fix. I didn't commit the part which advances the iterator.

[2019-06-18 01:59] justaugustus commented on #228
Gotcha. Thanks for investigating!

[2019-06-18 02:04] alexeldeib commented on #228
Note to self to improve unit/e2e tests to avoid the same...

[2019-06-18 02:26] #228 closed

[2019-06-18 04:43] CecileRobertMichon commented on #228
thanks for investigating and fixing @alexeldeib!

[2019-06-19 16:57] awesomenix commented on #142
/remove-lifecycle stale

[2019-06-20 22:55] CecileRobertMichon commented on #183
@awesomenix @juan-lee is this still relevant? Can I pick it up? any pointers?

[2019-06-21 00:28] awesomenix commented on #183
Seems like this was recently switched to calico using vxlan, but the pod cidr is still hardcoded https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/9b553da079817f83fe7659696d5a88b60724463d/cmd/clusterctl/examples/azure/addons.yaml#L605 , making this cidr match the input network pod cidr would be desirable

[2019-06-21 01:40] justaugustus commented on #183
Pod CIDRs are hardcoded because these manifests are grabbed directly from Project Calico.
The reason this was on the backburner is because we currently assume `192.168.0.0/16` is the pod CIDR block across the board.

If we're going to change it here, we need to make sure it's parameterized and configurable everywhere in the repo, not just in addons.yaml.

[2019-06-21 17:13] CecileRobertMichon commented on #113
Here a first iteration of a proposed design for implementing VMSS given the current state:
https://docs.google.com/document/d/1nbOqCIC0-ezdMXubZIV6EQrzD0QYPrpcdCBB4oSjWeQ/edit?usp=sharing

@detiber @justaugustus PTAL

[2019-06-25 18:34] soggiest commented on #12
/assign @soggiest

[2019-06-26 16:30] justaugustus commented on #160
/remove-priority critical-urgent
/priority important-soon

[2019-07-03 20:04] CecileRobertMichon commented on #113
@detiber @justaugustus I don't see any comments from you on the doc, have you had a chance to review it? Should I share it with a wider audience?

[2019-07-10 01:44] awesomenix commented on #169
/remove-lifecycle stale

[2019-07-10 13:36] justaugustus commented on #113
@CecileRobertMichon @juan-lee -- Will review this week!
Email sent to SIG CL and Azure for comments: https://groups.google.com/d/topic/kubernetes-sig-cluster-lifecycle/hhTm8u4rSMU/discussion

cc: @ritazh

[2019-07-10 15:54] ncdc commented on #113
I wrote a comment in the proposal document, but I'd really like to see support for scaling sets/groups (Azure VMSS, AWS ASG, etc) in Cluster API itself, and not implemented entirely independently per provider. This could be added to MachineSet, or via a new type similar to MachineSet but specifically for taking advantage of provider-specific scaling functionality.

[2019-07-10 16:15] vincepri commented on #113
+1 to what @ncdc mentioned, having support in CAPI (especially now that we're working on v1alpha2) would be a major win for the project.

If you can join, I'd love if one of you can bring the discussion in today's Cluster API community meeting https://docs.google.com/document/d/1Ys-DOR5UsgbMEeciuG0HOgDQc8kZsaWIWJeKJ1-UfbY/edit

[2019-07-10 16:29] CecileRobertMichon commented on #113
@vincepri sounds great. Unfortunately I'm not able to make it today but @juan-lee and I will both attend next week's meeting. Hopefully that will also give time for others to share their perspective on the doc before we have a discussion.

[2019-07-10 16:30] vincepri commented on #113
Sounds great, thanks!

[2019-07-11 15:32] vincepri commented on #195
/lifecycle active

[2019-07-11 16:16] vincepri opened #232 "Migrate to Cluster API master / v1alpha2"
/kind feature

Describe the solution you'd like
In an effort to move this provider to v1alpha2 CAPI types, we should update the dependency to Cluster API latest master release after the switch to Go Modules.

[2019-07-11 16:16] vincepri opened #233 "Create v1alpha2 types"
/kind feature

Describe the solution you'd like

- [x] Create and define AzureMachine CRD.
- [x] Create and define AzureMachineTemplate CRD.
- [x] Copy the Cluster logic for v1alpha1.

[2019-07-11 16:19] vincepri opened #234 "Remove bootstrapping code (kubeadm, cloud-init)"
/kind feature

Describe the solution you'd like
In CAPI v1alpha2, the bootstrap logic is externalized to bootstrap providers. As part of the next release, we should remove all the code that generates user-data for Azure instances.

[2019-07-11 16:19] vincepri opened #235 "AzureMachine controller"
/kind feature

**Describe the solution you'd like**
After the v1alpha2 types are created, we need a new Kubebuilder controller that watches AzureMachine and Machine events. This controller replaces v1alpha1's actuator logic and it should follow the specs detailed in Machine states and preboot proposal.

[2019-07-11 16:20] vincepri opened #236 "Add validating webhook for v1alpha2 types"
/kind feature

**Describe the solution you'd like**
Using validating webhook, we need to add validation logic for AzureMachineTemplate objects to achieve immutability.

[2019-07-12 00:45] #195 closed

[2019-07-20 21:10] soggiest commented on #169
/assign @soggiest

[2019-07-23 15:39] vincepri opened #248 "[v1alpha2] Switch kubebuilder domain to cluster.x-k8s.io"
/kind feature

**Describe the solution you'd like**
The kubebuilder domain and generated APIs should fall under cluster.x-k8s.io domain.

[2019-07-26 07:44] justaugustus commented on #248
/milestone v1alpha2
/priority important-soon

[2019-07-26 07:45] justaugustus commented on #236
/milestone v1alpha2
/priority important-soon

[2019-07-26 07:45] justaugustus commented on #235
/milestone v1alpha2
/priority important-soon

[2019-07-26 07:45] justaugustus commented on #234
/milestone v1alpha2
/priority important-soon

[2019-07-26 07:46] justaugustus commented on #233
/milestone v1alpha2
/priority important-soon

[2019-07-26 07:46] justaugustus commented on #232
/milestone v1alpha2
/priority important-soon

[2019-07-26 07:50] justaugustus commented on #188
@alexeldeib -- sorry, I missed your note on this, else I would've let you run with this one!

Closed via #245, #243.
/close
/assign
/remove-lifecycle stale
/priority important-soon
/milestone v1alpha1

[2019-07-26 07:50] #188 closed

[2019-07-26 08:03] justaugustus commented on #192
Closed via #250, #253. Thanks @johnharris85!

/assign @johnharris85
/close
/remove-lifecycle stale
/milestone v1alpha1
/priority important-soon
/kind bug

[2019-07-26 08:03] #192 closed

[2019-08-11 07:13] #169 closed

[2019-08-12 22:49] ericzhang08 commented on #232
/assign

[2019-08-12 22:49] ericzhang08 commented on #232
/lifecycle active

[2019-08-12 23:05] justaugustus commented on #232
Hi @ericzhang08 -- this work is already planned between @vincepri and myself.
/unassign @ericzhang08
/assign @justaugustus @vincepri

[2019-08-15 00:11] CecileRobertMichon opened #259 "error getting kubeconfig: failed to get client config for cluster: invalid configuration: no configuration has been provided"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Building from master following the steps in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/development.md

Results in:

[code]

Investigating...

**Environment:**

- cluster-api-provider-azure version: master (c79b9182ee425cf2d814e72339fa8f22ce1d9387)
- K

[2019-08-17 21:04] #129 closed

[2019-08-21 13:34] justaugustus commented on #148
/reopen
/remove-lifecycle rotten

[2019-08-21 13:35] justaugustus commented on #259
@CecileRobertMichon -- are you still having issues with this?

[2019-08-21 17:15] CecileRobertMichon commented on #259
@justaugustus yes, I just retried this morning from a freshly rebased master branch and still getting the same error...

[2019-08-22 22:16] CecileRobertMichon opened #262 "Create a branch for new v1alpha1 work"
https://github.com/kubernetes-sigs/cluster-api/blob/a3c9afc487b107b76d2ecf8a90ae3ff1c942b9c2/docs/developer/update-v1alpha1-provider-to-v1alpha2-infra-provider.md#create-a-branch-for-new-v1alpha1-work

@justaugustus are you able to do this? I don't have permissions to create a branch in the repo.

[2019-08-30 21:55] justaugustus commented on #262
/assign
@CecileRobertMichon -- yep. Will execute on what we talked about next week.

[2019-08-31 18:25] justaugustus commented on #262
/milestone v0.3
/priority critical-urgent
/kind feature

[2019-09-15 21:24] #189 closed

[2019-09-17 17:23] awesomenix commented on #142
/remove-lifecycle stale

[2019-09-18 23:11] #259 closed

[2019-09-21 03:13] justaugustus commented on #113
/assign
@juan-lee and I will be working on the `MachinePool` + `AzureMachinePool` (VMSS) proposal(s).

[2019-09-21 03:13] justaugustus commented on #95
the tokens package is removed in v1alpha2, so this is no longer required.
/close

[2019-09-21 03:13] #95 closed

[2019-09-21 03:16] justaugustus commented on #248
/assign @CecileRobertMichon
Closed via #267.
/close

[2019-09-21 03:16] #248 closed

[2019-09-23 08:49] justaugustus commented on #118
/remove-lifecycle stale

[2019-09-26 21:54] vincepri opened #270 "Umbrella: Image build and publishing"
/kind feature

**Describe the solution you'd like**

Tomorrow:
- [ ] Figure out how to move to VHD / code changes @CecileRobertMichon
- [x] Build sample test image using PR in image builder @CecileRobertMichon

Short term:
- [ ] Figure out sponsorship / subscription @devigned
- [ ] Setup publisher in Azure Marketplace @devigned

[2019-09-26 22:23] CecileRobertMichon opened #271 "DOCS"
1) Contribute to capi book
2) first time user guide
3) first time contributor guide
    - including how to build from master, something like: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/275#issuecomment-536118064

[2019-09-26 22:23] justaugustus opened #272 "[v1alpha2] Cloud provider configuration"
/kind feature

**Describe the solution you'd like**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

/assign

[2019-09-26 22:24] CecileRobertMichon opened #273 "Unit tests"
Improve unit test coverage

[2019-09-26 22:26] CecileRobertMichon opened #274 "v1alpha2 E2E tests"
To get started, look at https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1122

Also talk to @vincepri about participating in v1alpha3 testing framework proposal.

[2019-09-27 22:18] fejta opened #276 "sig/azure label does not exist in this repo"
If you want it to, labels are controlled by https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml

[code]

[2019-09-27 22:19] fejta commented on #276
AKA this OWNERS file is invalid: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/60b7c6058550ae694935fb03103460a2efa4e332/OWNERS#L10

[2019-09-28 00:24] CecileRobertMichon commented on #270
VHD vs. managed image? https://github.com/MicrosoftDocs/azure-docs/issues/37716#issuecomment-536132262

[2019-09-28 00:26] CecileRobertMichon commented on #270
WIP image-builder PR with pipeline to build a VHD with Packer (see previous commit for managed image in a shared image gallery): https://github.com/kubernetes-sigs/image-builder/pull/49/files

[2019-09-28 00:38] CecileRobertMichon commented on #270
And here's an in-progress branch I started with some of the code changes required to build using a managed image in a share image gallery instead of a published image: https://github.com/kubernetes-sigs/cluster-api-provider-azure/compare/v1alpha2...CecileRobertMichon:valpha2-image-ref

(disclaimer: I have not tested it)

[2019-10-02 13:07] justaugustus commented on #204
/remove-lifecycle rotten

[2019-10-02 13:08] justaugustus commented on #200
/reopen
/remove-lifecycle rotten

[2019-10-02 13:08] justaugustus commented on #198
/reopen
/remove-lifecycle rotten

[2019-10-02 13:10] justaugustus commented on #196
/reopen
/remove-lifecycle rotten

[2019-10-02 13:10] justaugustus commented on #194
/reopen
/remove-lifecycle rotten

[2019-10-02 13:11] justaugustus commented on #194
/assign

[2019-10-02 13:11] justaugustus commented on #191
/reopen
/remove-lifecycle rotten

[2019-10-02 13:11] justaugustus commented on #190
/reopen
/remove-lifecycle rotten

[2019-10-02 13:12] justaugustus commented on #189
This is complete with the move to v1alpha2.
Logs emitted are tagged w/ the context of the cluster or machine.

[2019-10-02 13:12] justaugustus commented on #178
/reopen
/remove-lifecycle rotten

[2019-10-02 13:13] justaugustus commented on #165
/reopen
/remove-lifecycle rotten

[2019-10-02 13:14] justaugustus commented on #153
/reopen
/remove-lifecycle rotten

[2019-10-02 13:15] justaugustus commented on #140
/reopen
/remove-lifecycle rotten

[2019-10-02 13:15] justaugustus commented on #129
No longer required as we've moved to kustomize 3.x in v1alpha2.

[2019-10-02 13:16] justaugustus commented on #110
/reopen
/remove-lifecycle rotten

[2019-10-02 13:17] justaugustus commented on #104
I'm not sure if this is still true, but re-opening to investigate.
/reopen
/remove-lifecycle rotten
/remove-priority critical-urgent

[2019-10-02 13:18] justaugustus commented on #104
/remove-priority important-soon
/priority critical-urgent

[2019-10-02 13:20] justaugustus commented on #232
Closed via https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/281.
/close

[2019-10-02 13:21] #232 closed

[2019-10-02 13:22] justaugustus commented on #234
Closed via #281.
/close

[2019-10-02 13:22] #234 closed

[2019-10-02 13:24] justaugustus commented on #235
Closed via #281.
/close
/assign @CecileRobertMichon @vincepri

[2019-10-02 13:24] #235 closed

[2019-10-02 13:24] justaugustus commented on #262
`release-0.2` was created a while ago for this purpose, so we're good to close this.
/close

[2019-10-02 13:24] #262 closed

[2019-10-02 13:26] justaugustus commented on #233
Closed via #281.
/close
/assign @CecileRobertMichon @vincepri

[2019-10-02 13:26] #233 closed

[2019-10-02 13:30] justaugustus commented on #236
This is complete with the carryover in #281, right?
/close
/assign @CecileRobertMichon @vincepri

[2019-10-02 13:30] justaugustus commented on #236
/reopen

[2019-10-02 13:43] justaugustus commented on #197
Closing in favor of https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/270.
/close

[2019-10-02 13:43] #197 closed

[2019-10-02 13:47] justaugustus commented on #193
/remove-lifecycle stale

[2019-10-02 13:48] justaugustus commented on #193
/priority important-longterm

[2019-10-02 13:48] justaugustus commented on #183
/remove-lifecycle stale
/priority important-longterm
/remove-priority important-soon

[2019-10-02 13:51] justaugustus commented on #160
Closed via #281.
/close

[2019-10-02 13:51] #160 closed

[2019-10-02 13:53] justaugustus commented on #160
(Bootstrap moved to CABPK `preKubeadmCommands`)

[2019-10-02 13:53] justaugustus commented on #112
Closed via #281.
/close

[2019-10-02 13:53] #112 closed

[2019-10-02 13:55] justaugustus commented on #11
This is good to close as we've been wired up to Prow for some time now.
/assign
/close

[2019-10-02 13:55] #11 closed

[2019-10-02 13:56] justaugustus commented on #12
/remove-lifecycle stale

[2019-10-02 14:14] justaugustus opened #283 "Prow should only run v1alpha2 presubmits"
/kind feature

- [x] (https://github.com/kubernetes/test-infra/pull/14533) Enable v1alpha2 presubmits
- [x] (https://github.com/kubernetes/test-infra/pull/14559) ~Restrict v1alpha1 presubmits to `release-0.2` branch~ Remove v1alpha1 presubmits
- [x] (https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/287) Rename v1alpha1 presubmits to get tests passing (h/t @vincepri)

/assign
/lif

[2019-10-02 14:17] justaugustus opened #284 "capz should be a SIG Cluster Lifecycle subproject"
/kind cleanup

capz was initially created as a SIG Azure subproject.
Now that SIG Azure is a subproject of SIG Cloud Provider, it makes sense to reconcile any repo permissions, documentation, and OWNERS files to represent this is now a SIG Cluster Lifecyle subproject.

- [x] (https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/285) Update OWNERS to include SIG Cluster Lifecycle
- [x

[2019-10-02 15:02] justaugustus commented on #276
@fejta -- Thanks for filing this! This is an artifact of capz originally being migrated into the project as a subproject of SIG Azure (which is now defunct).

I have [an issue to tackle the administrivia of migrating it to SIG Cluster Lifecycle](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/284) and the first piece to fix the labels on `master` is here: https://github.com/ku

[2019-10-02 15:06] justaugustus commented on #118
This is complete, based on the instructions for image pushing: https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md
Push job status can be viewed here: https://testgrid.k8s.io/sig-cluster-lifecycle-image-pushes#post-cluster-api-provider-azure-push-images

/close

[2019-10-02 15:07] #118 closed

[2019-10-02 20:38] justaugustus commented on #283
Closed via https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/287.
/close

[2019-10-02 20:38] #283 closed

[2019-10-03 19:49] justaugustus commented on #284
Complete with https://github.com/kubernetes/community/pull/4142 merged.
/close

[2019-10-03 19:49] #284 closed

[2019-10-07 18:08] juan-lee opened #292 "Enable Validation, Conversion, and Defaulting Webhooks"
/kind feature

**Description**
Move validation, conversion, and defaulting to webhooks. Webhooks enable apply time validation (versus runtime) as well as defaulting and conversion to happen before types are seen by reconcilers.

https://book.kubebuilder.io/cronjob-tutorial/webhook-implementation.html
https://book.kubebuilder.io/multiversion-tutorial/conversion.html

https://github.com/kubernetes-s

[2019-10-07 18:13] juan-lee opened #293 "Make Image Parameters More User Friendly"
/kind feature

**Describe the solution you'd like**
The various ways a user can specify an image is confusing due to the rules for knowing what parameters are required.

Consider using a claim like approach or using RuntimeExtension for the image field. That way, each of the image options can be expressed as a concrete type where it is obvious which fields are required.

https://github.com/kuberne

[2019-10-07 23:11] CecileRobertMichon opened #294 "AZs should not get enabled by default if the user selected Azure region does not support them"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Deployed a cluster in southcentralus without specifying an `availabilityZone` property.
Got error:
[code]

**What did you expect to happen:**
I would expect the "default" control plane config to work in every region without requiring the user to have knowledge about which Azure features

[2019-10-07 23:11] CecileRobertMichon commented on #294
@justaugustus

[2019-10-07 23:24] justaugustus commented on #294
/assign
/priority critical-urgent

[2019-10-08 01:49] justaugustus commented on #294
Opened this to track on the Azure side: https://github.com/Azure/azure-sdk-for-go/issues/5968

[2019-10-08 04:09] justaugustus commented on #294
I've added a workaround in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/295.
Once it merges, we should close this but continue to watch the upstream issue.

[2019-10-08 05:03] justaugustus commented on #294
Validated https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/295 works with `southcentralus`, our offending location.

[2019-10-08 13:29] #294 closed

[2019-10-08 21:34] CecileRobertMichon opened #298 "`make create-cluster` : pivot fails"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Use `make create-cluster` to create a cluster.
Output:
[code]

`F1008 13:50:05.013380   41897 create_cluster.go:61] unable to pivot cluster api stack to target cluster: unable to apply cluster api controllers: couldn't kubectl apply, output: `

**What did you expect to happen:**

**Anyth

[2019-10-09 00:58] justaugustus commented on #194
Meeting time set and updated in k/community: https://github.com/kubernetes/community/pull/4152
Agenda is here: http://bit.ly/k8s-capz-agenda

Join the [SIG Cluster Lifecycle Google Group](https://groups.google.com/forum/#!forum/kubernetes-sig-cluster-lifecycle) for access to the agenda and for a calendar invite.

/close

[2019-10-09 00:58] #194 closed

[2019-10-09 06:10] Drewm3 commented on #294
@CecileRobertMichon  and @justaugustus, I have tracked down the API based workaround that can be applied here. The recommendation is to use the Get Providers API that is documented here: https://docs.microsoft.com/en-us/rest/api/resources/providers/get.

This will show the zone for each region in which the specific provider, Microsoft.Compute in this case, is mapped. If there are no mappings such

[2019-10-09 06:11] justaugustus commented on #271
/assign
/priority important-soon
/kind documentation

[2019-10-10 00:27] justaugustus commented on #294
@Drewm3 -- I'll take a look and let you know. Thanks for investigating! :)

[2019-10-10 20:43] justaugustus commented on #270
/assign @CecileRobertMichon
/priority important-soon

[2019-10-10 21:18] justaugustus commented on #198
Review this issue on release notes: https://github.com/kubernetes-sigs/cluster-api/issues/1491

[2019-10-10 21:30] juan-lee commented on #110
Have we considered implementing our services as CRDs? @justaugustus

[2019-10-10 21:36] juan-lee commented on #193
@justaugustus I thought AWS needs tags because they don't have concept of resource groups? Do we need this?

[2019-10-11 21:08] CecileRobertMichon commented on #274
/help
/priority important-soon

[2019-10-11 21:08] CecileRobertMichon commented on #273
/help
/priority important-soon

[2019-10-14 16:47] miknoj commented on #274
Hello, I would really like to start contributing and I believe this maybe a good area to start doing so. I have taken the step of trying to spin up a cluster following the developer docs, but they maybe out date. I also tried to followed the steps highlighted in this comment https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/275#issuecomment-536118064 but I maybe missing some depen

[2019-10-14 16:54] CecileRobertMichon commented on #274
Hi @miknoj! Would love to help you get started on contributing. Apologies for the lack of/outdated docs, the repo is still in the middle of the v1alpha2 refresh and [docs](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/271) are in progress.

I'd encourage you to join the k8s Slack [cluster-api-azure channel](https://kubernetes.slack.com/messages/CEX9HENG7) if you're not alrea

[2019-10-14 17:19] CecileRobertMichon commented on #293
/help

[2019-10-14 22:33] CecileRobertMichon commented on #298
Got two successes in a row with `make create-cluster-management`, will update if I'm able to repro again.

[2019-10-14 22:35] nwoodmsft commented on #298
Cecile mentioned that I should add some info here on another issue I am experiencing with "make create-cluster":

I pulled the latest master (at commit: c373acd0911cda1ebabc42e806c2e545981d7c7f) and I’ve been trying to deploy a cluster to my Azure Visual Studio Enterprise subscription. I’ve had success when I use “_make create-cluster-management_” and I see that brings up a KIND management cluster

[2019-10-14 22:59] CecileRobertMichon commented on #298
@nwoodmsft did you follow steps similar to these before running `make create-cluster`?

[code]

[2019-10-15 17:01] CecileRobertMichon opened #300 "Add "get latest image for this k8s version" logic"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We need to add logic to do:
    - if an image ID is provided, use that image
    - else, use the default image for that Kubernetes version (i.e. latest version for that SKU)
For reference, this is what capa does https://sourcegraph.com/github.com/kubernetes-sigs/cluster-api-provider-aw

[2019-10-15 17:01] CecileRobertMichon commented on #300
/assign

[2019-10-15 17:44] CecileRobertMichon opened #301 "Add v1alpha3 API types"
We need to create the v1alpha3 API version to allow for breaking API changes in the next minor version.

Copy types from api/v1alpha2.
Rewrite imports.
Set the storage version to v1alpha3 types.
Make sure the generated CRDs contain both v1alpha2 and 3.

[2019-10-16 18:45] justaugustus commented on #301
/priority important-longterm
/milestone next
/kind feature

[2019-10-16 20:42] miknoj commented on #274
Hey @CecileRobertMichon I was able to successfully get a build to complete and have reviewed kubernetes-sigs/cluster-api-provider-aws#1122. I believe I'm good to go and give this a shot. I will ask questions on the slack if any.
/assign

[2019-10-17 23:17] CecileRobertMichon opened #307 "Enable accelerated networking on VM sizes that support it"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-vm-instances

For VMs, enable using the `EnableAcceleratedNetworking` property of [network interfaces](https://sourcegraph.com/github.com/Azure/azure-sdk-for-go/-/blob/services/network

[2019-10-18 16:59] #298 closed

[2019-10-19 20:45] Tranhaia commented on #307
[takeout-20190908T235113Z-001.zip](https://github.com/kubernetes-sigs/cluster-api-provider-azure/files/3747169/takeout-20190908T235113Z-001.zip)
Up loang hệ thống quản lý

[2019-10-19 22:57] khunpanpotter3 commented on #307
goodjob ?

<a href="http://nigcompany.com/2019/08/joker-slot-%e0%b9%80%e0%b8%84%e0%b8%a3%e0%b8%94%e0%b8%b4%e0%b8%95%e0%b8%9f%e0%b8%a3%e0%b8%b5/">Joker</a>

<a href="https://footballmoment.com///">ข่าวฟุตบอล</a>

[2019-10-20 01:55] mallensgod commented on #307
Did you get my comments?

[2019-10-20 01:58] mallensgod commented on #307
Allensgod Art & Illustrations LLC/drts1964mil@gmail.com/charlayiyi67@gmail.com/allensgod51@gmail.com/allensgod95. Period the 95 is our usernames. Google fubar-ed it all.

[2019-10-20 03:48] mallensgod commented on #307
What exactly is a repository?

[2019-10-20 03:57] mallensgod commented on #307
Don't waste my time, It's very pressious.

[2019-10-20 05:35] kalit2 commented on #307
What is the "key"?

[2019-10-20 05:51] keksdutcheks commented on #271
### **_-----BEGIN PGP SIGNATURE-----

iQIzBAABCAAdFiEEhuZ5L8J7/UeIYMEQkfOzObmgKj0FAlzZW+sACgkQkfOzObmg
Kj0kxQ/8DDxOeR7BLUOk5Q/qd95LQltuEXxHsc5HWWpwIE/HLE3mBcdvPrrkb6GX
gRH1HSD5baT9bsxf0F6O4QJhnsW7shepgPfJgPvuUciz4tkAEYwI7aBI+61x6Uby
jdbV6bzlQpnZsyqfw/Q2ra4q82yzqIxx8V0FGkbW6VRLTXDCUPrny5czS7BJ7fdB
JciSFDG3PcXK7Q+dCpGvHm15aGgQZqaKOpJPKWVmaZBDy6V4Yo0x4uchPmSCuv2T
qjP0+iPYRCXsRK01UHxh6b7JIwV2HpQiJVLpT

[2019-10-22 21:18] rbitia opened #310 "Windows proposal"
We will write a proposal for how to support windows nodes.

#153
cc. @PatrickLang @marosset @kalyanaj

[2019-10-22 21:25] CecileRobertMichon commented on #113
Link to the `MachinePool` proposal: https://docs.google.com/document/d/17oyJsUYWq75by5xIMT3KyEHm0Ln__DNZp9b8AK0jszg/edit

[2019-10-22 21:34] rbitia opened #311 "Add tracing and metrics - Open Telemetry"
/kind feature
Add tracing and metrics with Open Telemetry so CAPZ is observable.
Logging cluster provisioning metrics which will eventually export to Azure monitor.

cc. @devigned

[2019-10-22 21:43] rbitia opened #312 "Use azure managed identities to authenticate"
/kind feature

Move from using service principals to azure managed identities to authenticate.
 https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview

**More detail coming**

[2019-10-22 21:48] rbitia opened #313 "Reduce the amount of cluster create time"
/kind feature

CAPZ currently takes ~15 minutes to provision 3 control planes - due to them spinning up serially. It would be great to get cluster creation time lower. :)

[2019-10-22 21:50] rbitia opened #314 "BYO Azure VNet"
/kind feature

A customer provides their own Azure VNet resource id, and CAPZ doesn't provision it's own VNet. Instead it uses the already created Azure VNet.

[2019-10-22 22:21] CecileRobertMichon commented on #300
Inversely, we should consider pinning to a default image version per k8s version.

[2019-10-22 22:22] CecileRobertMichon commented on #270
fixed in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/302

[2019-10-22 22:22] CecileRobertMichon commented on #270
/close

[2019-10-22 22:22] #270 closed

[2019-10-24 20:46] justaugustus commented on #314
Closed as duplicate of #178.
/close

[2019-10-24 20:47] justaugustus commented on #313
/priority important-longterm

[2019-10-24 20:50] justaugustus commented on #310
Closed as duplicate of #153.
/close

[2019-10-24 20:50] #310 closed

[2019-10-24 20:53] justaugustus commented on #153
Issue needs to updated to outline proposal for Windows support _prior_ to implementation.
cc. @PatrickLang @marosset @ksubrmnn
/assign @marosset @CecileRobertMichon

[2019-10-24 20:55] justaugustus commented on #153
/assign @ksubrmnn

[2019-10-24 20:56] justaugustus commented on #153
@ksubrmnn to coordinate separate meeting for Windows proposal discussion.

[2019-10-24 20:57] justaugustus commented on #313
@juan-lee has ideas about this. Will drop some details once he wraps the MachinePool proposal.

[2019-10-24 21:01] justaugustus commented on #312
/milestone v0.3
/priority important-soon
/help

[2019-10-24 21:03] justaugustus commented on #312
Needs to be scoped.
@juan-lee suggesting User Assigned MSI instead of System-assigned, due to ease of mgmt for the Kubernetes use case.

We need to document this recommendation, before coding it up.

[2019-10-24 21:04] jadarsie commented on #312
Azure Stack does not have managed identities, I would selfishly suggest not to remove support for SPNs.

[2019-10-24 21:09] justaugustus commented on #311
I think this should be a wider Cluster API discussion as opposed to a capz one.
Thoughts @vincepri @ncdc @detiber?

/priority important-longterm
/milestone next

[2019-10-24 21:11] ncdc commented on #311
We have a CAPI issue: https://github.com/kubernetes-sigs/cluster-api/issues/1477. Maybe rally discussion there?

[2019-10-24 21:15] justaugustus commented on #307
/milestone v0.3

Ping @devigned to validate API responses for accelerated networking e.g., https://github.com/Azure/azure-sdk-for-go/issues/5968

[2019-10-24 21:18] justaugustus commented on #307
/assign @soggiest

[2019-10-24 21:19] devigned commented on #307
Might be helpful to see how this is approached in aks-engine: https://github.com/Azure/aks-engine/issues/1894

[2019-10-24 21:22] justaugustus commented on #300
/priority important-soon
/milestone v0.3

[2019-10-24 21:24] vincepri commented on #311
There is lots of context in the CAPI issue that @ncdc linked. If folks here want to start on implementing metrics now and bring back the findings, that sounds good to me.

[2019-10-24 21:25] justaugustus commented on #314
jk, reopening.
/assign @CecileRobertMichon
/reopen
/milestone next
/priority important-soon

[2019-10-29 22:51] CecileRobertMichon commented on #193
FYI I am taking a stab at this because it overlaps with BYO vnet.

[2019-10-31 00:06] CecileRobertMichon commented on #193
/assign

[2019-11-01 17:29] justaugustus commented on #178
Cecile already has some v1alpha2 work in progress related to this (vnets + tagging), so reassigning to her.
/unassign
/assign @CecileRobertMichon

[2019-11-02 04:47] #193 closed

[2019-11-05 17:32] #178 closed

[2019-11-06 00:58] CecileRobertMichon opened #318 "Add IPv6 support"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Allow creating IPv6 clusters in Azure with cluster-api.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `

[2019-11-07 05:33] alexeldeib commented on #312
Some thoughts:

- It's easy to figure out whether the user has provided any valid authentication credentials, or if MSI is available.
- We really only need two types of auth: msi, and client app/secret.
- @jadarsie it looks like the [recommended way](https://github.com/Azure/go-autorest/blob/3492b2aff5036c67228ab3c7dba3577c871db200/autorest/azure/environments.go#L212-L221) of picking up the stack

[2019-11-07 21:49] justaugustus commented on #318
@aojea -- do you have any interest in working on this one?

/help
/priority important-longterm

ref: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1322

[2019-11-07 21:51] justaugustus commented on #165
/assign @juan-lee

[2019-11-07 22:16] CecileRobertMichon commented on #274
@miknoj any progress on this?

[2019-11-07 23:31] CecileRobertMichon opened #324 "[Flake] from server for: "STDIN": etcdserver: request timed out"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Some deployments fail with:

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
-

[2019-11-07 23:31] CecileRobertMichon commented on #324
cc @sozercan

[2019-11-07 23:35] CecileRobertMichon opened #325 "[Flake] x509: certificate signed by unknown authority"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Seeing some deployments fail with:

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl versio

[2019-11-07 23:36] CecileRobertMichon commented on #325
cc @devigned

[2019-11-07 23:45] devigned commented on #325
Did you run into this again or is this a marker for the possible issue?

[2019-11-07 23:45] CecileRobertMichon commented on #325
I just ran into it

[2019-11-07 23:56] sozercan commented on #324
Investigating, verified that its not due to NSG rules from cleanup tool.

[2019-11-08 07:55] aojea commented on #318
yeah, why not ;) ?

I have to finish the aws one first, will let you know once I have a bit more of free time

[2019-11-11 17:24] CecileRobertMichon commented on #274
/unassign
/assign @jadarsie

Javier is interested in helping out with this, re-assigning to him.

[2019-11-11 17:44] miknoj commented on #274
Hey @CecileRobertMichon, apologies for dropping the ball on this one. Got quite a bit busy these past few weeks. I will go ahead and unassign myself.
/unassign

[2019-11-11 17:47] CecileRobertMichon commented on #274
No worries @miknoj! Feel free to pick up another issue whenever you have time.

[2019-11-11 22:24] jadarsie commented on #274
WIP branch here, in case someone wants to peek
https://github.com/jadarsie/cluster-api-provider-azure/commits/e2e

[2019-11-12 19:52] jadarsie commented on #312
Sorry @alexeldeib, I missed this.

Correct, that's how AKSe works today

Not really, limited and it does not include MSI.

In Stack's case, we also need to set `AZURE_AD_RESOURCE`

I think `AZURE_CLOUD_ENVIRONMENT` [should be](https://github.com/Azure/go-autorest/blob/master/autorest/azure/auth/auth.go#L50) `AZURE_ENVIRONMENT`

[2019-11-14 14:51] #300 closed

[2019-11-19 02:11] nilo19 opened #330 "How to specify custom image by ID when creating machine"
The comment in code says `If specifying an image by ID, only the ID field needs to be set.`

But when I set image.ID only in yaml it complains that

[code]

[2019-11-20 02:50] nilo19 commented on #330
@justaugustus  do you know what's the config should be if I want to use the custom image by ID?

[2019-11-21 15:20] devigned commented on #330
@nilo19 what version of the provider components are you using? For example:
- us.gcr.io/k8s-artifacts-prod/capi-kubeadm/cluster-api-kubeadm-controller:v0.1.5
- us.gcr.io/k8s-artifacts-prod/cluster-api/cluster-api-controller:v0.2.7
- gcr.io/k8s-staging-cluster-api-azure/cluster-api-azure-controller:latest

With the versions above, I was able to create a machine deployment with an AzureMachineTempla

[2019-11-22 01:09] nilo19 commented on #330
kubeadm: v0.1.5
capz-controller: v0.2.7
capz-controller: (master) make release-manifests && kubectl apply -f infrastructure-components.yaml

[2019-11-22 01:11] nilo19 commented on #330
[code]

[2019-11-22 16:56] richardcase commented on #293
I look at this

[2019-11-24 13:42] richardcase commented on #293
/assign @richardcase

[2019-11-25 01:27] nilo19 commented on #330
I follow the step in https://cluster-api.sigs.k8s.io/user/quick-start.html and generate the `infrastructure-components.yaml ` by `make release-manifests` in master. Tell me if something goes wrong.

[2019-11-27 15:54] richardcase commented on #293
@juan-lee - looking at your comments [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/291/files), are you thinking that there will be 3 new resource kinds?

For example, `AzureImageMarketplace`, `AzureImageSharedGallery`, `AzureImageWithID`. Something like this:

[code]
and then `Image`  in `VM` becomes something like:
[code]
(or TypedLocalObjectReference if the same names

[2019-12-02 16:59] CecileRobertMichon commented on #293
related to #330

[2019-12-02 17:05] CecileRobertMichon commented on #293
@richardcase thanks for taking a look at this!  Your proposal sounds good to me, I like the idea of using types for each way of specifying an image. Hopefully this will allow us to build stronger tests, documentation and input validation for user provided images.

[2019-12-02 17:16] devigned commented on #293
+1 on the thx to @richardcase.

I prefer the consistency and specificity of second approach where the Image will be treated like a PVC DataSource. The different types of image structs will provide strong typing with validation / documentation to help guide a user down a path of success.

[2019-12-02 17:24] richardcase commented on #293
Thanks @CecileRobertMichon & @devigned

I started on the different types / ObjectReference approach like PVC DataSource, so i'm glad you both thought that was the better way. Will get it complete asap.

[2019-12-04 02:45] nader-ziada commented on #301
/assign

[2019-12-04 16:08] richardcase commented on #293
@devigned @CecileRobertMichon  - could i get your opinion on something? If we go down the different image structs/kind and use PVC DataSource pattern we'll end up with something like this:

[code]

Do you think this is ok? Or is this over complicating it?

If it is ok, then i have some thoughts on when we check that we have a valid image and the `status`  contents.

[2019-12-04 17:21] devigned commented on #293
I don't think it's too complicated. In fact, I think it is easier to grok than the existing solution.

What are you thinking about status. Just check if the market place image exists? If so, this PR is doing something similar in aks-engine: https://github.com/Azure/aks-engine/pull/2342.

[2019-12-04 17:38] serbrech commented on #293
much better than a generic struct for every type of image.
I like this approach, anytime we have a common concept with multiple representations, I think it's clearer to have a reference to a kind, rather than cramming it into a half-fitting structure.
It also allows for cleaner extensibility both in the API and in code. 👍

[2019-12-04 17:44] richardcase commented on #293
Great, thanks. I have started down this line but i thought i'd better get another opinion before i got too far.

Yeah basically just check the image exists and update the `phase` in the status.  Thanks for link, that code will be helpful!

Not sure if this is a crazy idea but should the images have a reference back to the machines as well?

[2019-12-04 17:49] devigned commented on #293
Hmm... might be early optimization. What do you think about leaving it out for now. If needed in the future, it would be an additive change.

[2019-12-04 17:58] richardcase commented on #293
Sounds like a plan to me.

[2019-12-05 23:03] CecileRobertMichon opened #336 "Image versioning / SKU naming"
Currently, the Azure Marketplace images published for capz follow this naming:

[code]

Then, the code fetches the `latest` version for the SKU matching the desired k8s version:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/328
https://github.com/Azure/cluster-api-provider-azure/blob/master/cloud/defaults.go#L152

The issue with this is that there is no way to distinguish betw

[2019-12-05 23:10] CecileRobertMichon commented on #336
cc @justaugustus @devigned @alexeldeib @serbrech

[2019-12-06 16:15] richardcase opened #337 "Support for AKS"
/kind feature

**Describe the solution you'd like**
I'd like to see the ability to create/manage AKS clusters using Cluster API.

**Anything else you would like to add:**

**This comes up a lot in discussions on capi with customers**. There was a mention in the capz call on 2019-12-05 and it was thought this type of functionality would be included in the current Azure provider. Be good to discuss

[2019-12-06 16:32] richardcase commented on #293
/lifecycle active

[2019-12-06 21:46] nader-ziada opened #338 "some issues with getting-started.md"
/kind bug

**What steps did you take and what happened:**

Was trying to follow the steps in the `getting-started.md` and got the following issues:
 - In the `Install release binaries` section, there is a link to `release of clusterctl` but it links to the releases of the azure provider and doesn't explain how to get the clusterctl
 - In the `Customizing the cluster deployment` section,
    - `./a

[2019-12-06 22:14] nader-ziada commented on #271
some issues in getting started page https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/338

[2019-12-06 22:19] justaugustus commented on #338
/assign

[2019-12-07 02:26] devigned commented on #336
I think adding the full version of k8s to image SKU would make sense. So, we'd have `k8s-1dotXXdotXX` (15 chars) + OS type/distro (35 chars max?).

I'm not so sure about CNI. Do you think it's really needed?

[2019-12-11 06:08] juan-lee commented on #337
@richardcase can you elaborate on what customer expectations are around capi and AKS?

[2019-12-13 00:48] CecileRobertMichon commented on #336
I've decided to go with @devigned's suggestion so the new SKU naming format will be:

k8s-1dotXXdotXX-OS-distro

eg. `k8s-1dot16dot4-ubuntu-1804`

We can always change this later, none of it is set in stone, but need to get the images out there for the release.

[2019-12-13 22:31] #336 closed

[2019-12-16 19:19] jadarsie opened #344 "e2e tests tracking issue"
/kind feature

Listing follow up tasks to improve e2e tests. See initial work here #339

- Use CAPI's e2e framework instead of duplicating the module code [#345]
- Add/update e2e so it deploys multiple CP Machines [#350]
- Add/update e2e so it deploys addons [#351]
- Add/update e2e so it deploy multiple MachineDeployments
- Add/update e2e so it scales up MachineDeployments
- Add/update e2e so it s

[2019-12-18 00:03] jadarsie opened #345 "[e2e] Consume CAPI's e2e framework"
**Describe the solution you'd like**

Consume CAPI's e2e framework and remove copied package `test/e2e/framework` from CAPZ's code base.

https://github.com/kubernetes-sigs/cluster-api/tree/master/test/framework

**Anything else you would like to add:**

Challenges at the time were:

1. Module has a redirect to a local file system directory
2. References to v1alpha3 types

Related work: #339

[2019-12-18 00:08] jadarsie opened #346 "[e2e] Parameterize e2e tests"
**Describe the solution you'd like**

Let's removed hard-coded values from the e2e test suite. Potential candidates are: location, vmSize, namespace, k8sVersion, imageOffer, imagePublisher, imageSKU, imageVersion.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/1567581fffdc2daa272aac227b5b6c6a3961e191/test/e2e/azure_suite_test.go#L65-L73

[2019-12-18 00:17] jadarsie opened #347 "[e2e] e2e and example load CAPI/CABPK versions from the same location"
**Describe the solution you'd like**

Ensure that the examples gen script and the e2e test suite always deploy the same CAPI/CABPK versions.

Related to #346

[2019-12-18 00:25] jadarsie opened #348 "[e2e] Ensure all Azure resources are deleted"
**Describe the solution you'd like**

Make sure `scripts/ci-e2e.sh` cleans after itself and all Azure resources created by the e2e are deleted.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/scripts/ci-e2e.sh#L39-L44

**Anything else you would like to add:**

This may require loading `AZURE_CREDENTIALS` from `ci-e2e.sh` instead of test suite itself.

https://github.com/

[2019-12-18 00:31] jadarsie opened #349 "[e2e] Load SSH public key from file"
**Describe the solution you'd like**

Read SSH public key from here: `AZURE_SSH_PUBLIC_KEY_FILE` instead of generating a new one.

**Anything else you would like to add:**

Devs can also run the e2e suite locally

[2019-12-18 00:37] jadarsie opened #350 "[e2e] Deploys multiple controlplane Machines"
**Describe the solution you'd like**

Update existing e2e test (or create a new one?) that deploys 3 controlplane machines

**Anything else you would like to add:**

Try to leverage CAPI's e2e framework if it happens to have a similar one:
https://github.com/kubernetes-sigs/cluster-api/tree/master/test/framework

[2019-12-18 00:40] jadarsie opened #351 "[e2e] Test suite deploys addons"
**Describe the solution you'd like**

Update e2e tests so they deploys addons.

**Anything else you would like to add:**

Try to leverage CAPI's e2e framework if it happens to have a similar one:
https://github.com/kubernetes-sigs/cluster-api/tree/master/test/framework

[2019-12-18 18:17] rbitia commented on #338
Hey what's the status on doc fixes? I'm finding inconsistencies too and I'd love to make a PR

[2019-12-18 19:18] CecileRobertMichon opened #352 "Add Tilt Azure provider"
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/developer/tilt.md
https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/276

/help

[2019-12-19 14:05] nader-ziada commented on #352
/assign

[2019-12-23 17:29] #352 closed

[2020-01-07 00:00] CecileRobertMichon opened #355 "Remove kind get kubeconfig-path references in makefile and getting-started scripts"
`kind get kubeconfig-path` is deprecated.

See https://github.com/kubernetes-sigs/kind/issues/1060 for details.

[code]

[2020-01-07 00:01] CecileRobertMichon commented on #355
@rbitia do you want to take this one?

[2020-01-07 20:21] nader-ziada commented on #355
This is the similar issue in cluster-api main repo https://github.com/kubernetes-sigs/cluster-api/issues/1796

[2020-01-09 18:11] CecileRobertMichon commented on #355
/help
/good-first-issue

[2020-01-09 18:14] CecileRobertMichon opened #356 "Cluster with NSG in separate RG fails to expose service"
/kind bug

Because of https://github.com/kubernetes-sigs/cloud-provider-azure/issues/281, we are currently unable to specify a `securityGroupResourceGroup` in `azure.json` and the cloud-provider expects the NSG to be in the same RG as the cluster RG. Once the issue above is fixed, we should add `securityGroupResourceGroup` to all `azure.json` examples.

/assign

[2020-01-09 19:44] nader-ziada commented on #355
@CecileRobertMichon should this include bumping the MINIMUM_KIND_VERSION to `0.6`?

[2020-01-09 19:45] CecileRobertMichon commented on #355
@nader-ziada yes

[2020-01-09 19:51] nader-ziada commented on #355
/assign

[2020-01-09 20:00] #314 closed

[2020-01-10 00:01] CecileRobertMichon opened #359 "Add Services unit tests"
This is an easy one because the ground work is already done, just needs iteration :)

Following examples in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/virtualnetworks/virtualnetworks_test.go and https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/virtualmachines/virtualmachines_test.go, we should add a unit test sui

[2020-01-10 00:52] CecileRobertMichon commented on #359
@noamran is going to look into `availabilityzones` and `internalloadbalancers`

[2020-01-10 01:30] vincepri commented on #236
/lifecycle frozen

[2020-01-10 20:05] nader-ziada commented on #359
i'll take the `securitygroups` and `subnets` as a start

[2020-01-10 20:11] asatish commented on #359
I can help with networkinterfaces and publicips

[2020-01-10 21:04] #355 closed

[2020-01-10 21:13] asatish opened #360 "azure cluster delete - CLI context close"
/kind bug

**What steps did you take and what happened:**
Normally kubectl delete -f cluster.yaml should return after basic validation, but in the azurecluster case, until the operation completes, the CLI context is not closed, so that CLI session is hung until operation is completed. This can be in in the order of minutes for a successful completion.

**What did you expect to happen:**
The CLI co

[2020-01-10 21:26] CecileRobertMichon commented on #360
/help

[2020-01-15 19:09] vincepri commented on #360
`kubectl delete -f cluster.yaml --wait=false` solves this issue

[2020-01-15 19:32] CecileRobertMichon commented on #360
Verified that @vincepri's suggestion above does the trick.

/close

[2020-01-15 19:32] #360 closed

[2020-01-18 00:42] CecileRobertMichon commented on #350
/assign

[2020-01-18 00:44] CecileRobertMichon commented on #338
/close

[2020-01-18 00:44] #338 closed

[2020-01-22 15:24] #350 closed

[2020-01-22 20:12] nader-ziada commented on #273
@CecileRobertMichon I think this issue is done

[2020-01-22 20:13] nader-ziada commented on #274
@CecileRobertMichon we can probably close this issue now that there are specific issues about e2e tests, wdyt?

[2020-01-22 20:38] justaugustus commented on #273
/close

[2020-01-22 20:38] #273 closed

[2020-01-22 21:49] CecileRobertMichon commented on #307
keep open

[2020-01-22 21:49] CecileRobertMichon commented on #274
/close

[2020-01-22 21:49] #274 closed

[2020-01-28 01:32] asatish opened #371 "When cluster is stuck in provisioning due to error, cannot delete/force delete azurecluster"
/kind bug

**What steps did you take and what happened:**
 When azureclusters is stuck in provisioning state, there is no way to delete the azurecluster using kubectl. Unless until, I go backdoor and delete the azure resource group and then I have to delete the management cluster to stop azure controller from going in an infinite loop deleting target cluster

For ex, I was using 0.3.0 with older c

[2020-01-28 19:40] CecileRobertMichon commented on #307
@soggiest have you had time to look into this? If not I might give it a shot

[2020-01-29 15:37] richardcase commented on #292
@juan-lee - This would be helpful with #293  to validate the different image kinds. I will try and add this as part of that change,

[2020-01-29 18:34] CecileRobertMichon opened #375 "Add v1alpha2 to v1alpha3 conversion webhooks"
After merging the v1alpha3 types (#335), we need to work on making sure we have conversion webhooks in place to allow for upgrades.

/priority important-soon
/help

[2020-01-30 08:03] richardcase commented on #292
/assign @richardcase

[2020-01-31 09:34] cpanato opened #376 "Upgrade to Go 1.13"
/kind feature

**Describe the solution you'd like**
similar update make in the AWS provider: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1430
Any blockers that make this upgrade not possible?

**Anything else you would like to add:**
I can work on that

[2020-02-03 20:53] CecileRobertMichon commented on #376
@cpanato no blockers, feel free to submit a PR!

/assign @cpanato

[2020-02-04 23:22] CecileRobertMichon commented on #375
/remove-help
/assign

[2020-02-05 08:50] #301 closed

[2020-02-07 11:14] #376 closed

[2020-02-08 22:48] StianOvrevage commented on #337
I'm one of the potential users of capi who kind of expected that to be supported already. We use managed K8s exclusively (AKS). I believe that will be the most common usage-pattern as well going forward across all K8s users.

[2020-02-09 10:08] richardcase opened #384 ""Default" VM image logic does not work"
/kind bug

**What steps did you take and what happened:**
Declare a `AzureMachine` without an image defined. For example:
[code]

**What did you expect to happen:**
This should use a default image when provisioning the VM.

However, there is an error when trying to use the default image:
[code]

We are trying to use a version set to `latest`:

https://github.com/kubernetes-sigs/cluster-api-provide

[2020-02-09 10:10] richardcase commented on #384
@CecileRobertMichon -  I could fix this as part of #293 or would it be better to wait until #334 is merged?

[2020-02-09 18:20] cpanato opened #385 "Documentation: developement doc Mock Section need update"
/kind bug

**What steps did you take and what happened:**
The Section `mock` (https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/development.md#mocks) in the development.md documentation has a link that does not exist and a make command that doesn't exist as well

**What did you expect to happen:**
How to generate the mocks and work with that.

**Anything else you would

[2020-02-09 19:46] richardcase commented on #384
/assign @richardcase

[2020-02-09 19:50] richardcase commented on #384
/lifecycle active

[2020-02-09 19:54] CecileRobertMichon commented on #384
@richardcase this is simply because we haven’t published a 1.16.1 image, try using k8s version 1.16.4 or 1.16.6 instead, 1.16.6 should be the default if you don’t specify a version.

[2020-02-09 20:44] richardcase commented on #384
Ah, will try that and roll back my changes.

[2020-02-10 13:50] richardcase commented on #384
Changing to 1.16.6 worked.....thanks.

[2020-02-10 19:54] cpanato commented on #348
@jadarsie I would like to work on that
The clean up will be done in the ci-e2e.sh script? or part of the test?

how can i "test" that?

[2020-02-10 19:59] cpanato commented on #346
This will be environment variables?
I can take that

@jadarsie

[2020-02-11 21:57] nader-ziada commented on #307
let me know if you need with this issue

[2020-02-12 00:06] soggiest commented on #307
@CecileRobertMichon I haven't had any time to work on this, please go ahead and work on it

[2020-02-13 19:43] justaugustus opened #388 "Grant Ria access to maintain capz project board"
/kind feature

[2020-02-13 19:50] justaugustus commented on #388
- Created a new org-level project board: https://github.com/orgs/kubernetes-sigs/projects/4
- Created a new GitHub team, @kubernetes-sigs/cluster-api-provider-azure-pms, to delegate access: https://github.com/kubernetes/org/pull/1632
- Added the following teams to the board:
  - Admin: @kubernetes-sigs/cluster-api-provider-azure-admins
  - Write: @kubernetes-sigs/cluster-api-provider-azure-maintai

[2020-02-13 19:50] #388 closed

[2020-02-13 22:51] rbitia commented on #271
@CecileRobertMichon Do you think we are good to close this issue?

[2020-02-13 23:00] CecileRobertMichon commented on #271
yes, we can open more specific issues on missing docs from now on.

/close

[2020-02-13 23:00] #271 closed

[2020-02-19 15:48] cpanato commented on #359
@CecileRobertMichon can i try `publicloadbalancers` ?

[2020-02-19 15:59] justaugustus commented on #359
@cpanato -- Go for it! :)

[2020-02-19 17:56] CecileRobertMichon commented on #385
whoops didn't know that existed, we need to remove it since it's outdated thanks for reporting.

For now you can just run `make generate` to generate mocks.

[2020-02-19 17:57] CecileRobertMichon commented on #385
see https://github.com/kubernetes-sigs/cluster-api-provider-azure/commit/9bb84dd15a4fc7d86d2f32f149dfd8dc1c7476fa for reference

[2020-02-19 17:57] CecileRobertMichon commented on #384
/close

[2020-02-19 17:57] #384 closed

[2020-02-19 17:59] CecileRobertMichon opened #392 "Refactor kustomize config/ folder to support multi-tenancy when using webhooks."
Once #391 and #380 merge, we need to refactor the kustomize config/ folder as well.

See https://master.cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#refactor-kustomize-config-folder-to-support-multi-tenancy-when-using-webhooks for instructions.

[2020-02-19 18:12] nader-ziada commented on #392
/assign

[2020-02-19 19:05] CecileRobertMichon commented on #312
keep open

[2020-02-19 19:06] CecileRobertMichon commented on #312
/remove-lifecycle stale

[2020-02-20 10:10] cpanato commented on #359
@asatish are you working in the publicips tests?

[2020-02-20 10:10] cpanato commented on #359
@CecileRobertMichon i will try disks as well

[2020-02-20 15:42] asatish commented on #359
you can take it if you like, since I haven't got to it so far. Thanks..

[2020-02-20 18:08] rbitia commented on #190
We are currently following the CAPI branch releasing strategy.
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/developer/releasing.md

[2020-02-20 18:09] rbitia commented on #190
We also have a doc in our CAPZ repo: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/releasing.md
Closing for now.

/close

[2020-02-20 18:09] #190 closed

[2020-02-20 18:11] rbitia commented on #12
/remove-lifecycle rotten

[2020-02-20 23:17] rbitia commented on #311
@devigned do you have some time to split this issue out into size-able chunks? Feel free to open new issues or list them out here.

[2020-02-20 23:33] devigned commented on #311
Will do.

[2020-02-20 23:33] devigned commented on #311
/assign

[2020-02-21 01:53] CecileRobertMichon opened #397 "Support deploying a cluster using custom k8s build"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As a Kubernetes developer, I want to use capz to test my build of Kubernetes in the Azure environment.

This is a pre-requisite for being able to run Azure testgrid jobs using capz. For reference, the current setup for testing Kubernetes/Kubernetes on Azure is with [AKS Engine](https:/

[2020-02-21 02:06] CecileRobertMichon commented on #330
/close
This was fixed by the 0.3.0 release so the quickstart should now be accurate.

[2020-02-21 02:06] #330 closed

[2020-02-21 02:07] CecileRobertMichon commented on #345
/help

[2020-02-21 02:08] CecileRobertMichon commented on #236
/close

won't do this for v1alpha2, #292 tracks this effort for v1alpha3

[2020-02-21 02:08] #236 closed

[2020-02-21 02:11] CecileRobertMichon commented on #104
/remove-lifecycle rotten

[2020-02-21 02:13] CecileRobertMichon commented on #385
/help
/good-first-issue
/kind docs

[2020-02-21 02:14] CecileRobertMichon commented on #385
/kind documentation

[2020-02-21 17:37] CecileRobertMichon commented on #104
So I think what we need to do here is:
1) Change the default NSG rules so they are more restrictive, we don't want the NSG to ever be open to the whole internet
2) Look into Azure Bastion and maybe implement it as an optional feature.
@jadarsie would this issue be of interest to you?

[2020-02-21 17:49] CecileRobertMichon commented on #307
@mboersma is this something you'd be interested in helping out with?

[2020-02-21 18:10] jadarsie commented on #104
/assign jadarsie

[2020-02-21 18:15] CecileRobertMichon commented on #272
/close

[2020-02-21 18:15] #272 closed

[2020-02-21 18:46] #375 closed

[2020-02-21 19:37] CecileRobertMichon opened #400 "Enable milestone applier on the repo"
https://godoc.org/k8s.io/test-infra/prow/plugins/milestoneapplier

/assign @justaugustus

[2020-02-21 20:11] nader-ziada commented on #204
/assign

[2020-02-22 00:44] #392 closed

[2020-02-22 03:41] awesomenix commented on #153
/remove-lifecycle rotten

[2020-02-22 10:39] cpanato commented on #359
will take care groups

[2020-02-22 16:13] cpanato commented on #359
will take care `routetables`

[2020-02-23 15:23] cpanato commented on #359
will take care `virtualmachineextensions`

[2020-02-23 16:05] cpanato commented on #359
Will check what is missing for `virtualmachines`

[2020-02-23 16:06] cpanato commented on #359
@asatish are you working in the `networkinterfaces` tests?

[2020-02-24 15:58] mboersma commented on #307
@CecileRobertMichon I would love to, with the caveat that I'm not yet familiar with the code. But please consider me assigned and I'll start on it this week.

[2020-02-24 17:34] CecileRobertMichon commented on #307
Awesome, don't hesitate to lean on me as much as needed for onboarding with the code.  Also I recommend starting here https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/development.md.

/assign @mboersma

[2020-02-24 17:39] CecileRobertMichon opened #407 "Add support for Azure Spot VMs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/spot-vms

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
-

[2020-02-24 19:03] CecileRobertMichon commented on #407
https://github.com/openshift/enhancements/pull/199

[2020-02-24 19:37] CecileRobertMichon opened #409 "Re-enable multi control-plane E2E"
3 control plane E2E has been broken since v1alpha3 was introduced and it got temporarily disabled in https://github.com/kubernetes-sigs/cluster-api-provider-azure/commit/28c3bb5997227b60f4c2813b0dcaa0b901cee310 to unblock other PRs. We need to investigate the cause of the failure and re-enable it.

/assign
/assign @nader-ziada

[2020-02-24 20:44] CecileRobertMichon opened #410 "Get clusterctl v2 working with capz"
https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/clusterctl/overview.md

/assign

[2020-02-25 00:29] CecileRobertMichon commented on #12
/assign

[2020-02-26 10:02] devigned opened #416 "Enhancement Proposal: Break out cloud resource reconciliation"
***Goals***
1. Separate concerns for cloud resource reconciliation from transformation of Cluster API custom resource specs to cloud resource specs
2. Create parallel path for reconciliation in CAPZ which uses an Azure cloud resource controller / reconciler with Azure CRDs for the cloud resources required for Cluster-API resources, rather than using direct calls to Azure in CAPZ.

***Non-Goals/Fut

[2020-02-26 15:01] detiber commented on #416
You'll need to PR github.com/kubernetes/test-infra to add the `kind/proposal` label for this repo, similar to the config we have in place for `cluster-api` here: https://github.com/kubernetes/test-infra/blob/2d574ef6978af8e03d0ac08503ad6af03d1830bc/label_sync/labels.yaml#L1282-L1289

[2020-02-26 16:13] detiber commented on #416
It might be valuable for this YTBNC to be a separate project similar to: https://github.com/GoogleCloudPlatform/k8s-config-connector

[2020-02-26 16:51] devigned commented on #416
@detiber, precisely what we have been thinking about.

One worry is governance of such a project. Having CAPZ take a core / critical dependency on a project outside of K8s doesn’t feel right. As a prototype / optional thing, I think it would be ok, but not as a requirement. What do you think? Am I being too cautious?

[2020-02-26 17:05] detiber commented on #416
I think it largely depends...  I don't think the dependency is really much greater than the one we already have on the various cloud provider SDKs.

That said, I do have concerns with Google's k8s-config-connector in particular:
- Not open source and there are no published distribution guidelines/guarantees that would make inclusion in a cluster-api release or downstream user/product consumption s

[2020-02-26 22:41] CecileRobertMichon commented on #416
I agree with that, and +1 on having that component be open source be a requirement for dependency.

cc @justaugustus @awesomenix @nader-ziada @juan-lee @rbitia

[2020-02-26 22:41] devigned commented on #416
/kind proposal

[2020-02-28 16:12] cpanato commented on #345
/assign
will try

[2020-02-28 16:14] cpanato commented on #345
/help cancel

[2020-02-28 16:14] cpanato commented on #345
/remove-help

[2020-02-28 18:16] #385 closed

[2020-02-29 15:31] #140 closed

[2020-02-29 15:31] #183 closed

[2020-02-29 16:32] #276 closed

[2020-03-01 22:01] #142 closed

[2020-03-01 22:01] #200 closed

[2020-03-01 22:01] #196 closed

[2020-03-01 22:01] #191 closed

[2020-03-02 19:23] CecileRobertMichon commented on #397
/assign

[2020-03-03 18:09] richardcase commented on #416
@devigned - i'd love to see an open source equivalent to google's config connector but for Azure. This is something that people would use outside of capz, especially with gitops. Most of our customers ask for a way to treat their cloud infra in a declarative way like their k8s resources.

AWS had somthing similar to config connector: https://github.com/amazon-archives/aws-service-operator that i b

[2020-03-03 23:33] vincepri commented on #293
I did a quick review of the linked PR, the thing that stood out the most is the use of `runtime.RawExtension`, in the past we've used this in Cluster API and quickly turned around because of lack of type safety and code complexity.

One alternative:

[code]

By having all of these marked as `+optional` and `omitempty` we're giving free reign to users to choose which one to pick. The defaulting web

[2020-03-04 00:59] CecileRobertMichon commented on #397
Going to write down a few notes here from what I've discovered so far:

In order to use a custom k8s build (example k/k master), there are 3 possible ways:

- Build a custom image with image-builder as part of CI and use that image in the cluster
    - pros: can reuse the image for multiple nodes
    - cons: time consuming, building an Azure image with packer takes ~20 minutes
- Use an existing im

[2020-03-04 18:01] nader-ziada commented on #204
@enxebre As far as I understand, what you are describing is the behaviour of `CAPI`, the machine controller only check if the noderef is available every cycle which happens by the duration defined in `SyncPeriod`

if there is a specific problem with this; we could do something like what was done in this PR (https://github.com/kubernetes-sigs/cluster-api/pull/2432) to trigger a reconcile, but we wo

[2020-03-04 18:31] richardcase commented on #293
I can change it to this, which is very similar to the original implementation with just a bit more structure to Image. I was advised to use runtime.RawExtension but happy to change based on experience gained elsewhere

[2020-03-04 18:31] richardcase commented on #293
Shall I make this change?

[2020-03-04 18:33] detiber commented on #293
I'm +1 for the change, I believe we should strive for type safety wherever we can.

[2020-03-04 18:35] CecileRobertMichon commented on #293
+1
I would personally prefer we follow Vince's recommendation if you don't mind the extra work @richardcase. Sorry for the back and forth. I'll prioritize getting your PR merged so it doesn't have to rebased again after the changes.

[2020-03-04 18:58] richardcase commented on #293
Sounds like good consensus to me and thinking about it I also prefer the suggestion.  RawExtension did feel a little ugly.

@CecileRobertMichon - will make the change tomorrow

[2020-03-04 18:59] devigned commented on #293
I'm pretty new to this stuff, so I might be asking a silly question, but if we used an ObjectRef, could we add validation, not webhook validation but rather JSON schema validation, to ensure the Kind specified is one of an enumeration? That way, the consumer of the API would have clear guidance in the OAI specification that the ObjectRef must be one of a set of Kinds. From that, we could then have

[2020-03-04 19:07] detiber commented on #293
From the [documentation for ObjectReference](https://godoc.org/k8s.io/api/core/v1#LocalObjectReference):

In practice it also leads to quite a bit of user confusion around what fields are used/ignored in practice. We are looking at replacing our use of it in sigs.k8s.io/cluster-api for this reason as well.

You should be able to have json schema validation of enum types by specifying a structural

[2020-03-04 19:33] devigned commented on #293
@detiber, that's exactly what I was thinking about with the validation of the enum, but was also unsure about controller-tool support.

How does cluster-api intend on dealing with union types like this going forward? Is there an on going discussion / issue?

[2020-03-04 20:31] detiber commented on #293
Not directly related to union types, but we already have a rough proposal for removing existing use of ObjectReference: https://github.com/kubernetes-sigs/cluster-api/issues/2318

We also plan on adopting structural schema, but I don't think we have a tracking issue for that, more of a high level idea that we should do it.

[2020-03-04 20:56] mboersma opened #423 "Agent nodes have role of "<none>""
/kind bug

**What steps did you take and what happened:**
I provisioned a new cluster-api cluster according to our docs, but it appears the agent nodes don't get labeled as expected:
[code]

**What did you expect to happen:**
Expected the agent nodes eventually to show up with that role.

**Anything else you would like to add:**
In AKS Engine, we rely on a hacky systemd script to apply the node-ro

[2020-03-04 21:28] nader-ziada commented on #397
I like the `Build a custom image with image-builder as part of CI and use that image in the cluster` option as it gives us. the most flexibility and seems cleaner. is there any way to speed up the packer process? pre-building of anything or things like that?

[2020-03-04 21:42] devigned commented on #293
That link is super helpful. I see what you mean when you say, not just about union types. The goal is to trim down the fields to the minimal amount needed to reference an object in the given context. The pattern of representing union types through a reference to an object is not really covered.

Perhaps, the way to handle union types in the spirit of having the least exposed fields to a consumer w

[2020-03-04 21:51] detiber commented on #293
That's definitely a neat idea, I can see us leveraging it in a few different places at least when the group/kinds are known. It wouldn't necessarily work for some of the core types where we allow different provider types to be referenced.

On a side note, I am glad that you excluded Version when you mentioned the validations...  As we've recently found in Cluster API, it is sometimes best to ignor

[2020-03-04 22:11] devigned commented on #293
So, to be clear, the version the controller would work with would be the controller's preferred version?

[2020-03-04 22:19] detiber commented on #293
In the case of known types, yes.

In the case of provider-specified types, we are doing some hacky introspection currently around thee deployed CRD types to determine which version to use: https://master.cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#apply-the-contract-version-label-clusterx-k8sioversion-version1version2version3-to-your-crds

We are looking to find a better

[2020-03-05 01:48] CecileRobertMichon commented on #423
FWIW I've also noticed that sometimes one or more of the control plane nodes also don't have a label.
Agree this isn't critical, but it would be nice to get it fixed.

/help

[2020-03-05 15:46] detiber commented on #423
My memory is a little fuzzy here, but iirc the idea was that if someone wanted to set the node-role labels that it could be done using a controller that is separate from Cluster API to do so, and that we didn't want to make assumptions on behalf of the user in core Cluster API at the time.

That said, this might be a good use of the new experimental feature/gates and/or APIs and controllers to han

[2020-03-05 21:12] CecileRobertMichon opened #426 "Add support for GPU nodes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl

[2020-03-05 21:23] CecileRobertMichon commented on #359
@asatish any updates on network interfaces?

[2020-03-05 21:24] #345 closed

[2020-03-05 22:03] nader-ziada commented on #312
/assign

[2020-03-06 06:06] cpanato commented on #359
@asatish @CecileRobertMichon I can work on that if you don't have time

[2020-03-06 19:30] CecileRobertMichon opened #427 "Refactor: use defaulting/validating webhooks for more properties"
Right now we do a lot of defaulting and validation in azuremachine_reconciler.go and azurecluster_reconciler.go. After #334 merges, we should apply the same default/validation method to other cluster and machine spec properties such as: subnets, vnets, NSGs, etc.

[2020-03-06 20:56] richardcase commented on #427
@CecileRobertMichon  -  I can look at this after #334 if you want?

[2020-03-06 21:13] #293 closed

[2020-03-06 22:22] CecileRobertMichon commented on #427
@richardcase that'd be great if you can!

I'll assign you for now so no one else takes it

/assign richardcase

[2020-03-07 02:28] CecileRobertMichon opened #428 "capz webhook pod has TLS handshake errors"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

kubectl logs capz-controller-manager-xxx -n capi-webhook-system manager
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kube

[2020-03-07 02:28] CecileRobertMichon commented on #428
/assign

[2020-03-07 09:40] cpanato commented on #349
/assign

[2020-03-07 16:02] cpanato commented on #423
What are the directions/decision here? should we fix that or leave as is?

[2020-03-07 23:08] awesomenix commented on #113
/remove-lifecycle stale

[2020-03-07 23:08] awesomenix commented on #113
/remove-lifecycle rotten

[2020-03-08 15:58] richardcase commented on #428
I'm also seeing a bunch of errors like this:

[code]

[2020-03-08 22:46] #198 closed

[2020-03-09 16:54] CecileRobertMichon commented on #423
@detiber are you saying we should consider implementing this at the capi level?

[2020-03-09 16:55] detiber commented on #423
@CecileRobertMichon it's probably worth the discussion again.

[2020-03-09 17:01] CecileRobertMichon commented on #423
opened https://github.com/kubernetes-sigs/cluster-api/issues/2596

[2020-03-09 17:40] CecileRobertMichon commented on #428
@richardcase which logs is that from?

[2020-03-09 18:16] richardcase commented on #428
@CecileRobertMichon - in the kube-apiserver logs

[2020-03-09 18:23] asatish commented on #359
Hi Carlos, sure you can go ahead and work on that, I haven't gotten to this
as yet.

Thanks,
Satish

On Thu, Mar 5, 2020 at 10:06 PM Carlos Tadeu Panato Junior <
notifications@github.com> wrote:

[2020-03-09 19:49] #410 closed

[2020-03-10 13:58] nader-ziada commented on #400
fixed by https://github.com/kubernetes/test-infra/pull/16674

[2020-03-10 15:59] CecileRobertMichon commented on #400
/close

[2020-03-10 15:59] #400 closed

[2020-03-10 22:42] #292 closed

[2020-03-10 23:38] CecileRobertMichon opened #435 "etcd state stalls control plane bootstrapping on 2nd node"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

https://github.com/kubernetes-sigs/cluster-api/issues/2591

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes versi

[2020-03-11 04:01] xgao3 commented on #435
Running into the same issue in my environment.  2nd control plane node fails to join the cluster:

etcd] Announced new etcd member joining to the existing etcd cluster
[etcd] Creating static Pod manifest for "etcd"
[etcd] Waiting for the new etcd member to join the cluster. This can take up to 40s
{"level":"warn","ts":"2020-03-11T03:51:04.512Z","caller":"clientv3/retry_interceptor.go:61","msg":"re

[2020-03-11 11:36] randomvariable opened #436 "AZURE_ prefixes are required in templates"
/kind bug

What steps did you take and what happened:
[A clear and concise description of what the bug is.]
CONTROL_PLANE_MACHINE_TYPE and NODE_MACHINE_TYPE template variables should have an AZURE_ prefix. Currently have a clash in when using ~/.cluster-api/clusterctl.yaml across providers

What did you expect to happen:
Can use Azure and AWS providers simultaneously.

Anything else you would like

[2020-03-11 14:44] nader-ziada commented on #436
/assign

[2020-03-11 17:17] #436 closed

[2020-03-11 18:23] CecileRobertMichon commented on #435
@xgao3 I believe this might have gotten fixed with #438, could you please try again from the latest master and let me know if you can still repro?

[2020-03-11 18:45] CecileRobertMichon opened #439 "Support failure domains"
"An infrastructure provider may or may not implement the failure domains feature. Failure domains gives Cluster API just enough information to spread machines out reducing the risk of a target cluster failing due to a domain outage. This is particularly useful for Control Plane providers. They are now able to put control plane nodes in different domains.

An infrastructure provider can implement t

[2020-03-11 18:50] CecileRobertMichon opened #440 "Implement --feature-gates flag in main.go"
"Cluster API now ships with a new experimental package that lives under exp/ containing both API types and controllers.
Controller and types should always live behind a gate defined under the feature/ package.
If you’re planning to support experimental features or API types in your provider or codebase, you can add feature.MutableGates.AddFlag(fs) to your main.go when initializing command line fla

[2020-03-11 20:18] CecileRobertMichon commented on #435
going to close this for now since I'm not seeing it anymore on latest master, please reopen if it is still happening.

/close

[2020-03-11 20:23] CecileRobertMichon commented on #440
/help

[2020-03-11 22:57] CecileRobertMichon opened #442 "Conversion webhook logs show errors trying to convert images"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

From `kubectl logs capz-controller-manager-xxx -n capi-webhook-system manager`:

[code]

/cc @richardcase

[2020-03-11 23:04] CecileRobertMichon commented on #442
This happens when no image is set. The default is only set to create the VM in the VM spec https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azuremachine_reconciler.go#L292 but not persisted in the AzureMachine spec.

[2020-03-11 23:10] #428 closed

[2020-03-11 23:28] CecileRobertMichon commented on #442
/assign

[2020-03-12 00:50] #442 closed

[2020-03-12 17:37] CecileRobertMichon commented on #407
capi issue: https://github.com/kubernetes-sigs/cluster-api/issues/1876

[2020-03-12 18:25] CecileRobertMichon commented on #435
I just got a repro on latest master so it looks like this is still happening intermittently.

[2020-03-13 01:24] CecileRobertMichon commented on #435
After doing a lot of investigation with @devigned, we reached the conclusion that this is most likely due to the disk being too small. Currently etcd is running on the OS Disk and the example template has a 30GB size. The short term fix is to up that size to at least 128GB, per the recommendation on https://etcd.io/docs/v3.3.12/op-guide/hardware/. As a more long term solution, I am looking creatin

[2020-03-13 16:44] #349 closed

[2020-03-13 17:04] CecileRobertMichon opened #446 "KubeadmControlPlane scale will fail the second time or if more than 5"
Because of how inbound NAT rules are assigned to network interfaces, if a KCP is scaled down then scaled up multiple times, the AzureMachine controller will fail with an out of bound error.

[2020-03-13 17:08] CecileRobertMichon opened #447 "Update the README with supported versions"
The README is outdated and needs to be updated before the 0.4.0 release.

[2020-03-13 17:11] justaugustus commented on #307
/remove-lifecycle stale

[2020-03-13 17:38] CecileRobertMichon opened #448 "Re-evaluate putting etcd in a data disk"
Related to #435

Currently etcd is running on the OS Disk and the example template has a 30GB size. The short term fix is to up that size to at least 128GB (#445), per the recommendation on https://etcd.io/docs/v3.3.12/op-guide/hardware/. As a more long term solution, I would like to look into creating a data disk for etcd.

[2020-03-13 17:38] #435 closed

[2020-03-13 17:47] #204 closed

[2020-03-13 19:07] CecileRobertMichon commented on #447
and also new meeting time

[2020-03-13 22:48] CecileRobertMichon opened #450 "Verify that Tilt works as expected with capz and add capz section to capi book tilt docs"
https://cluster-api.sigs.k8s.io/developer/tilt.html#prerequisites

1) Follow the instructions above for Tilt to make sure it works will with the current `tilt-provider.json`  in the capz master branch.
2) Add a capz section in the book (capi docs)

[2020-03-13 23:52] jsturtevant commented on #450
I am working on this

[2020-03-13 23:53] CecileRobertMichon commented on #450
/assign @jsturtevant

[2020-03-14 00:02] CecileRobertMichon commented on #450
/close

fixed in https://github.com/kubernetes-sigs/cluster-api/pull/2333

[2020-03-14 00:02] #450 closed

[2020-03-14 18:48] jsturtevant commented on #450
I confirmed it is hot re-loading the azure manager container with the current tilt-provider.json 👍

[2020-03-15 09:11] cpanato opened #454 "Convert tests to use gomega/ginkgo"
In CAPI (see https://github.com/kubernetes-sigs/cluster-api/issues/2433) we converted the tests to use the gomega/ginkgo.

I propose we do the same here to make it standard across CAPX

Already spoke with @CecileRobertMichon in Slack and she agree.

[2020-03-15 09:11] cpanato commented on #454
I can work on that 😄
/assign

[2020-03-15 20:01] cpanato commented on #440
I will try this one

/assign
/help cancel

[2020-03-15 20:02] cpanato commented on #440
I will try this one

/assign
/remove-help

[2020-03-15 20:03] cpanato commented on #359
/remove-help

[2020-03-16 16:34] #359 closed

[2020-03-17 01:06] #447 closed

[2020-03-17 01:44] ritazh opened #456 "Add support for out-of-tree cloud provider components"
/kind feature

**Describe the solution you'd like**
Add support to use  [out-of-tree cloud provider components](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/docs/cloud-controller-manager.md)

**Anything else you would like to add:**
PR for reference: https://github.com/Azure/aks-engine/pull/2161

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (

[2020-03-17 11:04] JoelSpeed commented on #407
I'm trying to answer some questions that were raised around how CAPZ will work with Spot VMs which needs to be properly tested, so I've basically implemented support for this so that I can answer some of these questions. Will assign myself and PR once the CAPI proposal is agreed on

/assign

[2020-03-17 21:05] #446 closed

[2020-03-18 23:53] CecileRobertMichon commented on #439
Failure domains should map to Azure availability zones, eg. https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1420/files

/help

[2020-03-18 23:54] CecileRobertMichon commented on #423
/close

this is already being tracked in the capi issue above

[2020-03-18 23:54] #423 closed

[2020-03-20 16:22] devigned commented on #113
/assign

[2020-03-20 16:30] devigned commented on #416
We are actively looking into this. Will update with more information as organizationally possible.

[2020-03-20 16:30] devigned commented on #416
/assign

[2020-03-20 16:34] CecileRobertMichon commented on #165
/remove-lifecycle rotten
/help

[2020-03-20 16:34] rbitia commented on #347
/remove-lifecycle stale

[2020-03-20 16:35] rbitia commented on #344
/remove-lifecycle stale

[2020-03-20 16:36] rbitia commented on #313
/remove-lifecycle stale

[2020-03-20 16:37] rbitia commented on #313
Needs definition of done, and a proposal for how to time control plane creation.

[2020-03-20 16:37] rbitia commented on #313
/remove-lifecycle rotten

[2020-03-20 16:38] rbitia commented on #351
/remove-lifecycle stale

[2020-03-20 16:39] rbitia commented on #324
@CecileRobertMichon can we close this?

[2020-03-20 16:39] rbitia commented on #324
/remove-lifecycle rotten

[2020-03-20 16:40] CecileRobertMichon commented on #324
duplicate of #435

/close

[2020-03-20 16:40] #324 closed

[2020-03-20 16:40] rbitia commented on #110
/remove-lifecycle rotten

[2020-03-20 16:41] rbitia commented on #311
/remove-lifecycle stale

[2020-03-20 16:41] rbitia commented on #318
/remove-lifecycle rotten

[2020-03-20 17:14] devigned commented on #312
I'm happy to pair on this. I've spent a fair amount of time on Managed Identities, AAD and the SDKs.

[2020-03-20 17:30] #454 closed

[2020-03-20 18:38] #440 closed

[2020-03-20 19:19] CecileRobertMichon opened #467 "Add support & documentation on using Azure CNI with capz"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/Azure/azure-container-networking/blob/master/docs/cni.md

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

- [ ] https://github.com/Azure/azure-container-networking/issues/1945
- [ ] https://github.com/kuber

[2020-03-23 17:36] richardcase commented on #439
/assign

[2020-03-23 17:36] richardcase commented on #439
/active

[2020-03-23 17:38] devigned commented on #113
/active

[2020-03-24 09:36] gaulzhw opened #469 "Support Azure client request to other Azure Clouds (eg. Sovereign clouds)"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We use cluster api to create k8s cluster in China. But this project uses cloudapp.azure.com as a default DNS zone, and sends client request to management.azure.com for default.
Is it ok to add an option to support other datacenter?

**Anything else you would like to add:**
[Miscellaneo

[2020-03-24 13:46] devigned commented on #469
Great idea!

[2020-03-24 20:26] CecileRobertMichon commented on #469
@gaulzhw that's definitely something that should be on the roadmap, thanks for opening the issue. If you'd like to help and contribute this feature feel free to assign yourself!

[2020-03-26 15:25] richardcase commented on #439
@CecileRobertMichon - shall i deprecate the `AvailabilityZone` field like they have in the AWS provider? Or shall we just provide a conversion function between v1alpha2(AvailabilityZone) and v1alpha3(FailureDomain)?

I think i prefer the conversion approach as it doesn't require the support of both fields and the removal of `AvailabilityZone` in the future.

[2020-03-26 16:19] CecileRobertMichon commented on #439
@detiber do you have any guidance here?

[2020-03-26 16:30] detiber commented on #439
I think things are a bit complicated by the existence of a v1alpha3 release, I don't think doing the conversion from v1alpha2 -> v1alpha3 is feasible considering it would break the v1alpha3 api that was already published.

If backward compatibility is desired, I think you can probably do the following:
- Deprecate the existing AvailabilityZone field
- Add a new FailureDomain field
- AzureMachine c

[2020-03-26 17:25] richardcase commented on #439
Sounds like a plan to me. Thanks @detiber and @CecileRobertMichon

[2020-03-26 23:00] CecileRobertMichon commented on #456
@ritazh I think this might already be possible by tweaking the [kubeadm config](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/cluster-template.yaml#L40-L73) to follow [these](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/docs/cloud-controller-manager.md#usage). ie, it should look something like this:

[code]

Still figuring out the azure

[2020-03-27 15:15] cpanato commented on #439
/remove-help since @richardcase is working on

[2020-03-27 15:15] cpanato commented on #439
/remove-help

since @richardcase is working on

[2020-03-27 17:09] CecileRobertMichon commented on #456
Currently looking at two options for deploying Azure CCM:

1) Doing something similar to CAPV and add a cloud provider reconciler to the AzureCluster controller: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/controllers/vspherecluster_controller.go#L607 + cloud provider types https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/api/v1alpha3/clou

[2020-03-27 18:03] CecileRobertMichon commented on #456
@yastij pointed out that 2) may not work because CAPI requires CCM to bootstrap the cluster in order to read the ProviderID on the Node object: https://github.com/kubernetes-sigs/cluster-api/blob/master/controllers/machine_controller_phases.go#L60.

"NodeRef  is what enables you to transition machine’s state and nodeRef is read from https://github.com/kubernetes-sigs/cluster-api/blob/2cc85702ab31f

[2020-03-27 22:06] CecileRobertMichon commented on #113
/close

@devigned can you please open a new issue to track implementing MachinePools?

[2020-03-27 22:06] #113 closed

[2020-03-27 23:14] devigned opened #472 "Implement AzureMachinePools using VMSS"
/kind feature

**Describe the solution you'd like**

Implement AzureMachinePool using Virtual Machine Scale Sets. The AzureMachinePool implementation should follow the same package / group structure as CAPI and be added to the `exp` package, the experimental feature package. The feature should be gated using the `MachinePool` flag used in CAPI.

See also: #113 and [CAPI Machine Pool Proposal](http

[2020-03-27 23:14] devigned commented on #472
/assign

[2020-03-30 16:54] ksubrmnn opened #474 "Diagnostic script for log collection"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
An easy to use script that will collect logs for kubernetes, iptables, instance metadata, etc.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (us

[2020-03-30 16:54] ksubrmnn commented on #474
@CecileRobertMichon can you please assign this to me?

[2020-03-30 16:57] CecileRobertMichon commented on #474
/assign @ksubrmnn

[2020-03-30 18:21] justaugustus commented on #346
Hey @cpanato, are you still interested in this one?

[2020-03-30 18:34] CecileRobertMichon opened #475 "Update release documentation"
The release docs, https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/releasing.md are out of date. We should update them to match the current release process.

[2020-03-30 18:34] CecileRobertMichon commented on #475
/assign @justaugustus

[2020-03-30 23:36] CecileRobertMichon commented on #110
@juan-lee see #416 😃

[2020-03-31 09:12] cpanato commented on #346
@justaugustus yes, just need to understand how we will input those values, as environment variables?

and where should i configure those values?

thx :)

[2020-03-31 09:13] cpanato commented on #346
/assign

[2020-03-31 22:16] CecileRobertMichon opened #479 "clusterctl init on capz cluster fails"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Use kind cluster to deploy a capz cluster and try to pivot according the instructions at https://cluster-api.sigs.k8s.io/clusterctl/commands/move.html#bootstrap--pivot

The same doesn't repro in an Azure k8s clusters not built by capz (eg. AKS cluster).

Related to https://github.com/ku

[2020-04-01 15:15] #397 closed

[2020-04-01 18:38] jseely opened #480 "Deploy to Multiple Subscriptions from Single Manager"
***Goals***
1. Enable deployment of clusters into multiple subscriptions

***Non-Goals/Future Work***
1. Deployment of single cluster spanning multiple subscriptions
1. Deployment of clusters into multiple Tenants
1. Deployment of clusters using unique Service Principals

**User Story**

As an operator I would like to deploy clusters for independent teams into their corresponding subscriptions so

[2020-04-01 18:42] justaugustus commented on #480
cc: @CecileRobertMichon @juan-lee

[2020-04-01 20:22] weinong opened #481 "AAD support"
/kind feature

**Describe the solution you'd like**
Use AAD to authenticate with k8s clusters
should be similar or equivalent to these existing products/projects
https://github.com/Azure/aks-engine/blob/master/docs/topics/aad.md
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration
https://docs.microsoft.com/en-us/azure/aks/azure-ad-v2

**Anything else you would like to add:**
In additio

[2020-04-02 16:52] #346 closed

[2020-04-02 21:22] nader-ziada commented on #479
I can confirm that I had the same issue on `azure`, but the same scenario worked fine on `aws`

[2020-04-03 16:55] jseely opened #484 "Support Multiple Placement Groups in VMSS"
/kind feature

**Describe the solution you'd like**
Many large customers, when they scale out their applications, run into the 100 VM limit in VMSS. There is a flag in VMSS to support scaling out across multiple Placement Groups to support up to 1000 VMs. I have run into this issue with customers on existing platforms and therefore believe it should go in before we hit it in the field.

**Anything

[2020-04-03 17:06] jsturtevant commented on #318
I can pick this up.

[2020-04-03 17:07] CecileRobertMichon commented on #318
/assign @jsturtevant

[2020-04-03 17:09] DavidLangworthy opened #485 "Azure provider not starting"
/kind bug

Working through the quickstart, the azure provider does not start.  Oddly networking resources are created, but no VMs.  Command history is below.

Where should I look to debug this?

[code]

[2020-04-03 17:09] CecileRobertMichon commented on #348
@cpanato I think this should be done as part of the test. Feel free to assign yourself if you're still interested.

[2020-04-03 17:12] CecileRobertMichon commented on #485
@DavidLangworthy what version of kubectl do you have installed? Are you using a kind cluster as the management cluster? if so what version of kind and what version of k8s on the kind nodes?

[2020-04-03 17:21] FranBarrera commented on #371
I've been testing this issue trying to replicate it with the same problems, wrong image and ssh but using the latest master code and I couldn't replicate it, if I delete the cluster with kubectl, it will delete everything without issues.

[2020-04-03 17:30] CecileRobertMichon opened #486 "Private clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Support deploying clusters with no public IP or external load balancer.  For reference: https://github.com/Azure/aks-engine/blob/master/docs/topics/features.md#feat-private-cluster.

Once Azure Bastion is implemented, we should document using Azure Bastion + Private clusters. related

[2020-04-03 17:37] CecileRobertMichon opened #487 "Ephemeral OS Disks"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
[Ephemeral OS Disks](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ephemeral-os-disks) is a new feature in Azure that allows the OS disk to use local SSD storage, with no writes to Azure storage. If a VM is stopped or deprovisioned, its local storage is lost.

Benefits

[2020-04-03 17:37] CecileRobertMichon commented on #487
/help

[2020-04-03 17:38] CecileRobertMichon commented on #486
/help

[2020-04-03 17:38] CecileRobertMichon commented on #480
/help

[2020-04-03 17:39] CecileRobertMichon commented on #484
This depends on #472

[2020-04-03 17:41] CecileRobertMichon commented on #469
/help

[2020-04-03 17:42] DavidLangworthy commented on #485
Kubectl looks a little old.  Is that the issue?

[code]

[2020-04-03 17:43] CecileRobertMichon opened #488 "SGX-enabled VMs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

[Intel&reg; Secure Guard Extension](https://software.intel.com/en-us/sgx) (Intel&reg; SGX) is an architecture extension designed to increase the security of application code and data.
Developers may choose [Intel&reg; SGX SDK](https://software.intel.com/en-us/sgx-sdk) or [Open Enclave

[2020-04-03 17:46] CecileRobertMichon commented on #485
That's likely, `Error: unknown command "namespaces" for "kubectl` seems like the version of kubectl you have doesn't support that command. Can you update it and try again?

[2020-04-03 17:50] alexeldeib commented on #469
n.b.: this must not be hardcoded to the existing Go SDK environments. Azure Stack is the obvious exception, but we should enable free form support for anything that can supply the endpoints at runtime (e.g., airgapped environments, gov't cloud).

[2020-04-03 17:51] DavidLangworthy commented on #485
Will do.

[2020-04-03 18:00] CecileRobertMichon commented on #407
Spot VMs are now GA https://azure.microsoft.com/en-us/updates/azure-spot-virtual-machines-are-now-generally-available

[2020-04-03 18:19] CecileRobertMichon opened #489 "Test and enable VMSS overprovisioning"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Test compatibility of cluster-api/kubeadm with VMSS overprovisioning and enable overprovisioning if it compatible as overprovisioning can improve provisioning success, especially when deploying large numbers of instances at once.

https://docs.microsoft.com/en-us/azure/virtual-machine

[2020-04-03 18:27] CecileRobertMichon opened #490 "Password auth should be disabled on VMs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Rather than generating and using a random password when creating virtual machines
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/virtualmachines/virtualmachines.go#L113
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cl

[2020-04-03 18:30] CecileRobertMichon opened #491 "Do not generate SSH key in virtual machine service"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We should not generate an SSH key (or any other defaults) in the `cloud/services`: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/virtualmachines/virtualmachines.go#L100

Instead, the default SSH key should be set by a defaulting webhook and the

[2020-04-03 18:39] CecileRobertMichon opened #492 "Cosmos DB etcd"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add preview support (maybe as a feature flag?) for Cosmos DB etcd. See https://github.com/prankul88/cluster-api/blob/master/bootstrap/kubeadm/docs/external-etcd.md.

https://docs.microsoft.com/en-us/azure/cosmos-db/etcd-api-introduction
https://docs.microsoft.com/en-us/azure/cosmos-db

[2020-04-03 18:48] DavidLangworthy commented on #485
I've updated kubectl to 1.18 and initialized a new management cluster.  However, after running clusterctl init, I do not see any azure namespaces or pods.

The above error about unknown command was my error.  I left out "get".  I should have edited that out.  Sorry.

[code]

[2020-04-03 18:58] CecileRobertMichon opened #493 "Support encryption of Azure managed disks"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Support BYO key for disk encryption, as described here:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption

for reference: https://github.com/Azure/aks-engine/pull/2412

**Anything else you would like to add:**
[Miscellaneous information that will assist in

[2020-04-03 19:14] DavidLangworthy commented on #485
Thank you,  I'll check quota.  Also, I updated the troubleshooting guide with "capz".

[2020-04-03 19:36] CecileRobertMichon commented on #356
Add `securityGroupResourceGroup` field in cluster template Azure json so this supported starting with 1.18+

https://github.com/kubernetes/kubernetes/pull/87035

/unassign
/help
/good-first-issue

[2020-04-03 19:45] CecileRobertMichon commented on #448
/unassign as I won't be able to get to this right away, in case someone else wants to pick it up.
/help

[2020-04-03 21:28] CecileRobertMichon opened #497 "Add validations for AzureCluster Updates"
Some fields (eg. Azure location) are immutable and we should fail when they are updated.

To get started, you can look at how we implemented validation for AzureMachines here:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/api/v1alpha3/azuremachine_webhook.go#L46

and add to https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/api/v1alpha3/azureclus

[2020-04-03 21:28] CecileRobertMichon commented on #497
/help

[2020-04-04 13:58] cpanato commented on #348
/remove-help
/assign

I will ping you in the chat @CecileRobertMichon to talk a bit more about this

[2020-04-05 21:56] nprokopic commented on #416
I would agree that it would be preferable that a project like this stays inside of k8s. One thing from the top of my head is that it could be easier to participate and contribute to a project where you can join k8s/CAPI/CAPZ Slack and community meetings.

[2020-04-06 18:45] #490 closed

[2020-04-06 22:07] CecileRobertMichon opened #502 "Failing k8s conformance tests"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deploy capz cluster with k8s version 1.17.3. Run conformance tests with `SKIP_CREATE_CLUSTER=true SKIP_CLEANUP=true ./scripts/ci-conformance.sh`.

Results in:

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environm

[2020-04-07 01:00] CecileRobertMichon opened #503 "Cluster DNS is broken"
From conformance tests:

[code]

[code]

Calico seems okay:

From a control plane:
[code]

From the worker node:
[code]
 Followed steps in https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/ and deployed a `dnsutils` pod:

[code]

[code]

[code]

[2020-04-07 17:46] CecileRobertMichon commented on #503
Root cause described here: https://docs.projectcalico.org/v3.0/reference/public-cloud/azure

The default Calico CNI config doesn't work with Azure.

[2020-04-07 20:33] CecileRobertMichon commented on #492
/close

[2020-04-07 20:33] #492 closed

[2020-04-07 20:58] CecileRobertMichon commented on #502
After #504 :

[code]

[2020-04-07 21:01] CecileRobertMichon commented on #325
/close

doesn't repro since v1alpha3

[2020-04-07 21:01] #325 closed

[2020-04-07 23:36] CecileRobertMichon commented on #502
on a different run with 2 worker nodes this time:

[code]

[2020-04-07 23:43] CecileRobertMichon opened #505 "[conformance] [sig-cli] Kubectl client Kubectl replace [It] should update a single-container pod's image"
Failing test:

[code]

To repro:

 `FOCUS="should update a single-container pod's image" ./scripts/ci-conformance.sh`

[2020-04-07 23:46] CecileRobertMichon opened #506 "[conformance] [sig-cli] Kubectl client Kubectl logs [It] should be able to retrieve and filter logs"
[code]

To repro:

`FOCUS="should be able to retrieve and filter logs" ./scripts/ci-conformance.sh`

[2020-04-07 23:51] CecileRobertMichon commented on #502
tracking individual failures in #505 and #506

[2020-04-08 17:30] devigned opened #508 "create-dev-cluster shouldn't require $REGISTRY"
/kind bug

**What steps did you take and what happened:**
When running `./hack/create-dev-cluster.sh` `$REGISTRY` is required, but since we are loading the image into kind, we really could default it to some sane value.

**What did you expect to happen:**
When running `./hack/create-dev-cluster.sh` `$REGISTRY` would be set to some sane value.

**Environment:**

- cluster-api-provider-azure version

[2020-04-08 17:51] #479 closed

[2020-04-08 17:51] #503 closed

[2020-04-08 19:07] #508 closed

[2020-04-09 17:13] #348 closed

[2020-04-09 17:30] alexeldeib commented on #337
/assign

[2020-04-10 17:55] CecileRobertMichon opened #514 "clusterctl docs in docs/ is outdated and should be removed"
New cluster CLI docs are here https://cluster-api.sigs.k8s.io/clusterctl/overview.html

[2020-04-10 18:03] jackfrancis opened #515 "python 3+ dependency"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Dev docs describe using python 2.7 as a requirement. Just as a concrete example on my mac:

[code]

The above follows the general pattern of encouraging projects to remove 2.x dependencies. This is a tracking issue request to remove the 2.7 dependencies from capz.

**Anything else you

[2020-04-10 18:10] devigned commented on #515
I don't think that is a real requirement anymore.

[2020-04-10 18:33] CecileRobertMichon commented on #456
/unassign

I'm not actively working on this right now so unassigning in case someone else wants to pick it up. If you do, see my comments above.

[2020-04-10 20:28] Prabhakar-17 commented on #514
/assign @Prabhakar-17

[2020-04-10 20:55] sozercan opened #519 "Fail fast when quota is not sufficient"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When creating a cluster in a region where subscription doesn't have enough quota, it doesn't fast fail but keeps reconciling

**What did you expect to happen:**
It should fast fail after checking whether it has enough quota in the sub

**Anything else you would like to add:**
[Miscellane

[2020-04-10 21:04] CecileRobertMichon commented on #519
/good-first-issue

[2020-04-10 21:10] alexeldeib opened #520 "docs: troubleshooting"
/kind documentation

We need a troubleshooting doc similar to https://github.com/Azure/aks-engine/blob/master/docs/howto/troubleshooting.md to walk through what to check, and in what order when things go wrong.

Some things to consider including:

- How to ssh on a VM and check cloud init logs
- How to check capz controller logs

[2020-04-10 21:11] alexeldeib commented on #520
/assign

[2020-04-10 21:16] CecileRobertMichon commented on #520
+1

Let's also remove https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/development.md#debugging-cluster-creation and put it in the new troubleshooting doc

[2020-04-10 21:18] CecileRobertMichon opened #521 "docs: service principals"
We need a doc similar to https://github.com/Azure/aks-engine/blob/master/docs/topics/service-principals.md#creating-a-service-principal that explains to use and create a service principal for CAPZ.

[2020-04-10 21:21] lachie83 commented on #318
@jsturtevant - Here is an IPv6 cluster def for AKS-Engine which should help you through - https://gist.github.com/aramase/a19fcbf1f309dab99600ee9c0d700fce

[2020-04-10 21:22] lachie83 commented on #318
Also some prerequisites on your subscription to make this work - https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ipv4-ipv6-dual-stack-cli#prerequisites

[2020-04-10 21:22] lachie83 commented on #318
@aramase is landing the docs on upstream AKS-Engine soon

[2020-04-10 21:25] devigned commented on #311
Things to collect?
- Success / failure of Azure Resource (possibly available from Azure SDK for Go metrics)
  - AzureCluster
    - resource group
    - route table
    - network security group
    - vnet
    - subnet
    -load balancer (internal / external)
  - AzureMachine
    - virtual machine
    - network interface
    - public IP
    - disk
    - availability zone
- Machines / Cluster / State

[2020-04-10 21:27] rbitia commented on #521
The doc that we link in the quick-start isn't enough or would a specific doc in CAPZ help?

[2020-04-10 21:28] jackfrancis commented on #497
/assign

[2020-04-10 22:09] aramase commented on #356
/assign

[2020-04-10 22:11] weng271190436 commented on #491
/assign

[2020-04-10 22:15] ritazh commented on #519
/assign

[2020-04-10 22:17] ritazh commented on #519
/unassign

[2020-04-10 22:17] shanalily commented on #519
/assign

[2020-04-10 22:22] jsturtevant commented on #318
thanks! Got it started today.  I have also been referencing:

- https://github.com/Azure/aks-engine/pull/2781
- https://github.com/Azure/aks-engine/tree/master/examples/dualstack
- https://github.com/Azure/aks-engine/pull/1424

[2020-04-10 23:06] alexeldeib commented on #520
/unassign

troubleshooting some networking issues...

[2020-04-10 23:59] #514 closed

[2020-04-11 00:10] shanalily commented on #519
/unassign

Discussed with @ritazh and others.

[2020-04-11 18:58] asatish commented on #371
With v1alapha3 release 0.4.1, I don't see this issue anymore, the cluster gets deleted, closing this. Thanks for fixing this.

[2020-04-11 18:58] #371 closed

[2020-04-13 17:46] CecileRobertMichon commented on #456
/assign @sozercan

[2020-04-13 17:47] sozercan commented on #456
/assign

[2020-04-13 17:50] CecileRobertMichon commented on #519
@shanalily @ritazh, do you have any findings to share about this issue that could be useful for someone else when they pick up the issue that you want to share?

[2020-04-13 17:52] CecileRobertMichon commented on #475
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/release-notes-template.md also needs to be updated

[2020-04-13 18:51] ritazh commented on #519
The team discussed what the user experience should be for this issue.
Some options are:
1. If creation failed due to quota issue, then create a K8s event resource to bubble up the error. Continue to reconcile in case quota issue eventually resolves. [This seems to be the behavior for other cluster api providers as well. This is the one we landed on.]
2.  If creation failed due to quota issue, then

[2020-04-13 18:51] ritazh commented on #519
/assign

[2020-04-13 18:55] devigned commented on #519
To add a bit to @ritazh's comment above, just for posterity. We also discussed using [Compute Usage API](https://docs.microsoft.com/en-us/rest/api/compute/usage/list) to see if there are enough of a VM SKU available.

Might be useful for changes to MachineDeployment / MachinePool validation.

[2020-04-13 19:07] CecileRobertMichon commented on #519
Option 1) seems like the best way to handle this to me as well.

We might also want to bubble up the error (and other errors) to AzureMachine status as well, right now AzureCluster and AzureMachine status don't show much. For future improvement, it would be nice to add a `Phase` similar to Cluster/Machine status.

[2020-04-13 19:23] CecileRobertMichon opened #524 "UX: Leverage kubebuilder:printcolumn to show more info on AzureMachine / AzureCluster status & spec"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Right now, `get azuremachine` and `get azurecluster` only show name and age (which are the defaults):

[code]
[code]

As a user, it would be nice to quickly get more information on each resource. For example, get `azuremachine` could show each VM's state and VM size. Or get `azureclust

[2020-04-13 19:24] CecileRobertMichon commented on #519
opened https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/524

[2020-04-13 23:32] CecileRobertMichon commented on #474
@ksubrmnn one consideration for this: some of the pod logs and CRDs contain sensitive information at the moment (will be fixed by switching to MSI) so we need to either 1) not use the collect-logs script in any CI for now and add a clear warning in any documentation referencing the script, or 2) find a way to redact service principals from output logs (might be more involved but if we find an easy

[2020-04-14 16:46] voor opened #528 "Setup Azure Bastion in default installations"
/kind feature

**Describe the solution you'd like**
[Azure Bastion](https://aka.ms/AboutBastion) is a neat feature that allows secure connections to the individual VMs without exposing their SSH ports to the internet.  The default configuration should add in the necessary address space, `AzureBastionSubnet`, and vnet-bastion setup to allow for this to work without any additional configuration.  Do

[2020-04-14 16:57] CecileRobertMichon commented on #165
/assign @cpanato

[2020-04-14 16:58] cpanato commented on #165
/remove-help

[2020-04-14 16:58] CecileRobertMichon commented on #528
@voor this is already tracked in #165, @cpanato and I were just chatting about it this morning as he's interested in working on it. Going to close this one to avoid duplicates, feel free to add any comments you have on the other issue! Thanks.

/close

[2020-04-14 16:58] #528 closed

[2020-04-14 16:59] CecileRobertMichon commented on #165
Pasting @voor 's  feature request from #528 here:

[code]

[2020-04-14 17:01] CecileRobertMichon commented on #312
@nader-ziada do you still want to try looking into this one?

[2020-04-14 17:10] voor commented on #528
Perfect, thanks!

[2020-04-14 17:51] voor commented on #165
Only thing I want to add is to make sure we're not confusing bastion-the-concept with Azure Bastion-the-capability, since Azure Bastion is explicitly allowed in certain environments, whereas punching a hole for port 22 through a VM is not, the original issue was directed towards the hole-punching approach.

[2020-04-14 17:55] CecileRobertMichon commented on #165
@voor I think focusing on implementing Azure Bastion makes sense. I don't think it was available when this issue was originally opened.

You mean https://docs.microsoft.com/en-us/azure/bastion/bastion-overview#regions right?

[2020-04-14 18:10] nader-ziada commented on #312
I was going to work on it later this week or next week, but I'm okay if someone else is ready to get started on it

[2020-04-14 18:11] nader-ziada commented on #312
@devigned feel free to take over if you would like, I can pick up something else. Thanks

[2020-04-14 18:23] CecileRobertMichon opened #530 "docs: custom images"
We should expand the documentation in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/getting-started.md#using-images and move it to its own file. The new docs should describe how to use the different types of supported image types: shared image gallery, Azure Marketplace, image ID. It should also explain any requirements for the image. Expected OS, required componen

[2020-04-14 18:23] CecileRobertMichon commented on #530
/help

[2020-04-14 18:26] CecileRobertMichon commented on #521
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/getting-started.md#setting-up-your-azure-environment is a good start but https://github.com/Azure/aks-engine/blob/master/docs/topics/service-principals.md#creating-a-service-principal is more complete, what do you think?

[2020-04-14 18:26] CecileRobertMichon commented on #520
/help

[2020-04-14 18:27] CecileRobertMichon commented on #524
/help

[2020-04-15 00:12] CecileRobertMichon commented on #427
@richardcase are you still interested in working on this?

[2020-04-15 02:28] jseely opened #532 "Peering of Cluster VNET to existing VNET"
/kind feature

**Describe the solution you'd like**
When I deploy a new VNET, along with a new cluster, I would like to be able to specify an existing VNET for which to create a peering relationship with.

**Anything else you would like to add:**
[Azure Docs - VNET Peering](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview)

[2020-04-15 08:33] richardcase commented on #427
@CecileRobertMichon  - i am and have started. But want to get the failure domains finished first. Shall i unassign for the time being?

[2020-04-15 16:22] CecileRobertMichon commented on #427
Sounds good, thanks! No need to unassign yourself since you have already started and intend on working on it later.

[2020-04-15 17:08] #456 closed

[2020-04-15 18:28] devigned commented on #312
[WIP doc](https://docs.google.com/document/d/17o3uDJmsYlzfaC00K0dzYOaYin04zew853VYYxW2vhc/edit#) that @nader-ziada and I have been working on. Probably get it fleshed out today.

[2020-04-15 23:02] jseely opened #535 "`systemd-timesyncd` is failing to sync with `ntp.ubuntu.com` on Control Plane nodes"
/kind bug

**What steps did you take and what happened:**
When you deploy a CAPZ cluster, the control plane nodes are unable to connect to `ntp.ubuntu.com`. This can lead to clock drift which can seriously impact cluster functionality (etcd especially).

`systemd-timesyncd` logs show:
[code]

Ping also fails to connect to `ntp.ubuntu.com` servers:
[code]

**What did you expect to happen:**
Control

[2020-04-15 23:04] jseely commented on #535
^ @CecileRobertMichon @justaugustus @detiber @jayunit100

[2020-04-15 23:31] CecileRobertMichon commented on #535
/assign

[2020-04-15 23:49] CecileRobertMichon commented on #535
The failure to ping is expected @jseely, see https://docs.microsoft.com/en-us/archive/blogs/mast/use-port-pings-instead-of-icmp-to-test-azure-vm-connectivity

Tested I can curl www.google.com from a capz VM so not all outbound connectivity is broken. Not sure why timesyncd is timing out reaching NTP though, will look into that. Thanks for filing the issue.

[2020-04-15 23:53] CecileRobertMichon commented on #535
related: https://github.com/Azure/aks-engine/pull/2815

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/time-sync

[2020-04-16 00:42] jseely commented on #535
@CecileRobertMichon Ping failure is not expected.

Ping results from standard Ubuntu 18.04 VM on Azure:
[code]

[2020-04-16 01:10] jseely commented on #535
I was just thinking you may have been right with Basic Sku Load Balancers. I do remember that ICMP didn't work at some point in Azure Networking, which would block ping.

That said, here are the ping results from a VM behind a Standard Sku Load Balancer:
[code]

[2020-04-16 14:31] gaulzhw commented on #469
We just hardcoded to support azure-cn. The project github.com/Azure/azure-sdk-for-go may be out of date about some client URI. We have no idea to support in an elegant manner.

See our commit on https://github.com/q8s-io/cluster-api-provider-azure/commit/6f529b25b0adb44c76d6fdd8bb63b5000f071755

[2020-04-16 16:02] jseely commented on #535
So I just did more digging and I owe you an apology @CecileRobertMichon, looks like you're right about `ping` not working behind the Standard LB.

[2020-04-16 17:46] CecileRobertMichon commented on #535
@jseely @devigned @alexeldeib and I did some poking around and I'm pretty sure we found the root cause / fix (spoiler: it looks like a missing LB rule for UDP traffic), will put out a PR shortly.

[2020-04-16 18:03] detiber commented on #535
@CecileRobertMichon should we also follow up and ensure that `VMICTimeSync` is enabled on images and standardize on using ntpd over systemd-timesyncd to align with AKS-Engine?

[2020-04-16 18:10] CecileRobertMichon commented on #535
@detiber we should, I'll file a separate issue to track that.

[2020-04-16 21:01] #535 closed

[2020-04-16 21:44] CecileRobertMichon opened #539 "Proposal: use host based time sync instead of systemd-timesyncd by default"
Follow up from #535, we should look into replacing systemd-timesyncd time sync with host based.

References:
https://help.ubuntu.com/lts/serverguide/NTP.html
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/time-sync
https://github.com/Azure/aks-engine/issues/2552

We can also consider enabling [chrony](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/time-sync#chrony).

[2020-04-16 21:48] CecileRobertMichon commented on #539
from @ericsuhong's comment in the aks-engine issue above, "I found out that disabling NTP is not enough for enabling host-only sync mode. If you disable NTP, VMs till only sync from host on when VM is paused or reboot (got a confirmation from Azure Linux team). Chrony is the only way to sync time from host using PTP source."

[2020-04-16 22:56] jackfrancis opened #541 "Ensure that Standard LBs have configurable number of frontend IPs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Because Kubernetes on Azure implementations share a common Standard LoadBalancer resource to route outbound traffic across all node pools, it's important to be able to scale up the number of IP addresses shared by the backend pool members for outbound access, because outbound port all

[2020-04-17 20:23] CecileRobertMichon commented on #505
/close

not repro'ing on latest master according to the last 2 successful runs of https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#pull-conformance-v1alpha3

[2020-04-17 20:23] #505 closed

[2020-04-17 20:23] CecileRobertMichon commented on #506
/close

not repro'ing on latest master according to the last 2 successful runs of https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#pull-conformance-v1alpha3

[2020-04-17 20:23] #506 closed

[2020-04-17 20:24] CecileRobertMichon commented on #502
/close

not repro'ing on latest master according to the last 2 successful runs of https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#pull-conformance-v1alpha3

[2020-04-17 20:24] #502 closed

[2020-04-17 20:49] CecileRobertMichon commented on #532
/help

[2020-04-17 20:56] CecileRobertMichon commented on #12
I think this issue is partially "done" now that we have conformance running as a periodic job with https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#periodic-conformance-v1alpha3  using https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/scripts/ci-conformance.sh.

The remaining TODOs I see are:
- figure out what to do with https://github.com/kubernetes

[2020-04-17 20:57] CecileRobertMichon commented on #515
Is this a documentation update only?

[2020-04-17 20:59] CecileRobertMichon commented on #469
Thanks for sharing @gaulzhw, this gives a good idea of what changes are required for anyone who wants to pick this up and implement a more generic solution.

[2020-04-17 21:01] jackfrancis commented on #515
I think it started out as an actual work item to fix the fact that capz depends upon <= python 3. But as @devigned pointed out, that documented dependency is not real, so yeah, I think this is now a documentation task.

[2020-04-17 21:02] CecileRobertMichon commented on #524
/remove help
/assign

[2020-04-17 21:23] CecileRobertMichon commented on #515
/kind documentation
/good-first-issue

to summarize: the ask is to change the line in development.md that says python 2.7 is a requirement and make the requirement python (either 2.7+ or 3) since the project already works with python 3. @jackfrancis does that sound correct?

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/development.md#L57

[2020-04-18 00:08] devigned opened #542 "Make each of the flavors in available to deploy in Tilt"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When one runs `make tilt-up`, you are greeted with a Tilt console and browser window running a kind CAPZ management cluster, but there is no workload cluster running. It would be cool to be able to deploy any of the flavors under `./templates/cluster-template*.yaml` as a [local_resour

[2020-04-18 00:09] devigned commented on #542
/help

[2020-04-18 00:09] devigned commented on #542
/good-first-issue

[2020-04-20 15:19] #524 closed

[2020-04-20 16:26] detiber opened #548 "Consider moving etcd to it's own storage device"
/kind feature

**Describe the solution you'd like**
Currently we deploy etcd on the OS disk for the VM instance. To avoid potential issues related to cached bandwidth/IOPS available on the VM, we should consider moving etcd to it's own storage device with cache configured for `None`.

Links providing a bit more context on disk throttling in Azure:
https://docs.microsoft.com/en-us/archive/blogs/xia

[2020-04-20 16:27] detiber opened #549 "Enable Network Acceleration where possible"
/kind feature

**Describe the solution you'd like**
Enable Network Acceleration on VM instances where supported.

**Anything else you would like to add:**
This would require being able to determine if the requested instance type supports Network Acceleration as not all VM instance types support it.

[2020-04-20 16:32] detiber opened #550 "Add warnings when a user selects a VM instance type that could lead to potential throttling issues based on the storage configuration"
/kind feature

**Describe the solution you'd like**
Azure has a tiered set of i/o and bandwidth limits that can lead to difficult to debug throttling behavior. We should likely attempt to warn the user if the VM type they choose could cause VM-level limits to throttle before individual storage-level limits are hit.

**Anything else you would like to add:**
This will likely require either mapping (

[2020-04-20 16:35] detiber opened #551 "Consider disabling the instance ephemeral storage by default"
/kind feature

**Describe the solution you'd like**
Since we are not reliant on the instance ephemeral storage, we should likely disable it be default.

**Anything else you would like to add:**
Instance-level ephemeral storage can consume part of the vm-level cached iops/bandwidth limits, so to avoid potential for this to be an issue we should likely disable the ephemeral storage by default.

It w

[2020-04-20 16:43] devigned commented on #550
kind of related: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/448

Also related, @CecileRobertMichon and I have talked about this a few times and have increased the default disk storage capacity as disk storage capacity is also related to i/o 😜.

What do you think about this going into a warning event on the AzureMachine resource?

[2020-04-20 16:44] CecileRobertMichon commented on #549
duplicate of #307

/close

[2020-04-20 16:44] #549 closed

[2020-04-20 16:45] CecileRobertMichon commented on #307
@mboersma are you still working on this?

[2020-04-20 16:45] devigned commented on #548
I think this is a dup of https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/448

[2020-04-20 16:45] CecileRobertMichon commented on #548
duplicate of #448

/close

[2020-04-20 16:45] #548 closed

[2020-04-20 16:46] devigned commented on #548
Great idea and something we should do sooner than later.

[2020-04-20 16:46] CecileRobertMichon commented on #548
it's in the current milestone :)

[2020-04-20 16:48] CecileRobertMichon commented on #550
/help

[2020-04-20 16:49] detiber commented on #550
I think a Warning event on the AzureMachine resource is a great idea. Only downside is that events are not long lived. It might also be good to replicate it as a Condition on the AzureMachine once we go down the path of supporting Conditions :)

[2020-04-20 16:49] CecileRobertMichon commented on #551
sort of related to #487 (maybe?)

Thanks for opening this, agreed we should disable it if not using it.

/help

[2020-04-20 18:34] CecileRobertMichon opened #553 "[e2e] speed up e2e"
Right now E2E tests take ~40 minutes. While that is still acceptable as a presubmit, it would nice to be able to run the tests faster, especially as they might become longer in the future as we add new test cases.

One thing we might be able to do is run the tests on different cluster configurations (eg. 1 control plane vs. 3 control planes) in parallel. Any other ideas welcome, please comment bel

[2020-04-20 19:44] CecileRobertMichon opened #554 "docs: Document supported features"
We should document supported features and link to the feature documentation in the README.

[2020-04-20 19:56] alexeldeib commented on #551
What are our feelings about where the docker data disk should live? 🙂

[2020-04-20 19:57] CecileRobertMichon commented on #148
/remove-lifecycle rotten
/reopen
/assign

[2020-04-20 20:12] CecileRobertMichon opened #556 "Add validation for existing vnet and subnet"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When an existing vnet & subnets are provided as part of the [custom vnet feature](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/topics/custom-vnet.md), we should validate that the existing vnet and subnets are valid in a validation webhook (part of the

[2020-04-20 20:12] CecileRobertMichon commented on #556
/help
/good-first-issue

[2020-04-20 20:15] CecileRobertMichon opened #557 "Add validation for Storage Profile parameters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As part of the AzureMachine webhook, we should validate any spec passed in as part of `OSDisk` to make sure that it is valid and that it won't cause an error when creating the VM storage profile.

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2020-04-20 20:16] CecileRobertMichon commented on #557
/help
/good-first-issue

[2020-04-20 20:16] CecileRobertMichon commented on #557
/help
/good-first-issue

[2020-04-20 20:24] CecileRobertMichon commented on #486
note: we may need to change https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azurecluster_controller.go#L128 to wait for the private IP instead of the DNS name:

[code]

[2020-04-20 20:28] CecileRobertMichon opened #558 "Add validations for AzureMachine Updates"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Some fields are immutable and we should fail when they are updated.

We should add to the already implemented validation for AzureMachines here:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/api/v1alpha3/azuremachine_webhook.go#L56

You can also look how C

[2020-04-20 20:28] CecileRobertMichon commented on #558
/help
/good-first-issue

[2020-04-20 20:35] alexeldeib commented on #551
I'd like us to move toward a model where the OS is isolated fully on ephemeral disk. Docker IOPS can hog the OS disk so I'd like to suggest moving docker (like etcd) off the OS disk. If we do that, the natural destinations are either managed disk or tmp disk. Managed disk means users need both an etcd and docker data disk, or etcd and docker compete for resources.

We should also consider our pref

[2020-04-20 20:41] detiber commented on #551
The main downsides that I see to leveraging ephemeral disk for OS/container storage is that the VM instances that we are using would no longer be able to handle "maintenance" operations including migrations.

I don't necessarily think that is a bad thing, but is there a way to flag an instance as not supporting those features so that we can figure out a way to safely handle those conditions (possi

[2020-04-20 20:44] alexeldeib commented on #551
I'm happy to say the best practice is allocating docker and etcd each a managed disk, btw. I think the key point is there are valid reasons for several potential combinations, we probably can't get away with picking one that's "good enough". I'd love to see us support the full range of features, even if some of those have constraints attached on possible configurations.

[2020-04-20 23:10] CecileRobertMichon commented on #448
/assign

[2020-04-21 17:05] JoelSpeed commented on #407
/lifecycle active

[2020-04-21 23:39] CecileRobertMichon opened #561 "Print controller versions on startup"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Would be great to to see the controller version in the logs, makes debugging issues for end users much simpler.

Suggested implementation: Add `"version", version.Get().String()` in the main.go `starting manager` log.

/good-first-issue
/help

[2020-04-22 00:23] CecileRobertMichon opened #562 "Add events for Azure Cluster services errors"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Building on what was described in #519 described, we should leverage k8s resource events to bubble up Azure cloud errors to the user. For example, if a network interface fails to create, the error message is currently printed in the capz manager logs but we should also add an event in

[2020-04-22 07:38] richardcase commented on #427
/unassign

[2020-04-22 14:32] randomvariable commented on #539
Maybe for most complete coverage, and this would also cover vSphere environments where PTP might be enabled:

* In image builder, we default to time services being disabled in systemd
* We expose ntp options in CLuster API, defaulting to
[code]
This should then enable and start the appropriate NTP-based daemon for the distribution.

* We additionally install and enable by default ptp4l as per
Enab

[2020-04-22 17:23] devigned opened #563 "resource will not delete if resource group is already deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I was trying to more quickly delete infrastructure when developing, so after initiating a delete of the cluster using kubectl, I deleted the resource group in the portal. This caused the AzureCluster to not delete because the first thing the controller does is check the resource group e

[2020-04-24 04:30] #148 closed

[2020-04-27 17:05] CecileRobertMichon commented on #448
WIP doc is [here](https://docs.google.com/document/d/12eYcQrlZdkojHY3atUCCIS9YGPQ1LSQvT4gdg6JWroc/edit?usp=sharing)

[2020-04-27 23:11] jseely commented on #480
@devigned and I paired today to understand what was necessary to implement this change.

It appears that all that would be necessary would be:
- [ ] Add `SubscriptionId` to the `AzureCluster` struct
- [ ] Pass in `AzureCluster` `SubscriptionId` to `NewClusterScope`'s `setCredential` call
- [ ] Add conversions between `v1alpha2` and `v1alpha3`

[2020-04-27 23:21] CecileRobertMichon commented on #480
@jseely @devigned since the v1alpha3 API has already been released, we can't make any breaking changes to it (I assume the new `SubscriptionId` field would be required) unfortunately. I would say add this for v1alpha4 but since the Cluster API community decided to delay v1alpha4 I'm not sure how we should handle adding new required fields in the meantime. @vincepri any suggestions?

Otherwise, you