[2020-04-27 23:22] devigned commented on #480
Optional seems like a good idea for the time being.

[2020-04-28 00:02] #491 closed

[2020-04-28 00:06] jseely commented on #480
Agreed optional seems fine.

[2020-04-28 02:37] vincepri commented on #480
Not sure familiar with the concept of a Subscription, is it fair it say that it maps to an GCP project more or less? If that assumption is correct, and by default the manager has a subscription id (how does it get this?), having an optional field on Cluster is the way to go if you want to support this multi-tenancy behavior in v1alpha3.

[2020-04-28 03:48] devigned commented on #480
It's tough to make a direct analogy since a project in GCP has a lot of opinions about networking and resource relationships built into it.

A resource in Azure must be within a Subscription and a Resource Group. There is a bit of defaulting done within a resource group, but nothing at the level of a GCP project. Resource groups are just a convenient way to group resources. An Azure Subscription h

[2020-04-28 16:35] CecileRobertMichon commented on #563
/help

[2020-04-28 21:29] CecileRobertMichon commented on #448
@detiber @alexeldeib @devigned would love any feedback on the general direction of https://docs.google.com/document/d/12eYcQrlZdkojHY3atUCCIS9YGPQ1LSQvT4gdg6JWroc/edit?usp=sharing before I polish it and share it with the wider CAPI community. There are still some rough edges (like what should the `ClusterConfiguration.Etcd.LocalEtcd.MountOptions` API look like) but
I want to make sure doing this i

[2020-04-28 21:54] CecileRobertMichon opened #575 "Add support for Azure Spot VMSS"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/use-spot

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

See #407 and #559 for the VM implementation.

This is dependent on #483 merging.

**Environment:**

-

[2020-04-28 22:08] devigned commented on #448
Read through the doc. Though I don't have a ton of depth in the bootstrap provider, it does seem like the right place to add the mount config. Using pre and post scripts does strike me as the way this should be implemented.

[2020-04-28 23:36] CecileRobertMichon commented on #554
existing feature documentation lives in https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/docs/topics currently

[2020-04-29 21:10] jzhoucliqr opened #578 "LoadBalancer service is not accessible"
/kind bug

**What steps did you take and what happened:**
Create a LoadBalancer service, public IP is allocated, but the service is not accessible through public IP.

**Anything else you would like to add:**
kube-controller-manager is adding correct inbound security rules to node-nsg with destination to be the allocated public IP. But capz securitygroup reconcile reset the rules to default and rem

[2020-04-29 21:11] jzhoucliqr commented on #578
/assign

[2020-04-29 21:40] chewong opened #579 "kubectl and cluster version are different in conformance tests"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

from https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-conformance-master/1255572470396620807. That's probably because the kubernetes repo checked out by prow and [https://dl.k8s.io/ci/k8s-master.txt](https://github.com/kubernetes-sigs/cluster-api-provi

[2020-04-29 21:46] CecileRobertMichon opened #580 "Conformance test setup is flaky (regression)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The capz conformance prow job(s)
( definitely seeing it on https://testgrid.k8s.io/provider-azure-periodic#k8s-e2e-conformance-master-capz, haven't observed on https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#periodic-conformance-v1alpha3 yet but it's possible th

[2020-04-29 21:46] CecileRobertMichon commented on #580
cc @chewong

[2020-04-29 21:50] CecileRobertMichon commented on #579
we're using https://dl.k8s.io/ci/k8s-master.txt because of  https://github.com/kubernetes/release/issues/897

https://dl.k8s.io/ci/latest-green.txt has the latest master commit but the artifacts might not exist yet and it would fail to pull the binaries and images if that's the case.

What we can do in the meantime:

- git checkout the commit we get from k8s-master.txt before building k8s binaries

[2020-04-29 23:10] CecileRobertMichon opened #582 "Remove MacOS workarounds in conformance script"
Once https://github.com/kubernetes/kubernetes/pull/90617 merges, we should revert #581, specifically the two lines in ci-conformance.sh under `# workarounds for mac os` that move the gingko and kubectl  binaries to _output/bin.

[2020-04-29 23:26] CecileRobertMichon commented on #578
@jzhoucliqr I discussed with @aramase, we should do something similar to what the Azure cloud provider is doing: when reconciling the NSG, first get the existing NSG if it is already created and get the existing rules. Then, only add the rules we need for the CAPZ cluster to be functional if they do not already exist but preserve all the additional existing rules.

We should also use ETAGs to make

[2020-04-29 23:31] jzhoucliqr commented on #578
Thanks @CecileRobertMichon for sharing this. Make sense to me.

[2020-04-30 16:57] CecileRobertMichon opened #584 "Configurable OS disk caching"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently we don't set the disk caching type for OS disks (defaults to `None`).

The azure-sdk-for-go defines three caching types:

const (
	// CachingTypesNone ...
	CachingTypesNone CachingTypes = "None"
	// CachingTypesReadOnly ...
	CachingTypesReadOnly CachingTypes = "ReadOnly"
	//

[2020-04-30 16:57] CecileRobertMichon commented on #584
/help

[2020-04-30 17:25] CecileRobertMichon commented on #578
/priority important-soon

[2020-04-30 18:18] jzhoucliqr commented on #578
/assign

[2020-04-30 18:56] snehala27 commented on #578
I went through the changes required for this issue. As suggested,
azure-cloud-provider uses its own client https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/clients/armclient/azure_armclient.go#L44  to communicate with Azure resources which has the provision to specify ETAG Headers:
[code]
azure-cluster-api-provider uses client from `azure-sdk-for

[2020-04-30 19:13] jzhoucliqr commented on #578
/unassign

[2020-04-30 19:14] jzhoucliqr commented on #578
/assign snehala27

[2020-04-30 19:44] aramase commented on #578
@snehala27 The older versions (< 1.18) of azure-cloud-provider uses the `azure-sdk-for-go`. We have etag checks in those releases for security groups - https://github.com/kubernetes/kubernetes/blob/release-1.16/staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go#L184-L215. We should be able to do the same here.

[2020-04-30 20:03] snehala27 commented on #578
Thanks @aramase I got your point

[2020-04-30 21:17] devigned opened #586 "Multi-tenancy within one manager instance"
/kind feature

**Describe the solution you'd like**
Provide multi-tenancy within the same instance of a CAPZ controller, rather than one instance per credential set.

CAPA issue: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1552
CAPA multitenancy proposal: https://docs.google.com/document/d/1vwjvWc-RIZfwDXb-3tW4gKBOaPCKhripfhXshOmB5z4/edit#heading=h.13bi7vgop9tn

TODOs:
- [x]

[2020-04-30 21:20] CecileRobertMichon commented on #586
related to #583

[2020-04-30 21:20] detiber commented on #586
/cc @randomvariable @nader-ziada

[2020-04-30 23:51] CecileRobertMichon commented on #448
I updated the proposal to propose adding a generic way to specify disk partitions and mounts in cloud init as part of KubeadmConfigSpec instead of making the change etcd specific. I'll share the proposal at the capz office hours tomorrow (5/1) and at the capi office hours next week (5/6).

[2020-05-01 13:12] richardcase opened #588 "Improve local debugging experience"
/kind feature

**Describe the solution you'd like**
It would be great if there was an easier way to debug locally, especially with the the webhooks still being used.

There is a discussion on #572 around this with some ideas.

**Anything else you would like to add:**
My current debugging workflow is:
1. make create-cluster
2.  Delete the deployment and webhook configuration:
[code]
3.  Set breakpo

[2020-05-01 13:31] richardcase commented on #588
I wondered if something like this might work:

1. For debugging change the entrypoint from /manager to using delve with remote debugging enabled [ "dlv", "debug", "/manager", "--listen=:35000", "--headless=true", "--api-version=2", "--log" ]
2. Patch the manager deployment to expose the debugger port
3. Start kind exposing the debugging port using something like the following:
[code]
4. Create a V

[2020-05-01 13:52] randomvariable commented on #586
Hi, we're chatting about the AWS proposal today at 17:30 UTC. Ping me on slack [at]naadir if you want the invite with the Zoom ID & password.

[2020-05-01 16:45] richardcase commented on #586
This is really interesting, especially for highly regulated environments like banks (as the CAPA proposal mentions) and to companies offering an internal platform/self service for their engineering teams to use.

Banks are an interesting one, as even sharing a management cluster may not be allowed....depending in what era the security controls still reside in.

[2020-05-01 18:52] timothysc commented on #153
@CecileRobertMichon - Is this targeted for any near-term milestone?  If we can lend a hand here just let us know, I think it would be great to enable windows deployments.

cc @nader-ziada @yastij @ncdc

[2020-05-01 18:54] ksubrmnn commented on #153
/unassign @ksubrmnn
/assign @JocelynBerrendonner

[2020-05-01 18:54] ksubrmnn commented on #153
/assign @ksubrmnn @marosset

[2020-05-04 18:32] #472 closed

[2020-05-04 20:29] jackfrancis commented on #497
@CecileRobertMichon should we re-scope this issue to just the `location` property? If so, then #522 will close this. If not, then I'll note in #522 that we've made progress, but we'll keep this issue open.

[2020-05-04 20:43] CecileRobertMichon commented on #497
@jackfrancis let's keep this one open and once #522 merges we can make a list of the other properties that should be validated as immutable in this issue for someone else to pick up.

[2020-05-06 01:15] zawachte-msft opened #598 "Cluster-Template Ordering"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Looking at the cluster-template.yaml for other CAPI infra providers, they all make sure to order the template objects before the objects that reference them. The base cluster-templete.yaml for azure has the reverse order.

This can lead to a timing issue when core CAPI is reconciling th

[2020-05-06 04:35] #480 closed

[2020-05-06 15:09] nader-ziada commented on #312
@devigned for the user managed identity, would the user have to create the identity first and pass it along in the cluster yaml? or would the we actually create it?

[2020-05-06 16:34] devigned commented on #312
For user assigned identities, there are a couple routes.
1. The identity could be created out of band, [possibly using Azure CLI](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-cli#create-a-user-assigned-managed-identity) or other flow, and assigned the desired roles. The identity or identities would then need to be specified by

[2020-05-06 16:50] jseely commented on #312
@devigned are the Managed Identities only used for the cloud controller manager?

They aren't being used for the management cluster to provision workload clusters, are they?

[2020-05-06 17:30] devigned commented on #312
Managed Identities are not currently used in the cloud controller manager, but they definitely could be. I would go as far as to say they should be the preferred identity for cloud controller manager in environments that support managed identities.

We _must_ also support Service Principal credentials.

[2020-05-06 18:17] CecileRobertMichon commented on #598
Great question @zawachte-msft. The capz templates are auto-generated by kustomize with `make generate-flavors`.  For example, the default `cluster-template.yaml` uses this kustomization https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/flavors/default/kustomization.yaml which does put machine-deployment after the base template. I think we can leverage the `--reord

[2020-05-06 18:34] devigned commented on #598
Seams reasonable to use the `--reorder none` flag.

I noticed the ordering, but had hoped the impact would be less than would be noticed. Apparently, it is noticeable. It should be corrected.

[2020-05-06 18:38] CecileRobertMichon commented on #598
SGTM. I can open a PR.

/assign

[2020-05-06 20:14] devigned opened #600 "Provide deadlines or cancelations for all uses of `context.Context`"
/kind feature

**Describe the solution you'd like**
An iteration of a reconcile loop should be bounded by a default deadline. In other words, a single execution of reconcile in a controller should not be able to run indefinitely.

As of today, there are several code paths where `context.TODO()` is used for a context. This context provides no ability to cancel or bound execution on those code paths

[2020-05-06 20:19] #598 closed

[2020-05-06 22:20] asatish opened #601 "cluster/machine controller need to pause in v1alpha3 with annotation present"
/kind bug

**What steps did you take and what happened:**
As specified in cluster API alpha2 to alpha3, providers need to check for pause annotation in cluster/machine controller which is used by clusterctl during a move. This is not present in azure provider.

https://cluster-api.sigs.k8s.io/developer/providers/v1alpha2-to-v1alpha3.html#support-the-clusterx-k8siopaused-annotation-and-clusterspecp

[2020-05-06 23:11] CecileRobertMichon commented on #580
this has not repro-ed since #581

/close

[2020-05-06 23:11] #580 closed

[2020-05-06 23:12] CecileRobertMichon commented on #601
Thanks @asatish, looks like we missed this.
/help
/milestone v0.5

[2020-05-06 23:18] CecileRobertMichon commented on #426
We should into how/if https://github.com/NVIDIA/gpu-operator can be leveraged for this. See https://docs.nvidia.com/datacenter/kubernetes/openshift-on-gpu-install-guide/index.html.

[2020-05-07 00:33] asatish commented on #601
I have a fix for this, I can send a PR for this, thanks..

[2020-05-07 04:25] sozercan commented on #426
/assign

[2020-05-07 18:55] #582 closed

[2020-05-08 14:41] ncdc opened #603 "Bootstrap failure detection"
/kind feature

**Describe the solution you'd like**
If bootstrapping doesn't succeed, set AzureMachine.Status.FailureReason and FailureMessage to indicate there was an error.

**Anything else you would like to add:**
More information in https://github.com/kubernetes-sigs/cluster-api/issues/2554.

We may need to amend the bootstrap provider contract to require them to write a sentinel file indicati

[2020-05-08 14:44] ncdc commented on #603
We will need a way for the CAPZ controller to be able to determine the status for a given AzureMachine. Does Azure have any services where the bootstrap logic in the VM could send an update to an Azure service (such as a message queue) to indicate bootstrap success? Or maybe some way to label or tag the Azure VM? This would need to be properly secured, presumably.

[2020-05-09 06:06] weng271190436 commented on #556
/assign

[2020-05-10 02:25] alexeldeib commented on #603
I **think** the credentials in azure.json (or MSI) should do the trick for worker authentication, assuming we setup RBAC correctly.

There's an existing boot diagnostics option on VMs that streams cloud init + boot time logs into a plain text file in a storage account. Uploading a sentinel file that way or tagging a VM would probably be doable.

If you're thinking more like a message queue (perhap

[2020-05-11 14:16] nader-ziada commented on #603
azure also supports the option to [add a tag](https://docs.microsoft.com/en-us/rest/api/resources/tags/createorupdateatscope) to the VM

[2020-05-11 15:19] ncdc commented on #603
Whatever we do, we need to make sure that the information is available for inspection any time, and that CAPZ doesn't have to be running to receive a notification. I want to avoid a situation where bootstrapping fails, but CAPZ crashes/goes offline for whatever reason, and because it's down, we miss the notification that bootstrapping failed. It sounds like the options you suggested are all feasib

[2020-05-11 17:24] nader-ziada commented on #307
hey @mboersma , if you are not working on this, mind if I give it a try?
cc: @CecileRobertMichon

[2020-05-11 17:28] mboersma commented on #307
@nader-ziada obviously I haven't gotten anywhere--please do, I don't want to impede progress.

[2020-05-11 18:11] CecileRobertMichon commented on #601
/assign @asatish

[2020-05-11 20:01] CecileRobertMichon opened #605 "Add ci-apidiff job"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Run go-apidiff on PRs to ensure to breaking changes are introduced.

https://github.com/kubernetes-sigs/cluster-api/pull/2923
https://github.com/kubernetes/test-infra/pull/17234

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.

[2020-05-11 20:01] CecileRobertMichon commented on #605
/assign

[2020-05-11 20:47] sozercan commented on #426
Looks like NVIDIA `gpu-operator` doesn't support `containerd` yet (`containerd` itself supports GPUs but needs runtime configuration changes to use them with device plugin).
https://github.com/NVIDIA/gpu-operator/issues/7

If we don't want to wait for `containerd` support, we can resolve this similar to aks-engine, install GPU driver to N series nodes and then deploy device plugin separately. Not

[2020-05-11 21:12] sozercan commented on #426
If anyone wants to install drivers and device plugin manually, here are instructions:

Deploy capz with N Series SKU (includes NVIDIA GPUs). Once cluster is up, ssh into each agent node that has GPUs and run these:

Install drivers:
[code]

Install NVIDIA container runtime:
[code]

Configure containerd:
[code]

Verify containerd can access the GPUs: (you should see same output as nvidia-smi)
[code

[2020-05-12 15:28] ncdc commented on #312
Will we be able to test all the various auth options in CI?

[2020-05-12 15:41] devigned commented on #312
@ncdc, we will be able to test for workload clusters no problem. Testing a control plane cluster would be a little odd. I think we would want to create a workload cluster, then pivot control plane to that cluster since managed identity would only be available in the Azure provisioned machines.

Does that make sense?

[2020-05-12 15:51] ncdc commented on #312
Yes, that makes sense. Thanks. I'd imagine we'd want to test all the relevant scenarios for:

- Bootstrap cluster (not running in Azure)
- Workload cluster
- Management cluster running in Azure

[2020-05-12 16:57] CecileRobertMichon commented on #110
@justaugustus is it okay if I help out with this?

[2020-05-12 17:12] #556 closed

[2020-05-12 17:35] alexeldeib opened #606 "enable vm bootdiagnostics"
/kind feature

**Describe the solution you'd like**

Azure VM and VMSS support a boot diagnostics feature which streams cloud init logs and boot time output into a storage account. This is incredibly useful for debugging bootstrapping failures when using cloud init, as all the logs get exfiltrated for the machine.

Consider enabling this for AzureMachine and AzureMachinePool.

https://godoc.org/gi

[2020-05-12 17:41] CecileRobertMichon opened #607 "Leverage CAPI clusterctl test framework"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Use the new CAPI e2e tests https://github.com/kubernetes-sigs/cluster-api/blob/master/test/e2e/quick_start.go for testing Azure infrastructure.

See https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1716

**Anything else you would like to add:**
[Miscellaneous informati

[2020-05-12 17:41] CecileRobertMichon commented on #607
/assign @chewong

[2020-05-12 17:46] CecileRobertMichon opened #608 "Validating webhooks seem to not be working"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

After #556 merged, I tried creating a cluster with an invalid vnet resource group name and got no webhook error, but the Azure SDK showed errors in the logs. Setting the replicas to 0 for KCP does return an error, so CAPI webhooks seem to be working as expected.

**What did you expect t

[2020-05-12 17:46] CecileRobertMichon commented on #608
/priority important-soon

[2020-05-12 17:53] CecileRobertMichon opened #609 "Refactor: Services should not return interfaces"
**Detailed Description**

_Follow up on https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/482#discussion_r421789468_

We should be returning SDK types for Azure resources in services/ instead of interface{}.

Also, we should remove unused service mocks (we mock the Azure Clients and those are the ones used in tests):
- remove unused https://github.com/kubernetes-sigs/cluster-api-p

[2020-05-12 17:55] CecileRobertMichon commented on #609
@juan-lee are you still interested in helping with this?

[2020-05-12 17:56] CecileRobertMichon commented on #609
cc @alexeldeib @justaugustus @devigned

[2020-05-12 18:44] #578 closed

[2020-05-12 20:04] jseely commented on #469
@devigned, @CecileRobertMichon and I discussed this. These are the following points we've agreed on for implementation:
* Cloud Instance selection should happen at the Controller level
* Optional `AZURE_ENVIRONMENT` environment variable parsed by `azure.EnvironmentFromName(string)` in `go-autorest` enabling environment endpoints from file
* All clients must be created using the endpoints from the

[2020-05-12 20:11] jseely commented on #469
@devigned also brought up that if an ARM endpoint has been provided that you can look up the rest of the endpoints from there.

After looking through the code between `cluster-api-provider-azure` and `go-autorest` it seems that that functionality should live in `go-autorest` to replace the `environments` map from `EnvironmentName` to `Environment`.

Does that work for you @devigned?

[2020-05-12 20:31] devigned commented on #469
I thought go-autorest provided a few way to load metadata (I cheated and looked at the code).

1) [Load from ARM metadata endpoint](https://github.com/Azure/go-autorest/blob/9132adfc9db3007653dccb091b6a6c8e09b74ef5/autorest/azure/metadata_environment.go#L96)
2) [Load from well-known name](https://github.com/Azure/go-autorest/blob/9132adfc9db3007653dccb091b6a6c8e09b74ef5/autorest/azure/environments

[2020-05-12 20:40] alexeldeib commented on #469
Overall 👍🏻 Sovereign clouds are a mix of 1/3, btw.

I don’t think this code should live in go-autorest. We should make helpers in capz and drop down to go-autorest internals/AAD as necessary.

[2020-05-13 00:30] voor commented on #469
If possible, this PR could also include something to update the `KubeadmConfigTemplate` and `KubeadmControlPlane` to recognize the cluster is being deployed in another cloud environment, since that's currently expecting `AzurePublicCloud`

[2020-05-13 17:30] alexeldeib opened #611 "[managedcluster] e2e tests"
/kind feature

**Describe the solution you'd like**
We should add e2e tests similar to the existing tests for Azure, particularly being sure to validate the options we provide to AKS match the result we get.

[2020-05-13 17:32] alexeldeib opened #612 "[managedcluster] validating webhook for DNS IP"
/kind feature

**Describe the solution you'd like**
In AKS users can provider the service CIDR but also can individually provide a DNS IP. We should ensure the DNS IP is inside the service CIDR inside a validating webhook to avoid footguns.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-05-13 17:34] alexeldeib opened #613 "[managed cluster] documentation"
/kind documentation

**Describe the solution you'd like**
Users should understand how to use managed clusters in CAPZ from our documentation 🙃 We should have example templates as well as markdown around how to deploy a cluster.

[2020-05-13 17:37] alexeldeib opened #614 "[multitenancy/managedcluster] enable reading Azure credentials from secret"
/kind feature

**Describe the solution you'd like**
For multitenancy and least-privilege access, it should be possible to inject a different set of credentials from those running in the manager for use inside the cluster.

[2020-05-13 17:39] alexeldeib opened #615 "[managedcluster] defaulting webhooks"
/kind feature

**Describe the solution you'd like**
There are probably a fair number of properties we could default earlier in the pipeline. CNI, Load balancer SKU, networking fields, node SKU/default pool. Add a defaulting webhook and begin defaulting some of these fields.

[2020-05-13 21:54] devigned commented on #312
After discussing with @CecileRobertMichon, we would like to propose the following:
- scope user assigned identities to only "bring your own identity"
- add an array of identities to AzureVirtualMachine

Something like:
[code]

AzureVirtualMachine should validate that if `VMIdentity == "UserAssigned"`, the `UserAssignedIdentities` array is populated with at least one identity.

The ProviderID for t

[2020-05-13 21:59] CecileRobertMichon commented on #312
@devigned s/AzureVirtualMachine/AzureMachineSpec no?

[2020-05-13 22:00] devigned commented on #312
</ninja edit> @CecileRobertMichon what do you mean.

[2020-05-13 22:01] devigned commented on #312
Also, if those field / struct names offend any senses, please offer changes. They were off the cuff.

[2020-05-14 20:52] CecileRobertMichon commented on #608
What @devigned @alexeldeib and I have observed so far:

- This repros 100% of the time
- Applies to all CAPZ webhooks
- CAPI webhooks work
- webhooks are created on the cluster:
[code]

- capi-webhook-system capz-manager logs show:
[code]
and
[code]

- AzureClusterWebhook looks like:
[code]

[2020-05-14 22:03] CecileRobertMichon commented on #608
After further inspection, it seems that only the fields validated by upstream k8s throw errors for CAPI resources so it looks like CAPI webhooks are also affected.
For example, (provided by @alexeldeib):

https://github.com/kubernetes-sigs/cluster-api/blob/15300a4b6924dcca85c94efdfc06fb80dccaf47a/api/v1alpha3/cluster_webhook.go#L78

[code]

The above spec should not be valid since it has namespace

[2020-05-14 22:23] CecileRobertMichon opened #618 "RFE: [v1alpha4] redesign user-facing API"
Currently, the AzureCluster and AzureMachine specs are mostly flat. While this works as there are few configuration knobs, it is probably not the best long term as we add more features and configuration options. This is marked as [v1alpha4] because it would be a breaking change but I want to start thinking about this ahead of time so that we have a proposal ready when the time to switch to v1alpha

[2020-05-14 23:28] jseely commented on #469
@voor I agree that would be nice, I'd love to see all of the duplicated values in from the `KubeadmControlPlane` config be managed by the `AzureCluster` scope context. ie. have AzureCluster provide the values to generate the config file. That said I don't think that should be part of this PR.

[2020-05-15 03:06] alexeldeib opened #622 "[managedcluster] should check provisioning status before attempting changes"
/kind bug

**Describe the solution you'd like**
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/4b049939e18f0ba735735c41ac3fa9f828cd5236/cloud/services/managedclusters/managedclusters.go#L181

This code unconditionally sends the cluster to Azure for updates. We need to do a Get() first on the cluster and ensure the provisioning state is in a terminal mode (succeeded, failed, etc

[2020-05-15 08:06] alexeldeib opened #623 "defaulting + templates for marketplace images"
/kind feature

**Describe the solution you'd like**
The current template doesn't have any image in it. This may be tricky due to date/version, but we could at least do defaulting for the user. That may still required network calls to determine the most suitable image offer, but we should try.

Thoughts?

[2020-05-15 14:57] nader-ziada commented on #603
/assign

[2020-05-15 15:51] #608 closed

[2020-05-15 15:54] CecileRobertMichon commented on #623
So I looked into doing this a while back and I ran into two main problems:

1) The `Image` field is in `AzureMachine` and it depends on `Version` which is in `AzureCluster`, which makes it hard to default with a webhook without opening up the door for race conditions
2) If we default it, we also have to make sure it gets updated during upgrades (ie. When `Version` is changed). But then that also m

[2020-05-15 16:47] CecileRobertMichon commented on #439
/close

fixed in #572

[2020-05-15 16:47] #439 closed

[2020-05-15 16:55] CecileRobertMichon commented on #356
@aramase are you still working on this?

[2020-05-15 16:59] aramase commented on #356
@CecileRobertMichon yeah, I'll raise the PR for it soon.

[2020-05-15 18:56] rbitia opened #624 "Easily enabling Azure Monitoring on CAPZ created clusters"
/kind feature

**Describe the solution you'd like**
I'd like to easily enable azure container monitoring on my management k8s cluster (if needed) and k8s clusters created from there. Ideally we would utilize the outcome of the Cluster Resource Set proposal here: https://github.com/kubernetes-sigs/cluster-api/pull/3050

[2020-05-15 20:04] alexeldeib commented on #623
1. Can we not use https://github.com/kubernetes-sigs/cluster-api/blob/703111b822505e836236541ac51795bb38928a60/api/v1alpha3/machine_types.go#L58-L61 from the owner machine? The defaulting also doesn't have to be in webhook, note that I didn't mention it in the issue because I wanted to leave the door open to not forcing validation in webhook and letting the controller handle lookup on the CAPI Clu

[2020-05-15 20:07] CecileRobertMichon commented on #623
Agreed, but if that's the case then we can't enforce the field in the validating webhook (which is what it's currently doing)

[2020-05-15 20:07] alexeldeib commented on #623
can you clarify the race condition you're seeing?

I see the one being that AzureMachine tries to default before version is set on AzureCluster. That's fine, come back later. This is expected behavior already using e.g. kubectl.

I don't really understand the case for a race where AzureCluster has a version that's removed after AzureMachine uses it.

[2020-05-15 20:11] alexeldeib commented on #623
FWIW, personally, I kind of feel "runtime-y" validation should be done in the controller. The things I would want to do in a webhook are often covered today by structural schema. So I don't really think that's the end of the world.

I don't like the runtime behavior of webhooks in terms of latency, especially when you're issuing lots of client calls from inside the webhook context. It's bad UX bec

[2020-05-15 20:23] CecileRobertMichon commented on #623
@alexeldeib currently the defaulting already happens in the controller for AzureMachine.

My comment about race conditions only applies if we move that defaulting in the webhook, which is what I thought your original issue was (read too fast and missed that you actually left out webhooks on purpose).

[2020-05-15 20:29] alexeldeib commented on #623
Not sure I follow how the webhook makes it a race condition?

[2020-05-15 21:03] CecileRobertMichon commented on #623
It was a few months back that I started a branch trying to make the default for Image happen in the AzureMachine webhook so I don't remember exactly but I had talked to @devigned about it so maybe he has better recollection. I think it was something to do with the fact that if you default a field in one object's defaulting webhook that depends on another object's spec then you introduce some concu

[2020-05-15 21:06] CecileRobertMichon commented on #623
This is where the image is currently getting defaulted: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azuremachine_reconciler.go#L380

[2020-05-15 21:36] CecileRobertMichon commented on #603
@nader-ziada the tags are only visible to the Azure user, that might be one downside of using tags (ie. if we wanted to ever gather data on percentage of bootstrap failures/success).

[2020-05-15 21:37] CecileRobertMichon commented on #519
@ritazh are you working on this? I see you're still assigned.

[2020-05-15 21:38] CecileRobertMichon commented on #475
@justaugustus are you still working on this?

[2020-05-15 23:29] CecileRobertMichon commented on #475
FYI @devigned since you were asking about automating releases ^

[2020-05-15 23:46] CecileRobertMichon opened #627 "Refactor: improve use of scope and middle layer Spec types in services"
Currently, each service in https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/cloud/services has its own spec type defined that is used as input to create the Azure resource. For example, subnets have `Spec`: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/subnets/subnets.go#L33

[code]

The values in this spec get populated by the az

[2020-05-15 23:46] CecileRobertMichon commented on #627
cc @jsturtevant

[2020-05-15 23:53] CecileRobertMichon commented on #627
/assign

[2020-05-16 00:11] CecileRobertMichon commented on #627
Thinking about this more, this does not work if the same Reconcile() func is used to create two different resources, for eg. https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azurecluster_reconciler.go#L211 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/controllers/azuremachine_reconciler.go#L229

[2020-05-16 00:49] ritazh commented on #519
@CecileRobertMichon sorry for the delay. Have not had time to work on this yet.

/unassign

[2020-05-16 06:39] alexeldeib commented on #623
The blurb above was just for context -- I think we do the right thing now which is why I'm not concerned. Also I see what you're saying about the webhook behavior.

For the sake of the templates, I think you fixed this by removing the webhook validation so the defaulting actually runs and the templates work without user-specified images (that's why I opened the issue).

For upgrade, we can probabl

[2020-05-16 07:29] alexeldeib commented on #623
CAPI doesn't do mutable upgrades

[2020-05-16 07:29] #623 closed

[2020-05-18 11:45] nprokopic commented on #416
Hi @devigned, if I understood correctly, you mentioned at the last CAPZ meeting that there will be some news about this. Is it me failing to find it, or there is nothing out there yet?

[2020-05-18 18:42] CecileRobertMichon commented on #448
Also look into https://github.com/Azure/aks-engine/issues/3285 and https://github.com/Azure/aks-engine/issues/3286

[2020-05-18 19:56] rbitia opened #629 "Flatcar support for CAPZ"
/kind feature

**Describe the solution you'd like**
Support users that have a dependency on CoreOS by supporting Flatcar containers in CAPZ.

[2020-05-18 19:58] detiber commented on #629
I suspect this will need additional support from the kubeadm bootstrap provider and image-builder support as well (https://github.com/kubernetes-sigs/cluster-api/issues/1582), since Flatcar is managed quite a bit differently than the currently supported OSs.

[2020-05-18 21:31] CecileRobertMichon commented on #613
Note: we should make sure this includes the feature flags needed for the feature (both AKS and MachinePool).

[2020-05-19 07:30] nprokopic commented on #416
Awesome, thank you! It looks quite interesting, I definitely like the approach.

[2020-05-19 15:27] nader-ziada commented on #347
I think can be closed now @rbitia

[2020-05-19 16:25] #312 closed

[2020-05-19 16:43] nader-ziada commented on #521
I think this should should have been closed with #616 PR

@CecileRobertMichon

[2020-05-19 16:44] CecileRobertMichon commented on #521
/close

[2020-05-19 16:44] #521 closed

[2020-05-19 17:49] #605 closed

[2020-05-19 20:46] bagnaram opened #631 "Skip Deletion of vnet in Unmanaged Mode"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Specify `AZURE_VNET_NAME` to an already existing vnet and deploy the cluster. When deleting the cluster, CAPZ attempts to delete the vnet.

**What did you expect to happen:**
CAPZ should not attempt to remove vnet resources in unmanaged mode.

**Anything else you would like to add:**
[co

[2020-05-19 22:48] CecileRobertMichon commented on #631
@bagnaram was the vnet created by another capz cluster?

[2020-05-19 22:59] CecileRobertMichon commented on #631
/assign

[2020-05-19 23:42] CecileRobertMichon commented on #631
vnet deletion is skipped when the vnet is not owned by the clsuter (ie. it does not have the owned tag with value clusterName): https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/virtualnetworks/virtualnetworks.go#L122

[2020-05-20 13:13] bagnaram commented on #631
No it was previously created manually. I will have to dig deeper into the codebase and determine what occurred.

[2020-05-20 13:22] bagnaram commented on #631
/label triage/needs-information

[2020-05-20 14:17] bagnaram commented on #631
Steps to reproduce:
1. Provision CAPZ cluster on already existing vnet `mbagnara-vnet`. `capz-test.yaml`
2. CAPZ controller will fail to provision AzureCluster because target vnet's subnet doesn't exist.
3. Delete `capz-test` `kubectl delete -f capz-test.yaml`
4. AzureCluster status will be hung
[code]
Viewing the logs shows that the controller is attempting to delete the vnet `mbagnara-vnet` but

[2020-05-20 18:50] CecileRobertMichon commented on #631
I was able to repro, it looks like the problem is that vnet.ID is empty which is causing `isManaged` to return true. It shouldn't be empty because it should be getting set by https://github.com/sozercan/cluster-api-provider-azure/blob/master/cloud/services/virtualnetworks/virtualnetworks.go#L92, not sure why that's not happening yet. It does get set for managed vnets which is interesting...

[2020-05-20 18:55] CecileRobertMichon commented on #631
there's also a passing unit test that validates that this works as expected so I'm a little puzzled: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/virtualnetworks/virtualnetworks_test.go#L99-L100

[2020-05-20 19:06] mboersma commented on #307
@nader-ziada I actually have this working now in a local branch. I'm adding some tests and will push a PR out soon.

[2020-05-20 19:14] srm09 commented on #561
/assig

[2020-05-20 19:17] nader-ziada commented on #307
Thanks @mboersma

[2020-05-20 21:13] nader-ziada commented on #469
/assign

[2020-05-20 21:42] srm09 commented on #561
@CecileRobertMichon IIUTC, at this time the version info does not get included in the binary anywhere. And the changes required are to push version information into the binary and have them show up in the startup log?

[2020-05-20 22:18] CecileRobertMichon commented on #606
related to #603

[2020-05-20 22:52] mboersma opened #635 "API version failure trying to delete VMSS"
/kind bug

**What steps did you take and what happened:**

Trying the experimental MachinePool support, once I enabled `--feature-gates=MachinePool=true` I ran into this error provisioning a `--flavor=machinepool` cluster with master:

[manager] E0520 22:39:51.871677       8 controller.go:258] controller-runtime/controller "msg"="Reconciler error" "error"="error deleting AzureCluster default/capz-

[2020-05-20 23:30] CecileRobertMichon commented on #631
update: this actually only happens if the subnets are not provided, confirmed it works as expected if the subnets exists. Still a bug but this helps reduce the scenario quite a bit.

[2020-05-21 00:09] devigned commented on #635
That's surprising. Here's the docs for it.

<img width="1457" alt="image" src="https://user-images.githubusercontent.com/386473/82509406-a8846700-9abc-11ea-8c78-0f1723fcb3b8.png">

[2020-05-21 00:10] devigned commented on #635
That's surprising b/c here's the docs:

<img width="1457" alt="image" src="https://user-images.githubusercontent.com/386473/82509462-ceaa0700-9abc-11ea-96db-61bb77e23341.png">

[2020-05-21 00:27] CecileRobertMichon commented on #631
I think I found the root cause: it's a regression due to the newly introduced webhook validation which is failing the AzureCluster object update. Will send a PR shortly.

[2020-05-21 00:41] CecileRobertMichon commented on #631
the other thing I realized is that if you are passing in an existing vnet, it is expected that you'll also provide the RG name of where that vnet is located. If you do, the webhook validation would prevent you from even creating that cluster without specifying subnets. It is [documented](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/topics/custom-vnet.md) but unfor

[2020-05-21 13:42] juan-lee commented on #624
Shouldn't this go in an azure monitor repo? This does seem like a core concern of cluster lifecycle.

[2020-05-21 13:47] juan-lee commented on #337
@alexeldeib should we close this since it's done?

[2020-05-21 15:00] randomvariable commented on #539
Chatting @nader-ziada , I hadn't realised Ubuntu switched to chrony in 18.04, so I think we're good to go with chrony for the major distros.

[2020-05-21 16:00] nader-ziada commented on #539
Had a chat with @randomvariable to understand his comment more, he was worried about whether ubuntu supports chrony, and since we found that it does since 18.04, seems like its an appropriate solution.

[2020-05-21 16:01] nader-ziada commented on #539
/assign

[2020-05-21 16:09] nader-ziada commented on #539
created PR in image builder repo https://github.com/kubernetes-sigs/image-builder/pull/240

[2020-05-21 20:30] CecileRobertMichon commented on #618
type Subnets should be `type Subnets [SubnetRole]*SubnetSpec` instead of `type Subnets []*SubnetSpec` and we should remove the `Role` field in `SubnetSpec`.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/api/v1alpha3/types.go#L78

This assumes there should be one and only one subnet per "role" (ie. ControlPlane, Node), which is the case today but we should determine if

[2020-05-21 21:27] mboersma commented on #635
I tried again in southcentralus and didn't see this error. I did get a successful VMSS/MachinePool.

I'll try to do more testing so ensure that it's actually region-specific. Could be a transitional bug as well; it may "just work" now.

[2020-05-21 23:16] jsturtevant opened #641 "Templates for clusters are only partially namespaced"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When running `make create-workload-cluster` while `kubeconfig` is pointing at a namespace other than `default` for most 'flavor' and parts of the templates will end up in default namespace and other parts will end up in current namespace.  This causes only parts of the cluster to be prov

[2020-05-22 01:37] jseely opened #644 "Enable VMSS for Control Plane Nodes"
Currently CAPZ has, in experimental, the ability to deploy worker nodes as VMSS via the CAPI `MachinePool` and CAPZ `AzureMachinePool` resources. This issue is to discuss how we can enable VMSS support for Control Plane nodes.

***Goals***
1. Enable deployment of Control Plane (Master) nodes via VMSS

***Non-Goals/Future Work***
1. Upgrade cluster
1. Upgrade path for VMSS VM types

**User Story**

[2020-05-22 06:32] alexeldeib commented on #644
If we can generalize the quirks of VMSS (e.g. no ordering guarantees) in a way that makes sense upstream, I think that's a big win. One viable but maybe suboptimal solution would be a provider-specific control plane implementation for vmss.

[2020-05-23 02:03] srm09 commented on #558
@CecileRobertMichon Where can I find docs listing the immutable fields?

[2020-05-23 02:28] alexeldeib opened #648 "machinepool + SLB ingress broken"
/kind bug

**What steps did you take and what happened:**
Provision a CAPZ cluster using the machinepool cluster template.

Apply this https://github.com/alexeldeib/ocsp-demo/blob/master/apply.sh

Try to connect to the load balancer:
[code]

Resulted in connection timeouts.

**What did you expect to happen:**
This should produce a publicly trusted https site, and the load balance IP should be reac

[2020-05-23 07:09] alexeldeib commented on #627
Doing everything through scope makes sharing for e.g. machine/machinepool and cluster/managedcluster more painful 🙁  Can we try to pass necessary values from the reconcile loop to the services?

The services shouldn't care about what type they're reconciling against; just the Azure stuff involved.

[2020-05-23 07:13] alexeldeib commented on #337
/close

follow-ups in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues?q=is%3Aissue+is%3Aopen+%5Bmanagedcluster%5D

[2020-05-23 07:13] #337 closed

[2020-05-26 06:30] richardcase commented on #467
This would be good for installing the CNI: https://github.com/kubernetes-sigs/cluster-api/pull/3050

[2020-05-26 16:43] #515 closed

[2020-05-26 17:03] CecileRobertMichon commented on #558
@srm09 this hasn't been documented yet, one the CAPZ maintainers needs to do a bit of work to list those in this issue before it can really be picked up by a newcomer, going to remove the good first issue label for now.

/remove good-first-issue

[2020-05-26 17:03] CecileRobertMichon commented on #558
/remove-good-first-issue

[2020-05-26 17:37] CecileRobertMichon commented on #627
@alexeldeib that's a very fair point. To be honest, I'm still experimenting right now and not set on a specific design because there are still some unanswered questions, the one you bring up is one of them.  I think the main issue is that right now the services don't just do "reconcile an Azure resource", they also have some CAPZ specific logic in there. And they're not doing all of the CAPZ logic

[2020-05-26 18:00] alexeldeib commented on #627
Extracting the middle spec type from the scope as part of e.g. reconcile seems interesting. I think mostly it's painful right now because the services use scope liberally to grab bits and pieces of what they need. The dependencies aren't very explicit.

[2020-05-27 16:10] jsturtevant commented on #648
This will be a similar issue for IPV6 support.

For IVP6 only:

- A cluster load balancer needs to be provisioned  at cluster create time
- a ipv4 route configured prior to adding an ipv6 route via the cloud controller manager
- outbound connectivity will need to be configured
- the cluster load balancer needs to created with cluster name for the [cloud controller manager to find it](https://githu

[2020-05-27 18:04] nader-ziada commented on #469
@devigned are you saying that the code should make a call to the arm endpoint to get the settings? or use all three methods?

[2020-05-27 18:34] devigned commented on #469
I'm open to proposals.

What do you think about the following:
1. Have a top level setting for either a well known cloud name or `"CustomCloud"`
    1. if well known cloud name, fetch configuration settings from well known cloud name from go-autorest
    2. if `"CustomCloud"`, require settings file or metadata endpoint to be set
2. Check if metadata endpoint is set, if so, override settings with m

[2020-05-27 20:00] nader-ziada commented on #469
in that case would `metadata endpoint` and `settings file path` be other environment variables? and what happens if you set both?

[2020-05-27 20:38] devigned commented on #469
With the numeric ordering in my previous comment, I was implying an order of operations applying settings in a cascading order. What do you think?

[2020-05-27 20:49] nader-ziada commented on #469
yeah makes sense but from your previous comment above in the issue I thought the metadata endpoint should have preference over the file, but here seems the file overrides the endpoint

[2020-05-27 20:57] devigned commented on #469
I think the metadata endpoint is the more transparent to the user, but I think the well known cloud name will be easier for users. I've vacillated between the order of operations, and feel like I might be too close to the subject represent a user.

Also, didn't want to edit the previous comment since there were references to it in the thread.

[2020-05-27 21:03] nader-ziada commented on #469
ok, sounds good, I'll update the PR and we can get more feedback there! thanks

[2020-05-27 21:04] devigned commented on #469
Awesome! Thank you, @nader-ziada.

Also, if anyone else has an opinion, please speak up.

[2020-05-27 21:15] CecileRobertMichon commented on #469
+1 on allowing users to provide a well known cloud name and fetching the settings from that as the first "choice", I think having the flexibility of passing in a metadata endpoint is great but it's not as user friendly.  The ordering @devigned mentions above sounds good to me.

[2020-05-27 23:09] CecileRobertMichon opened #651 "Set user-agent for Azure SDK calls"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As a follow up to #639, we should add the CAPZ version in the user agent so it's easier to analyze logs from Kusto etc.

See https://github.com/Azure-Samples/azure-sdk-for-go-samples/blob/96378ae3cc4136d637d8a041c8fb9dbc58b26f86/compute/vm.go#L27 and https://github.com/kubernetes-sigs

[2020-05-28 06:27] ritazh opened #654 "Baseline measurements from load test"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Get baseline [measurements](https://github.com/kubernetes/perf-tests/tree/master/clusterloader2#measurement) using clusterloader2 similar to https://k8s-testgrid.appspot.com/google-gce#gce-cos-1.18-scalability-100 so that we can compare baseline measurements across different releases

[2020-05-28 16:02] #563 closed

[2020-05-28 17:22] CecileRobertMichon commented on #467
@mboersma is this one you'd be interested in working on? It's a relatively hi-pri one because it's a blocker for IPv6 (cc @jsturtevant)

[2020-05-28 18:00] srm09 commented on #557
Working on this one.

[2020-05-28 19:22] mboersma commented on #467
@CecileRobertMichon yes indeed, I can probably start on this tomorrow.

[2020-05-28 21:30] CecileRobertMichon commented on #618
I don't think that's always going to be true so it might actually be better to have a map where the key is `Name` :

`type Subnets [string]*SubnetSpec`

because Subnet name is and should be unique within a vnet, https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-subnet#add-a-subnet, and that's an Azure infrastructure constraint, unlike role which is subject to change.

[2020-05-28 21:37] #607 closed

[2020-05-29 15:56] CecileRobertMichon commented on #648
I can work on this, or @jsturtevant if you already have a working fix and you want to open a PR for it we can merge it separately ahead of ipv6.

[2020-05-29 15:59] CecileRobertMichon commented on #641
/close

fixed by #642

[2020-05-29 15:59] #641 closed

[2020-05-29 17:03] chewong opened #656 "MachinePool takes 15 minutes to come online"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

MachinePool takes around 15 minutes after the control plane is Ready to come online.

I create the cluster with `./hack/create-dev-cluster.sh` with `CLUSTER_TEMPLATE=./templates/cluster-template-machinepool.yaml`

`kubectl get nodes`:
[code]

`kubectl logs capz-controller-manager-7f47f4

[2020-05-29 17:25] jseely opened #657 "HA Clusters in Non-AZ enabled Regions"
***Goals***
1. Provide a mechanism to create HA clusters in regions that do not support AZs
1. Investigate VMSS Orchestration Mode (Preview Feature) and Availability Sets
1. Investigate interoperability between Availability Zones and (VMSS Orchestration Mode or Availability Sets)

***Non-Goals/Future Work***
1. Core API CRD support for VMSS Orchestration Mode

**User Story**

As a user I would lik

[2020-05-29 17:26] jseely commented on #657
^ @CecileRobertMichon @devigned @justaugustus @nader-ziada @rbitia from today's office hours

[2020-05-29 19:27] #561 closed

[2020-05-29 20:19] CecileRobertMichon commented on #557
/assign @srm09

[2020-05-29 21:05] #307 closed

[2020-05-29 23:39] CecileRobertMichon commented on #651
/help
/good-first-issue

[2020-05-31 00:52] jroden commented on #542
Hi all,

First time contributor here.  I have tilt running in my development environment and am playing around with the Tiltfile.

For my clarification-- do we want this to be based on the tilt-settings.json itself?  Or have the user run something like 'make tilt-up cluster-template-aks' to run default capz cluster + ./templates/cluster-template-aks.yaml worker cluster?  (I am thinking the desired

[2020-05-31 01:42] jroden commented on #542
or do we want to use kustomize to deploy flavors from ./templates/flavors/*/ instead of ./templates/cluster-template*.yaml ?

[2020-05-31 01:55] alexeldeib commented on #542
Based on the current workflow, I think the ask is to customize the Tiltfile + tilt-settings so when users execute `make tilt-up`, the end result is a workload cluster of their choice already being deployed  (as selected by a value in tilt-settings, or the default). Sound like your first interpretation was correction.

e.g.:

[code]

[2020-05-31 02:01] devigned commented on #542
Originally, I had intended for each flavor to be a tilt local resource with a manual trigger. That way, each flavor would show up in the tilt UI. Thoughts?

[2020-05-31 02:04] alexeldeib commented on #542
Does reloading the clusters make sense? We might need to do create-delete-create, or am I overthinking it?

[2020-05-31 02:11] alexeldeib commented on #542
I should have caveated I hadn't discussed with you :) I was just noticing while flipping between the options it's a bit manual to test each one (or several at once especially).

Maybe we populate the variables programatically somehow to  avoid collisions and stuff so we can template them all at once?

[2020-05-31 02:23] jroden commented on #542
qq- should I be referring to ./templates/flavors/\*/ or ./templates/cluster-template\*.yaml for sourcing the workloads

[2020-05-31 02:32] devigned commented on #542
I’m not sure the best flow... I’m totally open to ideas to help folks dev.

cluster-template*.yaml are the generated flavors, so using those would make sense. I could also see making a case for running a kustomize task on a flavor directoy.

[2020-05-31 16:39] devigned commented on #542
@alexeldeib i really like your thoughts on allowing the different flavors to be deployed without collisions.

[2020-05-31 19:21] jroden commented on #542
Thoughts on a tilt-settings structure like below?  Or am I over-complicating this you think?

Precedence could look something like:
1. explicitly defined vars for each flavor i.e. worker-templates.flavors[0].AZURE_VNET_NAME
2. vars defined at 'metadata' level-- spans workers i.e. metadata.AZURE_VNET_NAME
3. programmatically defined default vars i.e. everything except azure tenant, client, subscrip

[2020-05-31 20:19] devigned commented on #542
@jroden, +1 to having programatic defaults. Great idea!

@vincepri, @ncdc, @detiber have you all thought about making flavors more accessible in tilt for CAPI? If so, do you have any opinion on a tilt-settings.json structure?

[2020-05-31 20:43] rbitia opened #662 "machinepool webhook not a resource"
/kind bug

I used the quickstart to configure my env for Azure so I have a mgmt cluster which is an AKS cluster and a workload cluster in Azure.

I ran `clusterctl config cluster capi-quickstart --kubernetes-version v1.17.4 --flavor machinepool > capi-quickstart.yaml ` and I expected my workload cluster config to be over written with the right machine pool config and then I used kubectl to apply t

[2020-06-01 03:36] jroden commented on #542
Thanks! @devigned

A couple questions:
should we have the tilt resource trigger_mode as auto or manual by default?  Or should we have this setting also be part of a precedence pattern?

In the case where a user has tilt running and is modifying dependency files for a worker template-- Should we apply changes to the live worker cluster or tear down & rebuild?  I am wondering about the case where us

[2020-06-01 06:26] alexeldeib commented on #489
Note, I think we want to be careful here. IIRC AKS engine did not run CSE on overprovisioned VMs. There’s no separation between cloud init and extensions here, so that route isn’t workable unless we switch to CSE (which is its own can of worms).

[2020-06-01 13:43] ncdc commented on #542
FYI, we built our Tiltfile and tilt-settings.json before https://docs.tilt.dev/tiltfile_config.html existed. It might we worth exploring this newer functionality for something like a `tilt up base` or `tilt up system-assigned-identity`.

I've also thought about using this to specify which repos to deploy, e.g. `tilt up core cabpk kcp capa` or whatnot.

[2020-06-01 15:07] devigned commented on #662
@rbitia did you turn on the experimental flags for the controllers. Check out [this slack thread](https://kubernetes.slack.com/archives/CEX9HENG7/p1589827095210000).

[2020-06-01 15:25] jsturtevant commented on #648
I have not worked through the details relating to this.

I also wasn't sure if we needed to do something similar with the created Cluster LB since both the CAPZ and cloud provider will be reconciling the same LB.  Are there examples of how this is done else where?

@CecileRobertMichon  Feel free to pick this up.

[2020-06-01 16:23] CecileRobertMichon commented on #648
/assign

[2020-06-01 16:32] CecileRobertMichon commented on #662
https://github.com/kubernetes-sigs/cluster-api/issues/3073

[2020-06-01 16:36] CecileRobertMichon opened #663 "Support FailureDomains for AzureMachinePools"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/572 added failure domain support for `AzureMachines` and `AzureClusters`. However, `AzureMachinePools` don't have knowledge of failure domains / Azure availability zones at the moment.

This will most likely require som

[2020-06-01 16:36] CecileRobertMichon commented on #663
/help

[2020-06-01 18:17] devigned commented on #542
I would vote for flavors to be manual by default.

Perhaps, tear down would be handled manually by someone running `tilt down ${flavor}`?

[2020-06-01 18:30] CecileRobertMichon opened #664 "Allow multiple subnets of role "node""
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Related to https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/643 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/618.

Currently, CAPZ expects and only allows one subnet per "role", ie. one control plane subnet and one node subnet. In the futur

[2020-06-01 18:34] CecileRobertMichon commented on #618
OSDisk. DiskSizeGB should be optional, see https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/658#discussion_r433405993

[2020-06-01 18:41] chewong commented on #474
@ksubrmnn I can help out if you don't have any bandwidth.

/assign

[2020-06-01 19:03] #631 closed

[2020-06-01 19:39] ksubrmnn commented on #474
@chewong Can you take a look at https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/534? I just messed up my original cluster which stopped me from continuing with the script but it's mostly done! Just needs validation.

[2020-06-01 20:34] CecileRobertMichon commented on #651
/assign
/remove-good-first-issue
/remove-help

[2020-06-01 21:31] chewong commented on #474
Left a comment in the PR - https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/534#discussion_r433497639. In short, I think we should re-evaluate how we collect logs from the workload cluster. Log collecting for management cluster looks good to me.

[2020-06-01 21:42] #651 closed

[2020-06-01 21:46] CecileRobertMichon commented on #474
@chewong, I think @ksubrmnn doesn't have time to keep working on this right now so I suggest we close the existing PR and you open a new PR with her previous commit (that way she's co-author) and push your changes on top of it. How does that sound to everyone?

[2020-06-01 21:49] chewong commented on #474
Sounds good to me

[2020-06-01 22:49] ksubrmnn commented on #474
works for me, thanks so much!

[2020-06-02 01:04] CecileRobertMichon commented on #656
This is what I'm observing while waiting:

- AzureMachinePool controller loops on "Bootstrap data secret reference is not yet available"

[code]

- `MachinePool` is in pending phase
[code]

- AzureMachinePool has no replicas
[code]

[2020-06-02 01:08] CecileRobertMichon commented on #656
Once `MachinePool` goes to provisioning, it only takes a few minutes for the Azure scale set to be created and the nodes to show up in the cluster... I think this might be an issue in the CAPI `MachinePool` controller.

[2020-06-02 01:10] CecileRobertMichon commented on #656
Also it didn't take 15 minutes for the vmss replicas to come up but definitely took a while, only ~3.5 minutes between the last control-plane and the first vmss node here:

[code]

[2020-06-02 01:40] jroden commented on #542
Anyone have thoughts on what should go in tilt_settings vs tilt_config?  Maybe Azure account information  in tilt_settings and worker template configurations could go in tilt_config?  Default var names (based on flavor) applied if not specified in tilt_config?

**tilt-settings**

**tilt-config**

[2020-06-02 01:45] jroden commented on #542
^Trying to find the right level of design without over-complication

[2020-06-02 04:34] jroden commented on #542
Ok, so I've made some progress and would appreciate some feedback :)

**Functionality I have sofar:**
- Users can specify flavors to be deployed via cli `tilt up ${flavor1}, ${flavor2}...`  and/or as part of _tilt_config.json_ `{ "worker-templates": ["default", "aks"] }`
- Flavors will be configured in tilt as manual local resource
- Users can configure worker cluster overwrite variables as part o

[2020-06-02 14:38] #557 closed

[2020-06-02 15:23] mboersma opened #669 "MachinePool and KubeAdmControlPlane disagree on k8s version validation"
/kind bug

**What steps did you take and what happened:**

Generate a machinepool-flavored cluster manifest:

```clusterctl config cluster capz-machinepool -f machinepool --worker-machine-count 1 --kubernetes-version 1.18.3 > capz-machinepool.yaml```

Then apply the manifest and get a validation error on the "version" field:

[code]

Adding a `v` prefix to `v1.18.3` in the manifest fixes it, but n

[2020-06-02 15:59] mboersma commented on #635
Sadly, no: this error is consistent for DELETE, but not the other verbs. I'll try to track this down with the service team responsible.

[2020-06-02 16:34] CecileRobertMichon commented on #669
@mboersma I think this is a CAPI issue, k8s version is not part of Azure types. Validation was added in https://github.com/kubernetes-sigs/cluster-api/pull/2691 but was not added for `MachinePool`. Can you please file the issue in https://github.com/kubernetes-sigs/cluster-api/issues and close this one?

[2020-06-02 16:37] CecileRobertMichon commented on #662
I'm going to close this since we confirmed there isn't a bug and the documentation gap is already being tracked in the issue above.

/close

[2020-06-02 16:38] #662 closed

[2020-06-02 16:42] mboersma commented on #669
Closing in favor of kubernetes-sigs/cluster-api#3128

[2020-06-02 16:42] #669 closed

[2020-06-02 18:01] devigned commented on #542
The UI flavors look awesome!

Heads up though, "base" is not a generated flavor, it is omitted and used for a base set of resources which other flavors can consume.

Can't wait to see the PR. TY!

[2020-06-02 18:59] devigned commented on #609
I'd caution from returning SDK types from the services. Having dependencies on AzSDK for Go types beyond the service layer implies a tighter coupling to the SDK.

Perhaps, we should consider the services layer returns a spec + status type (maybe not a `runtime.Object`, but something with all the info needed by callers).

[2020-06-02 19:21] CecileRobertMichon commented on #609
What if the `Get()` functions were never called from outside `services`? The way I see this working is you would only have `Ensure()`/`Reconcile()` and `Delete()` be public and be called from the controllers (see #110). Reconcile and Delete should both only return `error`, the SDK type return would only be for intermediate `Get`s.

[2020-06-02 19:22] devigned commented on #609
What do you think about `Get()` being `get()`?

[2020-06-02 19:28] CecileRobertMichon commented on #609
@devigned I almost wrote `get()` but I realized that might not work if you need to get another resource type since each service is in its own package right now, eg. you need to get the subnet ID from the network interface package... https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/networkinterfaces/networkinterfaces.go#L71

Ways to go around this off the top

[2020-06-02 20:24] jroden commented on #542
Good catch!

Should I source the clusters from ./templates/flavors/* using kustomize, or directly from ./templates/cluster-template-*.yaml?

[2020-06-02 20:43] jroden commented on #542
Would ./templates/cluster-template.yaml be a template we want to include as a flavor option?

[2020-06-02 20:50] devigned commented on #542
Yes. That corresponds to the `default` flavor. See the [flavor generation script](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/hack/gen-flavors.sh).

I lean toward targeting `./template/cluster-template*.yaml` files. The local resource should watch the flavor directory for changes, then run [`make generate-flavors`](https://github.com/kubernetes-sigs/cluster-api-provid

[2020-06-02 22:26] CecileRobertMichon opened #671 "Adopt Conditions for AzureCluster, AzureMachine and AzureMachinePool Status"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The first step would be to define and get a consensus on which condition types should be defined for each CAPZ reconciled object: `AzureCluster`, `AzureMachine` and `AzureMachinePool`.

- Condition types MUST have a consistent polarity (i.e. "True = good");

- Condition types SHOULD h

[2020-06-03 00:13] voor opened #672 "AZURE_CLIENT_SECRET with quotes causes cluster failure."
/kind bug

Creating an Azure Service Principal where the randomly generated secret contains a `"`.

This secret then goes into `AZURE_CLIENT_SECRET` and creates issues, because the output into `/etc/kubernetes/azure.json` will not properly escape the `"`, resulting in kubelet failures:
[code]

**What did you expect to happen:**

There should be some sort of logic to escape the quotes prior to them

[2020-06-03 00:33] jroden commented on #542
Thanks for the help!  @devigned  That sounds like a great workflow-- I appreciate the clarification (I'm new to the project so doing best to follow guidance while I get more familiar with use cases)

[2020-06-03 01:24] jroden commented on #542
@devigned  I have the spin-up functionality configured and am working on a way for users to gracefully tear down worker-clusters.

I'm having trouble getting `tilt down ${resource}` to delete the worker clusters, and based on what I'm seeing in their documentation I'm not sure this fits our _local_resource/ tilt_config_ use case.  What about a make command to delete any running worker clusters, or

[2020-06-03 01:33] devigned commented on #542
Don’t worry about tear down for now. We can always build upon the experience in subsequent PRs.

[2020-06-03 01:37] jroden commented on #542
sounds good!  I will review the code & PR process and move forward to that stage!

[2020-06-03 01:43] jroden commented on #542
Where do you think I should add the documentation?  To `./README.md` or maybe `./templates/flavors/README.md` ? Or another location?

[2020-06-03 02:32] rbitia commented on #613
Please add documentation, I'd love to try this feature out but I need a little guidance.
Happy to help write it too, if someone can guide me in the right direction :D

[2020-06-03 15:14] vincepri commented on #542
As long as you know the cluster name, you can always do `kubectl delete cluster <name>`.

[2020-06-03 20:23] rbitia opened #675 "Add support for Azure Dedicated Hosts"
/kind feature

Add support for Azure Dedicated Hosts (ADH) and eventually when those are able to scale with VMSS add that preview feature so folks can scale their ADH.

Some users have a need for isolated servers and this support would support their use-case.

I'm also curious how we would enable this specific offer type, is it a feature flag or something else?

[2020-06-03 21:23] CecileRobertMichon opened #676 "Look into making LB outbound rule IdleTimeoutInMinutes configurable and increase default"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

From https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/674#discussion_r434848567

// This value is set greater than the default Linux idle timeout (15.4 min): https://pracucci.com/linux-tcp-rto-min-max-and-tcp-retries2.html

We should:

1) Determine what is a sane def

[2020-06-03 21:25] jackfrancis opened #677 "Make Standard LoadBalancer outbound connection timeout configurable"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Let's enable a convenient user-override for the cluster LoadBalancer outbound rule timeout, which governs how long to keep idle connections open. Certain applications may be idle by design for longer than 4 minutes (the default), and we want to accommodate that. Conversely, certain cl

[2020-06-03 21:36] CecileRobertMichon commented on #677
duplicate of #676

pasted your comment in the above issue

/close

[2020-06-03 21:36] #677 closed

[2020-06-03 21:37] CecileRobertMichon commented on #676
"Let's enable a convenient user-override for the cluster LoadBalancer outbound rule timeout, which governs how long to keep idle connections open. Certain applications may be idle by design for longer than 4 minutes (the default), and we want to accommodate that. Conversely, certain clusters may not have any such applications, but will expect a lot of aggregate outbound connections, in which case

[2020-06-03 22:01] CecileRobertMichon opened #678 "Azure resource names do not follow conventions"
We should audit resource names in CAPZ to ensure that we are following [best practices](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/naming-and-tagging).

Beyond following convention, not naming resources properly can lead to issues: Since `{CLUSTER_NAME}` is being used in a lot of places to name Azure resources. However, these resources have their own

[2020-06-03 22:02] CecileRobertMichon commented on #601
@asatish are you still working on this?

[2020-06-03 22:02] CecileRobertMichon commented on #678
cc @devigned @asatish

[2020-06-03 22:39] CecileRobertMichon commented on #542
/assign @jroden
/remove-help

[2020-06-03 22:39] CecileRobertMichon commented on #678
/kind bug

[2020-06-03 22:48] CecileRobertMichon commented on #672
We won't be able to make "Azure should stop using " in its randomly generated passwords" happen so let's focus on ways we can document escaping special quotes in the CAPZ documentation about SPs or even better, automate escaping special chars.

/help

[2020-06-03 22:50] CecileRobertMichon commented on #635
/assign @mboersma

[2020-06-03 22:50] CecileRobertMichon commented on #615
/help

[2020-06-03 22:50] CecileRobertMichon commented on #612
/help

[2020-06-04 09:47] richardcase opened #679 "FailureDomain selection order possibly incorrect"
/kind bug

**What steps did you take and what happened:**
With #439 we added support for reporting failure domains (i.e. Azure AZs) back to CAPI so that it could then try to spread machines across failure domains (by populating  Machine.Spec.FailureDomain). [Logic was added to the machine scope](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/4afe3c2226f885cb1607e7ccf2526bc09b63

[2020-06-04 09:47] richardcase commented on #679
/assign

[2020-06-04 09:52] richardcase commented on #679
@CecileRobertMichon @devigned @detiber - be good to get your thoughts on this.

[2020-06-04 15:39] detiber commented on #679
@richardcase both AzureMachine.Spec.AvailabilityZone.ID and
AzureMachine.Spec.FailureDomain should be considered deprecated in favor of Machine.Spec.FailureDomain.

The addition of AzureMachine.Spec.FailureDomain was required to allow for migrating existing values that were previously set in AzureMachine.Spec.AvailabilityZone.ID to Machine.Spec.FailureDomain automatically for existing users.

The

[2020-06-04 15:53] richardcase commented on #679
Ah yes, thanks @detiber. I forgot we discussed and added this to the machine controller:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/c0d09b2beae22774c418a357d5ce2e1cb12e84d0/controllers/azuremachine_controller.go#L218

[2020-06-04 16:17] #474 closed

[2020-06-04 16:27] CecileRobertMichon commented on #679
@richardcase does that mean there is nothing to do here for now? Maybe just make this more clear in docs? And then eventually remove the AzureMachine fields when we move to v1alpha4?

[2020-06-04 16:40] CecileRobertMichon commented on #656
This seems to vary, in some cases the vmss nodes come up under 5 minutes:
[code]

[2020-06-04 16:56] alexeldeib commented on #656
I haven’t looked closely but I’m curious if it’s possible something is missing a mapped watch in CAPI so it doesn’t get reconciled right away when it should? And the difference in times is due to backoff/requeue whenever it happens to hit

[2020-06-04 17:01] #542 closed

[2020-06-04 17:15] chewong commented on #656
Could you try creating a cluster with 1 control plane machine instead of 3?

[2020-06-04 18:21] rbitia commented on #624
/label parity

[2020-06-04 18:23] rbitia commented on #486
/label parity

[2020-06-04 18:38] rbitia commented on #675
/milestone v0.5

[2020-06-04 19:08] CecileRobertMichon commented on #600
/priority important-soon

[2020-06-04 19:08] CecileRobertMichon commented on #678
/priority important-soon

[2020-06-04 19:09] CecileRobertMichon commented on #12
/close

[2020-06-04 19:10] #12 closed

[2020-06-04 19:11] CecileRobertMichon commented on #484
/help

[2020-06-04 19:11] CecileRobertMichon commented on #603
/priority important-soon

[2020-06-04 19:13] CecileRobertMichon commented on #656
/priority important-soon

[2020-06-04 19:14] CecileRobertMichon commented on #635
/priority important-soon

[2020-06-04 19:14] CecileRobertMichon commented on #601
/priority important-soon

[2020-06-04 19:14] CecileRobertMichon commented on #586
/priority important-longterm

[2020-06-04 19:19] CecileRobertMichon commented on #467
/priority important-soon

[2020-06-04 19:20] CecileRobertMichon commented on #427
/assign

[2020-06-05 02:23] jsturtevant opened #682 "When enabling route creation in the cloud provider routes can not be created"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If you turn on `--configure-cloud-routes` in the [cloud provider](https://kubernetes.io/docs/reference/command-line-tools-reference/cloud-controller-manager/#options) for a CNI that requires route tables such as kubenet or when using [calico with UDRs](https://docs.projectcalico.org/refe

[2020-06-05 08:19] richardcase commented on #679
@CecileRobertMichon - yes i think a small docs update for now and then removal of field in v1alpha4 would work.

I'll do the docs update and reference this issue. Should i then raise an issue for removal in v1alpha4 or will it be covered by #618?

[2020-06-05 16:38] CecileRobertMichon commented on #679
I commented https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/618#issuecomment-638965248 I think that should be enough. Thanks!

[2020-06-05 17:14] CecileRobertMichon commented on #682
@jsturtevant are you working on this or is it okay to mark it as help wanted?

[2020-06-05 23:09] CecileRobertMichon commented on #489
@alexeldeib @devigned so apparently overprovisioning is on by default now... Couldn't find it in official docs anywhere except in this FAQ though https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#why-are-there-gaps-between-my-virtual-machine-scale-set-vm-machine-names-and-vm-ids-for-example-0-1-3 😕

Which means... since we aren't specifying a value...

[2020-06-05 23:09] CecileRobertMichon commented on #489
I lied it says the default is `true` in https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-design-overview#overprovisioning

[2020-06-06 03:02] jroden commented on #622
Hi @alexeldeib I would like to take this one assuming that's cool :)

Got a couple questions for ya--
what action should be taken if the cluster is in a non-terminal mode?
Any advice on testing this one?  Should I create unit tests for the parent functions inside the agentpools and managedclusters packages?

[2020-06-06 03:53] alexeldeib commented on #622
Go for it! 👍

We don't want to send any additional CreateOrUpdate calls if the cluster is already in a non-terminal state.

For testing, we could create some mocks and then test the behavior of the logic around the actual service calls -- e.g. if we do a get, we can mock returning a cluster in "Provisioning" status, and we should expect no calls to CreateorUpdate. Picking disks as a random example

[2020-06-06 03:53] alexeldeib commented on #622
/remove-help

[2020-06-08 01:02] jroden commented on #622
@alexeldeib Hi Alex, hope you're having a good weekend!  I'm facing an interesting issue, hoping I can take your advice on how I should approach this one :)

I am building my unit tests, but am getting an assignment error on a mock function response.  In the [agentPools unit test](https://github.com/jroden/cluster-api-provider-azure/blob/master/cloud/services/agentpools/agentpools_test.go), I am m

[2020-06-08 01:23] devigned commented on #622
The error is probably caused by one import being different, but having the same type name. This is an error that is often found when using a different api version for an Azure SDK for Go type.

[2020-06-08 01:25] alexeldeib commented on #622
Nice progress! David beat me to it, but:

https://github.com/jroden/cluster-api-provider-azure/blob/87b339be45a22d13602ba2bd241532e5f10806d7/cloud/services/agentpools/agentpools_test.go#L24

And

https://github.com/jroden/cluster-api-provider-azure/blob/87b339be45a22d13602ba2bd241532e5f10806d7/cloud/services/agentpools/agentpools.go#L23

Need to match.

(Btw, I usually go by Ace :) )

[2020-06-08 01:49] jroden commented on #622
Oops, sorry Ace!
Thanks for the help guys, that solved my issue :sweat_smile:

[2020-06-08 16:26] jsturtevant commented on #682
This will be tricky to test since we don't have other CNI that requires the route creation behavior currently.  I can take this and test it against the #646

[2020-06-08 17:13] CecileRobertMichon commented on #682
/assign @jsturtevant

[2020-06-08 20:41] CecileRobertMichon commented on #427
/close

[2020-06-08 20:41] #427 closed

[2020-06-08 21:06] devigned commented on #600
/assign

[2020-06-09 01:29] jroden commented on #622
Hi guys, any advice on which issue I should tackle next?

[2020-06-09 15:58] devigned commented on #622
@jroden, love the enthusiasm!! Come over and join us in https://slack.k8s.io #cluster-api-azure. It's easier having these kind of conversations in chat.

If that doesn't work out for you, then see if [any of these are interesting](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues?q=is%3Aopen+is%3Aissue+label%3Apriority%2Fimportant-soon). Thank you!

[2020-06-09 21:24] devigned commented on #601
/assign

[2020-06-09 21:35] CecileRobertMichon commented on #656
/assign

[2020-06-09 22:01] CecileRobertMichon opened #692 "Add code coverage as part of PR status"
This is important to developers submitting PRs to analyze how many tests are being introduced into the code base and/or removed and the quality of the tests as well.
This will also enable reviewers to assist in improving the test code base as well.
This is important for the long-term reliability of the project and the overall confidence.

https://github.com/kubernetes/test-infra/blob/master/robots

[2020-06-10 02:52] devigned commented on #678
/assign

[2020-06-10 18:18] jsturtevant opened #696 "Internal Load balancer created for public cluster"
/kind feature

**Describe the solution you'd like**

I created a cluster using `make create-workload-cluster` which uses the default flavor for workload cluster.  The workload cluster was created with an internal and public load balancer for the control plane.  If I create a public cluster using aks-engine I do not get a internal load balancer.

It makes sense to have an internal load balancer for

[2020-06-11 18:18] #622 closed

[2020-06-11 19:20] CecileRobertMichon commented on #696
@jackfrancis does AKS Engine currently provision an internal LB for non-private clusters?

@justaugustus @awesomenix do you have any context on why the internal LB was originally added in capz?

[2020-06-11 19:24] CecileRobertMichon opened #699 "3 control plane E2E test is flaky"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

See https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#pr-e2e for recent history. `Workoad cluster creation Create multiple controlplane cluster with machine deployments Should create a 3 node cluster` has failed multiple times recently. The test times out at 600s

[2020-06-11 19:24] CecileRobertMichon commented on #699
/priority important-soon

[2020-06-11 19:25] jackfrancis commented on #696
@CecileRobertMichon it does *if* there are more than one VMs backing the control plane. If there's only one VM, then no.

[2020-06-11 19:28] CecileRobertMichon commented on #696
@jackfrancis even since https://github.com/Azure/aks-engine/pull/2953?

[2020-06-11 19:29] jackfrancis commented on #696
That PR didn't change the Load Balancer implementation. I'll confirm.

[2020-06-11 19:30] jackfrancis commented on #696
That PR was for control plane-originating requests to self-route. Other cluster traffic (e.g., from nodes) needs a LB to ensure a response when a single control plane VM goes offline.

[2020-06-11 19:36] jackfrancis commented on #696
Confirmed:

[code]

From a cluster built w/ this config:

[code]

[2020-06-11 19:56] CecileRobertMichon commented on #696
Thanks Jack!

@jsturtevant does that answer the question?

[2020-06-11 21:32] nader-ziada commented on #671
/assign

[2020-06-11 23:26] nader-ziada opened #702 "[e2e] cluster should be able to launch a long running HTTP server and svc endpoint"
**Describe the solution you'd like**
An e2e test that would validate the workload cluster can run a HTTP service and expose an endpoint for it

This test in aks-engine can provide some inspiration:  https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L826

[2020-06-11 23:31] nader-ziada opened #703 "[e2e] cluster should have working load balancer"
**Describe the solution you'd like**
An e2e test to validate a workload cluster has a working load balancer as expected

another test from aks-engine https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L1408

[2020-06-11 23:33] nader-ziada opened #704 "[e2e] cluster should apply network policies"
**Describe the solution you'd like**
An e2e test that validates network policies got applied as expected

test from aks-engine: https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L1637

[2020-06-11 23:35] nader-ziada opened #705 "[e2e] cluster should have healthy time synchronization"
**Describe the solution you'd like**
An e2e test to validate machines in the workload cluster have healthy time synchronization

test from aks-engine: https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L2207

also related to this PR in image-builder: https://github.com/kubernetes-sigs/image-builder/pull/240

[2020-06-11 23:38] nader-ziada opened #706 "[e2e] machines should have accelerated networking enabled if supported"
**Describe the solution you'd like**
An e2e test to validate that on a workload cluster, machine types that support accelerated networking has it enabled

more info here: https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#supported-vm-instances

[2020-06-12 03:20] awesomenix commented on #696
Originally the Internal LB was created for worker nodes, not sure if thats recently changed. Just as jack mentioned.

[2020-06-12 15:38] CecileRobertMichon commented on #702
/help

[2020-06-12 15:38] CecileRobertMichon commented on #703
/help

[2020-06-12 15:38] CecileRobertMichon commented on #704
/help

[2020-06-12 15:38] CecileRobertMichon commented on #705
/help

[2020-06-12 15:38] CecileRobertMichon commented on #706
/help

[2020-06-12 16:00] mboersma commented on #706
Note that the English heuristic in the Microsoft docs is incomplete and it's still necessary to make an API call to know the accelerated networking capability of a given SKU. For a test, we should probably just use a set of canonical SKUs for which we already know whether or not they support accelerated networking, rather than reimplement the API call.

Or maybe the test could use `az`? Here is an

[2020-06-12 16:16] mboersma commented on #706
/assign mboersma

[2020-06-12 16:16] mboersma commented on #706
/remove-help

[2020-06-12 17:35] CecileRobertMichon commented on #635
@mboersma for this one did you reach out to the compute team?

[2020-06-14 04:27] jroden commented on #615
Hi Ace!  I'm still in the process of getting a better understanding (of managedcluster, capi & capiz, and webhooks) before beginning managedcluster work

I've got a couple questions to help validate my understanding if you don't mind :smile:
Would the flow of creating a managedcluster look like the following?
1. CAPI controller receives request to create a new managecluster with provider azure
2.

[2020-06-14 16:59] jroden commented on #615
So currently we are defaulting fields for managedCluster in the 'Process Item' step of the custom controller? And thus moving to webhook would default the fields even before the controller picks up the changes from the api server?  (snip taken from [here](https://github.com/kubernetes/sample-controller/blob/master/docs/images/client-go-controller-interaction.jpeg))
![image](https://user-images.git

[2020-06-15 00:37] alexeldeib commented on #615
Correct.

Also correct.

There are a few cases here that are poorly modeled even though they are technically optional fields. A good example is networkPlugin. I don't think AKS API requires this field to be set, but the API will reject attempts to update this field. We need to model that in our CRD. On the validation side, we would want to prevent the ability to persist invalid configurations (lik

[2020-06-15 09:34] nprokopic opened #712 "Worker nodes (MachinePool) deployed to control plane subnet"
/kind bug

**What steps did you take and what happened:**

I deployed a cluster with machine pools and virtual machine scale set with worker nodes was deployed to control plane subnet `$cluster_name-vnet/$cluster_name-controlplane-subnet`.

**What did you expect to happen:**

Virtual machine scale set with worker nodes should be deployed to node subnet `$cluster_name-vnet/$cluster_name-node-subnet

[2020-06-15 09:37] nprokopic commented on #712
@CecileRobertMichon gave me a hint that the issue is probably caused by this line here https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/exp/controllers/azuremachinepool_controller.go#L491.

Didn't have time to look into it over the weekend (first need to setup CAPZ dev environment), I'll try to get into it this week.

[2020-06-15 14:53] nader-ziada commented on #706
i think it makes sense to use SKUs for which we already know whether or not they support accelerated networking

[2020-06-16 04:25] jroden commented on #615
Thanks for the response!  This gives me a great direction to go :smile:
I will provide an update once I have made some progress

[2020-06-16 16:01] CecileRobertMichon commented on #656
I don't have time to look at this right now, unassign in case someone else wants to take it.

/unassign

[2020-06-16 16:03] detiber commented on #656
I believe part of this is related to some of the watch/predicate changes that are being implemented here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/691

[2020-06-16 16:05] devigned commented on #656
@detiber, I don't think I understand how the open PR is related to the delay in machine pools. Are you saying that the watch / predicate changes in CAPI for pause are affecting the time to reconcile machine pools?

[2020-06-16 16:32] detiber commented on #656
@devigned correct, it's not currently getting a reconciliation request when the Cluster infrastructure becomes ready and likely gets stuck either in exponential backoff or hitting the retry limit and has to wait on resync interval to re-reconcile.

That said, I'm also now wondering if we need common Watch/predicate handling for watching and triggering a reconciliation when a ControlPlane provider

[2020-06-16 20:44] devigned commented on #675
/label priority/important-soon

[2020-06-16 20:45] devigned commented on #675
/priority important-soon

[2020-06-17 03:39] jroden commented on #615
Ok, so I've got the defaulting webhook & test setup.  Just need to add defaulting logic and then the validating webhook.  Any other cases for defaulting or validation that come to mind?  I will do some research from my end as well to determine if there are other specs that would make sense to include in the defaulting/validation webhooks.

Thanks for the help! :smile:

[2020-06-17 06:51] cpanato commented on #704
I would like to work on this. Is that possible or there is anyone already working on this?

[2020-06-17 11:55] nader-ziada commented on #704
@cpanato please go ahead, nobody is working on it as far as I know. Thanks

[2020-06-17 11:56] nader-ziada commented on #704
/assign @cpanato

[2020-06-17 12:00] nader-ziada commented on #539
PR in image-builder repo merged

[2020-06-17 12:12] cpanato commented on #704
@nader-ziada cool, thanks, i will write some questions in the chat

[2020-06-17 12:13] cpanato commented on #704
/help cancel

[2020-06-17 12:13] cpanato commented on #704
/remove-help

[2020-06-17 15:23] CecileRobertMichon commented on #712
/good-first-issue
/assign nprokopic

[2020-06-17 17:41] CecileRobertMichon commented on #703
/assign @mboersma

[2020-06-17 19:04] mboersma commented on #703
/assign mboersma

[2020-06-17 19:05] mboersma commented on #703
/remove-help

[2020-06-17 22:28] ericsuhong commented on #539
@nader-ziada Does this change mean that all default 18.04 Azure Ubuntu VMs will come with chrony enabled by default? I am wondering what would it take for us to start using this feature.

[2020-06-17 22:31] nader-ziada commented on #539
yes, the capi 18.04 Azure Ubuntu VM will come with chrony enabled by default, but I believe we have not yet published such an image to the Azure Marketplace

[2020-06-17 22:52] CecileRobertMichon commented on #530
Should also link to Shared Image Gallery replication recommendations: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries#scaling

[2020-06-17 22:52] CecileRobertMichon commented on #530
/priority-important-soon

[2020-06-17 22:53] CecileRobertMichon commented on #530
/priority important-soon

[2020-06-17 22:56] CecileRobertMichon commented on #699
I think I found a possible explanation... We we not setting resource group tags for creation timestamp and RG sometimes gets deleted randomly due to cleanup jobs. Fixed in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/701/files#diff-c030069fdd24c5a364f789093d61ff5eR47

[2020-06-17 22:56] CecileRobertMichon commented on #699
/assign

[2020-06-17 23:18] CecileRobertMichon commented on #629
https://github.com/kubernetes-sigs/image-builder/pull/248

[2020-06-18 19:05] jseely opened #715 "CAPZ should use Out of Tree `cloud-controller-manager` and Storage Drivers"
***Dependencies***
1. Cluster ResourceSet needs to be implemented to properly support this

***Goals***
1. CAPZ clusters should be deploy-able using OOT Azure Provider and Storage Drivers
1. Default should be OOT
1. Tests need to be updated to test both modes and migration scenario from in-tree to OOT

***Non-Goals/Future Work***
1. Implement Cluster ResourceSet

**User Story**

As an operator I w

[2020-06-18 19:07] jseely commented on #715
@nader-ziada @devigned @CecileRobertMichon @ncdc

[2020-06-18 19:13] alexeldeib commented on #715
Have you already seen the [doc](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/topics/external-cloud-provider.md) and [template](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/cluster-template-external-cloud-provider.yaml)? Might help to distinguish this issue from what's already possible by adding some additional details? Cluste

[2020-06-18 19:18] CecileRobertMichon commented on #715
The 2nd goal "Default should be OOT" is something we're necessarily ready for. I think for now we want to support optionally using OOT (without any manual steps, possibly using ClusterResourceSet), but I don't we'll want to move this to be the default right away to align with other Azure provisioning tools. cc @feiskyer @ritazh

See https://github.com/kubernetes/enhancements/issues/667 for current

[2020-06-18 23:27] jzhoucliqr commented on #696
Went through current code and also checked a running cluster, seems the internalLB is created but not used, all kubelets (cp and worker) still talk to the public LB.

The kubeadm init/join config is generated by CAPI, right now with v1alpha3 cluster.Spec only have one APIEndpoint, which should be the public LB, so seems it's not possible to generate kubeadm join config with another internal APIEnd

[2020-06-18 23:46] CecileRobertMichon opened #717 "Create fails when allocatePublicIP is enabled on AzureMachine"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I believe this is a regression from https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/674:

`[manager] E0618 23:43:06.179947       8 controller.go:247] controller-runtime/controller "msg"="Reconciler error" "error"="failed to reconcile AzureMachine: failed to create NIC

[2020-06-18 23:47] CecileRobertMichon commented on #717
/assign

[2020-06-19 19:37] nader-ziada commented on #702
/assign

[2020-06-19 19:37] nader-ziada commented on #702
/help remove

[2020-06-19 19:38] nader-ziada commented on #702
/remove-help

[2020-06-19 22:20] jsturtevant opened #718 "Does not currently handle creating seperate route tables for node and contorl plane"
/kind bug

**What steps did you take and what happened:**
It is possible to set the the route table name on [control nodes](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/790ec1caa9fc79942655c6621505796f1094d137/api/v1alpha3/azurecluster_default.go#L76) and [nodes](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/790ec1caa9fc79942655c6621505796f1094d137/api/v1

[2020-06-19 22:52] jsturtevant opened #720 "Mocked tests do not call `ctrl.Finish()`"
/kind bug

**What steps did you take and what happened:**
While working on #719 I found the tests in the file did not call `defer ctrl.Finish()` of the [gomock](https://github.com/golang/mock) library and so the test had a invalid assertion that was not being evaluated.  I took a quick look and it seems other tests in the `services` folder using gomock are missing the finish which might lead to in

[2020-06-21 03:11] jroden commented on #615
Hi Ace, Hope you're having a good weekend!  I've made a bit of progress and am hoping to get your thoughts on an approach I'm trying for defaulting the dnsIP:

I've updated the CRD for ManagedCluster to include DNSServiceIP in the spec.  Inside the ManagedCluster webhooks, I will obtain the serviceCidr from the associated CAPI cluster spec (still working through the specifics of how this would loo

[2020-06-21 16:38] jroden commented on #615
Or should we model the serviceCidr under the ManagedCluster Spec instead of pulling from CAPI Cluster Spec?  I'm not sure if referencing a separate object in a webhook is possible (Pulling serviceCidr from CAPI Cluster CR in the CAPZ ManagedCluster webhooks)

[2020-06-22 16:26] #601 closed

[2020-06-22 16:29] CecileRobertMichon commented on #720
/help
/good-first-issue

[2020-06-22 16:30] CecileRobertMichon commented on #717
/priority important-soon

[2020-06-22 17:18] #613 closed

[2020-06-22 17:40] nader-ziada commented on #347
This is now fixed as part of the new e2e framework and refactoring.

[2020-06-22 17:46] alexeldeib commented on #615
I think we would probably need DNSServiceIP in AzureManagedControlPlane spec and validate against the CAPI Cluster. We should _probably_ avoid duplicating the service CIDR so we maintain a single source of truth.

If we do cross-object validation inside webhooks, we probably need something like this:
https://github.com/alexeldeib/hook-test/blob/ca37300b9e10548a8cfbf24ba6f782469d92ec6c/webhook.go#L

[2020-06-22 18:06] #469 closed

[2020-06-22 18:27] CecileRobertMichon commented on #615
I think cross-object validation is fine, it's cross-object _defaulting_ that can be dangerous (ref: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/623)

[2020-06-22 18:33] alexeldeib commented on #615
Got it. So maybe we can’t actually get rid of the IP CIDR hack in the defaulted case, but we can at least handle validation in the webhook if the DNS IP is provided at create time.

We’d also want to validate against changing these fields on updates

[2020-06-22 18:38] CecileRobertMichon commented on #615
If the field in the other object that the default is based on is immutable (and there's validation in place on that object's webhook to make sure it fails update if it is changed), then I think it's okay to default too. I'm more concerned about a case where we default something based on another object and that other object is subsequently modified (ie. the default is no longer accurate).

[2020-06-22 19:05] #682 closed

[2020-06-22 21:12] CecileRobertMichon commented on #718
If we only want to allow one route table for now we could also add webhook validation that fails if route table is specified for a control plane subnet.

[2020-06-22 21:14] CecileRobertMichon commented on #656
@devigned do you want to take this one? ( / does #691 fix it?)

[2020-06-22 21:25] #699 closed

[2020-06-22 21:38] dklyle opened #723 "internal load-balancer address selection broken when using subnets longer than 8 chars"
/kind bug

**What steps did you take and what happened:**
Creating a cluster using cap-azure with the non default subnetCIDR for the controlplane, e.g., 10.64.8.0 results in an error when creating the internal load-balancer that prevents the cluster from coming up. The error is that the internal load-balancer address is not on the controlplane subnet.

**What did you expect to happen:**
The defaul

[2020-06-22 21:40] devigned commented on #656
Yep. I'll take this one.
/assign

[2020-06-22 21:41] devigned commented on #678
unassigned for the time being

[2020-06-23 00:32] devigned opened #725 "Logging calls should include scope when reconciling"
/kind feature

**Describe the solution you'd like**
Log messages should provide context in which they happen. For example, a call to [`klog.V(2).Infof("message %s", input)`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/c5befecdf1714cf3fc69c2cdeb0f8105c53bb07f/cloud/services/securitygroups/securitygroups.go#L90) will not include scope from which object and which controller it

[2020-06-23 00:38] devigned commented on #725
/help
/good-first-issue

[2020-06-23 17:25] CecileRobertMichon commented on #717
@rsmitty FYI

[2020-06-23 20:04] CecileRobertMichon opened #726 "Remove usage of deprecated NewFakeClient in tests"
/kind bug

Some tests use `fake.NewFakeClient()` (eg. https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/networkinterfaces/networkinterfaces_test.go#L584) which is deprecated:  `Deprecated: use NewFakeClientWithScheme. You should always be passing an explicit Scheme.`

This issue is to replace all occurrences of:

[code]

in the codebase with:

[code]

See htt

[2020-06-23 20:05] CecileRobertMichon commented on #726
/good-first-issue
/help

[2020-06-23 22:00] devigned commented on #635
/assign

[2020-06-23 22:01] devigned commented on #635
@mboersma I stubbled across what is going on with this error. I'm fixing up a PR right now.

[2020-06-23 22:04] mboersma commented on #635
@devigned you're my hero. I tried and failed to reproduce this error with an isolated azure-sdk-for-go example, so I assume it's somehow related to CAPZ (mis-)use of the API...looking forward to learning from your PR.

[2020-06-23 22:39] craiglpeters opened #731 "Document and test use of ExternalDNS"
/kind feature

**Describe the solution you'd like**
It should be documented, easy and tested to use [ExternalDNS on Azure](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md)

**Anything else you would like to add:**

**Environment:**

[2020-06-23 23:45] #635 closed

[2020-06-24 03:03] vinu2003 commented on #726
@CecileRobertMichon I can pick this up as part of my learning task and help.

[2020-06-24 03:03] vinu2003 commented on #726
/assign @vinu2003

[2020-06-24 23:00] #712 closed

[2020-06-25 19:56] #407 closed

[2020-06-25 20:23] nader-ziada commented on #726
/close
since the PR merged

[2020-06-25 20:23] #726 closed

[2020-06-25 20:27] nader-ziada commented on #702
waiting to see if @mboersma solution for #703 would cover this use case

[2020-06-26 16:39] vinu2003 commented on #726
@nader-ziada thanks for closing this.

[2020-06-26 21:12] jackfrancis opened #737 "Add Events data for AzureMachineTemplate/AzureMachine resources"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When introspecting an `AzureMachineTemplate` resource type, underlying reconciliation events aren't bubbled up to the `AzureMachineTemplate` or `AzureMachine` resources. For example:

[code]

and

[code]

The example resource `francis-capz-control-plane` above has a non-working `vmSiz

[2020-06-26 21:34] CecileRobertMichon commented on #737
is this a duplicate of https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/562?

[2020-06-26 22:21] jackfrancis commented on #737
It's a more specific version of it, yeah. Do we want to make #562 an epic, and then do per-resource event bubbling in discrete issues?

[2020-06-26 22:23] CecileRobertMichon commented on #737
Sure let's do that/ I'll mark this as help wanted since the description is more specific.

/good-first-issue
/help

[2020-06-26 22:24] CecileRobertMichon commented on #562
/remove good-first-issue

[2020-06-26 22:24] CecileRobertMichon commented on #562
/remove-good-first-issue

[2020-06-27 13:47] cpanato commented on #720
I'm going to work on this
/remove-help

[2020-06-27 14:11] cpanato commented on #725
i'm going to try that
/remove-help

[2020-06-27 14:11] cpanato commented on #725
/assign

[2020-06-27 14:11] cpanato commented on #720
/assign

[2020-06-28 15:10] cpanato commented on #692
I'm going to check this one and learn some new things :)

/assign
/remove-help

[2020-06-29 01:30] jroden commented on #615
Currently debugging an issue in my dev cluster, if anyone has any pointers that come to mind those would be appreciated :smile:
I'm trying to test the webhook in kind using tilt.  When checking the logs I see my webhook registering at the path, but I'm missing the part where the builder associates the crd with the webhook path.  For example, I'm expecting the logs to look like the following:
[code

[2020-06-29 04:14] jroden commented on #615
@alexeldeib Hi Ace!  qq- I am wondering which design approach is preferred for determining which cluster is associated with the amcp object during webhook runtime.  I like the first option since it doesn't make any assumptions, but I could be missing something in that assessment.  what are your thoughts?

1. Add ```clusterRef``` field to the amcp spec (similar to controlPlaneRef in [CAPI ClusterSp

[2020-06-29 21:20] CecileRobertMichon commented on #609
/assign

[2020-06-29 21:20] CecileRobertMichon commented on #110
/assign

[2020-06-30 00:46] CecileRobertMichon commented on #731
@craiglpeters would it be more appropriate to update the doc at https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md to be compatible with CAPZ (assuming no changes are required in CAPZ for compatibility)?

[2020-07-02 17:34] vincepri opened #749 "Change default branch to "main""
Once the community agrees on the naming, we need to change our default development branch to `main`, and check that any tools or references to it are changed as well.

This includes the container image tag used in development.

/kind cleanup
/wg naming
/milestone Next

Steps:

## Prerequisites

- [x] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue

[2020-07-02 21:10] jroden commented on #737
Cool if I work on this issue? :smile:

[2020-07-02 21:14] CecileRobertMichon commented on #737
@jroden go for it! Let us know if you need any pointers.

[2020-07-02 21:14] CecileRobertMichon commented on #737
/assign @jroden
/remove-help

[2020-07-03 04:36] jroden commented on #737
Thanks Cecile!

qq for anyone who may be able to clarify. I'm not sure if it makes sense to publish azureMachine events back to a template object.  The template could be used for multiple machines, so we would need to filter azureMachine reconcile errors based on if the root cause was due to a template misconfiguration.  Maybe my understanding is off? :smile:

Thanks for the help!

[2020-07-03 05:11] jroden commented on #584
Hi @CecileRobertMichon !  Cool if I work on this one? :smile:

[2020-07-04 00:10] jroden commented on #584
Would you mind clarifying about the defaults for worker and control plane disks? :smile: I think I'm a bit confused on that one

Thanks for the help!

[2020-07-06 15:10] devigned commented on #737
@jroden, I think you are right on not publishing events back to the `AzureMachineTemplate`. I think you are right to say reconcile events should go on the `AzureMachine` resources.

If we do find there is an error in the template, then those errors should be added to the `AzureMachineTemplate`.

[2020-07-06 16:01] CecileRobertMichon commented on #584
@jroden based on https://github.com/Azure/aks-engine/pull/2863/files#diff-fd43f080184ed15731e5d7e0d917d6e1R697 I'd say we want ReadWrite as the default but maybe @jackfrancis can help confirm here.

[2020-07-06 16:42] #671 closed

[2020-07-06 22:14] CecileRobertMichon commented on #530
@mboersma would you like to take this one? If not no worries, I can take it.

[2020-07-06 22:18] mboersma commented on #530
/assign

@CecileRobertMichon sure, I'd be happy to.

[2020-07-06 23:31] CecileRobertMichon opened #755 "When deleting a VM in failed state, OS disk is not deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Results in error `Only CreateOption.Attach is supported` if an internal (transient) Azure error occurs, when the VM is deleted and we try to create it again with the same existing OS disk.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous inform

[2020-07-06 23:31] CecileRobertMichon commented on #755
/assign

[2020-07-07 00:28] CecileRobertMichon opened #757 "[help wanted] refactor remaining services following established pattern"
Following the pattern established in #716, we should refactor each service to follow the same pattern. Each service should have its own refactor PR to make reviewing easier. For example, network interfaces was already done in #742.

- [x] disks (@cpanato)

- [x] groups (@cpanato)

- [x] exp/managedclusters

- [ ] exp/agentpools

- [x]  public IPs (@CecileRobertMichon)

- [x] network interfaces (@C

[2020-07-07 01:05] cpanato commented on #757
Can I take disks?

[2020-07-07 03:07] jroden commented on #584
@CecileRobertMichon thanks for the help!

So for example, if the osDisk is to be attached to a worker or control plane instance we would default to `ReadWrite`, but in all other cases we would default to `None`?

[2020-07-07 14:56] cpanato commented on #757
Can I take `groups` ?

[2020-07-07 16:22] #755 closed

[2020-07-07 18:34] #448 closed

[2020-07-07 18:34] #723 closed

[2020-07-07 18:50] CecileRobertMichon commented on #627
/close in favor of #757

[2020-07-07 18:50] CecileRobertMichon commented on #627
/close

[2020-07-07 18:50] #627 closed

[2020-07-07 18:51] CecileRobertMichon commented on #609
/close

in favor of #757

[2020-07-07 18:51] #609 closed

[2020-07-07 18:52] CecileRobertMichon commented on #110
/close

 in favor of #757

[2020-07-07 18:52] #110 closed

[2020-07-07 18:52] CecileRobertMichon commented on #757
/priority important-soon

[2020-07-07 20:02] CecileRobertMichon opened #761 "[e2e] Collect cloud init logs for E2E workload clusters"
There have been quite a few E2E flakes lately but those are hard to investigate because most of them are due to a timeout waiting for control planes to join the cluster and there are no errors in controller logs.

Right now we only collect logs from the bootstrap cluster (that is what the CAPI test framework collects). We should also collect workload cluster logs.

For conformance tests, we have h

[2020-07-07 20:03] CecileRobertMichon commented on #761
cc @chewong @fabriziopandini

[2020-07-07 21:24] fabriziopandini commented on #761
I'm definitely +1 to get this in the CAPI test framework

[2020-07-08 00:48] CecileRobertMichon opened #765 "Add VMSize validation to reject VM Sizes with < 2 CPU"
As documented at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin, kubeadm requires 2 CPUs. To improve UX, we should fail fast when the user specifies an Azure VM size that has less than 2 CPUs, that is:

- Standard_A1_v2
- Standard_B1ls
- Standard_B1s
- Standard_B1ms
- Standard_DC1s_v2
- Standard_D1_v2
- Standard_DS1_v2
- Standard_F1s
- Stand

[2020-07-08 00:49] CecileRobertMichon commented on #765
@rsmitty does the same apply to Talos?

[2020-07-08 01:30] rsmitty commented on #765
It’s not strictly required but we do mention 2 CPUs as a minimum for control plane nodes in our docs, so I’m cool with this.

[2020-07-08 12:03] cpanato commented on #757
@CecileRobertMichon can I take subnets?

[2020-07-08 12:54] devigned commented on #757
@cpanato, go for it! I don't think anyone is working on it right now.

[2020-07-08 14:53] nader-ziada opened #767 "using AZURE_JSON_B64 doesn't allow for custom subnet names"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
using `AZURE_JSON_B64` as described in the docs requires the user to generate the same AZURE_JSON_B64 value that would be used for both control plane and node machines, which doesn't allow for the subnet name to be different in the case where the user defined custom subnets with control

[2020-07-08 15:55] #737 closed

[2020-07-08 16:04] CecileRobertMichon commented on #767
The Cloud Provider config subnetName is always the node subnet, even before we started using `AZURE_JSON_B64` (check out the templates for https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v0.4.5, both control plane and node files have `"subnetName": "${CLUSTER_NAME}-node-subnet",`. So as long as the user changes the subnet name in the command to generate the base 64 varia

[2020-07-08 16:54] nader-ziada commented on #767
but if you are using a custom vnet with custom subnets, don't you need to specify a different subnet name between the azure.json in the control plane machine and the azure.json in the node machine template?

[2020-07-08 17:46] cpanato commented on #757
ok, after the subnet i will take the virtual networks if that is fine

[2020-07-08 20:30] CecileRobertMichon commented on #692
related to https://github.com/kubernetes-sigs/cluster-api/pull/3310

[2020-07-09 00:59] CecileRobertMichon opened #772 "Tilt flavors don't work without AZURE_JSON_B64 defined"
We should define a default for the AZURE_JSON_B64 (different for some flavors, eg. managed identity) + document how to override the default.

[2020-07-09 07:35] cpanato commented on #692
some update: https://github.com/kubernetes-sigs/cluster-api/pull/3310#issuecomment-655952591

[2020-07-09 16:00] devigned commented on #772
/assign

[2020-07-09 16:09] CecileRobertMichon commented on #767
I need to verify this, but I don't think the subnetName needs to be different on the control plane machine vs node machine template. The Azure cloud provider uses Azure.json as config for the for the cloud provider, which only needs to know about the node subnets (where services are exposed).

Maybe @feiskyer @aramase or @jackfrancis can help clarify.

[2020-07-09 16:39] jackfrancis commented on #767
The way this works in AKS Engine is that the azure.json file is common across both control plane and worker node (I'm not 100% confident that the worker nodes actually *consume* the azure.json in any configuration context in order to retrieve the subnet value: this is effectively a control plane-only configuration, is my understanding).

Additionally, I think it's more correct to say that this val

[2020-07-09 16:50] nader-ziada commented on #767
so it should be `controlplane-subnet` in both locations of azure.json (control-plane config and node config)?
currently is `node-subnet` in both

[2020-07-09 18:00] CecileRobertMichon opened #773 "Audit cloud provider config"
We should go through the values in Azure.json and evaluate if:

- the default values are sane according to the cloud provider documentation: https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/docs/cloud-provider-config.md
- Do we need to set the file for both nodes and control planes (I suspect it might just be needed for control planes)
- How to simplify the UX for setting AZURE_

[2020-07-09 18:00] CecileRobertMichon commented on #767
Opened https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/773

[2020-07-09 20:12] #702 closed

[2020-07-09 20:12] #703 closed

[2020-07-09 22:27] dklyle opened #775 "Cluster teardown doesn't delete azure resources"
/kind bug

**What steps did you take and what happened:**
When tearing down a cluster, kubectl delete -f cluster.yaml does not properly bring down the cluster in azure. The move to clusterctl which combines all the base cluster config into one yaml file makes teardown not work. The separate yaml files for controlplane.yaml and cluster.yaml worked better. What **happens** instead is the controlplan

[2020-07-09 22:39] dklyle opened #776 "move to clusterctl is a regression"
/kind bug

**What steps did you take and what happened:**
The move to use clusterctl instead of templates in the cluster-api-provider-azure directory is a regression. clusterctl is only nice for generating the default cluster everyone else is generating. Once you advance to wanting to modify your cluster configuration to deviate from the default, the path becomes rather obscure. The way to overrid

[2020-07-09 23:27] CecileRobertMichon commented on #776
cc @fabriziopandini @vincepri FYI

Thanks for the feedback @dklyle

[2020-07-09 23:49] vincepri commented on #776
Thanks for the feedback @dklyle, this has been something that has been on our minds as well. Clusterctl has been redesigned during v1alpha3 to accomplish a few things: ease of use for newcomers, increase adoption, setup requirements, and in general having a nicer getting started experience.

In addition, clusterctl has also been made a library to allow for users to rely on well defined patterns th

[2020-07-10 00:15] CecileRobertMichon commented on #775
Will look into this. What error are you getting?

In the meantime, `kubectl delete cluster --all --wait=false` gets the job done (or `kubectl delete cluster <cluster-name> --wait=false` to delete a specific cluster)

[2020-07-10 03:31] alexeldeib commented on #615
Sorry, missed replying to this --

Maybe the DNS IP should stay inside reconcile. The canonical way to get the corresponding cluster would be the owner reference., but that can't be set until after webhook runtime. We can validate against updates in the validating webhook after setting it during reconcile.

[2020-07-10 03:37] alexeldeib commented on #765
It's more accurate to call the SKU API for this to avoid generating a static list, the API exposes vCPU as a capability. We could cache the known sizes at start up to avoid extra http calls inside the webhook? Maybe with some background refresh or refresh-on-miss logic?

[2020-07-10 07:43] alexeldeib commented on #487
/assign

[2020-07-10 09:29] fabriziopandini commented on #776
Thanks for the feedback!
I would only add that the work for enabling the usage of a [templating engine in clusterctl](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/proposals/20200511-clusterctl-extensible-template-processing.md) creates the foundation for a middle ground between the initial implementation, oriented to simplicity/day0 experience, and the flexibility required by ad

[2020-07-10 14:03] snehala27 opened #778 "Support Client Certificate authentication for CAPZ"
/kind feature

**Describe the solution you'd like**
Currently CAPZ supports authentication only via client secrets: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/config/default/credentials.yaml
The combination of ClientCertificate and CertPassword should also be supported

**Anything else you would like to add:**
Cloud Provider already supports all auth types: https://g

[2020-07-10 14:07] devigned commented on #778
This configuration is not documented currently, but if the certificate password and certificate file were available to the controller, I believe the Azure Golang SDK would use them. Right now, we only use CLIENT_ID and SECRET env vars.

[2020-07-10 14:59] dklyle commented on #776
I  appreciate the desire to move forward and create a better user experience for first time users. I have been using various cluster-api-providers for the past year, and the recent update to all documentation referencing only clusterctl led me to believe that was the only supported path. After making the overrides work for the most part, I did dig into the Makefile and realize dev work still relie

[2020-07-10 15:03] dklyle commented on #775
In the past, I've always used the yaml file for deleting, I will try `kubectl delete cluster`. Thanks

[2020-07-10 16:08] alexeldeib commented on #765
thoughts on breaking out skus client to a standalone cache? we will probably start querying it more frequently -- it might make sense not to issue calls for every VM, every time. We can query once for a subscription and cache the result. If we see we're restricted we can use that as a cache "miss" to refresh (to avoid getting hit by shifting point in time restrictions).

[2020-07-10 16:40] CecileRobertMichon commented on #347
/close

[2020-07-10 16:40] #347 closed

[2020-07-10 16:41] CecileRobertMichon commented on #104
/close

[2020-07-10 16:42] #104 closed

[2020-07-10 16:48] cpanato commented on #757
going to work on `virtual networks`

[2020-07-10 16:55] CecileRobertMichon commented on #486
1st step is to define what the implementation would look like

/cc @jseely

[2020-07-10 18:14] nader-ziada commented on #539
the linked PR ads chrony to the image, closing this

/close

[2020-07-10 18:14] #539 closed

[2020-07-10 18:17] CecileRobertMichon commented on #475
/assign

[2020-07-10 18:45] CecileRobertMichon opened #780 "[e2e] Add more CAPI e2e test specs"
Currently we are only running a few of the specs in https://github.com/kubernetes-sigs/cluster-api/tree/master/test/e2e as part of the CAPZ spec (see https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/test/e2e/capi_test.go).

We should add as many of the test specs as possible and make sure they run successfully on CAPZ (some might need fixing some stuff before they can run)

[2020-07-10 20:54] mboersma commented on #765
I think a cache would be an good optimization for something like this. The results for such API calls are basically static for a given subscription. I intended to memoize the [`resourceskusclient.HasAcceleratedNetworking`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/645/files#diff-2a40a35715cc74836c39b99b338dd4eeR77) call in #645 but didn't get there.

[2020-07-10 21:25] #772 closed

[2020-07-10 23:42] CecileRobertMichon commented on #765
I'm going to remove good-first-issue, given that requirements aren't well defined at the moment and that adding a cache/making calls to the sku client would require a little more work.

/remove-good-first-issue

My initial thinking was that a static list was acceptable for something like this since it would only be used to improve UX when that SKU is going to fail down the line anyways and the den

[2020-07-11 00:30] alexeldeib commented on #765
I did some work recently with the SKU API for https://github.com/alexeldeib/throttled/blob/ace/dev/src/resource.rs and some other capacity work. I can take a shot at this after I tie up IP and ephemeral OS.

I'll leave it unassigned in case someone beats me to it :)

[2020-07-11 19:16] alexeldeib commented on #487
/remove-help

[2020-07-13 22:18] CecileRobertMichon commented on #618
Subnet CIDRBlock + ipv6 CIDR should become a list of CIDRBlocks to match Azure APIs (a subnet can have multiple CIDRs)
cc @jsturtevant

[2020-07-14 14:51] nader-ziada commented on #757
route tables is the last one without a name, I'll take that one

[2020-07-14 16:26] CecileRobertMichon commented on #356
@aramase I'm going to unassign you for now to give to opportunity to someone else to pick this up, feel free to assign yourself again if/when you're able to get to it

/unassign @aramase

[2020-07-14 22:32] CecileRobertMichon commented on #757
@alexeldeib changed resource skus to you since you have #783 open

[2020-07-15 07:25] alexeldeib commented on #778
The SDK can handle it, but we need to update our logic a bit to allow alternate sources: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/387db5a07600fdab823a56da465cbaa355deabeb/cloud/scope/clients.go#L52-L59

GetAuthorizerFromEnvironment() will try all the options IIRC, not sure if it does the correct ordering we want.

[2020-07-15 14:31] devigned commented on #778
Indeed. The SDK will check all options if using `GetAuthorizerFromEnvironment`. This logic will also need to change when we implement #586. With #586, we'll probably move an identity reference to the AzureCluster, which will be used as the AAD Identity to provision that AzureCluster.

[2020-07-15 16:04] #717 closed

[2020-07-15 18:39] devigned opened #791 "AzureManagedCluster do not reconcile a resource group"
/kind bug

**What steps did you take and what happened:**
When an AzureManagedCluster reconciles, it currently does not reconcile a resource group. This will cause the cluster to fail provisioning if the resource group does not already exist.

**What did you expect to happen:**
AzureManagedCluster and descendant infra should provision if the resource group does not already exist.

**Environment:**

[2020-07-15 21:00] nader-ziada commented on #678
/assign

[2020-07-16 00:22] alexeldeib commented on #773
Based on my current understanding, we do need this file on all nodes, but they may be different if desired (e.g., it doesn't appear to be required to use any credentials, msi or otherwise, on worker nodes).

Kubelet seems to require the cloud provider interface to fetch node addresses (maybe other things, that's all I went looking for): https://github.com/kubernetes/kubernetes/blob/master/pkg/kube

[2020-07-16 16:55] nader-ziada commented on #773
I like the idea of the cluster control generating the azure.json file and creating the secret for it

[2020-07-16 19:19] nader-ziada commented on #718
/assign

[2020-07-16 20:27] #487 closed

[2020-07-17 22:08] alexeldeib commented on #584
Let's do either None or ReadOnly for the OSDisk, ReadWrite or ReadOnly for data disks (in order of preference). I don't really think the write cache is our friend under load...

[2020-07-18 18:31] sb1975 opened #805 "clusterctl init doesnt work gives error failed to perform variable substitution"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

270  export AZURE_SUBSCRIPTION_ID: "xx"
  271  export AZURE_TENANT_ID: "xx"
  272  export AZURE_CLIENT_ID: "xx"
  273  export AZURE_CLIENT_SECRET: "x"
  274  export AZURE_ENVIRONMENT: "AzurePublicCloud"
  275  export AZURE_SUBSCRIPTION_ID_B64: "xx"
  276  export AZURE_TENANT_ID_B64: "xx

[2020-07-20 19:05] CecileRobertMichon commented on #805
@sb1975 can you please try to install the latest clusterctl version (v0.3.7) and see if you can still repro this? it looks like you have v0.3.0

[2020-07-20 19:10] CecileRobertMichon opened #807 "[e2e] e2e tests should print more debug output"
We should add debug/logs output to capz e2e tests so it's easier to diagnose why a test failed when it does. For example, the azure LB spec should describe the nginx deployment if it fails to become available.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/806#issuecomment-661130287

/help

[2020-07-20 19:51] wfernandes commented on #805
@sb1975 You'll need at least https://github.com/kubernetes-sigs/cluster-api/releases/tag/v0.3.5. This is a known bug that was introduced in v0.3.4 and has been fixed in v0.3.5.

[2020-07-20 21:05] sb1975 commented on #805
But why its not working with the latest also please ?
$ clusterctl version
clusterctl version: &version.Info{Major:"0", Minor:"3", GitVersion:"v0.3.7-31-b9bcc8c55bea0c", GitCommit:"b9bcc8c55bea0cad1b22cd872162d06c8687befe", GitTreeState:"clean", BuildDate:"2020-07-20T20:57:06Z", GoVersion:"go1.14.6", Compiler:"gc", Platform:"linux/amd64"}
azureuser@capi:~/cluster-api$
azureuser@capi:~/cluster-api$

[2020-07-20 21:09] CecileRobertMichon commented on #805
In the issue you wrote `sudo clusterctl init --core cluster-api:v0.3.0 --bootstrap kubeadm:v0.3.0 --control-plane kubeadm:v0.3.0 --infrastructure azure:v0.4.0`, why v0.3.0 and v0.4.0?

Can you try just `clusterctl init --infrastructure azure`? It should automatically install the latest versions (v0.3.7 for capi and v0.4.6 for capz).

[2020-07-20 21:13] CecileRobertMichon commented on #805
Just confirmed I cannot repro with the latest versions of clusterctl, capi + capz:

[code]

[2020-07-20 21:21] sb1975 commented on #805
It is still same error for me
$ sudo clusterctl init --infrastructure azure
Fetching providers
Using Override="infrastructure-components.yaml" Provider="infrastructure-azure" Version="v0.4.0"
Error: failed to get provider components for the "azure" provider: failed to perform variable substitution: value for variables [AZURE_CLIENT_ID_B64, AZURE_CLIENT_SECRET_B64, AZURE_SUBSCRIPTION_ID_B64, AZURE_

[2020-07-20 21:23] CecileRobertMichon commented on #805
`Using Override="infrastructure-components.yaml" Provider="infrastructure-azure" Version="v0.4.0"`

Looks like you have overrides in `.cluster-api/overrides`, try removing those.

[2020-07-20 21:38] asatish commented on #805
I think this is because of using "sudo" but the export of the variables was not in "sudo" context. Try without "sudo".

[2020-07-20 22:35] CecileRobertMichon commented on #805
Discussed further on Slack.

This is failing because the variables are being exported outside the sudo context.

/close

[2020-07-20 22:35] #805 closed

[2020-07-21 00:37] alexeldeib opened #812 "duplication of template between azure machine/machinepool"
/kind cleanup

**What steps did you take and what happened:**
Machine Pool has an Azure Machine Template which is nearly identical to the same templatized version provided by Azure Machine. The difference in fields is mostly things at the top level for the resource. We should try to consolidate and reuse this, it will also probably have a nice side effect of definable the "cloneable" portions of m

[2020-07-21 02:21] alexeldeib commented on #812
@devigned machine pool also doesn't have any fields for identity

[2020-07-21 04:15] alexeldeib commented on #773
- securityGroupName is used to add NSG rules when users create services type=LoadBalancer
- subnetName is used as the default subnet for ILB services when no subnet is explicitly provided
- primaryAvailabilitySetName and primaryScaleSetName are both unnecessary with SLB, because we can have large heterogeneous backend pools.
- vmType can always be vmss for mixed VMAS/VMSS clusters. VM without AZ o

[2020-07-21 13:56] Deeps-1989 commented on #356
@CecileRobertMichon I can help make this change. Do I need to make change under templates/cluster-template-*.yaml. Will it be a top level field or under which field this new field be nested to?

[2020-07-21 15:33] nader-ziada commented on #718
@jsturtevant I kind of changes to address this, should I go ahead and submit a PR for this? you mentioned you wanted to check if its needed, thanks

[2020-07-21 15:48] #767 closed

[2020-07-21 15:48] CecileRobertMichon commented on #807
/good-first-issue

[2020-07-21 15:50] CecileRobertMichon commented on #520
/close

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/troubleshooting.md

[2020-07-21 15:50] #520 closed

[2020-07-21 15:51] CecileRobertMichon commented on #562
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/737 added events for AzureMachines, this is to add the same thing for AzureCluster errors.

/good-first-issue

[2020-07-21 15:52] CecileRobertMichon commented on #356
Hi @Deeps-1989, I'm actually going to assign @alexeldeib on this one since he's already working on #773 and they are closely related.

/assign @alexeldeib

Feel free to pick up any of the other good first issues https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22 and comment `/assign` to assign yourself

[2020-07-21 15:54] CecileRobertMichon commented on #612
@jroden are you working on this one?

[2020-07-21 16:00] devigned commented on #812
@CecileRobertMichon correct me if memory fails me, but we were hoping to make this change with the next API version we cut, right?

The idea was to show how we'd like to break out the template with MachinePool and then port it back while adding identity to AzureMachine.

[2020-07-21 17:03] CecileRobertMichon commented on #618
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/812

[2020-07-21 17:04] CecileRobertMichon commented on #812
I think in the initial stages of implementing machine pool there was a choice that was made that vmss would have different capabilities as vms and so it made sense to have a different template? I added this issue to #618 so we can revisit as part of v1alpha4.

[2020-07-21 19:00] alexeldeib commented on #356
/remove-help

Should be easy to add this on top of https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/802

[2020-07-21 20:25] jsturtevant commented on #718
Yes go for it. I have not had an opportunity to look into it

[2020-07-21 23:24] CecileRobertMichon opened #814 "nginx test is flaky"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Seeing:

[code]

pretty regularly in PR e2e. Related to #807.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. f

[2020-07-21 23:42] CecileRobertMichon commented on #757
/assign

[2020-07-21 23:59] alexeldeib commented on #675
anyone know what this entails?

[2020-07-22 00:02] alexeldeib commented on #489
Interesting...Wonder if cloud provider is properly handling clean up for us?

[2020-07-22 00:03] alexeldeib commented on #551
/remove-lifecycle stale

[2020-07-22 00:04] alexeldeib commented on #550
/remove-lifecycle stale

[2020-07-22 00:06] CecileRobertMichon commented on #344
/close

[2020-07-22 00:06] #344 closed

[2020-07-22 00:06] CecileRobertMichon commented on #532
/remove-lifecycle stale

[2020-07-22 00:26] alexeldeib commented on #426
Can we possibly pre-provide a kubeadm config template to simplify this?

[2020-07-22 00:27] alexeldeib commented on #672
https://github.com/Azure/azure-cli/issues/13625#issuecomment-632667687
https://github.com/Azure/azure-cli/pull/13643

it's fixed in new CLI versions

[2020-07-22 00:28] alexeldeib commented on #672
It's reasonable to escape these, but IMO the CLI team messed up on this

[2020-07-22 00:29] CecileRobertMichon commented on #426
@alexeldeib you mean leverage post kubeadm commands to do the install?

[2020-07-22 00:29] CecileRobertMichon commented on #426
/unassign @sozercan

[2020-07-22 00:30] alexeldeib commented on #618
is CAPA undertaking a similar effort in v1a4? Curious if there are any common patterns emerging around BYO-resource type stuff

[2020-07-22 00:31] CecileRobertMichon commented on #672
Awesome, I think we can close this then. For anyone running into this, please update to the latest Azure CLI.

/close

[2020-07-22 00:32] #672 closed

[2020-07-22 00:34] CecileRobertMichon commented on #618
Not that I'm aware of, from what I've seen CAPA tags resources as owned by the cluster and uses that to differentiate between managed (lifecycle owned by CAPA) and unmanaged (BYO) resources. @detiber / @ncdc might have some additional context.

[2020-07-22 00:36] alexeldeib commented on #426
yeah, or even just stick it in a file and have the postKubeadmCommands be `bash setup.sh`.

I'm warming up to the idea of using the templatized types as a way to simplify defaulting / best practices

[2020-07-22 00:47] CecileRobertMichon commented on #704
/close

fixed in #721

[2020-07-22 00:47] #704 closed

[2020-07-22 00:47] CecileRobertMichon commented on #780
/help

[2020-07-22 00:50] CecileRobertMichon commented on #426
Yeah I like the idea of having a "reference" flavor template for GPU w/ docs using the bash script Sertac shared above for now, and then maybe open a separate issue for switching the instructions to use the nvidia operator once that works with containerd.

I'm going to mark this as help wanted.

/help

[2020-07-22 01:31] alexeldeib commented on #664
cloud provider doesn't care about subnets except for ILB I think, based on my investigation in #773. Machines/MachinePools should probably be able to target a specific subnet (especially for the BYO scenario).

We would then only use the subnets in the cluster spec as an indication of what to provision. We could even select all machines owned by this cluster and ensure the corresponding subnets ex

[2020-07-22 01:32] alexeldeib commented on #778
Going to assign this to David since he's working on multitenancy which will directly affect the authorizer setup for this

/assign @devigned

[2020-07-22 01:33] alexeldeib commented on #773
/assign

[2020-07-22 01:34] alexeldeib commented on #765
After #783 merges this will be really simple, but i'll probably tackle a few other pieces before circling back. If anyone wants to work on this feel free.

/good-first-issue

[2020-07-22 01:54] jroden commented on #612
@CecileRobertMichon My apologies for the delay!  Yes, I'm working on this as a joint effort with #615 .  I have the validating and mutating hooks created, just working through adding service account permissions so the amcp validating hook can extract the serviceCIDR field from the associated cluster resource.  I actually haven't worked on capz in a couple weeks (been pushing to get csapro cert hop

[2020-07-22 02:19] alexeldeib commented on #614
/assign @devigned

for now at least, ref https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/809 which addresses references to credentials

[2020-07-22 16:07] CecileRobertMichon commented on #612
@jroden no worries! Was just doing some issue triage, feel free to work on it whenever you can. Will mark you as assigned so no one else works on it at the same time.

/assign @jroden

[2020-07-22 18:28] alexeldeib opened #815 "expose cloud provider rate limiting configuration"
/kind feature

**Describe the solution you'd like**
The Azure cloud provider exposes a wide number of configuration fields: https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/docs/cloud-provider-config.md#cloud-provider-config

Most of these can be derived from infrastructure specs in CAPZ. The significant outliers all are around the rate limiting configuration for the cloud provi

[2020-07-22 18:29] alexeldeib commented on #815
@marwanad any thoughts on this? would it be reasonable to just expose a config map for the rate limiting config?

[2020-07-22 18:33] CecileRobertMichon commented on #749
ref https://github.com/github/renaming/

[2020-07-22 18:47] CecileRobertMichon commented on #675
I haven't looked into this too much but I believe to get started:
- add new service for hosts
- add a knob to the AzureMachine spec to use dedicated hosts (possibly with options if their are attached configurations)
- when ADH is enabled, create the host before creating the VM in the azuremachine reconciler then add the host details to the VM Create
- tests
- sample flavor template
- documentation

[2020-07-22 18:50] CecileRobertMichon commented on #675
FYI @dklyle in case he has any comments/feedback since I know his team has been trying ADH with capz recently.

[2020-07-22 19:58] marwanad commented on #815
I'd say a configmap and merge with defaults is probably reasonable - yeah

[2020-07-22 21:17] alexeldeib commented on #815
For comparison sake, we could also embed it directly into the spec as e.g. map[string]string{}

[2020-07-22 21:34] alexeldeib commented on #773
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/815

[2020-07-22 21:35] alexeldeib commented on #679
/kind documentation
/kind cleanup
/remove-kind bug

[2020-07-22 22:08] nader-ziada commented on #678
here are some of the relevant info I've gathered so far from [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules)

[code]
and since the longest suffix we use when creating a VM can be `control-plane-2kw67` and the VM has a shorter max length than other resources, we need the `CLUSTER_NAME` to have a max of 44 characters to support the current naming

[2020-07-22 22:48] alexeldeib opened #817 "de-dupe tag reconciliation on machinepool"
**What steps did you take and what happened:**
We duplicate tag reconciliation on machine pools right now

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/06649e1090c393e38462c8513b62226c918717cf/exp/controllers/azuremachinepool_controller.go#L287-L291

The code above is unnecessary because this code already reconciles all tags:

https://github.com/kubernetes-sigs/cluster-api-pr

[2020-07-23 00:39] CecileRobertMichon opened #819 "MachinePool K8s upgrade should provide MinAvailable, MaxSurge, with safe rolling updates"
/kind bug

https://github.com/kubernetes-sigs/cluster-api/issues/3160

Create a cluster with a machine pool, eg. :

[code]

Try to edit the mp resource and change `Spec.Version` to another k8s version, such as `v1.18.3`. Nothing happens. The mp stays in phase "running" and no update is made to amp.

[code]

The upgrade policy is currently set to "manual". In order to implement rolling upgrade, we'

[2020-07-23 00:40] CecileRobertMichon commented on #819
/priority important-longterm
/milestone next

[2020-07-23 01:17] CecileRobertMichon opened #820 "[e2e] Add e2e test for Availability Zones / Failure domains"
We should add a test to validate that Failure Domains work as expected with Azure.

Expected behavior is:

- By default, the Cluster should spread VMs on all available zones
- If the user explicitly defines a zone for a Machine (`Machine`, _not_ `AzureMachine`) then that zone should be used for that VM.

[2020-07-23 03:31] sb1975 opened #821 "Kubectl delete cluster keeps running indefinitely"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

# kubectl delete clusters capi-quickstart --force
warning: Immediate deletion does not wait for confirmation that the running resource has been terminated. The resource may continue to run on the cluster indefinitely.
cluster.cluster.x-k8s.io "capi-quickstart" force deleted

Also runnin

[2020-07-23 11:17] Deeps-1989 commented on #817
/assign

[2020-07-23 15:21] devigned commented on #678
Hmm... What about DNS names? I believe we could end up with a cluster name which will not create a proper DNS entry due to having a `.` in the name.

+1 to making cluster name most strict. If someone opens an issue about needing to have char set for `metadata.name`, then perhaps, we can consider adding an override for cluster name to the `AzureClusterSpec`.

[2020-07-23 18:42] nader-ziada commented on #678
yeah, more restrictions on the `{CLUSTER_NAME}`

[2020-07-23 20:51] gab-satchi commented on #820
/assign

[2020-07-23 22:17] CecileRobertMichon commented on #820
@gab-satchi thanks for picking this up! Just a heads up, I'm working on a refactor of the VM service right now as part of #757  that will remove a lot of the old AvailabilityZones code so things might change a bit in the coming week in case you want to wait for that (not a blocker strictly speaking, it shouldn't conflict with any tests and should be equivalent behavior wise).

[2020-07-23 22:47] alexeldeib opened #824 "add network describer interface"
/kind cleanup

**Describe the solution you'd like**
This is a convenient way to allow for multiple infrastructure types to implement the necessary interfaces (ClusterDescriber and NetworkDescriber) to describe all required Azure infrastructure and secrets.

It's a stepping stone to removing AzureCluster from MachineScope, so MachineScope can use different Cluster/ControlPlane providers

**Anything

[2020-07-23 22:51] alexeldeib opened #825 "move ClusterDescriber methods to CRD types"
/kind cleanup

**Describe the solution you'd like**
Move implementation of ClusterDescriber interface onto CRD types directly, e.g. AzureCluster and AzureManagedControlPlane. This allows machine scope to use either one to extract join parameters as long as it implements the required interface, which I PoC'd in #822

**Anything else you would like to add:**
See https://github.com/kubernetes-sigs/cl

[2020-07-23 23:16] #817 closed

[2020-07-23 23:50] CecileRobertMichon commented on #824
/assign @alexeldeib
/assign

Just assigning us for now so no one else starts working on it while we figure out how to minimize merge conflicts. If you don't open a PR for it, I can after I finish with VMs.

[2020-07-23 23:51] CecileRobertMichon commented on #825
/assign @alexeldeib

[2020-07-23 23:52] alexeldeib opened #826 "Integrate AzureMachine with AzureManagedControlPlane (BYO nodes on AKS)"
/kind feature

**Describe the solution you'd like**
Extend CAPZ as necessary to allow CAPZ-managed AzureMachines to join AKS clusters provisioned by AzureManagedControlPlane. A PoC exists in #822, which itself relies on #824 and #825. On top of those changes, we need to add logic in AzureMachineController to allow instantiating the appropriate cluster describer at runtime using the duck typing fro

[2020-07-23 23:54] CecileRobertMichon commented on #821
`kubectl delete -f cluster.yaml --wait=false` solves this issue

The reason it takes a long time is that it deletes the resources in Azure before returning success which could take a while. In the future, we have plans to move the Azure API calls to a separate infra controller and not block on long running operations (see https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/416), b

[2020-07-23 23:54] #821 closed

[2020-07-24 19:59] CecileRobertMichon commented on #825
We also need to start unit testing these files, maybe we can use that as a forcing function , or at least as a stepping stone to make it easier.

[2020-07-24 23:22] CecileRobertMichon commented on #618
rename IngressRules to SecurityRules (maybe?) to be consistent with Azure naming

[2020-07-27 14:34] gab-satchi commented on #820
sounds good. thanks for the heads up

[2020-07-27 15:39] dklyle commented on #675
@CecileRobertMichon was out last week. There is also work around a service for host groups and being able to specify those in the AzureMachine spec as well. I have started work on generalizing my implementation for dedicated host support. But I'm a ways from having it ready to post as a PR.

Ideally once, if, the ability to specify host group instead of specific host is implemented in the Azure VM

[2020-07-27 16:17] CecileRobertMichon commented on #820
PR is in flight https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/827

[2020-07-27 19:47] jackfrancis opened #832 "node didn't join cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hi there, I build a 3 control plane node + 20 worker node cluster, and only 19 worker nodes joined. From the logs on the VM of the node that didn't join it appears that the kubeadm node registration as logged in the `cloud-final` journalctl logs ran into an etcd leader election change a

[2020-07-27 19:48] jackfrancis commented on #832
Btw I added this PR to the troubleshooting docs to help others debug similar error symptoms more quickly:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/831

[2020-07-27 19:50] CecileRobertMichon commented on #832
Adding `useExperimentalRetryJoin: true` to the KubeadmConfigTemplate spec should solve this. I just realized it's not there in our reference templates, we should add it there.

[2020-07-27 19:51] CecileRobertMichon commented on #832
This is something we'd like to enable by default in CAPI in the near future and, more long term, to have kubeadm handle directly: https://github.com/kubernetes-sigs/cluster-api/issues/2769

[2020-07-27 19:55] jackfrancis commented on #832
How can I retroactively address the situation? Just delete the VM?

[2020-07-27 19:58] CecileRobertMichon commented on #832
Try deleting the machine on the management cluster instead, that way infrastructure deletion dependency is handled for you.

[2020-07-27 20:02] jackfrancis commented on #832
It looks like retryjoin is enabled on all YAML in the codebase except this one:

templates/flavors/machinepool/patches/control-plane-azure-file.yaml

E.g., this is the configuration everywhere else:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/cluster-template.yaml#L109

[2020-07-27 20:04] CecileRobertMichon commented on #832
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/cluster-template.yaml#L109 is the control plane kubeadm config, we'd also need to add it to the machine kubeadmConfigTemplate so it's enabled for worker nodes https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/templates/cluster-template.yaml#L190

[2020-07-27 20:05] CecileRobertMichon commented on #832
As a side note, we should look into recommending Machine Health Checks https://cluster-api.sigs.k8s.io/tasks/healthcheck.html as part of the reference template so that remediation happens automatically if/when kubeadm retry join fails.

[2020-07-27 20:06] jackfrancis commented on #832
[code]

Will report back!

[2020-07-27 20:24] jackfrancis commented on #832
[code]

[code]

:)

[2020-07-27 20:45] CecileRobertMichon commented on #603
/assign @jackfrancis
/assign

Jack and I are going to start putting together a CAPZ proposal / design doc for different ways we can implement this in Azure. Will drop a link to a doc here for collaboration once it exists.

[2020-07-27 23:29] jackfrancis opened #834 "control plane nodes takes over 20 mins to come online (5 nodes)"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Built a cluster w/ a 5 replica `KubeadmControlPlane`configuration, and it took over 20 mins for all nodes to come Ready after the first Ready node landed:

[code]

Relevant events data for the `KubeadmControlPlane` resource:

[code]

**What did you expect to happen:**

Is this normal? I

[2020-07-28 00:23] jackfrancis commented on #834
Been trying to repro after upgrading to v0.4.6 and can't, things seem to be a bit better anecdotally. FWIW.

Here's one w/ 9 control plane nodes stabilized in ~15 mins:

[code]

[2020-07-28 01:57] awesomenix commented on #819
Also want to add that there is a small setting change required on VMSS

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification#rest-api

to allow drainsafe to receive termination events. If we can integrate drainsafe (or similar mechanism), we can treat upgrades as any other maintenance operation which would mean that there shouldnt be a

[2020-07-28 16:13] CecileRobertMichon commented on #834
Did you also have any worker nodes provisioning at the same time? or just control planes? The default controller concurrency for AzureMachine is 10. Also, unless the Azure VMs themselves took longer than expected to create, this would be a good issue to raise in https://github.com/kubernetes-sigs/cluster-api/issues since KCP is not CAPZ specific.

[2020-07-28 16:29] CecileRobertMichon commented on #356
This would also require adding NSG RG to the AzureCluster Spec since the nsg can be in its own RG as well

[2020-07-28 16:32] jackfrancis commented on #834
This is from a "cluster create" operation that included control plane and worker nodes submitted (via `kubectl apply -f` of a clusterctl-created spec) at the same time.

How does one configure the controller concurrency value?

[2020-07-28 16:56] awesomenix commented on #819
/assign @awesomenix

[2020-07-28 16:57] CecileRobertMichon commented on #819
@awesomenix go for it!

[2020-07-28 17:08] CecileRobertMichon commented on #834
It's not well exposed nor documented yet but each controller has its own concurrency flags and you'd set those by setting a flag on the manager, eg. https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/main.go#L123

[2020-07-28 17:29] alexeldeib opened #836 "version for managed control plane should be normalized in webhook"
/kind feature

**Describe the solution you'd like**

AzureManagedControlPlane should have the version normalized to handle https://github.com/kubernetes-sigs/cluster-api/pull/3147.

We should add a defaulting webhook similar to machine to handle the normalization: https://github.com/CecileRobertMichon/cluster-api/blob/9aaae9f9b5152ed4dc8ce8f2fe6e51f8c6395a37/api/v1alpha3/machine_webhook.go#L60-L63

[2020-07-28 17:35] #832 closed

[2020-07-28 19:53] jackfrancis commented on #834
I can confirm that editing the `capz-controller-manager` resource and setting `--azuremachine-concurrency=1` has the intended effect of dramatically slowing down node bootstrap reconciliation. :)

[2020-07-28 19:54] jackfrancis commented on #834
Closing this issue for now, will re-open if similar symptoms persist.

[2020-07-28 19:54] #834 closed

[2020-07-28 20:56] ncdc opened #840 "AzureClusterReconciler's watch on Cluster for unpause notifications is not working"
/kind bug

**What steps did you take and what happened:**
1. Pause a `Cluster`
1. Unpause it
1. The `AzureCluster` is not reconciled

**What did you expect to happen:**
1. The `AzureCluster` is reconciled

**Anything else you would like to add:**
We are passing an empty AzureCluster's GroupVersionKind() to util.ClusterToInfrastructureMapFunc(), which means the helper will never match on AzureClust

[2020-07-28 20:56] ncdc commented on #840
/assign
/lifecycle active

[2020-07-28 21:31] devigned opened #842 "Fix and verify unpaused Cluster triggers reconcile for dependent resources"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The way unpause notifications have been implemented is incorrect and will not capture cluster unpause events. See #841. We should correct the rest of the unpause Cluster watches and author tests to verify they work.

[2020-07-29 00:12] CecileRobertMichon opened #844 "Document that only control plane machines will automatically get spread on failure domains"
/kind documentation

Existing doc at https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/topics/failure-domains.md#default-behaviour implies that all Machines get spread to all failure domains by default. However, currently, only control plane machines (part of a KubeadmControlPlane) get spread to failure domains.

https://github.com/kubernetes-sigs/cluster-api/issues/33

[2020-07-29 00:13] CecileRobertMichon commented on #844
/help
/good-first-issue

[2020-07-29 00:17] #840 closed

[2020-07-29 05:11] jroden commented on #612
cleared the exam :tada: so I'm back!

Currently working on the rbac permissions for the amcp validating webhook.  Researching if I can assign a custom serviceAccount to the amcp webhooks since system:serviceaccount:capi-webhook-system:default doesn't have permissions to list cluster objects.

Once I have that sorted I should be ready to submit a PR for these!

[2020-07-29 07:10] Evalle commented on #844
/assign

[2020-07-29 17:17] alexeldeib commented on #836
ref https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/818 which is the current implementation of the same thing, but we should put this in a webhook

[2020-07-29 21:29] nader-ziada commented on #780
/assign

[2020-07-29 21:37] CecileRobertMichon commented on #780
@nader-ziada just fyi @devigned already enabled the self-hosted one in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/843/files#diff-cf63d4849f8ccd526cbe6e442ed9c72cR94, so you can focus on the others

[2020-07-29 21:41] nader-ziada commented on #780
I think its more involved than enabling it, the cluster on azure can't find the generated image and fails, but anyways will work on the other tests

[2020-07-30 14:02] #530 closed

[2020-07-30 16:26] devigned opened #847 "Errors during AKS cluster provisioning"
/kind bug

**What steps did you take and what happened:**
- run `EXP_MACHINE_POOL=true EXP_AKS=true make tilt-up`
- click on "worker-aks" in Tilt UI to deploy an AKS managed cluster
- during reconciliation, the following errors are seen repeatedly, but the infra eventually reconciles successfully
[code]

**What did you expect to happen:**
I expect in the normal case there would be no errors in the

[2020-07-30 16:31] alexeldeib commented on #847
I was confused by these because I thought we already did a `Get` on the managed cluster in the reconciler, but looks like we only check if the agent pool exists: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/928f0c492b8dccf78703b343c7bbe543a5861210/cloud/services/agentpools/agentpools.go#L66

Since the managed pool reconciler and the cluster reconciler are separate, seems like

[2020-07-30 16:32] mboersma commented on #814
/assign

[2020-07-30 16:35] devigned commented on #847
It works, but it's just not optimal. I didn't want to hold back the changes in #798.

[2020-07-30 17:20] CecileRobertMichon commented on #807
/assign @mboersma

[2020-07-30 17:20] CecileRobertMichon commented on #807
/remove good-first-issue

[2020-07-30 18:12] #678 closed

[2020-07-30 21:55] #791 closed

[2020-07-31 01:27] jroden commented on #612
Hope everyone is having a good week!  I've done a little digging and am hoping to get some feedback.  A quick background on the challenge I'm working through is-- the validating webhook for amcp needs to list the owner cluster resource (to get the serviceCIDR field for validating the amcp DNSServiceIP).  The capz webhooks are served from the capz-controller-manager deployment in the capi-webhook-s

[2020-07-31 15:53] devigned commented on #612
We have avoided using a client from webhooks up to this point. Perhaps, this deserves stronger consideration than we have provided it in the past. It appears this will be a reoccurring issue in infrastructure providers, which need information about their related CAPI resources.

[2020-07-31 16:56] CecileRobertMichon commented on #847
Are not blocking on the managed cluster create in the service that creates it like we do for other services currently?

"get the cluster and check for a succeeded (or simply terminal?) provisioning state before attempting more operations" is fine for now but I'm a bit concerned about generalizing this across services when we start not blocking on long running create operations because it would add

[2020-07-31 18:15] alexeldeib commented on #612
seems reasonable to me to generate a separate serviceaccount/role for our webhook deployment? @vincepri @detiber any thoughts on this (kubeclient in webhooks, multiple webhook serviceaccounts) from CAPI perspective?

[2020-07-31 18:24] detiber commented on #612
I believe we've mostly avoided it until now because of the multi-tenancy model we are operating under (being namespace-based). Once things have adopted native multi-tenancy, then I think it'll be a lot easier to do these types of things.

[2020-07-31 18:46] alexeldeib commented on #612
hmm, I'm not sure I totally follow. I was thinking we'd add some controller-gen rbac markers and deploy a Role + RoleBinding + ServiceAccount into the existing capi-webhook-system namespace, but they would be specific to capz. Are you talking about some way to isolate the existing set up of managers/webhooks more cleanly?

[2020-07-31 18:51] detiber commented on #612
The main reason why we separated out the webhooks from the controller deployment was because multi-tenancy is currently done via separate controller manager deployments watching different namespaces. Since there is only a single deployment of webhooks, it would require the webhook "controller manager" to have broader permissions across the cluster than the associated controller "controller manager

[2020-07-31 19:00] alexeldeib commented on #612
Does that imply we shouldn't use ClusterRoles in CAPI upstream and infra/bootstrap providers downstream? Seems that would go against the security model, we use them a bit liberally at the moment.

[2020-07-31 19:13] devigned commented on #780
@nader-ziada, as you point out, the pivot clusters fail b/c they run into an image backoff error due to the fact we are only pushing images into kind, and not to a remote repository. I'm taking a look at that right now.

[2020-07-31 19:21] detiber commented on #612
Probably, but I think that would also require changes to `clusterctl` to support.

[2020-07-31 19:31] alexeldeib commented on #612
@jroden i guess we may want to park this one for a bit, I’m not sure the trade off here makes sense at the moment. If we’re not doing so already, maybe we can just make an invalid IP record an event and terminal condition in the customer resource instead.

[2020-07-31 19:31] vincepri commented on #612
Apart from what Jason mentioned, having a client in webhooks can turn into error prone behavior pretty easily. You can get into situations where object A requires object B which requires object A, then webhooks would cause an infinite loop.

We'll need to find a good solution for this, we're also re-evaluating the webhook approach we take today in controller runtime.

[2020-07-31 19:33] alexeldeib commented on #612
/remove-help

[2020-07-31 19:52] devigned commented on #780
@nader-ziada see #852

[2020-07-31 23:29] alexeldeib commented on #847
We block on create in the AzureManagedControlPlane reconciler, the issue is we have a separate AzureManagedMachinePool reconciler for agent pools. This fails to reconcile when the AKS resource is in a non-terminal state and it tries to PUT a new pool.

I would probably rather look at the k8s object to figure out dependencies, we might even be able to cheat and use the existing readiness that the c

[2020-08-03 15:51] jsturtevant opened #855 "Improvements in e2e"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As a developer I would like to be able to run e2e tests against a workload cluster that is created.  With CAPZ we have two scenarios that need to be tested:

- The management cluster components create, update and delete workload clusters correctly
- The workload clusters created functi

[2020-08-03 15:56] jsturtevant commented on #855
/cc @mboersma

[2020-08-03 16:09] jsturtevant opened #857 "When running a workload with a single control plane node the load balancers take 15 mins to provision"
/kind bug

**status** (as of 6/10/21):

- fixed in out of tree cloud provider in https://github.com/kubernetes-sigs/cloud-provider-azure/pull/537 (included in v0.7.3+)
- cherry picked into in tree cloud provider in https://github.com/kubernetes/kubernetes/pull/100110 (included in k8s 1.22+)

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When r

[2020-08-03 16:13] alexeldeib commented on #857
Guess this is another code path related to not using Availability Sets? We should probably consider that as mitigation. Anything that tries to look up IDs will fail with our current setup. It's hard to track down all the places individually.

[2020-08-03 16:38] jsturtevant commented on #857
It is related but not the root cause, The root cause is the cache used in the controller-manager.  I provided more details in  kubernetes-sigs/cloud-provider-azure#363.

I believe this could cause delays in a customer scenario were a node is added after the fact causing a delay of the LB provisioning due the fact that the cache doesn't know about the node.

[2020-08-04 01:30] #844 closed

[2020-08-04 15:33] neolit123 commented on #579
found this ticket by searching the org by mistake.

afaik, k8s-master is/ being removed:
https://github.com/kubernetes/test-infra/pull/18517

i have not seen the issue described in release recently and the kubeadm/kinder jobs have been using ci/latest:
https://github.com/kubernetes/release/issues/897#issuecomment-668665847

[2020-08-04 15:33] mboersma commented on #855
:+1: I think running each test spec inside an `It` clause rather than using a sub-`Context` is a more common way to structure Ginkgo tests.

And as you pointed out, this would open the door to focusing on a single `It` clause and running it repeatedly against an existing cluster (with a few more changes). That's a very common developer use case that needs a tighter loop.

[2020-08-04 16:04] CecileRobertMichon commented on #579
Thanks @neolit123, we actually changed to ci/latest a few days ago https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/845 so I believe this one can be closed.

/close

[2020-08-04 16:05] #579 closed

[2020-08-04 18:05] jackfrancis commented on #603
/assign

[2020-08-04 18:30] #842 closed

[2020-08-04 22:14] CecileRobertMichon commented on #575
/help
/good-first-issue

[2020-08-05 19:07] jsturtevant commented on #855
I attempted to finish pr #856 and found that the `It`'s get run in parallel and so the cluster doesn't get created before checking for load balancers.

I not a ginko expert but I think we have a few options:

1. Set up the clusters we would like to run specs against in either [SynchronizedBeforeSuite and SynchronizedAfterSuite](http://onsi.github.io/ginkgo/#parallel-specs) or [BeforeSuite and Afte

[2020-08-06 15:43] cpanato commented on #765
can i try this one? @CecileRobertMichon @alexeldeib

[2020-08-06 15:44] devigned commented on #765
/assign @cpanato

[2020-08-06 15:51] #584 closed

[2020-08-07 14:42] devigned opened #865 "Remove the REGISTRY override in ci-e2e"
/kind bug

When #852 gets pulled, the current REGISTRY env var will be overridden in [`./scripts/ci-e2e.sh`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/852/files#diff-20e0541def8acb609f41e6e8e278ae08R52-R55). This override should be removed after the test-infra job has been updated to use the new Azure Container Registry.

[2020-08-07 16:15] nader-ziada commented on #865
/milestone v0.4.8

[2020-08-07 16:35] mboersma commented on #807
/assign

[2020-08-07 16:48] mboersma commented on #807
/remove-good-first-issue

[2020-08-10 14:47] cpanato commented on #765
/remove-help

[2020-08-10 20:36] jackfrancis opened #868 "AzureMachineTemplate location template.spec property has no effect"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

It appears that the only operable "location" configuration is in the AzureCluster spec. There is a "location" property for the AzureMachineTemplate spec, but changing it has no effect.

**What did you expect to happen:**

I actually expected the machine to be deployed in a different reg

[2020-08-10 21:20] CecileRobertMichon commented on #656
seeing

[code]

in CAPI logs

MachinePool is pending:

[code]

[2020-08-10 21:24] CecileRobertMichon commented on #656
Looking at the kubeadmconfig:

[code]

[2020-08-11 00:36] CecileRobertMichon commented on #656
@devigned sorry I sort of stole this from you, I learned a lot about watches and predicates in the process though so not sorry 🙂

[2020-08-11 12:25] devigned commented on #656
Thank you, @CecileRobertMichon. I hadn't made much progress on it.

[2020-08-11 17:01] CecileRobertMichon commented on #868
Let's mark the Machine Spec `Location` property as `DEPRECATED` (see AvailabilityZone for an example).

Since it's not being used we'll mark it as deprecated to preserve back compat and remove it completely as part of v1alpha4 unless we implement the functionality to have VMs in different regions by then. It's probably non trivial though since the AzureCluster networking infra is all tied to the c

[2020-08-11 17:42] CecileRobertMichon opened #871 "AzureMachine reconciler error patching condition"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Seeing intermittent error in capz controller logs:

[code]

We should find out what are the two processes competing to update the ready condition.

**What did you expect to happen:**

No error in reconciler.

**Anything else you would like to add:**
[Miscellaneous information that will

[2020-08-11 17:43] CecileRobertMichon commented on #871
@nader-ziada any ideas?

[2020-08-11 18:12] nader-ziada commented on #871
looking into it

/assign

[2020-08-11 22:16] CecileRobertMichon commented on #855
/assign @mboersma

[2020-08-11 22:59] CecileRobertMichon commented on #675
I'm going to move this to the next milestone for now thanks @dklyle

/milestone next

[2020-08-11 23:00] CecileRobertMichon commented on #855
related to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/553

[2020-08-12 17:25] #656 closed

[2020-08-12 17:43] #865 closed

[2020-08-12 21:51] CecileRobertMichon commented on #467
/assign

[2020-08-12 22:18] CecileRobertMichon commented on #426
There is also a VM extension available on Azure that might be worth looking into: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/hpccompute-gpu-linux

Not sure if it works with containerd though.

[2020-08-12 22:37] nader-ziada opened #874 "azure.json not generated for individual AzureMachine"
/kind bug

**What steps did you take and what happened:**

- When trying a create a control-plane machine using the `Machine`, `AzureMachine` and `KubeadmConfig` resources, the secret for azure.json is not generated and the machine gets stuck in a `Provisioning` state

**What did you expect to happen:**
the secret to be generated and the machine to join the cluster and have a state of `Running`

*

[2020-08-12 22:41] nader-ziada commented on #874
This is the cluster I was testing with when I observed the issue

[code]

[2020-08-12 22:44] alexeldeib commented on #874
In the json machine controller, we explicitly filter out individual control plane machines because they would be created by KCP, which uses a machine template.

Should we expect this to work? I’m not sure what the expectation is around joining control plane machines individually like this is without a corresponding control plane resource?

[2020-08-13 00:45] CecileRobertMichon commented on #874
@alexeldeib yes, individual control plane machines should still work (even though that's not the main use case). In this case, we're using them to test https://cluster-api.sigs.k8s.io/tasks/kubeadm-control-plane.html?highlight=adoption#adopting-existing-machines-into-kubeadmcontrolplane-management.

[2020-08-13 00:56] alexeldeib commented on #874
remove this line should fix it: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/3f5387a273eb3595af774c124365c272179928b2/controllers/azurejson_machine_controller.go#L97

out for dinner but can open a pr later

[2020-08-13 02:42] #475 closed

[2020-08-13 18:17] nader-ziada commented on #874
/assign

I was already investigating it as part of the capi e2e tests PR

[2020-08-13 21:34] #612 closed

[2020-08-13 21:34] #874 closed

[2020-08-14 20:08] #871 closed

[2020-08-15 16:26] cpanato commented on #765
should we validate the memory as well?

[2020-08-17 17:19] CecileRobertMichon commented on #819
@awesomenix any updates on this? We'd like to move MachinePool out of exp/ as part of v1alpha4 which is planned for Q4 and this is a blocker for that.

[2020-08-17 21:59] wfernandes opened #886 "Include metadata.yaml as part of release artifacts"
**Describe the solution you'd like**
Cluster API providers should provide a `metadata.yaml` artifact as part of their releases so that clusterctl can rely on it to enforce CAPI contract versions.
In [our documentation](https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#provider-repositories), we define a requirement of the CAPI providers to provide a `metadata.yaml` file.

Providing

[2020-08-19 14:25] #780 closed

[2020-08-19 21:05] #692 closed

[2020-08-20 05:19] awesomenix commented on #819
Sorry have been swamped with work past few weeks. I will get to it this weekend and send PR in stages.

[2020-08-20 15:41] CecileRobertMichon commented on #757
/help

[2020-08-20 15:46] CecileRobertMichon commented on #553
/next

[2020-08-20 15:47] CecileRobertMichon commented on #553
/milestone next

[2020-08-20 15:51] CecileRobertMichon commented on #757
/milestone next

[2020-08-20 15:53] CecileRobertMichon commented on #663
/assign @fiunchinho

[2020-08-20 21:30] CecileRobertMichon commented on #153
Windows CAEP [doc](https://docs.google.com/document/d/14evDl_3RgEFfchmgPzNw6lb1vIttN_Hb9333UnUJ734/edit?usp=sharing) authored by @jsturtevant and @ksubrmnn is under review

[2020-08-20 21:58] CecileRobertMichon commented on #489
we're already doing this so I'm going to close the issue, nothing to do here

/close

[2020-08-20 21:58] #489 closed

[2020-08-20 22:04] CecileRobertMichon commented on #586
/reopen

this isn't actually implemented yet

[2020-08-20 22:15] CecileRobertMichon commented on #696
/kind bug

[2020-08-20 22:18] CecileRobertMichon commented on #836
/help
/good-first-issue

webhook for managed control plane was added in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/862

[2020-08-21 00:17] #765 closed

[2020-08-21 22:31] jsturtevant opened #892 "Defaulting for internal loadbalancer ip address should be moved to a webhook"
/kind feature

**Describe the solution you'd like**
The internal loadbalancer ip address default is in the Service instead of a webhook where other defaults are set:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/92164bbf8c1ae7073c7d3f63ade6cb9c9335f971/cloud/services/loadbalancers/loadbalancers.go#L196-L204

This logic should be moved to a webhook for defaulting

**Anything e

[2020-08-24 16:29] fiunchinho opened #894 "Nat gateway support in SubnetSpec"
***Goals***
1. Support specifying the Nat Gateway in the `SubnetSpec` type.

***Non-Goals/Future Work***

**User Story**

As a [developer/user/operator] I would like to specify which Nat Gateway to use when describing subnets for being able to configure egress traffic in worker nodes.

**Detailed Description**

[The `SubnetSpec` type](https://github.com/kubernetes-sigs/cluster-api-provider-azure/b

[2020-08-24 16:34] CecileRobertMichon commented on #892
I think the main reason it's not is that it calls to the vnet client to check IP address availability in order to find an available IP in the subnet, which can't be done from a webhook: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/services/loadbalancers/loadbalancers.go#L205

[2020-08-25 01:10] CecileRobertMichon opened #897 "Document installing OOT storage drivers"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
This [doc](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/docs/book/src/topics/external-cloud-provider.md) already documents using the out of tree cloud provider. It should also document and provide an example template to install https://github.com/kubernetes

[2020-08-25 01:10] CecileRobertMichon commented on #897
/help

[2020-08-26 04:14] gdhuper commented on #575
If this issue is still available, I'd like to take a stab at it. Thanks

[2020-08-26 20:05] CecileRobertMichon commented on #467
/unassign
/milestone next

[2020-08-26 23:17] #814 closed

[2020-08-27 00:07] CecileRobertMichon commented on #606
/assign

[2020-08-27 14:31] jayunit100 opened #902 "long wait in logs during reconcile"
/kind bug

**What steps did you take and what happened:**

Seems like theres an unnaturally log silent phase during reconcile,
[code]
Which picks back up again  about 20 minutes later.. .

[code]

**What did you expect to happen:**

Probably some kind of status would print out at least every minute or so during creation of a management cluster from capz-controller-manager

**Anything else you woul

[2020-08-27 14:35] ncdc commented on #902
The manager does a full resync every 10 minutes. If nothing is changing in etcd during those 10 minutes, you won't see anything logged, as the manager doesn't have any work to do. I'd suggest closing this.

[2020-08-27 14:41] jayunit100 commented on #902
hmmm ok, don;t know enough to debate this :) , typically w/ capa clusters im not used to seeing this kind of lag in log feedback, but will close anyways.

[2020-08-27 14:41] #902 closed

[2020-08-27 14:56] devigned commented on #902
If nothing is changing and the logs keep spewing, that could be an indication of unnecessary work being done by the controller. CAPZ has suffered from inefficient watches and event cycles in the past, which are pernicious little bugs.

If anyone notices continuous logs from controllers with nothing changing in the cluster, please open an issue.

[2020-08-27 16:33] #706 closed

[2020-08-27 19:48] #351 closed

[2020-08-27 21:40] jayunit100 opened #903 "AZURE_SSH_PUBLIC_KEY should be B64_AZURE_SSH_PUBLIC_KEY"
/kind bug

**What steps did you take and what happened:**

I think its pretty typical to use 'B64' for paramaters that need to be B64 encoded, and *not* use B64 when something isnt b64 encoded...

- `AWS_B64ENCODED_CREDENTIALS` (cluster-api-provider-vsphere)
- `VSPHERE_SSH_AUTHORIZED_KEY` (cluster-api-provider-aws)

However

looks like `AZURE_SSH_PUBLIC_KEY`  is an exception ~
- supposed to be B64

[2020-08-27 22:08] jackfrancis commented on #603
@CecileRobertMichon and I have written up our investigation and conclusions here:

https://docs.google.com/document/d/1U0GxvO6ltgIINMjpQz96UD4bExlN2h21wyyn-3ENezc

I think next steps are to produce a concrete proposal for implemeting a capz-specific, named Azure VM Extension to include with capz-provisioned AzureMachine vms.

[2020-08-27 23:27] CecileRobertMichon commented on #696
/assign

[2020-08-27 23:27] CecileRobertMichon commented on #486
/assign

[2020-08-27 23:29] CecileRobertMichon commented on #541
/remove-lifecycle rotten
/assign

[2020-08-27 23:29] CecileRobertMichon commented on #892
/assign

[2020-08-28 15:47] cpanato commented on #886
@wfernandes @CecileRobertMichon this metadata is something that we publish in the release like `cluster-template-aks.yaml
` here https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v0.4.7

[2020-08-28 15:56] cpanato commented on #886
/assign

[2020-08-28 16:10] cpanato commented on #868
it is opening for some time.
I will take and work on this.
/assign
/remove-help

[2020-08-28 17:18] CecileRobertMichon commented on #903
/help
/good-first-issue

@jayunit100 I'm surprised about "If a user doesnt b64 encode this variable, its pretty tricky to see where this occurs -- they won't know they made a mistake until they look in the logs of the CAPI core containers", https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/f8ca63979c28b5bc4d2d53c7a2cffd4d7edcbda4/api/v1alpha3/azuremachine_validation.go#L34 should

[2020-08-28 17:19] cpanato commented on #836
will take this
/assign
/remove-help

[2020-08-28 17:25] cpanato commented on #903
I will take that!
/assign
/remove-help

[2020-08-28 17:59] #868 closed

[2020-08-28 20:35] #903 closed

[2020-08-28 23:11] CecileRobertMichon opened #908 "Change AzureManagedCluster LoadBalancerSKU values to Uppercase"
/kind bug

To be consistent with Azure naming of Load Balancer SKUs (https://docs.microsoft.com/en-us/azure/load-balancer/skus, https://docs.microsoft.com/en-us/rest/api/load-balancer/loadbalancers/createorupdate#create-load-balancer-with-standard-sku) and with CAPZ AzureClusters, Load Balancer SKU values should be "Standard" and "Basic" (right now they are "standard" and "basic").

This is a brea

[2020-08-28 23:11] CecileRobertMichon commented on #908
/help
/good-first-issue

[2020-08-28 23:19] CecileRobertMichon opened #909 "Generate SSH key in AzureMachinePool and AzureManagedControlPlane defaulting webhook"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We should default `SSHPublicKey` for AzureMachinePool and AzureManagedControlPlane, like we do for AzureMachine: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/f8ca63979c28b5bc4d2d53c7a2cffd4d7edcbda4/api/v1alpha3/azuremachine_default.go#L29.

This should also incl

[2020-08-28 23:51] #886 closed

[2020-08-29 07:11] Evalle commented on #908
I think I can take care of it
/assign

[2020-08-29 08:55] jayunit100 commented on #903
thanks @CecileRobertMichon ! that sounds good

[2020-08-31 23:39] CecileRobertMichon opened #915 "Secure sensitive bootstrap data"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

from https://github.com/kubernetes-sigs/cluster-api/issues/1739

CAPZ uses this bootstrap data as the user data for the VM/VMSS. If a user has read-only access to the VM, this could grant them access to the user data, and therefore access to the sensitive data.

Azure recommends _not_

[2020-09-01 00:04] jsturtevant commented on #915
By "user that has access to the VM", do you mean access to the physical VM or the azure resource via the ARM api?  I believe the files would still need to have to live on the VM it's self for kubeadm to do it's job?

[2020-09-01 00:05] CecileRobertMichon commented on #915
The latter. Updated that sentence for clarity, thanks!

[2020-09-01 01:23] #606 closed

[2020-09-01 17:01] CecileRobertMichon commented on #318
/assign
/milestone next

[2020-09-02 01:57] #908 closed

[2020-09-02 19:39] voor commented on #657
/remove-lifecycle stale

[2020-09-03 00:28] CecileRobertMichon commented on #886
release [v0.4.8](https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v0.4.8) has this

[2020-09-03 15:12] cpanato commented on #165
/milestone v0.4.9

[2020-09-03 15:24] nader-ziada commented on #761
This feature is coming from the CAPI e2e test framework

/close

[2020-09-03 15:25] nader-ziada commented on #615
already fixed in PR #862

/close

[2020-09-03 15:25] #615 closed

[2020-09-03 15:28] nader-ziada commented on #554
/close

[2020-09-03 15:59] CecileRobertMichon opened #920 "Update version of cert manager"
CAPI has already updated the cert manager version, https://github.com/kubernetes-sigs/cluster-api/pull/3511, we should change all references in the CAPZ code base as well.

[2020-09-03 16:07] CecileRobertMichon commented on #773
/close

[2020-09-03 16:07] #773 closed

[2020-09-03 16:11] CecileRobertMichon opened #921 "Remove credentials from azure.json on worker nodes"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
From https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/773#issuecomment-659082883

We should verify that that assumption is true and only set the credentials on the azure.json secret for control planes in https://github.com/kubernetes-sigs/cluster-api-provider-azure/

[2020-09-03 16:15] CecileRobertMichon commented on #920
/help

[2020-09-05 07:46] cpanato commented on #663
/remove-help

[2020-09-05 07:47] cpanato commented on #807
/remove-help

[2020-09-05 08:12] cpanato commented on #897
I will try, but maybe will need some help from more experienced persons :)
/assign
/remove-help

[2020-09-05 09:12] cpanato commented on #920
/assign
/remove-help

[2020-09-05 14:49] cpanato commented on #909
I will take this since no one claims it :)

/assign
/remove-help

[2020-09-05 15:08] cpanato commented on #909
off-topic question:
when we generate the ssh keys, should we store somewhere the private key?

[2020-09-07 23:39] awesomenix commented on #819
Sorry for the delay to get this completed, I am playing around rolling upgrade + scheduled events and i see multiple problems

1. When terminationNotificationTimeout is set, I dont see it being applied to VMSS, seems like a bug from my PR, investigation needed
2. During rolling updated, VMSS doesnt seem to emit scheduled events at all. Scheduled events seems to be only emitted on reboot or delete

[2020-09-08 16:28] CecileRobertMichon commented on #819
Thanks @awesomenix. I know that vmss MaxSurge is planned but I don't know about the exact timeline for it so I think we should start with option 2 for now with the plan to change it to 1 once we can rely on built-in surge.

I will also follow up on "During rolling updated, VMSS doesnt seem to emit scheduled events at all. Scheduled events seems to be only emitted on reboot or delete of instance.",

[2020-09-08 16:33] CecileRobertMichon commented on #909
right now the behavior for AzureMachines is to not store the private key since we don't know if the environment the cluster is being created from is shared/public. If the user would like to store the key, they should create their own and set it, or alternatively they can easily reset the key from the Azure Portal or Azure CLI after the VM is created. The defaulting is mostly provided as a convenie

[2020-09-08 16:53] devigned commented on #819
Perhaps, we should rethink upgrade. What if CAPZ updates the model, then deletes an instance and allows VMSS to recreate the instance with the new model?

Seems like we would get the delete instance event, and we could control surge / max unavailable ourselves.

Thoughts?

Thank you for working on this @awesomenix!

[2020-09-08 16:53] nader-ziada commented on #815
would we want to expose all these values? https://kubernetes-sigs.github.io/cloud-provider-azure/install/configs/#per-client-rate-limiting

[2020-09-08 16:58] CecileRobertMichon commented on #819
That's interesting. At that point, we wouldn't even need to delete instance event since we would be the ones triggering the delete, so we would know when it is getting deleted. Although there might be some value in having a generic "drain before delete" implementation where the nodes get drained no matter what/who triggered the delete.

[2020-09-08 20:37] nader-ziada commented on #586
/assign

[2020-09-09 11:52] devigned commented on #819
After doing a bit of experimentation with behavior of scaling configuration and instance delete I found that if manual scaling is enabled on the VMSS (a manual set number of replicas) and you delete an instance, the number of replicas decreases by 1. That is to say, if you have 3 replicas on the VMSS and you delete an instance, the VMSS will now only have 2 replicas.

On the other hand, if you set

[2020-09-09 16:19] #920 closed

[2020-09-09 19:43] #836 closed

[2020-09-13 02:34] alexeldeib opened #931 "azuremachine update webhook allows multiple OS images"
/kind bug

**What steps did you take and what happened:**
changed a machine deployment from a shared gallery image to a marketplace image and kubectl apply'd it. the shared gallery image stayed and the marketplace image was also applied.

**What did you expect to happen:**
This should result in webhook rejection unless the user explicitly empties the value in the next patch/update.

**Anything els

[2020-09-14 08:07] varunpurohit76 commented on #562
hi @CecileRobertMichon can i take this up?

[2020-09-14 15:56] CecileRobertMichon commented on #562
@varunpurohit76 go for it!

[2020-09-14 15:56] CecileRobertMichon commented on #562
/assign @varunpurohit76

[2020-09-14 16:42] CecileRobertMichon opened #932 "CAPI KCP upgrade periodic job is flaky"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#periodic-capi-e2e

`Running the Cluster API E2E tests Running the KCP upgrade spec Should successfully upgrade Kubernetes, DNS, kube-proxy, and etcd in a HA cluster` step is flaky (4 failures out of last 8 runs as o

[2020-09-14 16:42] CecileRobertMichon commented on #932
/priority important-soon

[2020-09-14 16:45] CecileRobertMichon commented on #815
We could make this a 1.18+ feature only and support per-client rate limiting to avoid having to implement the old way of having global rate limit settings.

[2020-09-14 18:05] nader-ziada commented on #932
/assign

[2020-09-14 18:17] alexeldeib commented on #826
Issues I encountered working on https://github.com/kubernetes-sigs/cluster-api-provider-azure/compare/master...alexeldeib:ace/integrate?expand=1

### Critical issues // functional problems
- Currently nodes use an admin kubeconfig to join the cluster, then patch their own role and labels to drop privileges and become agents. This is awful security practice and I feel is the most critical item to f

[2020-09-14 18:25] alexeldeib commented on #826
/assign

[2020-09-14 21:11] #931 closed

[2020-09-15 22:43] CecileRobertMichon opened #935 "Auto detect available flavors in Tilt"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently, using cluster flavors as Tilt resources requires adding them to tile_config.json as described in https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/master/templates/flavors#from-tilt-config. Furthermore, this requires developers to remember adding new flavors

[2020-09-15 22:43] CecileRobertMichon commented on #935
/help

[2020-09-15 23:23] CecileRobertMichon opened #937 "Cleanup tilt flavor clusters on refresh"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
For effective development, I would like to be able to "refresh" my tilt workload clusters to deploy a new cluster after fixing an issue in my code. Currently, the `CLUSTER_NAME` defaults to `flavor + "-template"`, which means in order to create a new cluster I need to manually delete i

[2020-09-16 00:21] CecileRobertMichon commented on #629
I'm going to close this one since it doesn't require any changes to the infra provider AFAIK and it's already being tackled from an image perspective in kubernetes-sigs/image-builder#248 and for bootstrapping in https://github.com/kubernetes-sigs/cluster-api/pull/3437

/close

[2020-09-17 00:02] #562 closed

[2020-09-17 15:00] CecileRobertMichon opened #940 "Update mdbook to v0.4.3"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
See https://github.com/kubernetes-sigs/cluster-api/pull/3659

/help
/good-first-issue

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubect

[2020-09-17 15:00] vincepri commented on #940
Hey 👀

[2020-09-17 15:47] vbatts commented on #629
@CecileRobertMichon I think it may require infra-provider updates, it just that the image-builder work has been a huge thing for review and feedback.

[2020-09-17 15:57] varunpurohit76 commented on #940
can i take this up @CecileRobertMichon ?

[2020-09-17 16:07] CecileRobertMichon commented on #940
@varunpurohit76 go for it! Thanks 🙂

/assign @varunpurohit76

[2020-09-17 19:32] vbatts commented on #629
I guess I was mis-remembering. Looking through the code it doesn't seem to have particular things jump out as blockers. There is a good chance we need a change to incorporate the ignition-bootstrap-provider, rather than just kubeadm-bootstrap-provider.
The big this is for us to work through the providers and get testing on this.

[2020-09-17 21:47] gab-satchi commented on #921
/assign

[2020-09-17 21:47] gab-satchi commented on #921
/lifecycle active

[2020-09-17 22:57] craiglpeters opened #944 "Support dynamic kubelet configuration"
/kind feature

**Describe the solution you'd like**
Enable a cluster operator to dynamically change the kubelet configuration for a cluster https://kubernetes.io/blog/2018/07/11/dynamic-kubelet-configuration/

[2020-09-17 22:58] craiglpeters commented on #944
The caveat - SIG Node is evaluating the fate of this feature

[2020-09-18 14:32] #940 closed

[2020-09-18 17:26] CecileRobertMichon commented on #944
@craiglpeters this is probably a better issue for kubeadm

[2020-09-18 17:39] CecileRobertMichon commented on #944
As far as I can tell it has been there for a while https://github.com/kubernetes/kubernetes/pull/65576

/close

[2020-09-18 17:39] #944 closed

[2020-09-21 16:19] devigned opened #948 "Enforce documentation for public APIs"
/kind feature

**Describe the solution you'd like**
The build / verification scripts should verify that every public API in the project has a non-trivial comment.

**Anything else you would like to add:**
The easy part is probably turning on verification. The more time consuming part is writing comments for public APIs which are not documented.

see also: https://github.com/kubernetes-sigs/cluster

[2020-09-21 19:30] gab-satchi commented on #921
Hey @CecileRobertMichon. Looking through the code, the common flow is for the machine template to trigger the reconcile of the secret. The AzureMachineTemplate does not (and should not) care about whether the machine is a control plane or worker. Only at the AzureMachine level can we distinguish between control plane and worker but we've actively moved to having the azure.json be shared at the tem

[2020-09-21 19:50] alexeldeib commented on #921
AzureMachineTemplate doesn't have any labels/ownerRefs to the object which used it, does it? It might be convenient at the CAPI layer if MachineDeployment/MachineSet could apply owner labels to the templatize infra refs, if they don't already. Not sure if that's acceptable.

If that doesn't work, we might have to do something like generate two data fields in the secret -- one for control plane, on

[2020-09-21 19:50] alexeldeib commented on #921
Same probably goes for machinepool and kubeadm config

[2020-09-21 20:09] gab-satchi commented on #921
CAPI does apply a 'cloned-from' label on any infra machines created but that is likely not reliable as you could have a machine template with 0 replicas. I'll explore the second option. Thanks!

[2020-09-21 21:10] CecileRobertMichon commented on #165
/milestone next

[2020-09-21 21:19] CecileRobertMichon commented on #618
ResourceGroup -> ResourceGroupName ?

[2020-09-22 19:58] CecileRobertMichon opened #952 "Internal LB not created for IPv6"
The internal LB is actually not being used for anything right now for ipv4 clusters (see https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/696). I plan to start using it as part of https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/486, but there is a bug for which a fix is currently being rolled out where check IP availability doesn't work when the vnet has an

[2020-09-22 19:59] CecileRobertMichon commented on #952
/assign

[2020-09-22 20:18] mboersma commented on #761
/assign

[2020-09-22 21:03] CecileRobertMichon opened #953 "Errors in logs when system assigned is enabled"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

It looks like something might have changed on the Azure side. Role assignment creation used to be idempotent https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/811#issuecomment-662173226.

Now I'm seeing a bunch of `RoleAssignmentExists` errors in controller logs when us

[2020-09-22 21:03] CecileRobertMichon commented on #953
cc @jackfrancis / @nader-ziada

[2020-09-22 22:08] CecileRobertMichon commented on #953
/assign

[2020-09-22 22:08] CecileRobertMichon commented on #953
`This template is not idempotent unless the same roleNameGuid value is provided as a parameter for each deployment of the template. If no roleNameGuid is provided, by default a new GUID is generated on each deployment and subsequent deployments will fail with a Conflict: RoleAssignmentExists error.`

https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template

[2020-09-23 15:59] CecileRobertMichon opened #957 "Add conditions for deletion workflows"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Originally filed by @gab-satchi as kubernetes-sigs/cluster-api#3383

If conditions should be used for deletion:
What should happen to existing conditions that describe the provisioning / operating phases of an object? for ex: VPCReady, InfrastructureReady
What happens to the summary Re

[2020-09-23 15:59] CecileRobertMichon commented on #957
/help

[2020-09-23 17:50] nader-ziada opened #958 "DNS name conflict for cluster with same name across different subscriptions"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- created a cluster with name `cluster1` in subscription 1234....
- a pubic ip with the name `pip-cluster1-node-outbound` is generated and has a dns record
- I create another cluster with the same name in a different subscription
- get an error
[code]

**What did you expect to happen:**

[2020-09-23 18:07] nader-ziada commented on #953
we need to somehow get the role assignment guid and update the VM with it?

[2020-09-23 18:39] CecileRobertMichon commented on #953
I'm working on a fix, will have a PR out in a few minutes

[2020-09-23 18:50] CecileRobertMichon commented on #958
Indeed, the DNS name must be unique within the Azure location you create the name in (across all subscriptions and all customers) - https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-public-ip-address

[We're not setting a DNS name](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/cloud/scope/cluster.go#L110) for the outbound IP so I think a fix would b

[2020-09-23 23:26] CecileRobertMichon opened #960 "Add support for managed identity with AzureMachinePool"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/312 and https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/616 added support for Azure Managed identities for AzureMachines. We should port the changes to AzureMachinePool to allow VMSS using MSI.

Thi

[2020-09-23 23:26] CecileRobertMichon commented on #960
/help

[2020-09-24 14:46] #921 closed

[2020-09-24 16:32] wfernandes opened #961 "Create v1alpha4 API types"
Tracking issue to generate v1alpha4 Cluster API types.

- change imports to use v1alpha4
- set storage version to v1alpha4 types
- remove old v1alpha2 types and conversion webhooks if necessary.

For reference: https://github.com/kubernetes-sigs/cluster-api/issues/3428

/kind api-change
/area provider/azure
/cc @nader-ziada

[2020-09-24 23:45] jsturtevant commented on #153
/assign

[2020-09-24 23:45] jsturtevant commented on #153
The VHD image support for Windows is in progress: https://github.com/kubernetes-sigs/image-builder/pull/382

[2020-09-25 00:02] devigned commented on #586
/assign

[2020-09-25 02:27] nader-ziada commented on #958
/assign

[2020-09-25 16:01] devigned commented on #915
/assign

[2020-09-25 19:32] #318 closed

[2020-09-25 19:56] aojea commented on #318
Yay

[2020-09-25 20:15] CecileRobertMichon opened #964 "Add managed disk options to data disks"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Support optionally specifying ManagedDisk storage type for data disks https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/api/v1alpha3/types.go#L330:6, reusing the same type as OSDisks https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/master/api/