[2021-11-01 22:45] CecileRobertMichon commented on #1456
/remove-lifecycle rotten
/cc @jsturtevant

[2021-11-01 23:43] jsturtevant commented on #467
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-11-02 04:50] andyzhangx commented on #1814
1.23 is too late, we are also migrating all other Windows e2e tests to capz (not only WS2022) which should cover 1.19 and above versions. Can we make csi-proxy.exe run by default on all Windows images since csi-proxy is a fundamental component on Windows container?

[2021-11-02 05:17] sayantani11 opened #1820 "Change branch from master to main in few files"
/kind documentation

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Following https://cs.k8s.io/?q=cluster-api%2Fblob%2Fmaster&i=nope&files=&excludeFiles=&repos= two files in the CAPZ repo:
.github/ISSUE_TEMPLATE/proposal.md
docs/book/src/topics/windows.md
requires renaming of the branch to main.

**Environment:**

- cluster-api-provider-azure ve

[2021-11-02 05:17] sayantani11 commented on #1820
/good-first-issue

[2021-11-02 05:17] sayantani11 commented on #1820
cc @CecileRobertMichon

[2021-11-02 05:21] sonasingh46 commented on #1715
/assign sonasingh46

[2021-11-02 15:34] marosset commented on #1814
/cc

[2021-11-02 18:25] #1804 closed

[2021-11-03 06:48] Evalle commented on #1820
/assign

[2021-11-03 09:58] sayantani11 commented on #1789
@CecileRobertMichon Where are we suppose to move it?

[2021-11-03 18:48] #1820 closed

[2021-11-03 21:41] shysank opened #1826 "Migrate templates to use cluster class"
/kind feature

**Describe the solution you'd like**
ClusterClass, merged as part of capi 1.0.0 enables defining cluster topology in a simple way. capz should also migrate all the templates including e2e test templates to use ClusterClass so that users are more confident in using them.

Adding tasks

- [ ] #2234

**Anything else you would like to add:**
This is blocked until ClusterClass patching i

[2021-11-03 21:53] shysank opened #1827 "Log messages not pointing to the correct line number"
**Describe the solution you'd like**
One unfortunate side effect of [composite logger](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/70ea4017712a6778c0ba94d50bde98135c44ba1e/util/tele/composite_logger.go#L44) is that now all the log messages point to `composite_logger: 44`, which makes it hard to debug. As a user, I want to see the line number in the log, and just check what's

[2021-11-03 21:54] shysank commented on #1827
@CecileRobertMichon @devigned is it just me, or have you felt this way too?

[2021-11-03 22:54] CecileRobertMichon opened #1828 "Cache refresh may lead to terminal error"
clarification: is there a chance for the following happening: cache has not been refreshed -> errors when doing client.List? Asking because, in this case, the error would not be a terminal error.

_Originally posted by @shysank in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1697#discussion_r742162339_

[2021-11-03 22:54] CecileRobertMichon commented on #1828
/assign

[2021-11-03 22:58] CecileRobertMichon commented on #1827
I hadn't noticed this but if that's case it's definitely a disadvantage. Not sure how we could work around this 🤔

[2021-11-03 22:59] CecileRobertMichon opened #1829 "async vnet peerings"

[2021-11-03 23:00] CecileRobertMichon commented on #1829
/assign @Jont828

[2021-11-04 00:02] devigned commented on #1827
This is fixed in #1806. I was _very_ displeased when seeing the same line number each time.

[2021-11-04 00:04] devigned commented on #1827
I'll focus a bit more on #1806 after determining the root cause for AKS test failures. I no have a reproducible failure, so I think I'm close.

[2021-11-04 07:57] lippertmarkus opened #1832 "[Windows ContainerD with Calico] Race condition when applying IPAMConfig"
/kind bug

**What steps did you take and what happened:**
When applying CNIs and kube-proxy addons via ClusterResourceSets there sometimes is a race condition where the `IPAMConfig` CRD is not yet created by https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/addons/calico.yaml#L2143-L2156 but the Calico for Windows addon got already applied. Because of this the [`IPA

[2021-11-04 09:45] zmalik commented on #1778
/assign

[2021-11-04 15:52] jsturtevant commented on #1832
Thanks for the good reproduction steps.  We use the ClusterResourcesets in our CI runs to apply the CNI I am not sure we can retire them but we should see if we can improve this flow.

[2021-11-04 23:56] #1420 closed

[2021-11-05 01:56] #1274 closed

[2021-11-05 15:52] jsturtevant commented on #1832
/sig windows

[2021-11-05 16:16] CecileRobertMichon commented on #467
/remove-priority important-soon

[2021-11-05 20:03] devigned opened #1836 "Support for darwin/arm64 development"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When trying to get started on a new arm64 OSX dev machine, I ran into some issues fetching envtest binaries and some other little oddities.

Most of the amd6

[2021-11-06 14:15] richardcase commented on #588
Yes i think you can. I tried ^^^^ and added the `debug` config to my `tilt-settings.json` file:

[code]

and then used a vscode launch config like this:

[code]

And then set a breakpoint and debugging works a treat.

[2021-11-06 17:26] richardcase commented on #588
I will add to the docs:

/assign
/lifecycle active

[2021-11-08 18:37] mboersma opened #1840 "Panic in VMSS cluster e2e spec"
/kind bug

**What steps did you take and what happened:**

A memory access error sometimes causes a panic when e2e tests are running. [Here](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-full-main/1455783680084545536) is one example.

<details>
  <summary>Stack Trace:</summary>
<pre>
•! Panic [1461.804 seconds]
Workload cluster creation
/home/prow/go/s

[2021-11-08 18:41] sandipanpanda commented on #1840
/good-first-issue

[2021-11-08 21:39] #1440 closed

[2021-11-08 23:21] Jont828 commented on #1711
@karuppiah7890 Hey, I didn't see that you had assigned the issue and I started working on it. Are you still working on this too?

[2021-11-09 01:40] karuppiah7890 commented on #1711
Yes @Jont828 , I have some code in my fork branch. I'm half way done I think. Not sure though

[2021-11-09 02:26] singvey999 opened #1843 "Cluster create failing in Azure China cloud due to auth request not going to the proper URL"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
CAPZ deployment method for AzureChinaCloud.
We did the test with CAPZ for AzureChinaCloud and it did not work.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kuberne

[2021-11-09 03:51] singvey999 commented on #1843
We did the CAPZ test  with the CAPZ quick start and it did not work.

[2021-11-09 11:42] karuppiah7890 commented on #1711
The branch I'm working on is - https://github.com/karuppiah7890/cluster-api-provider-azure/tree/fix-1711 . Let me know if it makes sense to continue or if you want to take over and complete it, in which case I can unassign myself

[2021-11-09 17:57] CecileRobertMichon commented on #1843
@singvey999 can you please provide more details on what issues you ran into? Did you set `AzureEnvironment` in the AzureCluster spec to AzureChinaCloud ?

[2021-11-09 20:53] #1829 closed

[2021-11-09 20:55] Jont828 commented on #1711
Yeah I can take over and add you as coauthor. I've finished the changes involving the spec and just have to do the tests.

[2021-11-10 02:11] singvey999 commented on #1843
Sure, We did manually included this line azureEnvironment: AzureChinaCloud in the clustercluster.spec
Here are the detailed configuration steps :
1-clusterctl version
$    clusterctl version
clusterctl version: &version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.0", GitCommit:"e09ed61cc9ba8bd37b0760291c833b4da744a985", GitTreeState:"clean", BuildDate:"2021-10-06T18:57:03Z", GoVersion:"go1.16.8",

[2021-11-10 02:24] karuppiah7890 commented on #1711
Cool ! I was looking towards contributing and closing this issue but it's okay as I'm also caught up with a few other PRs

And I think you don't have to add me as a co author 😅 unless there's any code getting contributed from me (from my fork branch)

[2021-11-10 02:24] karuppiah7890 commented on #1711
/unassign

[2021-11-10 02:25] singvey999 commented on #1843
@CecileRobertMichon
Sure, We did manually included this line azureEnvironment: AzureChinaCloud in the clustercluster.spec
You may also see the above information recorded.

[2021-11-10 02:39] singvey999 commented on #1843
@CecileRobertMichon
1-I could get our tenantID normally .
 https://portal.azure.cn/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Overview .
Basic information
  Name xxx
  Tenant ID a12a82ff-eb68-4d6d-b3c7-c4fb2d2220e5
  Primary domain xxx.partner.onmschina.cn
  License:Azure AD Free
  Users xx
  Groupsxx
  Applications xx
  Devices 0

2-I did not know why it promoted this tenanid was not found

[2021-11-10 15:43] devigned commented on #1843
I believe the problem is that the authentication request is going to login.microsoftonline.com rather than login.chinacloudapi.cn. Hmm... this might be a bug in the way Azure env is handled.

See also: https://github.com/Azure/go-autorest/blob/492f94bc3a562197e229f044dbfabcc0ecb2489a/autorest/azure/environments.go#L178

[2021-11-10 19:22] CecileRobertMichon commented on #1176
/remove-lifecycle rotten

[2021-11-10 19:22] CecileRobertMichon commented on #1396
/remove-lifecycle rotten
@alexeldeib we should do this pretty soon if we want to remove the experimental label

[2021-11-10 19:37] #1836 closed

[2021-11-10 21:33] mboersma opened #1849 "Replace hack/ensure-*.sh scripts with `go install`"
/kind feature

**Describe the solution you'd like**

In the `./hack` directory are scripts named `ensure-<something>.sh`. Some of these install Go-based tools, and they could perhaps be replaced entirely by invocations of `go install`.

**Anything else you would like to add:**

See [this comment](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1842#pullrequestreview-802891068) f

[2021-11-10 21:48] jsturtevant commented on #1849
related to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1192

[2021-11-10 22:21] CecileRobertMichon commented on #1843
/kind bug
/retitle Cluster create failing in Azure China cloud due to auth request not going to the proper URL

[2021-11-10 22:35] CecileRobertMichon commented on #1532
/remove-lifecycle stale

we have already updated templates to use NAT Gateway, we should change the webhook defaults to set the NAT Gateway by default if not using IPv6

/help

[2021-11-10 23:34] Jont828 commented on #1712
/assign

[2021-11-11 00:20] Jont828 commented on #1711
Sounds good, I wrote it up on my own before I saw that the issue was taken. Thanks for understanding!

[2021-11-11 02:53] singvey999 commented on #1843
@devigned  @CecileRobertMichon
Thanks for your information.
Is it possible to fix this bug on your schedule and  we plan to transfer the self-managed k8s from AKS engine to CAPZ ?
Is  it possible to  include the azurecluster.spec.azureEnvironment: AzureChinaCloud  with "Required Variables options" OS env setting as we have to manually include this after checking many configuration  files on github

[2021-11-11 03:51] karuppiah7890 commented on #1711
/assign @Jont828

[2021-11-11 12:05] JoelSpeed opened #1852 "Allow Ultra Disk Enablement for Persistent Volumes"
/kind feature

**Describe the solution you'd like**
Further to #1134 which allows the Azure ultra disks to be attached to VMs as data disks, it would be useful to enable the ultra disk capability on the VMs when no data disks are attached.

The Azure CSI driver has the ability to provision ultra disk based persistent volumes, but for this to work, the VMs that the PVs are attached to must have the

[2021-11-11 22:58] jackfrancis commented on #1532
/assign

[2021-11-12 00:15] #1370 closed

[2021-11-12 17:05] CecileRobertMichon commented on #1843
/milestone v1.1
/priority important-soon

[2021-11-12 19:35] jsturtevant commented on #1176
/sig-windows

[2021-11-12 19:36] jsturtevant commented on #1780
Hostprocess containers is supported now
/close

[2021-11-12 19:36] #1780 closed

[2021-11-12 21:38] Jont828 commented on #1709
/assign

[2021-11-12 22:00] #1720 closed

[2021-11-12 22:23] jsturtevant commented on #1782
/sig-windows

[2021-11-12 22:24] jsturtevant commented on #1782
/sig windows

[2021-11-12 22:24] jsturtevant commented on #1738
/sig windows

[2021-11-12 22:26] jsturtevant commented on #1190
/sig windows

[2021-11-12 22:29] jsturtevant opened #1857 "Add PR support for the Windows containerd solution"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The [dev cluster template](https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/main/templates/test/dev) has ability to deploy windows nodes but is missing the part to use the custom binaries like we have for the dockershim solution: https://github.com/kubernetes-sigs/clu

[2021-11-12 22:31] jsturtevant opened #1858 "Add support to run Windows Serial/Slow jobs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We currently have a job to run the [main windows tests](https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-master). We need to add support to run the [serial/slow tests like done for aks-engine](https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windo

[2021-11-12 22:32] jsturtevant opened #1859 "Add support for running Windows nightly containerd jobs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We should be able to run the nightly containerd jobs like is done for [aks-engine](https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-containerd-nightly)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**E

[2021-11-12 22:35] jsturtevant opened #1860 "Add support for running Windows gMSA tests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Should be able to run the upstream gMSA tests with capz.  The scripts that enable this upstream are extensions: https://github.com/kubernetes-sigs/windows-testing/tree/master/extensions

The two tests we currently have are: https://testgrid.k8s.io/sig-windows-master-release#aks-engine-

[2021-11-12 23:27] Jont828 commented on #1714
/assign

[2021-11-12 23:45] jsturtevant commented on #1802
/assign

[2021-11-12 23:58] jsturtevant opened #1862 "E2E log collection for kube-system pods should also collect init container logs"
/kind feature

**Describe the solution you'd like**
Right now the log collection, doesn't collect init container logs.  An example is the windows calico init container logs are missing, but this is not only Windows.

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-staging-containerd-windows/1459203559143772160/artifacts/clusters/capz-conf-ouj9ub/kube-system/calico-node-win

[2021-11-13 00:01] jsturtevant commented on #1802
this is because the compute api client is used instead of ssh: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/feba723784818f210a7c4cb96e82d7b38d0b2334/test/e2e/azure_logcollector.go#L343-L349

[2021-11-13 00:35] jsturtevant opened #1864 "Add support for ci-entrypoint to collect Windows logs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`ci-entrypoint.sh` script collects logs in a different way than the e2e test framework: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/feba723784818f210a7c4cb96e82d7b38d0b2334/scripts/ci-entrypoint.sh#L141

It doesn't currently support Windows because it uses a daem

[2021-11-13 08:30] #1454 closed

[2021-11-15 18:35] CecileRobertMichon commented on #1692
/unassign
/assign @karuppiah7890

We realized in #1791 that there might also be a bug associated with this behavior: since we update the public IP when it already exists, it means we will also update an IP that was pre-created by the user and thus add the CAPZ managed tags to it which would cause it to be deleted later on when deleting the cluster because CAPZ would see it as "managed".

[2021-11-16 06:11] CecileRobertMichon opened #1866 "Replace all occurrences of ToNot(HaveOccurred())"
Replace all occurrences of `Expect(err).To(HaveOccurred())` with (`Expect(err).NotTo(HaveOccurred())` (ToNot -> NotTo)

-- @mboersma

/good-first-issue

[2021-11-16 06:45] #1802 closed

[2021-11-16 09:38] Evalle commented on #1866
/assign

[2021-11-16 16:30] jsturtevant opened #1867 "Add e2e test for Windows that verifies Accelerated networking is working"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We have had issues with accelerated networking in azure in the past with Windows.  We would like to have a test that verifies the behavior and prevents regression.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

https://gith

[2021-11-16 20:01] CecileRobertMichon opened #1868 "Only show relevant conditions for the AzureCluster / AzureMachine"
When building a cluster, the user should only see conditions that apply to that specific cluster in the Status and as part of summary. For example, if the cluster has no vnet peerings, it should not show a "vnet peerings ready" condition.

This is related to https://github.com/kubernetes-sigs/cluster-api/issues/5624.

Two ways we can go about achieving this:

1) Remove the WithConditions() option

[2021-11-16 20:02] CecileRobertMichon commented on #1868
/assign @Jont828

[2021-11-16 20:27] CecileRobertMichon commented on #1828
I have not had a chance to work on this yet, marking it as help wanted in case someone else is able to pick it up.

The ask is to return only return a terminal error when skuCache.Get fails because the SKU doesn't exist. If the skuCache.Get fails because of a cache refresh issue, we should return a regular error, ie. ` return errors.Wrapf(err, "failed to get SKU %s in compute api", m.AzureMachine.

[2021-11-16 21:06] shysank opened #1869 "Separate out upgrade specs into its own job"
/kind feature

**Describe the solution you'd like**
With new upgrade tests added as part of #1810 and #1771 capi e2e spec is now taking ~2.5 hrs to complete. This is undesirable. #1816 tried to address this by increasing ginkgo nodes count, but it increased the percentage of flakes, and we are still working on it find the root cause.

In the interim, to reduce the time taken to run capi e2e tests,

[2021-11-16 22:17] CecileRobertMichon commented on #1869
I took care of 1 in #1735

[2021-11-16 22:48] CecileRobertMichon opened #1871 "Refactor Get existing logic into CreateResource() async helper"
Currently, we're implementing the same logic to get the existing resource for each service in the client CreateOrUpdateAsync function that has been refactored by #1702. We should try to extract that logic to CreateResource() so it can be shared by all the services, have better unit testing. That will also ensure the clients have minimal business logic and stay as close to wrappers of the SDK as po

[2021-11-16 22:48] CecileRobertMichon commented on #1871
/assign @Jont828

[2021-11-16 23:57] jsturtevant commented on #1548
I don't see duplicates in https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-conformance-v1alpha4-k8s-main

@CecileRobertMichon ok if we close?

[2021-11-17 00:05] Jont828 commented on #1868
Sure, I'd be happy to take a look!

[2021-11-17 00:05] Jont828 commented on #1871
Sure I'd be happy to help out

[2021-11-17 00:56] CecileRobertMichon commented on #1548
yep I don't see anymore duplicates either

/close

[2021-11-17 00:57] #1548 closed

[2021-11-17 00:57] CecileRobertMichon commented on #1548
oops

[2021-11-17 06:09] sonasingh46 opened #1872 "CreateOrUpdate should not be called for existing zone"
`CreateOrUpdateZone` should not be called if there is already a zone existing since we don't allow changes to any of its properties

_Originally posted by @shysank in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1791#discussion_r749571484_

[2021-11-17 08:47] sonasingh46 commented on #1718
/assign sonasingh46

[2021-11-17 21:02] devigned commented on #1511
If we were to stop using `make`, I would prefer [just](https://github.com/casey/just). I don't have anything against `mage`. I find `just` to be easier to use.

[2021-11-17 22:15] Jont828 commented on #1871
/assign Jont828

[2021-11-17 22:17] Jont828 commented on #1868
/assign Jont828

[2021-11-18 00:39] #1809 closed

[2021-11-18 19:06] dantiandb opened #1875 "deleting AzureManagedMachinePool before AzureManagedControlPlane is fully initialized causes resource leakage"
/kind bug

**What steps did you take and what happened:**
Create an AKS cluster with CAPI/CAPZ. Specifically CRs created:

- Cluster CR (CAPI)
- AzureManagedClusterCR (CAPZ)
- AzureManagedControlPlane CR (CAPZ)
- AzureClusterIdentity CR (CAPZ)
- MachinePool CR (CAPI) / AzureManagedMachinePool CR (CAPZ) -> one system pool and one worker pool

Once the CRs were submitted to the K8s cluster, watched

[2021-11-18 20:11] CecileRobertMichon commented on #1875
/area managedclusters

[2021-11-18 21:03] alexeldeib commented on #1875
Hmmm. We could solve this a couple ways.

AMCP could handle scale down of non existing pools. that would mean calling AP API though, since I don’t think you can mutate pools after creation using MC API.

Or we could use status to track stats of resources and make sure we clean them up appropriately. Still needs to be done in AMCP due to race.

Or we could ensure AMMP/MP have deletion finalizers ap

[2021-11-18 22:03] jsturtevant opened #1876 "e2e tests logs are missing the entire controller manager logs"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The job https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-e2e-full-main is missing the full set of controller manager lo

[2021-11-18 22:40] jsturtevant commented on #1876
I guess this currently is not in capz specifically. It looks like it is provided by the capi framework: https://github.com/kubernetes-sigs/cluster-api/blob/aafa086da595450ff1f75d4a29b213c873f15e4d/test/framework/clusterctl/clusterctl_helpers.go#L103-L109

[2021-11-18 23:07] #1735 closed

[2021-11-18 23:27] Jont828 commented on #1713
/assign

[2021-11-18 23:40] jsturtevant commented on #1876
So looking closer It seems like there maybe the stream is dropped at some point or restart of the agent logs and the stream doesn't re-establish itself.  Example:

Last time logged in [capz log](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-full-main/1461402439272894464/artifacts/clusters/bootstrap/controllers/capz-controller-manager/capz-controller

[2021-11-18 23:42] jsturtevant commented on #1876
not exactly the same but does call this out: https://github.com/kubernetes-sigs/cluster-api/issues/4684

[2021-11-18 23:45] jsturtevant commented on #1876
The [capi controller ](https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-full-main/1461402439272894464/artifacts/clusters/bootstrap/controllers/capi-controller-manager/capi-controller-manager-6bdc78c4d4-nnxc7/manager.log)also stops at same time: `E1118 18:58:03.922445       1 controller.go:317] controller/cluster`

[2021-11-19 18:13] jsturtevant commented on #1108
this was fixed in #1649
/close

[2021-11-19 18:13] #1108 closed

[2021-11-20 00:06] jsturtevant commented on #1858
/assign

[2021-11-20 17:40] jsturtevant commented on #1266
/reopen

[2021-11-20 17:41] jsturtevant commented on #1266
/remove-lifecycle rotten

[2021-11-22 02:34] vaibhavvsharma commented on #1840
Hi, I am a beginner. I would love to take this. Please guide me.

[2021-11-22 12:54] Darshnadas commented on #1849
Is this issue been taken? if not, I would like to help in it.

[2021-11-22 17:33] CecileRobertMichon commented on #1545
/remove-lifecycle rotten

[2021-11-22 17:47] #1559 closed

[2021-11-22 20:06] CecileRobertMichon commented on #1843
/assign

I was able to repro, working on a fix

[2021-11-23 09:42] zmalik opened #1883 "Support control plane only upgrades for AKS"
/kind feature

**Describe the solution you'd like**
When upgrading the `AzureManagedControlPlane` it upgrades the Agentpools also present in AKS cluster.
If a user has specified the version in MachinePool template spec, the `AzureManagedMachinPool`controller tries to downgrade the agentpool.

We should use the default `AzureManagedControlPlane` upgrade as `control plane only` And let the machine p

[2021-11-23 16:37] Darshnadas commented on #1849
/assign

[2021-11-23 20:22] dlipovetsky opened #1885 "If the cluster is configured with a private DNS zone name, this name is not used to derive the API server host"
Support for a private DNS zone name was added in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1289.

Although the private DNS zone name _is_ used to [create the private DNS zone](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/0579d7139f550b432f4912d60f91daaa0f4490c0/azure/scope/cluster.go#L360), the name is _not_ used to [derive the API server host](
https

[2021-11-23 21:19] Jont828 commented on #1708
/assign

[2021-11-23 21:43] CecileRobertMichon commented on #1885
/kind bug

[2021-11-23 22:33] CecileRobertMichon commented on #1849
@Darshnadas go for it 🚀

let us know if you need any help

[2021-11-23 22:49] #1843 closed

[2021-11-24 08:39] Evalle commented on #1866
Hi @CecileRobertMichon @mboersma is it an internal joke or should we really add the change?
According to this [comment](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1767#discussion_r749637975) @mboersma prefers to have `NotTo` :)

[2021-11-24 09:32] LochanRn commented on #1455
/remove-lifecycle rotten

[2021-11-24 14:23] Darshnadas commented on #1849
Thank you @CecileRobertMichon, I would like to take some more insights into this issue to completely understand.

[2021-11-24 17:57] CecileRobertMichon commented on #1866
@Evalle my apologies, I messed up the order in the description :D

it should be replace all occurrences of `ToNot`... will fix the description

/retitle Replace all occurrences of ToNot(HaveOccurred())

[2021-11-24 18:05] sayantani11 commented on #1849
Will all the ensure scripts go in one PR? So guess even I can help

[2021-11-24 18:09] CecileRobertMichon commented on #1702
/assign @Jont828

[2021-11-24 18:10] CecileRobertMichon commented on #1607
/close

please reopen if you are still seeing the issue

[2021-11-24 18:10] #1607 closed

[2021-11-25 08:29] Evalle commented on #1866
I see :) thanks for the clarification. Let me create a PR.

[2021-11-27 16:25] sayantani11 commented on #1864
@jsturtevant Can you explain a bit more on the issue? Like what should happen? or what should change?

[2021-11-27 16:25] sayantani11 commented on #1864
@jsturtevant Can you explain a bit more on the issue? Like what should happen? or what should change?

[2021-11-29 07:23] monojit18 commented on #1495
@CecileRobertMichon Somehow the script did not work for me!
But I would wait for the #532 and/or #1601 to happen and check?

[2021-11-29 09:37] djdongjin opened #1893 "Cannot create aks-aad cluster from Tilt"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

`aks-aad` cluster cannot be created from Tilt UI  due to the following error (basically no `managed` value is given):

[code]

The [template](https://github

[2021-11-29 13:01] djdongjin commented on #1766
The issue is caused by that the `templates` as a whole is included in `.tiltignore`. The templates under the root of `templates` should have been watched by Tilt since Tilt read them using its built-in `read_file`.

We should explicitly add subfolders under `templates` to `.tiltignore` instead of adding `templates` folder directly.

After the change, these yaml files are watched and not ignored, a

[2021-11-29 17:00] zmalik commented on #1883
The controller is not passing the `OrchestratorVersion` to `AgentPoolProfiles` when doing a managed cluster create/upgrade. Which causes that managed cluster agentpool version to be tied to `AzureManagedControlPlane`
Do we agree that by default if `MachinePool` has a version specified in the spec template, only control-plane should be upgraded?

I will prepare a PR to make it `control-plane-only`

[2021-11-29 18:11] #1656 closed

[2021-11-29 18:29] #1700 closed

[2021-11-29 18:31] CecileRobertMichon commented on #1722
/close

[2021-11-29 18:32] #1722 closed

[2021-11-29 19:10] djdongjin commented on #1779
/assign

[2021-11-29 22:25] #1866 closed

[2021-11-29 22:26] mboersma commented on #1840
Hi @vaibhavvsharma. Thanks for taking a look at this, and I apologize for my slow response.

This is an intermittent error that we have seen in the Azure end-to-end tests in the Kubernetes [TestGrid](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure) system. It doesn't happen often, so you probably can't reproduce it on your computer by running the e2e tests (with `scripts/c

[2021-11-29 22:34] CecileRobertMichon commented on #1843
@singvey999 this is now fixed. Can you please give it another try with https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v1.0.1?

[2021-11-29 23:39] #1766 closed

[2021-11-30 11:44] karuppiah7890 opened #1899 "Migrate from "getting full resource to get tags" to "just getting tags at resource scope""
This is based on https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1745#discussion_r741488690

For example, in this method

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/1a16f42bc104b6a8f5931dcb36f7c5ca184ff4e3/azure/services/publicips/publicips.go#L142-L151

We need to replace `GET` public IP API call (`s.Client.Get`) with `GET` Tags At Scope API call with Pu

[2021-11-30 14:44] karuppiah7890 opened #1900 "Show multiple errors when there are multiple errors regarding multiple resources"
_Note: This needs to be discussed first. This is just an idea_

This is based on the conversation from https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1745#discussion_r743384217

For example, VNet Peerings is a set of VNet Peerings, each with a spec. When showing status for VNet Peerings we just show one status, for example -

https://github.com/kubernetes-sigs/cluster-api-provi

[2021-11-30 18:49] #1885 closed

[2021-12-01 03:51] singvey999 commented on #1843
@CecileRobertMichon Thanks for your information. We will try it again.

[2021-12-01 06:06] singvey999 commented on #1843
@CecileRobertMichon Verification was done on minikube env. Just one controller node was created and none  worker nodes was created on AzureChinaCloud portal.

Related logs as below:
1-$ clusterctl describe cluster capi-quickstart
NAME                                                                READY  SEVERITY  REASON                       SINCE  MESSAGE
/capi-quickstart

[2021-12-01 06:30] singvey999 commented on #1843
<img width="885" alt="Capture01" src="https://user-images.githubusercontent.com/19383328/144183578-67b39699-f361-4527-9c60-c0b4bffb03e9.PNG">
<img width="866" alt="Capture02" src="https://user-images.githubusercontent.com/19383328/144183584-946bb13c-3431-4c26-b1d2-79215b25597f.PNG">

[2021-12-01 13:37] devigned commented on #1843
@singvey999 it would helpful to see the logs from the CAPZ controller. The controller pod is running the management cluster in capi-system namespace (https://capz.sigs.k8s.io/topics/troubleshooting.html#no-azure-resources-are-getting-created).

[2021-12-01 14:53] #1779 closed

[2021-12-01 19:38] CecileRobertMichon opened #1901 "Context deadline exceeded on RG GET"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

Observed in PR #1711, repro'ed locally:

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`

[2021-12-01 19:38] CecileRobertMichon commented on #1901
/assign

[2021-12-01 20:19] CecileRobertMichon commented on #1685
Interestingly it seems like the RG GET is actually timing out after 12 seconds. I wouldn't expect an Azure GET API to take 12 seconds.... cc @devigned @Jont828

![Screen Shot 2021-12-01 at 12 12 06 PM](https://user-images.githubusercontent.com/8650424/144306833-a3a2f18f-baaa-43ac-8af7-d3f6beb83c2f.png)

[2021-12-01 20:52] jsturtevant commented on #1125
/reopen

[2021-12-01 21:01] jsturtevant commented on #1125
/assign

[2021-12-01 22:01] #1711 closed

[2021-12-02 14:08] devigned opened #1902 "custom cloud provider secret is overwritten with default values"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Contents of the control plane [custom cloud provider secret](https://capz.sigs.k8s.io/topics/cloud-provider-config.html) are overwritten with default values.

**What did you expect to happen:**
The secret should

[2021-12-02 23:44] CecileRobertMichon commented on #1902
/remove-good-first-issue

we should validate this issue exists before we mark it as suitable for new contributors

[2021-12-07 00:51] CecileRobertMichon commented on #1843
@singvey999 I believe the issue you are seeing is because kubeadm uses `k8s.gcr.io` as image registry by default and it's not reachable from China.

I was able to successfully provision a cluster in Azure China by making a few tweaks to my template to use `k8sgcr.azk8s.cn` instead. Here is the kustomize patch I used:

[code]

The preKubeadmCommands are necessary because the config.toml file writte

[2021-12-07 19:50] mboersma opened #1907 "GPU tests failing consistently in testgrid"
/kind bug

The GPU-enabled cluster tests [have been failing](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-e2e-full-main) in k8s testgrid. Need to find the root cause.

[2021-12-07 22:44] #1806 closed

[2021-12-07 22:52] k8s-triage-robot opened #1908 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:25] justaugustus commented on #1908
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:25] #1908 closed

[2021-12-08 22:53] k8s-triage-robot opened #1909 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 03:01] justaugustus commented on #1909
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:01] #1909 closed

[2021-12-09 09:36] invidian commented on #629
CABPK PR kubernetes-sigs/cluster-api#4172 has been merged and will be part of v1.1 release, so we're getting closer getting this resolved :tada:

[2021-12-09 17:30] #1871 closed

[2021-12-09 20:33] CecileRobertMichon opened #1913 "Update Calico manifests to latest version"
Current Calico version in main is 3.19 https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/addons/calico.yaml, https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/addons/calico-ipv6.yaml

Latest at time of writing this is 3.21.2 https://github.com/projectcalico/calico/releases.

We should update both manifests (default and ipv6) to use th

[2021-12-09 20:33] CecileRobertMichon commented on #1913
/help

[2021-12-09 22:19] #1902 closed

[2021-12-10 23:31] jsturtevant opened #1917 "Use kustomize remote URL's to manage addons"
/kind feature

**Describe the solution you'd like**

Currently we copy the addon's into our code base, modify and maintain them.  We can use kustomizes remote url and a make command to automate this as done in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1903

example from pr:
[code]

[code]

Possible files we could switch to this method:

- [ ] cloudprovider
- [x] [calico](h

[2021-12-11 00:48] jsturtevant commented on #1125
/reopen

This is only partially fixed for e2e and the the insecure flag needs to be addressed via updates to capi or manually be a customer that wishes to deploy it.  See for more details https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1903#issuecomment-989350818

[2021-12-13 11:03] andyzhangx commented on #1814
any update? is it possible to run csi-proxy.exe on all Windows nodes? csi-proxy is an essential service on Windows, it's better run this service when Windows node is up, below is the manual way to start up csi-proxy on Windows
[code]

[2021-12-13 17:19] marosset commented on #1814
@jsturtevant should we run csi-proxy as a windows service or as a daemonset?
If we want to run it as a daemonset it sounds like we can host the container images in sig-windows-tool for now since it sounds like the csi-proxy project doesn't want to maintain csi-proxy running in a hostprocess container.
Instead they'd like to get the individual csi plugin drivers able to run as host-process containe

[2021-12-13 18:36] #1749 closed

[2021-12-13 19:14] CecileRobertMichon opened #1919 "async securitygroups"

[2021-12-13 19:15] CecileRobertMichon commented on #1919
/assign

[2021-12-13 23:32] #1858 closed

[2021-12-13 23:36] mboersma commented on #1907
The driver daemonset is failing to compile GPU support when it starts up:

[code]

[2021-12-14 01:03] CecileRobertMichon commented on #1901
Interestingly it seems like the RG GET is actually timing out after 12 seconds. I wouldn't expect an Azure GET API to take 12 seconds.... cc @devigned @Jont828

![Screen Shot 2021-12-01 at 12 12 06 PM](https://user-images.githubusercontent.com/8650424/144306833-a3a2f18f-baaa-43ac-8af7-d3f6beb83c2f.png)

[2021-12-14 01:42] Jont828 commented on #1685
Noting that there's a similar issue in #1865. I kept the behavior the same when refactoring but I'll come back to it when this issue gets fixed.

[2021-12-14 02:42] andyzhangx commented on #1814
@marosset I think run csi-proxy as a daemonset is too heavy load and cause dependency on hostprocess feature which is still alpha on 1.23, just run csi-proxy as a windows service when Windows node is up, that's simple enough. And when hostprocess feature is beta, we could provide an alternative solution to deploy csi-proxy on Windows node using host-process.

[2021-12-14 04:20] marosset commented on #1814
hostprocess containers is beta for 1.23 :)

[2021-12-14 15:16] devigned commented on #1901
This looks like it's talking to IMDS IP rather than ARM. Are you sure it's not AAD pod identity / IMDS exceeding 12 seconds?

[2021-12-14 17:20] CecileRobertMichon commented on #1901
sorry for the tag, I just pasted the comment here yesterday because I realized I had previously put it in the wrong issue...

[2021-12-14 19:56] mboersma commented on #1907
I've updated NVIDIA gpu-operator components to the current versions, and it seems to have fixed this compile problem. I have the tests passing locally, and I'll submit a PR soon.

[2021-12-15 01:02] #1714 closed

[2021-12-15 23:19] #1907 closed

[2021-12-16 18:39] mboersma opened #1929 "Update Nvidia GPU operator to current version"
/kind feature

**Describe the solution you'd like**

In #1922 we bumped some GPU driver components to work around a compilation error, but left the gpu-operator itself at version 1.6.2.

CAPZ should update to [current version](https://github.com/NVIDIA/gpu-operator/releases) 1.9.0. This involves updating the helm chart components we keep locally, and perhaps syncing up various Nvidia component ver

[2021-12-17 18:48] zmalik opened #1937 "return transient error when AMCP fails to delete Agentpool being created by AMMP"
We are now going to support separate AKS control plane and agent pool versions
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1896

This PR can introduce a new race condition where

AMCP --> fetches the agentpool profiles from Azure API
AMMP  --> creates a new agentpool
AMCP --> uses the fetched agentpool profiles without newly created agentpool

This should return an error whi

[2021-12-17 18:50] zmalik commented on #1937
/assign @zmalik @alexeldeib

[2021-12-17 19:28] #1883 closed

[2021-12-17 20:38] mboersma commented on #1929
/assign

[2021-12-17 21:36] #1511 closed

[2021-12-17 23:12] Jont828 commented on #1717
/assign

[2021-12-18 00:37] #1317 closed

[2021-12-23 01:27] richardchen331 opened #1942 "Allow user to specify DisableLocalAccounts for AKS"
/kind feature

**Describe the solution you'd like**
Allow user to specify [DisableLocalAccounts](https://github.com/Azure/azure-sdk-for-go/blob/v55.2.0/services/containerservice/mgmt/2021-05-01/containerservice/models.go#L2075) in [AzureManagedControlPlaneSpec](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/exp/api/v1beta1/azuremanagedcontrolplane_types.go#L36)

[2021-12-23 01:29] richardchen331 commented on #1942
/assign

[2021-12-23 18:39] #1155 closed

[2021-12-23 19:39] #1048 closed

[2021-12-24 09:48] #550 closed

[2021-12-31 05:43] #1578 closed

[2021-12-31 22:54] #1581 closed

[2022-01-02 08:07] invidian commented on #1238
/remove-lifecycle stale

[2022-01-03 18:20] CecileRobertMichon commented on #1077
/remove-lifecycle stale

[2022-01-04 18:16] #1828 closed

[2022-01-04 19:51] dmlb2000 opened #1947 "Azure Cluster Identity doesn't validate with ManualServicePrincipal"
/kind bug

**What steps did you take and what happened:**
I was exercising some documentation [here](https://capz.sigs.k8s.io/topics/multitenancy.html?highlight=azureclusteridentity#manual-service-principal-identity) that discussed using an alternative to ServicePrincipal for the Azure Cluster Identity. Seems that ManualServicePrincipal is in the code but not in the validation somehow?

Resource I

[2022-01-04 21:07] CecileRobertMichon commented on #1947
Thanks for opening a PR @dmlb2000. In the meantime, I'm curious what use case requires you to use `ManualServicePrincipal` as opposed to `ServicePrincipal`? Are you trying to explicitly avoid using AAD pod identity?

you should be able to use your client ID and secret to create an AzureIdentity as described in the [quickstart Azure tab](https://cluster-api.sigs.k8s.io/user/quick-start.html#initial

[2022-01-05 18:54] shysank commented on #1827
fixed in #1812

[2022-01-05 18:54] #1827 closed

[2022-01-05 23:11] #1947 closed

[2022-01-05 23:31] dmlb2000 commented on #1947
Ah, sorry didn't see the questions here.

So, I'm having issues authenticating to the Azure API from inside PNNL. There's any number of security reasons, as we're government (and not at the same time), that prevent us from talking directly to Azure API over HTTPS. There are two solutions to talk outside PNNL as a result, either trust a magic proxy cert in your applications trusted CA bundle, or us

[2022-01-05 23:36] dmlb2000 commented on #1947
Some further sanity check code around the environment variables would be helpful. This same error shows up when the secret is empty (miss typed an environment variable name).

[2022-01-06 00:10] CecileRobertMichon commented on #1947
@dmlb2000 are you familiar with https://github.com/Azure/aad-pod-identity ? It's what we use to fetch tokens to be able to access Azure from the capz manager pods. The capz-controller-manager pod itself doesn't do the fetching itself, it's the aad pod identity components that do the fetching.

In order to troubleshoot this issue, I would recommend following the steps in https://azure.github.io/aad

[2022-01-06 00:51] CecileRobertMichon opened #1949 "user agent CAPZ version is missing"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Using v1.1.0 tag, seeing user agent as `Go/go1.16.12 (amd64-linux) go-autorest/v14.2.1 Azure-SDK-For-Go/v58.1.0 network/2021-02-01 cluster-api-provider-azur

[2022-01-06 02:06] #1929 closed

[2022-01-06 21:26] jsturtevant commented on #1534
/remove-lifecycle rotten

[2022-01-06 21:27] jsturtevant commented on #1763
/remove-lifecycle stale

[2022-01-07 01:33] dmlb2000 commented on #1947
For others who happen to come across this...

I had to change up the no_proxy config and then it worked...

[code]
There maybe more values to proxy, but this is a start...

[2022-01-07 01:41] CecileRobertMichon commented on #1947
@dmlb2000 that's great to hear! Let us know if you run into more trouble as you navigate setting up CAPZ.

If you'd like to chat, all of us maintainers hang out in the [#cluster-api-provider-azure](https://kubernetes.slack.com/messages/CEX9HENG7) k8s Slack channel. You're welcome to start a thread there. We also have office hours every other Thursday at 8am PT so you can come chat with us and ask

[2022-01-07 02:03] alexeldeib commented on #1947
fwiw, in the AKS version of HTTP proxy-enabled (workload) clusters we no_proxy all of the following by default:
- node subnet cidr(s)
- pod cidr
- service cidr
- 168.63.129.16 - Azure DNS
- 169.254.169.254 - Azure IMDS (the one you found looks like)
- API server FQDN/IP (AKS doesn't support mTLS through the proxy, you may not need this)

it sounds like you have on-prem management cluster and every

[2022-01-07 02:09] dmlb2000 opened #1952 "API Server LB Port"
/kind feature

**Describe the solution you'd like**
Some organizations really like to block all out going ports. As a result specifying the API Server LB Port would be really helpful so users can use an institutionally approved port (like 443).

[code]

**Anything else you would like to add:**
Nope, this will probably be enough.

**Environment:**

- cluster-api-provider-azure version: 1.1.0
- Kube

[2022-01-07 03:07] dmlb2000 commented on #1947
Thanks for the list, I'll definitely use that in the future.

Yes, the management cluster is on prem, and everything else is is a hybrid of cloud and express routed to on prem. So, yes this is going to be a challenge. As a result things like DNS resolution and network routing are strictly controlled, as a result we'll need all the options to make this work...

[2022-01-07 17:13] ninlil opened #1954 "Support AzureManagedCluster BYO vnet in different RG"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
I'm creating a AKS-cluster and I've modified the AzureManagedControlPlane and specified
[code]
The names and cidr-ranges match exactly what already exists.
The VNET is located in the same "location/region" but a

[2022-01-07 18:18] dmlb2000 commented on #1954
I did figure out how to do this using my config it looks like the following...

[code]

I also make sure the resource group that contains the vnet is locked so nothing can remove it without a double click through the UI.

[2022-01-07 18:21] dmlb2000 commented on #1952
I tried setting the endpoint directly using the following, seems like the controller is sending the API endpoint back to the kubeadm control plane manager somehow...

[code]

Seems like the rest of cluster api ignores that key...

[2022-01-07 18:29] shysank commented on #1770
Closing this as this is fixed in #1771 and #1824

[2022-01-07 18:29] #1770 closed

[2022-01-07 18:29] jsturtevant commented on #1859
/assign

[2022-01-07 18:30] shysank commented on #1372
/remove-lifecycle stale

[2022-01-07 18:32] dmlb2000 commented on #1954
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/docs/book/src/topics/custom-vnet.md Documentation reference I was using at least.

[2022-01-07 19:01] dmlb2000 commented on #1952
I think I found it, still trying to figure out the responsibilities between cluster-api and the providers...

[code]

[2022-01-07 19:11] #1952 closed

[2022-01-07 19:53] shysank commented on #1869
@CecileRobertMichon can we close this one?

[2022-01-07 19:58] CecileRobertMichon commented on #1338
/reopen

[2022-01-07 20:04] CecileRobertMichon commented on #1954
You would need to specify the vnet resourceGroup in the vnet spec as @dmlb2000 pointed out above.

[2022-01-07 20:06] CecileRobertMichon commented on #1869
Yes!

/close

[2022-01-07 20:06] #1869 closed

[2022-01-07 20:12] ninlil commented on #1954
I feel i need to point out this is the "Managed" version. That CRD does not allow a resource-group to be specified along the VNET.

[2022-01-07 20:29] dmlb2000 commented on #1954
Oh, apologies... the setup might be different than what I'm looking at... I'm not familiar with the Managed Control Plane part of the API.

[2022-01-07 20:39] ninlil commented on #1954
No problem. I've also spent some time reading that page before realizing it didn't apply to my use-case.

[2022-01-07 20:40] CecileRobertMichon commented on #1954
Got it in that case this would be a feature request as the AzureManagedCluster does not currently support bringing your own vnet in a separate RG

/kind feature
/retitle Support AzureManagedCluster BYO vnet in different RG

[2022-01-07 20:40] CecileRobertMichon commented on #1954
/area managed cluster

[2022-01-07 20:40] CecileRobertMichon commented on #1954
/area managedclusters

[2022-01-07 20:46] CecileRobertMichon commented on #1954
@alexeldeib does AKS support BYO vnet in a separate RG?

[2022-01-07 20:54] shysank commented on #1372
/remove-lifecycle rotten

[2022-01-07 20:56] shysank commented on #1365
/remove-lifecycle rotten

[2022-01-07 20:59] shysank commented on #1267
/remove-lifecycle stale

[2022-01-07 21:09] dmlb2000 commented on #1954
I've BYO my own VNET with Ansible to deploy AKS, however you have to have permissions to peer to that VNET. The AKS API Server doesn't seem to run in the same IP space as the VNET. I backed off that configuration as running `kubectl logs` or `kubectl exec` never worked in that situation (i/o timeouts trying to talk to worker nodes port 10250).

[2022-01-07 21:13] shysank commented on #1599
/remove-lifecycle rotten

[2022-01-07 23:29] CecileRobertMichon commented on #1949
To reproduce:
- checkout a tagged version of CAPZ, eg. `v1.0.1`
- run `make tilt-up`
- create a workload cluster
- select the “traces: jaeger-all-in-one” resource in the tilt UI, and click “View traces” near the top of the screen. Or visit http://localhost:16686/ in your browser.
- click on any of the Reconcile spans and expand one of the HTTP requests
- see that the userAgent row has an empty str

[2022-01-07 23:29] CecileRobertMichon commented on #1949
/assign @Jont828

[2022-01-09 02:59] dmlb2000 opened #1957 "Development Docs not working"
/kind bug

**What steps did you take and what happened:**
Trying to follow the steps in the [developers guide](https://capz.sigs.k8s.io/developers/development.html) and not getting through it without errors, not sure what to do there.

Trying to checkout default.
[code]

Trying to checkout main branch.
[code]

**What did you expect to happen:**

I expected the development documentation to work...

[2022-01-09 16:47] sayantani11 commented on #1660
I would like to try this issue.

[2022-01-09 20:09] dmlb2000 opened #1958 "Add optional override for API Endpoint"
/kind feature

**Describe the solution you'd like**
I'd like to be able to override what Azure provider is sending back to Cluster API as the API Endpoint. This will allow for more complex BYO infrastructure between the K8S management cluster and Azure deployed K8S clusters while still ensuring connectivity.

**Anything else you would like to add:**
I'll try to add the code, not as familiar with G

[2022-01-10 02:20] jsturtevant commented on #1125
/reopen

[2022-01-10 17:31] jackfrancis opened #1960 "Run regular tests for AKS (AzureManagedCluster) scenarios"
/area test

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As the `AzureManagedCluster` feature for building AKS clusters using capz matures, we want to E2E test this "basic" scenario with every PR as a way of proactively protecting the health of this feature.

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2022-01-10 17:59] CecileRobertMichon commented on #1960
/area managedclusters

[2022-01-10 18:14] shysank commented on #1604
/reopen

[2022-01-10 19:08] CecileRobertMichon commented on #1173
/reopen

[2022-01-10 20:44] #1859 closed

[2022-01-10 23:04] shysank opened #1961 "Add CodeQL workflow to Github to check security vulnerabilities"
CodeQL is an opensource tool that saves the codebase to a database and by making queries to it find possible vulnerabilities, bad patterns in the code.

https://codeql.github.com/

/area security

Related CAPA issue: https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3064

[2022-01-11 00:33] CecileRobertMichon commented on #1808
we should also take a look at work done in the CAPA provider to use the KCP port: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3063

[2022-01-11 21:30] shysank commented on #1718
/unassign @sonasingh46
/assign @shysank

[2022-01-11 21:35] shysank commented on #1715
/assign shysank

[2022-01-11 21:36] shysank commented on #1961
/assign shysank

[2022-01-11 21:37] shysank commented on #1961
cc @CecileRobertMichon Afaik we don't have much automation around code security scanning, thought this would be a good start since capa has already done it. wdyt?

[2022-01-11 21:57] shysank commented on #1500
/reopen

[2022-01-12 00:32] jsturtevant opened #1965 "capz AKS cluster test is failing"
/kind failing-test

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The test `capz-e2e.Workload cluster creation Creating an AKS cluster with a single control plane node and 1 node` is failing consistently: https://t

[2022-01-12 00:45] jsturtevant opened #1967 "periodic-cluster-api-provider-azure-capi-e2e-main test gets stuck and times out"
/kind flake

**What steps did you take and what happened:**

I noticed the capi-e2e tests timed out in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1932#issuecomment-1010497410

[code]

Found that it happens occasionally in CI as well:

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-capi-e2e-main

examples:

https://prow.k8s.io/view/gs/

[2022-01-12 20:41] Jont828 opened #1973 "Handle `TerminalErrors` in the AzureCluster controller"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently, the AzureMachine controller handles both transient and terminal errors, but the AzureCluster controller only handles transient errors. By adding support for terminal errors, we can return terminal errors in Reconcile() for services like subnets.

**Anything else you would li

[2022-01-12 20:47] Jont828 opened #1975 "Add support to check to see if Azure features are registered"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In the subnet service, we'd like to check `Microsoft.Network/AllowMultipleAddressPrefixesOnSubnet` in order to construct the API call, because otherwise we'd run into a `SubscriptionNotRegisteredForFeature` error. Currently, there's a workaround in the subnet service but ideally we cou

[2022-01-12 21:31] CecileRobertMichon commented on #1975
Note from our conversation earlier: it's also possible that the `AllowMultipleAddressPrefixesOnSubnet` feature doesn't require registration anymore and that workaround can be removed

[2022-01-12 21:31] CecileRobertMichon commented on #1975
/help

[2022-01-12 21:34] CecileRobertMichon commented on #1973
I'm going to mark this as bug because it's a miss that it doesn't handle terminal errors

/kind bug
/good-first-issue

More details for first time contributors:

The AzureMachine controller code can be used as an example of how to handle termnial reconcile errors:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/controllers/azuremachine_controller.go#L306-L314

The ask is to

[2022-01-12 21:39] #1712 closed

[2022-01-13 01:23] CecileRobertMichon commented on #1965
/close

fixed by #1971

[2022-01-13 01:23] #1965 closed

[2022-01-13 01:26] CecileRobertMichon commented on #1961
sure, let's try it out and see what info we get out of it

I personally haven't experimented with CodeQL before so I don't have any strong opinions here. Related to security (but different because it's for the created k8s clusters), @mboersma opened #1793

[2022-01-13 17:51] sayantani11 commented on #1973
Can I take this?
But guess will require some help

[2022-01-13 18:09] #1606 closed

[2022-01-13 18:31] mboersma commented on #1961
I've used CodeQL in a GH action, but for a [python project](https://github.com/Azure/azure-capi-cli-extension/actions/workflows/codeql-analysis.yml). 👍🏻 We should try it here.

The [kubescape](https://github.com/armosec/kubescape) tool is somewhat similar, in that it looks for possible vulnerabilities in the definitions of k8s resources (you can also point it at a set of .yaml files rather than a

[2022-01-13 20:01] dmlb2000 opened #1977 "Allow user to set Spec.ControlPlaneEndpoint"
/kind feature

**Describe the solution you'd like**
Users should be able to set the AzureCluster Spec.ControlPlaneEndpoint as part of their defined cluster. The provider should not write over this if it is set by the user. This allows users to bring their own infrastructure (WAF, Custom Load Balancer) between the control plane endpoint and the deployed workload cluster.

**Anything else you would

[2022-01-13 21:04] dmlb2000 commented on #1977
Just a list of how other providers are setting this value:

- [AWS](https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/385bb82d58e62bf8932e4a1334ee4f60fe9bce70/controllers/awscluster_controller.go#L266)
- GCP
  - [check for endpoint](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/aaa0d4fe1db896bd2cfca572a17da74ce34c3491/controllers/gcpcluster_controller.go#L214)
  -

[2022-01-13 21:32] CecileRobertMichon commented on #1960
cc @zmalik since you've been working on adding AKS features

[2022-01-14 12:57] zmalik opened #1979 "Add support for GPU nodes in AKS (managed cluster)"
/kind feature

**Describe the solution you'd like**
Support for GPU nodepools in AKS
https://docs.microsoft.com/en-us/azure/aks/gpu-cluster

**Anything else you would like to add:**
one way to solve this is to allow custom headers for the requests to the agentpool creation.

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc

[2022-01-14 12:57] zmalik commented on #1979
/area managedclusters

[2022-01-14 13:08] NovemberZulu commented on #1979
Given than this [feature seems experimental](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#update-your-cluster-to-use-the-aks-gpu-image-preview), and even [official CLI uses magic parameters](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#update-your-cluster-to-use-the-aks-gpu-image-preview), I don't think there is support in official Go SDK. Assuming custom headers work reliably,

[2022-01-14 13:16] zmalik commented on #1979
another way is the manual nvidia plugin also as CAPA is doing for EKS
https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/1a61dfc39649749b8b8dfad8334909a388d675a7/templates/cluster-template-eks-managedmachinepool-gpu.yaml#L72

but I believe that as AKS is providing an automated solution we should go for it. As the manual DS can always be installed by the users.

Instead of custom head

[2022-01-14 13:18] michalno1 commented on #1979
/assign michalno1

[2022-01-14 15:46] alexeldeib commented on #1979
personally, I would suggest using the vanilla VHD (GPU drivers will still get installed automatically) and deploying the device plugin as daemonset. I'd actually like to move AKS internally closer to that model, but we need to figure out how to get there from where we are without breaking existing expectations.

The nvidia operator should also work fine on AKS I believe, which I think is what's us

[2022-01-14 16:11] jsturtevant opened #1980 "capi-e2e test passed all the tests but it timed out"
The capi-e2e test passed all the tests but it timed out:

[code]

Seems like there may have been some trouble with the activity logs:
[code]

and collecting system logs looks like it wasn't working:

[code]

_Originally posted by @jsturtevant in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1932#issuecomment-1010497410_

[2022-01-14 16:13] jsturtevant commented on #1980
This also occurred during the CI runs https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1481812380957544448

[code]

[2022-01-14 17:01] jsturtevant commented on #1980
This occurs in Linux e2e tests as well:  https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/capz-conformance-master/1481772618179678208

[2022-01-14 17:07] jsturtevant commented on #1980
/kind failing-test

[2022-01-14 18:18] CecileRobertMichon commented on #1980
looks like it's the cluster delete that failed/timed out

[code]

[2022-01-14 22:30] CecileRobertMichon commented on #1980
[code]

RG delete operation was not done at the end of the test so it might have actually timed out...

[2022-01-14 23:52] CecileRobertMichon commented on #1980
based on investigation, resource group deletion was hanging and never failed/succeeded so the timeout was expected. This looks like something went wrong at the ARM level as the request was Accepted but then never completed. The RG is now gone due to automated subscription cleanup.

Unfortunately not much we can do at CAPZ level. Going to follow up with the ARM team internally to see if we can get

[2022-01-14 23:53] #1980 closed

[2022-01-15 00:11] CecileRobertMichon commented on #1979
regardless of how we decide to implement this one, I think it'd be nice to also support custom headers to be able to turn on feature flags in AKS for testing purposes

[2022-01-15 21:21] zmalik commented on #1979
I feel the other way around to support the AKS features that users might get with a managed solution. A good example would be the cluster autoscaler. Which can be enabled via AKS or users can have their our own autoscaler deployment targeting the vmss.

I agree. If we are all ok then I will open a separate issue to support the custom headers for AKS control plane and agentpools. And that can be us

[2022-01-17 00:41] #1596 closed

[2022-01-17 10:31] zmalik opened #1981 "add support for custom-headers for AKS"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
add support for custom-headers for AKS.
Custom headers are used by Azure API to enable several features for AKS controlplane and AKS nodepools, few examples would be:

For control-plane:
[code]

For nodepools:
[code]
**Anything else you would like to add:**
[Miscellaneous information t

[2022-01-17 10:32] zmalik commented on #1979
created https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1981 for aks custom headers support

[2022-01-17 10:33] zmalik commented on #1981
/area managedclusters

[2022-01-17 10:42] NovemberZulu commented on #1981
Since this is general custom headers feature, there are two points I'd like to confirm:

1.  There is no easy way to actually check if headers were set on an Azure object or not, is there? If my understanding is correct, we can't detect drift on custom headers, so it is not 100% reconcile flow.

2.  What CRDs should contain custom header field?

Thanks!

[2022-01-17 11:09] zmalik commented on #1981
Right, this will be just added to the HTTP API request.

IMO control-plane custom headers should go to `AzureManagedControlPlaneSpec`. Nodepool related headers should live in `AzureManagedMachinePool`

[2022-01-18 10:57] sonasingh46 opened #1982 "golang-ci lint should be in parity with capi"
/kind bug

**What did you expect to happen:**
Did a comparison of golang-ci linters used in core capi vs capz and found out that couple of linters are missing in capz. If it makes sense, we could add those missing linters in capz too. The following section has the comparison matrix.

TL;DR

Missing linters in CAPZ but present in CAPI:
- gci
- gocritic
- ifshort
- predeclared
- stylecheck
- thelper

[2022-01-18 11:04] sonasingh46 commented on #1982
cc @CecileRobertMichon @mboersma @shysank

[2022-01-18 15:58] sonasingh46 commented on #1982
/assign sonasingh46

[2022-01-18 17:17] CecileRobertMichon commented on #1981
/cc @jackfrancis since you were also interested in this feature

[2022-01-18 17:20] mboersma commented on #1982
I think we should try to match the linters used in CAPI, because it will make the code style and contributor experience more similar. I've submitted several PRs in the past to get CAPZ closer to that goal, but frankly I did most of the low-hanging fruit first, so there may be some tricky ones remaining.

I would just advise that we create one PR per linter, to make it easier to review. Thanks for

[2022-01-18 17:30] shysank commented on #1982
+1 to having one pr per linter. We can create sub tasks/issues for better tracking like we did for async services.

[2022-01-18 17:52] sbueringer commented on #1982
Sounds great. We will try to do the same for core CAPI.

There might be some strong opinions about some linters, but I think in those cases we don't have to force complete parity, but it would be nice to get to it as close as we can get consensus on.

[2022-01-18 19:31] dlipovetsky opened #1983 "Support "managed" semantics for an existing private DNS zone"
/kind feature

**Describe the solution you'd like**
I have to use an existing private DNS zone. I am not authorized to delete the zone, but only to manage vnet links and records in the zone. I want CAPZ to manage the vnet link and records in this zone. When CAPZ deletes the cluster, I want it to only delete the records and vnet link it created, and to not delete the zone itself.

**Anything else y

[2022-01-18 21:25] #1977 closed

[2022-01-18 21:26] CecileRobertMichon commented on #1983
@dlipovetsky this seems to be a bug. We shouldn't return [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/d0605831a48a551f1292b21c1c6a3a1bdbec8fc5/azure/services/privatedns/privatedns.go#L74) when the private zone is unmanaged, just skip creating/updating the zone, since the management of vnet links is separate.

Also, that log message about tagging the zone manually is mi

[2022-01-18 21:27] CecileRobertMichon commented on #1983
/kind bug

[2022-01-18 22:46] sayantani11 commented on #1973
/assign

[2022-01-19 11:01] michalno1 commented on #1981
/assign michalno1

[2022-01-20 14:24] sbueringer opened #1989 "Conversion is not completely implemented for all API types"
/kind bug

Hey folks,
in core CAPI we have a tool called conversion-verifier which loops over all types and ensures the controller-runtime conversion interfaces are implemented correctly, i.e. it checks the types have the Hub / ConvertTo / ConvertFrom functions.

The results for CAPZ are:
* type "infrastructure.cluster.x-k8s.io/AzureClusterIdentityList" in package "sigs.k8s.io/cluster-api-provider

[2022-01-20 14:44] sbueringer opened #1990 "Use controller-runtime setup-envtest instead of fetch_ext_bins.sh"
/kind feature

Hey folks,

just wanted to make you aware of that there is a tool by controller-runtime which can be used to setup the controller-runtime envtest binaries (https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest).

It's already used in core CAPI: https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L437-L441

I think this could be a good fi

[2022-01-20 18:08] CecileRobertMichon commented on #1990
/help

[2022-01-20 18:32] #1601 closed

[2022-01-21 20:35] #1499 closed

[2022-01-22 09:46] Manny27nyc opened #1997 "Cluster Overview Department Management"
***Goals***
1. Goal 1
1. Goal 2

***Non-Goals/Future Work***
1. Non-Goal 1
1. Non-Goal 2

**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

**Detailed Description**

[A clear and concise description of what you want to happen.]

**Contract changes [optional]**

[Describe contract changes between Cluster API Azure Provider controllers, if applica

[2022-01-24 13:12] josh-ferrell opened #1998 "Add support for multiple CAPV created subnets in managed VNET"
/kind feature

**Describe the solution you'd like**
As a user I would like CAPV be able to create subnets in a shared VNET for multiple clusters.

**Anything else you would like to add:**
The end user has the ability to specify the VNET and subnet name in AzureCluster at .spec.networkSpec.subnets/vnets of Cluster1. Specifying a different subnet name and CIDR block for the same VNET of Cluster2 wil

[2022-01-24 17:33] shysank commented on #1998
This seems similar to https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1983 as in we want a sub resource to be manged by capz whereas the parent resource is not. But, subnets might be slightly more complex since we'll need to be careful about overlapping subnets especially when they are set in defaults. This might be useful for advanced users when they explicitly set the subnet

[2022-01-24 18:41] CecileRobertMichon commented on #1997
/close

please repoen with details and filled out description

[2022-01-24 18:41] #1997 closed

[2022-01-24 19:15] #1713 closed

[2022-01-24 21:22] CecileRobertMichon commented on #1998
@shysank the main issue with supporting this is that subnets are a nested resource of vnets and not their own resource and they don't support tags, unlike other resources we've done this with (eg. private DNS zone and vnet links). So it would be difficult to tell if the subnet was created by CAPZ or not since we can't tag it, which means we wouldn't know whether it should be deleted or preserved w

[2022-01-24 23:17] #1717 closed

[2022-01-24 23:26] Jont828 opened #2000 "Add a role for bastion subnets"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Every subnet requires a role to be set, but if you pass an empty AzureBastion spec, it creates a subnet with no role which is defaulted to an empty string. This can be seen in the private cluster e2e test. However, it would make sense to add a role for bastion subnets.

**Anything else

[2022-01-24 23:34] Jont828 commented on #1702
/assign

[2022-01-24 23:41] Jont828 commented on #1715
Hey @shysank, how's it going on async private DNS? I've refactored a lot of the async PRs and also merged #1874 which changes the GET logic, so let me know if you have any questions!

[2022-01-25 00:28] #1710 closed

[2022-01-25 00:59] CecileRobertMichon commented on #1852
/help

[2022-01-25 01:26] CecileRobertMichon opened #2002 "Flake deleting private e2e test resources"
Private e2e cluster recently sometimes fails with

[code]

[2022-01-25 01:26] CecileRobertMichon commented on #2002
Seen in #1999, #1951, #1994

[2022-01-25 01:34] CecileRobertMichon commented on #2002
/assign

[2022-01-25 10:19] JoelSpeed commented on #1852
@damdo has volunteered to look into this, though not a Kube-sigs member so I don't think I can assign him

I'll take the responsibility for this for now
/assign

[2022-01-25 19:01] #2002 closed

[2022-01-25 22:30] CecileRobertMichon opened #2004 "Use go install instead of go get to install binaries"
https://go.dev/doc/go-get-install-deprecation

Starting in Go 1.17, installing executables with go get is deprecated. go install may be used instead.

In Go 1.18, go get will no longer build packages; it will only be used to add, update, or remove dependencies in go.mod.

we should stop using go get to install hack/tools and instead rely on go install here: https://github.com/kubernetes-sigs/clust

[2022-01-26 00:01] CecileRobertMichon opened #2005 "CVE-2022-0185: heap overflow bug in legacy_parse_param()"
William Liu and Jamie Hill-Daniel discovered that the file system context functionality in the Linux kernel contained an integer underflow vulnerability, leading to an out-of-bounds write. A local attacker could use this to cause a denial of service (system crash) or execute arbitrary code.

More details at https://ubuntu.com/security/CVE-2022-0185

## Mitigation
Disable unprivileged user namespac

[2022-01-26 01:32] CecileRobertMichon commented on #2000
/assign @Jont828

[2022-01-26 03:34] shysank commented on #1983
/assign

[2022-01-26 03:41] shysank commented on #1715
hey @Jont828, thanks! I was distracted with other things, so couldn't get to this sooner. I've opened a pr to address this, ptal whenever you get a chance.

[2022-01-26 14:28] jayesh-srivastava commented on #2004
/assign

[2022-01-26 15:23] zmalik opened #2009 "private ACR built-in integration with AKS managed clusters"
/kind feature

**Describe the solution you'd like**
Ability to give access to a private ACR (AzureContainerRegistry) using managed identity.
Right now we have to create a role assignment given the ACR resource id and the kubelet identity id of the AKS cluster.

The request is for a feature where the role assignment is created by CAPZ, as long as user provides the ACR resource id.
This issue is jus

[2022-01-26 15:23] zmalik commented on #2009
/area managedclusters

[2022-01-26 16:16] shysank commented on #1181
@CecileRobertMichon now that we are following [async](#1541) pattern for reconcile/delete of services, can we close this one?

[2022-01-26 18:48] jayesh-srivastava commented on #2004
Hi @CecileRobertMichon, can you please help me with this as to why the tests are failing.

[2022-01-26 20:11] CecileRobertMichon commented on #2004
commented on the PR

[2022-01-26 20:53] shysank commented on #1998
Thanks for the explanation @CecileRobertMichon, didn't know that subnets cannot be tagged. @josh-ferrell do you have a specific use case in mind where we would need such a setup?

[2022-01-26 22:02] ninlil commented on #1954
I've created a working cluster (with VNET allowing access both way between pods and on-prem network
(command is from a Makefile with variables, thus the $(VAR) notation, and some options might be reduntant)
[code]

(the custom cidr-net is because the default overlaps our own networks.)

So. now I'd just like to create this using the Cluster-API 🙂

[2022-01-27 21:41] shysank commented on #165
/remove-lifecycle stale

[2022-01-28 02:11] nilo19 opened #2019 "Add a template for out-of-tree cloud provider + multiple vmss pools"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Both some existing e2e tests (e.g., `cloud-provider-azure-autoscaling-multipool`) and some testing scenarios we plan to cover in the future (e.g., multiple slbs) require a cluster with out-of-tree cloud provider + multi vmss pools.

**Anything else you would like to add:**
[Miscellane

[2022-01-28 02:12] nilo19 commented on #2019
/assign @jackfrancis

[2022-01-28 20:52] CecileRobertMichon commented on #2019
@nilo19 if this is only for cloud provider e2e tests why not use https://github.com/kubernetes-sigs/cloud-provider-azure/tree/master/tests/k8s-azure/manifest/cluster-api ?

[2022-01-28 22:20] CecileRobertMichon commented on #1266
/lifecycle active

[2022-01-29 12:00] nilo19 commented on #2019
Because I can see there is a lot of generated contents in the manifests in capz repo, e.g., https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
I'm not sure how to generate it into a template and whether it is useful during the CI tests.

[2022-01-30 23:31] #1665 closed

[2022-01-31 17:59] Jont828 commented on #1702
@shysank Would it be possible for me to get access to edit the issue? Was hoping to add a link to the PR for each issue that's been assigned.

[2022-01-31 18:35] shysank commented on #1702
I think you'll need to maintainer access to do that. The issues have links to pr, do you want to add the pr links here directly as well?

[2022-01-31 19:51] Jont828 commented on #1715
Sounds good! Just left some comments.

[2022-01-31 20:04] CecileRobertMichon commented on #1990
/good-first-issue

Ask is to use `setup-envtest` from controller-runtime instead of fetch_ext_bins.sh, just like https://github.com/kubernetes-sigs/cluster-api/commit/77f62724adb45ed039c6a759b65d09734ad3e4d8 did it for CAPI.

This will require:
1) adding the setup-envtest install to the makefile like https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L728
2) deleting the fetch_ext_b

[2022-01-31 20:15] #2000 closed

[2022-01-31 22:05] sonasingh46 opened #2026 "verify targets should be in parity with capi"
/kind bug

**What did you expect to happen:**
Did a comparison of verify targets used in core capi vs capz and found out that couple of verify targets are missing in capz. If it makes sense, we could add those missing targets in capz too. This should help improve the developer experience in my opinion. The following section has the comparison matrix.

TL;DR

Missing targets in CAPZ but present in

[2022-02-01 00:54] CecileRobertMichon commented on #2026
apidiff is a script: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/scripts/ci-apidiff.sh

it's also a script in CAPI https://github.com/kubernetes-sigs/cluster-api/blob/main/scripts/ci-apidiff.sh, wonder if it's still being used

[2022-02-01 10:10] sonasingh46 commented on #2026
The script is used in PROW job. Thanks for pointing put the apidiff script in CAPZ.
The corresponding target name in capz is `go-apidiff`. Wondering if it makes sense to have the same target name as that of CAPI to help improve contributor experience .

[2022-02-01 10:12] sbueringer commented on #2026
@CecileRobertMichon It's used by the ProwJobs.

In core CAPI we have:
* the shell script ci-apidiff which shows the apidiff to ${PULL_BASE_SHA}
* the makefile target apidiff which shows the apidiff to origin/main

In CAPZ:
* the shell script ci-apidiff which shows the apidiff to ${PULL_BASE_SHA}

I think in both repos we have targets to just build the binary.

The difference seems to be that in CA

[2022-02-01 17:57] CecileRobertMichon commented on #1789
/remove-lifecycle stale

[2022-02-01 18:09] CecileRobertMichon commented on #1789
How about in a new azure/consts.go file?

[2022-02-01 20:32] sonasingh46 opened #2029 "Add gocritic linter"
/kind bug

Add `gocritic` linter in the CAPZ repo.

Some similar PR references for adding linters are below:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1986
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1985

**What did you expect to happen:**
Refer to the umbrella [issue](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1982)

Ref l

[2022-02-01 20:34] sonasingh46 opened #2030 "Add stylecheck linter"
/kind bug

Add `stylecheck` linter in the CAPZ repo.

Some similar PR references for adding linters are below:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1986
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1985

**What did you expect to happen:**
Refer to the umbrella [issue](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1982)

Ref

[2022-02-01 20:35] sonasingh46 opened #2031 "Add thelper linter"
/kind bug

Add `thelper` linter in the CAPZ repo.

Some similar PR references for adding linters are below:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1986
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1985

**What did you expect to happen:**
Refer to the umbrella [issue](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1982)

Ref li

[2022-02-01 20:37] sonasingh46 commented on #2029
/good-first-issue

[2022-02-01 20:37] sonasingh46 commented on #2030
/good-first-issue

[2022-02-01 20:37] sonasingh46 commented on #2031
/good-first-issue

[2022-02-01 20:59] Matheusafonsouza commented on #2031
/assign

[2022-02-01 21:20] matgomes21 commented on #2030
/assign

[2022-02-01 21:26] viniciussaturnino commented on #2029
/assign

[2022-02-01 22:45] shysank commented on #1826
/remove-lifecycle stale

[2022-02-01 23:03] TheNakedZealot commented on #1104
Experiencing this exact issue trying to create a cluster using this provider...

1. Attempt to create cluster via CAPZ Cluster API
2. Attempt fails with error in CAPZ-Controller log `AzureClusterIdentity is not of type Service Principal` using the provided yaml...

[code]

We are seeking assistance!

[2022-02-01 23:29] jackfrancis commented on #1967
Looks like another repro here:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/1994/pull-cluster-api-provider-azure-e2e-full/1488584123541884928

[2022-02-02 01:01] jsturtevant commented on #1860
There are a few requirements for this test to be run as outlined in https://github.com/kubernetes/kubernetes/blob/f95c70080f21fe9aa6f14b72b75078d79ef68614/test/e2e/windows/gmsa_full.go#L17-L37 which are implemented by https://github.com/kubernetes-sigs/windows-testing/tree/master/extensions in aks-e

The top level steps are to:

- Create a Windows DomainController
- Create a gMSA account and gener

[2022-02-02 01:08] jsturtevant commented on #1860
Another thought I realized I missed was turning one of the existing nodes into a Domain controller after the cluster is provisioned. This is the way it is done today in the Aks-engine configuration

[2022-02-02 16:40] jsturtevant commented on #1860
Another requirement is we should be able to easily swap out other plugins for testing as well.

[2022-02-02 17:30] CecileRobertMichon commented on #1778
/remove-lifecycle stale

[2022-02-02 18:54] jackfrancis opened #2039 "Fix AKS (AzureManagedCluster) cluster create on release-0.5"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The release-0.5 branch has a broken AKS implementation. At least the following PRs will need to be manually cherry-picked in order to restore functionality:

[2022-02-02 18:54] jackfrancis commented on #2039
/assign

[2022-02-02 19:36] CecileRobertMichon commented on #1901
From a separate investigation (slack thread) this error seems to occur when pod identity is not able to fetch the token from IMDS under 12 seconds, possibly because the token is not valid. It's not ideal that it doesn't return an error and just times out, there might be a way to improve the logging when this happens so the user knows it's a problem with their client id/secret.

[2022-02-02 19:57] CecileRobertMichon commented on #2039
@jackfrancis I can do a manual cherry pick directly in #2028 since there is a merge conflict

[2022-02-02 20:26] mboersma commented on #1989
/assign

[2022-02-02 22:26] marosset commented on #1864
/assign

[2022-02-03 00:14] jackfrancis commented on #1967
Another, I think:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/2018/pull-cluster-api-provider-azure-e2e-full/1488984787614961664

[2022-02-03 02:27] sonasingh46 commented on #2026
/assign sonasingh46

[2022-02-03 16:24] jsturtevant commented on #1832
I don't think we are seeing this in our e2e tests, but it does look there is a possibility for this issue

/remove-lifecycle stale

[2022-02-03 17:05] jsturtevant commented on #467
I think this is still something we would want to look at eventually

/remove-lifecycle stale

[2022-02-03 17:54] shysank opened #2047 "Remove /etc/hosts workaround for private clusters"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
In private clusters, there are `preKubeAdm` and `postKubeAdm` commands to add an entry for private dns mapping to `127.0.0.1`. This is done to circumvent azure lb [haipin](https://github.com/microsoft/Azure-ILB-

[2022-02-03 21:43] mboersma commented on #1957
This is due to CAPZ importing sigs.k8s.io/cluster-api/test, which has a [`replace` statement](https://github.com/kubernetes-sigs/cluster-api/blob/main/test/go.mod#L25) in go.mod that is problematic.

You can work around it by using `git clone` to fetch repository. Or, it appears to work for me with Go 1.17.6 and the `main` branch:

[code]

[2022-02-04 18:00] CecileRobertMichon commented on #1279
/remove-lifecycle rotten

[2022-02-04 20:03] CecileRobertMichon opened #2051 "Change apidiff test to only fail for actual breaking API changes"
Right now the apidiff test fails as soon there is a breaking change in an exposed field or in an exposed function. While this is greatly useful for reviews, it results in a lot of false positives since we often have to change exported functions in the codebase and currently accept these changes.

We should consider modifying the job so it only looks at api/ changes since that's the area that is ex

[2022-02-04 20:04] CecileRobertMichon commented on #2051
@sonasingh46 @mboersma @shysank thoughts?

[2022-02-04 20:09] jackfrancis commented on #2051
Can we add a label (only admins are allowed to add to a PR) that tells the test: "don't run for this change"?

Ideally we'd be able to bypass only the checks that are changes and keep every other check running. But maybe it we ensure that an admin manually investigates the apidiff failure before permitting it by adding a label we're O.K.?

[2022-02-04 20:44] CecileRobertMichon commented on #2051
The test runs on every PR but it's not required for merge. So I usually as an approver verify that there are no breaking changes before commenting "/approve". This does require approvers to remember to check it.

There is already a prow command for overriding a particular test failure but if we were to mark this test as required I have a feeling we would be using that command very often. It would

[2022-02-04 20:56] jackfrancis commented on #2051
Makes sense. I think given how we want to occasionally permit API breaking changes the current test setup makes sense.

[2022-02-04 20:56] mboersma commented on #2051
So basically we would be ignoring `exp/` in the apidiff check?

I think the status quo is ok (it fails sometimes and requires a human to verify the changes aren't actually breaking). But if we did restrict the checking, we should try to give that a time limit while we work toward stability and/or moving things to internal packages like CAPI.

[2022-02-04 21:10] shysank commented on #2051
I agree to restricting it to just `api/`. There are so many false positives right now that I've ignored it almost all the time even in cases when I shouldn't have; when there are actual user facing api changes. We could probably still log the other changes as warnings, but only fail if there are actual user facing api changes.

[2022-02-04 21:14] shysank commented on #2051
I think we'd still want to include `exp/api` but not other internal types/functions.

[2022-02-04 22:26] nawazkh commented on #1789
/assign

[2022-02-04 22:42] CecileRobertMichon commented on #1913
/assign

[2022-02-04 23:18] CecileRobertMichon opened #2052 "E2E k8s image resolution should skip checking the image for k8s prereleases"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/e2e_suite_test.go#L511 checks that if the k8s version is a semver (eg. v1.21.1), we make sure we have a published OS image for it. However, this would fail for pre-releases of k

[2022-02-04 23:18] CecileRobertMichon commented on #2052
/good-first-issue

[2022-02-04 23:34] shysank commented on #1500
/reopen

[2022-02-06 20:20] #1338 closed

[2022-02-07 02:11] andyzhangx commented on #1673
/reopen

[2022-02-07 02:11] andyzhangx commented on #1673
/remove-lifecycle stale

[2022-02-07 04:03] sayantani11 commented on #2052
/assign

[2022-02-07 16:05] mboersma commented on #588
/remove-lifecycle stale

I have a PR that addresses this that I will submit today.

[2022-02-07 23:56] #1864 closed

[2022-02-08 00:19] jsturtevant commented on #1860
/assign

[2022-02-08 00:34] CecileRobertMichon commented on #1913
/remove-help

tried to bump calico to 1.22 in #2021 but it apparently broke ipv6 clusters. Will need to investigate to see what changed from 1.20 to 1.22.

[2022-02-08 01:51] #588 closed

[2022-02-08 04:24] sonasingh46 commented on #2029
@viniciussaturnino -- Thank you for taking up the issue. Feel free to reach out if any help is needed.

[2022-02-08 04:25] sonasingh46 commented on #2030
@matgomes21 -- Thank you for taking up the issue. Feel free to reach out if you need any help.

[2022-02-08 17:28] CecileRobertMichon commented on #2052
thanks for picking this up @sayantani11, let me know if you need help

/cc @chewong

[2022-02-08 18:03] #1801 closed, assigned to nobody

[2022-02-08 18:12] CecileRobertMichon commented on #2047
/assign @shysank

[2022-02-08 18:14] CecileRobertMichon commented on #2039
/close

fixed in #2028

[2022-02-08 18:14] #2039 closed

[2022-02-08 22:31] dantiandb opened #2058 "AMMP controller watch event mapping function from CAPI machine pools using wrong GVK"
/kind bug

**What steps did you take and what happened:**
Noticed that in some cases of CAPI machinepool changes, watch events were not properly triggering for AMMP. When increasing log verbosity, looking through the CAPZ controller manager logs saw this:

[code]

Seems like `clusterv1exp` is used instead of `infrav1exp` when setting up the watch here:
https://github.com/kubernetes-sigs/cluster-ap

[2022-02-08 22:39] TheNakedZealot opened #2059 "AzureManagedMachinePool CRD spec not being respected in cluster resource."
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
I applied a yaml including a AzureManagedMachinePool manifest, such as:

[code]
The generated CRD reflected this manifest...
[code]
But the actual Cluster resource only respected some fields in the spec.
[code]

[2022-02-08 22:40] jackfrancis commented on #2059
@zmalik can you validate that you fixed this in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1945 ?

[2022-02-08 22:45] CecileRobertMichon commented on #2058
/area managedclusters

thanks for opening an issue @dantiandb. That definitely looks like a bug. Going to mark it as good first issue since the fix is straightforward but anyone should feel free to assign.

/good-first-issue

[2022-02-09 12:49] sonasingh46 opened #2062 "document annotations, labels and finalizers used on capz reconciled resources"
/kind bug

**What steps did you take and what happened:**

A documentation that captures all the annotations, labels and finalizers used on capz reconciled resources should help understand the purpose. This can also be used as reference while we add other annotations so as to restrict polluting the namespace and keep the naming consistent.

**What did you expect to happen:**
Documentation around a

[2022-02-09 14:07] zmalik commented on #1580
/remove-lifecycle stale

[2022-02-09 18:18] #1708 closed

[2022-02-09 18:40] jsturtevant opened #2063 "Update e2e tests to verify all system pods are ready before executing tests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Our e2e suite should verify all pods in the kube-system namespace should be "ready" before running any tests.  This would have caught issues in the past due to conformance having this check. Calico was processing requests but not ready so our e2e tests passed where as conformance didn'

[2022-02-09 18:50] shysank commented on #1604
/reopen

[2022-02-09 18:52] sbueringer commented on #1990
I think once the test targets are using setup-envtest (the way it's done in core CAPI), this target can be deleted.

But let's wait for feedback from Cecile as I'm not really familiar with CAPZ.

[2022-02-09 19:00] viniciussaturnino commented on #2029
Ok, thank you! I will work on it right know

[2022-02-09 19:00] matgomes21 commented on #2030
@sonasingh46  Thanks! I let you know if I need some help.

[2022-02-09 19:10] thiagompc commented on #2058
/assign

[2022-02-09 19:43] jsturtevant commented on #1125
/reopen

This is only partially fixed for e2e and the the insecure flag needs to be addressed via updates to capi or manually be a customer that wishes to deploy it. See for more details https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1903#issuecomment-989350818

[2022-02-09 20:06] mboersma commented on #1989
/close

Fixed by #2042

[2022-02-09 20:06] #1989 closed

[2022-02-09 21:12] jsturtevant commented on #1860
Current plan is:

1. The ccg plugin will be installed by image builder but can be overridden by the post-kubeadm script.
2. Use bash script to create DC, keyvalut and relevant security accounts (domain users and azure identity). The script will drop the credital spec file in place that the e2e suite can pick it up.
2. the e2e suite code will pick this file up and place it on a Windows node, label

[2022-02-09 22:38] Jont828 commented on #1949
/open

[2022-02-09 23:49] shysank commented on #1532
/remove-lifecycle stale

[2022-02-10 17:45] nawazkh opened #2073 "Improve readability of Makefile"
/kind feature
^ minor readability improvement tbh

**Describe the solution you'd like**

Running `make` could display better _help_ with segregated targets like CAPI does.
Ex:
[code]

**Anything else you would like to add:**

- None

**Environment:**

- cluster-api-provider-azure version: latest
- Kubernetes version: (use `kubectl version`): v1.23.3
- OS (e.g. from `/etc/os-release`):

[2022-02-10 18:19] thiagompc commented on #2058
Thanks @dantiandb !

[2022-02-10 19:01] sbueringer commented on #1957
xref: https://github.com/kubernetes-sigs/cluster-api/issues/6081

[2022-02-11 01:04] #2031 closed

[2022-02-11 06:35] aramase opened #2076 "Use `capz` for single stack ipv6 prow jobs"
Creating this issue to track migration of single stack IPv6 prow jobs to use [capz](https://github.com/kubernetes-sigs/cluster-api-provider-azure/) as [aks-engine](https://github.com/Azure/aks-engine#project-status) is deprecated.

[2022-02-11 06:36] #2076 closed

[2022-02-11 06:37] aramase commented on #2076
Moved this to `cloud-provider-azure` for tracking: https://github.com/kubernetes-sigs/cloud-provider-azure/issues/1138

[2022-02-11 17:12] jsturtevant commented on #1862
/remove-lifecycle stale

[2022-02-11 17:12] jsturtevant commented on #1857
/remove-lifecycle stale

[2022-02-11 17:13] jsturtevant commented on #1190
/remove-lifecycle stale

[2022-02-11 17:14] jsturtevant commented on #1738
This a dockershim issue. We will be eventually phasing out the dockershim implementation in favor of containerd

[2022-02-11 17:14] jsturtevant commented on #1782
/remove-lifecycle stale

[2022-02-11 20:03] mboersma opened #2078 "Add unit tests for AzureManagedMachinePool controller"
/kind feature

**Describe the solution you'd like**

The file `exp/controllers/azuremanagedmachinepool_controller.go` does not have corresponding unit tests, but should.

PR #2074 shows AMMPs are in use, and ideally that change would be covered by testing. I think it's too much to ask for that one-line change to implement an entire test module, so I opened this issue.

**Anything else you would li

[2022-02-12 01:00] bridgetkromhout opened #2079 "Add registry config header for containerd"
/kind feature

**Describe the solution you'd like**

Suggestion ported from https://github.com/Azure/aks-engine/issues/4374 - See how many people are building CAPZ clusters by adding a registry config header for containerd - https://github.com/Azure/acr/blob/main/docs/http-headers.md#header-values

[2022-02-13 04:40] Aayush987 commented on #2078
/assign

[2022-02-14 15:51] viniciussaturnino commented on #1840
/assign /assign matgomes21

[2022-02-14 15:52] viniciussaturnino commented on #1840
/assign

[2022-02-14 15:52] viniciussaturnino commented on #1840
/assign matgomes21

[2022-02-14 15:53] matgomes21 commented on #1840
/assign

[2022-02-14 15:53] viniciussaturnino commented on #1840
Hey, i'll try this issue with matgomes21

[2022-02-14 18:09] CecileRobertMichon commented on #467
To summarize the current blockers here:

- Azure CNI install is via binary. There is no helm chart, operator or daemonset which would allow users to install the CNI similarly to other CNIs after the cluster is created, unlike other CNIs currently documented with CAPZ.
- Azure CNI requires static pre-allocation of IPs. This means that CAPZ must be aware of CNI to pre-allocate the IPs (this is unusu

[2022-02-14 18:35] CecileRobertMichon commented on #1990
+1

[2022-02-14 18:39] #2058 closed

[2022-02-14 19:01] CecileRobertMichon commented on #1868
@Jont828 could we prioritize this one so we can merge it before releasing v1.2 which includes a lot of new async services? Let me know if you need any help.

[2022-02-14 20:21] Jont828 commented on #1949
This should be fixed on the image releases now that this [test-infra PR](https://github.com/kubernetes/test-infra/pull/25233) has merged.

[2022-02-14 22:30] CecileRobertMichon commented on #1949
@Jont828 should we revert the echo lines added for debugging in #1963 now that this is fixed?

[2022-02-14 23:26] #2029 closed

[2022-02-15 14:45] michalno1 commented on #1145
/reopen

[2022-02-15 14:46] zmalik commented on #1145
/reopen

[2022-02-15 14:47] zmalik commented on #1145
/assign michalno1

[2022-02-15 17:17] CecileRobertMichon opened #2088 "Update kustomize to v4.5.2"
https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.5.2 was just released and includes a PR to remove exclude statements which should unblock #2004.

Kustomize version can be updated here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/Makefile#L83

/good-first-issue

[2022-02-15 17:41] jayesh-srivastava commented on #2088
/assign

[2022-02-15 22:09] CecileRobertMichon commented on #2059
@TheNakedZealot this should be fixed in release v1.1.2. Feel free to open a new issue if you run into more trouble.

/close

[2022-02-15 22:09] #2059 closed

[2022-02-15 22:45] #1973 closed

[2022-02-15 22:45] #1789 closed

[2022-02-15 22:45] #2088 closed

[2022-02-16 00:25] shysank opened #2094 "Optionally enable/disable inbound nat rules for api server lb"
/kind feature

Right now, an inbound nat rule is created for api server lb which forwards request for ssh interactions. This may not be suitable for certain environments where we'd want to restrict access to the control plane machine.

**Describe the solution you'd like**

Provide a way to disable the ssh nat rule.

**Anything else you would like to add:**
[Miscellaneous information that will assi

[2022-02-16 01:17] CecileRobertMichon commented on #1949
@Jont828 you should be able to verify that this is fixed now that https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v1.1.2 is out

[2022-02-16 01:22] CecileRobertMichon commented on #2094
@shysank you can restrict access to the control plane machines by providing [network security rules in the template](https://capz.sigs.k8s.io/topics/custom-vnet.html#custom-security-rules). By default, a rule is added to expose the SSH port but you could remove it to make sure the machines can't be accessed from the public internet.

IMO it's still useful to have the NAT rules so you can use the L

[2022-02-16 15:08] jsturtevant commented on #1192
/remove-lifecycle rotten

[2022-02-16 16:24] shysank opened #2096 "Improve usability for rotating cloud provider credentials"
/kind feature

The current process of rotating is as follows:
1. update azure.json secret with new credentials
2. rollout machines to copy new credentials to /etc/kubernetes/azure.json

This is a bit cumbersome especially the rolling out part where the user has to do some kind of scale operation to trigger a rollout.

**Describe the solution you'd like**
Provide an easier way to rotate cloud provi

[2022-02-16 20:38] shysank commented on #2094
I agree that for most cases it is useful to be able to ssh from within then vnet (atleast) for debugging purposes, but for scenarios where such a privilege might be a security violation, should we provide an option to disable it? Enable by default for majority of use cases, disable through override for the rest of them?

[2022-02-16 20:46] CecileRobertMichon commented on #2094
FWIW you can also add a network security rule to block inbound traffic on port 22 from _within_ the VNet. The default [network security rules](https://docs.microsoft.com/en-us/azure/virtual-network/network-security-groups-overview) allow this but they have very high priority numbers, and they are meant to be overridden by custom rules that allow the user to control exactly what traffic is allowed.

[2022-02-16 22:01] shysank commented on #2094
You're right, the mere existence of a nat rule should not have any effect on the security.

[2022-02-16 22:12] #2073 closed

[2022-02-16 22:46] CecileRobertMichon commented on #2096
Would something like a [VM run command ](https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest) to update the files in place on the Machines be closer to what your looking for? Is the goal here to avoid rolling machines?

[2022-02-16 22:57] CecileRobertMichon commented on #2052
@sayantani11 this is now impacting upstream testing, if you haven't had a chance to work on it yet please let us know so we can pick it up.

/priority-critical-urgent
/cc @jackfrancis @Jont828

[2022-02-16 23:05] CecileRobertMichon commented on #1949
/reopen

/assign @Jont828

to validate that this is fixed in the latest release and revert the debug output added in #1963

[2022-02-16 23:38] jackfrancis commented on #2052
/assign

[2022-02-16 23:45] CecileRobertMichon commented on #2079
/assign

[2022-02-17 05:49] #2052 closed

[2022-02-17 17:53] CecileRobertMichon opened #2104 "Use quiet mode in docs link checker action"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We should apply the same change as https://github.com/kubernetes-sigs/cluster-api/pull/6167/files to turn on quiet mode in the docs link checker. This will make it easier to read the output and find broken links when it fails.

[2022-02-17 19:44] Darshnadas commented on #2104
/assign

[2022-02-18 17:12] jsturtevant commented on #1876
/remove-lifecycle stale

[2022-02-18 23:22] #2004 closed

[2022-02-21 09:54] Ankitasw commented on #1394
/reopen

[2022-02-22 13:06] alon-z opened #2107 "AzureClusterIdentity is not of type Service Principal"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Follow quick start guide with a cluster on AWS and using https://capz.sigs.k8s.io/topics/multitenancy.html#manual-service-principal-identity guide to support a cluster without `aad-pod-identity`

Our AzureCluste

[2022-02-23 16:29] fiunchinho opened #2112 "controller is not respecting the queue time when deleting AzureClusters"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Trying to delete a `CAPZ` cluster , while the resource group is being deleted, the controller seems to be making too many requests to the Azure API.
The logs say that the object will be reconciled after 15s but

[2022-02-23 19:45] #1981 closed

[2022-02-23 19:45] #1979 closed

[2022-02-23 21:01] #1500 closed

[2022-02-23 22:43] mboersma opened #2114 "Create availability policy for reference images, so we can prune them"
/kind feature

**Describe the solution you'd like**

CAPZ documentation should make clear that the project provides reference images only for the last *X* patch releases of Kubernetes, for each of the last *Y* minor releases. Then maintainers should prune our stored images down to those covered by the availability policy.

**Background**

To facilitate tests, and to help new users kick the tires,

[2022-02-24 01:03] CecileRobertMichon commented on #2112
I'm not seeing the same issue on main:

[code]

I believe this was fixed in v1.1, could you please try using the latest CAPZ release?

[2022-02-24 01:08] CecileRobertMichon commented on #2107
/help

[2022-02-24 17:04] #2079 closed

[2022-02-24 18:28] #1732 closed

[2022-02-24 20:20] CecileRobertMichon commented on #1456
/remove-lifecycle stale

[2022-02-24 20:21] CecileRobertMichon commented on #1243
/remove-lifecycle rotten

[2022-02-24 20:28] CecileRobertMichon commented on #2079
@bridgetkromhout this is done and will be part of any new Azure OS images built from image-builder after today.

[2022-02-24 20:38] CecileRobertMichon commented on #1268
/remove-lifecycle rotten
/reopen

[2022-02-24 20:39] CecileRobertMichon commented on #1268
/help

[2022-02-24 23:16] CecileRobertMichon opened #2120 "VMSS e2e test flake during drain"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

VMSS cluster test sometimes fails with:

[code]

Example PR where this happened: #2119

**What did you expect to happen:**

**Anything else you would like t

[2022-02-24 23:17] CecileRobertMichon commented on #2120
/help

[2022-02-24 23:36] CecileRobertMichon opened #2121 "AzureMachineTemplate Reconcile occasionally fails to find AzureClusterIdentity"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

AzureMachineTemplate controller sometimes fails with:

[code]

Eventually, the error seems to go away but this happens multiple times on each cluster create

[2022-02-24 23:37] CecileRobertMichon commented on #2121
/help

[2022-02-24 23:56] CecileRobertMichon commented on #2120
/assign @jackfrancis

to introduce retries

[2022-02-25 05:44] meghanajangi opened #2124 "Create additional E2E tests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Create E2E tests for the following use-cases in AzureCluster codebase:
- Create a Cluster in VNET with peerings
- Create a Cluster with a Private LB for API server
- Create a Private Cluster with an outbound LB
- Create Cluster using AzureClusterIdentity

**Anything else you would like

[2022-02-25 05:55] meghanajangi commented on #2124
/priority important-longterm
/area testing

[2022-02-25 16:57] jsturtevant commented on #1314
/remove-lifecycle rotten

[2022-02-25 17:27] CecileRobertMichon commented on #2124
Hi @meghanajangi, we already have e2e tests for the scenarios you mentioned:

- Create a Cluster in VNET with peerings: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/ci/cluster-template-prow-private.yaml#L71
- Create a Cluster with a Private LB for API server: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/ci/cluster-

[2022-02-25 19:10] CecileRobertMichon opened #2127 "AKS E2E tests: use latest "stable" k8s version"
As AKS is a service that deprecates k8s versions that are out of support policy, using a static (even latest patch) version in e2e test results in those tests eventually failing due to the version becoming unsupported as we saw in #2108.

We should allow specifying `latest` as the AKS k8s version and use the ListOrchestrators AKS API to fetch all supported versions and pick the latest one (excludi

[2022-02-25 19:30] austintackaberry opened #2129 "Support disableLocalAccounts for AKS clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add support for setting [DisableLocalAccounts](https://docs.microsoft.com/en-us/azure/aks/managed-aad#disable-local-accounts). This is a security feature that prevents users from fetching the admin kubeconfig which has a 2 year certificate with system:masters privileges.

In order to s

[2022-02-25 19:35] CecileRobertMichon commented on #2129
/area managedclusters

[2022-02-25 19:35] CecileRobertMichon commented on #2127
/area managedclusters

[2022-02-26 13:32] Darshnadas commented on #1849
/remove-lifecycle stale

[2022-02-28 11:41] andyzhangx opened #2132 "could not get instance metadata on Windows node"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

I set up a capz cluster with `Windows Server 2019 Datacenter` node and also installed CSI driver on windows node, and CS

[2022-02-28 11:48] andyzhangx commented on #2132
cc @CecileRobertMichon @marosset this is the reason why CSI driver does not work on Windows node now.

[2022-02-28 17:52] marosset commented on #2132
cc @jsturtevant @devigned
We had some discussions about blocking instance metadata endpoints for Windows nodes but I can't find the issues/PRs at the moment (maybe they are in the image builder repo)?

[2022-02-28 18:05] marosset commented on #2132
Found the PR to block this - https://github.com/kubernetes-sigs/image-builder/pull/694

[2022-02-28 18:16] marosset commented on #2132
From reading through the comments it sounds like we want to run some of the containers as `ContainerAdministrator` so they can get wire server access.

[2022-02-28 18:43] CecileRobertMichon commented on #1899
/remove-lifecycle stale
/help

[2022-02-28 18:47] marosset commented on #2132
Oops, looks like we went with option 2 which blocks access to wireserver for `ContainerAdministrator` users.

[code]

I'm not sure how to give contiainers access to wireserver without allowing all contianers running as containerdministrator access.

[2022-02-28 18:55] CecileRobertMichon commented on #2132
for reference: https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-27075

[2022-02-28 19:16] marosset commented on #2132
I spoke with @jsturtevant and I think the right course of action here is to run the csi-driver containers as HostProcess containers.
We can run HostProcess containers as system accounts on the node which can be part of the security group that have wireserver access and also would not require any updates to the csi-driver binaries/logic.

I am curious how this works on Linux.
Is wireserver access b

[2022-02-28 19:25] CecileRobertMichon commented on #2132
Ref: https://github.com/kubernetes-sigs/image-builder/pull/690/files#diff-adaa5bbfc20ce5e21aed6ea1e95dfca1d060eb4cf11622555d5242007ec02798R33

All traffic on port 80 is blocked. hostNetwork-enabled containers are *still* be able to reach wireserver.

Why does CSI driver need access to the wireserver? To clarify the fix we implemented does not block IMDS (169.256.169.254). Rather, we block Wireserv

[2022-02-28 19:53] #1868 closed

[2022-02-28 19:54] marosset commented on #2132
Oops, sorry I mixed ups IMDS and wireserver.
I'm not sure why IMDS access is blocked here.

[2022-02-28 20:08] marosset commented on #2132
@jsturtevant do we need to manually create a route for IMDS endpoints for calico?
I see https://github.com/kubernetes-sigs/sig-windows-tools/blob/42d4411003b94e086356f891b278d452fc8f50e8/hostprocess/flannel/flanneld/start.ps1#L28-L31 for flannel (running with host-process containers) but not for calico.

[2022-02-28 20:17] #1957 closed

[2022-02-28 21:49] CecileRobertMichon commented on #1266
some notes on IPv6 dual stack support with Calico: https://github.com/projectcalico/calico/pull/5313

[2022-03-01 00:05] #1949 closed

[2022-03-01 02:13] #1913 closed

[2022-03-01 05:30] andyzhangx commented on #2132
@CecileRobertMichon only Azure Disk CSI driver needs IMDS support since it needs to get zone and vm size info

[2022-03-01 18:34] CecileRobertMichon commented on #1396
After a discussion around ClusterClass support for managed clusters (special meeting on March 1st https://docs.google.com/document/d/1ushaVqAKYnZ2VN_aa3GyKlS4kEd6bSug13xaXOakAQI/edit#) and how it needs the infraRef in order to satisfy the contract, we might not want to do this after all. CAPA is considering re-introducing AWSManagedCluster to solve the issue (https://github.com/kubernetes-sigs/clu

[2022-03-01 18:49] jsturtevant opened #2139 "Add support for WS2022 to other test templates"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently we only support running WS 2022 in kubernetes CI flow.  The template `test/ci/cluster-template-prow.yaml` doesn't have an equivilant WS2022 flavor.

Found this with https://github.com/kubernetes/test-infra/pull/25444#discussion_r815632202

**Anything else you would like to a

[2022-03-01 19:11] CecileRobertMichon commented on #1045
/lifecycle active
/milestone v1.3

[2022-03-01 21:56] CecileRobertMichon commented on #1701
/close

Please open individual issues for each feature request

[2022-03-01 21:56] #1701 closed

[2022-03-01 21:56] CecileRobertMichon commented on #1669
This is done for managed clusters #1815

/close

[2022-03-01 21:56] #1669 closed

[2022-03-01 21:57] CecileRobertMichon commented on #1875
/remove-lifecycle stale

[2022-03-01 21:57] CecileRobertMichon commented on #1755
/remove-lifecycle rotten

[2022-03-01 21:58] CecileRobertMichon commented on #1455
/remove-lifecycle stale

[2022-03-01 21:58] CecileRobertMichon commented on #1145
/remove-lifecycle rotten
/lifecycle active

[2022-03-01 21:59] CecileRobertMichon commented on #2051
/help
/good-first-issue

[2022-03-02 00:12] jackfrancis commented on #1045
/assign

[2022-03-02 00:13] CecileRobertMichon commented on #1266
/assign @aramase @Jont828

[2022-03-02 00:16] CecileRobertMichon commented on #629
/assign @invidian

[2022-03-02 00:17] CecileRobertMichon commented on #999
/assign @jackfrancis

[2022-03-02 16:47] #1919 closed

[2022-03-02 18:44] marosset commented on #2132
/assign

[2022-03-02 22:11] CecileRobertMichon opened #2140 "async managedclusters"

[2022-03-02 22:11] CecileRobertMichon opened #2141 "async vmextensions"

[2022-03-02 22:11] CecileRobertMichon opened #2142 "async tags"

[2022-03-02 22:12] CecileRobertMichon commented on #2140
/assign

[2022-03-02 22:12] CecileRobertMichon commented on #2141
/help

[2022-03-02 22:12] CecileRobertMichon commented on #2142
/help

[2022-03-02 22:43] #2030 closed

[2022-03-03 08:08] meghanajangi commented on #2127
/assign

[2022-03-03 11:44] sbueringer opened #2144 "Upgrade to golangci-lint v1.44.2"
/kind feature

**Describe the solution you'd like**
Hey folks,

just fyi there is a new version of golangci-lint, in case you want to update.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-03-03 16:50] #1354 closed

[2022-03-04 00:06] CecileRobertMichon commented on #2144
/help

[2022-03-04 00:07] CecileRobertMichon commented on #2124
I'm going to close this. Feel free to reopen if you feel my comment above doesn't fully cover what you had in mind.

/close

[2022-03-04 00:07] #2124 closed

[2022-03-04 11:16] Prajyot-Parab commented on #2144
/assign

[2022-03-04 20:28] #2114 closed

[2022-03-04 23:30] #2144 closed

[2022-03-06 10:41] sonasingh46 commented on #1982
Closing this issue as all the tasks under this has been covered.

[2022-03-06 10:41] #1982 closed

[2022-03-06 13:25] #1762 closed

[2022-03-07 13:40] monojit18 opened #2150 "Multus CNI Pluigin Support"
/kind feature

**Describe the solution you'd like**
Does Cluster API provider templates support multus CNI plugin?
If not then any plan in the roadmap?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-03-07 18:54] #1145 closed

[2022-03-07 19:38] sedefsavas commented on #2051
We are having a similar discussion in CAPA https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3282

Regarding moving code to internal packages, CAPA will have a very limited code to expose. We are discussing if we can avoid doing this with just documenting.

Wanted to check if there is a similar discussion here as well or CAPZ is committed to use internal packages.

[2022-03-08 02:53] andyzhangx opened #2151 "kubeconfig file(C:\k\config) does not exist on Windows node"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`C:\k\config` exists on aks-engine windows node, which could be used to get kubeClient by the driver, this file does not exist on Windows node.

**What did y

[2022-03-08 06:28] andyzhangx commented on #2132
and when I start a driver pod, it cannot access api-server using kubeconfig on the windows node, error is like following:
[code]

So it's related?

[2022-03-08 06:29] andyzhangx commented on #2151
set kubeconfig as empty value solve the issue, while the csi driver pod cannot access api-server on Windows node, error is like following, could be related to same issue in https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2132
[code]

[2022-03-08 13:28] meghanajangi opened #2152 "Add e2e test for creating a cluster using custom images"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently e2e test for creating a cluster using custom images is not present.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl versio

[2022-03-09 11:29] andyzhangx commented on #2151
The kubelet kubeconfig lands in  C:\var\lib\kubelet\config.yaml, not an issue now.

[2022-03-09 11:29] #2151 closed

[2022-03-09 18:29] CecileRobertMichon commented on #1673
might be useful to review: https://github.com/sedefsavas/cluster-api-provider-aws/blob/csi-migration/docs/book/src/topics/external-cloud-provider-with-ebs-csi-driver.md#validated-upgrade-paths-for-existing-clusters

[2022-03-09 22:37] thiagompc commented on #2104
/assign

[2022-03-09 22:37] viniciussaturnino commented on #2104
/assign

[2022-03-09 23:54] #2120 closed

[2022-03-10 17:38] jackfrancis opened #2159 "Enable working machinepool drain tests"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Recently we discovered the the machinpool drain tests run during capz E2E don't actually check for success/fail. While enabling that we observed that the or

[2022-03-10 18:15] shysank commented on #2096
Apologies for not replying to this earlier. Looked into [VM run command](https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest), but couldn't envision what the workflow would look like. Do you mean using a script that periodically checks for cloud provider secret and restarts the processes?

There is also a capi constraint especially for worker nodes, where we don't have

[2022-03-10 23:45] jsturtevant commented on #1917
we've made a progress on this. I've checked off a few of the checkboxes

[2022-03-10 23:46] jsturtevant commented on #1917
/remove-lifecycle stale

[2022-03-11 07:55] ArchangelSDY opened #2164 "`userAssignedIdentityID` in `azure.json` is wrong when using user assinged MSI"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create a control plane `AzureMachineTemplate` that specifies `userAssignedIdentities`. For example,

[code]
2. Check the generated `azure.json` on control

[2022-03-11 17:30] jackfrancis commented on #2164
Confirmed that the value in azure.json should be the clientID of the MSI and not the resource URI

[2022-03-11 17:38] CecileRobertMichon commented on #2164
/milestone v1.3
/help

[2022-03-11 18:46] #1045 closed

[2022-03-11 19:28] #1604 closed

[2022-03-11 21:21] jsturtevant commented on #1125
/reopen
/remove-lifecycle rotten

[2022-03-11 23:17] jackfrancis opened #2165 "Update capi-->capz tests to use out-of-tree cloud-provider-azure"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

After https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1994 merges let's update the capz v1beta1 templates that capi tests consume so that we standardize to out-of-tree cloud-provider-azure by default. Ref:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/main/te

[2022-03-12 13:31] Aayush987 commented on #2078
@mboersma I am sorry for responding late. But actually, I am new to testing but I really want to learn and contribute to this issue can you link me to some resources which will help me write unit tests. I have asked for help from someone but I think he is busy right now.

[2022-03-14 16:03] mboersma commented on #2078
@Aayush987 no worries. In general, we would expect there to be a file `exp/controllers/azuremanagedmachinepool_controller_test.go` that contains Go unit tests covering the exported functions in `azuremanagedmachinepool_controller.go`.

There is a general tutorial on writing unit tests in Go [here](https://go.dev/doc/tutorial/add-a-test). And there are other controllers in the same package that do

[2022-03-14 23:37] dtzar opened #2169 "Add health resilience for managed cluster"
/kind feature

**Describe the challenges**
After "successfully" completing `clusterctl init --infrastructure azure` I'm personally finding there are various scenarios where the actual management cluster is in an unhealthy state. When you then run `kubectl -f myCapzWorkloadCluster.yaml` the cluster is permanently stuck in the provisioning state.

`kubectl describe clusters` at the end shows it can'

[2022-03-15 00:00] #2104 closed

[2022-03-15 00:04] CecileRobertMichon commented on #1917
For cloud-provider we might not be able to do this as there is no manifest artifact published as part of [releases](https://github.com/kubernetes-sigs/cloud-provider-azure/releases). There are [sample manifest in the repo ](https://github.com/kubernetes-sigs/cloud-provider-azure/tree/master/examples/out-of-tree) but @feiskyer pointed out those shouldn't be used directly as addon manifests since th

[2022-03-15 00:23] CecileRobertMichon commented on #2169
@dtzar thanks for raising this issue. For 1), this seems like a clusterctl / Cluster API feature request to me, not one specific to Azure. Would you mind creating an issue in the CAPI repo so we can brainstorm solutions with the other providers?

For 2) specifically, this seems like something that should have gotten caught in a webhook instead. I'm actually refactoring the managed clusters surface

[2022-03-16 09:52] lzhecheng opened #2171 "TEST_CCM tests should build images according to OS"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
For cloud-provider-azure tests, the script should build images according to the OS. Now it just builds all and it makes tests more flaky.
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/scripts/ci-build-azure-ccm.sh#L53
https://storage.googleapis.com/kubernetes-

[2022-03-16 09:53] lzhecheng commented on #2171
/cc @CecileRobertMichon

[2022-03-16 17:35] jsturtevant commented on #1867
/remove-lifecycle stale

[2022-03-16 20:15] jackfrancis commented on #1685
/remove-lifecycle stale

[2022-03-16 20:17] shysank opened #2173 "CAPZ should not use ObjectMeta.ClusterName"
/kind bug

There is an upstream discussion about dropping ObjectMeta.ClusterName: https://github.com/kubernetes/kubernetes/pull/108717. Related CAPI issue: https://github.com/kubernetes-sigs/cluster-api/issues/6305

This field is not populated by Kubernetes and we should not use it as an CAPZ Cluster Name.

This issue is about doing some research where we use it in CAPZ and fix it if it is used.

[2022-03-16 22:17] CecileRobertMichon commented on #2173
/milestone v1.3
/help

[2022-03-17 01:30] andyzhangx commented on #2139
@jsturtevant is there any way I could enable 2022 windows test on azure disk csi driver test infra?

I see there is an example here:
https://github.com/kubernetes/test-infra/blob/90069405dd67b3e82959b7b07ae326bac3987e8c/config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml#L233-L265

can I apply to https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/azure

[2022-03-17 06:43] meghanajangi commented on #2051
/assign

[2022-03-17 17:13] shysank opened #2175 "Outbound LB not being set when upgrading v1alpha3 private clusters"
/kind bug

**What steps did you take and what happened:**
1. install v1alpha3 providers.
2. create a private cluster. This will also create a control plane and node outbound lbs.
3. Upgrade to v1beta1.
4. change k8s version (this could be anything)
5. kcp rollout of new machine fails

**What did you expect to happen:**

Upgrade should be successful

**Anything else you would like to add:**

Reason

[2022-03-17 17:16] shysank commented on #2175
/priority critical-urgent

[2022-03-17 18:15] CecileRobertMichon commented on #2173
/assign

[2022-03-17 18:18] shysank commented on #1872
/remove-lifecycle rotten

[2022-03-17 22:08] Jont828 commented on #2141
/assign

[2022-03-17 22:18] #2175 closed

[2022-03-17 23:22] Jont828 commented on #2142
/assign

[2022-03-17 23:34] #1266 closed

[2022-03-18 16:46] jackfrancis opened #2179 "Remove ClusterResourceSet dependencies from templates"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

1. Decompose the `ClusterResourceSet` template fragments that currently exist inside test and reference templates (e.g., `templates/cluster-template-external-cloud-provider.yaml` and `templates/cluster-template-nvidia-gpu.yaml`) so that they exist on their own for more general re-use.

[2022-03-18 16:46] jackfrancis commented on #2179
/assign

[2022-03-18 23:40] jsturtevant opened #2182 "VM Nics should be able to specific custom DNS settings"
/kind feature

**Describe the solution you'd like**
A user would be able to specify a custom DNS setting for a VM in the cluster.  This would be specified here:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/services/networkinterfaces/spec.go#L148

Setting is https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachines?tabs=bicep#virtualmachine

[2022-03-21 01:12] feiskyer commented on #1917
this would require all addons supporting kustomize for setting various parameters. Have we confirmed all addons would support kustomize?

[2022-03-21 20:12] CecileRobertMichon commented on #2171
/help

[2022-03-21 20:28] CecileRobertMichon commented on #1917
@feiskyer not sure what you mean by "supporting kustomize" ? Kustomize is just used to customize a yaml manifest, it can be used with any yaml spec and doesn't need the k8s application to do anything to support it.

As long as the addon manifest is published somewhere in a publically accessible URI (for example, on github) then we can just fetch it and use kustomize to add patches to it.

Note: we

[2022-03-22 08:40] andyzhangx commented on #2139
@jsturtevant any progress to support 2022 test run on test-infra?

[2022-03-22 16:47] CecileRobertMichon commented on #2159
if anyone would like to work on this one, a good way to make sure we have time to check for successful draining before the machine pool deletes would be to add a finalizer at the beginning of the drain test then remove it after checking for successful drain and proceeding with delete.

/help

[2022-03-22 17:21] #1543 closed

[2022-03-22 19:00] shysank commented on #1545
/remove-lifecycle rotten

[2022-03-23 10:24] Ankitasw commented on #1394
/reopen
/lifecycle frozen

[2022-03-23 17:51] jsturtevant commented on #1857
/assign

[2022-03-23 17:53] shysank commented on #1394
@Ankitasw are you still working on this one?

[2022-03-23 18:51] Ankitasw commented on #1394
Hey @shysank no I have not got enough time to relook into this, if somebody is interested, they can take ahead the existing PR opened and work on it.

[2022-03-23 19:22] shysank commented on #1394
/unassign @Ankitasw

[2022-03-24 15:15] sonasingh46 commented on #2121
I have observed same behaviour multiple time while I was looking at the CI logs. Let me take a stab at this.

[2022-03-24 15:15] sonasingh46 commented on #2121
/assign sonasingh46

[2022-03-24 23:28] CecileRobertMichon commented on #1716
/reopen
/unassign @karuppiah7890

If someone decides to work on this one, please see https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1745 for prior work

[2022-03-24 23:29] CecileRobertMichon commented on #1394
Prior work: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1747

[2022-03-24 23:29] CecileRobertMichon commented on #1394
/help

[2022-03-25 22:17] jsturtevant opened #2197 "pull-cluster-api-provider-azure-e2e failed when collecting logs"
/kind bug
/kind flake

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Test failed when collecting logs: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/2193/pull-cluster-api-provider-azure-e2e/1507460088535715840

[2022-03-25 22:27] shysank commented on #2197
Seeing the same error in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1873
cc @sonasingh46

[2022-03-27 07:19] ravidbro commented on #467
@CecileRobertMichon about the second bullet, isn't it the same on any other cloud provider like EKS and GKE?
Don't CAPI needs to be aware there to the platform too?

[2022-03-27 14:03] KushalBeniwal commented on #2078
@Aayush987 are you still working on this issue?

I have experience writing tests, so, if you want to co-work on this issue and learn along the way then I'm open to do so!

[2022-03-27 14:05] Aayush987 commented on #2078
Ya ,I mean I want to work on it but i am still learning to write tests. But if you can help me to learn it will be great.

[2022-03-27 17:07] #1181 closed

[2022-03-28 07:54] KushalBeniwal commented on #2078
/assign

[2022-03-28 16:23] CecileRobertMichon commented on #467
@ravidbro not sure I understand your question. EKS and GKE are both managed Kubernetes services. This issue is specific to self-managed Azure clusters (not AKS). CAPI supports a "BYO CNI" model for self-managed clusters, which means the user can install the CNI independently of the cluster definition and there isn't anything in the Cluster or InfraCluster spec that is CNI aware.

[2022-03-28 17:14] marosset commented on #2139
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2194

[2022-03-28 18:13] CecileRobertMichon commented on #1716
/remove-lifecycle rotten

[2022-03-28 18:17] CecileRobertMichon commented on #2173
Ask: find all the occurrences of `.ClusterName` and replace them with `.Spec.ClusterName`.

`.ClusterName` is from metadata because ObjectMeta is inlined. We want to use the `ClusterName` value from `Spec` instead as `ObjectMeta.ClusterName` is unset and will soon be removed.

[2022-03-28 18:18] CecileRobertMichon commented on #2173
/assign @DannyBrito

[2022-03-28 19:47] shysank commented on #1003
/remove-lifecycle rotten

[2022-03-28 19:48] shysank commented on #1775
/remove-lifecycle rotten

[2022-03-28 19:49] shysank commented on #825
/remove-lifecycle rotten

[2022-03-28 19:49] shysank commented on #1570
/remove-lifecycle rotten

[2022-03-28 19:49] shysank commented on #1746
/remove-lifecycle rotten

[2022-03-28 19:53] #1718 closed, assigned to sonasingh46

[2022-03-28 20:28] CecileRobertMichon commented on #857
I think we can close this now. This was fixed in the external cloud provider v0.7.4+ and k8s 1.22+.

/close

[2022-03-28 20:28] #857 closed

[2022-03-28 23:41] #1857 closed

[2022-03-29 06:40] ravidbro commented on #467
I understand, thanks!

[2022-03-29 16:26] BDworak opened #2201 "Different peered vnet support for control plane and node networks"
/kind feature

**Describe the solution you'd like**
Add support to allow for multiple VNets to host a single K8s cluster, given that they are in the same region and peered together. Peering of Vnets exists today but in a single deployment the AzureCluster resource does not allow you to specify using a Subnets from both VNets even if they exist in the same region.

Example of how this could be impl

[2022-03-29 16:46] BDworak opened #2202 "Same Subnet for control plane and node networks"
/kind feature

**Describe the solution you'd like**
1. Allow for both control plane and worker machines to be deployed to the same subnet.

Example(AzureCluster CRD, networkSpec):
[code]

2. (optional)For added customization, allow for IP ranges within an existing subnet to be specified to carve the subnet outside of traditional CIDR blocks.

Example(AzureCluster CRD, networkSpec. origin network i

[2022-03-29 20:32] CecileRobertMichon commented on #1396
won't do

/close

[2022-03-29 20:32] #1396 closed

[2022-03-29 20:43] CecileRobertMichon opened #2204 "Graduate AzureManagedCluster out of experimental"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

AzureManagedCluster (AKS) was introduced in CAPZ as an experiment in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/482. Since then, a lot of progress has been made in adding more features and making the controllers and tests more stable. Part of the reason for bui

[2022-03-29 20:43] CecileRobertMichon commented on #2204
/area managedclusters

[2022-03-29 20:44] #1893 closed

[2022-03-29 20:49] bridgetkromhout commented on #2204
Definitely agree; this matches my recent experiences. I've also been asked if AKS would support the AzureManagedCluster feature, and while of course the CAPZ project cannot make that determination, marking the feature as stable would definitely be a step in the direction those customers want.

[2022-03-29 21:15] CecileRobertMichon opened #2205 "Migrate from AAD pod identity to Azure Workload Identity"
/kind feature

[Azure AD Workload Identity](https://github.com/Azure/azure-workload-identity) is the next iteration of [Azure AD Pod Identity](https://github.com/Azure/aad-pod-identity) that enables Kubernetes applications to access Azure cloud resources securely with [Azure Active Directory](https://azure.microsoft.com/en-us/services/active-directory/) based on annotated [service accounts](https:

[2022-03-29 21:21] alexeldeib commented on #1503
/reopen

[2022-03-29 21:24] alexeldeib commented on #2204
I think https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1503 / https://github.com/kubernetes-sigs/cluster-api/issues/4526 are key issues to fix to go stable.

The issue is the code [here](https://github.com/kubernetes-sigs/cluster-api/blob/bfc6f80add5c21b8dc2b704951f42bc14708ebc4/controllers/noderefutil/providerid.go#L56-L60) and [here](https://github.com/kubernetes-sigs/clust

[2022-03-29 21:24] alexeldeib commented on #1503
/remove-lifecycle rotten

[2022-03-29 21:42] CecileRobertMichon commented on #715
/unassign
/assign @jackfrancis

[2022-03-29 22:02] #2173 closed

[2022-03-29 22:55] shysank commented on #2204
+1 to moving it out of experimental, but since capz managed clusters cannot run without machine pool, should we wait for machine pool to be moved out of exp?

[2022-03-29 22:57] shysank commented on #715
cc @sonasingh46

[2022-03-30 08:55] sonasingh46 commented on #715
I have been trying to validate this manually. Especially around kubernetes 1.22 --> 1.23 upgrade paths.
The following in-tree components for azure are the points of attention  :

**azureDiskCSI Driver**
**azureFileCSI Driver**
**cloud-provider-azure **
As an effort to extract the cloud provider dependency from Kubernetes, the cloud provider dependent code is moving out from the in-tree Kubernetes.

[2022-03-30 09:28] sonasingh46 commented on #715
**Scenario3: Upgraded cluster from Kubernetes version 1.22 to 1.23 by enabling external cloud provider **
 - The upgrade failed. The new control plane machine did not pass the `perFlight` checks. Readiness and startup probe failed for the control plane components on the new control plane machine that came up.

- To fix this, we may need to enable the external volume plugin. ( WIP )

[2022-03-30 14:34] josh-ferrell commented on #1998
Closing as not currently feasible.

[2022-03-30 16:44] shysank commented on #1484
/remove-lifecycle rotten

[2022-03-30 17:20] CecileRobertMichon opened #2207 "Enable feature flag disabled error reporting for AzureMachinePool, AzureManagedCluster"
Copied from https://github.com/kubernetes-sigs/cluster-api/issues/6331

**User Story**

As a user I would like to get transparent errors about Feature Flags on object creation.

**Detailed Description**

In order to get clear errors about feature flag status we can enable webhooks for objects when the associated feature flag is not enabled. The issue with this is whether or not enabling the webhoo

[2022-03-30 17:30] shysank commented on #1900
/remove-lifecycle rotten

[2022-03-30 20:41] #2127 closed

[2022-04-01 10:05] meghanajangi commented on #2207
/assign

[2022-04-04 07:37] sonasingh46 commented on #2205
I can work on this one.
/assign sonasingh46

[2022-04-04 20:15] evanfreed opened #2212 "Manual Testing: Exit on existing identity"
/kind bug

**What steps did you take and what happened:**

I've been working through the manual testing guide https://capz.sigs.k8s.io/developers/development.html#manual-testing.  While doing so, I was running `make create-cluster` multiple times because I was patching missing local environment vars, etc.  One scenario I hit was a dead end where `hack/create-identity-secret.sh` had already been ra

[2022-04-04 20:15] evanfreed commented on #2212
/assign

[2022-04-04 22:21] #1715 closed

[2022-04-05 17:43] #2212 closed

[2022-04-07 12:59] zmalik opened #2218 "support custom kubelet configuration in AKS"
/kind feature

**Describe the solution you'd like**
support custom node configuration in `AzureManagedMachinePool`

**Anything else you would like to add:**
AKS allows us to have custom kubelet configuration, which allows users to have better control over kubelet configuration.

Some valid use-cases are for example the use of cpusets instead of CPU shares. This would be possible through `cpuManage

[2022-04-07 12:59] zmalik commented on #2218
/area managedclusters

[2022-04-08 20:39] shysank commented on #1238
/remove-lifecycle stale

@invidian we already validate for  the existence of `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET`. Capz expects `AZURE_CLIENT_SECRET` to be set as a kubernetes secret as well. Do you think that checking that will improve the experience?

[2022-04-08 20:39] shysank commented on #1077
/remove-lifecycle stale

[2022-04-08 20:50] BDworak opened #2221 "Support Custom VM Extensions for AzureMachines"
/kind feature

**Describe the solution you'd like**
Support deployment of custom VM extensions from the Azure Extension gallery as part of a VM deployment. Currently if you want to add any extensions to a deployed VM you have to deploy afterwards via Azure Portal or az cli(https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/overview).

**Anything else you would like to add:**
A cust

[2022-04-08 20:56] jsturtevant commented on #2221
Info on the azure Azure AD extension: https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux

[2022-04-08 21:40] CecileRobertMichon commented on #2221
@BDworak thanks for opening the issue! We already have code in place to reconcile extensions so this shouldn't be too hard to add. @Jont828 is actually working on refactoring some of the extensions code in #2177, after that PR is merged we could look at supporting this. We would just need to expose an API field in AzureMachines for specifying extensions to be deployed then wire it up to the existi

[2022-04-08 22:24] CecileRobertMichon commented on #2205
@sonasingh46 let me know if you need any help with this one. Excited to see it moving forward.

/cc @chewong @aramase

[2022-04-10 14:42] invidian commented on #1238
@shysank is it validated by the controller itself or only via Tilt/clusterctl?

[2022-04-11 20:41] shysank commented on #1534
/remove-lifecycle stale

[2022-04-11 20:41] shysank commented on #1763
/remove-lifecycle stale

[2022-04-12 16:48] shysank commented on #1365
/remove-lifecycle stale

[2022-04-12 16:48] shysank commented on #1267
/remove-lifecycle stale

[2022-04-12 16:49] shysank commented on #1599
/remove-lifecycle stale

[2022-04-12 16:50] shysank commented on #1660
/remove-lifecycle stale

[2022-04-12 16:53] shysank commented on #1238
Validation is (will be) done on the client (tilt), Controller will return an error if it can't find the secret.

[2022-04-12 16:53] shysank commented on #1808
/remove-lifecycle stale

[2022-04-12 17:17] dmlb2000 commented on #1958
Yes this got fixed by the other pull request.

Thanks
David Brown

On Tue, Apr 12, 2022, 9:52 AM Shyam Sankaran ***@***.***>
wrote:

[2022-04-12 17:33] CecileRobertMichon commented on #1958
yes

/close

[2022-04-12 17:33] #1958 closed

[2022-04-12 17:51] evanfreed opened #2226 "Creating Service Principal with Latest Cli Fails"
/kind bug

**What steps did you take and what happened:**

- Download the latest azure-cli
- Follow the [Getting Started](https://capz.sigs.k8s.io/topics/getting-started.html) docs.
- Command to create the service principal now fails with the most recent `az` cli version.

[code]

**What did you expect to happen:**

I expected the service principal to get created without any issues.  A work around

[2022-04-12 18:15] jackfrancis commented on #2226
Thanks for reporting!

I think adding the `--scopes="${AZURE_SUBSCRIPTION_ID}"` to the existing docs would work.

@CecileRobertMichon @shysank any concerns that the above addition would be too broad to recommend in the quick docs?

[2022-04-12 19:10] CecileRobertMichon commented on #2226
+1 to amending the doc, CAPZ needs contributor access on the sub in order to be able to create a resource group (unless you BYO resource group, but that won't be the case for more new users)

Scopes needs to be in the `/subscriptions/123` format so `az ad sp create-for-rbac --role contributor --scopes=/subscriptions/${AZURE_SUBSCRIPTION_ID}` is what we need.

[2022-04-12 19:13] evanfreed commented on #2226
/assign

[2022-04-12 20:30] #2226 closed

[2022-04-12 20:40] marosset opened #2228 "Kube-proxy failed to start on windows nodes but ci jobs still ran test cases"
/kind bug
/kind flake

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The PROW job ci-kubernetes-e2e-capz-master-containerd-windows ran and had several networking/DNS related test failures.
Upon further investigati

[2022-04-12 20:50] marosset commented on #2228
The cluster had 2 nodes and kube-proxy started fine on one node but not on the other.

Maybe there was a file corruption during the copy operation in https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap-windows.yaml ?

Or maybe the kube-proxy ds started too soon?

Needs more investigation to figure out what happened

[2022-04-13 17:23] jackfrancis opened #2229 "Non-blocking AzureBastion resource creation when using bastionSpec in AzureCluster"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Background is this comment:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2222#issuecomment-1098279821

When using a `bastionSpec` configuration in an `AzureCluster` resource spec, rather than create the underlying `AzureBasture` Azure resource in serial (prior t

[2022-04-13 17:26] jackfrancis commented on #2229
@CecileRobertMichon is there an existing, similar implementation in capz that I can refer to and get started experimenting?

Also, a question: if we fire off the `AzureBastion` reconciliation in the background, does that mean that an Cluster/AzureCluster can achieve a `Provisioned` state without knowing whether or not the Azure Bastion resource will ever actually successfully provision? (I assume

[2022-04-13 17:34] CecileRobertMichon commented on #165
@jackfrancis good question. I believe the original intent was to support the option of having a VM as bastion, in addition to the AzureBastion service. Given that the AzureBastion service is more mature now and has recently added CLI support as well, I don't know of any use case for needing a standalone VM as bastion over using the AzureBastion service, in which case we can close this issue since

[2022-04-13 17:42] jackfrancis commented on #165
Will close for now, anyone tracking this who disagrees please re-open w/ a statement of desired net new work!

[2022-04-13 17:42] #165 closed

[2022-04-13 20:54] marosset opened #2230 "Occasional issues pulling windows container images from dockerhub"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**

Many of the container images used to bring up windows nodes (kube-proxy, calico, etc) are hosted at [docker.io/sigwindowstools](https://hub.docker.com/u/sigwindowstools) and now CI jobs are having trouble pulli

[2022-04-14 15:42] claudiubelu commented on #2228
Looking in the test logs [1] for the test run that failed [2], we can see the following:

[code]

Technically, the kube-proxy pod on the problematic node is "started", but that is obviously not true [3]. I assume that the kube-proxy pod started before the kube-proxy binary finished copying, resulting in that error.

For this, we could do the following:

- ensure that all the binaries are completel

[2022-04-14 18:18] CecileRobertMichon commented on #2051
/reopen

since #2232 reverted the change

[2022-04-14 21:05] CecileRobertMichon commented on #1692
/reopen

[2022-04-14 21:27] CecileRobertMichon commented on #2230
@marosset was this related to the "v" prefix issue or is this something else?

[2022-04-14 22:10] marosset commented on #2230
The issue we were seeing with the azuredisk PR jobs has been resolved but this issue is still valid.
I'm going to work on publishing images `ghcr.io/kubernetes-sigs/sig-windows` (and back-filling all the existing images) when I get  a little bit of time.

[2022-04-14 22:13] jackfrancis commented on #2230
I assume the root cause is throttling from docker.io?

[2022-04-14 22:14] marosset commented on #2230
Yes, we'd like to move away from docker hub to avoid throttling there.

[2022-04-14 22:15] marosset commented on #2230
And also it makes sense to manage the images in kubernetes-sigs managed resources.

[2022-04-15 16:29] CecileRobertMichon commented on #2005
/close

[2022-04-15 16:29] #2005 closed

[2022-04-15 17:00] shysank opened #2234 "Migrate default template"

[2022-04-15 17:58] CecileRobertMichon commented on #1826
/lifecycle active

[2022-04-18 22:28] marosset opened #2236 "Stop setting KUBE_TEST_REPO_LIST for 1.24+ clusters testing Windows"
/kind feature
/area test

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Stop setting `KUBE_TEST_REPO_LIST` during Windows test passes for K8s 1.24+

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

In K8s v1.23 and below we need to specify an alternate container registry because some te

[2022-04-18 22:45] jackfrancis opened #2237 "Log collection for Windows nodes stalls"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I have a local repro of a log collection at the end of an E2E run against a Windows node that never returns and stalls the E2E test runner:

[code]

The abo

[2022-04-19 18:32] marosset commented on #2230
/assign

[2022-04-19 19:59] srm09 opened #2241 "Stale nodes left behind on a workload cluster"
/kind bug

**What steps did you take and what happened:**
- Create a workload cluster with a MHC targeting NotReady worker nodes
- For some reason, the worker nodes of the cluster do not get into the Ready state (the CPI pods do not get deployed)
- MHC reaps the not Ready Machines to retry creating new nodes.
[code]

**What did you expect to happen:**
Reaped nodes by MHC should not show up in the

[2022-04-19 20:45] CecileRobertMichon commented on #2241
Do you know why cloud provider pods are not getting deployed? Are you using cloud provider azure in "[external](https://capz.sigs.k8s.io/topics/cloud-provider-config.html#external-cloud-provider)" mode?

Cloud provider is responsible for cleaning up old nodes that are no longer assoicated with a Machine so if you don't have cloud provider running that would also explain why the nodes are being lef

[2022-04-20 09:13] sonasingh46 commented on #2026
Closing this as the required PRs are merged.

[2022-04-20 09:13] #2026 closed

[2022-04-20 09:23] sonasingh46 opened #2242 "e2e test for k8s v1.22 --> v1.23 upgrade to use out of tree csi driver"
/kind bug

**What steps did you take and what happened:**
From Kubernetes v1.23 AzureDiskCSI driver is enabled by default.

An e2e test with following validations should be there:

- Create a k8s cluster with v1.22.
- Create a deployment/sts that uses PVC created via in-tree AzureDiskCSI driver.
- Upgrade the k8s cluster to v1.23 and install out-of-tree AzureDiskCSI driver.
- Validate that the exi

[2022-04-20 09:23] sonasingh46 commented on #2242
/assign sonasingh46

[2022-04-20 09:24] sonasingh46 commented on #2242
cc @CecileRobertMichon @shysank

[2022-04-20 17:47] CecileRobertMichon commented on #1674
/remove-lifecycle rotten
/reopen

[2022-04-20 20:36] kfox1111 opened #2250 "login trying too aggressively"
/kind bug

**What steps did you take and what happened:**
Tried to create a new cluster.
[code]

[2022-04-20 20:59] kfox1111 commented on #2250
Seems related to https://github.com/Azure/azure-cli/issues/9970. The docs don't hint that you need to produce a "certificate" with a key and cert in it, in the right order. I was able to login via az login using that format. still not workign with the capz though.

[2022-04-20 22:27] CecileRobertMichon commented on #2250
E0420 20:34:00.878482       1 server.go:399] failed to get service principal token for pod: capz-system/capz-controller-manager-c75cd8b88-j7sww, error: adal: Refresh request failed. Status Code = '401'. Response body: {"error":"invalid_client","error_description":"AADSTS7000215: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client s

[2022-04-20 22:38] CecileRobertMichon commented on #2250
From a CAPZ perspective I took a quick look, https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/d1c2f870bd81b7a0b904faf0608d0a93910e8726/azure/scope/identity.go#L284 is missing the [service principal with certificate type](https://azure.github.io/aad-pod-identity/docs/concepts/azureidentity/) so that's a bug, looks like https://github.com/kubernetes-sigs/cluster-api-provider-azure/

[2022-04-20 22:57] chewong commented on #2250
I don't think so. It's up to Azure SDK to perform the backoff if it fails.

[2022-04-20 23:58] #2237 closed

[2022-04-21 19:03] aramase commented on #2250
@CecileRobertMichon NMI is just a plain http server, that process incoming token requests. It uses adal to get a service principal/managed identity token. The token request is all during runtime of the workload, so we don't have a scenario where we need to reconcile to ensure desired state = actual state. This means no controller-runtime or `Reconcile()` loops in NMI.

The backoff @chewong is refe

[2022-04-21 19:10] #2141 closed

[2022-04-21 23:34] Jont828 opened #2255 "Fetch scripts for observability Helm charts don't work on Linux"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:** Running the scripts for fetching observability Helm charts results in a failure on Linux. For example, this script fails due to tar.

[code]

**Anything else you would like to add:** The issue is that the `tar`

[2022-04-22 00:20] CecileRobertMichon commented on #2250
@aramase is the scenario described above (response code 401) one of the ones where it should do exponential backoff? @kfox1111 is observing that it's not slowing down.

[2022-04-22 01:05] CecileRobertMichon commented on #2107
/assign
/remove-help

[2022-04-22 19:09] himanshuz2 opened #2257 "Error Initializing management cluster"
I followed these instructions in quick-start.html
https://cluster-api.sigs.k8s.io/user/quick-start.html

get error timed out waiting for the condition

command : sudo clusterctl init --infrastructure azure
output:
Fetching providers
Installing cert-manager Version="v1.5.3"
Waiting for cert-manager to be available...
Error: timed out waiting for the condition

When trying second time

command:  sud

[2022-04-22 19:19] CecileRobertMichon commented on #2242
@sonasingh46 thanks for picking this up.

Can we leverage Helm to install AzureDisk and AzureFile on the cluster similar to what we did in #2209 to install external cloud provider?

https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/charts#install-csi-driver-with-helm-3
https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/charts#install-csi-driver-with-helm-3

We sh

[2022-04-22 21:09] CecileRobertMichon commented on #2255
/help

[2022-04-25 10:30] sonasingh46 commented on #2242
@CecileRobertMichon -- Yes. I am planning to use helm like we did for external cloud provider.

[2022-04-26 11:02] damdo commented on #1852
I'm now in the process of putting together a design proposal for this.
I will update this issue once that's ready for discussion.
/remove-lifecycle stale

[2022-04-26 18:40] jsturtevant commented on #1867
/remove-lifecycle rotten

[2022-04-26 18:43] jsturtevant commented on #1867
we can use [packetmon](https://docs.microsoft.com/en-us/windows-server/networking/technologies/pktmon/pktmon) to validate the traffic is flowing through the correct nic by tracking packet counters on the  Mellanox nic that is added when acceleration is enabled.

[2022-04-27 22:37] bingbing8 opened #2265 "conformance_test.go exit code to 0 event the non last test suite has failures"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
./conformance_test.go

**What did you expect to happen:**
Normally there are 2 test suites (junit.e2e_suite.1.xml is the last) run. If the first one has fail

[2022-04-28 00:01] shysank commented on #1983
/close
closing this as this addressed by https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2007

[2022-04-28 00:01] #1983 closed

[2022-04-28 09:24] #1495 closed

[2022-04-28 11:46] zmalik opened #2266 "Add support for public ips features for nodepools in AKS"
/kind feature

**Describe the solution you'd like**
AKS allows creating nodepools, where each node has a public ExternalIP address. AKS also support using a fixed IP pool of public IPs for a nodepool.

CAPZ doesn't support currently those features. We can add support in `AzureManagedMachinePool` API to enable both of those features.

**Anything else you would like to add:**

**Environment:**

- cl

[2022-04-28 11:46] zmalik commented on #2266
/area managedclusters

[2022-04-28 13:02] invidian opened #2267 "Add support for consuming images from community galleries"
/kind feature

**Describe the solution you'd like**

Recently made available in [public preview community galleries](https://azure.microsoft.com/en-us/updates/communitygallerypreview/) feature for consuming the SIG images from SIGs in other tenants and subscriptions seem very useful for 3rd parties to publish their own images for public consumption, so there is no need to publish in the marketplac

[2022-04-28 20:03] #2250 closed

[2022-04-29 11:16] invidian commented on #2267
/assign

[2022-04-29 13:46] invidian commented on #2267
For the time being and for e2e coverage, I pushed the code to https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1729, though e2e are still failing, I'm investigating.

[2022-04-29 14:07] lzhecheng commented on #2019
/remove-lifecycle stale

[2022-04-29 19:18] kfox1111 opened #2269 "identity finalizer"
/kind bug

**What steps did you take and what happened:**
deleted the cluster by kubectl delete -f cluster.yaml

**What did you expect to happen:**

It to delete properly. It failed because the AzureClusterIdentity object was allowed to be deleted before it was no longer needed. It should probably get a finalizer if capz successfully creates any objects that need deleting.

[2022-05-02 14:31] invidian opened #2271 "LinuxBootstrapExtensionCommand fails with "line 1: return: can only return' from a function or sourced script""
/kind bug

**What steps did you take and what happened:**

Used v1.21 k8s image built using image-builder with v1.22 controlplane version, which made node provisioning failed, meaning `/run/cluster-api/bootstrap-success.complete` file was never created.

As a result, I got the following error:
`I0502 10:52:11.195577       1 recorder.go:103] events "msg"="Warning"  "message"="failed to reconcile Az

[2022-05-02 14:38] invidian opened #2272 "Improve output from failing bootstrap extension command"
/kind feature

**Describe the solution you'd like**

As mentioned in #2271, right now bootstrap extension command defined as https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/290195e7a391033b578a4e10567cec09d34b3c4c/azure/defaults.go#L106 does not produce any usable output to the user except the error about unexpected exit code. For user not familiar with CAPI, it might be difficu

[2022-05-02 14:49] invidian commented on #2271
/assign

[2022-05-02 18:34] mboersma opened #2275 "GPU tests are failing"
/kind bug

**What steps did you take and what happened:**:

[Testgrid jobs](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-e2e-full-main) for GPU began failing on April 28, probably relating to Nvidia updating their signing keys: https://developer.nvidia.com/blog/updating-the-cuda-linux-gpg-repository-key/

**What did you expect to happen:**

**Anything else

[2022-05-02 19:03] Jont828 commented on #2255
@CecileRobertMichon I could probably look into this. It looks like on both Linux and Mac I have the `bsdtar` command that works the way our script expects. What do you think about changing references to `tar` to `bsdtar`?

[2022-05-02 20:11] kfox1111 commented on #2202
+1. In some cases, your local cloud team may have provisioned your project just one subnet. It may be preferable to reuse that, rather then having to go back and ask for multiple.

[2022-05-02 20:50] CecileRobertMichon commented on #2255
Another option would be to add it to hack/tools so we don't make any assumptions about the local dev env. @mboersma wdyt?

[2022-05-02 20:55] mboersma commented on #2275
Fixed by #2276.

[2022-05-02 20:55] #2275 closed

[2022-05-02 22:04] mboersma commented on #2255
This `tar` command does use `-s` BSD magic, but not in a sophisticated way. AFAICT we are just renaming the destination (and ignoring "test" and "examples" directories, IIRC):

[code]

Maybe the script could be rewritten not to use any esoteric `tar` arguments so it would work with both BSD and GNU. 🌈

[2022-05-02 22:10] #2271 closed

[2022-05-03 07:09] invidian commented on #1238
Hmm, based on my recent development work, I still think the situation could be improved. Right now if one passes wrong credentials, for example with no access to subscription at all and tries to create a cluster, the cluster cannot even be removed, which is quite annoying as one have to remove the finalizers by hand to get rid of the objects.

[2022-05-03 07:54] invidian opened #2279 "Add codespell as part of CI"
/kind feature

**Describe the solution you'd like**

To avoid periodic PRs like #2278, I'd like https://github.com/codespell-project/codespell to run as part of CI process to ensure amount of typos added to the project is minimized.

**Anything else you would like to add:**

Example implementation could be done using GitHub Actions: https://github.com/falcosecurity/falco/pull/1962

[2022-05-03 07:54] invidian commented on #2279
/assign

[2022-05-03 20:01] CecileRobertMichon commented on #2272
AFAIK extensions can't return an error message, only an exit code. The way we surface errors to the user is via conditions and controller logs [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/services/vmextensions/vmextensions.go#L88). We could print an error log in the extension log itself but this would only be visible if the user logs into the VM and looks fo

[2022-05-03 21:11] invidian commented on #2272
As mentioned in #2271, here is what output looks like when node provisioning fails:
`I0502 10:52:11.195577       1 recorder.go:103] events "msg"="Warning"  "message"="failed to reconcile AzureMachine: failed to reconcile AzureMachine service vmextensions: extension state failed. This likely means the Kubernetes node bootstrapping process failed or timed out. Check VM boot diagnostics logs to learn

[2022-05-03 21:28] CecileRobertMichon commented on #2272
I stand corrected, I didn't realize the extension output included stdout and stderr.

+1 on printing the error in the output

[2022-05-04 20:19] dmeytin commented on #467
Any progress with two blockers above ?

[2022-05-04 20:55] jsturtevant commented on #1832
/remove-lifecycle stale

[2022-05-04 21:28] CecileRobertMichon commented on #467
@matmerr @tamilmani1989 any updates from the Azure CNI side? Blocker are listed [above](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/467#issuecomment-1039396096).

[2022-05-04 23:06] tamilmani1989 commented on #467
Couldn't add evan here.. he s working on installing cni via cns daemonset. Let me notify him

[2022-05-04 23:29] rbtr commented on #467
👋🏼
I'm working on an azcni installer that we can plug in to AKS BYO CNI, that will satisfy blocker #1

[2022-05-05 18:54] elmiko commented on #1279
@CecileRobertMichon happy to help out here if i can =)

/remove-lifecycle stale

[2022-05-05 20:38] jackfrancis commented on #1279
+1 myself as well, I've gathered enough scars in capz E2E land over the past several months that I definitely feel qualified to make quick progress on this

[2022-05-06 19:01] invidian opened #2286 "Return error when not all plan fields are populated in image.sharedGallery"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Conclusion from working on #2277. Right now code does the following while converting from `sharedGallery` image reference to Azure API call:
[code]

Meaning, if one specifies only one of `image.sharedGallery.publisher`, `image.sharedGallery.sku` or `image.sharedGallery.offer`, it gets

[2022-05-09 07:58] invidian opened #2287 "Add unit tests for kubebuilder validation annotations"
/kind feature

**Describe the solution you'd like**

Right now, the following code: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/c5b5f632207a9a9595728d544bbd6655dc5e4193/api/v1beta1/azureimage_validation.go#L100-L116 could be completely removed, as there are kubebuilder type annotations already which enforce those rules: https://github.com/kubernetes-sigs/cluster-api-provider

[2022-05-09 09:33] invidian opened #2289 "Enforce consistent import names across the module"
/kind feature

**Describe the solution you'd like**

Right now, packages are often imported using different name between the packages, which makes it more difficult to navigate and refactor the code base. Example:
[code]

Package `sigs.k8s.io/cluster-api-provider-azure/api/v1beta1` is imported 7 different ways, including craziness like `infrav1alpha4 "sigs.k8s.io/cluster-api-provider-azure/api/v1b

[2022-05-09 09:45] invidian opened #2290 "Add CI check for commit styling"
/kind feature

**Describe the solution you'd like**

To avoid commits with way too long titles like 6a9f5d91 or 52f8f9d0, perhaps CI could perform some basic commit validation.

[2022-05-09 16:07] himanshuz2 opened #2291 "Windows Flavor link is broken"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Click on the Chapter 1.25 windows support - CAPZ book and the link to Windows ContainerD flavor template
Link is broken

**https://capz.sigs.k8s.io/templates/cluster-template-machinepool-windows-containerd.yaml*

[2022-05-10 16:35] CecileRobertMichon commented on #2291
Thanks for reporting @himanshuz2

Link should be https://raw.githubusercontent.com/kubernetes-sigs/cluster-api-provider-azure/main/templates/cluster-template-windows-containerd.yaml

/good-first-issue

[2022-05-10 20:20] marosset commented on #1372
Ack - yes this is still an issue.

[2022-05-10 21:50] jsturtevant commented on #1860
/remove-lifecycle stale

[2022-05-10 22:21] sozercan commented on #519
/reopen

[2022-05-10 23:39] cnadolny opened #2293 "Can't connect to capz cluster using kubeconfig"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hi - I’m looking for some help with capz.
I’m running it on a Kubernetes cluster. I’m able to create a capz cluster with no errors.

This is what I’ve ran:

[2022-05-10 23:47] cnadolny commented on #2293
All pods and resources seem to be looking good/running:

Claudias-MBP:e2e cnadolny$ k get po -A
NAMESPACE                           NAME                                                             READY   STATUS    RESTARTS   AGE
capi-kubeadm-bootstrap-system       capi-kubeadm-bootstrap-controller-manager-5665b4f958-fr5l8       1/1     Running   0          80m
capi-kubeadm-control-plane-system

[2022-05-11 00:06] CecileRobertMichon commented on #2293
Hi @cnadolny 👋

Not sure what's wrong here... If the control plane is ready and initialized that means the apiserver should be reachable. Is it possible it has anything to do with your local environment? are you able to reach the public apiserver LB?

[2022-05-11 12:27] damdo commented on #1852
Here is the API design and behaviour proposal for adding Azure Ultra Disks support via Persistent Volumes to CAPZ.

As a note to this, the design choices behind this proposal and the reason why we are proposing an Enum field with string values rather than a boolean (or boolean pointer) has two roots:
1. The Kubernetes API conventions have a clear statement discouraging boolean fields:  https://git

[2022-05-11 16:41] alexeldeib commented on #2293
debugged this offline a bit -- seems we got a network manager policy which blocks internet traffic to 443 on public ips.

poking at some workarounds :)

[2022-05-11 18:27] dthorsen commented on #467
@rbtr @CecileRobertMichon I was just experimenting with the Azure CNI in a self-managed cluster and I used [this daemonset](https://github.com/Azure/azure-container-networking/blob/57d6d636a67812e6aac447f608f908cb6d624123/tools/acncli/deployment/manager.yaml). It seemed to work well, with the exception that I needed a separate network interface in a second subnet for pods, and of course ipconfigs

[2022-05-11 19:20] CecileRobertMichon commented on #467
I like the idea of making this generic, and not specific to Azure CNI. CAPZ should not know/care about CNIs. This might also help with #2150 down the road.

Can you please expand on that? are you saying the user would have to make sure the ipconfig number matches max pods or would capz somehow dynamically get that number from kubelet? That's been the biggest antipattern with this issue so curious

[2022-05-11 20:15] dthorsen commented on #467
Yes, I was considering manually making sure that I set the max pods the same as the ipconfig count. I mean, dynamic would be even better, but if I understand the current contract situation correctly, that seems impossible without modification of the contract. I imagine that will be more complex and have more lead time, so I was just looking to try a simple workaround by statically configuring the

[2022-05-11 20:28] CecileRobertMichon commented on #467
Agreed. I think we would need the [2nd bullet point above](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/467#issuecomment-1039396096) in order to make it dynamic

[2022-05-11 21:30] jsturtevant commented on #1176
/remove-lifecycle stale

[2022-05-11 22:04] shysank commented on #1532
/remove-lifecycle stale

[2022-05-12 09:52] JoelSpeed commented on #1852
In a previous discussion I mentioned the fact that the behaviour described in the second point I've quoted above should be behind a user facing option. The way I was looking at this, the UltraSSDCapability does indeed have 4 states already:
- `""`: User hasn't set anything and therefore we shouldn't do anything, in case enabling the capability limits other features
- `Enabled`: User has asked us t

[2022-05-12 15:59] invidian opened #2294 "Consider offering reference images in Community Gallery"
/kind feature

**Describe the solution you'd like**

With [community galleries support](#2267) coming, perhaps CAPZ could offer a Community Gallery with reference images in addition to or as a replacement for existing Marketplace offerings, as generally publishing to SIG is much simpler than to Marketplace and can be fully automated.

**Anything else you would like to add:**

To make this viable,

[2022-05-12 17:24] CecileRobertMichon opened #2295 "Document the new release cadence and support policy"
1. What release cadence should we adopt going forward? CAPI is [discussing formalizing a release cadence](https://github.com/kubernetes-sigs/cluster-api/issues/6442). Current proposal from discussion is to not follow CAPI release cadence but to define our own CAPZ release cadence for minor (feature) releases of either 1 minor release every month or every 2 months
2. How many minor release branches

[2022-05-12 17:36] mboersma opened #2296 "Switch to gen2 reference images"
/kind feature

**Describe the solution you'd like**

The CAPZ reference images use Azure [generation 2 VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2) by default.
- When I follow the quick start, I end up with a cluster running on gen2 VMs.
- Reference images for future Kubernetes releases are only published in gen2 versions.

**Describe alternatives you've considered**

[2022-05-12 19:55] jsturtevant commented on #1782
/remove-lifecycle stale

[2022-05-12 19:55] jsturtevant commented on #1862
/remove-lifecycle stale

[2022-05-13 02:10] lzhecheng opened #2299 "Support customized templates outside CAPZ repo in ci-entrypoint.sh"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`ci-entrypoint.sh` should support that a user can choose a customized template outside CAPZ repo by setting an environment variable to a URL. In this way, CAPZ can be better used to create different kinds of CI clusters.

Now we have `CLUSTER_TEMPLATE` but it seems to be limited to tem

[2022-05-13 02:15] lzhecheng commented on #2299
/assign

[2022-05-13 06:05] #1814 closed

[2022-05-13 15:12] jsturtevant commented on #1814
This was resolved for ci templates with https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2012

[2022-05-13 22:07] #2164 closed

[2022-05-14 15:00] mboersma commented on #2289
We are already using `importas` to enforce the same import aliases that CAPI does, but I think we should feel free to expand the [list of aliases](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/.golangci.yml#L58-L74) for better local consistency.

[2022-05-14 21:16] #1692 closed

[2022-05-15 15:22] invidian commented on #2287
NOTE: To avoid making default developer experience more complex, webhook tests can be put behind a build tag like `integration`, so they are not run by default, but can always be run on CI for example.

[2022-05-16 17:35] jackfrancis commented on #2063
@jsturtevant I'm not sure I understand the need for this, but I think I have an idea how we might do this. Do we still want to make this change to E2E tests that run in capz CI?

[2022-05-16 18:05] jsturtevant commented on #2063
The reason for this is that we were able to create a cluster that past our CI but wasn't functional.  The Calico DS was deployed and was `Running`, but the pods were not `READY` (health check was failing).  This allowed our tests to pass which didn't exercise this network path.  We should make sure all pods in the system namespace (assumption is they are required for a fully functional cluster) ar

[2022-05-16 18:44] #2299 closed

[2022-05-16 19:35] jackfrancis commented on #2063
Got it.

I think for calico, once we implement a helm chart to install, we can add calico-specific validations into that flow (like we currently do for cloud-provider-azure to ensure cloud-controller-manager and cloud-node-manager pods).

If we want to do a global kube-system pods validation, we can create a standard set of `ControlPlaneWaiters` that all of our tests use so that we can wrap our va

[2022-05-16 20:33] #1937 closed

[2022-05-17 13:05] nader-ziada commented on #1003
/unassign

[2022-05-17 16:21] jsturtevant commented on #1192
/remove-lifecycle rotten

[2022-05-17 16:21] jsturtevant commented on #1192
/remove-lifecycle stale

[2022-05-18 09:46] priyal13m commented on #2291
/assign

[2022-05-18 23:04] #2255 closed

[2022-05-18 23:53] lzhecheng commented on #2171
Yes, it is done by https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2198

[2022-05-19 13:27] ionutbalutoiu opened #2314 "Container image cluster-api-azure-controller:v1.3.1 is not available"
/kind bug

Container image `cluster-api-azure-controller` for release `v1.3.1` is not available.

**What steps did you take and what happened:**

[code]

Inspecting the `capz-system` pods, I noticed:
[code]

and describing the errored pod:

[code]

**What did you expect to happen:**

Container iamge `us.gcr.io/k8s-artifacts-prod/cluster-api-azure/cluster-api-azure-controller:v1.3.1` should be avai

[2022-05-19 13:28] ionutbalutoiu commented on #2314
/cc: @jsturtevant

[2022-05-19 17:32] jsturtevant commented on #2314
We missed the publishing of the image, @mboersma updated it this morning: https://github.com/kubernetes/k8s.io/pull/3745

[2022-05-19 17:32] ionutbalutoiu commented on #2314
It seems that the image is available now.

It caused the above issue, because it was not available with the release of `v1.3.0`.

[2022-05-19 17:32] #2314 closed

[2022-05-19 18:12] jsturtevant commented on #1876
this still occurs in our e2e tests that create multiple clusters
/remove-lifecycle stale

[2022-05-19 18:21] jsturtevant opened #2315 "Review e2e logic for selecting templates on Windows after dockershim templates are removed"
Prior to this we needed different templates for windows and so we tacked windows to the end: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/30bfbb55d43f10343c634a3f90396ff206444021/test/e2e/conformance_test.go#L125-L127

After this merged we might not need this logic anymore as we can re-use the same templates.  I will create an issue to follow up on this after this merges

_Or

[2022-05-19 18:25] jsturtevant commented on #2315
should also review naming: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2292#discussion_r877360744

[2022-05-19 18:33] jsturtevant commented on #2315
/sig windows

[2022-05-20 09:38] desek opened #2319 "Add AzureMachine condition when userAssignedIdentity is missing from the VM"
/kind bug

**What steps did you take and what happened:**

Deployed an `AzureMachine` via `AzureMachineTemplate` with:

[code]

On deployment the pre-created user-assigned identity gets attached to the VM's.
When removing the attachment the managed identity doesn't automatically get re-attached.

**What did you expect to happen:**

The `capz-controller` should reconcile the desired state by re-att

[2022-05-20 17:31] #2291 closed

[2022-05-20 17:36] CecileRobertMichon commented on #2319
@desek this is expected. CAPI considers Machine infrastructure as immutable by design, and CAPZ adheres to that design principle. This means that after a VM is created in Azure, it's never updated. Since user assigned identities are reconciled as part of the VM PUT, once the VM exist the identities won't be reconciled. The workaround right now would be to trigger a VM replacement by deleting the C

[2022-05-20 21:10] CecileRobertMichon commented on #2295
We should also document what our criteria for backports is, including bug fixes and security patches, as well as evolving tests. We might want to consider limiting test evolution to the last release since that's what we're doing in practice currently. @jackfrancis @mboersma thoughts?

[2022-05-20 21:23] jackfrancis commented on #2295
I agree.

1. We should probably as a rule "require" test changes/fixes/evolutions to be cherry-picked into the last release branch, so that we minimize friction for any critical test fix
2. Officially document "test maintenance" as an allowable changeset for a cherry-pick (in addition to bug fixes and security patches)

[2022-05-23 11:31] desek commented on #2319
@CecileRobertMichon long shot here.. but the underlying Azure resources for AzureMachines are not immutable which I would consider a high risk of having the Azure resource in a non-functional state that doesn't get automatically remediated.

From my point of view it would be better if the reconcile loop would check if the AzureMachine is in the desired state and replace it if it's not in the desir

[2022-05-23 12:50] vrlo commented on #1954
/remove-lifecycle stale

[2022-05-23 16:24] CecileRobertMichon commented on #2319
We can't replace the underlying AzureMachine for a Machine since those are created by the CAPI reconcilers. In order to replace the VM, the Machine itself needs to be replaced (otherwise if the AzureMachine changes it becomes mutable infra). What we could do though is check the user assigned identities in the VM during CAPZ reconcile and then mark the AzureMachine with Condition that indicates it'

[2022-05-23 16:29] desek commented on #2319
MHC support would get the job done!

[2022-05-23 16:35] CecileRobertMichon commented on #2319
Ok great, let's make this issue:

/retitle Add AzureMachine condition when userAssignedIdentity is missing from the VM

Then later we can consider if there are any other use cases where something is changed out of band on the VM that should trigger a NotReady status.

/help

[2022-05-23 22:05] Jont828 opened #2326 "Show diff when spec and scope unit tests fail"
/kind feature

**Describe the solution you'd like**
In the unit tests for scope functions, i.e. cluster_test.go, machine_test.go, and unit tests for the spec in async services, i.e. virtualmachines/spec_test.go, we try to match a generated struct with our expected values. When the values don't match, we produce an error message outputting both the expected and computed values like this.

[code]

H

[2022-05-24 15:54] dthorsen opened #2327 "Support configurable Network Interfaces"
/kind feature

**Describe the solution you'd like**
* Ability to configure the number of Network Interfaces to created and attached to a new VM upon AzureMachine creation / AzureMachinePool scale up
* Ability to configure multiple IPConfigurations on a Network Interface of an AzureMachine / AzureMachinePool
* Ability to attach a pre-existing Network Interface to a new AzureMachine

**Anything else

[2022-05-24 15:59] dthorsen commented on #2327
@brianlieberman

/assign

[2022-05-25 01:17] lzhecheng opened #2328 "Support autoscaling on self-managed MachinePool using MachinePool Machines"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Now autoscaling is supported only for managed clusters (aks). And regular clusters should be supported as well.
Issue for managed one: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1669

I am add autoscaling CI for cloud-provider-azure with CAPZ.
The original job

[2022-05-25 18:47] himanshuz2 opened #2329 "Document or add feature to Install csi proxy on windows node with hybrid linux-windows workload cluster"
/kind feature

**Describe the solution you'd like**
If csi proxy can be installed when setting up a workload cluster document how to
or add feature to Install csi proxy on windows node with hybrid linux-windows workload cluster at the time of creating it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-pr

[2022-05-25 19:54] shysank opened #2330 "Generate shorter Public IP Names"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
When creating clusters using clusterclass, there is a chance that public ip names exceed the character limit set by Azure. Although this issue is not specific to cluster class, this is exacerbated by cc since it

[2022-05-25 21:27] Jont828 opened #2331 "Add condition status to role assignments"
/kind feature

**Describe the solution you'd like**
Currently we have a `RoleAssignmentReadyCondition` that is not being set in the role assignment service. We can set it in the service using an `UpdatePutStatus()`. Once that's set up, we can also add the `RoleAssignmentReadyCondition` as an owned condition in AzureMachinePools as well.

**Environment:**

- cluster-api-provider-azure version:
- Ku

[2022-05-25 22:59] BDworak opened #2332 "Azure load balancer ignores KubeadmControlPlanelocalAPIEndpoint bindPort configuration"
/kind bug

**What steps did you take and what happened:**
When deploying a Capi cluster, the KubeadmControlPlane CRD supports changing the apiserver port by setting the bindPort under the localAPIEndpoint. This will modify the apiserver deployment and make it run on the port defined in the bindPort: field.

[code]

When spinning up an Azure Cluster, with load balancer type ``Internal``, the load b

[2022-05-26 04:18] lzhecheng opened #2333 "Support KUBERNETES_VERSION without "v" for Windows"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`KUBERNETES_VERSION` supports both versions like "1.21.5" and "v1.21.5" for Linux clusters. However, I found that if I set it without "v", Windows kube-proxy

[2022-05-27 03:04] lzhecheng opened #2336 "Possibly incorrect WORKER_MACHINE_COUNT for multiple vmss/vmas templates"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am using `ci-entrypoint.sh` with
1) an external multiple (2) vmss template for CI
2) using `WORKER_MACHINE_COUNT` for each MachinePool in the template
3) n

[2022-05-27 03:05] lzhecheng commented on #2336
@CecileRobertMichon @jackfrancis could you please share your ideas on this. Thank you.

[2022-05-27 19:47] jsturtevant opened #2338 "API server gets stuck in pending during deployment when used in pre-submit"
/kind bug
/kind failing-test

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Control plane pods get stuck: https://github.com/kubernetes/kubernetes/pull/110235#issuecomment-1139912269

[code]

**What did you expect

[2022-05-27 22:54] CecileRobertMichon commented on #2333
CAPI actually requires all Kubernetes version to have the "v" prefix to match kube semver format. The mutating webhooks default the version fields in the CRDs to add the "v" prefix if it's missing, eg. https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/machine_webhook.go#L64, so that's why you don't notice it failing if you don't add it yourself.

Since the version variable is be

[2022-05-27 23:02] CecileRobertMichon commented on #2336
`WorkerMachineCount` is actually coming directly from the Cluster API test framework: https://github.com/kubernetes-sigs/cluster-api/blob/e03faf0282d7a16199004e763228dc2b3b5600ef/test/framework/clusterctl/client.go#L181

we might need to discuss this in the CAPI repo if it needs any modifications to the framework. Alternatively, we could do 1) and use `WorkerMachineCount` as the total, but then we

[2022-05-30 11:30] damdo commented on #1852
@CecileRobertMichon thanks a lot for your feedback on this.

I agree and think it's a good idea to have an "AdditionalCapabilities" struct field to collect and support future additional capabilities.

Seems like we are using strings to implement a boolean here.

The initial reasoning behind proposing it as a multi-state Enum is basically what @JoelSpeed said. To capture "automatic" behaviour of en

[2022-05-30 13:30] lzhecheng commented on #2336
Yes, I agree 1) is a better one.

[2022-05-30 14:30] lzhecheng opened #2341 "`ci-entrypoint.sh` creates Windows clusters without calico installed on Windows Nodes"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I created a Windows cluster but found that network is not ready on Windows Nodes. Calico Pods are running on Linux Nodes but not on Windows ones. There's onl

[2022-05-30 14:34] lzhecheng commented on #2341
@CecileRobertMichon

[2022-05-31 14:55] himanshuz2 opened #2343 "Windows Scale Set created with 0 instances and when scaled instances stuck in Creating(Running) mode then deleted"
/kind bug

**What steps did you take and what happened:**
Created cluster with this command
clusterctl generate cluster my-cluster-1 --kubernetes-version v1.23.6     --flavor machinepool-windows-containerd > my-cluster-1.yaml

kubectl apply -f my-cluster-1.yaml

The section for Windows in the above looks like this

apiVersion: cluster.x-k8s.io/v1beta1
kind: MachinePool
metadata:
  name: my-cluster

[2022-05-31 16:01] himanshuz2 commented on #2341
I have the same issue.
root@CAPZ-Management:/home/bmadministrator/.kube# kubectl --kubeconfig=./my-cluster-1.kubeconfig describe node win-p-win000000
Name:               win-p-win000000
Roles:              <none>
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/instance-type=Standard_D2s_v3
                    beta.kubernetes.io/os=windows

[2022-05-31 17:52] CecileRobertMichon commented on #1899
/remove-lifecycle stale

[2022-05-31 18:11] himanshuz2 commented on #2329
I found it.  https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/main/templates/addons/windows/csi-proxy

[2022-05-31 18:18] himanshuz2 opened #2344 "wrong image in kube-proxy-windows.yaml"
/kind bug
Yaml file at https://raw.githubusercontent.com/kubernetes-sigs/cluster-api-provider-azure/main/templates/addons/windows/calico/kube-proxy-windows.yaml is wrong.

The following image doesn't exist with any KUBERNETES_VERSION at this dockerhub . https://hub.docker.com/r/sigwindowstools/kube-proxy/tags

Image doesn't exist
sigwindowstools/kube-proxy:${KUBERNETES_VERSION/+/_}-calico-hostproc

[2022-05-31 18:34] jackfrancis commented on #2341
How is calico being installed? If it's being installed via `ClusterResourceSet`s then a Windows-specific `ClusterResourceSet` must be present on the mgmt cluster, and it must have the Windows-specific calico stuff defined in it.

cc @marosset @jsturtevant

[2022-05-31 18:37] jackfrancis commented on #2344
@himanshuz2 the string `sigwindowstools/kube-proxy:${KUBERNETES_VERSION/+/_}-calico-hostprocess` is meant to be interpreted by `envsubst`, with the `$KUBERNETES_VERSION` environment variable set to a valid Kubernetes version that exists in the upstream k/k CI container registry.

cc @marosset @jsturtevant

[2022-05-31 18:47] himanshuz2 commented on #2344
Can you please check all the tags on [sigwindowstools/kube-proxy?  ](https://hub.docker.com/r/sigwindowstools/kube-proxy/tags)

There is no such tag ending in -calico-hostprocess.  The tages there are ending with the name of the windows OS version such as nanoserver etc.

[2022-05-31 18:52] marosset commented on #2344
- https://hub.docker.com/layers/kube-proxy/sigwindowstools/kube-proxy/v1.24.0-calico-hostprocess/images/sha256-20b5356dd7454e8343db69f03ebbe816d34c166591d2fe27f47d312fc0a1b975?context=explore
- https://hub.docker.com/layers/kube-proxy/sigwindowstools/kube-proxy/v1.23.6-calico-hostprocess/images/sha256-4f18357f76cd3ddeb62b8994a608ff9808b613a31d8e0b4c9b5dc16249c32076?context=explore
- https://hub.do

[2022-05-31 18:56] himanshuz2 commented on #2341
Thank you.  I figured out that.  The documentation at https://cluster-api.sigs.k8s.io/user/quick-start.html needs to be updated to reflect this.
I used this flavor

clusterctl generate cluster my-cluster-1 --kubernetes-version v1.23.6     --flavor machinepool-windows-containerd > my-cluster-1.yaml

https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/main/templates/flavors/machinepoo

[2022-05-31 19:00] himanshuz2 commented on #2341
Or clusterctl init for azure should create the ClusterResourceSet?  In short the quickstart and the book is not updated for the use case where someone wants to create a cluster with windows nodepool in it.

[2022-06-01 00:19] lzhecheng commented on #2341
ci-entrypoint.sh is using `templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml` for windows right? It seems the 2 components you mentioned are already included. @marosset

[2022-06-02 00:37] lzhecheng opened #2347 "Multiple VMSS cluster scaling problem"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am using an external cluster template to create a multiple vmss cluster.
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/022c69eabd040cfdae446

[2022-06-02 15:21] #2344 closed

[2022-06-02 15:37] CecileRobertMichon commented on #2341
1. @himanshuz2 for the quickstart specifically, we give instructions to apply https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/addons/calico.yaml which doesn't contain the windows daemonset. We could update the instructions to also apply the Windows-specific stuff from https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/release-1.3/templates/addons/w

[2022-06-02 16:14] jsturtevant commented on #2341
We can use the calico CNI images.  Its on my list to test out.  We are more hesitant on the kube-proxy image they ship and sig-windows is considering building an official sig-windows kube-proxy image.

[2022-06-02 16:17] jackfrancis commented on #2347
/assign

[2022-06-02 18:05] CecileRobertMichon commented on #2338
is there a link to a repro where this happened? Anything interesting happening in logs?

[2022-06-02 18:51] jsturtevant commented on #2338
Nothing interesting in the logs that I could find.  I am working if it is related to tainting the nodes and the image being pulled/scheduled afterwards due to it being built as part of PR process.  Some type of timing issues with nodes coming ready and images starting up.

It happened twice on https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=110235

logs:
https://prow.k8s.io/view/

[2022-06-02 19:10] CecileRobertMichon commented on #2327
@dthorsen @brianlieberman are you currently working on this? @jikuma and @bridgetkromhout are interested in this feature as well for Azure CNI

[2022-06-02 20:43] himanshuz2 opened #2349 "cloud-node-manager-windows in Crashloopbackoff"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Deployed the Azure Cloud Provider
helm install --repo https://raw.githubusercontent.com/kubernetes-sigs/cloud-provider-azure/master/helm/repo cloud-provider-azure --generate-name --set infra.clusterName=${CLUSTE

[2022-06-02 20:51] himanshuz2 commented on #2349
https://github.com/kubernetes-sigs/cloud-provider-azure/issues/1807

[2022-06-02 21:06] CecileRobertMichon commented on #1849
/remove-lifecycle stale
/unassign @Darshnadas

Please feel free to reassign if you pick this up again

[2022-06-02 21:07] CecileRobertMichon commented on #1990
/remove-lifecycle stale
/unassign @Darshnadas

Please feel free to reassign if you pick this up again

[2022-06-02 21:08] CecileRobertMichon commented on #2051
/remove-lifecycle stale
/unassign @meghanajangi

Please feel free to reassign if you pick this up again

[2022-06-02 21:09] CecileRobertMichon commented on #2207
/unassign @meghanajangi

Please feel free to reassign if you pick this up again

[2022-06-02 23:56] jsturtevant opened #2351 "Conformance CI job image replacement is failing after switching from k8s.gcr.io to registry.k8s.io"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

After switching from k8s.gcr.io to registry.k8s.io (see https://github.com/kubernetes/kubernetes/pull/109938 for details), the CI jobs are outputting the fo

[2022-06-03 01:33] lzhecheng commented on #2341
@CecileRobertMichon I didn't test with other templates. Here is the job running in testgrid that fails because of windows node not ready. You may refer to this.
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml#L660
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/cloud-provider-azure-conformance-windows-capz/1

[2022-06-03 15:56] CecileRobertMichon commented on #2315
can also remove image selection logic for dockershim: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2302/files#r884006531