[2022-06-06 13:00] josh-ferrell opened #2354 "Tag CAPZ managed resources uniformly"
/kind feature

**Describe the solution you'd like**
Tag CAPZ managed resources such as NSGs, route tables and NAT gateways using the same method currently used on virtual networks or load balancers i.e. sigs.k8s.io_cluster-api-provider-azure_cluster__clustername_ "owned"

**Anything else you would like to add:**
N/A

[2022-06-07 07:11] lzhecheng opened #2359 "Add a CI job: ci-entrypoint.sh with latest-xxx as KUBERNETES_VERSION"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently, there's a CI job for ci-entrypoint:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml#L466
I think we should have another CI job to verify `latest-xxx` as `KUBERNETES_VE

[2022-06-07 13:59] geetikabatra commented on #1990
/assign

[2022-06-07 14:12] geetikabatra commented on #1990
/unassign @geetikabatra

[2022-06-07 23:40] jsturtevant commented on #1314
@jackfrancis is this still relevant?

[2022-06-07 23:47] jackfrancis commented on #1314
I believe all of the tasks described in the original issue have been addressed. Are we comfortable with the amount of documentation around these custom build scenarios @CecileRobertMichon?

[2022-06-08 16:29] jackfrancis commented on #2338
Are the Pending pods scheduled onto Windows nodes (where they aren't able to run)?

[2022-06-08 16:58] josh-ferrell opened #2367 "Tag managed NSGs as owned"
/kind feature

**Describe the solution you'd like**
Tag managed NSGs as owned i.e. sigs.k8s.io_cluster-api-provider-azure_cluster__clustername_ "owned"

**Anything else you would like to add:**
Child of #2354

[2022-06-08 16:58] josh-ferrell opened #2368 "Tag managed route tables as owned"
/kind feature

**Describe the solution you'd like**
Tag managed route tables as owned i.e. sigs.k8s.io_cluster-api-provider-azure_cluster__clustername_ "owned"

**Anything else you would like to add:**
Child of #2354

[2022-06-08 16:59] josh-ferrell opened #2369 "Tag managed NAT gateways as owned"
/kind feature

**Describe the solution you'd like**
Tag managed NAT gateways as owned i.e. sigs.k8s.io_cluster-api-provider-azure_cluster__clustername_ "owned"

**Anything else you would like to add:**
Child of #2354

[2022-06-08 17:03] jsturtevant commented on #2338
No, they are scheduled the control-plane node:

[code]

[2022-06-08 20:46] jackfrancis commented on #1314
Closing this larger issue that (IMO) succesfully marshalled our efforts towards improving the "custom builds" stories overall.

Going forward, we can improve/maintain these related requirements with more targeted issues + workstreams.

Thanks to all who contributed to this! cc @marosset @lzhecheng

[2022-06-08 20:46] #1314 closed

[2022-06-08 21:38] CecileRobertMichon commented on #2369
/good-first-issue

[2022-06-08 21:39] CecileRobertMichon commented on #2368
/good-first-issue

[2022-06-08 21:39] CecileRobertMichon commented on #2367
/good-first-issue

[2022-06-09 12:54] josh-ferrell commented on #2368
/assign

[2022-06-09 14:51] josh-ferrell commented on #2367
/assign

[2022-06-09 15:35] CecileRobertMichon commented on #999
/milestone next

[2022-06-09 20:08] evanfreed commented on #1990
/assign

[2022-06-10 04:25] lmcdasm opened #2375 "Azure cncf-upstream:capi missing PlatformImage (Quick Start issue)"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Following the Quick Start Guide - Using Azure Provider steps and documentation.

After generating the workload cluster configuration (workload-cluster-3 in this case), i was able to do the "kubectl apply -f work

[2022-06-12 19:56] #1961 closed

[2022-06-12 23:56] #1960 closed

[2022-06-13 02:03] lzhecheng opened #2378 "Cluster creation failure with multiple control plane nodes, latest as KUBERNETES_VERSION"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
A CI job is creating a capz cluster with 3 control plane nodes, latest as KUBERNETES_VERSION. However, only 1 control plane node is created.

Job config:
htt

[2022-06-13 11:52] josh-ferrell opened #2380 "Modify RouteTable IsManaged function to use tag"
/kind feature

**Describe the solution you'd like**
Modify RouteTable IsManaged function to utilize "owned" tag

**Anything else you would like to add:**
Dependent on #2368 being closed.

[2022-06-13 11:54] josh-ferrell opened #2381 "Modify NSG IsManaged function to use tag"
/kind feature

**Describe the solution you'd like**
Modify NSG IsManaged function to utilize "owned" tag

**Anything else you would like to add:**
Dependent on #2367 being closed.

[2022-06-13 11:56] josh-ferrell opened #2382 "Modify NGW IsManaged function to use tag"
/kind feature

**Describe the solution you'd like**
Modify NGW IsManaged function to utilize "owned" tag

**Anything else you would like to add:**
Dependent on #2369 being closed.

[2022-06-13 15:13] CecileRobertMichon commented on #2207
/assign @Prajyot-Parab

[2022-06-13 18:54] #2207 closed

[2022-06-13 22:02] CecileRobertMichon commented on #2381
@josh-ferrell could you expand a bit on the motivation here? Is it purely code cleanup? Is it to allow BYO NSG without bringing a vnet?

Things to watch out for will be
1) How will we know to create the NSG in the first place? for vnets we just create the vnet if it doesn't exist, it never gets updated. For NSGs it's a little different because we update NSGs when updates are needed (eg. a rule is

[2022-06-13 22:42] #1372 closed

[2022-06-13 22:42] #2368 closed

[2022-06-14 16:18] CecileRobertMichon commented on #2375
/assign @mboersma

Hi @lmcdasm, the latest batch of images were named differently in the cncf-upstream offer which required #2302 to be able to use the latest versions released (v1.24.1, v1.24.0, v1.23.7, v1.22.10, v1.21.13).

In the meantime, you can use an older Kubernetes version as a workaround (such as `v1.23.6`).

v1.3.2 will be released today which will fix the issue and make the quickstart

[2022-06-14 16:50] nawazkh commented on #1849
/assign

[2022-06-14 18:43] #2351 closed

[2022-06-14 18:51] lmcdasm commented on #2375
Hello  Cecile.

Thanks for taking the time to answer my question.  You're right to point
out that node pool is not a workload cluster, and my apologies it was a
poor description on my side.   From going through the quickstart and
picking docs, what I was perhaps alluding to (or expecting) was that (and I
believe this is the link you have provided - will check it out tonight for
sure - thx!) if I h

[2022-06-14 18:52] lmcdasm commented on #2375
Hello Cecile.

Thanks for the tip/info!

Cheers,
Daniel

On Tue, Jun 14, 2022 at 12:19 PM Cecile Robert-Michon <
***@***.***> wrote:

[2022-06-14 19:45] CecileRobertMichon commented on #2375
/close

[2022-06-14 19:45] #2375 closed

[2022-06-14 22:09] nadiia-dubchak commented on #1482
Hello @abhishek-jnpr I seem to be having the same problem as you did. Could you please clarify how exactly you were able to "provide required NAT permission to IAM role"? I'm not sure what you mean by this, thank you!

[2022-06-14 23:18] Jont828 commented on #1685
/remove-lifecycle stale

[2022-06-14 23:52] Jont828 commented on #1975
/remove lifecycle-rotten

[2022-06-15 00:24] lmcdasm commented on #2375
@CecileRobertMichon

Hey there.

Confirmed that i was able to roll out 1.24.0 Azure IaaS based Clusters and was able to finish my deployment.

Thanks again!
Daniel

[2022-06-15 05:33] lzhecheng opened #2385 "Panic when collecting boot logs for AzureMachine"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When "Collecting boot logs for AzureMachine", invalid memory address error happens.

[code]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/bl

[2022-06-15 05:38] lzhecheng commented on #2385
@CecileRobertMichon

[2022-06-15 13:35] CecileRobertMichon commented on #1685
I have not been able to work on this one. Will unassign for now in case you or someone else wants to pick it up.

/unassign
/help

[2022-06-15 14:15] CecileRobertMichon commented on #2107
this was fixed in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2258

/close

[2022-06-15 14:15] #2107 closed

[2022-06-15 14:37] CecileRobertMichon commented on #2385
@lzhecheng I checked why that particular cluster failed to create and this was the error in logs:

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cloud-provider-azure/1841/pull-cloud-provider-azure-e2e-ccm-capz/1536926584823353344/artifacts/clusters/bootstrap/controllers/capz-controller-manager/capz-controller-manager-7cc7dcf8f9-96mm9/manager.log

[2022-06-15 22:56] lzhecheng commented on #2385
Got it. Thank you for root causing the issue so quickly!

[2022-06-15 22:57] lzhecheng commented on #2385
Got it. Thank you for root causing the issue so quickly!

[2022-06-15 23:02] lzhecheng commented on #2385
@CecileRobertMichon is "Cannot create more than 100 public IP addresses for this subscription in this region" a new quota limit for CI subscription? I never saw it before.

[2022-06-16 09:11] lzhecheng opened #2389 "Network unavailable on Node after a cluster is created"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
It is a VMSS cluster running some e2e tests. Somehow, after a cluster is created, networking on cluster Nodes are not working properly: `3 node(s) had untole

[2022-06-16 09:25] lzhecheng commented on #2389
@CecileRobertMichon PTAL. Thank you!

[2022-06-16 14:21] CecileRobertMichon commented on #2295
How about this: cherry-pick user-facing bug fixes to the latest two minor release branches, and the test improvements that have no user-facing changes to the latest release branch only (except for broken tests that need to be fixed on all release branches that are still active).

[2022-06-16 14:51] CecileRobertMichon commented on #2295
/cc @bridgetkromhout

[2022-06-16 15:32] CecileRobertMichon opened #2391 "TestAzureMachinePool_Validate is flaky"
Unit tests should be deterministic.

Example of failure:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/2387/pull-cluster-api-provider-azure-test/1537213155409661952

[2022-06-16 15:32] CecileRobertMichon commented on #2391
/help

[2022-06-16 15:34] CecileRobertMichon commented on #2389
@lzhecheng is this happening consistently or was it a flake?

cc @Jont828

[2022-06-16 15:55] lzhecheng commented on #2389
@CecileRobertMichon Recently all pr-cloud-provider-azure-e2e-ccm-vmss-capz tests are failing for some reason.
https://testgrid.k8s.io/provider-azure-cloud-provider-azure#pr-cloud-provider-azure-e2e-ccm-vmss-capz

I used a PR to dump Pod describe info and that's the one I showed above.
https://github.com/kubernetes-sigs/cloud-provider-azure/pull/1847#issuecomment-1157631101

I am not sure if my hel

[2022-06-16 16:14] #2267 closed

[2022-06-16 22:32] mboersma commented on #2391
How to reproduce:

[code]

[2022-06-16 22:33] mboersma commented on #2391
One workaround is to remove t.Parallel() from that test. But I'll try to figure out a better way.

[2022-06-16 22:53] mboersma commented on #2391
/assign

[2022-06-16 23:10] mboersma commented on #2391
/help cancel

[2022-06-17 00:00] Jont828 commented on #2389
It looks like in those tests for today we don't have any cluster artifacts in the artifacts folder, i.e. capz-controller-manager logs. For the dump pod PR, the [artifacts](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cloud-provider-azure/1847/pull-cloud-provider-azure-e2e-ccm-vmss-capz/1537339985768747008/) it looks like it's failing before we've got the controller man

[2022-06-17 01:23] lzhecheng commented on #2389
@Jont828 I think the reason for no artifacts is that the whole execution time exceeded the timeout limit.
My PR just dumps pod describe info for debugging purpose.

[2022-06-17 13:46] jackfrancis commented on #2378
I can repro. Looking through `/var/log/cloud-init-output.log` it appear this may be a problem:

[code]

[2022-06-17 14:12] jackfrancis commented on #2378
@lzhecheng If you update your custom template with the changes in this PR I bet you will be unblocked:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2398

[2022-06-17 14:30] jackfrancis commented on #2378
@CecileRobertMichon is it possible that @lzhecheng needs to simply update his external cluster template to remove the `ctr images import` and `ctr images tag` statements that we did here?

https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2356/files#diff-700ec6a406a8b0fe0d9fc91447d53d69822076ace028e6dcaecc3f60a5b4bc58L52

[2022-06-17 17:22] CecileRobertMichon commented on #2378
Just updating this thread: @jackfrancis and others are investigating, this seems to be an issue with how kubeadm gets the k8s version on the control plane. Removing the statements above won't fix the issue. Stay tuned, looking for a fix.

[2022-06-17 18:19] CecileRobertMichon commented on #2378
Slack thread here: https://kubernetes.slack.com/archives/CEX9HENG7/p1655475223796599

[2022-06-18 15:25] sayantani11 commented on #1365
/assign

[2022-06-20 02:02] lzhecheng commented on #2378
@jackfrancis thank you for effort to investigate! Besides, can we have a CAPZ CI job to verify multiple control-plane-node situation?

[2022-06-20 09:16] jackfrancis commented on #1482
@nadiia-dubchak After reading the comments it seems like he updated the IAM configuration (added new role assignment(s)) to the service principal or user|machine-assigned identity his management cluster is using to build Azure infra. For example, the easiest way would be to give your service principal or identity "Contributor" access to the subscription that your cluster is runnning on (though tho

[2022-06-20 09:48] jackfrancis commented on #2179
/remove-lifecycle stale

In progress: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2334

[2022-06-20 11:54] damdo commented on #1852
@JoelSpeed

Yeah I think the `Auto` vs. `""` and what default mean here could be a good discussion point.

Let's see what @CecileRobertMichon thinks :)

[2022-06-20 12:19] JoelSpeed opened #2401 "Enable configuration and disabling of boot diagnostics"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, as per the implementation from #901, boot diagnostics are enabled by default and use an Azure managed storage account. This storage account limits the boot logs to 1Gb per machine and has a cost of $0.05/perGB/Month.

You can also use your own storage account with boot diag

[2022-06-20 12:53] jackfrancis commented on #2389
I confirmed that the template here works with the ci-entrypoint.sh script:

- https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml

The following PRs were opened to help get things working:

- https://github.com/kubernetes-sigs/cloud-provider-azure/pull/1901
- https://github.com/kubernetes/test-infra/pull/26628

[2022-06-20 15:12] CecileRobertMichon commented on #2401
No objections from my part to making this configurable and enabled by default to preserve back compat.

For the API, we might want to have `storageUri` instead of storage account name since that's what the Azure APIs use. I would also avoid the terms "CustomerManaged" and "AzureManaged" and instead stick with the official terms, i.e. `Managed` and `UserManaged` https://docs.microsoft.com/en-us/azu

[2022-06-20 15:57] CecileRobertMichon commented on #2401
It would be something we could do if we were confident no other formats were possible but given https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#azure-dns-zone-endpoints-preview that may already not be true.

[2022-06-20 16:08] JoelSpeed commented on #2401
Cool, I'll look into working up a PR over the next few days

[2022-06-20 16:19] jackfrancis commented on #2051
I don't think there's a way for go-apidiff to add per-directory (or file) exclusions:

https://github.com/joelanford/go-apidiff

I assume that means it's in-scope to use a different tool for this validation?

[2022-06-20 16:26] CecileRobertMichon commented on #2051
Absolutely, that would be a valid alternative. Another alternative would be to move everything that's not meant to be consumed externally into an `internal/` dir

https://github.com/joelanford/go-apidiff/issues/14#issuecomment-1086866074

[2022-06-20 16:54] #2234 closed

[2022-06-20 22:58] #2378 closed

[2022-06-20 23:02] #2389 closed

[2022-06-21 01:21] andyzhangx opened #2403 "provide e2e test for ACR image pulling"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We already have in-tree credential provider and will have out of tree credential provider, so we should have e2e test for both scenarios.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/kind test

**Environment:**

- clust

[2022-06-21 01:46] andyzhangx commented on #2403
cc @lzhecheng

[2022-06-21 01:46] andyzhangx commented on #2403
/assing @lzhecheng

[2022-06-21 01:46] andyzhangx commented on #2403
/assign @lzhecheng

[2022-06-21 10:07] #2367 closed

[2022-06-21 14:28] CecileRobertMichon commented on #2381
It's a valid use case, although so far we decided to stay away from it in CAPZ because as soon as CAPZ manages subnets/NSGs/route tables but not the VNet, it means it needs to make PUT calls to a resource it didn't create and doesn't own, since the subnets are a nested resource of the VNet. This is dangerous as it could cause race conditions if something else is updating the VNet at the same time,

[2022-06-21 15:20] CecileRobertMichon commented on #2327
@brianlieberman @dthorsen I see a PR in a fork :) Are you planning on opening it in the upstream CAPZ repo?

[2022-06-21 15:25] dthorsen commented on #2327
@CecileRobertMichon We are indeed. That fork is just where we are doing the initial pass at development. I think we are to a point that it just needs an update to the validatingwebhook logic and then we should be ready to PR upstream.

[2022-06-21 18:56] jikuma opened #2408 "Add a capability to specify IPtags to public IP created as part of workload cluster"
/kind feature

**Describe the solution you'd like**
The workload clusters generated by CAPZ have a public ip for api-server. Azure, by default, assigns the IPs randomly.
 We have a network-restricted SAW machine to access production resources. This Saw machine can access only the whitelisted public IP. Since these workload clusters get random public IP, these IPs are not part of whitelisted IPs; h

[2022-06-21 22:50] CecileRobertMichon commented on #2401
/assign @JoelSpeed

[2022-06-21 22:50] CecileRobertMichon commented on #2408
/assign

[2022-06-23 10:13] jackfrancis commented on #1394
/remove-lifecycle stale

[2022-06-23 15:14] jackfrancis commented on #1755
/unassign @sadysnaat
/help

[2022-06-23 15:16] jackfrancis commented on #1778
/milestone next

@zmalik do you have plans to work on this in the next iteration?

[2022-06-23 15:17] jackfrancis commented on #2295
/assign

[2022-06-23 15:23] jackfrancis commented on #2327
/milestone v1.4

[2022-06-23 15:29] jackfrancis opened #2414 "Kubernetes "latest" versions broken with more than one control plane"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

See https://github.com/kubernetes/kubeadm/issues/2713

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous informati

[2022-06-23 15:29] jackfrancis commented on #2414
/milestone v1.4

[2022-06-23 15:31] jackfrancis commented on #2369
/milestone v1.4

[2022-06-23 15:46] himanshuz2 commented on #2349
Is it because of Calico CNI ?

[2022-06-24 11:30] damdo commented on #1852
Thanks for your suggestions @CecileRobertMichon, ok let's go with this design then 👍
I created a PR that introduces this feature with the agreed design, see: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2421.

[2022-06-24 15:28] #1104 closed

[2022-06-24 18:27] jackfrancis opened #2422 "Shorten AKS Windows pool names when AzureManagedMachinePool name is too long"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The AKS API enforces a max 6 character limit for node pool names. Because this is not necessarily an intuitive requirement, let's consider ways to do this automatically on behalf of users.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2022-06-24 19:46] #2414 closed

[2022-06-25 17:15] #2009 closed

[2022-06-27 12:58] damdo opened #2429 "Incorrect cachingType validation for Ultra disks as data disks"
/kind bug

**Preamble:**
Azure Ultra disks only support un-cached read/writes, see [Azure Ultra disks limitations](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-types#ultra-disk-limitations).

**What steps did you take and what happened:**
An Azure Machine with the following data disk was created:
[code]

No validation error was observed when  `storageAccountType` is was set to `Ul

[2022-06-27 14:38] #1852 closed

[2022-06-27 23:08] #2429 closed, assigned to nobody

[2022-06-28 07:53] jackfrancis commented on #2204
/remove-lifecycle stale

[2022-06-28 15:03] mogliang opened #2434 "controlplane-vm-0 bootstrap failed, trying to connect api server through internal lb ip?"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Tried to follow https://capz.sigs.k8s.io/topics/api-server-endpoint.html to setup cluster with internal LB, peering with mgmt cluster. However, failed on 1st

[2022-06-28 16:17] jackfrancis commented on #2434
Hi @mogliang, is this issue 100% reproducible? I assume you are trying to connect to the private apiserver IP address via a bastion host on the same private VNET?

[2022-06-29 02:56] lzhecheng commented on #2349
@jackfrancis Actually, those windows tests are still blocked by calico installation failure now... We will check if such situations happen after your "helm install calico" PR is merged.
Besides, so far we are not aware of such situation.

[2022-06-29 03:16] mogliang commented on #2434
yes, 100% repro. Also tried to create new mgmt cluster. same problem.

by the way, i use command below to generate cluster yaml, and then edit to choose internal lb

[code]

[2022-06-29 17:25] dkoshkin opened #2438 "AKS cluster name must match-control plane name"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Used https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/download/v1.3.1/cluster-template-aks.yaml but changed `AzureManagedControlPlane`

[2022-06-29 18:38] nawazkh commented on #1849
TL;DR: I was wondering if we could try making a Makefile recipe to install `az` binary or leave `ensure-azcli.sh` as is if it is only used in the CI.

----
There are five more `ensure-*.sh` scripts left after the PRs for https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1192 were merged to the repo.

Brief summary of the five scripts:
- `ensure-azcli.sh`: Installs `az` binary (a

[2022-06-29 21:42] mboersma commented on #1849
I think it's ok to leave `ensure-azcli.sh` and the other remaining scripts as is. This issue is scoped to Go-based tools, and you completed that @nawazkh.

[2022-06-30 20:12] nawazkh commented on #2182
/assign

[2022-06-30 20:20] josh-ferrell opened #2441 "Node outbound public IP name created incorrectly when using ClusterClass, missing hash"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
Create a CAPZ Cluster using ClusterClass. The node outbound IP gets created with the name pip-_clustername_-node-outbound instead of pip-_azureclustername_-node-outbound and the load balancer fails to get create

[2022-06-30 20:27] jsturtevant commented on #1192
looks like we wrapped this up. thanks @nawazkh and @sayantani11 💯.

There are a few other scripts called `ensure-*` but there is a good summary what those are and how they don't really fall under this work here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1849#issuecomment-1170357153

/close

[2022-06-30 20:27] #1192 closed

[2022-07-01 07:23] mogliang commented on #2434
OK, i figured out, need to use flavor switch to create cluster yaml.
Obviously, change LB type is not the only change needed for private endpoint.

[code]

[2022-07-01 07:23] #2434 closed

[2022-07-01 19:33] LochanRn opened #2443 "When creating AKS clusters using autoscaler enabled, the update api is making too many requests"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Created an AKS cluster using autoscalar enabled. Initially the autoscalar worked fine, but after a while the capz controller started throwing the below error log.

`
E0701 18:40:03.669437       1 controller.go:304] controller/azuremanagedmachinepool "msg"="Reconciler error" "error"="err

[2022-07-01 19:33] LochanRn commented on #2443
/assign LochanRn

[2022-07-01 19:56] LochanRn commented on #2443
One way to fix this from cluster api azure is prevent the unwanted calls being made by making a simple check.
But capi machinepool object will still be in a deviated state from that of the actual state. Also the capi machinepool object's phase get's set to ScalingDown or ScalingUp as the node counts do-not match because of the autoscaler.

[2022-07-03 01:44] #1967 closed

[2022-07-04 01:51] mogliang commented on #2434
Thanks jackfrancis,

adding clarification in document will be helpful

[2022-07-05 09:45] jackfrancis opened #2448 "Flaky periodic E2E test results"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

As of 5 July 2022, 22 of the most recent 28 periodic E2E tests have failed (I'm ignoring failures due to prow as those are out of our control). As this is t

[2022-07-05 10:01] jackfrancis commented on #2448
I've done a high level classification of the last 10 failures. From most to least recent:

1. AKS cluster failed to delete successfully in under 30 mins
  - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-full-main/1544175915074850816
2. GPU node did not come online as Ready in under 20 mins
  - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodi

[2022-07-05 10:11] jackfrancis commented on #2448
From this analysis there are some direct actions we can consider:

1. Split AKS scenario out into its own test, and increase cluster delete timeout tolerance.
  - or, increase cluster delete timeout tolerance generally; because the test-infra job spec allows up to 4 hours for this test we have some overhead, ref: https://github.com/kubernetes/test-infra/blob/2552ee959834bea2a06f9bb8a8754310e50283d

[2022-07-05 11:56] invidian opened #2449 "Don't download Calico release manifest on every "make generate-flavors" execution"
/kind feature

**Describe the solution you'd like**
The manifest is 1GB in size and there is no point downloading it on every run. Likely required manifests should be saved to some hidden working directory (e.g. existing `_artifacts`?) and release archive should only be downloaded when expected files are missing from there.

Make should be able to "cache" the results and trigger re-download if Cal

[2022-07-05 14:47] jackfrancis commented on #2448
O.K., one thing we can address with GPU timeouts is the fact that we are incorrectly defining a timeout. As part of this test scenario we are passing in the timeout config for machinepool:

- https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/a9ad6fb1c0312dccad861a84fcece0b13ae748a5/test/e2e/azure_test.go#L415

But the template we're using delivers GPU nodes via a MachineDeployment

[2022-07-05 15:45] jackfrancis commented on #2449
I'm working on a solution that will use helm to install this at runtime.

In the meantime I recommend replacing `make generate-flavors` in your workflows with `hack/gen-flavors.sh`, which only does template flavor generation and skips the calico foo.

[2022-07-05 17:21] invidian commented on #2449
I've already opened https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2450, which seem like a straightforward solution. Do you mind having a look still @jackfrancis?

[2022-07-05 21:51] #2449 closed

[2022-07-05 23:17] #1990 closed

[2022-07-06 07:27] jackfrancis commented on #2434
@mogliang see https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2455

[2022-07-06 07:47] jackfrancis commented on #2448
Observed another flake this morning in the ClusterClass scenario:

- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-full-main/1544538548756025344

This is another one where we're timing out too quickly because we're not correctly defining a MachineDeployment timeout (we're configuring the `WaitForMachinePools` vector instead of the `WaitForMachineDeploy

[2022-07-06 21:09] #2448 closed

[2022-07-06 22:37] CecileRobertMichon commented on #2441
/assign

[2022-07-06 22:41] #1716 closed

[2022-07-07 00:51] CecileRobertMichon commented on #2441
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2459 should fix it

this was a general bug whenever the Cluster.Name != AzureCluster.Name and there are control plane or node outbound IPs, not strictly related to ClusterClass

[2022-07-07 06:30] jackfrancis commented on #2152
@meghanajangi Could you clarify what "custom images" means in this context? We have test coverage for capz reference images, which is functionally equivalent to a "custom image" (you would just reference another image)

Feel free to add `/remove-lifecycle rotten` if we still want to do this!

[2022-07-07 06:31] jackfrancis commented on #2218
/remove-lifecycle stale

[2022-07-07 06:32] jackfrancis commented on #2132
@marosset @daschott should we keep this issue open?

[2022-07-07 11:01] #2441 closed

[2022-07-07 11:46] NovemberZulu opened #2460 "Spot nodepool loses "kubernetes.azure.com/scalesetpriority: spot" label"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?] yes

**What steps did you take and what happened:**
1. Create a cluster with a managed spot nodepool @ k8s 1.22.4. Nodepool automatically gets `kubernetes.azure.com/scalesetpriority: spot` label and `kubernetes.azure.com/scalesetpriority=spot:NoSchedule` tain

[2022-07-07 16:56] CecileRobertMichon commented on #2438
/area managedcluster
/help

@nawazkh this might be a good one for you to look into when you have time

[2022-07-07 16:57] CecileRobertMichon commented on #2460
/area managedcluster

[2022-07-07 16:57] CecileRobertMichon commented on #2460
/area managedclusters

[2022-07-07 17:00] CecileRobertMichon commented on #2354
@josh-ferrell I noticed that network interfaces are also not tagged, are you interested in tackling it as part of this issue or should we open a separate issue for it? All 3 initial issues that you opened for this are now closed.

[2022-07-07 18:18] jsturtevant commented on #2341
It seems like the template that is chosen when `TEST_CCM: true` is set might not include the correct resource sets.

[2022-07-07 18:22] CecileRobertMichon commented on #2341
I think the issue is that it's looking for label `cni: ${CLUSTER_NAME}-calico` but the cluster has label `cni: calico`

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml#L554

[2022-07-07 20:48] marosset commented on #2132
We worked around the issue by running the CSI drivers in hostProcess containers which can access metadata.
I think we should still try to understand why Windows containers in aks-engine were able to access instance metadata but containers in CAPZ cannot.

[2022-07-07 20:48] marosset commented on #2132
/remove-lifecycle rotten

[2022-07-07 21:17] daschott commented on #2132
I wonder if this has to do with the requirement that only Node IPs are allowed to access the IMDS.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows#known-issues-and-faq

@marosset can you try to add destination based OutboundNAT?
In Azure CNI you can add this as follows:
[code]
In HNS endpoint you should see the following policy added:
[code]

[2022-07-07 21:48] CecileRobertMichon commented on #2422
indeed!

/close

[2022-07-07 22:28] CecileRobertMichon commented on #2205
/remove-lifecycle stale

[2022-07-07 22:29] CecileRobertMichon commented on #2221
/remove-lifecycle stale
/help

[2022-07-08 06:48] jackfrancis commented on #2422
So actually the foo that @luthermonson links to is validation that the user-configured pool name is no longer than 6 characters. I originally opened up this issue to track consideration of doing this automatically (truncating).

If we want to consider doing that (user inputs "my-pool-name-win" and we truncate to "win-kX" or something) we can re-open this issue.

[2022-07-08 07:33] #2341 closed

[2022-07-08 09:50] NovemberZulu commented on #2460
@CecileRobertMichon

I might be using a fork, I'll need to double check, sorry 😊
AzureManagedMachinePool looks quite ordinary
[code]

[2022-07-08 17:07] CecileRobertMichon commented on #2460
Got it, yes looks like it

is not supported in the latest released CAPZ AzureManagedMachinePool CRD... Seems like a bug in the fork implementation of Spot instances.

Side note: we'd love to get that feature merged into Upstream CAPZ if that's something you/your team want to contribute. https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1925 was in progress but it's gotten stale.

[2022-07-08 17:22] CecileRobertMichon commented on #2422
Ah, understood. The title makes it sound like this is about validation I think.

/reopen
/retitle Shorten AKS Windows pool names when AzureManagedMachinePool name is too long

[2022-07-08 19:34] #2047 closed

[2022-07-09 14:47] #2062 closed

[2022-07-09 15:48] #1580 closed

[2022-07-11 01:23] lzhecheng opened #2469 "Cluster creation failure with latest-xxx as KUBERNETES_VERSION"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
With latest-xxx as KUBERNETES_VERSION, only 1 control-plane node is successfully created. While "latest" as KUBERNETES_VERSION seems ok.
https://prow.k8s.io/

[2022-07-11 13:12] josh-ferrell commented on #2441
Thanks @CecileRobertMichon

[2022-07-11 22:10] dkoshkin opened #2470 "Webhook validation for failureDomain zone availability"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
CAPZ already supports creating Machines in specific `failureDomains`, [however not all locations in Azure have multiple AZs](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#azure-regions-with-availability-zones).
For example setting a `failureDomain` in `westus`,

[2022-07-11 23:07] CecileRobertMichon commented on #2469
/assign @jackfrancis

This is fixed by https://github.com/kubernetes/kubernetes/pull/111021

[2022-07-11 23:14] CecileRobertMichon commented on #2470
Hi @dkoshkin, thanks for opening this issue!

Any validation that requires making calls to Azure APIs is tricky to do in webhook validation as 1) it requires credentials / an authorizer 2) making the API calls can take time whereas webhook validation should be very fast for good UX

In this case, we could theoretically maintain a static list of regions and AZ support to use for validation but that

[2022-07-11 23:26] dkoshkin commented on #2470
Thanks for the quick reply @CecileRobertMichon!

These are great points.

The error is already pretty visible as a `Machine` event. I will close this but we can discuss further if someone else has similar use-cases.

[2022-07-11 23:26] #2470 closed

[2022-07-12 07:32] jackfrancis commented on #2165
/remove-lifecycle rotten

[2022-07-12 11:00] jackfrancis commented on #1267
/remove-lifecycle stale

[2022-07-12 11:01] jackfrancis commented on #1660
/remove-lifecycle stale

[2022-07-12 11:03] jackfrancis commented on #1599
It's been a while since we've engaged this issue. Are we able to concretely define what work needs to be done here @LochanRn @nprokopic?

[2022-07-12 11:27] jackfrancis commented on #1808
/remove-lifecycle stale

[2022-07-12 12:00] jackfrancis commented on #2204
/assign

[2022-07-12 12:16] jackfrancis commented on #2204
@zmalik @luthermonson @karthikbalasub @michalno1 @NovemberZulu @dkoshkin Are folks interested in forming a working group to define a graduation criteria, and to contribute towards the various workstreams that will come out of that?

I'd love to accelerate our work on this as there are already lots of production AKS scenarios leveraging capz AzureManagedCluster, so to a certain extent we want to ca

[2022-07-12 13:13] invidian commented on #1003
Perhaps it would make sense to close this issue and create a new one for migrating GPU tests?

[2022-07-12 21:33] CecileRobertMichon commented on #1503
/remove-lifecycle stale
/assign @jackfrancis

[2022-07-12 22:28] Jont828 opened #2477 "async agentpools"
/kind feature

Make agent pool service async as a part of #1702.

[2022-07-12 22:28] Jont828 commented on #2477
/assign

[2022-07-13 07:14] jackfrancis commented on #2469
All jobs look recovered, thanks for your patience @lzhecheng!

[2022-07-13 07:14] #2469 closed

[2022-07-13 07:25] jackfrancis commented on #2169
/remove-lifecycle rotten

[2022-07-13 12:11] NovemberZulu commented on #2204
I am interested! I don't have much experience with this kind of work, but I am willing to help as much as I can.

[2022-07-13 17:30] CecileRobertMichon commented on #2204
Curious what folks in here think of https://docs.google.com/document/d/1dMN4-KppBkA51sxXPSQhYpqETp2AG_kHzByXTmznxFA/edit

Technically CAPZ doesn't need to make the same changes as CAPA does as the current AzureManagedCluster solution in theory should work with ClusterClass. However, if we want to be consistent with other managed cluster providers in CAPI in the longterm, it might be a good idea to

[2022-07-14 23:58] CecileRobertMichon commented on #1876
/assign

[2022-07-14 23:58] CecileRobertMichon commented on #1876
@jsturtevant I think I tracked this down

[2022-07-15 00:50] #1975 closed

[2022-07-15 21:25] jsturtevant commented on #2063
/open
/remove-lifecycle rotten

[2022-07-15 22:10] mtougeron opened #2484 "AzureManagedControlPlane with existing vnet and existing subnet attempts to delete subnet when cluster is deleted"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**

If you use a `AzureManagedControlPlane` with an existing `virtualNetwork.name` and an existing `virtualNetwork.subnet.name` it will properly use the existing resources. However, when deleting the cluster it wil

[2022-07-17 00:09] #2094 closed

[2022-07-18 20:08] nijave commented on #2009
/reopen

[2022-07-20 18:01] CecileRobertMichon commented on #2484
/area managedclusters

[2022-07-20 20:15] CecileRobertMichon commented on #1545
/remove-lifecycle rotten

This should be resolved by #2205

[2022-07-21 13:10] nprokopic commented on #1599
Currently VNet where the managed cluster is deployed is specified in `AzureManagedControlPlaneSpec`, which means all agent pools will be deployed to that same VNet.

On the other hand, in Azure spec for managed clusters the VNet/subnet is specified on the agent pool level, [here in `ManagedClusterAgentPoolProfile`](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update?tab

[2022-07-21 15:12] mboersma commented on #715
@jackfrancis and @Jont828, is this something that should land in milestone v1.5, or will it probably hit the next one?

[2022-07-21 15:16] mboersma commented on #2295
/assign

[2022-07-21 15:24] nawazkh commented on #2182
/milestone 1.5

[2022-07-21 17:35] pizza654321 opened #2492 "Clusterctl thinking Machines are down when they aren't according to kubectl"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Inconsistency between ./clusterctl describe cluster and kubectl --kubeconfig \kubeconfig get nodes. This may be an error with CAPI and not CAPZ, somewhat uns

[2022-07-21 20:59] CecileRobertMichon commented on #2492
What is the full error message / failure reason on the Machines and/or AzureMachines if you do `kubectl describe Machine <failed machine name>` and `<kubectl describe AzureMachine <failed azure machine name>`  from the management cluster?

[2022-07-21 22:29] Jont828 opened #2494 "Make azure and async spec type default values consistent with Azure Go SDK types"
/kind bug

The `azure.AgentPoolSpec` type (found in `azure/types.go`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/types.go)) has fields such as `AgentPoolSpec.AvailabilityZones` which is a `[]string` and `AgentPoolSpec.VnetSubnetID` which is a `string`. These types are used to initialize the Go SDK type `containerservice.AgentPool` which has corresponding pointer

[2022-07-21 22:29] Jont828 commented on #2494
@CecileRobertMichon

[2022-07-21 22:33] Jont828 commented on #2494
Another consideration is that sometimes we might want to pass a pointer to an int type. For example, `containerservice.AgentPool.OSDiskSizeGB` has the following description:
[code]
In this case we might not want to have it be `nil` if OS disk size is not in the spec.

[2022-07-21 22:39] pizza654321 commented on #2492
kubectl get machine:
NAME                                   CLUSTER           NODENAME                              PROVIDERID                                                                                                                                                                            PHASE     AGE   VERSION
capi-quickstart-control-plane-22rkx    capi-quickstart   capi-quickstart-contr

[2022-07-21 22:39] pizza654321 commented on #2492
kubectl describe machine:
Name:         capi-quickstart-md-0-98984f5f4-cptnd
Namespace:    default
Labels:       cluster.x-k8s.io/cluster-name=capi-quickstart
              cluster.x-k8s.io/deployment-name=capi-quickstart-md-0
              machine-template-hash=545409190
Annotations:  <none>
API Version:  cluster.x-k8s.io/v1beta1
Kind:         Machine
Metadata:
  Creation Timestamp:  2022-07-01T2

[2022-07-21 22:40] pizza654321 commented on #2492
kubectl get AzureMachine:

NAME                                  READY   REASON   STATE
capi-quickstart-control-plane-ctdrf   True             Succeeded
capi-quickstart-control-plane-d9vvx   True             Succeeded
capi-quickstart-control-plane-dskvf   True             Succeeded
capi-quickstart-control-plane-gsgb6   True             Succeeded
capi-quickstart-control-plane-jngj9   True

[2022-07-21 22:40] pizza654321 commented on #2492
kubectl describe azuremachine:
Name:         capi-quickstart-md-0-4vdjr
Namespace:    default
Labels:       cluster.x-k8s.io/cluster-name=capi-quickstart
              cluster.x-k8s.io/deployment-name=capi-quickstart-md-0
              machine-template-hash=545409190
Annotations:  cluster-api-provider-azure: true
              cluster.x-k8s.io/cloned-from-groupkind: AzureMachineTemplate.infrastruc

[2022-07-21 22:49] Jont828 commented on #715
I'm not too sure, is there a PR open or being worked on for this ATM? Looks like Jack was assigned on it so maybe we can ask him when he's back.

[2022-07-22 10:28] jackfrancis opened #2496 "Remove UseExperimentalRetryJoin from reference templates"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The deprecated `UseExperimentalRetryJoin` feature is now marked as deprecated by cluster-api:

- https://github.com/kubernetes-sigs/cluster-api/pull/6938

Let's remove this option from all capz reference and test templates, and documentation.

**Anything else you would like to add:**

[2022-07-22 14:08] nijave opened #2498 "Add OIDCIssuerProfile configuration option"
/kind feature

**Describe the solution you'd like**
In order to enable Azure Workload Identity, the OIDC issuer needs to be enabled on new clusters. Add a field AzureManagedControlPlane for enabling OIDC issuer.

**Anything else you would like to add:**
Basically just a configuration option that does the same as this cli command https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#upda

[2022-07-22 14:12] jackfrancis commented on #2063
@jsturtevant once we merge capi 1.2.0 support we can use this new interface to accomplish this:

https://github.com/kubernetes-sigs/cluster-api/pull/6855/files

cc @CecileRobertMichon

[2022-07-22 14:15] jackfrancis commented on #2236
cc @marosset @jsturtevant to address stale status

[2022-07-22 14:16] jackfrancis commented on #2230
assuming this work hasn't been done, so

/remove-lifecycle stale

[2022-07-22 14:19] jackfrancis commented on #2241
@srm09 is this issue still occuring?

[2022-07-22 14:38] jackfrancis commented on #1674
/remove-lifecycle rotten

[2022-07-22 14:41] jackfrancis commented on #2159
@CecileRobertMichon don't our VMSS tests already have this?

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/a7a55bf327393858ead8fcc0632f9998cb18cdee/test/e2e/azure_test.go#L386

[2022-07-22 14:47] jackfrancis commented on #1599
@nprokopic thanks, that makes sense!

/remove-lifecycle stale

[2022-07-22 14:52] jackfrancis commented on #715
I think we can land this in the next milestone

[2022-07-22 15:43] nawazkh opened #2499 "Simplify and reuse variables in hack/tools/*.sh scripts"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- There are a bunch of variables (like `KUBECTL`, `kustomize`) defined multiple times in the shell scripts of `hack/tools/**.sh` which can be pulled out to a shell script (for ex: `common_vars.sh`).
- This new shell script (for ex, `common_vars.sh`) can then be referenced in the `hack/

[2022-07-22 15:45] nawazkh commented on #2499
/good-first-issue
/help

[2022-07-22 17:53] jsturtevant commented on #2236
I believe we've addressed this with https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2337
/close

[2022-07-22 17:53] #2236 closed

[2022-07-22 18:57] CecileRobertMichon commented on #2159
I think we removed most of the test logic in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2160/files because it was flaky

[2022-07-22 18:59] CecileRobertMichon commented on #2496
/good-first-issue
/help

[2022-07-22 18:59] CecileRobertMichon commented on #2498
/help

[2022-07-22 18:59] CecileRobertMichon commented on #2498
/area managedclusters

[2022-07-22 19:03] CecileRobertMichon commented on #2492
Message: inboundnatrules failed to create or update. err: failed to get existing NAT rules: could not list inbound NAT rules for load balancer capi-quickstart-public-lb: network.InboundNatRulesClient#List: Failure sending request: StatusCode=0 -- Original Error: context deadline exceeded
Reason: Failed
Severity: Error
Status: False
Type: Ready

Looks like CAPZ is unable to reach Azure APIs to list

[2022-07-22 21:03] pizza654321 commented on #2492
Does anything on the manager pod rotate IPs? Since this happens over time, at the beginning of deployment it typically has everything ready and not failed everywhere, so my guess had been that IPs get rotated for safety over time. Thank you!

[2022-07-22 21:45] CecileRobertMichon commented on #2492
Do you mean LB public IP, VM private IPs, pod IPs or something else?

CAPZ itself does not rotate IPs. All it does once the initial resources have been created is periodically GET each resource and make sure that nothing has changed & that Azure resources are still existing and healthy. In this case looks like it times out trying to List inbound NAT rules in the load balancer. The fact that it's f

[2022-07-23 00:10] CecileRobertMichon commented on #2492
If this is indeed just happening on worker machines, this PR will fix it: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2502

I don't fully grasp why it would fail to List from worker machines only however.

[2022-07-23 02:53] lakshkeswani commented on #2499
/assign

[2022-07-24 02:27] #2112 closed

[2022-07-24 21:32] #1456 closed

[2022-07-24 21:32] #1268 closed

[2022-07-25 08:54] jackfrancis commented on #1687
/reopen
/remove-lifecycle rotten

[2022-07-25 08:59] jackfrancis commented on #2242
/remove-lifecycle stale

[2022-07-25 12:03] jackfrancis opened #2505 "1st control plane machine takes ~20 mins to provision via ClusterClass"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We're seeing a very consistent repro in our `ClusterClass` test scenario where it takes roughly 20 mins to provision the first control plane machine, which

[2022-07-25 12:17] jackfrancis commented on #2505
Not sure if this is the root cause, but this does seem to be the reconciliation phase that is failing:

- https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/4be3793d7d8d07971060ebc2228cb339136556fd/controllers/azuremachine_controller.go#L264-L269
- https://github.com/kubernetes-sigs/cluster-api/blob/v1.1.4/internal/controllers/machine/machine_controller_phases.go#L219-L223

[2022-07-25 13:51] nawazkh commented on #2499
@lakshkeswani kudos on picking up the issue!
Feel free to ping us on [cluster-api-azure slack channel](https://app.slack.com/client/T09NY5SBT/CEX9HENG7) or in the git issue itself in case you need help!

[2022-07-25 16:12] sayantani11 commented on #2496
/assign

[2022-07-25 16:28] sonasingh46 commented on #915
/assign sonasingh46

[2022-07-25 18:21] dtzar commented on #1243
I think this issue is still relevant although I believe there should be a refreshed version of the issue based on the newest developments (i.e. Workload identity and existing support for some of the things out of the box with add-ons).

@salaxander @CecileRobertMichon

[2022-07-25 19:45] CecileRobertMichon commented on #2293
/close

[2022-07-25 19:45] #2293 closed

[2022-07-25 20:48] CecileRobertMichon commented on #2129
/remove-lifecycle rotten
/reopen

[2022-07-26 18:55] marosset commented on #2139
/close
This work was completed with #2194

[2022-07-26 18:55] #2139 closed

[2022-07-27 08:32] jackfrancis commented on #1243
/reopen
/remove-lifecycle rotten

[2022-07-27 08:34] jackfrancis commented on #1867
/remove-lifecycle stale

A quick thought: the easiest test delivery/validation mechanism would be a helm chart that wraps a `Job` resource which runs and if finished to completion indicates a successful outcome.

[2022-07-27 08:49] jackfrancis commented on #2078
/remove-lifecycle rotten

[2022-07-27 09:31] jackfrancis commented on #1775
/remove-lifecycle rotten

[2022-07-27 09:34] jackfrancis commented on #825
/remove-lifecycle rotten
/label area-managedclusters

[2022-07-27 09:37] jackfrancis commented on #1746
/remove-lifecycle rotten

[2022-07-27 09:41] jackfrancis commented on #1570
Given that we haven't received any bug reports describing this potential issue let's close this based on @CecileRobertMichon's latest comment.

/close

[2022-07-27 09:41] #1570 closed

[2022-07-27 09:45] jackfrancis commented on #2265
/remove-lifecycle stale

[2022-07-27 20:25] marosset opened #2514 "Log collection for e2e shouldn't rely on ssh w/ port 22"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Log collection for e2e tests currently relies on establishing ssh connections to the cluster over port 22 (hard-coded)

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/0ea9c5bddba78f846a9c34d0991664333228b7d4/test/e2e/helpers.go#L78

https://github.com/kubernetes-sig

[2022-07-28 00:00] CecileRobertMichon commented on #2505
/assign @Jont828

[2022-07-28 14:13] jackfrancis commented on #2484
Hi @mtougeron, I think the first thing we want to do is validate that AKS itself supports the create flow you outlined (install into a custom (pre-existing) VNET + custom (pre-existing) subnet. Does the delete flow using vanilla AKS preserve both the previously existing subnet + VNET, only deleting the AKS-specific resources?

[2022-07-28 14:32] mtougeron commented on #2484
It worked with CAPZ at least but I haven't tried with doing it via the CLI or Azure Portal. I'll try that.

When deleting via CAPZ it preserved all other resources in the subnet & VNET. But I didn't try via the CLI/Portal. I'll try that as well.

[2022-07-28 14:51] jackfrancis commented on #2438
It looks like the current capz implementation requires a tight coupling between `AzureManagedCluster`'s and `AzureManagedControlPlane`'s `Name` value.

It seems that if we _just_ change the value of `AzureManagedControlPlane` there is a mismatch in the way we retrieve the kubeconfig secret.

@CecileRobertMichon does this ring a bell? Happy to dig into this more independently if this behavior is a

[2022-07-28 16:06] sayantani11 commented on #2496
@jackfrancis @CecileRobertMichon https://cs.k8s.io/?q=UseExperimentalRetryJoin&i=nope&files=&excludeFiles=&repos=
As I can see here, I don't think that `UseExperimentalRetryJoin` is used in reference templates in CAPZ.

[2022-07-28 16:09] sayantani11 commented on #2422
@jackfrancis @CecileRobertMichon I would like to get some more insight on this issue if possible!

[2022-07-28 16:10] jackfrancis commented on #2496
@sayantani11 thanks for picking this up!

That search is case-sensitive, and the yaml template usage follows the json spec in the type definition. So this is what we're looking for:

https://cs.k8s.io/?q=useExperimentalRetryJoin&i=nope&files=&excludeFiles=&repos=

[2022-07-28 16:17] jackfrancis commented on #2218
/assign

[2022-07-28 16:28] jackfrancis commented on #2422
I'm not actually convinced we want to do this. @luthermonson do you have thoughts? Would you prefer a capz-enforced string concatenation and/or 6-char hash that replaces the inputted node pool name, or would you prefer capz to fail validation and force the user to purposefully choose a name that is 6 chars or fewer?

[2022-07-28 16:45] mtougeron commented on #2484
Yes, creating via the Portal worked. I was able to deploy into an existing VNET and subnet that had other resources already in it.

When I deleted the manually AKS cluster via the Portal it worked and left the existing resources alone.

I think the root cause is that the subnet deletion isn't checking for the ownership tag like it does for the VNET deletion.

[2022-07-28 16:58] mboersma opened #2517 "Support policy should be clearly documented"
/kind bug

**What steps did you take and what happened:**

I visited the CAPZ project on GitHub, pretending to be a new user looking for support on a bug I think I've discovered. I wasn't able to find anything that clarified if I could get formal support, where to go for informal support, or what the support policy for this project is.

**What did you expect to happen:**

There should be a `SUPPOR

[2022-07-28 17:10] CecileRobertMichon commented on #2438
I'm not sure, haven't looked into this much, but I'm guessing this is a bug in CAPZ implementation and there really isn't a good reason for the tight coupling. We might need to change the place where we do `ListClusterAdminCredentials` to use the AzureManagedCluster name or vice versa.

[2022-07-28 17:14] CecileRobertMichon commented on #2484
FYI subnets can't have tags in Azure (they are a nested resource) so we have to rely on the VNet tags to determine if the subnet is owned. Just like we do for self-managed CAPZ clusters, we have to assume that if a user is bringing a pre-existing VNet, they are also bringing existing subnets (otherwise it's impossible to tell which subnets were created by CAPZ vs. the user).

[2022-07-28 17:15] CecileRobertMichon commented on #2484
The issue seems to be that https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/scope/managedcontrolplane.go#L330 is always returning true for ManagedClusters.

[2022-07-28 17:23] mtougeron commented on #2484
Ah, wasn't aware of that. That would explain why I couldn't find something related to it in the code. :)

Good find!

[2022-07-28 18:19] mboersma commented on #2517
/milestone v1.5

[2022-07-28 19:22] jackfrancis commented on #2484
@alexeldeib you owe @CecileRobertMichon a 🍷

[2022-07-28 20:28] alexeldeib commented on #2484
🙇‍♂️🎉

Nice find!!

On Thu, Jul 28, 2022 at 3:22 PM Jack Francis ***@***.***>
wrote:

[2022-07-28 23:44] Jont828 commented on #2505
TODO:
- Creating unneeded machine templates like ci-default where owner is ClusterClass. Probably shouldn't be reconciled.
- Nil pointer issue is causing a return w/ 10 min period
- MachineTemplate has strange annotation: `topology.cluster.x-k8s.io/managed-field-paths: H4sIAAAAAAAA/6pWKknNLchJLElVsqpWKi5ITQbRKYkliS6ZxdnFSlbVtTpKmSmpeSWZJZUQXn4xSAqkLDkxOSMzLz2ksiAVIpWSWZwdnFmV6u4EUwqTq9VRKi7OCChNys

[2022-07-29 07:57] jackfrancis commented on #2505
Great find @Jont828, I confirmed that the above change is when this ClusterClass E2E symptom started happening.

Based on your other comments, it seems possible that the ClusterClass template we're using to test E2E is not entirely hygienic? Because we're not seeing these symptoms elsewhere I would assume the azurejson nil pointer check is desirable, and we just need to clean up the way we're depl

[2022-07-29 10:15] jackfrancis commented on #1176
I think we can close this issue now that https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2410 has merged (included in 1.4.0 release of capz)

Thanks again @luthermonson!

[2022-07-29 10:15] #1176 closed

[2022-07-29 12:33] sayantani11 commented on #2496
@jackfrancis Thanks for the clarification. I'll make a PR asap.

[2022-07-29 18:00] nawazkh commented on #2438
Hmm, I lost track of this earlier, Thanks for the pointers @jackfrancis and @CecileRobertMichon , I will dig into it

[2022-08-01 08:17] jackfrancis commented on #1484
/remove-lifecycle rotten

[2022-08-01 08:26] jackfrancis commented on #1875
/remove-lifecycle rotten

[2022-08-01 08:27] jackfrancis commented on #2202
/remove-lifecycle stale

[2022-08-01 08:29] jackfrancis commented on #1238
/remove-lifecycle stale

[2022-08-01 11:47] jackfrancis commented on #2484
I actually couldn't repro this.

I used the standard reference AKS template that we use to test, but with a modified `AzureManagedControlPlane`:

[code]

So basically, before creating the cluster I created a resource group with the name "aks-mine", and then created a new Virtual Network in that resource group called "aks-mine-vnet" with a subnet called "aks-mine-subnet" (I used the CIDR configurat

[2022-08-01 12:08] mtougeron commented on #2484
It shouldn't delete the `aks-mine-subnet` subnet since it was pre-existing and unmanaged by CAPZ.

[2022-08-01 18:07] Jont828 commented on #2505
@jackfrancis There's a lot to break down and I'll get rid of that TODO comment. To answer your question, yes we are setting up the templates incorrectly since we are creating unneeded machine templates. However, I believe that's a separate issue.

For the ClusterClass test, one key difference is that normal Clusters have an infraRef in their spec from the moment it gets created, but for Clusters c

[2022-08-01 21:51] invidian commented on #2272
/remove-lifecycle stale

[2022-08-02 10:29] monianshouhou opened #2526 "Incomplete log info in KCM"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

KCM logs of ci artifacts are incomplete.  This influences our process of debugging.
https://storage.googleapis.com/kubernetes-jenkins/logs/cloud-provider-az

[2022-08-02 17:55] damdo commented on #2401
Following up from the discussion, here is a PR that implements the agreed design: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2528

[2022-08-02 19:44] mboersma commented on #2289
/assign

[2022-08-02 21:12] CecileRobertMichon opened #2530 "E2E test artifacts missing activity logs for AKS clusters"
The e2e activity log collection assumes `AzureCluster` to find the resource group name: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/azure_clusterproxy.go#L220

This causes activity logs to fail to be collected when the cluster is a managed cluster (`AzureManagedCluster`).

Proposed fix: update the `collectActivityLogs` to fall back to finding AzureManagedCluste

[2022-08-02 21:12] CecileRobertMichon commented on #2530
/good-first-issue
/area managedclusters

[2022-08-03 02:17] #2526 closed

[2022-08-04 07:49] #2517 closed

[2022-08-04 13:55] zmalik opened #2533 "providerId in lowerCase does not match the providerId on the nodes"
/kind bug

**What steps did you take and what happened:**
CAPI does several operations based on providerIds to determine the list of VMs in AKS. I have only tested it with AKS

example:

providerID format present on the node:
[code]
ProviderID format passed to AMMP and later to MP
[code]

This can cause issues when using full providerID to find nodes. Which we do after the bugfix https://github.co

[2022-08-04 19:17] CecileRobertMichon commented on #2533
Looks like this might actually be caused cloud-provider-azure converting the RG name to lower case:

See:
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/88c9b89611e7c1fcbd39266928cce8406eb0e728/pkg/provider/azure_standard.go#L537
and https://github.com/kubernetes-sigs/cloud-provider-azure/blob/88c9b89611e7c1fcbd39266928cce8406eb0e728/pkg/provider/azure_vmss.go#L372

cc @juan-lee @ale

[2022-08-05 07:23] invidian commented on #2286
/remove-lifecycle stale

[2022-08-05 16:21] CecileRobertMichon commented on #2533
/assign @jackfrancis

[2022-08-05 18:41] jayunit100 opened #2537 "(1.4) need to backport "failed to get existing NAT rules" error fixe"
should  we backport https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2492 ?

Am seeing
[code]

With the final machine failing w/ this error:

[code]

In some clusters on CAPZ 1.4

(feel free to close if this isnt something we should/need to backport)

cc @sonasingh46  @randomvariable @yastij

[2022-08-05 18:44] jayunit100 commented on #2537
(i guess we can close this?). sounds like its backported to the branch but not cut yet

[2022-08-05 18:44] #2537 closed

[2022-08-05 21:01] Jont828 commented on #2078
Hey what's the status on this issue btw?

[2022-08-05 21:06] Jont828 commented on #1840
Hey are there any updates on this issue?

[2022-08-05 21:56] Jont828 opened #2538 "Add unit tests for VM converter"
/kind feature

**Describe the solution you'd like:** Add unit tests for [vm.go](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/converters/vm.go) in the converters package similar to the other converters.

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-08-05 21:58] Jont828 opened #2539 "Add unit tests for load balancer converter"
/kind feature

**Describe the solution you'd like:** Add unit tests for [loadbalancers.go](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/converters/loadbalancers.go) in the converters package similar to the other converters.

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-08-05 21:59] Jont828 commented on #2538
/assign willie-yao

[2022-08-05 21:59] Jont828 commented on #2539
/assign willie-yao

[2022-08-05 22:00] Jont828 opened #2540 "Add unit tests for spot instances converter"
/kind feature

**Describe the solution you'd like:** Add unit tests for [spotinstances.go](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/converters/spotinstances.go) in the converters package similar to the other converters.

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-08-05 22:00] Jont828 commented on #2540
/assign willie-yao

[2022-08-06 07:20] #2152 closed

[2022-08-07 11:33] invidian commented on #2290
/remove-lifecycle stale

[2022-08-07 18:38] #2096 closed

[2022-08-08 19:41] #2533 closed

[2022-08-09 01:17] lzhecheng commented on #2533
I don't know the background but I feel like ID in lowercase makes things easier? Is there any potential risk to do so?

[2022-08-09 08:22] jackfrancis commented on #2533
@lzhecheng the key thing here is that the cluster-api and capz set the providerID string (this is essentially the Azure resource reference, e.g.: `"azure://subscriptions/123/resourceGroups/my_resource_group/providers/Microsoft.Compute/virtualMachines/my-vm"`) to match the format enforced by cloud-provider-azure when registering the node.

[2022-08-09 09:04] jackfrancis commented on #2533
Now that we have merged a fix to @zmalik's issue, I'd like to provide some backstory, and how we plan to ensure this doesn't reoccur.

The quick backstory is that cluster-api has legacy code that evalutes a cloud provider's node reference (i.e., a URI mapping that correlates a Kubernetes node [e.g., [`poo1-00004`] to the underlying infrastructure resource [e.g., `azure:///subscriptions/9107f2fb-e4

[2022-08-09 21:34] rbtr commented on #467
We're a way off from shipping this in AKS still, but a [CNI installer container](https://github.com/Azure/azure-container-networking/blob/master/test/integration/manifests/cns/daemonset.yaml#L76-L92) is being used to run AzCNI e2e tests in our pipelines now 🙂
It's only set up for the Swift (dynamic Pod IP) scenario currently but is flexible. For the CAPZ ask, is it sufficient that it supports the

[2022-08-10 17:23] CecileRobertMichon commented on #1173
/reopen

[2022-08-10 17:24] CecileRobertMichon commented on #1173
/remove-lifecycle rotten

[2022-08-10 17:24] CecileRobertMichon commented on #1173
cc @mtougeron

[2022-08-10 20:39] jsturtevant commented on #1862
/remove-lifecycle stale
/help
should be able to use same approach listed above but iterate over the `pod.spec.InitContainers` as well

[2022-08-10 20:45] mboersma commented on #2289
/milestone v1.5

[2022-08-10 21:28] invidian commented on #2294
/remove-lifecycle stale

[2022-08-11 01:28] #2505 closed

[2022-08-11 09:31] sonasingh46 commented on #2492
I have hit this issue for control plane
[code]

[2022-08-11 11:34] yastij commented on #2492
/reopen

[2022-08-11 13:17] yastij commented on #2492
/close

for control plane it seems that it's mostly a transient issue, the machine moved into Ready after some reconciliations

[2022-08-11 13:17] #2492 closed

[2022-08-11 14:59] sonasingh46 commented on #2492
Just for the record:
For control plane machine, like Yassine said -- it can be due to a transient network issue and then recover and a `InboundNatReady` with a success status is written back on the azuremachine.

In case of worker machine -- once a transient list errror of inbound NAT happens, the error os written to the azuremachine conditions but when the list succeeds next time, as per the code

[2022-08-11 15:31] mboersma commented on #2296
/remove-lifecycle stale

[2022-08-11 15:39] mboersma commented on #1840
I haven't seen this error happen in e2e in several months. It may still be out there, but the stack trace I quoted above doesn't match up to the current code, so someone would have to compare it against the code circa November 2021 to investigate. Maybe we should close this issue and open a fresh one if we see panics in future testing.

[2022-08-11 15:46] mboersma opened #2554 "Add new upstream e2e test specs from CAPI"
/kind feature

**Describe the solution you'd like**

In the CAPI 1.2.0 release, several new [e2e test specs](https://github.com/kubernetes-sigs/cluster-api/tree/main/test/e2e) were added. We already run many of those upstream test specs in [`capi_test.go`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/capi_test.go), and any new ones that make sense should be adde

[2022-08-11 15:48] mboersma commented on #2554
/help

[2022-08-11 18:09] CecileRobertMichon opened #2557 "apiversion upgrade main test is broken"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

On 8/5, https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-apiversion-upgrade-main started failing with

[code]

This co

[2022-08-12 18:28] #2150 closed

[2022-08-13 20:42] invidian commented on #2287
/remove-lifecycle stale

[2022-08-14 11:32] jackfrancis opened #2561 "AzureManagedCluster: machinepools have negative replica count"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

A machinepool that was recently scaled out from 1 to 100:

[code]

**What did you expect to happen:**

I expect the `unavailableReplicas` count to converge

[2022-08-14 11:46] sonasingh46 commented on #2354
Created a PR to tag network interfaces.

[2022-08-14 19:42] #1872 closed

[2022-08-15 16:26] CecileRobertMichon commented on #2561
/area managedcluster

[2022-08-15 16:30] CecileRobertMichon commented on #2561
/area managedclusters

[2022-08-15 18:09] nojnhuh commented on #2530
/assign

[2022-08-15 20:44] willie-yao commented on #2538
/assign

[2022-08-15 20:45] willie-yao commented on #2539
/assign

[2022-08-15 20:45] willie-yao commented on #2540
/assign

[2022-08-15 21:19] #2289 closed

[2022-08-15 21:41] NovemberZulu commented on #2533
After doing some archeology, I found out the reason for lowercase resource group name: it was introduced kubernetes/kubernetes#74882 in to work around kubernetes/kubernetes#71994 --  resource group name case is not consistent. This _looks_ like an Azure bug to me, tbh, and naturally I have no clue if it was fixed or not.

[2022-08-16 05:26] sonasingh46 commented on #2538
@Jont828 -- There has already been a test that I wrote sometime back
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2166
( Lost track of it )
Just trying save ourselves from multiple efforts ( if at all )

[2022-08-16 22:02] willie-yao commented on #2538
@sonasingh46 Thanks for pointing this out! I am new to the project and didn't realize this has been done already, sorry about that.
Would you be willing to take over this issue and continue working on #2166? If not, I can also work on it and credit you for any tests you've written already.

[2022-08-16 22:45] willie-yao commented on #2051
/assign

[2022-08-17 20:10] CecileRobertMichon commented on #1808
/help

[2022-08-17 22:38] #2557 closed

[2022-08-17 22:39] jackfrancis commented on #2557
While looking into the test failure, I noticed we don't have a release branch test for this. Is there a scenario where we could break a release branch after its creation (we should assume that as long as we don't cut a release from main unless it's 100% green that it will ship w/ functional upgrade)?

[2022-08-18 01:28] #2182 closed

[2022-08-18 04:45] sonasingh46 commented on #2538
@willie-yao -- No problem at all! I just wanted to make sure we do not repeat the efforts. Do not worry about credit and all. You go ahead and make the changes. I will close the PR in favour of yours.

[2022-08-18 12:31] desek opened #2570 "Allow configuration of Spot instance Eviction Policy"
***Goals***
1. Enable configuration of spot instance eviction policy
2. Enable use of spot instances with ephemeral disk

***Non-Goals/Future Work***
1. Non-Goal 1
1. Non-Goal 2

**User Story**

As an operator I would like to be able to configure the eviction policy (Deallocate or Delete) of my spot instances for being able to use spot instances together with ephemeral disks which requires evictio

[2022-08-18 12:50] desek opened #2571 "Controller fails to delete VM's in failed state"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**

1. Created a new `MachineDeployment` with an `AzureMachineTemplate` that uses spot instances
2. The Azure VM creation fails with Azure error `OverconstrainedZonalAllocationRequest` and set VM in failed state
3.

[2022-08-18 15:23] mboersma commented on #629
@invidian is this still ongoing? We have it tagged for the next release, but can change that if it's not going to land.

[2022-08-18 15:24] mboersma commented on #715
/milestone next

[2022-08-18 15:27] CecileRobertMichon commented on #2484
/assign @mtougeron @jackfrancis

[2022-08-18 15:29] mboersma commented on #2347
@jackfrancis was this fixed by #2536?

[2022-08-18 16:41] jackfrancis commented on #2347
@lzhecheng can you still repro this?

I haven't been able to repro this, but I did try after #2536 so it's possible that (and related) changes was responsible, as one of the things we fixed was machines having the wrong providerID ref (e.g., a machine in a different pool).

[2022-08-18 22:29] #1917 closed

[2022-08-18 22:40] willie-yao commented on #2538
@sonasingh46 Thank you so much! I'll take over the issue then. This is super helpful and I really appreciate it!

[2022-08-19 02:16] lzhecheng commented on #2347
Recently such error hasn't happended. Closing this issue for now.

[2022-08-19 02:16] #2347 closed

[2022-08-19 11:47] mweibel opened #2577 "AzureMachinePool Ephemeral OSDisk not working"
/kind bug

**What steps did you take and what happened:**
Following config:
[code]

Fails to create with error:
[code]

**What did you expect to happen:**
Config works and VMSS gets created accordingly.

**Anything else you would like to add:**
Code in question does not set the CachingType on the VMSS Spec:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/b2abf8c89c5eebd251a5915d

[2022-08-19 12:51] mweibel opened #2579 "Spot instances with Ephemeral OsDisk not working due to missing EvictionPolicy setting"
/kind bug

**What steps did you take and what happened:**
[code]

Applying above resources result in an error:
[code]

EvictionPolicy is not configurable:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/converters/spotinstances.go#L43

Always returns `Deallocate`.

**What did you expect to happen:**
EvictionPolicy is configurable.

**Environment:**

-  cluster-api-pro

[2022-08-19 17:14] CecileRobertMichon commented on #2571
/help

[2022-08-19 18:02] jackfrancis opened #2581 "Rationalize Scope context passing"
***Goals***
1. Ensure that we re-use a common context object throught the lifecycle of a Scope in order to properly bound it within an organized execution context, and to better ensure that we aren't in fact sending valuable execution debug data into the void.

***Non-Goals/Future Work***
1. This refactor work should include only the `Scope` surface area.

**User Story**

As a developer I would li

[2022-08-19 20:03] willie-yao opened #2583 "Better error printing on tests before starting to dump logs"
/kind feature

**Describe the solution you'd like**
The build logs can use some more helpful logs for debugging when an error occurs. Right now, neither the cause nor the timestamp for the error is logged, and it skips right to logs regarding shutting down the cluster and dumping logs.

**Anything else you would like to add:**
Here's an example of when the creation of an Azure Bastion service time

[2022-08-19 20:19] willie-yao opened #2584 "Refactor dumpSpecResourcesAndCleanup for private cluster spec"
/kind feature

**Describe the solution you'd like**
Currently, the private cluster e2e spec has its own [cleanup function](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/azure_privatecluster.go#L158) instead of using [`dumpSpecResourcesAndCleanup`](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/common.go#L136), which all other e2e

[2022-08-19 20:42] #1545 closed

[2022-08-20 01:07] #2540 closed

[2022-08-21 11:06] LochanRn opened #2587 "Allows AKS clusters to use VNet and Subnet from different resource groups"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
If there are two resource groups rg-1 and rg2.
rg-1 has a VNet vnet-1 and Subnet  snet-1
I want to create an AKS cluster in rg-2 using vnet-1 and snet-1.

Currently capz supports only AKS clusters with static vnet and subnet only in the same resource group.
If we provide a vnet and sub

[2022-08-21 11:06] LochanRn commented on #2587
/area managedclusters

[2022-08-21 14:32] invidian commented on #629
Thanks for the ping @mboersma. I'll try to push things forward again, as we're only missing some final conversation around https://github.com/flatcar-linux/Flatcar/issues/734. Hopefully this could happen by the end of this month, but please don't wait for this with the release.

[2022-08-21 17:06] #2121 closed

[2022-08-22 15:55] KushalBeniwal commented on #2078
Hey apologies, life happened and I couldn't work on the issue till now. Will complete it ASAP!

[2022-08-22 18:04] #2530 closed

[2022-08-22 18:54] nojnhuh commented on #2561
/assign

[2022-08-22 20:44] #2539 closed

[2022-08-22 21:59] CecileRobertMichon commented on #2328
/assign @mboersma

[2022-08-22 22:10] #2051 closed

[2022-08-22 22:10] #2577 closed

[2022-08-22 22:10] #2579 closed

[2022-08-23 13:40] mweibel opened #2591 "windows cluster with cloud-provider: external does not work"
/kind bug

**What steps did you take and what happened:**
I created a CAPZ cluster with windows machine pools inside and `cloud-provider: external`.
I deployed the cloud provider using [the official helm chart](https://github.com/kubernetes-sigs/cloud-provider-azure/tree/master/helm/cloud-provider-azure).

The Daemonset for cloud-node-manager-windows is not able to reach the metadata endpoint and

[2022-08-23 16:39] CecileRobertMichon commented on #2591
@jackfrancis @lzhecheng @marosset any ideas on this one?

cc @Jont828

[2022-08-23 16:40] willie-yao commented on #2583
/assign

[2022-08-23 18:12] marosset commented on #2591
In K8s v1.26 (and with containerd v1.7) you'l be able to use `InClusterConfig()` for this.
Fow now we do in CAPZ we copy values out of the kubeadm config and use that.
https://github.com/kubernetes-sigs/sig-windows-tools/blob/9b61b4510ea0a76735ab53a67b4c86d5d3dc478d/hostprocess/calico/install/calico-install.ps1#L13-L22
It is pretty hacky for now :(

[2022-08-23 20:13] #2443 closed

[2022-08-23 21:37] #2538 closed

[2022-08-23 22:41] CecileRobertMichon opened #2596 "Remove KCP adoption test"
The below test was added to ensure existing clusters with control plane machines before KCP (KubeadmControlPlane) was introduced could be adopted by a KCP object:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/capi_test.go#L158

All new clusters should be using KCP for clusters built since ~ v1alpha4 so we should deprecate (remove) the test from the CAPI e2e test

[2022-08-23 23:47] willie-yao commented on #2584
/assign

[2022-08-24 18:24] willie-yao commented on #2596
/assign

[2022-08-24 18:42] willie-yao commented on #2596
@CecileRobertMichon would we want to remove [cluster-template-kcp-adoption.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption.yaml) and [cluster-with-kcp.yaml](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/data/infrastructure-azure/v1beta1/bases/cluster-with-kcp.ya

[2022-08-24 19:35] #2484 closed

[2022-08-24 19:36] CecileRobertMichon commented on #2596
@willie-yao yes

[2022-08-24 23:36] jackfrancis commented on #2204
https://github.com/kubernetes-sigs/cluster-api/pull/6988 is close to merging FYI! 🎉

[2022-08-25 02:14] monianshouhou commented on #2591
We can build windows cluster with all nodes and pods (including CCM and CNM) ready by setting the following environment variables and running ./scripts/ci-entrypoint.sh:
https://github.com/kubernetes/test-infra/blob/0931e16cae94200f532e242bffe0514c401978f0/config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml#L481-L496
Could you give it a try to incorporate your change

[2022-08-25 09:09] mweibel commented on #2591
@marosset yeah that's what I saw. Pretty hacky indeed but I guess the only other option is to use the in-tree one :(

@monianshouhou thanks for the pointers! Will try. I'm not yet sure which parts are all collected together (haven't examined the script yet), but I noticed one difference in the external cloud provider test yaml:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/mai

[2022-08-25 10:04] monianshouhou commented on #2591
@CecileRobertMichon Do you know why ```cloud-provider: azure``` only for windows?

[2022-08-25 11:15] mweibel commented on #2591
curious, I started the recommended test deployment.

<details>
  <summary>Env used (redacted)</summary>

[code]
</details>

The `KubeadmConfigTemplate` for windows has (as expected) the in-tree `cloud-provider` configured:

[code]

The windows nodes seem to have been initialized correctly:

[code]

The logs of both windows nodes (take well note of the time difference between `Started cloud-node-ma

[2022-08-25 11:46] mweibel commented on #2591
when applying the following patch:
[code]

The behaviour is the same as my initial test.

[code]

cloud-node-manager-windows logs:
[code]

The difference between `cloud-provider: azure` and `cloud-provider: external` is just that the taint is not set. This allows to schedule pods on the node without tolerating it but of course the initialization still fails.

As @marosset mentioned, I guess this w

[2022-08-25 11:58] mweibel commented on #2591
when applying the following patch:
[code]

The behaviour is the same as my initial test.

[code]

cloud-node-manager-windows logs:
[code]

The difference between `cloud-provider: azure` and `cloud-provider: external` is just that the taint is not set. This allows to schedule pods on the node without tolerating it but of course the initialization still fails.

As @marosset mentioned, I guess this w

[2022-08-25 15:41] sayantani11 commented on #2554
/assign

[2022-08-25 16:56] CecileRobertMichon commented on #2591
I don't know. I believe @jackfrancis did attempt to fix this in #1889 but we ended up closing the PR for now as it was too big of a change and the UX for addons is not there yet (@Jont828 is working on it!)

[2022-08-25 17:27] zmalik opened #2603 "[AKS] node labels update remove the AKS system labels"
/kind bug

**What steps did you take and what happened:**
Node labels update can remove the AKS system labels on the agentpool

few features in AKS add some labels to the agentpool which do show up in `az aks nodepool show` call.

Such as Spot instance type.

[code]

Any update on those labels would remove the above-mentioned label added by AKS.

**What did you expect to happen:**

CAPZ to not to

[2022-08-25 17:27] zmalik commented on #2603
/area managedclusters

[2022-08-25 19:32] #2583 closed

[2022-08-25 19:46] willie-yao commented on #2596
Update: we do not want to remove `cluster-with-kcp.yaml` as it is the basis for several other templates

[2022-08-25 20:20] willie-yao opened #2605 "E2E test failing to get logs for vmss machine pool"
/kind bug

**What steps did you take and what happened:**
Every run of the E2E test, including successful ones, encounter this error:

Failed to get logs for machine pool capz-e2e-hv48e1-vmss-mp-win, cluster capz-e2e-hv48e1/capz-e2e-hv48e1-vmss: [dialing from control plane to target node at win-p-win000000: ssh: rejected: connect failed (Temporary failure in name resolution), Unable to collect VMS

[2022-08-25 20:20] willie-yao commented on #2605
/assign

[2022-08-25 22:56] willie-yao commented on #2605
It looks like the vmss test [decreases the replica set by 1](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/azure_machinepool_drain.go#L155), but the log collector attempts to collect from 2 replicas. Will try to find out why that's the case.

[2022-08-26 17:32] anthonsu opened #2608 "Allow custom repositories for all container images"
/kind bug

There are 3rd party docker image repositories being found in capz clusters. Here is the list of images.

_docker.io/calico/cni:v3.23.0
docker.io/calico/kube-controllers:v3.23.0
docker.io/calico/node:v3.23.0
k8s.gcr.io/cluster-api/cluster-api-controller:v1.2.1
k8s.gcr.io/cluster-api/kubeadm-bootstrap-controller:v1.2.1
k8s.gcr.io/cluster-api/kubeadm-control-plane-controller:v1.2.1
k8s.gcr

[2022-08-26 17:53] #2201 closed

[2022-08-26 22:04] willie-yao commented on #2571
/assign

[2022-08-26 22:13] Michael-Sinz commented on #2608
I would say that it may not be a "Microsoft/Azure" repository but maybe a "repository controlled/selected by the user"

We (Skyman) will need to be able to control the repository to be one of ours (or maybe a Microsoft one, but that may be tricky with things like AirGapped)

[2022-08-28 18:26] vrlo commented on #1954
/remove-lifecycle stale

[2022-08-29 13:09] grzesuav opened #2610 "Feature request - `Node` should have label of corresponding Virtual Machine resource id / VM name"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Each `Node`  in AKS cluster have corresponding VirtualMachine/ VirtualMachineScaleSet. This information should be exposed via label on the node object, to make it easy to identify the underlying resource in azure.

It would be needed to cross reference metrics from `Azure Metrics` por

[2022-08-29 17:31] CecileRobertMichon commented on #2610
@grzesuav this information is available on the `Node` object spec as `ProviderID`

[2022-08-29 17:32] CecileRobertMichon commented on #2608
/retitle Allow custom repositories for all container images

[2022-08-29 19:02] #2496 closed

[2022-08-29 20:12] #2584 closed

[2022-08-29 20:12] #2596 closed

[2022-08-29 22:16] AAkindele opened #2611 "Show resource diffs for AKS clusters in the capz-controller-manager logs when making updates"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**

1. Create an AKS cluster following the documentation <https://capz.sigs.k8s.io/topics/managedcluster.html>.
1. Increase the capz-controller-manager deployment log level from 0 to 5 by changing the `--v` flag.
1

[2022-08-29 22:40] CecileRobertMichon commented on #2611
/area managedclusters

[2022-08-30 01:47] lzhecheng commented on #2333
Closing this issue since it's not a must-have.

[2022-08-30 01:47] #2333 closed

[2022-08-30 20:30] #2477 closed

[2022-08-30 22:32] #2242 closed

[2022-08-30 22:57] willie-yao commented on #2159
/remove-lifecycle rotten

[2022-08-31 17:06] marosset opened #2614 "Windows nodes are failing to provision for multiple K8s version"
/kind bug

[A clear and concise description of what the bug is.]
Suddenly Windows nodes in CAPZ clusters for many different versions of K8s stopped provisioning.
- https://testgrid.k8s.io/sig-windows-1.24-release#capz-windows-containerd-1.24
- https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-1.25
- https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd

[2022-08-31 17:06] marosset commented on #2614
Discussed in https://kubernetes.slack.com/archives/C0SJ4AFB7/p1661950443766179

[2022-08-31 17:08] marosset commented on #2614
I think for mitigations we can either
- Unpublish the most recent set of images to the Azur marketplace offer (preferred)
- Update the image selection logic in CAPZ to exclude the most recently published images

@CecileRobertMichon @jsturtevant @jackfrancis @mboersma - FYI

[2022-08-31 17:14] CecileRobertMichon commented on #2614
FYI for option 2 (Update the image selection logic in CAPZ to exclude the most recently published images
) this is the line that would need to be updated:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/dev/cluster-template-custom-builds.yaml#L361

Looks like all the jobs above are using a custom k8s version.

[2022-08-31 21:22] CecileRobertMichon commented on #2571
@desek to clarify the repro steps, did you manually trigger a delete of the Machine and/or use a [MachineHealthCheck](https://cluster-api.sigs.k8s.io/tasks/automated-machine-management/healthchecking.html) to delete the failed Machine? Or does the below indicate that the CAPZ controller started deleting a VM that was failing to create (which would be unexpected)?

[2022-08-31 23:03] willie-yao opened #2617 "E2E Test failed to watch v1.Event for public custom vnet"
/kind failing-test

**What steps did you take and what happened:**
Every run of the E2E test displays a series of errors like this:

[code]

**What did you expect to happen:**
We should not be seeing this error happen on every single run of the test.

**Anything else you would like to add:**

**Environment:**

Test-infra

[2022-08-31 23:56] willie-yao commented on #2617
/assign

[2022-08-31 23:58] willie-yao commented on #2617
Seems like the line that causes all of these errors is this:
[code]
Looking into the [Artifacts folder](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/2565/pull-cluster-api-provider-azure-e2e/1562512171689054208/artifacts/clusters/capz-e2e-bknw6i-public-custom-vnet/kube-system/kube-scheduler-capz-e2e-bknw6i-public-custom-vnet-control-plane-z6jm

[2022-09-01 06:04] andyzhangx opened #2619 "Provide Ubuntu 22.04 support"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
AKS will support Ubuntu 22.04 very soon, does CAPZ has any plan to support Ubuntu 22.04?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kub

[2022-09-01 16:12] jackfrancis commented on #629
@invidian should we consider the progress of flatcar + capz blocked on https://github.com/flatcar-linux/Flatcar/issues/734 ?

[2022-09-01 16:14] jackfrancis commented on #2327
@dthorsen @brianlieberman I've gone ahead and moved this out of the 1.5 milestone as we plan to ship v1.5.0 next week. We look forward to this landing in the v1.6 release cycle!

[2022-09-01 16:20] invidian commented on #629
Definitely.

[2022-09-01 17:22] nojnhuh commented on #2498
/assign

[2022-09-01 17:27] CecileRobertMichon commented on #2619
@andyzhangx please move this issue to https://github.com/kubernetes-sigs/image-builder, CAPZ itself doesn't do anything special to support OS versions, it supports whatever OS the image is built with.

[2022-09-01 20:15] mtougeron opened #2621 "Allow users to create Service Endpoint(s) with VNET creation"
/kind feature

As part of the subnet creation inside of a CAPZ managed VNET it would be beneficial to users to be able to create [Service Endpoints](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview). Service Endpoints allow private connections to Azure services such as CosmosDB, ContainerRegistry, KeyVault and several others services.

We propose th

[2022-09-01 20:22] willie-yao commented on #2617
Another thing to consider: Looks like the errors are originating from `collectPodLogs` which creates a goroutine for each pod. There is nothing waiting for the goroutines to finish, so my suspicion is that the cluster starts deleting before the goroutines finish streaming logs.

I'm trying to remedy this by adding a WaitGroup to wait for the goroutines to finish in #2620

[2022-09-01 20:23] jantzenallphin commented on #2621
Thanks @mtougeron for creating this feature request.

[2022-09-01 20:25] mtougeron commented on #2621
/assign @jantzenallphin

[2022-09-01 20:49] #2561 closed

[2022-09-01 20:54] willie-yao commented on #2221
/assign

[2022-09-01 23:16] Jont828 opened #2622 "Add CAPI Visualizer app to e2e tests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-09-02 01:58] #2605 closed

[2022-09-02 07:12] andyzhangx commented on #2619
thanks, filed an issue here: https://github.com/kubernetes-sigs/image-builder/issues/960

[2022-09-02 07:12] #2619 closed

[2022-09-02 10:27] grzesuav commented on #2610
@CecileRobertMichon not really, it is fully qualified resource id, so it links to  `vmss` and `id` (as a number) of the virtual machine. There is no VM name there

[2022-09-02 16:39] jackfrancis commented on #2610
@grzesuav I think in the sense that you're talking about, there *is* no VM name associated with a VMSS instance. The "VMSS + instance" *is* the canonical unique reference to the underlying VM.

Sorry in advance if I'm misunderstanding things...

[2022-09-02 16:56] CecileRobertMichon commented on #2610
Side note: this might be a more appropriate issue for https://github.com/Azure/AKS/issues, as I imagine you'd want all AKS clusters to have that label, not just the ones built from CAPZ

[2022-09-02 17:59] nojnhuh opened #2625 "Expose AKS preview features"
***Goals***
1. Determine a method for making AKS preview features consumable through CAPZ like GA AKS features

***Non-Goals/Future Work***
1. Implement every AKS preview feature
1. Guarantee the stability of AKS preview features in CAPZ beyond what AKS itself supports
1. Determine how to handle preview features of other APIs used for self-managed clusters

**User Story**

As a user I would like t

[2022-09-02 18:06] nojnhuh commented on #2498
Since we haven't added any AKS preview features yet to CAPZ, there's some work we need to do yet to determine how those should be implemented generally which is being tracked in #2625. Once that's done, this looks like it would be a great first preview feature to implement!

/unassign

[2022-09-04 16:19] mtougeron commented on #2625
As a user I would love this functionality. Not being able to test preview features is a limitation that I'm bumping up against (e.g., BYO CNI).

Two high-level thoughts that I have on this:

1) How would we address api version compatibility? For example, if while a feature goes through the preview process there is a change to the interface, would we have to iterate on the apiVersion of the `AzureM

[2022-09-05 10:05] lzhecheng commented on #2359
@jackfrancis IIRC, this situation has been covered right? If so please close this issue. Thanks.

[2022-09-06 17:26] nojnhuh commented on #2266
/remove-lifecycle rotten
/assign

[2022-09-06 18:47] jackfrancis opened #2629 "Use kubescape security scan tests on all cluster tests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Let's aim to decide whether or not the kubescape tests are generally useful in the upcoming release cycle. IMO just running them against one cluster scenario is an appropriate way to evaluate the cost/benefit of this add'l test dependency. But we don't get real value out of the signal

[2022-09-06 18:47] jackfrancis commented on #2629
/assign @mboersma

[2022-09-06 22:30] #2617 closed

[2022-09-07 13:54] nawazkh commented on #2438
/assign

[2022-09-07 21:30] JefeDavis opened #2638 "Remote Peerings are left in a disconnected state instead of being deleted"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**

given the scenario:
  - Cluster is deployed with Capz
  - Resource group is owned by Capz
  - vnet peerings were specified to be created
  - the vnet peerings are to a vnet in a differnet resource group

when t

[2022-09-07 23:01] dkoshkin opened #2639 "Memory leak in the controller"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Deploy CAPZ `v1.3.2` and let it run for some time.
Memory leak in the controller even when there are no Azure/AKS clusters.

Here is a graph with just a sing

[2022-09-07 23:05] dkoshkin commented on #2639
I thought that maybe the way the KVs are appeneded to the slice may be causing an issue in Go and tried a similar approach to how its done in https://github.com/kubernetes/klog/blob/02fe3234c86b222bc85406122bd0d11acbe5363a/internal/serialize/keyvalues.go#L39-L42

But that just leads to a spiky memory leak. Notice how the spikes happen every 10 minutes, on a periodic reconcile.
<img width="1722" al

[2022-09-08 15:58] mboersma commented on #2625
Probably stupid question, but is it not possible to use the preview AKS API only in the managed cluster code? Or can we not vendor in both at the same time?

[2022-09-08 16:20] mboersma opened #2640 "Add `node-role.kubernetes.io/control-plane` toleration to CAPZ manager deployment"
/kind bug

In the Sept 1., 2002 CAPZ Office Hours meeting we agreed on the need to catch up with kubeadm changes for k8s v1.24.0, specifically that the control plane node taint has changed to `node-role.kubernetes.io/control-plane:NoSchedule`.

cc: @sonasingh46

[2022-09-08 16:29] mboersma commented on #2640
/help

[2022-09-08 16:33] mboersma commented on #2639
@dkoshkin this is excellent (not that there's a leak, but that you did this profiling work)!

I assume the problem exists in 1.4.2 and main as well, but when time permits I'll try `pprof` on that.

[2022-09-08 16:43] nojnhuh commented on #2625
The preview APIs exist side-by-side (at least in the same Go module) with the stable ones in the SDK from what I can see: https://github.com/Azure/azure-sdk-for-go/tree/ca4d22fbbacf9ddc32b42a14113b13ea3feb9ccd/services/preview. So it should be possible to do something pretty granular like:

[code]

[2022-09-08 21:09] #2295 closed

[2022-09-08 22:18] #1534 closed

[2022-09-10 16:40] #1840 closed

[2022-09-10 19:43] #2229 closed

[2022-09-11 17:51] #2228 closed

[2022-09-12 18:09] willie-yao commented on #2571
@desek Do you have any further details on how to reproduce this issue like Cecile mentioned? I'm taking a look at the issue but I'm unable to reproduce the bug. Thanks in advance!

[2022-09-12 18:31] jackfrancis opened #2645 "Azure API calls: Rate Limiting and HTTP 429 backoff responses"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Let's introduce a set of standard interfaces that ensure we have reasonable rate limits in place for all Azure API calls, and that our we are properly sensitive to HTTP 429 'Retry-After' HTTP header responses from the Azure APIs.

**Anything else you would like to add:**
[Miscellaneou

[2022-09-12 18:32] jackfrancis commented on #2645
/assign

[2022-09-12 20:03] #1826 closed

[2022-09-12 22:11] willie-yao commented on #2514
/assign

[2022-09-13 08:14] sonasingh46 opened #2648 "Incorrect NodeOutBound LB name when AzureClusterName != ClusterName"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
In case when we want to specifically opt for a node outbound  loadbalancer and NOT the NATGateways the azuremachine reconcile fails with the following error

[2022-09-13 13:06] zmalik commented on #2266
thank you @nojnhuh for taking a look!
`nodePublicIPPrefixID` field on  `AzureManagedMachinePool` works for our use-case. I think keeping it simple would help us.
The whole public IP prefix resource would be nice if it can handle its creation also and that can be deferred to a separate feature request. And it can be or cannot be part of CAPZ, which we can bring it up also. I see it as a separate Az

[2022-09-13 14:45] dkoshkin commented on #1448
For anyone else who has found this issue and is still seeing an error when installing Calico with an Operator, the autodetection is still not perfect https://github.com/projectcalico/calico/issues/4727 and may need to be override manually.

You can do so by setting `featureDetectOverride: ChecksumOffloadBroken=true` and creating it as follows. (The rest of the values are created by `quay.io/tigera

[2022-09-14 16:54] jayesh-srivastava opened #2651 "Fix repetitive cluster events"
/kind feature

**Describe the solution you'd like**
In case of normal cluster creation, there are some events such as 'successfully reconciled' and 'agent pool successfully reconciled' which continuously and unnecessarily pop up as individual events making it hard for a dev to keep track and debug. If this makes sense, we can club together or even omit these events for better visibility.

**Anythi

[2022-09-14 18:21] #2640 closed

[2022-09-15 12:21] desek commented on #2571
We use MachineHealthCheck, yes. I'm assuming this is the one triggering the delete since we don't do it manually.

I can provide repro manifests in a couple of days. But in essence you can reproduce this by deploying Availability Zone pinned Spot instance VM with GPU in northeurope.

[2022-09-15 16:18] nojnhuh commented on #2625
/assign

[2022-09-15 18:04] marosset commented on #2338
/remove-lifecycle stale

I ran into this again (on a few attempts) against https://github.com/kubernetes/kubernetes/pull/111332

[2022-09-15 19:18] h0tbird opened #2656 "AKS Cluster must have at least one system pool unless it is being clusterctl-moved"
/kind bug

**What steps did you take and what happened:**

1.  Create a local `kind` cluster.
2. Set `EXP_MACHINE_POOL=true` and `EXP_AKS=true`.
3. `clusterctl init` with `--infrastructure azure`.
4. `clusterctl generate cluster` with `--flavor aks`.
5. Init the target cluster (same as 3).
6. `clusterctl move` from local `kind` to target AKS.
7. Notice the error below:
[code]

**What did you expec

[2022-09-15 19:43] mboersma commented on #2651
/milestone next

[2022-09-15 19:48] mboersma commented on #467
/remove-lifecycle rotten

[2022-09-16 07:15] #2648 closed

[2022-09-19 08:11] sonasingh46 opened #2659 "AzureCluster object gets updated continuously while using cluster class"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I created a cluster using cluster class and observed that AzureCluster object gets updated continuously by the topology controller.
Pasting the kubectl descr

[2022-09-19 08:18] sonasingh46 commented on #2659
Putting more info, just for the record ( thinking it might help people in this context )

When the above mentioned azure cluster template is applied it gets defaulted and following is what is written to etcd:

[code]

[2022-09-19 13:12] lzhecheng commented on #2403
/remove-lifecycle stale

[2022-09-19 20:43] CecileRobertMichon commented on #2656
/area managedclusters

[2022-09-19 20:47] CecileRobertMichon commented on #2614
This is fixed and workaround was reverted https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2630

/close

[2022-09-19 20:47] #2614 closed

[2022-09-20 15:22] #1674 closed

[2022-09-20 15:22] #2241 closed

[2022-09-20 17:42] CecileRobertMichon commented on #2319
/remove-lifecycle rotten

[2022-09-21 16:20] CecileRobertMichon commented on #2269
/remove-lifecycle rotten

[2022-09-21 16:24] CecileRobertMichon commented on #2269
/help

[2022-09-21 16:24] CecileRobertMichon commented on #2656
/help

[2022-09-21 16:24] CecileRobertMichon commented on #2638
/help

[2022-09-21 16:25] CecileRobertMichon commented on #2611
/help

[2022-09-21 16:55] #2651 closed

[2022-09-22 03:28] mogliang opened #2660 "Enable CAPZ to deploy cluster on Azure Public MEC"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I'd like to make CAPZ able to deploy cluster on [Azure Public MEC](https://azure.microsoft.com/en-us/solutions/public-multi-access-edge-compute-mec).

Since Azure Public MEC share same Azure RP with public azure, and azure api is exactly the same, the expected change is little:
 - Add

[2022-09-22 23:11] CecileRobertMichon commented on #2269
/assign
/remove help

[2022-09-22 23:11] CecileRobertMichon commented on #2269
/remove-help

[2022-09-26 15:53] #2019 closed

[2022-09-26 19:27] jackfrancis commented on #2330
/remove-lifecycle rotten

[2022-09-26 21:56] #2269 closed

[2022-09-26 22:12] nawazkh commented on #2438
@dkoshkin We do not see this error on latest version of CAPZ, would advise you to use/upgrade to latest version.
This was fixed as part of PR https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2168

[2022-09-27 00:12] CecileRobertMichon opened #2670 "Migrate to `sdk/resourcemanager/**/arm**` from `services/**/mgmt/**`"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Some of the azure-sdk-for-go packages used have been deprecated and replaced with newer versions of the libraries. Ref: https://github.com/Azure/azure-sdk-for-go/blob/main/documentation/MIGRATION_GUIDE.md for migration.

**Anything else you would like to add:**
[Miscellaneous informat

[2022-09-27 12:27] mweibel opened #2671 "Deleting VMSS does not continue if previous long running operation fails"
/kind bug

**What steps did you take and what happened:**
1. have a machinepool which can not join a cluster (bootstrap token expired or simply override kubeadm join command with something invalid)
2. scale up machinepool
3. notice instance can not join the cluster and fails with bootstrapping error
4. try to delete machinepool

At this point the AzureMachinePool still has the LongRunningOperation

[2022-09-27 14:07] nawazkh commented on #2438
/close

[2022-09-27 14:25] dkoshkin commented on #2438
Verified its working now thanks!
[code]

[2022-09-27 14:25] #2438 closed

[2022-09-27 21:51] CecileRobertMichon commented on #2671
This should get fixed by #2665

cc @nojnhuh

[2022-09-27 21:53] CecileRobertMichon opened #2673 "Add resource health and service health in AzureManagedCluster status"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

AzureManagedCluster provides a way to create AKS clusters, but the health status of AzureManagedCluster CR can be improved by incorporating Resource Health Check & Service Health status that are already available for AKS clusters on Azure.

Resource Health documentation: https://docs.

[2022-09-28 00:21] jackfrancis opened #2674 "Retry-After data should be evaluated in Azure API responses"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We want to ensure that we are taking a proper accounting of all Azure API request responses for the presence of `Retry-After` header data.

In particular, in `azure/services/async/async.go` there are code paths that communicate with Azure to determine whether or not a long-running ope

[2022-09-28 00:28] jackfrancis commented on #2674
/assign

cc @CecileRobertMichon

[2022-09-28 19:23] LochanRn commented on #1599
/assign LochanRn

[2022-09-28 23:12] willie-yao opened #2681 "E2E test scripts should not edit files outside of gitignore"
/kind feature
**What steps did you take and what happened:**
1. Run the E2E test script `./scripts/ci-e2e.sh`.
2. Observe that files `manager_pull_policy.yaml` and `manager_image_patch.yaml` in `config/default` have been changed automatically.

**What did you expect to happen:**
The test script should not edit files that can be committed. This results in many unintended changes to be committed, an

[2022-09-28 23:35] Jont828 commented on #1899
Sorry I forgot about this, I can take a look and work on this soon.

[2022-09-28 23:35] Jont828 commented on #1899
/assign

[2022-09-29 11:26] mweibel opened #2683 "MachinePool bootstrap token do not get refreshed automatically when VMSS is manually/externally scaled"
/kind bug

**What steps did you take and what happened:**
A cluster with MachinePools and [externally managed autoscaler](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2588) is necessary for this bug to appear.

The reconciliation loop for AzureMachinePool does not automatically refresh bootstrap tokens once they get rotated. Writing of new bootstrap tokens into custom data is

[2022-09-29 12:51] LochanRn commented on #1599
@CecileRobertMichon  @nprokopic @jackfrancis for this use-case I was thinking about keeping the existing implementation as it is and add additional spec in AMMP. The vnet and subnet details provided in AMCP can be used as default vnet if the user does not provide any VNET in ammp. This will not require a migration logic as well.

Different Scenarios:

1. If a user does not provide any vnet, capz c

[2022-09-29 13:12] mweibel commented on #2671
true. I didn't validate it but reading the code this should be fixed by #2665.
Thanks. Closing.

[2022-09-29 13:12] #2671 closed

[2022-09-29 16:28] CecileRobertMichon commented on #2656
/milestone v1.6

[2022-09-29 16:28] mboersma commented on #2681
/milestone v1.6

[2022-09-29 16:28] CecileRobertMichon commented on #2221
/milestone v1.6

[2022-09-29 16:28] CecileRobertMichon commented on #2554
/milestone v1.6

[2022-09-29 16:28] mboersma commented on #2674
/milestone v1.6

[2022-09-29 16:32] mboersma commented on #2645
/milestone v1.6

[2022-09-29 16:33] CecileRobertMichon commented on #2571
This was fixed by #2665

/close

[2022-09-29 16:33] #2571 closed

[2022-09-29 16:34] mboersma commented on #2621
/milestone v1.6

[2022-09-29 16:35] mboersma commented on #2610
/close

@grzesuav please open this against AKS, where the change would be more appropriate.

[2022-09-29 16:35] #2610 closed

[2022-09-29 16:38] mboersma commented on #2587
/assign @LochanRn

[2022-09-29 16:38] mboersma commented on #2587
/milestone v1.6

[2022-09-29 16:39] mboersma commented on #2570
/help

[2022-09-29 16:41] mboersma commented on #2570
/milestone v1.6

[2022-09-29 16:45] nawazkh commented on #2656
/assign

[2022-09-29 16:47] mboersma commented on #915
/milestone v1.6

[2022-09-29 16:47] mboersma commented on #2659
/assign @jackfrancis

[2022-09-29 16:49] jackfrancis commented on #2460
/assign

[2022-09-29 16:50] nojnhuh commented on #2266
/milestone v1.6

[2022-09-29 17:31] AAkindele opened #2684 "Add support for ClusterClass and managed clusters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add support for using ClusterClass when working with managed AKS clusters. Ideally, there would be a flavor for AKS that uses ClusterClass to make is easier for first time users to get started with ClusterClass and managed clusters.

**Anything else you would like to add:**
[Miscellan

[2022-09-29 18:14] mboersma commented on #2266
/milestone v1.6

[2022-09-29 18:32] CecileRobertMichon commented on #1599
@LochanRn to clarify, does AKS let you set one VNET per agent pool, or is it one _subnet_ per agentpool? My understanding is that it's the latter. If so, we can do something similar to AzureCluster/AzureMachinePool: VNET is defined in the AzureCluster, and each AzureMachinePool has its own subnet name https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/exp/api/v1beta1/azuremach

[2022-09-29 20:03] willie-yao opened #2685 "Documentation topics should be in alphabetical order"
/kind feature

**Describe the solution you'd like**
In the CAPZ documentation, the topics [summary](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/docs/book/src/SUMMARY.md) aren't listed in a consistent format. Some topics follow an alphabetical order while others do not. These should be re-organized to be in alphabetical order.

[2022-09-29 20:07] willie-yao commented on #2685
/good-first-issue

[2022-09-29 21:32] ritesh-karankal commented on #2685
Hello @willie-yao,
I would like to work on this.
Are the below topics in the correct order?

AAD Integration
API Server Endpoint
Cloud Provider Config
Control Plane Outbound Load Balancer
Custom Images
Custom Private DNS Zone Name
Data Disks
Dual-Stack
Externally managed Azure infrastructure
Failure Domains
Flannel
Getting Started
GPU-enabled Clusters
Identity use cases
IPv6
Machine Pools (VMSS)
M

[2022-09-29 21:41] willie-yao commented on #2570
/assign

[2022-09-29 22:09] willie-yao commented on #2685
@ritesh-karankal Thanks for working on this! One thing is that we want to keep "Getting Started" and "Troubleshooting" as the first two topics, then sort the rest alphabetically. Besides that it looks good. I wasn't super clear on that and that's on me!

[2022-09-29 22:13] willie-yao opened #2686 "Add skipLogCollection flag to E2E tests"
/kind feature

**Describe the solution you'd like**
In order to add more flexibility to running E2E tests locally, we should add a skipLogCollection flag to the E2E test options. This is also a temporary solution to tests taking an extremely long time to run on local dev environments with Azure subscriptions that block SSH.

**Anything else you would like to add:**
[Miscellaneous information that

[2022-09-29 22:13] willie-yao commented on #2686
/assign

[2022-09-29 23:56] #2221 closed

[2022-09-30 13:19] LochanRn commented on #1599
@CecileRobertMichon It expects a vnet-subnet-id 😅
https://github.com/Azure/azure-sdk-for-go/blob/4dbc884ed47f19c14c6beb157aa2efca9cd66c8d/services/containerservice/mgmt/2021-05-01/containerservice/models.go#L1298

and the VnetSubnetId is created based on vnet and subnet
https://github.com/spectrocloud/cluster-api-provider-azure/blob/c2dd3b44a3e527ce1d8a9cde97f592c747f3a050/azure/defaults.go#L230

[2022-09-30 18:31] willie-yao commented on #2570
@desek Thanks for requesting this feature! There is a previous PR #2580 that added support for configurating spot eviction policies. However, it is based on whether the OsDisk is an ephemeral disk or not. Does this satisfy your requirements, or would it be better to add a separate `evictionPolicy` option in `spotVMOptions`?

[2022-09-30 20:24] LochanRn commented on #1599
okay, my bad sorry i wrongly interpreted it. 😅

[2022-09-30 21:48] mboersma opened #2693 "Periodic upgrade jobs broken in testgrid"
/kind bug

**What steps did you take and what happened:**

All the capz-periodic-upgrade-main-* jobs on CAPZ's [testgrid dashboard](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure) are broken. No workload clusters are being provisioned. Testgrid points the finger at [these changes](https://github.com/kubernetes-sigs/cluster-api-provider-azure/compare/89b354a2c...4c28715a5?

[2022-10-01 22:51] #1832 closed

[2022-10-02 21:56] #1279 closed

[2022-10-03 08:09] desek commented on #2570
For our use case we would require explicit configuration of `evictionPolicy`. But I can see that this is already worked on. :)

[2022-10-03 19:12] mboersma opened #2696 "capz-periodic-e2e-full-main CI job failing"
/kind bug

**What steps did you take and what happened:**

In testgrid, the [capz-periodic-e2e-full-main](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-e2e-full-main) job began failing after the [custom VM extensions](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2631) PR got merged. Here is [the log](https://prow.k8s.io/view/gs/kuberne

[2022-10-03 19:13] mboersma commented on #2696
/assign @willie-yao

[2022-10-03 19:14] willie-yao commented on #2696
/assign

[2022-10-03 19:18] mboersma commented on #2693
Our theory is that we're getting a "name longer than 63 chars" error trying to create a resource from the string created [here](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/controllers/helpers.go#L605), which is new code added in #2661.

cc: @CecileRobertMichon

[2022-10-03 19:21] mboersma opened #2697 "capz-periodic-e2e-full-v1beta1-minus-1 CI job fails to delete AKS cluster"
/kind bug

**What steps did you take and what happened:**

This new CI job has [never passed](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-e2e-full-v1beta1-minus-1). Digging into the logs, we see that the AKS test cluster fails to delete:

[code]

I gather this is a known issue we were not able to pinpoint, but which is fixed in the main branch.

**What di

[2022-10-03 19:23] willie-yao commented on #2696
I'm not exactly familiar with clusterclass, but I saw that there were no AzureMachines or AzureMachinePools in the template spec. If that's the case, I don't think I should be adding the custom vm extension test to the clusterclass test. This is most likely the source of the issue. Pinging @CecileRobertMichon @jackfrancis to make sure this is the case.

[2022-10-03 19:30] jackfrancis commented on #2693
Is this a 63 char limit a CRD limitation?

[2022-10-03 19:33] jackfrancis commented on #2696
@willie-yao I would try to reproduce the test locally with and without the additional VM extensions foo.

`AZURE_LOCATION=eastus GINKGO_FOCUS="Creating clusters using clusterclass" SKIP_CLEANUP=true ./scripts/ci-e2e.sh`

Are we really using a "naked" Cluster (no actual machines) to test ClusterClass?

[2022-10-03 19:40] mboersma commented on #2693
Not sure exactly where it's being validated @jackfrancis, but here's an error from the capz-controller-manager log for one [failed job](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-cluster-api-provider-azure-e2e-workload-upgrade-1-22-1-23-main/1576388748772380672):

[code]

[2022-10-03 19:49] jackfrancis commented on #2693
Indeed this 8 bit requirement is all over kubernetes source, we should be able to fix w/ a less onerous name in our tests, or a more concise concatenation strategy.

Good find @mboersma!

[2022-10-03 21:46] CecileRobertMichon commented on #2205
@sonasingh46 is this something you're still working on?

Now that workload identity supports managed identity and identity federation, this would allow us to use managed identities even for management clusters not in Azure (eg. kind clusters!) https://github.com/Azure/azure-workload-identity/issues/325

[2022-10-03 21:55] CecileRobertMichon commented on #2697
@jackfrancis this is the same failure we've observed before. It seems to only affect release-1.4 currently, release-1.5 and main branch are not having the same issue.

[2022-10-03 21:56] willie-yao commented on #2696
@jackfrancis It passes when the test is removed, and fails when it isn't. I think we should remove it for now since I don't think the test actually tests anything for the clusterclass.

[2022-10-03 21:57] CecileRobertMichon commented on #2696
No, worker machines are defined here: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/test/ci/cluster-template-prow-topology.yaml#L44

[2022-10-03 21:57] jackfrancis commented on #2696
sgtm

[2022-10-03 21:58] jackfrancis commented on #2696
@willie-yao let's remove it for now and file an issue that we need to backfill test coverage of vm extensions for clusterclass E2E scenarios

[2022-10-03 21:59] CecileRobertMichon commented on #2696
The error message implies we're not even finding the resource group:

[code]

Is it possible clusterclass resource group name is different from other tests and that's why we can't list machines?

[2022-10-03 22:02] willie-yao commented on #2696
Hmm that's interesting, I actually missed that part of the error message and I'll look into it further.

[2022-10-03 22:16] willie-yao commented on #2696
@CecileRobertMichon Looks like there is another set of generated characters following the 'capz-e2e-2tk088-cc', which is different from the other tests. Other tests' resource group name is the same as the cluster name, but it looks like it's different for clusterclass.

[2022-10-03 23:16] CecileRobertMichon commented on #2693
/assign

The root cause here is that finalizer string length that I added for AzureClusterIdentity has variable length: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/controllers/helpers.go#L605

It's currently in the format:

[code]

where prefix is the api group of the owning cluster (either `azurecluster.infrastructure.cluster.x-k8s.io` or `azuremanagedcontrolplane.infr

[2022-10-03 23:26] jackfrancis commented on #2693
@CecileRobertMichon what's the typical finalizer naming convention?

[2022-10-04 05:26] sonasingh46 commented on #2205
I had given some first pass time on this issue and then paused for some time on this.
By the way, the info you shared sounds great and I can start on this again asap.
I think the first step would be to start with a design document for this and I would love to do this.

[2022-10-04 14:52] willie-yao commented on #2696
Looks like the cluster class resource groups have an additional code appended to the standard resource group name. Other resources just use the clusterName as the resource group name. I'll try and see how to account for that in my test.

[2022-10-04 15:09] willie-yao commented on #2696
Is there a reason why the cluster name is different from the resource group name for the clusterclass? I can't find a way to get the resource group name from the E2E test files, so maybe we should be keeping the naming consistent.

[2022-10-04 17:47] jackfrancis opened #2701 "Change `AzureManagedControlPlane.ResourceGroupName` to `AzureManagedControlPlane.ResourceGroup`"
**User Story**

As a [developer/user/operator] I would like to [high level description] for [reasons]

As a user I would like to have the declarative interface define a consistent configuration property for "Azure resource group".
As a maintainer I would like to maintain similar configuration across the type system using a consistent naming convention.

**Detailed Description**

[A clear and conci

[2022-10-04 18:06] willie-yao commented on #2696
I updated #2698 to get the resource group name correctly, instead of using the clusterName as the resource group name. This should solve the problem.

[2022-10-04 21:40] #2685 closed

[2022-10-04 23:04] #2686 closed

[2022-10-04 23:06] CecileRobertMichon commented on #2701
/area managedclusters

[2022-10-05 00:34] #2693 closed

[2022-10-05 03:52] #2696 closed

[2022-10-05 15:58] mboersma commented on #2696
The clusterclass test spec in this job [passed](https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-azure#capz-periodic-e2e-full-main) (unrelated tests failed unfortunately) Nice work @willie-yao!

[2022-10-05 21:08] jackfrancis commented on #2359
@lzhecheng I'm not sure we have a separate job for this. The job you link to calls `ci-entrypoint.sh` with no args. Is that what we want to fulfill this issue?

[2022-10-06 00:43] lzhecheng commented on #2359
It has been a while and the situation has changed a lot so let's forget that link : )

cloud-provider-azure CI jobs are consuming `latest-xxx` but we need a presubmit job in capz to avoid breaking those jobs. It can be a new one or be integrated into an old one. If we don't have it right now, I think we should keep the issue open.

[2022-10-06 17:47] CecileRobertMichon commented on #2684
/area managedclusters

[2022-10-06 17:56] CecileRobertMichon commented on #2684
Thanks for opening this issue @AAkindele!

The main change required to get ClusterClass working with managed clusters is going to be to add  `AzureManagedClusterTemplate` and `AzureManagedControlPlaneTemplate` as described in  https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20210526-cluster-class-and-managed-topologies.md#provider-implementation

In addition, we also need t

[2022-10-06 20:25] willie-yao commented on #2319
/assign

[2022-10-07 08:05] sonasingh46 commented on #2659
/assign sonasingh46

[2022-10-07 22:40] jackfrancis opened #2712 "AzureManagedCluster: mark cluster as "read-only" during upgrade"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I'm able to initiate an AKS upgrade by changing the `spec.version` field in the `azuremanagedcontrolplane` resource. By changing that value to a version of Kubernetes that is supported in that region (and larger than the current version), a long-running AKS operation begins, during wh

[2022-10-07 23:27] jackfrancis opened #2713 "AzureManagedCluster: upgrade control planes first"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

At present you can initiate discrete upgrade operations against the AzureManagedControlPlane (which updates the version of Kubernetes that the AKS managed control plane runs) or individual MachinePools (which updates the version of Kubernetes that nodes in that pool run).

The officia

[2022-10-09 21:09] #1782 closed

[2022-10-10 17:40] jackfrancis commented on #2204
A brief status update:

https://github.com/kubernetes-sigs/cluster-api/pull/6988 has merged

A proposal that outlines graduation out of experimental is here:

- https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2602

[2022-10-10 21:49] #2460 closed

[2022-10-11 00:27] Jont828 commented on #1899
@CecileRobertMichon @karuppiah7890 I'm currently taking a look at this and I had a couple things to clarify.
1. Is the public IP scope in this case just the resource ID?
2. Is the intended change to initialize the [tags client](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/azure/services/tags/client.go) and use that instead?

[2022-10-11 00:36] CecileRobertMichon commented on #1899
/remove-lifecycle rotten

1. Yes, it should be
2. Yes exactly. There is already a `GetAtScope` function we can use.

[2022-10-11 00:38] CecileRobertMichon opened #2719 "async scalesets refactor"
We should refactor the scaleset service to reuse the `async.go` framework instead of using its own implementation.

This might need to wait until #999 is done first so it doesn't interfere.

[2022-10-11 00:38] CecileRobertMichon opened #2720 "async scalesetvms refactor"
We should refactor the scalesetvms service to reuse the async.go framework instead of using its own implementation.

This might need to wait until https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/999 is done first so it doesn't interfere.

[2022-10-11 00:39] Jont828 commented on #1899
Okay sounds good. I'll revisit #2210 as well and see if we can make some changes to the tags service to make it easier to use here.

[2022-10-11 00:40] CecileRobertMichon commented on #2719
/cc @mboersma

[2022-10-11 00:41] CecileRobertMichon commented on #2720
/cc @mboersma

[2022-10-11 00:41] CecileRobertMichon commented on #2142
@Jont828 is this still something we want to do?

[2022-10-11 00:42] CecileRobertMichon commented on #1702
@Jont828 I'm going to close this one since all the services are technically "async" now, and the few remaining cleanups/refactor to adopt the same patterns are all tracked in their own issues. Great work! 🚀

/close

[2022-10-11 20:42] CecileRobertMichon commented on #2205
@sonasingh46 I'm going to mark this for the current release milestone given that you're working on it, if it's too tight we can move it to the next one (the next release date is ~1 month away)

/milestone v1.6

[2022-10-11 22:46] #2570 closed

[2022-10-12 00:08] Jont828 commented on #2142
I think we're fine to close this since it doesn't really fit with the async framework of most Azure resources.

[2022-10-12 00:08] #2142 closed

[2022-10-12 00:45] CecileRobertMichon opened #2722 "AzureMachinePool UX: stays in Updating state until CNI is installed"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Create a cluster with "machinepool" flavor following quickstart instructions:

` export WORKER_MACHINE_COUNT=1`
`clusterctl generate cluster test-mp --flavo

[2022-10-12 01:06] #2587 closed

[2022-10-12 15:42] thiDucTran opened #2723 "Cluster API Provider Azure with Cilium"
I created https://github.com/cilium/cilium/issues/21678 as I think probably the issue is more with Cilium.

But posting here for a 2nd look.

---

HI, I am trying to create k8s clusters in Azure (not AKS) using these links as guide: https://cluster-api.sigs.k8s.io/user/quick-start.html , https://capz.sigs.k8s.io/topics/getting-started.html , and https://blog.scottlowe.org/2021/10/07/installing-cil

[2022-10-12 16:38] nojnhuh commented on #2673
/assign

[2022-10-12 17:43] #2659 closed

[2022-10-12 17:46] mboersma commented on #2722
/assign

[2022-10-12 17:53] mboersma commented on #2722
I tried this with `main` and `make tilt-up` + the machinepool flavor from Tilt, and it behaved correctly within a few minutes:

[code]

I'll try again specifically with v1.5.1 and the quickstart route.

[2022-10-12 19:38] mboersma commented on #2722
I can repro by following the quick start:

[code]

[2022-10-12 20:43] thiDucTran commented on #2723
I even tried to create the cluster with no CNI  (stopping at step https://cluster-api.sigs.k8s.io/user/quick-start.html#deploy-a-cni-solution)

After that I used both `helm` and `cilium` CLI method to install...same error....the error is mentioned in https://docs.cilium.io/en/stable/gettingstarted/kind/ ....but I am not understanding how my case is related to kind

[code]

[2022-10-12 22:02] nojnhuh commented on #2673
A couple questions I have as I'm getting acquainted with these health services:
- At a high level, what information do we want to expose in CAPZ? It looks like the API exposes "availability statuses," "emerging issues," "events," "metadata," and "operations." I haven't taken a deep dive to figure out exactly what each of those means yet, but some guiding principles for what we want would be helpfu

[2022-10-12 22:52] CecileRobertMichon commented on #2722
have you tried with tilt + v1.5.1 tag? Just to know if this is a tilt vs. clusterctl or v1.5.1 vs main branch difference

[2022-10-13 15:45] mboersma commented on #2722
The template generated by `clusterctl generate cluster test-mp --flavor machinepool` is basically identical to that generated by clicking the "machinepool" link in CAPZ Tilt. I just wanted to rule that out as a difference. I'll use the "known working" cluster template for further testing regardless.

[2022-10-13 16:48] mboersma commented on #2645
/close

This turns out not to be needed because we have rate limiting in the SDK and a sane way to do this already in CAPI.

[2022-10-13 16:48] #2645 closed

[2022-10-13 16:50] zmalik opened #2724 "add support for linux OS configuration for managed nodepools [AKS]"
/kind feature

**Describe the solution you'd like**
Add support for the linuxOS Configuration in `AzureManagedMachinePool`.

This can help to create custom OS configuration which AKS already allows to its users.

**Anything else you would like to add:**

**Environment:**

- cluster-api-provider-azure version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-10-13 19:20] mboersma commented on #2722
I'm seeing this behavior (AzureMachinePoolMachines come up but the AzureMachinePool stays stuck at "updating") if I don't install Calico as recommended for Azure in the [Quick Start](https://cluster-api.sigs.k8s.io/user/quick-start.html#deploy-a-cni-solution). Once I install the manifest and Calico starts running, both AMP resource types soon move to `READY=true` and `STATE=Succeeded`.

Maybe ther

[2022-10-13 19:25] AAkindele commented on #2684
This issue about MachinePool, <https://github.com/kubernetes-sigs/cluster-api/issues/5991>, is referenced in the Managed Kubernetes proposal here, <https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20220725-managed-kubernetes.md#clusterclass-support-for-machinepool>. Would this be a blocker to adding ClusterClass managed cluster support?

@CecileRobertMichon, for the breaking

[2022-10-13 21:27] CecileRobertMichon commented on #2684
Yes that would be required since AKS only supports MachinePools (not MachineDeployments). Good catch!

That proposal / implementation for CAPZ + AKS doesn't exist yet, and no I don't know which fields would be moved off the top of my head, but the changes needed are described here from a GCP perspective: https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20220725-managed-kuber

[2022-10-13 21:30] CecileRobertMichon commented on #2684
I think the first step would be a detailed issue or design doc that describes: what is the current state of the CAPZ AzureManagedCluster API, what exact field changes would be needed to implement [the recommendations made by CAPI ](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20220725-managed-kubernetes.md#option-3-two-kinds-with-a-managed-control-plane-and-managed-infra

[2022-10-14 16:40] thiDucTran commented on #2723
this seems to be an IP confict on our end when subnetting. sorry all

[2022-10-14 16:40] #2723 closed

[2022-10-14 16:50] jackfrancis commented on #2723
No apologies necessary, perhaps this info will help someone else when searching through the historical issue queue, thanks for being thorough!

[2022-10-14 17:05] jackfrancis commented on #2621
@mtougeron quick question about the stated scope in the issue description:

Is the reason why this is not appropriate for BYO VNET because in those scenarios the various service endpoint configurations will have already have been defined? And maintaining those over time within the non-capz-managed VNET is something the user will continue to be able to do independently?

[2022-10-14 17:26] jackfrancis commented on #1685
/remove-lifecycle rotten

[2022-10-14 17:29] jackfrancis commented on #1876
@CecileRobertMichon @willie-yao is this still an issue?

[2022-10-14 17:51] jackfrancis commented on #2382
/remove-lifecycle rotten

@josh-ferrell now that #2369 is done, would you like to take this on?

[2022-10-14 17:52] jackfrancis commented on #2169
I think we can close this. @dtzar @CecileRobertMichon please re-open if I'm wrong

[2022-10-14 17:52] #2169 closed

[2022-10-14 18:02] CecileRobertMichon commented on #1876
From what I can remember, it's not completely fixed but it's improved. All tests run in parallel now so we at least get some logs for all clusters but we still have the issue where the first test that returns interrupts log collection and we loose logs for the ones still running.

[2022-10-14 18:13] CecileRobertMichon commented on #2723
@thiDucTran thanks for keeping us posted! I'm planning on adding some instructions to docs on setting up Cilium and maybe an e2e test too

[2022-10-14 18:20] #2266 closed

[2022-10-14 18:21] mtougeron commented on #2621
Correct. IMO if the user is already maintaining the Vnet/Subnet outside of CAPZ, they should maintain all aspects of the Vnet/Subnet outside of CAPZ. Otherwise we could end up in a situation where CAPZ and tool "z" both end up trying to reconcile the state based on different definitions.

[2022-10-14 18:26] jackfrancis commented on #1876
/remove-lifecycle stale

[2022-10-14 18:28] jackfrancis commented on #1660
/remove-lifecycle stale

[2022-10-14 18:29] jackfrancis commented on #1267
/remove-lifecycle stale

[2022-10-14 18:30] jackfrancis commented on #1532
/reopen
/remove-lifecycle rotten

[2022-10-14 18:31] jackfrancis commented on #1532
/help-wanted

[2022-10-14 18:34] jackfrancis commented on #1125
/remove-lifecycle rotten

[2022-10-14 18:35] jackfrancis commented on #1860
/reopen
/remove-lifecycle rotten

@jsturtevant I assume we're not able to close this issue yet

[2022-10-14 18:43] jackfrancis commented on #2359
@lzhecheng here's a link to the most recent (as of now) run of the capz presubmit job:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/2495/pull-cluster-api-provider-azure-ci-entrypoint/1580979430652645376/build-log.txt

It built a 1.23.9 cluster. Are we saying that we want to update the job spec that runs this job to use a different "late

[2022-10-14 20:12] mboersma opened #2727 "Add race detector toggle for Tilt binaries"
/kind feature

**Describe the solution you'd like**

From Go's documentation for the [data race detector](https://go.dev/doc/articles/race_detector):

Let's add a `RACE_DETECTOR` option for Tilt to build binaries with the `-race` flag.

**Anything else you would like to add:**

See also #2646

[2022-10-14 20:17] mboersma commented on #2727
/help
/good-first-issue
/priority backlog

[2022-10-14 20:35] willie-yao commented on #1876
@jackfrancis As a side note for developers looking to run the E2E tests locally but don't want to wait for all the logs to timeout, I added a `skipLogCollection` flag to the E2E test inputs in #2687

[2022-10-14 20:39] willie-yao commented on #1876
Whoops I thought I was on a separate issue, disregard my last comment. I didn't work on this directly and thought we were referencing the issue with log collection timing out.

[2022-10-14 21:42] thiDucTran commented on #2723
hi for full clarity I changed the CIDR as below and cilium + hubble was installed fine (passing connectivity test etc) ...which is why I deduced it to being some IP conflict with another associate of mine that is also playing with CAPI using all defaults (not specifying CIDR blocks etc..)

In conjunction with CRS, I saw that when installing `cilium` with CLI it also uses `helm` so I copied what `c

[2022-10-18 15:38] AAkindele commented on #2684
👍 Yep! I'm interested in helping out.

[2022-10-18 16:07] thiDucTran opened #2733 "No sudo access to the control plane VMs"
/kind bug

Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)? Yes

**What steps did you take and what happened:**
Followed instruction @ https://capz.sigs.k8s.io/topics/ssh-access.html#authentication as shown below.
* can SSH into control plane VM via Public LB IP but is prompted for password when doing `sudo`

[code]

**

[2022-10-20 00:17] CecileRobertMichon commented on #2684
PTAL @AAkindele @richardcase: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2739

We are going to discuss at tomorrow's CAPZ office hours (9am PT) if either of you are able to join. If not, feel free to leave your thought in the PR above async.

[2022-10-20 02:23] #2621 closed

[2022-10-20 23:09] #2326 closed

[2022-10-21 19:43] supershal opened #2746 "Failed to reconcile AzureMachine when compute gallery image is used"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
CAPZ version: 1.5.2
Create Azure cluster using [compute gallery id field](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/api/v1beta1/types.go#L352)

AzureMachine reconcile fails with fol

[2022-10-22 22:27] #2331 closed

[2022-10-23 00:29] #2332 closed

[2022-10-24 17:52] nawazkh commented on #2499
/remove-lifecycle stale

[2022-10-25 08:50] hungry1526 commented on #2660
Hi there, is this the right process to make feature proposal to support Azure Public MEC? For this type of proposal, would it be better to join the office hour and discuss or submit the PR directly as the change will likely be small. Thanks.

[2022-10-27 06:33] pkbhowmick commented on #2656
Hi @nawazkh,
Is there any update on it?

[2022-10-27 09:02] zioproto opened #2754 "make generate is broken when runs inside the gopath"
/kind bug

**What steps did you take and what happened:**

`make generate` does not work correctly when inside the GOPATH `go env GOPATH`.

Reproduce with the minimal container:

`docker run -ti --rm ubuntu /bin/bash`

In the container shell:

[code]
I also tried using the folder: `/root/go/src/sigs.k8s.io/cluster-api-provider-azure`

[code]

**What did you expect to happen:**

When I do the same

[2022-10-27 15:10] #2336 closed

[2022-10-27 16:30] nojnhuh commented on #2754
It looks like this is because `$GOPATH` isn't set, so `conversion-gen` is defaulting the output directory to `./` instead of `$GOPATH/src`. I can think of a few ways to address this:
- Document that `$GOPATH` needs to be set when working in `$GOPATH`
- `export` where we set `$GOPATH` in the Makefile: https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/2eaf60112db0f2f7e392b696b58cc6f

[2022-10-27 22:32] mboersma opened #2756 "Switch GPU tests and defaults off NV-series SKUs"
/kind bug

**What steps did you take and what happened:**

The current `Standard_NV6` SKU in use for GPU tests will be retired on August 31, 2023. See https://learn.microsoft.com/en-us/azure/virtual-machines/nv-series

We should switch to `Standard_NV12s_v3` as suggested in the migration guide.

This will involve mostly behind-the-scenes work ensuring quota for the CNCF account that is used in tes

[2022-10-28 06:58] zioproto commented on #2754
I confirm that doing
[code]
and using the folder with this exact name in my GOPATH:

[code]

fixes the issue.

Lets decide which action to take based on the options in comment https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2754#issuecomment-1293784952
because I spent sometime understanding why `make test` was not working. I would like new contributors to avoid having this ver

[2022-10-28 08:42] FreebeJan opened #2758 "Question about Azure flexible VM scale sets"
/kind feature

**Describe the solution you'd like**
Currently we have multiple node pools for spot and non-spot instances.
Mostly the spot instances are good enough for us, only to have a controllable guaranteed number of nodes no matter what the spot capacity/price currerntly is we use multiple pools.
We were wondering if in our case we could use flexible vmss to simplify our setup, e.g. having o

[2022-10-28 10:59] zioproto opened #2759 "Default MachinePool spec.replicas=0 default value is invalid"
/kind question

Generating the cluster resources with this command:
[code]
By default the `MachinePool` has 0 replicas.

[code]

The AKS cluster fails with `the value of parameter agentPoolProfile.count is invalid`

The number of replicas can be changed with the env var `WORKER_MACHINE_COUNT`. However the docs dont specify that this env variable is mandatory. https://capz.sigs.k8s.io/topics/manage

[2022-10-28 19:20] mboersma commented on #2759
This may be addressed by #2751.

[2022-10-30 16:46] invidian commented on #1238
/remove-lifecycle stale

[2022-10-30 22:43] #1455 closed

[2022-10-30 23:08] invidian commented on #2272
/remove-lifecycle stale

[2022-10-31 11:27] zioproto opened #2761 "Enable optional configuration for AKS nodepools: PodMaxPids"
/kind feature

**Describe the solution you'd like**

Implement the KubeletConfig `podMaxPids`
https://learn.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update?tabs=HTTP#kubeletconfig

podMaxPids, integer, The maximum number of processes per pod.

**Anything else you would like to add:**

This was implemented in the past in https://github.com/kubernetes-sigs/cluster-api-provider-azu

[2022-10-31 16:06] nojnhuh commented on #2761
/area managedclusters

[2022-10-31 16:49] #2315 closed

[2022-11-01 00:56] CecileRobertMichon commented on #2758
@mboersma

[2022-11-01 01:07] CecileRobertMichon commented on #2759
I don't think so, since the system pool with 0 replicas would still throw an error?

I believe clusterctl is the one that sets the default for worker count to 0. It's valid in other scenarios but in the case of AKS it's not since AKS requires at least one system node pool. TBH that variable only makes sense in the very basic quickstart scenario with only one machine pool, as soon as you start havi

[2022-11-01 15:12] mboersma commented on #2758
Supporting VMSS Flex in cluster-api-provider-azure is something we're actively working on, but it's not available yet. Spot instance support should work as [documented](https://capz.sigs.k8s.io/topics/spot-vms.html). The only restriction I see in the [flex docs](https://learn.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes?WT.mc_id=modinfra-31635

[2022-11-01 16:32] nawazkh commented on #2656
I haven't been able to make much progress on this, although I was able to reproduce it locally. Will unassign myself for now if anyone wants to pick it up, or I will get back on this later on.

[2022-11-01 16:32] nawazkh commented on #2656
/unassign

[2022-11-01 16:32] nawazkh commented on #467
/assign

[2022-11-01 16:43] pkbhowmick commented on #2656
I am assigning it to me. I faced this issue locally and I think, I can give a try.

[2022-11-01 16:44] pkbhowmick commented on #2656
/assign

[2022-11-01 19:05] dthorsen commented on #467
@nawazkh I am cleaning up [this PR](https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2411) as we speak. Working out a bug before I push.

[2022-11-01 19:35] CecileRobertMichon commented on #467
@dthorsen I started looking at this with @nawazkh a few weeks ago as we have an internal customer who is blocked on this, how close are you to get it ready for review again? Want to make sure we're not duplicating effort here but we have a tight deadline on this one

[2022-11-01 19:39] dthorsen commented on #467
Ah! I see! I intend to get what I have pushed up today. I believe I addressed nearly all feedback. A rebase will depend a bit on the number of conflicts, but probably could have it done by end of day tomorrow.

[2022-11-01 20:25] JoelSpeed commented on #2401
/remove-lifecycle stale

This is waiting on review

[2022-11-01 20:42] CecileRobertMichon commented on #467
@dthorsen that's great, if that's the case we'll help review and validate the PR for https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2327 and @nawazkh and I can follow up with an e2e test + doc on using Azure CNI to close out this issue

[2022-11-02 02:28] dthorsen commented on #467
@CecileRobertMichon @nawazkh I have pushed my commit. The tests are passing and I spun up a few workload clusters from tilt with various privateIPConfiguration counts, public IP allocation enabled/disabled, etc. I have to sign off for the night but let me know what you think tomorrow.

[2022-11-02 19:00] CecileRobertMichon opened #2769 "Adopt and test CAPI v1.3 with beta release"
This is an issue to track updating CAPI and the CAPI test framework to v1.3.0-beta.0 now that it is available.

https://kubernetes.slack.com/archives/C8TSNPY4T/p1667414755279279

Release: https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.3.0-beta.0
Migration guide: https://github.com/kubernetes-sigs/cluster-api/blob/v1.3.0-beta.0/docs/book/src/developer/providers/v1.2-to-v1.3.md

[2022-11-02 19:03] mboersma opened #2770 "Evaluate whether Kubescape security scanner is worth keeping"
/kind bug

**What steps did you take and what happened:**

We introduced the Kubescape security scanner in #1793. If the aggregate score was worse than a given threshold, the test failed.

But soon after, the score seemed to fluctuate for reasons that weren't obvious, so we adjusted the threshold so that it couldn't fail, and the test became purely informative.

The goal was still to polish up the

[2022-11-02 19:38] furkatgofurov7 commented on #2769
/assign

[2022-11-03 08:42] invidian commented on #2286
/remove-lifecycle stale

[2022-11-03 16:26] jackfrancis commented on #2674
Fixed in https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2688

[2022-11-03 16:26] #2674 closed

[2022-11-03 16:29] jackfrancis commented on #2769
/assign

[2022-11-03 16:31] jackfrancis commented on #2205
Moving this to the next milestone, but worth mentioning that we definitely want to prioritize this for 1.7 (let's not push it out indefinitely)

[2022-11-03 17:26] nawazkh commented on #2611
/assign

[2022-11-03 18:39] jackfrancis commented on #2697
This now affects all branches.

It appears that there is some correlation between large ginkgo test runs and the invocation of `sigs.k8s.io/cluster-api/test/frameworkDeleteAllClustersAndWait` in capz's `dumpSpecResourcesAndCleanup` convenience func. That convenience func is called a bunch of places, including in the `AfterEach` ginkgo interface. Perhaps there is so goroutine pathology somewhere.

[2022-11-03 21:27] nojnhuh commented on #2697
I ran both all the tests and just the AKS test locally and grabbed full capz-controller-manager logs from each run (using main, 0b057a692a2fb421be7cedb413ba724559d753fb). Deleting the AKS cluster in a test run by itself took ~15 minutes. Deleting the AKS cluster alongside all the other tests took ~29 minutes, so right up against the 30m timeout.

Breaking that down:

service | AKS alone | all test

[2022-11-04 16:43] CecileRobertMichon commented on #1775
/remove-lifecycle stale

[2022-11-04 21:08] jackfrancis commented on #2759
I agree this is documented mostly correctly, but in fact there are lots of issues w/ the example provided in the doc. This PR fixes those issues: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2776

[2022-11-04 23:58] #1899 closed

[2022-11-05 00:31] karansinghneu opened #2778 "Nodes fail to come up when using custom CA and Kubeconfig"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]
Yes

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Created a bootstrap kind cluster
2. Provisioned a Target Management Cluster that has a VM identity using ServicePrincipal
3. Bootstrap and pivot to Ta

[2022-11-05 00:40] karansinghneu opened #2779 "Documentation bug in UserAssignedManagedIdentity section of Multitenancy"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]
Yes
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Bug in the value of the field "type", the actual value should be "UserAssignedMSI" and not "ServicePrincipal"

https://capz.sigs.k8s.io/topics/multitenanc

[2022-11-05 00:44] karansinghneu opened #2780 "Documentation bug in Public IP section of API Server Endpoint"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
They value of the key should be "dnsName" and not "dns"
https://capz.sigs.k8s.io/topics/api-server-endpoint.html
apiVersion: infrastructure.cluster.x-k8s.io/

[2022-11-07 07:44] invidian commented on #2290
/remove-lifecycle stale

[2022-11-07 17:04] VibhorChinda commented on #1775
I want to help here :))

We just need to change t.run --> t.Parallel ??
Or there is something more to this @CecileRobertMichon

[2022-11-07 17:19] CecileRobertMichon commented on #2780
The value of the key should be "dnsName" and not "dns"
https://capz.sigs.k8s.io/topics/api-server-endpoint.html

/good-first-issue

[2022-11-07 17:19] CecileRobertMichon commented on #2779
/good-first-issue

[2022-11-07 18:07] BDworak opened #2782 "Support Mariner Linux as capi image base"
/kind feature

**Describe the solution you'd like**
We are being asked to move our linux base images to mariner linux. https://github.com/microsoft/CBL-Mariner
This ask is to create the Mariner Linux image to be used as the base image for both the controller and worker nodes in a Kubernetes CAPZ cluster. Ideally, this base image is built as part of the CAPI image building infrastructure and is pub

[2022-11-07 18:07] BDworak commented on #2782
/lifecycle frozen

[2022-11-07 19:03] CecileRobertMichon commented on #1775
@VibhorChinda yes this would mean auditing the existing unit tests and changing the ones that don't run in parallel to parallel! We should also make sure there are no race conditions in how the test cases are set up, #2646 could come in handy for this.

A good intro to this: https://eleni.blog/2019/05/11/parallel-test-execution-in-go/ (pay close attention to the "tip" at the end specifically, we n

[2022-11-07 20:17] CecileRobertMichon opened #2784 "Re-evaluate forking the self-hosted cluster spec from CAPI framework"
https://github.com/kubernetes-sigs/cluster-api-provider-azure/commit/1aa9837cd2f9d9efe4e4eaceacb22a1b55e13969#diff-b3030e822260e7cdffc1567e8416af8e9e915d7d6830f7b92078e2e51a4dbcbaR52 introduced a separate test spec in CAPZ for testing self-hosted clusters because at the time the CAPI framework spec didn't work when using an AzureClusterIdentity.

We should:

1) Try using the CAPI framework spec (h

[2022-11-07 20:17] CecileRobertMichon commented on #2784
/help

[2022-11-07 21:08] sshiba opened #2785 "Quick Start for Azure does not work"
When following the instructions provided in [Quick Start](https://cluster-api.sigs.k8s.io/user/quick-start.html) it fails to start the deployment of a Target cluster.
Note that I double/triple check the value in the secret containing the Service Principal's client secret. Also verified that AzureClusterIdentity values are correct.

The logs for the capz-controller-manager shows the following error

[2022-11-07 21:56] mjnovice commented on #1954
Hey, we would need this as well for our use case, and would love to even contribute to this. How do I got about it ?

[2022-11-07 21:58] mjnovice opened #2786 "Book has documentation for features not yet released"
According to the document, we can specify vnets in a separate `resourceGroup` but that doesn't seem to be the case.

<img width="778" alt="image" src="https://user-images.githubusercontent.com/3083824/200424217-21cd38e8-d6af-4376-a80a-104d74a09003.png">

[2022-11-07 21:59] CecileRobertMichon commented on #1954
Hi @mjnovice, this was already fixed by https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2667

Looks like this issue was a duplicate of https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2587

The commit is currently in the main branch and planned to be released this week in v1.6.0 (https://github.com/kubernetes-sigs/cluster-api-provider-azure/milestone/28)

[2022-11-07 21:59] CecileRobertMichon commented on #1954
/close

[2022-11-07 21:59] #1954 closed

[2022-11-07 22:00] CecileRobertMichon commented on #2786
The book is currently published from the main branch. This feature is available in the main branch but not yet in the latest release (release ETA is this week https://github.com/kubernetes-sigs/cluster-api-provider-azure/milestone/28).

[2022-11-07 22:08] mjnovice commented on #2786
@CecileRobertMichon thanks for the clarity, however I see that in the same doc we are referring to
<img width="1038" alt="image" src="https://user-images.githubusercontent.com/3083824/200425736-10444a43-f5fd-4f7e-af7e-a0880cd495c0.png">
1.2.4, is that just by chance ?

[2022-11-07 22:17] CecileRobertMichon commented on #2786
@mjnovice not sure I agree that those two things are in the same doc: one screenshot seems to be coming from https://capz.sigs.k8s.io/ while the other is part of https://cluster-api.sigs.k8s.io/user/quick-start.html, those are two different Netlify websites with each their own publishing pipeline

Since the book is meant to be user-facing, it makes sense to change the default to point to the lates

[2022-11-07 22:19] mjnovice commented on #2786
Sure, thanks @CecileRobertMichon again for the clarification.

[2022-11-07 22:28] CecileRobertMichon commented on #2786
/retitle Book has documentation for features not yet released

[2022-11-07 22:30] CecileRobertMichon commented on #2778
@karansinghneu can you please upload any logs that you've collected (controller logs, cloud init logs would be helpful - see https://capz.sigs.k8s.io/topics/troubleshooting.html) and the cluster yaml spec you used for the AzureCluster ?

[2022-11-07 23:02] CecileRobertMichon commented on #2786
Previous discussion on the topic for CAPI: https://github.com/kubernetes-sigs/cluster-api/issues/6017

[2022-11-07 23:12] karansinghneu commented on #2778
Controller logs:
I1107 22:57:13.937207       1 azuremachine_controller.go:243] controllers.AzureMachineReconciler.reconcileNormal "msg"="Reconciling AzureMachine" "azureMachine"={"name":"capz-acr-cluster-workload-1-control-plane-6xc4w","namespace":"default"} "controller"="azuremachine" "controllerGroup"="infrastructure.cluster.x-k8s.io" "controllerKind"="AzureMachine" "name"="capz-acr-cluster-work

[2022-11-08 13:52] grzesuav opened #2790 "[Feature] Export azure sdk ratelimit metric"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I would like to have idea how much of Azure API ratelimit request CAPZ is using to be able to monitor those and avoid throttling - https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-throttling on Azure side

[2022-11-08 19:46] VibhorChinda commented on #1775
/assign

[2022-11-08 21:49] ericgoode opened #2792 "Unable to delete machines "ForceDelete" is not allowed"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](`)?]

Yes

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When scaling down a MachineDeployment in UsGovCloud the Machine delete fails with the following error:

E1108 19:18:11.732526       1 controller.go:317] controller/azuremachine "msg"="Reconciler error"

[2022-11-08 22:24] invidian commented on #2294
/remove-lifecycle stale

[2022-11-08 22:58] #2746 closed

[2022-11-09 00:28] #2779 closed

[2022-11-09 00:28] #2780 closed

[2022-11-09 07:25] chrischdi opened #2800 "Add pod security admission labels to CAPZ provider namespace"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As an operator I would like to set the baseline to enforce at the pod security admission configuration on my management cluster for operating a secure management cluster.

Currently when using CAPI with CAPZ, all capi namespaces except capz-system are compliant to the baseline pod sec

[2022-11-09 07:44] chrischdi commented on #2800
For propably more context: https://kubernetes.slack.com/archives/CEX9HENG7/p1667559556085549

[2022-11-09 07:57] zioproto opened #2801 "Tag converters return map[string]*string instead of nil when the source is nil"
/kind bug

**What steps did you take and what happened:**

Tag converters should return `nil` when the source is `nil`. Instead the function returns an empty `map[string]*string` type. You see the following snippets `return tags` where `tags` cannot be `nil`.

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/2349883d1effe6344690459b40e5dc26138010df/azure/converters/tags.go#L24-L3

[2022-11-09 15:01] mjnovice commented on #2786
@CecileRobertMichon added my thoughts on the thread.

[2022-11-09 18:04] #2759 closed

[2022-11-09 19:42] karansinghneu commented on #2778
Update: It's most likely the custom FQDN causing the issue.
I tried spinning up a cluster by just mounting the certificates as secrets without the custom fqdn and everything works just fine but as soon as I put in the custom fqdn, things start to fail. Still investigating further!

[2022-11-09 23:47] CecileRobertMichon commented on #2121
/remove-lifecycle rotten

[2022-11-09 23:47] CecileRobertMichon commented on #2121
/reopen

[2022-11-10 13:41] #2380 closed

[2022-11-10 16:19] mboersma opened #2806 "CAPZ Office Hours doesn't show on k8s community calendar"
/kind bug

**What steps did you take and what happened:**

When we changed CAPZ Office Hours to weekly at 9 PT, we made what appeared to be the correct change in kubernetes/community: kubernetes/community#6821.

However, I don't see the meeting on the Kubernetes [community calendar](https://calendar.google.com/calendar/embed?src=cgnt364vd8s86hr2phapfjc6uk%40group.calendar.google.com).

[2022-11-10 16:19] mboersma commented on #2806
/help

[2022-11-10 17:30] axelgMS commented on #2792
This error message can happen when the ForceDelete is issued against VMs using Azure Dedicated Hosts or Isolated sizes.
- https://learn.microsoft.com/en-us/azure/virtual-machines/dedicated-hosts
- https://learn.microsoft.com/en-us/azure/virtual-machines/isolation

And it's expected.
Solution would be to handle the error and fallback to a standard Delete

[2022-11-10 18:43] nawazkh commented on #2806
/assign

[2022-11-10 18:48] karansinghneu commented on #2778
@CecileRobertMichon I think I have reached a point where I am now intermittently hitting this: https://github.com/kubernetes-sigs/cluster-api/issues/6029

[2022-11-10 18:53] nawazkh commented on #2806
I am following the guidelines mentioned in https://github.com/kubernetes/community/blob/master/communication/calendar-guidelines.md to create a _SIG CAPZ Shared Calendar_.
I'm wondering if we have a _SIG/WG lead mailing list_ or can I add the leads individually?

[2022-11-10 20:05] nawazkh commented on #2806
- Created a Shared Calendar. Made it public.
- Shared the calendar with @mboersma @jackfrancis @CecileRobertMichon with full access rights. Added contributors@kubernetes.io with full access rights too as directed in the docs.
- added kubernetes-sig-cluster-lifecycle@googlegroups.com to with access: "view all the events".
- Created a CAPZ meeting in the shared calendar.

I still dont see the event

[2022-11-10 20:25] CecileRobertMichon commented on #2806
Only the SIG leads have access to the calendar AFAIK, you can reach them in Slack on `#sig-clstr-life-leads`

[2022-11-10 20:54] ericgoode commented on #2792
If I know that these machines are in use with this machine type, can I designate the standard Delete from the start somewhere?

[2022-11-11 02:27] nawazkh commented on #2611
@AAkindele Can you talk more about point 4?

ex: Add tags. environment=development

What did you mean by _Add tags. environment=development_? Did you add it to the annotations or labels of  AzureManagedControlPlane manifest?

[2022-11-11 07:52] zioproto opened #2810 "Implement outboundType in `AzureManagedControlPlane`"
/kind feature

The current `AzureManagedControlPlaneSpec ` is missing the `outboundType` and currently all clusters created with CAPZ have `outboundType` `loadBalancer` because that is the default value:
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/9c12ff0fff94eca19a78dc18382e8d9acf0f4cf7/exp/api/v1beta1/azuremanagedcontrolplane_types.go#L39

Here is the REST API spec for `ou

[2022-11-11 17:18] AAkindele commented on #2611
@nawazkh Apologies for the lack of details. I added the tags to AzureManagedControlPlane using `spec.additionalTags`.

Example below with most of the fields removed for brevity.

[code]

[2022-11-11 23:38] AAkindele opened #2811 "Update clusterctl AKS flavor for easier kubectl apply of multiple templates in the same namespace"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When following the managed cluster documentation, <https://capz.sigs.k8s.io/topics/managedcluster.html>, everything works as expected when creating the first cluster. The issue starts when a user tries to generate a second cluster template using clusterctl, then kubectl apply to the s

[2022-11-11 23:52] AAkindele commented on #2811
Based on this issue <https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/1689>, I believe a possible solution is to use the static pool0 and pool1 in AzureManagedMachinePool spec.name. Then include the cluster name in metadata.name for MachinePool and AzureManagedMachinePool. This would keep node pool names under the length requirements.

Example yaml:

[code]

[2022-11-12 08:21] invidian commented on #2287
/remove-lifecycle stale

[2022-11-13 02:42] nawazkh commented on #2354
/remove-lifecycle stale

[2022-11-13 19:18] #2359 closed

[2022-11-14 06:11] zioproto commented on #1778
/remove-lifecycle rotten

[2022-11-14 17:49] primeroz opened #2812 "Panic during cluster creation / deletion if the controlPlaneOutboundLB is set but not the nodeOuboundLB"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

While testing CAPZ i have been deleting and creating the same cluster over and over with no problems.

In my last try the controller started panicing , i tried to delete the cluster but it sill panics after acquiring the leadership lock

[code]

It seems to be trying to delete the LB bu

[2022-11-14 17:57] mboersma commented on #2078
/unassign

[2022-11-14 17:57] mboersma commented on #2078
/unassign @Aayush987

[2022-11-14 17:59] primeroz commented on #2812
Follow up, after adding the `nodeOutboundLB` section back into the AzureCluster spec the controller is not panicing anymore and is now deleting the cluster resources it did previously create

I _guess_ it is required even if i have a NAT gateway on the nodes subnet ?

Anyway i would not expect it to panic like this , in order to modify the azurecluster i had to delete the validating and mutating w

[2022-11-14 18:03] mboersma commented on #2629
/unassign

[2022-11-14 22:13] nawazkh commented on #2806
CAPZ office hours appears to be added to the community calendar and is now visible on the Kubernetes.io calendar too.
- [K8s contributor calendar](https://calendar.google.com/calendar/u/0/embed?src=cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com&pli=1)
- [Kubernetes.io calendar](https://calendar.google.com/calendar/u/0/embed?src=calendar@kubernetes.io&ctz=America/Los_Angeles)
<img width="1728

[2022-11-14 22:13] #2806 closed

[2022-11-14 22:14] nawazkh commented on #2806
/close

[2022-11-16 01:33] nawazkh opened #2815 ""failed to find events of Pod xx" errors show up repeatedly in test logs"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- Seeing repetitive lines in the logs saying `failed to find events of Pod` in the [capz-periodic-e2e-test](https://testgrid.k8s.io/sig-cluster-lifecycle-clu

[2022-11-16 16:58] primeroz opened #2817 "MachinePool reconciliation get stuck when resourceGroup name has any capital letter in it"
/kind bug

While testing machinepools i ended up with a stuck cluster due to the reconciliation of the machinepool machines never completing and getting stuck in **ScaleSetScalingUp** state,  with the machines never reaching a ready state even though they are up and running form the point of view of the workload cluster.

After lots of testing this turns out to be related to the `resourceGroup` na

[2022-11-16 17:25] primeroz commented on #2817
I could find code to actually manage the conversion of `resourceGroupName` to lower case so i guess maybe is just missing somewhere.

I will try and have a look around

[code]

[2022-11-16 21:10] #2638 closed

[2022-11-17 09:55] Arhell opened #2820 "update readme links"
http=>https
/assign

[2022-11-17 10:56] #2179 closed

[2022-11-17 20:08] dthorsen commented on #467
Here is a link to the Azure CNI Manager daemonset that can be used to install the Azure CNI quite easily.

https://github.com/Azure/azure-container-networking/blob/ef1bff6046156dec56b46664f516921bd423e9e0/tools/acncli/deployment/manager.yaml

[2022-11-17 20:15] rbtr commented on #467
@dthorsen this is not a supported tool, don't recommend it for this use please.

[2022-11-17 20:19] mtougeron opened #2826 "AzureManagedCluster E2E: Autoscaler"
In order to take AzureManagedCluster out of Experimental we need to have full support for the Autoscaler. This means we need to have both the ability to set the Autoscaler configuration and have full E2E tests that validate that the Autoscaler works with AzureManagerCluster.

[2022-11-17 20:22] dthorsen commented on #467
That is disappointing, because it seems to do exactly what is required. It was very easy to get up and running this way. Is there a way it could become a supported tool? Otherwise it may be something that makes sense for CAPZ to fork and support, but that seems somewhat redundant if there is already a tool that does this. The functionality needed is pretty trivial, basically just install the CNI b

[2022-11-17 20:27] jackfrancis commented on #467
@rbtr @tamilmani1989 can you provide more information? In lieu of an official solution, why is wrapping a daemonset around the published manifest in the official Azure CNI repo not recommended?

[2022-11-17 20:49] rbtr commented on #467
@jackfrancis @dthorsen in short, the image referenced by that manifest is unmaintained and not prod-ready.

We built it for our CI/nonprod debugging with no intent of public use. It is technically capable of installing the CNI binary, but I can't support CAPZ using/recommending it for use. Maybe most importantly, we have moved past needing it internally and it isn't getting updates.

I did [previo

[2022-11-17 20:57] jackfrancis commented on #467
It seems based on @dthorsen's experience that the now-abandoned installer image can be used as the set of functional requirements. @dthorsen did that container image simply install the ipam stuff with a sufficient amount of UX configuration to fulfill all of the needs of Azure CNI v1 on a capz-built node? E.g.:

[code]

@rbtr would it be possible to extend the tool AKS is using to (1) include v1 o

[2022-11-17 23:38] jackfrancis commented on #2611
@AAkindele can you clarify that this is actually a feature request for additional log information (at a higher verbosity) rather than a bug with the way capz reconciles AzureManagedControlPlane tags?

[2022-11-18 14:21] primeroz opened #2831 "Tilt environment does not work for FeatureGates"
/kind bug

When using the Tilt environment through `make tilt-up` the capi-controller-manager is initially started with the featureflags enabled

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/Makefile#L703

But , for reasons i am yet to fully understand, when the `capi-visualizer` is started a patch of the `capi-controller-manager` happens which not only upgrades `cluster

[2022-11-18 14:28] primeroz commented on #2831
I create a PR to the upstream chart https://github.com/Jont828/cluster-api-visualizer/pull/14 , if that gets approved i will just update the chart embedded in this repo rather than making an override here

[2022-11-18 15:13] AAkindele commented on #2611
Correct. This is a request for additional logs when a cluster is being updated. The AzureManagedControlPlane tags was just a way to trigger updates. But it could have been the cluster version, or anything else that would trigger an update to the cluster.

[2022-11-18 16:12] #2381 closed

[2022-11-18 18:56] willie-yao opened #2832 "Make resourceID required for AzureClusterIdentity when using UserAssignedMSI"
/kind feature

**Describe the solution you'd like**
When trying to authenticate a cluster with user managed identity, the resource ID field for the AzureClusterIdentity needs to be specified. Currently, the field is not required.

**Anything else you would like to add:**
[Link to Slack thread about the issue](https://kubernetes.slack.com/archives/CEX9HENG7/p1668717810408669)

**Environment:**

- c

[2022-11-18 18:56] willie-yao commented on #2832
/assign

[2022-11-18 21:10] Jont828 opened #2834 "Metadata for architecture on controller images is incorrect"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:** When you pull the arm64 version of the image as follows, it looks like the image is actually amd64.

[code]

It looks like it's coming from the docker build commands since when you run `ARCH=arm64 make docker-bu

[2022-11-18 21:41] Jont828 commented on #2834
It looks like CAPI had a [similar issue](https://github.com/kubernetes-sigs/cluster-api/issues/7055) as well.

[2022-11-18 21:56] Jont828 commented on #2834
/assign

[2022-11-18 23:27] nawazkh commented on #2494
/remove-lifecycle rotten

[2022-11-19 02:18] #2319 closed

[2022-11-21 04:18] nawazkh commented on #2063
/remove-lifecycle rotten

[2022-11-21 04:18] nawazkh commented on #2230
housekeeping
/remove-lifecycle rotten

[2022-11-21 19:34] #2820 closed

[2022-11-22 00:21] CecileRobertMichon commented on #1394
/reopen
/remove-lifecycle rotten

[2022-11-22 20:30] #2834 closed

[2022-11-24 07:31] mweibel commented on #2591
/remove-lifecycle stale

[2022-11-26 04:25] #2349 closed

[2022-11-28 18:14] CecileRobertMichon commented on #2265
/remove-lifecycle rotten

[2022-11-28 18:15] jackfrancis commented on #2265
/assign

[2022-11-28 18:53] dtzar commented on #1243
This is still relevant IF the "No's" in the table have not been completed/addressed.  If CAPZ supports all those, then it can be closed.

IMO it would be good to have a `clusterctl` [template flavor for AKS ](https://github.com/kubernetes-sigs/cluster-api-provider-azure/tree/89b354a2ce91b8948190ce18ae488a96f35a1123/templates/flavors) which already implements all or most of these things.

[2022-11-28 21:26] CecileRobertMichon commented on #2831
cc @Jont828

[2022-11-28 21:32] CecileRobertMichon opened #2852 "Set ClusterCIDR on CCM Helm chart values when installing cloud-provider in E2E"
/kind bug

[Before submitting an issue, have you checked the [Troubleshooting Guide](https://capz.sigs.k8s.io/topics/troubleshooting.html)?]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/test/e2e/cloud-provider-azure.go#L44 is setting the clusterName but not the cluster

[2022-11-28 21:32] CecileRobertMichon commented on #2852
/assign

Will do this as a follow up from #2495

[2022-11-29 00:06] jackfrancis commented on #2265
@bingbing8 I'd like to ensure we address this. In your original report you mention 2 test suites, do you mean the one from upstream kubernetes and the one from capz?

[2022-11-29 00:26] dtzar commented on #2785
@sshiba - I just went through the entire quick start guide from scratch trying to use all of the same values (including using kind) and didn't experience this issue.  It does seem that the service principal doesn't have the appropriate permissions.  Have you tried using a new service principal on a different subscription perhaps?  Tried to reset and update the password using `az ad sp credential r

[2022-11-29 01:11] #2801 closed

[2022-11-29 01:14] jackfrancis opened #2854 "AzureManagedCluster E2E: Scale node pools"

[2022-11-29 01:19] thiDucTran commented on #2733
i guess the workaround is to use `root` as the username....

[2022-11-29 01:19] #2733 closed

[2022-11-29 01:29] dtzar opened #2855 "AzureManagedCluster E2E: node pool tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
E2E tests covering various node pool operations.

- [x] [AzureManagedCluster E2E: node pool Name CRUD](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2856)
- [ ] [AzureManagedCluster E2E: node pool Mode CRUD](https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2857)
- [x] [AzureManagedC

[2022-11-29 01:32] dtzar opened #2856 "AzureManagedCluster E2E: node pool Name CRUD"
/kind feature
/area managedclusters

**Describe the solution you'd like**
E2E tests for node pools with the NAME CRUD operations.

[2022-11-29 01:42] dtzar opened #2857 "AzureManagedCluster E2E: node pool Mode CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManaged E2E tests for node pool mode CRUD operations.

[2022-11-29 01:45] dtzar opened #2858 "AzureManagedCluster E2E: node pool Autoscaler CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManaged E2E tests for node pool Autoscaler CRUD operations.

[2022-11-29 01:46] dtzar opened #2859 "AzureManagedCluster E2E: node pool NodeLabels CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: node pool NodeLabels CRUD tests.

[2022-11-29 01:47] dtzar opened #2860 "AzureManagedCluster E2E: node pool Taints CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: node pool Taints CRUD tests.

[2022-11-29 13:20] Flask commented on #2591
@CecileRobertMichon @Jont828 any news on this?

[2022-11-29 17:17] #1778 closed

[2022-11-29 18:04] nojnhuh commented on #2854
@jackfrancis Since the e2e tests already include ["manual" scaling of the node pools](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/388f66f3643d3f68e3a3d616341e08f055a1d69f/test/e2e/aks.go#L375), is the goal of this issue to test more of the autoscaling behavior? e.g. spinning up lots of pods and making sure the node pools scale in/out as appropriate? Or was there something el

[2022-11-29 18:13] CecileRobertMichon commented on #2591
Have not been able to look further into it, adding it to the milestone.

/help
/milestone v1.7

[2022-11-29 23:05] jackfrancis commented on #2591
@mweibel @Flask are you still not able to deploy Windows clusters w/ external cloud-provider-azure? I wasn't able to repro this w/ Kubernetes 1.23.9. Here are the steps I used:

1. Ensure that `cloud-provider: external`  is configured everywhere in my cluster spec (instead of `cloud-provider: azure`)
2. Deploy a cluster with one Windows node pool
3. After cluster is in a `Provisioned` state, insta

[2022-11-29 23:10] jackfrancis commented on #2591
Also, which CNI are folks using?

[2022-11-30 01:00] dtzar commented on #416
To update on this issue.  YTBNC (yet to be named controller) = https://github.com/Azure/azure-service-operator/tree/main/v2

[2022-11-30 01:10] dtzar opened #2866 "AzureManagedCluster E2E: AdditionalTags CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: AdditionalTags CRUD tests

[2022-11-30 01:11] dtzar opened #2867 "AzureManagedCluster E2E: Negative Webhook Tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: Negative Webhook Tests

[2022-11-30 01:12] dtzar opened #2868 "AzureManagedCluster E2E: AADProfile CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: AADProfile CRUD tests

[2022-11-30 01:13] dtzar opened #2869 "AzureManagedCluster E2E: AddonProfiles CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: AddonProfiles CRUD tests

[2022-11-30 01:14] dtzar opened #2870 "AzureManagedCluster E2E: SKU CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: SKU CRUD tests

[2022-11-30 01:14] dtzar opened #2871 "AzureManagedCluster E2E: LoadBalancerProfile CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: LoadBalancerProfile CRUD tests

[2022-11-30 01:15] dtzar opened #2872 "AzureManagedCluster E2E: APIServerAccessProfile CRUD tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
Create new AzureManagedCluster E2E: APIServerAccessProfile CRUD tests

[2022-11-30 01:25] dtzar opened #2873 "AzureManagedCluster E2E Tests"
/kind feature
/area managedclusters

**Describe the solution you'd like**
This is a larger "Epic" feature issue to centrally track progress of all of the E2E tests missing/desired in order to help CAPZ ManagedCluster graduate out of experimental status.

Entire backlog to graduate out of experimental status is on [this project board](https://github.com/orgs/kubernetes-sigs/projects/26/views/1).

-

[2022-11-30 01:34] dtzar opened #2874 "AzureManagedCluster: Audit webhooks"
/kind feature
/area managedclusters

**Describe the solution you'd like**
1. Ensure all existing webhooks are functionally correct and agree w/ AKS API
2. Backfill any missing webhook validations for create/update/delete

Go down every feature, one-by-one, note down how AKS actually treats that feature (input validation, immutable/mutable) and then ensure that our webhook validations are implement

[2022-11-30 01:36] #2063 closed

[2022-11-30 14:44] zioproto commented on #2831
I confirm the bug, I was not able to apply a `MachinePool` after `make tilt-up`:

[code]

and I confirm that the following workaround unblocked me:

[code]

[2022-11-30 17:24] invidian commented on #629
/remove-lifecycle stale